﻿@using  ECOsystem.Areas.Control.Models.Control
@model  ECOsystem.Areas.Control.Models.Control.ApprovalTransactionsBase
@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var customerId = user.CustomerId;
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conciliación de Transacciones";
    ViewBag.Control = "active";
    ViewBag.HasGrid = true;
    ViewBag.AjaxGrid = true;
    ViewBag.FormName = "LoadApprovalTransactionForm";

    Model.Parameters.RetrieveType = null;
    var hide1 = (Model.Parameters.Criteria != null && Model.Parameters.Criteria == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.Criteria != null && Model.Parameters.Criteria == (int)ReportCriteria.DateRange) ? "" : "hide";
    var downloadFile = ViewBag.DownloadResultFile != null ? ViewBag.DownloadResultFile ? true : false : false;
    var ResultData = !string.IsNullOrEmpty(ViewBag.ResultData) ? ViewBag.ResultData : string.Empty;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .ChangeSelectColor {
            background-color: gold !important;
        }

        .ChangeDuplicateColor {
            background-color: darkorange !important;
        }

        .ChangeNoServiceStationColor {
            background-color: #ccff66 !important;
        }

        /*.ChangeNoLegalId {
            background-color: #f2dede;
        }*/
        .autorizarTransaccionesContainerClass {
        }
        .autorizarTransaccionesBtn{
            width:100%;
        }
        #toolbarTable{
            margin-bottom:0;
            padding-bottom:0;
        }
        .RowToolbarTop{
            margin-bottom:10px;
        }
        .RowToolbarBottom {
            margin-top: 10px;
        }

    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("ApprovalTransactionsChange", "ApprovalTransaction", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECO_Control.ApprovalTransactions.SuccessChange()"
}, new { id = "changeTransactionForm" }))
{
    @Html.Hidden("transactionid")
    @Html.Hidden("invoice")
    @Html.Hidden("costcenterid")
    @Html.Hidden("servicestationid")
    @Html.Hidden("status")
    @Html.Hidden("columnvalues")
}

@using (Ajax.BeginForm("ApprovalTransactionsSearch", "ApprovalTransaction", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECO_Control.ApprovalTransactions.SuccessSearch()"
}, new { id = "SearchForm" }))
{
    @Html.Hidden("key")
}

@using (Ajax.BeginForm("ApprovalTransactionsSave", "ApprovalTransaction", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECO_Control.ApprovalTransactions.SuccessSave()"
}, new { id = "SaveEditForm" })) { }

@using (Ajax.BeginForm("LoadApprovalTrans", "ApprovalTransaction", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "ECO_Control.ApprovalTransactions.ShowLoader()",
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECO_Control.ApprovalTransactions.SuccessPaging()"
}, new { id = "LoadApprovalTransactionForm" }))
{
    @Html.Hidden("page")
}
@using (Html.BeginForm("DonwloadImportResults", "ApprovalTransaction", FormMethod.Post, new { id = "DonwloadResultFileForm" })) { }

@using (Ajax.BeginForm("AuthorizeSelectedTransactions", "ApprovalTransaction", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECO_Control.ApprovalTransactions.SuccessAuth()",
    OnFailure = "ECO_Control.ApprovalTransactions.SuccessAuth()"
}, new { id = "applyAllForm2" }))
{
    @Html.Hidden("ChainValues")
}

<input class="hidden" id="ValidateTest" value="@ViewBag.Validate" />
<input class="hidden" id="downloadFile" value="@downloadFile" />
<input class="hidden" id="ResultData" value="@ResultData" />

<div id="page-content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("Index", "ApprovalTransaction", FormMethod.Post, new { id = "ReloadForm" }))
            {
                <div class="row">
                    <div class="col-sm-4" style="padding-bottom: 15px;">
                        @Html.DropDownListFor(m => m.Parameters.Criteria, @ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, null, new { @class = "form-control fbold" })
                    </div>

                    <div data-repor-by="1000" class="@hide1">
                        <div class="col-sm-4" style="padding-bottom: 15px;">
                            @Html.DropDownListFor(m => m.Parameters.Month, @ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new { @class = "form-control fbold" })
                        </div>
                        <div class="col-sm-4" style="padding-bottom: 15px;">
                            @Html.DropDownListFor(m => m.Parameters.Year, @ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new { @class = "form-control fbold" })
                        </div>
                    </div>

                    <div data-repor-by="2000" class="@hide2">
                        <div class="col-sm-4" style="padding-bottom: 15px;">
                            <div class='input-group date' id='StartDateStr'>
                                @Html.TextBoxFor(m => m.Parameters.StartDateStr, new { @placeholder = "Fecha inicial", @class = "form-control fbold" })
                                <span class="input-group-addon"><span class="mdi mdi-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-4" style="padding-bottom: 15px;">
                            <div class='input-group date' id='EndDateStr'>
                                @Html.TextBoxFor(m => m.Parameters.EndDateStr, new { @placeholder = "Fecha final", @class = "form-control fbold" })
                                <span class="input-group-addon"><span class="mdi mdi-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4" style="padding-bottom: 15px;">
                        @Html.DropDownListFor(m => m.Parameters.CostCenterId, @ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Centro de Costo", new { @class = "form-control fbold" })
                    </div>
                    <div class="col-sm-4" style="padding-bottom: 15px;">
                        @Html.DropDownListFor(m => m.Parameters.Status, @ECOsystem.Areas.Control.Business.GeneralCollections.GetApprovalTransactionsTypes(null), new { @class = "form-control fbold" })
                    </div>
                    <div class="col-sm-4" style="padding-bottom: 15px;">
                        <button class="btn btn-success" type="button" id="btngetreport"><span class="mdi mdi-download" aria-hidden="true"></span>&nbsp;&nbsp;Generar</button>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm-4">
                    <span class="input-group-btn">
                        <button type="button" data-toggle="modal" data-target="#ImportModal" class="btn btn-success" title="Importar Archivo"><i class="mdi mdi-file-import"></i>&nbsp;Conciliación Automática</button>
                    </span>
                </div>
                <div class="col-sm-8 pull-right" style="padding-bottom: 15px;">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Parameters.SearchText, new { @class = "form-control", @placeholder = "Buscar por: vehículo, placa, centro de costo o factura...", @type = "text" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btnsearch"><span class="mdi mdi-magnify" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            @if (Model.List.Count() != 0)
            {
                <div id="ControlsContainer">
                    <div class="card">
                        <div class="card-content">
                            <div class="row RowToolbar RowToolbarTop">
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success form-control confirmButton">
                                        Guardar cambios
                                    </button>
                                </div>
                                <div class="col-sm-1">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                            <i class="mdi mdi-share"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                                            @using (Ajax.BeginForm("ExcelReportDownload", "ApprovalTransaction", null, new AjaxOptions
                                            {
                                                HttpMethod = "post",
                                                OnBegin = "ECO_Control.TransactionsReport.ShowLoader()",
                                                InsertionMode = InsertionMode.Replace,
                                                OnSuccess = "ECO_Control.TransactionsReport.HideLoader()"
                                            }, new { id = "ExcelReportDownloadForm" })) { }

                                            @using (Html.BeginForm("DonwloadFile", "ApprovalTransaction", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" onclick="ECO_Control.TransactionsReport.OnClickDownloadPartnerReport();">
                                                    <i class="mdi mdi-file-excel"></i>&nbsp;&nbsp;Exportar Excel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <table class="table" id="toolbarTable">
                                        <tbody>
                                            <tr>
                                                <th>Nomenclatura</th>
                                                <td style="background-color: gold; width:280px;">Modificada</td>
                                                <td style="background-color: darkorange; width:280px;">Duplicada</td>
                                                <td style="background-color: #ccff66; width:280px;">Sin estación de servicio</td>
                                                @*<td style="background-color: #f2dede; width:280px;">Sin cédula jurídica</td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="gridContainer">
                                @Html.Partial("_Partials/_Grid", Model.List)
                            </div>
                            <hr />
                            <div class="row RowToolbar RowToolbarBottom">
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-success form-control confirmButton">
                                    Guardar cambios
                                </button>
                            </div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <br />
                <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
                </div>
            }
        </div>
    </div>
</div>

<div id="ImportTransactionsContainer">
    @Html.Partial("_partials/_ImportApproval")
</div>

<div class="modal" id="ShowValidation" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modificación de transacciones</h4>
            </div>
            <div class="modal-body">
                Se debe indicar el número de factura para las transacciones a consolidar.
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" id="CloseValidation"><i class="mdi mdi-close"></i>&nbsp;Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tableData" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modificación de transacciones</h4>
            </div>
            <div class="modal-body" id="confirmationText">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="saveButton" type="button" class="btn btn-primary">Guardar modificaciones</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModalactualizar" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Autorización Masiva</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea realizar esta operación sobre los elementos seleccionados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnAppliesMassive" type="button" data-btnmodal="true" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalverification" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Validacion</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione algún registro para aplicar los cambios</p>
                <p>Seleccione algún registro para aplicar los cambios</p>
            </div>

            <div class="modal-footer">

                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts {
    <script src="~/Areas/Control/Scripts/Control/ApprovalTransactions.js?v=@version-hf0"></script>
    <script src="~/Areas/Control/Scripts/Control/TransactionsReport.min.js?v=@version-hf0"></script>
    <script>
    $(document).ready(function () {
        $("#LoadMenuForm").submit();
        ECO_Control.ApprovalTransactions.Init({});
        ECO_Control.ApprovalTransactions.InitDrop();

        function enable(data) {
            $('div[data-repor-by]').addClass("hide");
            $('div[data-repor-by=' + data + ']').removeClass("hide");
        }
        enable('@Model.Parameters.Criteria');
        $('#Parameters_Criteria').change(function (data) {
            enable(this.value);
        });

        //Download results file
        var downloadfile = $('#downloadFile').val();
        if (downloadfile) $('#DonwloadResultFileForm').submit();

        //Results from Import
        var resultdata = $('#ResultData').val();
        if (resultdata != '' && resultdata != undefined && resultdata != null) showresultmodal(resultdata);
    });

    $('#btnImport').click(function () {
        $('body').loader('show');
        $('#ImportModal').modal('hide');
    })
    var onClickImport2 = function () {
        $('#ImportCSV').trigger('click');
        $("#txtFile").val("");
    };

    var getFilename = function (input) {
        if (ValidateFormat(input)) {
            if (input.files && input.files[0]) {
                var value = $("#ImportCSV").val();
                var NameOfFile = input.files[0].name;
                $("#txtFile").val(NameOfFile);
                setErrorFormatMsj('', false);
            }
        }
        else {
            $("#txtFile").val("");
            setErrorFormatMsj('* El formato de archivo es inválido, favor seleccionar un archivo de formato CSV.', true);
        }
    }

    var setErrorFormatMsj = function (msj, show) {
        if (show) {
            $('#errorFormatMsj').html(msj);
            $('#validationFormatErrors').removeClass('hide');
        } else {
            $('#errorFormatMsj').html('');
            $('#validationFormatErrors').addClass('hide');
        }
    }

    var ValidateFormat = function (input) {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var files = input.files;
            for (var i = 0, f; f = files[i]; i++) {
                if (!f.name.match('\.csv')) {
                    return false;
                }
                else {
                    return true;
                }
            }
        }
    };

    var showresultmodal = function (resultdata) {
        $('#resultimportdate').html(resultdata.split('|')[0]);
        $('#resultapprovaltype').html(resultdata.split('|')[1]);
        $('#resultapproval').html(resultdata.split('|')[2]);
        $('#resultnoapproval').html(resultdata.split('|')[3]);
        $('#resulttotal').html(resultdata.split('|')[4]);
        $('#resulttype').html(resultdata.split('|')[5]);
        $('#SummaryResultModal').modal('show');
    }
    </script>
}




