﻿@using  ECOsystem.Areas.Control.Models.Control
@model  ECOsystem.Areas.Control.Models.AccountFileReportBase

@{
    ViewBag.Title = "Archivo para Contabilidad";
    ViewBag.Control = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">

    @using (Html.BeginForm("Index", "AccountFileReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    }

    @if (Model.List != null && Model.List.Any())
    {      
          <div id="ControlsContainer">
                <br />
                <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Información del Reporte Generada. Para descargar presione <strong><a href="#" onclick=" ECOsystem.Areas.Control.AccountFileReport.OnClickDownload()">aquí</a></strong>.
                </div>

                @using (Ajax.BeginForm("ExcelReportDownload", "AccountFileReport", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = "ECO_Control.AccountFileReport.ShowLoader()",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "ECO_Control.AccountFileReport.HideLoader()"
                }, new { id = "ExcelReportDownloadForm" }))
                {
                    <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
                }
                
                @using (Html.BeginForm("DonwloadFile", "AccountFileReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/Control/AccountFileReport.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.AccountFileReport.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
