﻿@model ECOsystem.Models.Account.AlarmsBase

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alertas – Configuración";
    ViewBag.Administration = "active";
    ViewBag.Alerts = "active";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .limit {
            -ms-word-break: break-word;
            word-break: break-word;
            white-space: normal;
            font-size: small;
            font-style: italic;

        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="row">         
            <div class="col-sm-12" id="DetailContainer">
                @Html.Partial("_partials/_Detail", Model.List)
            </div>          
        </div>
    </div>
</div>

<div class="modal fade" id="confirmAlertsModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar cambios</h4>
            </div>
            <div class="modal-body center">
                <p>¿Esta seguro que desea guardar los cambios?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="btnAlertsAddOrEdit" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ErrorAlertsModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alertas – Configuración</h4>
            </div>
            <div class="modal-body center">
                <p>Ocurrió un error al almacenar las Alertas. Por favor intentelo nuevamente</p>
            </div>
            <div class="modal-footer">
                <button id="btnErrorDismiss" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Administration/Alerts.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.Alerts.Init();
        });
    </script>
}
