﻿@model IEnumerable<ECO_Management.Models.SurveyReportModels>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Selectable(true)
        .Columns(c =>
        {
            c.Add().Titled("Comercio")
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => m.CommerceName);
            c.Add().Titled("Evento")
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => m.EventName);
            c.Add().Titled("Formulario")
                    .Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(m => m.Survey);
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                                        <a href="#" usereventid="@m.UserEventId" survey="@m.SurveyId" commerceid="@m.CommerceId" title="Descargar Reporte" download_survey_report><i class="mdi mdi-32px mdi-download"></i></a>
                                    </span>)
                .Css("grid-col-btn");
        }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" >
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

