﻿@model  ECOsystem.Areas.Control.Models.Control.AlarmByOdometerBase
@{
    ViewBag.Title = "Ajuste de Odómetro";
    ViewBag.Control = "active";
    ViewBag.ControlVehicles = "active";
    ViewBag.ControlOdometerAdjustmentIndex = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

@using (Ajax.BeginForm("AddOrEditAlarmByOdometer", "AlarmByOdometer", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

@using (Ajax.BeginForm("AddOrEditAlarmMaintenance", "AlarmMaintenance", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "AlarmMaintenanceModalClose()"
}, new { id = "addOrEditAlarmForm", autocomplete = "off" }))
{
    <div id="alarmMaintenanceContainer">
        @Html.Partial("~/Views/Shared/_AlarmMaintenance.cshtml", new ECOsystem.Models.Core.AlarmBase())
    </div>
}

<div id="wrapper">
    @Html.Partial("~/Views/Control/_partials/_Menu.cshtml")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Ajuste de Odómetros<br /><small>Lista de Odómetros Reportados Incongruentes en las Transacciones</small></h3>
            </div>
        </div>
        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchAlarmByOdometer", "AlarmByOdometer", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-lg-10">
                    <div class="input-group">

                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button id="btnAddAlarm" type="button" class="btn btn-success"><i class="mdi mdi-bell"></i>&nbsp;Alarma</button>
                </div>
            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadAlarmByOdometer", "AlarmByOdometer", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
        <!-- Load Form End-->
        <!-- Load Alarm Form Start-->
        @using (Ajax.BeginForm("LoadAlarmMaintenance", "AlarmMaintenance", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "alarmMaintenanceContainer",
            OnSuccess = "AlarmMaintenanceModalShow()"
        }, new { id = "alarmForm" }))
        {
            @Html.Hidden("id")
            @Html.Hidden("codView", Model.Data.CodView);
        }
        <!-- Load Alarm Form End-->

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('#btnAddAlarm').off('click.btnAddAlarm').on('click.btnAddAlarm', function (e) {
                $('#alarmForm').find('#id').val(0);
                $('#alarmForm').submit();
            });
        });

        var AlarmMaintenanceModalShow = function () {
            $("#alarmForm").find('select').not("[custom='true']").select2();

            $('#alarmMaintenanceModal').on('shown.bs.modal', function (e) {

                $('.rangeValue').click(function () {
                    var val = $(this).val();
                    var id = $(this).attr('alarmtipoid');
                    $('#demo_' + id).html(val);
                });

                $('.validateRepeat').click(function () {
                    var id = $(this).attr('alarmtipoid');
                    if ($('#Alarm_' + id).find('#txtAlarmPhone').val() == null ||
                        $('#Alarm_' + id).find('#txtAlarmPhone').val() == '' ||
                        $('#Alarm_' + id).find('#txtAlarmPhone').val() == '0000-0000') {
                        $(this).removeAttr('checked');
                        setAmountErrorMsj('Debe indicar un número de celular para activar alarmas recurrentes', true, 'e2');

                    } else {
                        setAmountErrorMsj('', true, 'e2');
                        if ($(this).is(":checked")) {
                            $('#rngAlarmRepeatTimes_' + id).removeAttr('disabled');
                            $('#txtAlarmIntervalRepeat_' + id).removeAttr('disabled');
                        } else {
                            $('#rngAlarmRepeatTimes_' + id).attr('disabled', 'disabled');
                            $('#txtAlarmIntervalRepeat_' + id).attr('disabled', 'disabled');
                        }
                    }
                });

                $('#btnSendAlarm').click(function () {
                    var message = '';
                    var error = false;
                    var ids = $(this).attr('allIds');
                    var items = ids.substring(1, ids.length - 1).split(",")
                    var list = [];
                    if (ids != null) {
                        for (var i = 0; i < items.length; i++) {
                            message += ValidateInputs(items[i]);
                            if (message != '') {
                                error = true;
                            }
                            list.push(GetValues(items[i]));
                        }
                        setAmountErrorMsj(message, true, 'e2');
                        if (!error) {
                            AddOrEditAlarmMaintenance(list);
                        }
                    }
                });
            }).modal('show');
        };

        var ValidateInputs = function (alarmTriggerId) {
            var message = '';
            if ($('#Alarm_' + alarmTriggerId).find('#chkAlarmActive').is(":checked")) {
                if ($('#Alarm_' + alarmTriggerId).find('#txtAlarmEmail').val() == null ||
                    $('#Alarm_' + alarmTriggerId).find('#txtAlarmEmail').val() == '') {

                    if ($('#Alarm_' + alarmTriggerId).find('#txtAlarmPhone').val() == null ||
                        $('#Alarm_' + alarmTriggerId).find('#txtAlarmPhone').val() == '') {
                        message += '* ' + $('#Tab_' + alarmTriggerId).prop('innerText') + '- Verifique que agregó al menos un correo o un número de celular. <br/>';
                    }
                }
                if (alarmTriggerId == 510) {
                    if (!$('#Alarm_' + alarmTriggerId).find('#rdbAlarmLawSpeed').is(":checked") &&
                        !$('#Alarm_' + alarmTriggerId).find('#rdlAlarmCompanySpeed').is(":checked")) {
                        message += '* ' + $('#Tab_' + alarmTriggerId).prop('innerText') + '- Debe seleccionar el tipo de alarma para el exceso de velocidad. <br/>';
                    }
                }

                if (alarmTriggerId == 508) {
                    if ($('#Alarm_' + alarmTriggerId).find('#txtAlarmMaxStopTime').val() == null ||
                        $('#Alarm_' + alarmTriggerId).find('#txtAlarmMaxStopTime').val() == '') {
                        message += '* ' + $('#Tab_' + alarmTriggerId).prop('innerText') + '- Debe indicar el tiempo máximo de parada. <br/>';
                    }
                }
            }
            return message;

        };

        /* Show or hide errors messages*/
        var setAmountErrorMsj = function (msj, show, typeError) {

            typeError = typeError != null ? typeError : 'e1';

            switch (typeError) {
                case 'e1':
                    if (show) {
                        $('#errorAmountMsj').html(msj);
                        $('#validationAmountError').removeClass('hide');
                    } else {
                        $('#errorAmountMsj').html('');
                        $('#validationAmountError').addClass('hide');
                    }
                    break;
                case 'e2':
                    if (show) {
                        $('#errorAmountMsj2').html(msj);
                        $('#validationAmountError2').removeClass('hide');
                    } else {
                        $('#errorAmountMsj2').html('');
                        $('#validationAmountError2').addClass('hide');
                    }
                    break;
                default:
                    break;
            }


        }

        var GetValues = function (alarmTriggerId) {
            var alarma = {};
            alarma.AlarmId = $('#Alarm_' + alarmTriggerId).attr('alarmid');
            alarma.AlarmTriggerId = alarmTriggerId;
            alarma.EntityId = $('#id').val();
            alarma.Email = $('#Alarm_' + alarmTriggerId).find('#txtAlarmEmail').val();
            alarma.Phone = $('#Alarm_' + alarmTriggerId).find('#txtAlarmPhone').val();
            alarma.RepeatTimes = $('#Alarm_' + alarmTriggerId).find('#rngAlarmRepeatTimes_' + alarmTriggerId).val();
            alarma.IntervalRepeat = $('#Alarm_' + alarmTriggerId).find('#txtAlarmIntervalRepeat_' + alarmTriggerId).val();
            alarma.MaxTime = $('#Alarm_' + alarmTriggerId).find('#txtAlarmMaxStopTime').val();
            alarma.Active = $('#Alarm_' + alarmTriggerId).find('#chkAlarmActive').val();

            if ($('#Alarm_' + alarmTriggerId).find('#rdbAlarmLawSpeed').is(":checked"))
                alarma.TypeSpeed = "1";
            if ($('#Alarm_' + alarmTriggerId).find('#rdlAlarmCompanySpeed').is(":checked"))
                alarma.TypeSpeed = "2";

            if ((alarma.Email == null || alarma.Email == "") && (alarma.Phone == null || alarma.Phone == "")) {
                alarma.Active = false;
            }

            return alarma;
        }

        var AddOrEditAlarmMaintenance = function (listAlarm) {
            //$('body').loader('show');
            $.ajax({
                url: '/Administration/AlarmMaintenance/AddOrEditAlarmMaintenance',
                type: 'POST',
                data: JSON.stringify({ pListAlarm: listAlarm }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    alarmModalClose();
                    //if (data > 0) {
                    //    $('body').loader('hide');
                    //    $('#DownloadFilePassControl').submit();
                    //} else {
                    //    $('body').loader('hide');
                    //    invalidSelectOption('No datos encontrados con los criterios de busqueda.');
                    //}
                }
            });
        };

        var AlarmMaintenanceModalClose = function () {
            $('#alarmMaintenanceModal').modal('hide');
        };
    </script>
}