﻿@model IEnumerable< ECOsystem.Areas.Coinca.Models.ParametersByPartner>

<table class="table" style="width:450px;">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rule in Model)
        {
            <tr id="@rule.ParameterByPartnerId">
                <td name="RuleDescription" class="middleCells" style="width:365px;">@rule.ParameterDescription</td>
                <td class="middleCells" style="width:100px;">
                    <input id="" name="RuleValue" type="text" value="@rule.ParameterValue" class="form-control marginErrorValues" datacurrency = "true" style="text-align:right;" />
                </td>
            </tr>
         }
    </tbody>
</table>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"></h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <button id="confirmChanges" type="button" style="margin-right: 46px;" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
    </div>
    <h3></h3>
</div>