﻿@model  ECOsystem.Areas.Admin.Models.FuelCurrencyModule
@{
    ViewBag.Title = "Preferencias de Distribución de Combustible";
    ViewBag.Administration = ViewBag.Customizer = ViewBag.FuelCurrency = "active";
}
@section styles {
    <style>
        .middleCells {
            vertical-align: middle !important;
        }
        .submit {
            margin-right: 46px;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">      

     <div class="col-lg-12">
                @using (Html.BeginForm("Save", "Customizer"))
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="middleCells" id="toggle-one">@Html.DisplayNameFor(m => m.ByCurrency)</td>
                                <td class="middleCells">@Html.CheckBoxFor(m => m.ByCurrency, new { @data_toggle = "toggle", @data_on = "Activo", @data_off = "Inactivo" })</td>
                            </tr>
                            <tr>
                                <td class="middleCells" id="toggle-two">@Html.DisplayNameFor(m => m.ByFuel)</td>
                                <td class="middleCells">@Html.CheckBoxFor(m => m.ByFuel, new { @data_toggle = "toggle", @data_on = "Activo", @data_off = "Inactivo" })</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <div class="col-lg-12 text-right">
                        <button type="submit" class="submit btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardar</button>
                    </div>
                }
            </div>
    
</div>
