﻿@model  ECOsystem.Areas.Admin.Models.Administration.DashboardModuleBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Personalización de la Página Principal";
    ViewBag.Administration = "active";
    ViewBag.Customizer = "active";
    ViewBag.CustomizerLandingPage = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}
@section styles {

    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #sortable li {
            margin: 10px;           
            padding: 10px;
            cursor:move;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

 <div id="page-content-wrapper">
    
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-lg-12">
                    <ul id="sortable">
                        @foreach (var dashboardModule in Model.List)
                        {
                            <li class="bg-primary" data-customerid="@dashboardModule.CustomerId" data-loggeduserid="@dashboardModule.LoggedUserId" data-rowversion="@Convert.ToBase64String(dashboardModule.RowVersion)" data-dashboardmoduleid="@dashboardModule.DashboardModuleId">@dashboardModule.Name</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button id="btnSave" type="button" class="btn btn-success pull-right"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Content/Scripts/jquery-ui.js?v=@version-hf0"></script>
    <script type="text/javascript">
        $(function () {
            $("#LoadMenuForm").submit();
            $("#sortable").sortable();
            $("#sortable").disableSelection();

            $("#btnSave").off('click.btnSave').on('click.btnSave', function (e) {
                $("#btnSave").addClass("disabled");
                $("#sortable > li").each(function (index) {

                    var data = { "customerId": $(this).attr("data-customerId"), "dashboardModuleId": $(this).attr("data-dashboardModuleId"), "order": index, "rowVersion": $(this).attr("data-rowVersion"), "loggedUserId": $(this).attr("data-loggedUserId") };

                    $.ajax({
                        url: '@Url.Action("SaveDashboardModule", "Customizer")',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        type: 'POST',
                        async: false,
                        dataType: 'json'
                    })
                    .success(function (result) {
                    })
                    .error(function (xhr, status) {
                    });
                });
                $("#btnSave").removeClass("disabled");
                location.reload();
            });
        });
    </script>
}
