﻿@model  ECOsystem.Areas.Admin.Models.Administration.ExportableTransactionsFileParameters

<div class="row">
    <div class="form-group form-horizontal col-sm-4">
        @Html.LabelFor(m => m.DocumentType, new { })
        @Html.TextBoxFor(m => m.DocumentType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DocumentType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group form-horizontal col-sm-4">
        @Html.LabelFor(m => m.CurrencyCode, new { })
        @Html.TextBoxFor(m => m.CurrencyCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CurrencyCode, "", new { @class = "text-danger" })
    </div>

    <div class="form-group form-horizontal col-sm-4">
        @Html.LabelFor(m => m.RecordType, new { })
        @Html.TextBoxFor(m => m.RecordType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RecordType, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row">
    <div class="form-group form-horizontal col-sm-4">
        @Html.LabelFor(m => m.Package, new { })
        @Html.TextBoxFor(m => m.Package, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Package, "", new { @class = "text-danger" })
    </div>
    <div class="col-sm-4" style="margin-top:20px">
        <div class="checkbox">
            <label class="control-label">
                @Html.CheckBoxFor(m => m.OnlyAuthorize) Mostrar solo transacciones autorizadas
            </label>
            @Html.ValidationMessageFor(m => m.OnlyAuthorize)
        </div>
    </div>
</div>