﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehiclesByDriverBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vehículos por Conductor";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlVehiclesByDriverIndex = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .bs-callout-blue {
            border-left-color: #006CB0;
        }

        .bs-callout {
            border: 1px solid #006CB0;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-color-blue {
            color: #006CB0;
        }

        .scrol-list {
            overflow-y: auto;
            height: 406px;
        }

        .box {
            cursor: pointer;
        }

        div.sortable-placeholder {
            border: 2px dashed #006CB0;
            background: #FCF8E3;
            height: 80px;
        }
        
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    @*<div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Vehículos por Conductor</h3>
        </div>
    </div>*@

    @using (Ajax.BeginForm("LoadVehiclesByDriver", "VehiclesByDriver", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DragAndDropContainer",
        OnSuccess = " ECOsystem.Areas.Admin.VehiclesByDriver.OnSuccessLoad()",
        OnComplete = "search_change();"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id", "")
    }

    <div class="row">
        <div class="col-sm-6">
            @Html.DropDownListFor(m => m.UserId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetDriversWithAll, "Seleccione un Conductor", new { @class = "form-control fbold" })
        </div>
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label class="sr-only"></label>
                <input id="Search" type="text" class="form-control" placeholder="Filtro" onkeyup="search_change()">
                <span class="mdi mdi-magnify form-control-feedback"></span>
            </div>
        </div>
    </div>
    <br />

    @using (Ajax.BeginForm("AddOrEditVehiclesByDriver", "VehiclesByDriver", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DragAndDropContainer",
        OnSuccess = " ECOsystem.Areas.Admin.VehiclesByDriver.OnSuccessLoad(); ECOsystem.Utilities.setConfirmation();"
    }, new { id = "saveForm" }))
    {
        @Html.Hidden("UserId", @Model.UserId)
            
        <div class="row top30" style="height: 400px;">
            <div class="col-sm-12" id="DragAndDropContainer">
                @Html.Partial("_partials/_List", Model.Data)
            </div>
        </div>
    }
</div>


@section scripts {
    <script src="~/Scripts/Administration/vehiclesByDriver.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.VehiclesByDriver.Init();

            $.notify("Hola");
        });

        function Count() {         
            $('#ConnectedVehicles').children('div').each(function () {
                connected = connected + 1;
            });

            $('#AvailableVehicles').children('div').each(function () {
                available = available + 1;
            });
            $('#connected').text(connected);
            $('#available').text(available);
        }

        function btnRight_onClick() {
            $('#AvailableVehicles').children('div').each(function () {
                if (!$(this).hasClass("hidden")) {
                    $(this).prependTo("#ConnectedVehicles");
                }
            });
            this.search_change();
        }

        function btnLeft_onClick() {
            $('#ConnectedVehicles').children('div').each(function () {
                if (!$(this).hasClass("hidden")) {
                    $(this).prependTo("#AvailableVehicles");
                }
            });
            this.search_change();
        }

        function search_change() {
            var searchText = $("#Search").val().toUpperCase();
            var connected = 0;
            var available = 0;
            if (searchText.length > 0) {
                $('#ConnectedVehicles').children('div').each(function () {
                    if ($(this).text().toUpperCase().search(searchText) > 0) {
                        connected = connected + 1;
                        $(this).removeClass("hidden");
                    } else {
                        $(this).addClass("hidden");
                    }
                });
                $('#AvailableVehicles').children('div').each(function () {
                    if ($(this).text().toUpperCase().search(searchText) > 0) {
                        available = available + 1;
                        $(this).removeClass("hidden");
                    } else {
                        $(this).addClass("hidden");
                    }
                });
            } else {
                $('#ConnectedVehicles').children('div').each(function () {
                    connected = connected + 1;
                    $(this).removeClass("hidden");
                });
                $('#AvailableVehicles').children('div').each(function () {
                    available = available + 1;
                    $(this).removeClass("hidden");
                });
            }
            $('#connected').text(connected);
            $('#available').text(available);
        }
        </script>
}
