﻿:root {
    --color-1: rgba(32, 150, 243, 1);
    --color-04: rgba(32, 150, 243, 0.4);
    --color-00: rgba(32, 150, 243, 0);
}

.circle {
    position: relative;
    /*height: 360px;
    width: 360px;
    margin: auto;*/
}

    .circle::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: var(--color-1);
        border-radius: 50%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-animation: cdot linear 3s;
        animation: cdot linear 3s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .circle .wave {
        position: absolute;
        left: 7%;
        top: 7%;
        width: 86%;
        height: 86%;
        background: var(--color-04);
        border-radius: 50%;
        opacity: 0;
        -webkit-animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 3s 0s;
        animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 3s 0s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

        .circle .wave::after {
            content: "";
            position: absolute;
            left: 7%;
            top: 7%;
            width: 86%;
            height: 86%;
            background: var(--color-04);
            border-radius: 50%;
            opacity: 0;
            -webkit-animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 3s 0.1s;
            animation: radarWave cubic-bezier(0, 0.54, 0.53, 1) 3s 0.1s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }

@-webkit-keyframes cdot {
    0% {
        opacity: 0;
        background: var(--color-1);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        background: var(--color-00);
    }
}

@keyframes cdot {
    0% {
        opacity: 0;
        background: var(--color-1);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        background: var(--color-00);
    }
}

@-webkit-keyframes radarWave {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        background: var(--color-04);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: var(--color-00);
    }
}

@keyframes radarWave {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        background: var(--color-04);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: var(--color-00);
    }
}
