﻿@model IEnumerable<ECO_Partner.Models.TransactionsReportDeniedByPartner>

<style type="text/css">
    .boldText {
        font-weight: bold;
    }

    .numericAlign {
        text-align: right;
    }
</style>

@if (Model != null && Model.Any())
{
    if (Model.First().FuelName == null)
    {
        @(Html.Grid(Model)
                          //.AutoGenerateColumns()
                          .Selectable(true)
                          .Columns(c =>
                              {
                                  c.Add(m => m.CustomerName).Titled("Empresa");
                                  c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago");
                                  c.Add()
                                            .Titled("Medio de Pago")
                                            .Encoded(false)
                                            .Sanitized(false)
                                            .SetWidth(20)
                                            .RenderValueAs(m => @<span class="center">
                                                <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                                <label class="legend"></label>
                                            </span>);
                                    c.Add(m => m.CreditCardHolder).Titled("Titular");
                                    c.Add(m => m.ResponseCodeDescription).Titled("Descripcion");
                                    c.Add(m => m.Message).Titled("Mensaje");
                                    c.Add(m => m.InsertDate).Titled("Fecha");
                                          }))
    }
    else
    {

        @(Html.Grid(Model)
                          //.AutoGenerateColumns()
                          .Selectable(true)
                          .Columns(c =>
                          {
                              c.Add(m => m.CustomerName).Titled("Empresa");
                              c.Add(m => m.CreditCardNumber).Titled("#Tarjeta");
                              c.Add(m => m.HolderNameStr).Titled("Titular");
                              c.Add(m => m.Invoice).Titled("#Factura");
                              c.Add(m => m.SystemTraceCode).Titled("Código");
                              c.Add(m => m.MerchantDescription).Titled("Gasolinera");
                              c.Add(m => m.FuelName).Titled("Combustible");
                              c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName());
                              c.Add(m => m.OdometerStr).Titled("Odómetro");
                              c.Add(m => m.FuelAmountStr).Titled("Monto");
                              c.Add(m => m.Date).Titled("Fecha");
                              if (Model.FirstOrDefault().IsInternational)
                              {
                                  c.Add(m => m.CountryName).Titled("País");
                                  c.Add(m => m.ExchangeValue).Titled("Tipo Cambio");
                                  c.Add(m => m.RealAmountFormatted).Titled("Monto Real");
                              }

                          }))
    }
}

else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}