﻿@{
    ViewBag.Title = "Noticias y Notificaciones";
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("LoadTermsAndConditions", "TermsAndConditions", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = " ECOsystem.Areas.Coinca.TermsAndConditions.OnSuccessLoad()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("PartnerId")
}

<div id="page-content-wrapper">
    <div class="row">
        <div class="col-sm-6">
            @Html.DropDownList("DDPartnerId", @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetPartners.OrderBy(x => x.Text), "Seleccione un Socio", new { @class = "form-control", custom = "true" })
        </div>
        <div class="col-sm-6">
            <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-information" style="font-size:18px"></i> Ver Información</button>
        </div>
    </div>
    <br />
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp; Por favor seleccione un socio y presione <b>Ver Información</b>.
    </div>
    @using (Ajax.BeginForm("AddOrEditTermsAndConditions", "TermsAndConditions", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnBegin = " ECOsystem.Areas.Coinca.TermsAndConditions.ShowLoader()",
        OnSuccess = " ECOsystem.Areas.Coinca.TermsAndConditions.OnSuccessAddOrEdit()"
    }, new { id = "addOrEditForm" }))
    {
        <div id="detailContainer" hidden>
            @Html.Partial("_partials/_Detail", new  ECOsystem.Areas.Coinca.Models.TermsAndConditions())
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/Settings/TermsAndConditions.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.TermsAndConditions.Init();
        });
    </script>
}


