﻿@using  ECOsystem.Areas.Control.Models.Control
@model PerformanceByVehicleComparativeReportBase
@{
    ViewBag.Title = "Comparativo de Rendimiento";
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    ViewBag.PerformanceByVehicleReportIndex = "active";
    ViewBag.Full_Width = "full_width";
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    string expand = "";
    if (Model.Parameters.VehicleModel != null || Model.Parameters.VehicleYear != null || Model.Parameters.VehicleId != null || Model.Parameters.VehicleType != null || Model.Parameters.Manufacturer != null || Model.Parameters.UnitId != null || Model.Parameters.CostCenterId != null)
    {
        expand = "in";
    }

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .panel-heading a:after {
            font-family: 'glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        /*td[data-name=PlateId], td[data-name=VehicleName], td[data-name=Manufacturer], td[data-name=VehicleModel], td[data-name=VehicleType], td[data-name=UnitName], td[data-name=CostCenterName], td[data-name=GroupOption] {
            font-weight: bold;
        }*/

        .card
        {
            display:inline-block;
        }
    </style>
}



@if (!isPrintView)
{

    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="3" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

}
<div id="page-content-wrapper" class="full_width">

    @if (!isPrintView)
    {
        using (Html.BeginForm("Index", "PerformanceByVehicleComparativeReport", FormMethod.Post, new { id = "ReloadForm" }))
        {

            <div class="col-sm-3 top3">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-3 top3">
                    @Html.DropDownListFor(m => m.Parameters.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" }, { "onchange", "this.form.submit()" } })
                </div>
                <div class="col-sm-3 top3">
                    @Html.DropDownListFor(m => m.Parameters.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" }, { "onchange", "this.form.submit()" } })
                </div>
            </div>
            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-3 top3">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 top3">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="panel-group" id="accordion">

                <div class="panel panel-default" id="panel1">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#one" class="collapsed">
                                <strong>Filtros Avanzados</strong>
                            </a>
                        </h4>
                    </div>

                    <div id="one" class="panel-collapse collapse @expand">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.Parameters.VehicleId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesByCustomer, "Seleccione un Vehículo", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>
                                    <div class="col-sm-3 ">
                                        @Html.DropDownListFor(m => m.Parameters.Manufacturer,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesManufacturers, "Marca", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>
                                    <div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.VehicleModel,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesModels, "Modelo", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>
                                    <div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.VehicleType,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesTypes, "Tipo", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>
                                    <div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.VehicleYear,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesYears, "Año", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>
                                    <div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.CostCenterId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Centro de Costo: Todos", new { @class = "form-control fbold", onchange = "this.form.submit()" })
                                    </div>
                                    @*<div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.UnitId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleUnits, "Unidad", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>*@
                                    <div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.GroupBy,  ECOsystem.Areas.Control.Business.GeneralCollections.GetDatesGroupBy, "Agrupar Por", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>
                                    <div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.ReportComparativeId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetComparativeGroupBy, "Comparación Por", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>
                                    <div class="col-sm-3 top10">
                                        @Html.DropDownListFor(m => m.Parameters.VehicleGroupId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleGroups, "Grupo de Vehículos: Todos", new { @class = "form-control fbold top10", onchange = "this.form.submit()" })
                                    </div>

                                    <div class="col-sm-3 top10" style="padding-top:10px"> 
                                        @Html.CheckBoxFor(m => m.Parameters.showZeros, new { onclick = "this.form.submit()", })
                                        @Html.Label("No Visualizar Registros en 0")
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    }

    <div id="ControlsContainer">
        <div class="card">
            <div class="card-content">

                @if (!isPrintView)
                {

                    using (Ajax.BeginForm("ExcelReportDownload", "PerformanceByVehicleComparativeReport", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        OnBegin = "ECO_Control.PerformanceByVehicleComparativeReport.ShowLoader()",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "ECO_Control.PerformanceByVehicleComparativeReport.HideLoader()"
                    }, new { id = "ExcelReportDownloadForm" }))
                    {
                        <input class="hidden" name="p" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
                    }

                    using (Html.BeginForm("DownloadFile", "PerformanceByVehicleComparativeReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

                    <div class="dropdown pull-left">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                            <i class="mdi mdi-download"></i> Exportar
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" onclick="ECO_Control.PerformanceByVehicleComparativeReport.OnClickDownloadPartnerReport()">
                                    <i class=" mdi mdi-file-excel">
                                    </i>&nbsp;&nbsp;Exportar Excel
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                    <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Formato Impresión
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <button class="btn btn-default" type="button" data-print>
                        <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                    </button>
                }


                <div class="row">
                    <div class="col-sm-12" id="gridContainer">
                        @(Model.Parameters.ReportComparativeId == 100 ? Html.Partial("_partials/_Grid", Model.List) : Html.Partial("_partials/_Grid", Model.GroupList))
                    </div>
                </div>

                <div>&nbsp;</div>


                <!-- Load Form Start-->
                @using (Ajax.BeginForm("ShowDetails", "PerformanceByVehicleComparativeReport", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "detailContainer",
                    OnSuccess = "ECO_Control.erformanceByVehicleComparativeReport.DetailShowModal"
                }, new { id = "detailsForm" }))
                {
                    <input type="hidden" name="vehicleId" id="detailId" />
                    <input type="hidden" name="month" id="detailMonth" />
                    <input type="hidden" name="year" id="detailYear" />
                    <input type="hidden" name="week" id="detailWeek" />
                    <input type="hidden" name="day" id="detailDay" />
                    <input type="hidden" name="option" id="detailOption" />
                }

                <!-- Load Form End-->
                <!-- Modal Start-->
                <div class="modal fade" id="detailModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" style="width: 1280px;">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Detalle Odómetros y Rendimientos por Transacción + Detalle GPS en el Momento de la Transacción</h4>
                            </div>
                            <div class="modal-body">
                                <div id="detailContainer" style="overflow-y: auto; max-height: 600px;">

                                </div>
                            </div>

                            <div class="modal-footer">
                                <div>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal End -->
                <!-- Load Form Start-->
                @using (Ajax.BeginForm("ShowChart", "PerformanceByVehicleComparativeReport", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnSuccess = "ECO_Control.PerformanceByVehicleComparativeReport.ChartShowModal"
                }, new { id = "chartForm" }))
                {
                    <input type="hidden" name="vehicleId" id="chartVehicleId" />
                    <input type="hidden" name="groupValue" id="chartGroupValue" />
                    <input type="hidden" name="p" id="chartParameters" value="@Model.Parameters.ParametersInBase64" />
                }

                <!-- Load Form End-->
                @Html.Partial("_partials/_Chart")

            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")

    <script src="~/Scripts/Control/performanceByVehicleComparativeReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.PerformanceByVehicleComparativeReport.Init({
                printURL: '@Url.Action("PrintReport", "PerformanceByVehicleComparativeReport", new { p = Model.Parameters.ParametersInBase64 })',
            });
        });

    </script>
}



