﻿@{
    ViewBag.Title = "Archivo de Disponible por Tarjeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="14" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                @using (Html.BeginForm("DonwloadFile", "AvailableBudgetReport", FormMethod.Post, new { id = "DonwloadFileForm" }))
                {
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.DropDownList("CustomerId", ECO_Partner.Business.GeneralCollections.GetCustomersByPartnerWithAll, new { @class = "form-control"})
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Archivo</button>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12" id="InfoContainer">
                        <br />
                        <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione la información necesaria para generar el archivo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#LoadMenuForm").submit();

            $("#CustomerId").select2('data', {});
            $("#CustomerId").select2({
                escapeMarkup: function (m) { return m; },
                allowClear: true
            });
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}