﻿@model ECOsystem.Models.Account.UsersRoles

@{ 
    var user = ECOsystem.Utilities.Session.GetUserInfo();    
 }

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.HiddenFor(m => m.RoleId)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información del rol</h4>
            </div>
            <div class="modal-body">

                <input type="hidden" id="txtOldRoleName" value="@(Model.Name)" />

                @if (Session["SaveAs"] == null || Session["SaveAs"].ToString() != "true")
                {
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del rol", @class = "form-control", autofocus = "", id = "txtRoleName" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", id = "RoleNameValidation" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Rol", @class = "form-control", autofocus = "", id = "txtRoleNameSaveAs" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", id = "RoleNameValidation" })
                            </div>
                        </div>
                    </div>
                }

                <div class="form-horizontal" role="form">
                    @if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_ADMIN")
                    {
                        <input type="hidden" name="Parent" value="CUSTOMER_ADMIN" id="ParentCA" />
                    }
                    else if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "LINEVITA_ADMIN")
                    {
                        <input type="hidden" name="Parent" value="LINEVITA_ADMIN" id="ParentCA" />
                    }
                    else if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "PARTNER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "PARTNER_LINEVITA_ADMIN")
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Parent, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.Parent, Model.RolesList, "Seleccione un Perfíl", new { @class = "form-control", id = "ParentPA" })
                            </div>
                        </div>
                    }
                    else if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "SUPER_ADMIN")
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Parent, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.Parent, Model.RolesList, "Seleccione un Perfíl", new { @class = "form-control", id = "ParentSA" })
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>

                    @if (Session["SaveAs"] == null || Session["SaveAs"].ToString() != "true")
                    {
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSaveRoles"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-default" onclick=" ECOsystem.Areas.Coinca.UserRolesPermissions.OnRolesCancel()"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick=" ECOsystem.Areas.Coinca.UserRolesPermissions.OnConfirmationModalOn()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                    }

                </div>
            </div>

        </div>
    </div>
</div>
