﻿@model IEnumerable<ECOsystem.Models.Account.UsersRoles>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
    .Selectable(true)
    .Columns(c =>
    {                
        c.Add(m => m.Name).SetWidth(100).Titled("Nombre");
        c.Add(m => m.ParentName).SetWidth(100).Titled("Perfil");
        c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(50)
            .RenderValueAs(m => @<span>
            <a href="#" class="edit-color" id="@m.RoleId" title="Editar" edit_row><i class="mdi mdi-16px mdi-pencil"></i></a>
            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.RoleId" title="Eliminar" del_row><i class="mdi mdi-16px mdi-delete"></i></a>
        </span>).Css("grid-col-btn");
    }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
        
 




