﻿@model ECOsystem.Models.Account.UserRolesBase
@{
    ViewBag.Title = "Roles";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("AddOrEditRoles", "UserRolesPermission", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnBegin = " ECOsystem.Areas.Coinca.UserRolesPermissions.AddOrEditStart();",
    OnSuccess = " ECOsystem.Areas.Coinca.UserRolesPermissions.AddOrEditModalHide();"
}, new { id = "addOrEditForm", autocomplete = "off" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_DetailRoles", Model.Data)
    </div>
}

@Html.Hidden("NewRoleId")
@Html.Hidden("NewRoleName")
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("SearchRole", "UserRolesPermission", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()",
        OnBegin = "ECOsystem.Utilities.ShowLoader()",
        OnComplete = "ECOsystem.Utilities.HideLoader()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-lg-11">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar..." onsubmit="this.form.submit()">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                    </span>

                </div>
            </div>
            <div class="col-sm-1 text-right">
                <button type="button" class="btn btn-success" title="Agregar" onclick=" ECOsystem.Areas.Coinca.UserRolesPermissions.AddModulesModal()"><i class=" mdi mdi-plus mdi-18px"></i></button>
            </div>
        </div>
    }

    @using (Ajax.BeginForm("LoadRoles", "UserRolesPermission", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = " ECOsystem.Areas.Coinca.UserRolesPermissions.OnSuccessLoad()",
        OnBegin = "ECOsystem.Utilities.ShowLoader()",
        OnComplete = "ECOsystem.Utilities.HideLoader()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }

    <hr />
    <div class="col-lg-12" id="gridContainer">
        @Html.Partial("_partials/_GridRoles", Model.List)
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                @using (Ajax.BeginForm("DeleteRoles", "UserRolesPermission", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                {
                    @Html.Hidden("id")
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Eliminación</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el registro?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AssingPermissionsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asignación de Permisos</h4>
            </div>
            <div class="modal-body center">
                <p>Por favor asigne los permisos correspondientes al nuevo Rol.<br /> Presione aceptar para continuar.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAssingPermissions" class="btn btn-primary" onclick=" ECOsystem.Areas.Coinca.UserRolesPermissions.RedirectToPermissions();"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Administration/UserRolesPermissions.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.UserRolesPermissions.Init();
        });
    </script>

}
