﻿@model  ECOsystem.Areas.Control.Models.Control.TransportDataModel
@{
    var hide = Model.FilterType == 1 ? "" : "hide";     
}

<div class="modal fade" id="SeeTraceModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de la Trama</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal col-sm-12" role="form">
                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.terminalId, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.terminalId, new { placeholder = "", @class = "form-control ", autofocus = "", @readonly = true })
                            </div>
                            <div class="col-sm-6 @hide">
                                @Html.LabelFor(m => m.PaymentInstrument, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PaymentInstrument, new { placeholder = "", @class = "form-control ", autofocus = "", @readonly = true })
                            </div>
                            <div class="col-sm-6 @hide">
                                @Html.LabelFor(m => m.PaymentInstrumentType, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PaymentInstrumentType, new { placeholder = "", @class = "form-control ", autofocus = "", @readonly = true })
                            </div>
                            <div class="col-sm-6 @hide">
                                @Html.LabelFor(m => m.expirationDate, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.expirationDate, new { placeholder = "", @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-sm-6 @hide">
                                @Html.LabelFor(m => m.amount, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.amount, new { placeholder = "", @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-sm-6 @hide">
                                @Html.LabelFor(m => m.carTag, new { @class = "control-label" })
                                @Html.TextBox("cartag", "******", new { placeholder = "", @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-sm-6 @hide">
                                @Html.LabelFor(m => m.kilometers, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.kilometers, new { placeholder = "", @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-sm-6 @hide">
                                @Html.LabelFor(m => m.units, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.units, new { placeholder = "", @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.ResponseStr, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.ResponseStr, new { placeholder = "", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
