﻿@model IEnumerable<ECO_Control.Models.Control.TransactionsReportDeniedByPartner>

<style type="text/css">
    .boldText {
        font-weight: bold;
    }

    .numericAlign {
        text-align: right;
    }
</style>

@if (Model != null && Model.Any())
{
    if (Model.First().FuelName == null)
    {
        @(Html.Grid(Model)
            //.AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
              {
                  c.Add(m => m.CustomerName).Titled("Empresa");
                  c.Add(m => m.CreditCardNumber).Titled("#Tarjeta");
                  c.Add(m => m.CreditCardHolder).Titled("Titular");
                  c.Add(m => m.ResponseCodeDescription).Titled("Descripcion");
                  c.Add(m => m.Message).Titled("Mensaje");
                  c.Add(m => m.InsertDate).Titled("Fecha");
          }))
    }
    else
    {

        @(Html.Grid(Model)
            //.AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
                  c.Add(m => m.CustomerName).Titled("Empresa"); 
                  c.Add(m => m.CreditCardNumber).Titled("#Tarjeta").SetWidth(80);
                  c.Add(m => m.HolderNameStr).Titled("Titular").SetWidth(120);
                  c.Add(m => m.Invoice).Titled("#Factura").SetWidth(80);
                  c.Add(m => m.SystemTraceCode).Titled("Código").SetWidth(60);
                  c.Add(m => m.MerchantDescription).Titled("Gasolinera").SetWidth(120);        
                  c.Add(m => m.FuelName).Titled("Combustible").SetWidth(100);
                  c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).SetWidth(50);    
                  c.Add(m => m.OdometerStr).Titled("Odómetro").SetWidth(60);
                  c.Add(m => m.FuelAmountStr).Titled("Monto").SetWidth(60);    
                  c.Add(m => m.Date).Titled("Fecha").SetWidth(60);
              }))
    }
}

else
{<p class="top20 text-success">No se encontraron resultados</p> }