﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.TransactionsReport>

@{
    var creditCardEmissionType = ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId;
    var hasBranches = (Model.FirstOrDefault().IsCustomerBranch > 1);
}
<style type="text/css">
    .boldText {
        font-weight: bold;
    }

    .numericAlign {
        text-align: right;
    }
</style>


@if (Model != null && Model.Any())
{
    if (Model.First().FuelName == null)
    {
        @(Html.Grid(Model)
                                .Selectable(true)
                                .Columns(c =>
                                {
                                    c.Add(m => m.PaymentInstrument).Titled("# Medio De Pago").SetWidth(120);
                                    c.Add()
                                        .Titled("Medio de Pago")
                                        .Encoded(false)
                                        .Sanitized(false)
                                        .SetWidth(20)
                                        .RenderValueAs(m => @<span class="center">
                                        <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                        <label class="legend"></label>
                                    </span>);                                
                                c.Add(m => m.CustomerName).Titled("Nombre del Cliente").SetWidth(120);
                                if (hasBranches)
                                    c.Add(m => m.CustomerBranchName).Titled("Empresa Matriz").SetWidth(120);
                                c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(120);
                                c.Add(m => m.CreditCardHolder).Titled("Titular");
                                c.Add(m => m.ResponseCode).Titled("Codigo");
                                c.Add(m => m.ResponseCodeDescription).Titled("Descripcion");
                                c.Add(m => m.ServiceStationName).Titled("Estación de servicio");
                                c.Add(m => m.TerminalId).Titled("Terminal");
                                c.Add(m => m.Message).Titled("Mensaje");
                                c.Add(m => m.InsertDate).Titled("Fecha");
                                c.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(2)
.RenderValueAs(m => @<span>
    <a href="#" class="search-color" title="Información de la terminal" edit_row_trans trace="@m.TransactionId"><i class="glyphicon glyphicon-search"></i></a>
    <input type="hidden" id="traceTerminalId-@m.TransactionId" value="@m.TerminalId" />
    <input type="hidden" id="traceCreditCardNumberWithMask-@m.TransactionId" value="@m.CreditCardNumberWithMask" />
    <input type="hidden" id="traceExpirationDate-@m.TransactionId" value="@m.ExpirationDateStr" />
    <input type="hidden" id="traceAmount-@m.TransactionId" value="@m.FuelAmountStr" />
    <input type="hidden" id="traceCarTag-@m.TransactionId" value="@m.CreditCardHolder" />
    <input type="hidden" id="traceKilometers-@m.TransactionId" value="@m.OdometerStr" />
    <input type="hidden" id="traceUnits-@m.TransactionId" value="@m.Liters" />
    <input type="hidden" id="traceResponseStr-@m.TransactionId" value="@m.ResponseCode - @m.ResponseCodeDescription" />
</span>).Css("grid-col-btn");
                            }))
    }
    else
    {

        @(Html.Grid(Model)
                .Selectable(true)
                .Columns(c =>
                {
                    c.Add(m => m.PaymentInstrument).Titled("# Medio De Pago").SetWidth(120);
                    c.Add()
                        .Titled("Medio de Pago")
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(20)
                        .RenderValueAs(m => @<span class="center">
                            <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                            <label class="legend"></label>
                        </span>);
                    c.Add(m => m.CustomerName).Titled("Nombre del Cliente").SetWidth(120);
                    if (hasBranches)
                        c.Add(m => m.CustomerBranchName).Titled("Empresa Matriz").SetWidth(120);
                    c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(120);
                    if (creditCardEmissionType == 101) c.Add(m => m.HolderNameStr).Titled("Placa").SetWidth(120);
                    else c.Add(m => m.HolderNameStr).Titled("Titular").SetWidth(120);
                    if (creditCardEmissionType == 100) c.Add(m => m.PlateId).Titled("Placa").SetWidth(120);
                    if (Model.FirstOrDefault().FilterType != 3)
                    {
                        c.Add(m => m.Invoice).Titled("#Factura").SetWidth(80);
                        c.Add(m => m.ElectronicInvoice).Titled("#Factura Electrónica").SetWidth(80);
                        c.Add(m => m.AuthorizationNumber).Titled("Autorización").SetWidth(60);
                    }
                    c.Add(m => m.MerchantDescription).Titled("Gasolinera").SetWidth(120);
                    c.Add(m => m.FuelName).Titled("Combustible").SetWidth(100);
                    c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).SetWidth(50);
                    c.Add(m => m.OdometerStr).Titled("Odómetro").SetWidth(60);
                    c.Add(m => m.FuelAmountStr).Titled("Monto").SetWidth(60);
                    c.Add(m => m.State).Titled("Estado").Css("boldText").SetWidth(80);
                    c.Add(m => m.Date).Titled("Fecha").SetWidth(60);
                    if (Model.FirstOrDefault().IsInternational)
                    {
                        c.Add(m => m.CountryName).Titled("País").SetWidth(60);
                        c.Add(m => m.ExchangeValue).Titled("Tipo Cambio").SetWidth(60);
                        c.Add(m => m.RealAmountFormatted).Titled("Monto Real").SetWidth(60);
                    }
                    if (Model.FirstOrDefault().FilterType == 3)
                    {
                        c.Add(m => m.ResponseCodeSplitted).Titled("Código Reversión").SetWidth(60);
                        c.Add(m => m.ResponseDescriptionSplitted).Titled("Descripción Reversión").SetWidth(60);
                    }
                    else
                    {
                        if (creditCardEmissionType == 101) c.Add(m => m.DriverNameDescrypt).Titled("Conductor Asignado").SetWidth(60);
                        c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(2)
                        .RenderValueAs(m => @<span>
                        <a href="#" class="search-color" id="@m.TransactionId" title="Ver Trama" edit_row_trans><i class="glyphicon glyphicon-search"></i></a>
                    </span>).Css("grid-col-btn");
                            }

                }))
    }
}

else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}


