﻿@using ECOsystem.Models.Core
@model  ECOsystem.Areas.Coinca.Models.VPOSModelBase
@{
    ViewBag.Title = "Anulación de Transacciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="20" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            @using (Ajax.BeginForm("TransactionsRetrieve", "VPOSTransactions", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "GridContainer",
                OnBegin = " ECOsystem.Areas.Coinca.VPOSTransactions.ShowLoader()",
                OnSuccess = " ECOsystem.Areas.Coinca.VPOSTransactions.HideLoader()"                
            }, new { id = "loadForm" }))
            {
                <div class="row">
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId,  ECOsystem.Areas.Coinca.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div data-repor-by="1000" class="@hide1">
                        <div class="col-sm-3">
                            @Html.DropDownListFor(m => m.Parameters.Month,  ECOsystem.Areas.Coinca.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownListFor(m => m.Parameters.Year,  ECOsystem.Areas.Coinca.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                        </div>
                    </div>
                    <div data-repor-by="2000" class="@hide2">
                        <div class="col-sm-3">
                            <div class='input-group date' id='datetimepickerStartDate'>
                                @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class='input-group date' id='datetimepickerEndDate'>
                                @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.CustomerId,  ECOsystem.Areas.Coinca.Business.GeneralCollections.GetBFCustomers, "Cliente", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>                    
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-9">
                        <div id="validationmessage" hidden>
                            <label style="color:#fb4b4b;"><i class="mdi mdi-information"></i>&nbsp;Por favor seleccione los parámetros para la busqueda.</label>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button type="button" id="btnLoadTransactions" class="btn btn-default" title="Generar"><i class="mdi mdi-download"></i>&nbsp;&nbsp;Generar Información</button>
                    </div>
                </div>
            }

            @* Se realiza un form aparte para utilizar los datos ya cargados en la variable de sesión *@
            @using (Ajax.BeginForm("TransactionsSearch", "VPOSTransactions", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "GridContainer",
                OnBegin = " ECOsystem.Areas.Coinca.VPOSTransactions.ShowLoader()",
                OnSuccess = " ECOsystem.Areas.Coinca.VPOSTransactions.HideLoader()"
            }, new { id = "searchForm" }))
            {
                <br />
                <div class="row">
                    <div class="col-sm-6 pull-right">
                        <div class="input-group">
                            @Html.TextBox("key", string.Empty, new Dictionary<string, object> { { "placeholder", "Buscar por: Empresa, Tarjeta o Placa" }, { "class", "form-control" } })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12" id="GridContainer">
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationVoidModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">                
                <p>¿Esta seguro que desea Anular la Transacción Seleccionada?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" id="btnApplyVoid" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="msgVoidModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Anulación de Transacciones</h4>
            </div>
            <div class="modal-body">
                <label id="msgVoid"></label>
            </div>
            <div class="modal-footer">
                <div>                    
                    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Settings/VPOSTransactions.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.VPOSTransactions.Init();
        });
    </script>
}


