﻿@using  ECOsystem.Areas.Control.Models.Control
@model IEnumerable<OdometerTraveledReport>

@if (Model != null && Model.Any())
{

    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.PlateId).Titled("Matrícula").SetWidth(100);
            c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(100);
            c.Add(m => m.TrxMinDateStr).Titled("Fecha Inicial").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.TrxMinOdometerStr).Titled("Odómetro (Km)").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.TrxMaxDateStr).Titled("Fecha Final").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.TrxMaxOdometerStr).Titled("Odómetro (Km)").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.DifferenceStr).Titled("Diferencia (Km)").SetWidth(110).Css("grid-col-right");                      
        }
        )
        .Selectable(true)
        )
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
