﻿@model IEnumerable<ECO_Operation.Models.ScoreTypes>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.ScoreTypeId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.ScoreTypeId" title="Eliminar" del_row><i class="mdi mdi-close"></i></a>
                </span>).Css("grid-col-btn");

          }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
