﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.PreventiveMaintenanceVehicle>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
        .AutoGenerateColumns()
        .Selectable(true)
        .Columns(c =>
        {
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(2)
                .RenderValueAs(m => @<span>
                <a href="@Url.Action("Assign", "PreventiveMaintenanceVehicle", new { id=m.VehicleId, PlateId=m.PlateId })" class="search-color" id="@m.VehicleId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box edit-color"></i></a>
            </span>).Css("grid-col-btn");
        }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
