﻿@model IEnumerable<ECOsystem.Models.Core.Customers>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Selectable(true)
        .Columns(c =>
        {
                c.Add(m => m.DecryptedName).Titled("Cliente");
                c.Add(m => m.PartnerName).Titled("Socio");                
                c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                                        <a class="delete-color" data-toggle="modal" data-target="#deleteCustomerRoleModal" id="@m.CustomerId" partnerid="@m.PartnerId" title="Eliminar" delcusrole_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                                    </span>)
                .Css("grid-col-btn");
         }))
}
else
{
    <br /> 
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <i class="mdi mdi-information mdi-18px"></i>&nbsp;No se encontraron resultados
    </div>
}
