﻿@model ECOsystem.Models.Account.UsersRoles
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.RoleId)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Rol", @class = "form-control", autofocus = "", id = "txtRoleName" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", id = "RoleNameValidation" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Parent, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.Parent, Model.RolesList, "Seleccione un Perfíl", new { @class = "form-control", id = "ParentPA" })
                </div>
            </div>
            @if (Model.RoleId != null && Model.Parent == "9baac678-473a-4f96-9d67-9f2a5af778f3")
            {
                <div class="col-sm-12">
                    <div class="panel panel-default">                       
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-success alert-dismissible fade in center" role="alert">
                                        Seleccione un cliente en el cual se podra utilizar el Rol seleccionado
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.Label("Seleccione un Socio", new { @class = "col-sm-14 control-label" })
                                            @Html.DropDownList("PartnerID", ECO_Partner.Business.GeneralCollections.GetPartnersLinkedToUser, "Seleccione un Socio", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.Label("Seleccione un Cliente", new { @class = "col-sm-14 control-label" })
                                            @Html.DropDownList("CustomerID", new List<SelectListItem>(), "Seleccione un Cliente", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-primary" id="btnAddCustomer"><i class="mdi mdi-plus"></i>&nbsp;Agregar</button>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-12" id="RolesByCustomer">
                                        @Html.Partial("_partials/_CustomerByRoles", Model.CustomerList)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-12  text-right">
                <button type="button" class="btn btn-default" onclick="ECO_Partner.UserRolesPermissions.OnRolesCancel()"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSaveRoles"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
