﻿@model IEnumerable<ECOsystem.Models.Account.Modules>

@using GridMvc

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model, GridRenderOptions.Create("ModulesGrid"))
    .Selectable(true)
    .Columns(c =>
    {
        c.Add(m => m.Name).Titled("Nombre del Módulo");
        c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(50)
            .RenderValueAs(m => @<span>
            <a href="#" class="edit-color" id="@m.ModuleId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil center"></i></a>
            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.ModuleId" title="Eliminar" del_row><i class="mdi mdi-close mdi-18px center"></i></a>
        </span>).Css("grid-col-btn");
    }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}

