﻿@model IEnumerable<ECOsystem.Models.Account.UsersPermissions>

@using GridMvc

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model, GridRenderOptions.Create("UserPermissionsGrid"))
    .Selectable(true)
    .Columns(c =>
    {   
        c.Add(m => m.Name).Titled("Nombre del Permiso");
        c.Add(m => m.Resource).Titled("Controlador");
        c.Add(m => m.Action).Titled("Acción");
        c.Add(m => m.Description).Titled("Descripción");
       // c.Add(m => m.Role).Titled("Role");
    }))
    
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
