﻿@model IEnumerable<ECOsystem.Models.Account.UsersRoles>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)

            .Selectable(true)
            .Columns(c =>
            {
            c.Add(m => m.Name).SetWidth(100).Titled("Nombre");
            c.Add()
              .Encoded(false)
              .Sanitized(false)
              .SetWidth(50)
              .RenderValueAs(m => @<span>
                 <a  class="edit-color" id="@m.RoleId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box center"></i></a>
                <a  class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.RoleId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
            </span>).Css("grid-col-btn");
            }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <i class="mdi mdi-information mdi-18px"></i>&nbsp;No se encontraron resultados
    </div>
}






