﻿<div class="row">
        <hr>        
        <div class="col-sm-4">            
            <div class="form-group">
                @*<label for="input-check-node" class="sr-only">Search Tree:</label>*@
                <input type="input" class="form-control" id="input-check-node" placeholder="Identify node..." value="">
            </div>
            @*<div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-check-silent" value="false">
                    Silent (No events)
                </label>
            </div>*@
            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success check-node" id="btn-check-node">Seleccionar Node</button>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger check-node" id="btn-uncheck-node">Deseleccionar Nodo</button>
            </div>
            @*<div class="form-group">
                <button type="button" class="btn btn-primary check-node" id="btn-toggle-checked">Toggle Node</button>
            </div>*@
            <hr>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success" id="btn-check-all">Seleccionar Todo</button>
                </div>
            </div>
            <button type="button" class="btn btn-danger" id="btn-uncheck-all">Deseleccionar todo</button>
        </div>
        @*<div class="col-sm-4">
            <h2>Tree</h2>
            <div id="treeview-checkable" class=""></div>
        </div>
        <div class="col-sm-4">
            <h2>Events</h2>
            <div id="checkable-output"></div>
        </div>*@
    </div>

@section styles {
    <style>
        .treeview .list-group-item {
            cursor: pointer;
        }

        .treeview span.indent {
            margin-left: 10px;
            margin-right: 10px;
        }

        .treeview span.icon {
            width: 12px;
            margin-right: 5px;
        }

        .treeview .node-disabled {
            color: silver;
            cursor: not-allowed;
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/bootstrap-treeview.js"></script>
    <script>
        
    </script>    
}

@* ******************************************************************************************** *@

@*@model IEnumerable<ECOsystem.Models.Account.AccountMenus>
        ECOsystem.UserRolesPermissions.LoadMenus();
    <link rel="stylesheet" href="~/Content/Styles/TreeView.css" />

    <div class="acidjs-css3-treeview">
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                <ul>
                    <li>
                        <input type="checkbox" id="node-0" checked="checked" /><label><input type="checkbox" /><span></span></label><label for="node-0">Todos</label>

                            foreach (var itemParent in Model.Where(x => x.Parent == null))
                            {
                                <ul>
                                    <li>
                                        <input type="checkbox" id="node-0-@itemParent.MenuId" checked="checked" /><label><input type="checkbox" /><span></span></label><label for="node-0-@itemParent.MenuId">@itemParent.Name</label>
                                        @foreach (var itemChildren in Model)
                                        {
                                            <ul>
                                                <li>
                                                    <input type="checkbox" id="node-0-@itemChildren.MenuId" checked="checked" /><label><input type="checkbox" /><span></span></label><label for="node-0-@itemChildren.MenuId">@itemChildren.Name</label>
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" id="node-0-@itemChildren.MenuId-0" /><label><input type="checkbox" /><span></span></label><label for="node-0-@itemChildren.MenuId-0">Ver</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="node-0-@itemChildren.MenuId-1" /><label><input type="checkbox" /><span></span></label><label for="node-0-@itemChildren.MenuId-1">Editar</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" id="node-0-@itemChildren.MenuId-2" /><label><input type="checkbox" /><span></span></label><label for="node-0-@itemChildren.MenuId-2">Eliminar</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        }
                                    @*</li>
                                </ul>
                    </li>
                </ul>
                }
            }
            </div>

    <script src="~/Content/Scripts/TreeView/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(".acidjs-css3-treeview").delegate("label input:checkbox", "change", function () {
            var
                checkbox = $(this),
                nestedList = checkbox.parent().next().next(),
                selectNestedListCheckbox = nestedList.find("label:not([for]) input:checkbox");

            if (checkbox.is(":checked")) {
                return selectNestedListCheckbox.prop("checked", true);
            }
            selectNestedListCheckbox.prop("checked", false);
        });
    </script>*@










