﻿@model  ECOsystem.Areas.Control.Models.Control.PreventiveMaintenanceRecordByVehicleBase
@{
    ViewBag.Title = "Registro de Mantenimiento Preventivo";
    ViewBag.Information = "active";
    ViewBag.Mantenimiento = "active";
    ViewBag.PreventiveMaintenanceRecordByVehicle = "active";
    ViewBag.HasGrid = true;
    ViewBag.Control = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@Html.Hidden("Frequency", "")
@Html.Hidden("FrequencyTypeId", "")

<div id="wrapper">
    @Html.Partial("~/Views/Control/_partials/_Menu.cshtml")
    <div id="page-wrapper">
        <div class="col-lg-12">
            <div class="row page-header">
                <div class="col-sm-10">
                    <h3>Registro de Mantenimiento Preventivo - @Model.Catalog.Description</h3>
                </div>
                <div class="col-sm-2 text-right">
                    <a href="@Url.Action("Index", "PreventiveMaintenanceRecordByVehicle")" class="btn btn-warning" data-read-only-info id="btnEdit"><i class="mdi mdi-skip-backward"></i>&nbsp;Regresar</a>
                </div>
            </div>
        </div>
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadPreventiveMaintenanceRecordByVehicleDetail", "PreventiveMaintenanceRecordByVehicle", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECOsystem.PreventiveMaintenanceRecordByVehicleDetail.AddOrEditModalShow()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
            <div id="detailContainer">
                @Html.Partial("_partials/_Detail", Model)
                @*@Html.Partial("_partials/_Detail")*@
            </div>
        }
        <!-- Load Form End-->
        <!-- Dele Modal Start -->
        <div class="modal fade" id="deleteCostModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                    @using (Ajax.BeginForm("DeletePreventiveMaintenanceRecordByVehicle", "PreventiveMaintenanceRecordByVehicle", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {

                        @Html.Hidden("id")
                        @Html.Hidden("idSearchDelete")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación - <span class="element-name"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnDeleteCost"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Dele Modal End-->
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_GridDetail", Model.List)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Control/PreventiveMaintenanceRecordByVehicleDetail.min.js?v=@version-hf0"></script>
    <script src="~/Scripts/Control/preventiveMaintenanceRecordByVehicleCost.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            ECO_Control.PreventiveMaintenanceRecordByVehicleDetail.Init();
        });
    </script>
}
