﻿@model  ECOsystem.Areas.Control.Models.Control.PreventiveMaintenanceVehiclesBase
@{
    ViewBag.Title = "Registro de Mantenimiento Preventivo";
    ViewBag.Information = "active";
    ViewBag.Mantenimiento = "active";
    ViewBag.PreventiveMaintenanceRecordByVehicle = "active";
    ViewBag.HasGrid = true;
    ViewBag.Control = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@Html.Hidden("Frequency", "")
@Html.Hidden("FrequencyTypeId", "")

<div id="wrapper">
    @Html.Partial("~/Views/Control/_partials/_Menu.cshtml")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Registro de Mantenimiento Preventivo</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.DropDownListFor(m => m.PreventiveMaintenanceCatalogId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetPreventiveMaintenanceByCustomer, "Seleccione una Categoría de Mantenimiento Preventivo", new { @class = "form-control", custom = "true" })
            </div>
        </div>
        <!--Preventive Maintenance Option Start-->
        @using (Ajax.BeginForm("SearchPreventiveMaintenanceRecordByVehicle", "PreventiveMaintenanceRecordByVehicle", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {            
            @Html.Hidden("idSearch")
            <div class="row top10">
                <div class="col-lg-12">
                    <div class="input-group">
                        
                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                            
                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>

                    </div>
                </div>
            </div>
        }
        <!--Preventive Maintenance Option End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadPreventiveMaintenanceRecordByVehicle", "PreventiveMaintenanceRecordByVehicle", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECO_Control.PreventiveMaintenanceRecordByVehicle.AddOrEditModalShow()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
            @Html.Hidden("idLoad")
        }
        <!-- Load Form End-->
        <!-- Dele Modal Start -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    @using (Ajax.BeginForm("DeletePreventiveMaintenanceRecordByVehicle", "PreventiveMaintenanceRecordByVehicle", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {

                        @Html.Hidden("id")
                        @Html.Hidden("idSearchDelete")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación - <span class="element-name"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                        </div>                        
                    }
                </div>
            </div>
        </div>
        <!-- Dele Modal End-->
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Control/PreventiveMaintenanceRecordByVehicle.min.js?v=@version-hf0"></script>
    <script>$(function () { ECO_Control.PreventiveMaintenanceRecordByVehicle.Init()});</script>
}
