﻿@using ECO_Efficiency.Business.Utilities
@using ECO_Efficiency.Models
@model ECO_Efficiency.Models.VehicleTransmissionReportBase

@{
    ViewBag.Title = "Reporte de Transmisiones de vehiculos";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string ModelInformation = (Model.List != null && Model.List.Any()) ? string.Empty : " No hay información para mostrar el reporte.";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "VehicleTransmissionReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Efficiency.VehicleTransmissionReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECO_Efficiency.VehicleTransmissionReport.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {
        @Html.HiddenFor(m => m.Parameters.key);
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.FilterVehicle, GeneralCollections.GetVehiclesByCustomer, "Vehículos:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "onClick", "ECO_Efficiency.VehicleTransmissionReport.OnClickFirstDate();" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row text-right">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" onclick="ECO_Efficiency.VehicleTransmissionReport.OnClickDownloadPartnerReport()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
            </div>
        </div>
    }
    <br />
    <div id="ControlsContainer"></div>

    @using (Html.BeginForm("DonwloadFile", "VehicleTransmissionReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
</div>

@section scripts {
    <script src="~/Scripts/Efficiency/VehicleTransmissionReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Efficiency.VehicleTransmissionReport.Init({});
            $('#datetimepickerStartDate').datepicker("setDate", new Date());
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}