﻿@model ECOsystem.Models.ProgramSendReportsBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Envío Programado de Reportes";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }

        [data-toggle=collapse] { 
            cursor: pointer;
        }

        [data-toggle=collapse] label {
            cursor: pointer;
            font-size: 15px;
            margin-top: 8px;
            display: block;
        }

        [data-toggle=collapse] label i {
            font-size:18px;
        }

        .line {
            border-right: 1px solid #ccc;
            height: 135px;
        }

        .line a {
            text-decoration: none;
            color: black;
        }

        .table.table-striped {
            margin-top: 10px;
            overflow: auto;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var module in Model.ReportsByModules)
                    {
                        <tr>
                            <td>
                                <div class="card-heading">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="middleCells">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-9" data-toggle="collapse" data-parent="#GridReports-@module.Module" href="#GridReports-@module.Module">
                                                        <h4>@module.Name</h4>
                                                    </div>
                                                    <div class="col-sm-3 btnDiscard" data-toggle="collapse" data-parent="#AddReport-@module.Module" href="#AddReport-@module.Module" module="@module.Module">
                                                        <label class="label label-success">
                                                            <i class="mdi mdi-plus"></i>Programar reporte
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ModuleConfiguration-@module.Module">
                                    @Html.Partial("_Partials/_ModuleConfiguration", module)
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_partials/_ConfirmationModals")


@section scripts {
    <script src="~/Scripts/Administration/ProgramSendReports.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.ProgramSendReports.Init();
        });

        // Solo permite ingresar numeros.
        function onlyNumbers(e) {
            var key = window.Event ? e.which : e.keyCode
            if ((key >= 48 && key <= 57) || (key == 8)) {
                return true
            }
            else {
                return false
            }

        }
    </script>
}
