﻿@model ECOsystem.Models.ProgramSendReportsBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Envío Programado de Reportes";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            @Html.Partial("_Partials/_ReportList", Model.List)            
        </div>
    </div>
</div>

<!-- Dele Modal Start-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @Html.Hidden("IsEmailRow")
            @Html.Hidden("ReportId")
            @Html.Hidden("RowId")
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea Eliminar el Registro?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="ECO_Admin.ProgramSendReports.DeleteRow()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/ProgramSendReports.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Admin.ProgramSendReports.Init();
            ECO_Admin.ProgramSendReports.GetData();
        });
    </script>
}
