﻿@{
    var site_version = (Session["APPLICATION_VERSION"] != null) ? Session["APPLICATION_VERSION"].ToString() : ECOsystem.Utilities.Session.GetVersionInfo();
 }

<footer class="site-footer col-md-12 col-lg-12">
    <div class="center top20 text-center">
        <img src="~/Content/Images/coincalogoflatgris.png" width="200" />

        <p class="text-center top20">Comunicaciones Inalámbricas de Centroamérica</p>
        <p class="text-center">Todos los Derechos Reservados.</p>
        <p class="text-center">
            <span class="pointer" data-toggle="modal" data-target="#contactenos">Dónde Estamos</span> | <span class="pointer" data-toggle="modal" data-target="#sobrenosotros">Sobre Nosotros</span>
        </p>
        <p class="text-center">
            @*<a href="#"><img class="footerIcon" src="~/Content/Images/Facebook.png" /></a>
            <a href="#"><img class="footerIcon" src="~/Content/Images/Twitter-Bird.png" /></a>
            <a href="#"><img class="footerIcon" src="~/Content/Images/Message-Mail.png" /></a>*@
        </p>
        <p class="text-center">&copy;@DateTime.Now.Year - Versión @site_version</p>
        <p class="center">
            <script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.intrack-eco.com&amp;size=S&amp;lang=es"></script>
        </p>
    </div>
</footer>
