﻿@model GridMvc.Pagination.GridPager
@{
    int PageCount = Model.PageCount;
    int CurrentPage = Model.CurrentPage;
    int StartDiplayedPage = Model.StartDisplayedPage;
    int EndDiplayedPage = Model.EndDisplayedPage;
    int PageSize = 50; //TODO: Tiene que ser configurable

    string requestCountStr = (ViewBag.MaxRowCount != null)? ViewBag.MaxRowCount.ToString() : string.Empty;
    string requestCurrentPageStr = (ViewBag.CurrentPage != null) ? ViewBag.CurrentPage.ToString() : string.Empty;

    if (!string.IsNullOrEmpty(requestCountStr))
    {
        int maxRowCount = 0;
        Int32.TryParse(requestCountStr, out maxRowCount);

        if (maxRowCount == 0)
        {
            return;
        }
        PageCount = (int)Math.Ceiling((double)maxRowCount / PageSize);
        Int32.TryParse(requestCurrentPageStr, out CurrentPage);
        StartDiplayedPage = CurrentPage > 1 ? CurrentPage - 1 : 1;
        EndDiplayedPage = CurrentPage < PageCount ? CurrentPage + 1 : PageCount;
    }

    if (Model == null || PageCount <= 1)
    {
        return;
    }
}
<div class="grid-pager">
    <ul class="pagination">
        @if (CurrentPage > 1)
        {
            <li>
                <a href="@Model.GetLinkForPage(CurrentPage - 1)">«</a>
            </li>
        }

        @if (StartDiplayedPage > 1)
        {
            <li>
                <a href="@Model.GetLinkForPage(1)">1</a>
            </li>
            if (StartDiplayedPage > 2)
            {
            <li><a href="@Model.GetLinkForPage(StartDiplayedPage - 1)">...</a></li>
            }
        }
        @for (int i = StartDiplayedPage; i <= EndDiplayedPage; i++)
        {
            if (i == CurrentPage)
            {
            <li class="active"><span>@i</span></li>
            }
            else
            {
            <li><a href="@Model.GetLinkForPage(i)">@i</a></li>
            }
        }
        @if (EndDiplayedPage < PageCount)
        {
            if (EndDiplayedPage < PageCount - 1)
            {
            <li><a href="@Model.GetLinkForPage(EndDiplayedPage + 1)">...</a></li>
            }
            <li><a href="@Model.GetLinkForPage(PageCount)">@PageCount</a></li>
        }
        @if (CurrentPage < PageCount)
        {
            <li><a href="@Model.GetLinkForPage(CurrentPage + 1)">»</a></li>
        }
    </ul>
</div>
