﻿@model GridMvc.Pagination.GridPager
@{
    Model.ItemsCount = 500; //Get Current Count from Backend

    if (Model == null || Model.PageCount <= 1)
    {
        return;
    }
    
    int CurrentPage = 1;
    int StartDisplayedPage = (CurrentPage - Model.ItemsCount / 2) < 1 ? 1 : CurrentPage - Model.ItemsCount / 2;
    
    if(ViewBag.CurrentPage != null){
        Int32.TryParse(ViewBag.CurrentPage.ToString(), out CurrentPage);
    }
}
<div class="grid-pager">
    <ul class="pagination">
        @if (CurrentPage > 1)//(Model.CurrentPage > 1)
        {
            <li>
                <a href="@Model.GetLinkForPage(CurrentPage - 1)">«</a>
            </li>
        }

        @if (Model.StartDisplayedPage > 1)
        {
            <li>
                <a href="@Model.GetLinkForPage(1)">1</a>
            </li>
            if (Model.StartDisplayedPage > 2)
            {
            <li><a href="@Model.GetLinkForPage(Model.StartDisplayedPage - 1)">...</a></li>
            }
        }
        @for (int i = Model.StartDisplayedPage; i <= Model.EndDisplayedPage; i++)
        {
            if (i == CurrentPage)//(i == Model.CurrentPage)
            {
            <li class="active"><span>@i</span></li>
            }
            else
            {
            <li><a href="@Model.GetLinkForPage(i)">@i</a></li>
            }
        }
        @if (Model.EndDisplayedPage < Model.PageCount)
        {
            if (Model.EndDisplayedPage < Model.PageCount - 1)
            {
            <li><a href="@Model.GetLinkForPage(Model.EndDisplayedPage + 1)">...</a></li>
            }
            <li><a href="@Model.GetLinkForPage(Model.PageCount)">@Model.PageCount</a></li>
        }
        @if (CurrentPage < Model.PageCount)
        {
            <li><a href="@Model.GetLinkForPage(CurrentPage + 1)">»</a></li>
        }
    </ul>
</div>
