﻿<div class="header">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column col-md-offset-3">
                <img height="110px" src="~/Content/Images/logo.png" id="logo" />
            </div>
            <div class="col-md-6 column col-md-offset-4">
                <ul class="headerItems pull-right">
                    @*<li class="pull-right mainfont18">
                    Servicio al Cliente (506) 2205-5600
                </li>
                <li class="pull-right mainfont18">
                    |
                </li>*@
                    <li class="pull-right mainfont18" data-toggle="modal" data-target="#sobrenosotros">
                        Sobre Nosotros
                    </li>
                    <li class="pull-right mainfont18">
                        |
                    </li>
                    <li class="pull-right mainfont18" data-toggle="modal" data-target="#contactenos">
                        Dónde Estamos
                    </li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
</div>
@Html.Partial("_HeaderModals")
