﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home Page - Service Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/default_css")
</head>
<body>
    <div id="body">
        @*@RenderSection("featured", required: false)*@

        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Service Home Page.</h1>
                    <h2>Sitio de Servicios.</h2>
                </hgroup>
                <p>
                    Este es un sitio de servicios. Contácte a su administrador si está accediendo a este Home Page.
                </p>
            </div>
        </section>

        <section class="content-wrapper main-content clear-fix">
             @RenderBody()
            <h3>Le sugerimos seguir los siguientes pasos:</h3>
            <ol class="round">
                <li class="one">
                    <h5>*Contacte a su administrador</h5>
                    Contacte a su administrador para que le provea el acceso adecuado al sitio de servicios, indicandole los accesos adecuados.
                </li>

                <li class="two">
                    <h5>*Acceso al servicio</h5>
                    Si se intenta acceder aún servicio y despliega este Home Page, por favor contactarnos al siguiente correo <a href="mailto:casosti@coinca.tv" target="_top">casosti@coinca.tv</a>.
                </li>
            </ol>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - COINCA Telematics</p>
            </div>
        </div>
    </footer>
</body>
</html>
