﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ECOSystem</title>
    @Styles.Render("~/bundles/bootstrap_css")
    @Styles.Render("~/Content/Fonts/font-awesome")
    @Styles.Render("~/bundles/menu_css")
    <link href="~/Content/Styles/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />


    @if (ViewBag.HasGrid != null && ViewBag.HasGrid)
    {
        @Styles.Render("~/bundles/gridmvc_css")
    }

    @{
        var configTemplate = System.Configuration.ConfigurationManager.AppSettings["TEMPLATE_TYPE"];
    }

    @RenderSection("styles", required: false)
</head>
<body>
    <div id="principal" class="col-md-12 col-lg-12">
        @{
            switch (configTemplate)
            {
                case "1": // 1 COINCA
                    @Html.Partial("_InternalHeader");
                    break;
                case "2": // 2 BAC
                    @Html.Partial("BAC/_InternalHeader");
                    break;
                case "3": // 3 LineVita
                    @Html.Partial("LineVita/_InternalHeader");
                    break;
            }
        }


        <div class="page-wrap">
            <div class="col-md-12 col-lg-12 @ViewBag.Full_Width">
                @RenderBody()
            </div>
        </div>
        <div id="confirmation" style=" position:fixed; display:none; bottom:-20px; width:100%; z-index:1000000; background-color:#5cb85c; color:#fff" class="alert alert-success fadeConfirmation center" role="alert">Transacción Exitosa!</div>
        <div>
            @Html.Partial("_PartialModulePermissionMessage")
        </div>
    </div>
    @{
        switch (configTemplate)
        {
            case "1": // 1 COINCA
                @Html.Partial("_Footer");
                break;
            case "2": // 2 BAC
                @Html.Partial("BAC/_Footer");
                break;
            case "3": // 3 LineVita
                @Html.Partial("LineVita/_Footer");
                break;
        }
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap_js")
    @Scripts.Render("~/bundles/menu_js")

    <script src="~/Scripts/Utilities/utilities.min.js"></script>
    <script src="~/Scripts/Administration/CustomersByPartner.min.js"></script>

    @if (ViewBag.HasGrid != null && ViewBag.HasGrid)
    {
        @Scripts.Render("~/bundles/gridmvc_js")

        <script>
            $(function () {
                ECO_Insurance.Utilities.InitGrid();
            });
        </script>
    }

    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(function () {
            ECO_Insurance.Utilities.Init(
            {
                menuPath: '@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]',
                Url: '@System.Configuration.ConfigurationManager.AppSettings["AppUrl"]'
            });
        });

        var $document = $(document);

        handleAjaxError = function (XMLHttpRequest, textStatus, errorThrown) {
            if (XMLHttpRequest.status == 401) {
                //refresh the page, as we are not longer authorized
                location.reload();
            }
        };

        $document.ajaxComplete(function (event, XMLHttpRequest, AjaxOptions) {
            handleAjaxError(XMLHttpRequest);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
