﻿<!DOCTYPE html>
<html>
<head>
    <title>ECOSystem</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">   
    @Styles.Render("~/bundles/bootstrap_css")
    @*<link href="~/Content/SiteMaps.css" rel="stylesheet" />*@
    <link href="~/Content/Styles/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />  
   
</head>
<body>    
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap_js")

    @RenderSection("scripts", required: false)    
</body>
</html>





