﻿@if (Request.IsAuthenticated)
{
    <div class="text-primary"><strong>Bienvenido: </strong>@ECOsystem.Utilities.Session.GetUserInfo().DecryptedName!</div>
    <div class="text-right top10">
        @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()"><strong>Salir</strong></a>
        }*@
            @if (ViewBag.CustomerName != null)
            {
                <select class="form-control" id="ddlCustomer" onchange="ECOsystem.CustomersByPartner.OnSelectCustomer();" required>
                    @if (ViewBag.Customer != null)
                    {

                        foreach (var item in ViewBag.Customer)
                        {
                            if (item.DecryptedCustomerName == null || item.DecryptedCustomerName == "")
                            {
                                var valor = item.PartnerId + "|" + item.RoleName.Replace(" ", "_") + "|" + item.CountryId + "|" + item.CustomerLogo + "|" + 1 + "|" + item.RoleNameTemp;
                                if (ViewBag.ProfileId == item.PartnerId)
                                {
                                        <option value=@valor selected>@item.Name</option>
                                }
                                else
                                {
                                        <option value=@valor>@item.Name</option>
                                 }
                            }
                            else
                            {
                                var valor = item.CustomerId + "|" + item.RoleName.Replace(" ", "_") + "|" + item.CountryId + "|" + item.CustomerLogo + "|" + 2 + "|" + item.RoleNameTemp;
                                if (ViewBag.ProfileId == item.CustomerId)
                                 {
                                        <option value=@valor selected>@item.DecryptedCustomerName</option>
                                 }
                                 else
                                 {
                                         <option value=@valor>@item.DecryptedCustomerName</option>
                                 }
	                        }
                                                   
                            
                            
                        }
                    }

                </select>
                
                
                
            }

    </div>
    
    
}