﻿@model  IEnumerable<ECOsystem.Models.Account.AccountMenus>

<div class="modal fade" id="confirmModalSearch" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Perdida de Datos Actualizados</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea navegar hacia otra opción del menú y perder los cambios sobre los elementos coloreados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" data-btnmodal="true" class="btn btn-primary" onclick="onClickAcceptChangesLost()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper" class="shadow">
    <div class="sidebar" role="navigation">
        <ul class="sidebar-nav" id="side-menu2">
            @foreach (var menu in Model)
            {
                var parentId = menu.MenuId;
                if (menu.IsParent == true)
                {
                    <li onclick="ECO_Efficiency.Utilities.SetMenuItemActive(@menu.MenuId)">
                        @if (menu.Ico != "" && menu.Controller == null && menu.Action == null)
                        {
                            <a data-toggle="collapse-menu" href="#">
                                <img src="@Url.Content(menu.Ico)" /><span id="menu-title"> @menu.Name <span class="caret"></span></span>
                            </a>
                            <ul class="option-collapse">
                                @foreach (var x in Model.Where(w => (w.Parent) == parentId))
                                {
                                    <li class="">
                                        @if (x.Controller == "ContinuosMonitoring")
                                        {
                                            <a class="@x.Controller@x.Action" url="" href="@Url.Action(x.Action + "/", x.Controller)" target="_blank">@x.Name</a>
                                        }
                                        else
                                        {
                                            <a class="@x.Controller@x.Action" url="@Url.Action(x.Action + "/", x.Controller)" href="#" onclick="onClickMenuOption(this)">@x.Name </a>
                                        }

                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
                else if (menu.Ico != "" && menu.Controller != null && menu.Action != null)
                {
                    <li class="liMenu">
                        <a class="@menu.Name" href="#" url="@Url.Action(menu.Action + "/", menu.Controller)" onclick="onClickMenuOption(this)">
                            <img src="@Url.Content(menu.Ico)">
                            <span id="menu-title"> @menu.Name</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>


<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $(".option-collapse.in").collapse('hide');
        }
    });

    $('[data-toggle="collapse-menu"]').click(function (e) {
        if ($("#wrapper").hasClass("toggled")) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        }
    });

    var onClickMenuOption = function (obj) {
        debugger;
        var _value = 0;
        url = $(obj).attr("url");
        $('#gridContainer tr').each(function (i) {

            if (($(this).css('background-color') === 'rgb(255, 255, 115)')) {
                _value++
            }

        });
        if (_value > 0) {
            $("#confirmModalSearch").modal('show');
        } else {
            window.location.replace(url);
        }

    }
</script>