﻿<div class="top20">

    <div class="modal fade" id="permissionModuleModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <b>Acceso Denegado | Intrack-ECOsystem</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                     <div class="col-md-8">
                         <p style="padding-top:20px;">
                             <h4><b>Requieres permisos...</b></h4>
                             No tienes los permisos para acceder a este módulo. Si deseas que habilitemos este módulo 
                             puedes contactar a <b>servicio al Cliente al 2205-5600</b>.
                         </p>
                     </div>
                     <div class="col-md-4">
                         <img src="~/Content/Images/locked.png" width="140" />
                     </div>   
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Regresar
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</div>
