﻿@model ECOsystem.Models.Miscellaneous.CustomError

<div class="top20">

    <div class="modal fade" id="errorModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="panel panel-warning" style="border-color: #428bca; background-color: #FFFFD5">
                <div class="panel-heading" style="background-color: #428bca; color: #FFFFD5; font-weight: bold"><a href="@Model.ReturnUlr" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>&nbsp;&nbsp;&nbsp;Atención</div>
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-info" style="border:none; background-color: #FFFFD5">
                            <div class="panel-heading" style="background-color: #FFFFD5;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="text-primary" data-parent="#accordion" href="#collapseOne" style="font-weight: bold; color:#428bca;">
                                        <i class="fa fa-exclamation-triangle fa-3x" style="padding-right: 20px;"></i>
                                         @Model.TitleError
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body" style="border: none;">
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-11">
                                            @Model.TechnicalError
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a class="btn btn-primary" href="@Model.ReturnUlr">
                                <i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#errorModal').modal('show');
</script>