﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Cambiar Cuentas";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <label style="padding-bottom: 10px; padding-top: 10px; font-size: 18px;">
                <i class="glyphicon glyphicon-user"></i>&nbsp;¡Usted ya ha iniciado sesión!</label>
            <p>
                Usted ya ha iniciado sesión con otra cuenta por favor utilize las siguientes opciones:
            
            </p>
            @using(Html.BeginForm("LogOff", "Account", null, FormMethod.Post))  {
                <div class="btn-group btn-group" role="group" aria-label="Default button group">
                    <a id="loginLink" class="btn btn-default" href="/">Mantenerme con esta cuenta</a>
                    <button class="btn btn-info" type="submit" >Iniciar Sesión con otra cuenta</button>
                </div>
            }
        </div>
        <div class="col-md-6 column">
            <img src="~/Content/Images/vehiculos.png" id="imagenvehiculos" />
        </div>
    </div>
</div>
