﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h4 class="text-danger">Error.</h4>

<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-md-12 column" id="loginFrame">
            <section id="">
                <div>
                    <p>
                        @{
                            if (String.IsNullOrEmpty(ViewBag.errorMessage))
                            {
                                <span class="text-danger">Ocurrió un error mientras se procesaba su solicitud.</span>
                            }
                            else
                            {
                                <span class="text-danger">@ViewBag.errorMessage</span>
                            }
                        }
                    </p>
                </div>
            </section>
        </div>       
    </div>
</div>