﻿@model ECOsystem.Management.Models.Parameters
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Parámetros de Gestión";
    ViewBag.Management = "active";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">

                @using (Ajax.BeginForm("ManagementParametersAddOrEdit", "Parameters", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = "ECO_Management.ManagementParameters.ShowLoader()",
                    OnSuccess = "ECO_Management.ManagementParameters.OnCompleteAddOrEdit(data)"
                }, new { id = "LoadMenuForm" }))
                {
                    @Html.HiddenFor(m => m.ReconstructionType, "1")
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                APP Móvil
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.Label("Tiempo Sincronización de Datos (Minutos): ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.DataSync, "", new { @class = "form-control", @placeholder = "Minutos", @type = "number", @min = "1", @max = "1440" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Nombre de Movimientos de los Agentes (Traslados):")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.MovementName, "", new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-text-shadow"></span>
                                        </span>
                                    </div>
                                </div>
                                @*<div class="col-sm-4" style="height:83px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label><strong>Tipo de Visualización en Reconstrucción de Recorrido:</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr class="grid-row ">
                                                    <td>
                                                        <div class="mdl-radio">
                                                            <label style="font-weight:normal">
                                                                @Html.RadioButtonFor(m => m.ReconstructionType, "1", new { @class = "rdDots" })
                                                                Puntos
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="mdl-radio">
                                                            <label style="font-weight:normal">
                                                                @Html.RadioButtonFor(m => m.ReconstructionType, "2", new { @class = "rdbLines" })
                                                                Lineas
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Parámetros Cumplimiento <i class="mdi mdi-32px mdi-help-circle-outline" style="cursor:pointer; color:blue;" data-toggle="modal" data-target="#ExampleParametersModal"></i>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.Label("Hora Inicio de Jornada:")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.TimeBeginJourney, "", new { @class = "form-control ", @placeholder = "Hora", @type = "number", @min = "00", @max = "23" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Hora Fin de Jornada:")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.TimeFinishJourney, "", new { @class = "form-control number-only", @placeholder = "Hora", @type = "number", @min = "00", @max = "23" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr style="border-top: 1px solid #ccc;" />
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Margen Mayor: ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.TopMargin, "", new { @class = "form-control number-only", @placeholder = "Minutos", @type = "number", @min = "0" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Margen Menor: ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.LowMargin, "", new { @class = "form-control number-only", @placeholder = "Minutos", @type = "number", @min = "0" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr style="border-top: 1px solid #ccc;" />
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Calificación Mayor: ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.TopPercent, "", new { @class = "form-control number-only", @placeholder = "Porcentaje", @type = "number", @min = "0" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-percent"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Calificación Media: ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.MiddlePercent, "", new { @class = "form-control number-only", @placeholder = "Porcentaje", @type = "number", @min = "0" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-percent"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Calificación Menor: ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.LowPercent, "", new { @class = "form-control number-only", @placeholder = "Porcentaje", @type = "number", @min = "0" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-percent"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr style="border-top: 1px solid #ccc;" />
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Tiempo Mínimo en una Gestión (Minutos): ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.ClientMinutes, "", new { @class = "form-control number-only", @placeholder = "Minutos", @type = "number", @min = "00" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Tiempo Máximo perdido (Minutos): ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.LostMinutes, "", new { @class = "form-control number-only", @placeholder = "Minutos", @type = "number", @min = "00" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Tiempo Máximo en Movimiento (Minutos): ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.MovingMinutes, "", new { @class = "form-control number-only", @placeholder = "Minutos", @type = "number", @min = "00" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Paradas
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.Label("Tiempo mínimo para considerarse parada (Segundos): ")
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.StopMinimumTime, "", new { @class = "form-control number-only", @placeholder = "Segundos", @type = "number", @min = "1" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-clock"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Distancia máximo para considerarse parada (Metros): ")
                                    @Html.TextBoxFor(m => m.StopMinimumDistance, "", new { @class = "form-control number-only", @placeholder = "Metros", @type = "number", @min = "1" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Velocidad máximo para considerarse parada (Km/h): ")
                                    @Html.TextBoxFor(m => m.StopMinimumSpeed, "", new { @class = "form-control number-only", @placeholder = "Km/h", @type = "number", @min = "1" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Movimientos
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.Label("Desplazamiento mínimo para considerarse un movimiento dentro de una gestión (Metros): ")
                                    @Html.TextBoxFor(m => m.ManagementMinDistance, "", new { @class = "form-control number-only", @placeholder = "Metros", @type = "number", @min = "0", @step = "1" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-success"><i class="mdi mdi-check"></i>&nbsp;Guardar Parámetros</button>
                        </div>
                    </div>
                }
                <div id="ControlsContainer"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="onSaveColumn" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Protocolos<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p>La información fue almacenada correctamente...!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExampleParametersModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Parámetros Cumplimiento</h4>
            </div>
            <div class="modal-body">
                Ejemplo de Márgenes de Cumplimiento:<br />
                <br />
                <b>Margen Mayor:</b> 40<br />
                <b>Margen Menor:</b> 10<br />
                <br />
                Ejemplo de Calificación de Metas:<br />
                <br />
                <b>Calificación Mayor:</b> 100%<br />
                <b>Calificación Media:</b> 70%<br />
                <b>Calificación Menor:</b> 30%<br />
                <br />
                Ejemplo de Calificaciones:<br />
                <br />
                <b>Alta:</b> Si el Inicio de Evento es las 08:00 am y se inició a las 07:45 am, el ejecutivo tendrá una calificación del 100%. La calificación será 100% si la hora de inicio es  08:05 am ya que la diferencia de minutos es menor al margen menor.<br />
                <br />
                <b>Media:</b> Si el Inicio de Evento es las 08:00 am y se inició a las 08:35 am, el ejecutivo tendrá una calificación de 70%. Debido a que la hora de inicio está entre los márgenes.<br />
                <br />
                <b>Baja:</b> Si el Inicio de Evento es las 08:00 am y se inició a las 08:45 am, el ejecutivo tendrá una calificación de 30%.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Management/ManagemetParameters.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.ManagementParameters.Init();
        });
    </script>
}
