﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.SettingOdometers>
@using GridMvc.Sorting
@{
    string messageLarge = "Seleccione los odómetros que no desea contabilizar dentro de las alertas.";
    string showResult = ViewBag.IsResult != true ? "hidden" : "";
    string showCheck = ViewBag.OdometerType != null ? ViewBag.OdometerType == 2 ? "hidden" : "" : "";
}

<style type="text/css">
    .boldText {
        font-weight: bold;
    }

    .numericAlign {
        text-align: right;
    }
</style>

@if (Model.Count() > 99)
{
    messageLarge = messageLarge + "La lista de odómetros se muestra en grupos de 100, iniciando con el mas reciente. La descarga del reporte puede tardar varios minutos.";
}
@if (Model != null && Model.Any())
{
    if (string.IsNullOrEmpty(showCheck))
    {
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;@messageLarge
        </div>
    }
    <div class="row"> 
        <div class="col-sm-12 pull-left">
            <button type="button" class="btn btn-primary " onclick =" ECOsystem.Areas.Admin.SettingOdometers.ValidateAmounts();" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Actualizar</button>
            <button type="button" onclick=" ECOsystem.Areas.Admin.SettingOdometers.OnClickDownloadOdometers();" class="btn btn-success"><i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel</button>
        </div>
    </div>
    <div class="row">
        <div id="validationAmountError2" class="col-sm-12 hide">
            <br />
            <div id="errorAmountMsj2" class="alert alert-warning col-lg-12" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28); margin-bottom: -10px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        </div>
    </div>
    @(Html.Grid(Model)
        .Selectable(true)
        .Columns(c =>
        {
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                    <label style="font-weight:bold;">
                        <input type="checkbox" class="showalert" data-status="@m.ShowAlert" id="@m.TransactionId" checked="@m.ShowAlert">
                    </label>
                </div>)
                .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                            "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"chkCheckAll\"> </label>" +
                                "</span>" +
                            "</div>")
                .Css(showCheck);
            c.Add(m => m.Date).Titled("<span class=\"sortableColumn\" onclick=\" ECOsystem.Areas.Admin.SettingOdometers.SortColumn('Date');\">Fecha</span>").SetWidth(40);
            c.Add(m => m.VehicleName).Titled("<div class=\"center\">Nombre del<br />Vehiculo</div>");
            c.Add(m => m.PlateId).Titled("Placa");
            c.Add(m => m.DecryptedDriverName).Titled("Conductor");
            c.Add(m => m.DecryptedDriverIdentification).Titled("Identificación");
            c.Add()
                .RenderValueAs(m => @<span class="pull-right">@m.CapacityUnitValueStr</span>)
                .Titled("<div class=\"center\">" + ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + "<br />Consumidos</div>")
                .Sanitized(false)
                .Encoded(false);
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<div style="width:100px;">
                                        <div class="input-group">
                                            <input id="txtodometerBeforelast_@m.TransactionId" transactionid="@m.TransactionId" type="text" class="form-control text-right getOdometerBeforeLast" value="@m.OdometerBeforeLastStr" data-currency="true">                       
                                        </div>
                                    </div>)
                .Titled("<div class=\"center\">Odometro Tras<br />Anterior</div>");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<div style="width:100px;">
                                        <div class="input-group">
                                            <input id="txtodometerlast_@m.TransactionId" transactionid="@m.TransactionId" type="text" class="form-control text-right getOdometerLast" value="@m.OdometerLastStr" data-currency="true">                        
                                        </div>
                                    </div>)
                .Titled("<div class=\"center\">Odómetro<br />Anterior</div>");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<div style="width:100px;">
                                        <div class="input-group">
                                            <input id="txtodometer_@m.TransactionId" transactionid="@m.TransactionId" type="text" class="form-control text-right calculateactual" value="@m.OdometerStr" data-currency="true">
                                        </div>                                        
                                    </div>)
                .Titled("<div class=\"center\">Odómetro<br />Actual</div>");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<label class="pull-right" id="lblTravel_@m.TransactionId" value="@m.Travel" data-currency="true">@m.TravelStr</label>)
                .Titled("<span class=\"sortableColumn\" onclick=\" ECOsystem.Areas.Admin.SettingOdometers.SortColumn('Travel');\">Recorrido</span>");
            c.Add()
                .RenderValueAs(m => @<span class="pull-right">@m.DefaultPerformance</span>)
                .Titled("<div class=\"center\">Rendimiento<br />Esperado</div>")
                .Sanitized(false)
                .Encoded(false);
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<label class="pull-right" id="lblPerformance_@m.TransactionId" value="@m.Performance" data-currency="true">@m.Performance</label>)
                .Titled("<div class=\"center\">Rendimiento<br />Real</div>");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => m.ResultStr)
                .Css(showResult);
        }).SetRowCssClasses(m => m.Selected != null ? (bool)m.Selected ? "selectRow selectRowOdometer" : string.Empty : string.Empty)
    )

    <br />
    <div id="validationAmountError2" class="col-sm-6 hide">
        <div id="errorAmountMsj2" class="col-sm-12 text-danger">
        </div>
    </div>
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary" onclick=" ECOsystem.Areas.Admin.SettingOdometers.ValidateAmounts();" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Actualizar</button>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
<br /> 