﻿@model ECOsystem.Models.Core.Partners

@{
    var logo = Model.Logo;
    var user = ECOsystem.Utilities.Session.GetUserInfo();

    string ClassReadOnly = "";
    int PartnerTypeId = 0;
    if (Model.PartnerId != null && Model.PartnerId > 0)
    {
        ClassReadOnly = "readonly";
        PartnerTypeId = Model.PartnerTypeId;
    }
    <input id="productinfo" class="hidden" name="Header" value=@PartnerTypeId />
}

<style>
    .tableHeader {
        position: relative;
        height: 30px;
        background-color: #003594;
        color: #fff;
    }
</style>

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1100px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.PartnerId)
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Socio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Socio", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PartnerTypeId, new { @class = "col-sm-14 control-label" })
                            @if (ClassReadOnly != "")
                            {
                                @Html.TextBoxFor(m => m.PartnerTypeName, new { placeholder = "Tipo de Socio", @class = "form-control", autofocus = "", id = "PartnerTypeName", @readonly = "true" })
                                <div data-name="PartnerTypIdGroup" class="form-group hide">
                                    @Html.TextBoxFor(m => m.PartnerTypeId, new { placeholder = "IDTipoSocio", @class = "form-control", autofocus = "", id = "PartnerTypeId", visible = "false" })
                                </div>
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.PartnerTypeId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetPartnerTypes, "Seleccione el tipo de Socio", new { @class = "form-control", id = "PartnerTypeId" })
                            }
                            @Html.ValidationMessageFor(m => m.PartnerTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CountryId, new { @class = "col-sm-14 control-label" })
                            @Html.DropDownListFor(m => m.CountryId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCountries, "Seleccione el País", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" data-financial="true">
                            @Html.LabelFor(m => m.CapacityUnitId, new { @class = "col-sm-14 control-label" })
                            @Html.DropDownListFor(m => m.CapacityUnitId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCustomersUnitsOfCapacity, "Unidad de Medida de Combustible", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CapacityUnitId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" data-financial="true">
                            @Html.LabelFor(m => m.FuelErrorPercent, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.FuelErrorPercent, new { placeholder = "Porcentaje Error en Precio de Combustible", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.FuelErrorPercent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProductTypesId, new { @class = "col-sm-14 control-label" })
                            @Html.DropDownListFor(m => m.ProductTypesId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetProductTypes, "Seleccione el tipo de Producto", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ProductTypesId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <div class="form-group" data-financial="true">
                                @Html.Label("lblIVRLink", "Dirección IVR", new { @class = "col-sm-14 control-label" })
                                @Html.TextBoxFor(m => m.IVRLink, new { placeholder = "Dirección IVR", @class = "form-control", autofocus = "" })
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                @Html.Label("lblIVRPhone", "Teléfono IVR", new { @class = "col-sm-14 control-label" })
                                @Html.TextBoxFor(m => m.IVRPhone, new { placeholder = "Teléfono IVR", @class = "form-control", autofocus = "" })
                                @Html.ValidationMessageFor(m => m.IVRPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <img class="pic" src="@logo" id="imgLogo" width="132" height="128"  onerror="this.src='/Content/Images/default_photo.jpg'"/>
                                    <div class="progress_bar">
                                        <div class="percent">
                                            0%
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.Logo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="btnUpload" type="button" class="btn btn-primary"><i class="mdi mdi-upload"></i>&nbsp;&nbsp;Cargar Logo</button>
                                    <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Users" aria-controls="home" role="tab" data-toggle="tab">Usuarios</a></li>
                                <li role="presentation"><a href="#API" aria-controls="profile" role="tab" data-toggle="tab">Web API</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Users">
                                    <br />
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-14 control-label">Nombre Usuario</label>
                                                    <input id="txtTempName" type="text" value="" placeholder="Nombre Usuario" class="form-control" />
                                                    <div id="validationUserName" class="form-group hide">
                                                        <div id="errorUserMsjName" class="col-sm-12 text-danger text-right control-label">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-14 control-label">Correo</label>
                                                    <input id="txtTempEmail" type="text" value="" placeholder="Correo Electrónico" class="form-control" />
                                                    <div id="validationUserEmail" class="form-group hide">
                                                        <div id="errorUserMsjEmail" class="col-sm-13 text-danger text-center">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.RoleName, new { @class = "col-sm-14 control-label" })
                                                    @Html.DropDownListFor(m => m.RoleName, @ECOsystem.Areas.Coinca.Controllers.PartnersController.RetrieveRolesPartners("PARTNER_ADMIN"), "Seleccione un Rol", new { @class = "form-control", autofocus = "", id = "RolList" })
                                                    <div id="validationUserRole" class="form-group hide">
                                                        <div id="errorUserMsjRole" class="col-sm-13 text-danger text-center">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="margin-top: 25px;">
                                                <button id="btnAddUser" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i>&nbsp;Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="grid-header tableHeader">Nombre Completo de Usuario</th>
                                                        <th class="grid-header tableHeader">Correo Electrónico</th>
                                                        <th class="grid-header tableHeader">Rol</th>
                                                        <th class="grid-header tableHeader"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableUser"></tbody>
                                                <tfoot id="tableRegisteredUsers">
                                                    @if (Model.TempUsersList != null && Model.TempUsersList.Any())
                                                    {
                                                        foreach (var item in Model.TempUsersList)
                                                        {
                                                            <tr>
                                                                <td class="grid-cell">@item.UserFullName</td>
                                                                <td class="grid-cell">@item.UserEmail</td>
                                                                <td class="grid-cell">@item.RoleName</td>
                                                                <td class="grid-cell grid-col-btn">&nbsp;</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="API">
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.DisplayApiUserName, new { @class = "col-sm-14 control-label" })
                                                    @Html.TextBoxFor(m => m.DisplayApiUserName, new { placeholder = "Nombre Usuario API", @class = "form-control", @autocomplete = "off" })
                                                    @Html.ValidationMessageFor(m => m.DisplayApiUserName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @if (Model.PartnerId == null)
                                            {
                                                <div class="col-sm-8">
                                                    <div data-name="PasswordAPI" class="form-group">
                                                        @Html.LabelFor(m => m.DisplayApiPassword, new { @class = "col-sm-14 control-label" })
                                                        @Html.PasswordFor(m => m.DisplayApiPassword, new { placeholder = "Contraseña API", @class = "form-control", @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(m => m.DisplayApiPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div data-name="PasswordAPI" class="form-group">
                                                        @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-sm-14 control-label" })
                                                        @Html.PasswordFor(m => m.PasswordConfirm, new { placeholder = "Confirmar Contraseña", @class = "form-control", @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-8">
                                                    <div data-name="PasswordAPI" class="form-group hide">
                                                        @Html.LabelFor(m => m.DisplayApiPassword, new { @class = "col-sm-14 control-label" })
                                                        @Html.PasswordFor(m => m.DisplayApiPassword, new { placeholder = "Contraseña API", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.DisplayApiPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div data-name="PasswordAPI" class="form-group hide">
                                                        @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-sm-14 control-label" })
                                                        @Html.PasswordFor(m => m.PasswordConfirm, new { placeholder = "Confirmar Contraseña", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        @if (Model.PartnerId != null)
                                        {
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        @Html.CheckBoxFor(m => m.ChangePassword)&nbsp;Cambiar Contraseña API
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="globalValidation" class="row top30 hide">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div id="errorValidationMsj" class="col-sm-12 text-danger">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnSavePartnerInfo" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>