﻿@model IEnumerable<ECOsystem.Models.Core.Partners>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">

            @(Html.Grid(Model)
                .Columns(c =>
                {
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .Titled("Logo")
                        .RenderValueAs(m => @<div class="user-logo"><img src="@m.Logo" onerror="this.src='/Content/Images/default_photo.jpg'"/></div>);
                    c.Add(m => m.Name).Titled("Nombre del Socio");
                    c.Add(m => m.PartnerTypeName).Titled("Tipo de Socio");
                    c.Add(m => m.CountryName).Titled("País");
                    c.Add(m => m.DisplayApiUserName).Titled("Usuario para API");
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(100)
                        .RenderValueAs(m => @<span>
                            <a href="#" class="edit-color" id="@m.PartnerId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.PartnerId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                        </span>).Css("grid-col-btn");

                })
                .Selectable(true)
            )

        </div>
    </div>
     
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
