﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.VehicleByGeoFenceBase
@{    
    ViewBag.Localizacion = "active";
    ViewBag.Geofence = "active";
    ViewBag.VehiclesByGeoFenceIndex = "active";
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "LINEVITA_ADMIN")
    {
        ViewBag.Title = "Vehículo asociado a la Geocerca";
    }
    else
    {
        ViewBag.Title = "Vehículos por GeoCerca";
    }

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .bs-callout-blue {
            border-left-color: #006CB0;
        }

        .bs-callout {
            border: 1px solid #006CB0;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-color-blue {
            color: #006CB0;
        }

        .scrol-list {
            overflow-y: auto;
            height: 406px;
        }

        .box {
            cursor: pointer;
        }

        div.sortable-placeholder {
            border: 2px dashed #006CB0;
            background: #FCF8E3;
            height: 80px;
        }
        
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
{
    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "LINEVITA_ADMIN")
    {
        <input class="hidden" name="Header" value="18" />
    }
    else
    {
        <input class="hidden" name="Header" value="1" />
    }
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}




    <div id="page-content-wrapper">       

        @using (Ajax.BeginForm("LoadVehiclesByGroup", "VehiclesByGeoFence", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = "ECO_Efficiency.VehiclesByGeoFence.OnSuccessLoad()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id", "")
        }
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.GeoFenceId, GeneralCollections.GetGeoFences, "Seleccione una Geocerca", new { @class = "form-control fbold" })
            </div>            
        </div>
        <br />

        @using (Ajax.BeginForm("AddOrEditVehiclesByGroup", "VehiclesByGeoFence", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = "ECO_Efficiency.VehiclesByGeoFence.OnSuccessLoad(); ECOsystem.Utilities.setConfirmation();"
        }, new { id = "saveForm" }))
        {
            @Html.Hidden("GeoFenceId", Model.GeoFenceId)

            <div class="row top30" style="height: 400px;">
                <div class="col-sm-12" id="DragAndDropContainer">
                    @Html.Partial("_partials/_List", Model.Data)
                </div>
            </div>
        }
    </div>
@section scripts {
    <script src="~/Scripts/Efficiency/VehiclesByGeoFence.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Efficiency.VehiclesByGeoFence.Init();
        });

    </script>
}
