﻿@model IEnumerable<ECOsystem.Models.Account.AccountMenus>
@{
    ViewBag.Title = "Importar Datos para FleetCard";
    ViewBag.Administration = "active";
    ViewBag.AdministrationImport = "active";
    ViewBag.AdminVehiclesImport = "active";

    ViewBag.Full_Width = "full_width";

    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            transition: opacity 1s linear;
            width: 246px;
            top: 10px;
            left: 20px;
        }

            .progress_bar.loading {
                opacity: 1.0;
            }

            .progress_bar .percent {
                background-color: #3090d1;
                height: auto;
                width: 0;
                padding-left: 5px;
            }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }
    </style>
}

<div id="wrapper">
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="9" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model)
    }

    <div id="page-wrapper">

        @using (Ajax.BeginForm("ProcessCsvFile", "VehiclesImport", null, new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = " ECOsystem.Areas.Coinca.ImportData.OnSuccessImport"

        }, new { id = "processCsvForm", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Importación de Datos para Vehículos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <input type="file" id="csvFileInput" accept=".csv">
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-success" href="~/Content/Templates/COINCA.VehiclesTemplate.csv"
                       download="Datos.csv">Descargar Ejemplo</a>
                </div>
            </div>
            <div class="row top40">
                <div id="csvOutput" class="col-sm-12">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right pull-right">
                    <button type="submit" class="btn btn-primary" disabled="disabled"><i class="glyphicon glyphicon-ok"></i>&nbsp;Importar Datos</button>
                </div>
            </div>
        }

    </div>
</div>


@section scripts {
    <script src="~/Scripts/Utilities/importdata.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
                 ECOsystem.Areas.Coinca.ImportData.Init({
                    validation: [
                        { 'propname': 'CustomerId', 'required': true, 'type': 'Integer', 'colname': 'Id Cliente', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'PlateId', 'required': true, 'type': 'String', 'colname': 'Placa', 'align': 'text-right', 'nowrap': true },
                        { 'propname': 'Name', 'required': true, 'type': 'String', 'colname': 'Nombre', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'UserId', 'required': true, 'type': 'Integer', 'colname': 'Id Conductor', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'CostCenterId', 'required': true, 'type': 'Integer', 'colname': 'Id Centro Costo', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'VehicleCategoryId', 'required': true, 'type': 'Integer', 'colname': 'Id Categoria', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'Colour', 'required': false, 'type': 'String', 'colname': 'Color', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'Chassis', 'required': false, 'type': 'String', 'colname': 'Número Chasis', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'LastDallas', 'required': false, 'type': 'String', 'colname': 'Ultimo Dallas', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'FreightTemperature', 'required': false, 'type': 'Integer', 'colname': 'Temp. Carga', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'FreightTemperatureThreshold1', 'required': false, 'type': 'Integer', 'colname': '1er. Umbral', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'FreightTemperatureThreshold2', 'required': false, 'type': 'Integer', 'colname': '2do. Umbral', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'Predictive', 'required': true, 'type': 'Boolean', 'colname': 'Analisis Predictivo', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'AVL', 'required': false, 'type': 'String', 'colname': 'AVL', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'PhoneNumber', 'required': false, 'type': 'String', 'colname': 'SIM AVL', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'Insurance', 'required': false, 'type': 'String', 'colname': 'Póliza', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'DateExpirationInsurance', 'required': false, 'type': 'Date', 'colname': 'Vencimiento Póliza', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'CoverageType', 'required': false, 'type': 'String', 'colname': 'Tipo Cobertura', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'PeriodicityId', 'required': false, 'type': 'Integer', 'colname': 'Periodicidad Poliza', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'Cost', 'required': false, 'type': 'Decimal', 'colname': 'Costo', 'align': 'text-right', 'nowrap': true },
                        { 'propname': 'NameEnterpriseInsurance', 'required': false, 'type': 'String', 'colname': 'Nombre Aseguradora', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'CabinPhone', 'required': false, 'type': 'String', 'colname': 'Tel Cabina', 'align': 'text-left', 'nowrap': false },
                        { 'propname': 'Odometer', 'required': false, 'type': 'Integer', 'colname': 'Odometro', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'AdministrativeSpeedLimit', 'required': true, 'type': 'Integer', 'colname': 'Velocidad Admin.', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'Active', 'required': true, 'type': 'Boolean', 'colname': 'Activo', 'align': 'text-center', 'nowrap': true },
                        { 'propname': 'LoggedUserId', 'required': true, 'type': 'Integer', 'colname': 'Id Usuario', 'align': 'text-center', 'nowrap': true }
                    ]
            });
        });
    </script>
}