﻿.huge {
    font-size: 4.5rem;
}

.huge-medium {
    font-size: 29px;
}

.huge-very-medium {
    font-size: 25px;
}

.huge-low {
    font-size: 22px;
}

.huge-low-middle {
    font-size: 17px;
    font-weight: bold;
}

.huge-very-low {
    font-size: 14px;
}

.huge-very-low-middle {
    font-size: 13px;
}

.hight-text-card {
    font-size: 95px;
}

.middle-text-card {
    font-size: 6.3rem;
}

.mid-ico-card {
    font-size: 90px;
}

.very-middle-text-card {
    font-size: 5.3rem;
}

.low-text-card {
    font-size: 2rem;
}

.very-low-text-card {
    font-size: 1.1rem;
}

.less-padding-right {
    padding-right: 0;
}

.less-padding-left {
    padding-left: 0;
}

.icon-space {
    margin-bottom: 11px;
}

.icon-mdi {
    font-size: 10.4rem;
}

.pointer {
    cursor: pointer;
}

.card {
    position: relative;
    margin: 1rem 0 1rem 0;
    background-color: #fff;
    -moz-transition: box-shadow .25s;
    -o-transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card-content-indicator {
    padding: 9px !important;
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.card-content .page-header {
    margin-top: 0 !important;
}

.card-content hr {
    margin-top: 0;
    margin-bottom: 6px;
    border: 1px solid rgba(255,255,255,.15);
}

.grand-detail {
    background-color: transparent !important;
    box-shadow: none !important;
}

.grand-detail-content {
    padding: 0 !important;
}

.detail-reveal-hide {
    display: none;
}

.close-reveal {
    float: right;
    cursor: pointer;
}

.counter-horizontal-divider {
    margin-top: 3px;
    margin-bottom: 3px;
}

.wall-padding {
    padding-left: 11px;
}

.wall-padding-detail {
    padding-right: 11px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.btn, .btn-large {
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .dropdown-content, .collapsible, .side-nav, .form-control, .input-group-addon, .panel {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}

.card .card-title {
    font-size: 24px;
    color: #212121 !important;
}

.card .card-title-right {
    font-size: 24px;
    color: #212121 !important;
    float: right;
}

.card .card-title.activator {
    cursor: pointer;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 2px 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
}

.modal-content {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.mdi {
    vertical-align: middle;
}

.mdi-32px {
    font-size: 32px;
}

.mdi-rotate {
    -webkit-animation: mdiAnimation 2s infinite linear;
    -moz-animation: mdiAnimation 2s infinite linear;
    -o-animation: mdiAnimation 2s infinite linear;
    animation: mdiAnimation 2s infinite linear;
}

@-webkit-keyframes mdiAnimation {
    from {
        -webkit-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -moz-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -o-transform: rotate(0) scale(1) skew(1deg) translate(0);
        transform: rotate(0) scale(1) skew(1deg) translate(0);
    }

    to {
        -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        transform: rotate(360deg) scale(1) skew(1deg) translate(0);
    }
}

@keyframes mdiAnimation {
    from {
        -webkit-transform: rotate(0d) scale(1) skew(1deg) translate(0);
        -moz-transform: rotate(0d) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(0d) scale(1) skew(1deg) translate(0);
        -o-transform: rotate(0d) scale(1) skew(1deg) translate(0);
        transform: rotate(0d) scale(1) skew(1deg) translate(0);
    }

    to {
        -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        transform: rotate(360deg) scale(1) skew(1deg) translate(0);
    }
}

@-moz-keyframes mdiAnimation {
    from {
        -moz-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -o-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -webkit-transform: rotate(0) scale(1) skew(1deg) translate(0);
        transform: rotate(0) scale(1) skew(1deg) translate(0);
    }

    to {
        -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        transform: rotate(360deg) scale(1) skew(1deg) translate(0);
    }
}

@-o-keyframes mdiAnimation {
    from {
        -o-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -moz-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(0) scale(1) skew(1deg) translate(0);
        -webkit-transform: rotate(0) scale(1) skew(1deg) translate(0);
        transform: rotate(0) scale(1) skew(1deg) translate(0);
    }

    to {
        -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0);
        transform: rotate(360deg) scale(1) skew(1deg) translate(0);
    }
}

/*Progress Bar*/
.bg-custom {
    background-repeat: repeat-x;
    margin-top: 8px;
}

.progress {
    height: 18px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
    margin-left: -16px;
    padding-left: 16px;
    margin-right: -16px;
    padding-right: 16px;
}

.progress-bar {
    height: 3px;
    border-radius: 0;
}

.progress2 {
    height: 25px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
    margin-left: -50px;
    padding-left: 50px;
    margin-right: -50px;
    padding-right: 100px;
    margin-top: -15px;
}

.triangle:after {
    content: "";
    float: right;
    margin-top: 8px;
    margin-right: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #F0AD4E;
}

.bar-text {
    color: white;
    height: 25px;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
}

.toast {
    float: right;
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    -ms-word-break: break-all;
    word-break: break-all;
    background-color: rgb(50, 50, 50);
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    padding: 10px 25px;
}

@media only screen and (min-width: 1200px) {
    .toast {
        font-size: 18px;
    }
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -moz-transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

/* RadioButton */
.mdl-radio {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}

.mdl-radio.is-upgraded {
    padding-left: 24px;
}

.mdl-radio__button {
    line-height: 24px;
}

.mdl-radio.is-upgraded .mdl-radio__button {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
}

.mdl-radio__outer-circle {
    position: absolute;
    top: 4px;
    left: 0;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    border: 2px solid rgba(0,0,0, 0.54);
    border-radius: 50%;
    z-index: 2;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid rgb(63,81,181);
}

.mdl-radio__outer-circle fieldset[disabled] .mdl-radio,
.mdl-radio.is-disabled .mdl-radio__outer-circle {
    border: 2px solid rgba(0,0,0, 0.26);
    cursor: auto;
}

.mdl-radio__inner-circle {
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 8px;
    left: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    cursor: pointer;
    -moz-transition-duration: 0.28s;
    -o-transition-duration: 0.28s;
    -webkit-transition-duration: 0.28s;
    transition-duration: 0.28s;
    -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition-property: transform, -webkit-transform;
    -o-transition-property: transform, -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-property: transform, -webkit-transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    border-radius: 50%;
    background: #;
}

.mdl-radio.is-checked .mdl-radio__inner-circle {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

fieldset[disabled] .mdl-radio .mdl-radio__inner-circle,
.mdl-radio.is-disabled .mdl-radio__inner-circle {
    background: rgba(0,0,0, 0.26);
    cursor: auto;
}

.mdl-radio.is-focused .mdl-radio__inner-circle {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.mdl-radio__label {
    cursor: pointer;
}

fieldset[disabled] .mdl-radio .mdl-radio__label,
.mdl-radio.is-disabled .mdl-radio__label {
    color: rgba(0,0,0, 0.26);
    cursor: auto;
}

.mdl-radio__ripple-container {
    position: absolute;
    z-index: 2;
    top: -9px;
    left: -13px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.mdl-radio__ripple-container .mdl-ripple {
    background: #6D6E71;
}

fieldset[disabled] .mdl-radio .mdl-radio__ripple-container,
.mdl-radio.is-disabled .mdl-radio__ripple-container {
    cursor: auto;
}

fieldset[disabled] .mdl-radio .mdl-radio__ripple-container .mdl-ripple,
.mdl-radio.is-disabled .mdl-radio__ripple-container .mdl-ripple {
    background: transparent;
}

/*CHECKBOX*/

input[type="checkbox"] {
    margin: 0;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    -webkit-appearance: none;
    margin-left: -25px;
}

.checkbox input[type="checkbox"]{
    border-color: #3961bd;   
}

.checkbox input[type="checkbox"]:disabled:after, .checkbox-inline input[type="checkbox"]:disabled:after {
    border-color: #3961bd;   
}

.checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {
    outline: none;
}

.checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    border: 2px solid;
    border-radius: 2px;
    content: '';
    display: block;
    height: 18px;
    -moz-transition: 240ms;
    -o-transition: 240ms;
    -webkit-transition: 240ms;
    transition: 240ms;
    width: 18px;
     border-color: #3961bd;   
}

.checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 0;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: '';
}

.checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    /*background-color: rgb(51, 122, 183);
    border-color: rgb(51, 122, 183);*/    
    background-color: #6D6E71;
    border-color: #6D6E71;
}

.checkbox input[type="checkbox"]:disabled:checked:after, .checkbox-inline input[type="checkbox"]:disabled:checked:after {
    background-color: rgba(0, 0, 0, 0.26);
    border-color: transparent;
}
