﻿@model IEnumerable<ECOsystem.Models.Account.AccountMenus>
@{
    ViewBag.Title = "Importar Datos para FleetCard";
    ViewBag.Administration = "active";
    ViewBag.AdministrationImport = "active";
    ViewBag.AdminFleetCardsImport = "active";

    ViewBag.Full_Width = "full_width";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            width: 246px;
            top: 10px;
            left: 20px;
        }

            .progress_bar.loading {
                opacity: 1.0;
            }

            .progress_bar .percent {
                background-color: #3090d1;
                height: auto;
                width: 0;
                padding-left: 5px;
            }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }
    </style>

}

<div id="wrapper">
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="9" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model)
    }

    <div id="page-wrapper">
        
        @using (Ajax.BeginForm("ProcessCsvFile", "FleetCardsImport", null, new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = " ECOsystem.Areas.Coinca.ImportData.OnSuccessImport"

        }, new {id = "processCsvForm", enctype = "multipart/form-data"}))
        {   
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Importación de Datos para Fleet Card</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <input type="file" id="csvFileInput" accept=".csv">
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-success" href="~/Content/Templates/COINCA.FleetCardTemplate.csv"
                       download="Datos.csv">Descargar Ejemplo</a>
                </div>
            </div>
            <div class="row top40">
                <div id="csvOutput" class="col-sm-12">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right pull-right">
                    <button type="submit" class="btn btn-primary" disabled="disabled"><i class="glyphicon glyphicon-ok"></i>&nbsp;Importar Datos</button>
                </div>
            </div>
        }

    </div>
</div>


@section scripts {
    <script src="~/Scripts/Utilities/importdata.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.ImportData.Init({
                validation: [
                    { 'propname': 'PartnerId', 'required': true, 'type': 'Integer', 'colname': 'Id Socio', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'CustomerId', 'required': true, 'type': 'Integer', 'colname': 'Id Cliente', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'CreditLimit', 'required': true, 'type': 'Decimal', 'colname': 'Limite de Crédito', 'align': 'text-right', 'nowrap': true },
                    { 'propname': 'CreditAvailable', 'required': true, 'type': 'Decimal', 'colname': 'Crédito Disponible', 'align': 'text-right', 'nowrap': true },
                    { 'propname': 'CreditExtra', 'required': true, 'type': 'Decimal', 'colname': 'Limite Extra', 'align': 'text-right', 'nowrap': true },
                    { 'propname': 'StatusId', 'required': true, 'type': 'Integer', 'colname': 'Id Estado', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'CardRequestId', 'required': true, 'type': 'Integer', 'colname': 'Id Solicitud', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'CreditCardType', 'required': true, 'type': 'String', 'colname': 'Tipo de Tarjeta', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'ExpirationYear', 'required': true, 'type': 'Integer', 'colname': 'Año Espiración', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'ExpirationMonth', 'required': true, 'type': 'Integer', 'colname': 'Mes Espiración', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'UserId', 'required': true, 'type': 'Integer', 'colname': 'Id Conductor', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'VehicleId', 'required': true, 'type': 'Integer', 'colname': 'Id Vehículo', 'align': 'text-center', 'nowrap': true },
                    { 'propname': 'LoggedUserId', 'required': true, 'type': 'Integer', 'colname': 'Id Usuario', 'align': 'text-center', 'nowrap': true }
                ]
            });
        });
    </script>
}