﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.PreventiveMaintenanceReport>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.MaintenanceName).Titled("Mantenimiento").SetWidth(90);
            c.Add(m => m.FilterName).Titled("Tipo de Mantenimiento").SetWidth(30);
            c.Add(m => m.PlateId).Titled("Matrícula").SetWidth(40);
            c.Add(m => m.VehicleName).Titled("Vehículo").SetWidth(90);
            c.Add(m => m.ActualOdometerStr).Titled("Kilometraje").SetWidth(50);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.NextReviewOdometerStr</span>)
                   .Titled("Próxima Revisión (Km)")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(40);
            c.Add(m => m.NextReviewDateStr).Titled("Próxima Revisión (Fecha)").SetWidth(50);
            c.Add(m => m.Frequency).Titled("Frecuencia").SetWidth(50);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.CostStr</span>)
                   .Titled("Presupuesto")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(40);
            //c.Add(m => m.CostStr).Titled("Presupuesto").SetWidth(40);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.RecordStr</span>)
                   .Titled("Costo Real")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(40);
            //c.Add(m => m.RecordStr).Titled("Costo Real").SetWidth(40);
        })
                                        .Selectable(true)
                                        .SetLanguage("es")
)
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
