﻿@model  ECOsystem.Areas.Control.Models.Control.FuelsByCreditBase
@{
    ViewBag.Title = "Distribución de Crédito por Combustible";
    ViewBag.Control = "active";
    ViewBag.ControlFuels = "active";
    ViewBag.ControlFuelsByCreditIndex = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var calendar = Url.Content("~/Content/Images/calendar_date.png");
    var customBar = Url.Content("~/Content/Images/custom_bar.png");

    var customer = ECOsystem.Utilities.Session.GetCustomerInfo();

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = "" }, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-content">
                @if (customer.CostCenterFuelDistribution)
                {
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-right: 15px;">
                            <div class="form-group  form-horizontal" role="form">
                                <label>Centro de Costo</label>
                                @Html.DropDownListFor(m => m.CostCenterId, ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCentersWithoutAll, "Seleccione un Centro de Costo", new { @class = "form-control cost-center-dropdown" })
                            </div>
                        </div>
                        <div class="col-xs-10 col-md-6">
                            <div class="form-group  form-horizontal" style="padding-top:25px" role="form">
                                <span class="btn-group form-group">
                                    <button id="btnSearchDistibution" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Control.FuelsByCredit.OnSelectCostCenterChange();"><i class="mdi mdi-magnify"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                }
                <div id="FuelsByCreditsPanel">
                    @Html.Partial("_partials/_FuelsByCreditPanel", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Distribución de Crédito por Combustible</h4>
            </div>
            <div class="modal-body center" id="modalValidateText">
                <p>¿Desea almacenar los datos?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnSubmit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ChartGoogleJS")
    <script src="~/Scripts/Control/fuelsByCredit.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.FuelsByCredit.Init({});
        });

    </script>
}

@section styles {
    <style type="text/css">
        .cost-center-dropdown {
            width: 103%;
        }

        .panel
        {
            margin-right: -20px!important;
        }

        .title-card-text
        {
            font-size:2rem;
        }

        #page-content-wrapper {
            padding: 2px!important;
        }

        .label-pct {
            position: absolute;
            top: 26.5%;
            left: 134px;
            font-weight: bold;
        }

        .fuelTable table {
            position: absolute;
            top: 60.5%;
        }

        .fuelTable table td {
            vertical-align: bottom;
            font-size: 10pt;
            padding: 4px 6px 0 4px;
        }

        .grid-wrap {
            padding-top: 0;
        }

        #accordion tr.grid-row:last-child {
            border-top: 2px solid #808080;
            font-size: 11pt;
            font-weight: bold;
            color: #808080;
        }

        .normal_row{
         color:#000000;
        }

        .thumbnail {
            border-color: #31B0D5;
            padding: 0;
            margin: 0;
            border-radius: 2px!important;
        }

        .thumbnail table {
            background-color: #F5F5F5;
            width: 100%;
            color: #444;
        }

        .thumbnail thead td {
            background-color: #337AB7;
            font-weight: bold;
            font-size: 12pt;
            text-align: center;
            line-height: 25px;
            padding: 8px;
            color: white;

        }

        .thumbnail tbody td {
            padding: 5px;
            font-size: 9pt;
        }

        /* Carousel Control */
        .control-box {
            padding-top: 10px;
            text-align: right;
            width: 100%;
        }


        .calendar_bg {
            background-image: url('@calendar');
            width: 148px;
            height: 148px;
        }

        p.month {
            padding-top: 55px;
            text-align: center;
            font-weight: bold;
            font-size: 14pt;
            padding-bottom: 0;
            color: #444444;
        }

        p.year {
            padding-top: 0px;
            text-align: center;
            font-weight: normal;
            font-size: 16pt;
            color: #444444;
        }

        #creditInfo .well.well-custom {
            padding-bottom: 0;
        }

        #creditInfo .custom-box {
            font-size: 28pt;
            color: #444444;
            margin-bottom: 0;
            background-color: ghostwhite;
            border: none;
        }

        #creditInfo .bg-custom {
            /*background-image: url('@customBar');*/
            background-repeat: repeat-x;
            margin-top:16px;
        }

        #creditInfo .progress {
            height: 18px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -16px;
            padding-left: 16px;
            margin-right: -16px;
            padding-right: 16px;
        }

        #creditInfo .progress2 {
            height: 25px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -50px;
            padding-left: 50px;
            margin-right: -50px;
            padding-right: 100px;
            margin-top: -15px;
        }

        #creditInfo .progress-bar {
            height: 3px;
            border-radius: 0;
        }

        #creditInfo .triangle:after {
            content: "";
            float: right;
            margin-top: 8px;
            margin-right: -8px;

            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;

            border-bottom: 10px solid #F0AD4E;
        }

        #creditInfo .bar-text {

            color: white;
            height: 25px;
            background-color: transparent;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
        }

        #creditInfo .bar-text:after {
            content: attr(data-val);
            float: right;
            width: 100px;
            margin-right: -35px;
        }

        #creditInfo .currencySymbolData{
            font-size:35px;
        }

        #creditInfo .progress-descrip{
            position: absolute;
            bottom: 22%;
            font-size: 12px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .cardInfo-footer-left{

        }

        .cardInfo-footer-right{
            height: 25px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -50px;
            padding-left: 50px;
            margin-right: -50px;
            padding-right: 100px;
            margin-top: -15px;
        }

        .card-transactions{
            background-color:#5cb85c !important;
            border-color: #5cb85c !important;
            color:#fff;
            margin-top:0px;
            height: 137px;
        }

        .card-global-amount{
            background-color: #337AB7 !important;
            border-color: #337AB7 !important;
            color:#fff;
            margin-top:0px;
            height: 270px;
            margin-left: 15px;
        }

        .card-consume{
            background-color: #603CBA !important;
            border-color: #603CBA !important;
            color:#fff;
            margin-top:0px;
            height: 137px;
        }

        @@media only screen and (max-width: 600px) {
            .title-card-text {
                font-size: 3rem !important;
            }
        }
        @@media only screen and (max-width: 768px) and (min-width: 601px) {
            .title-card-text {
                font-size: 2rem !important;
            }
        }
        @@media only screen and (max-width: 1024px) and (min-width: 769px) {
            .title-card-text {
                font-size: 2.4rem !important;
            }
        }
        @@media only screen and (max-width: 1280px) and (min-width: 1025px) {
            .title-card-text {
                font-size: 3rem !important;
            }
        }
        @@media only screen and (max-width: 1559px) and (min-width: 1281px) {
            .title-card-text {
                font-size: 3rem !important;
            }
        }
        @@media only screen and (min-width: 1600px) {
            .title-card-text {
                font-size: 6rem !important;
            }
        }
    </style>
}

