﻿@model ECOsystem.Models.Core.Partners

@{
    var logo = Model.Logo;
    var user = ECOsystem.Utilities.Session.GetUserInfo();
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1100px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.PartnerId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Socio</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-8">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Socio", @class = "form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.PartnerTypeId, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.PartnerTypeId, @ECO_Partner.Business.GeneralCollections.GetPartnerTypes, "Seleccione el tipo de Socio", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PartnerTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.CountryId, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CountryId, @ECOsystem.Business.Utilities.GeneralCollections.GetCountries, "Seleccione el País", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" data-financial="true">
                                @Html.LabelFor(m => m.CapacityUnitId, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CapacityUnitId, @ECO_Partner.Business.GeneralCollections.GetCustomersUnitsOfCapacity, "Unidad de Medida de Combustible", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CapacityUnitId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" data-financial="true">
                                @Html.LabelFor(m => m.FuelErrorPercent, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.FuelErrorPercent, new { placeholder = "Porcentaje Error en Precio de Combustible", @class = "form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(m => m.FuelErrorPercent, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <img class="pic" src="@logo" id="imgLogo" width="256" height="128" />
                                    <div class="progress_bar">
                                        <div class="percent">
                                            0%
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.Logo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="btnUpload" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;&nbsp;Cargar Logo</button>
                                    <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Users" aria-controls="home" role="tab" data-toggle="tab">Usuarios</a></li>
                                    <li role="presentation"><a href="#API" aria-controls="profile" role="tab" data-toggle="tab">Web API</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="Users">
                                        <div class="row top20 form-group">
                                            <div class="col-sm-5">
                                                @*<div class="row">*@
                                                @*<div class="form-group">*@
                                                <label class="col-sm-5 control-label">Nombre Usuario</label>
                                                <div class="col-sm-7">
                                                    <input id="txtTempName" type="text" value="" placeholder="Nombre Usuario" class="form-control" />
                                                </div>
                                                @*</div>*@
                                                @*</div>*@
                                            </div>
                                            <div class="col-sm-4">
                                                @*<div class="row">*@
                                                @*<div class="form-group">*@
                                                <label class="col-sm-3 control-label">Correo</label>
                                                <div class="col-sm-9">
                                                    <input id="txtTempEmail" type="text" value="" placeholder="Correo Electrónico" class="form-control" />
                                                </div>
                                                @*</div>*@
                                                @*</div>*@
                                            </div>
                                            <div class="col-sm-3">
                                                @*<div class="form-group">*@
                                                @Html.LabelFor(m => m.RoleName, new { @class = "col-sm-1 control-label" })
                                                <div class="col-sm-10">
                                                    @Html.DropDownListFor(m => m.RoleName, @ECO_Partner.Business.GeneralCollections.GetPartnerRoles, "Seleccione un Rol", new { @class = "form-control", autofocus = "", id = "RolList" })
                                                    @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "text-danger" })
                                                </div>
                                                @*</div>*@
                                            </div>
                                        </div>
                                        <div class="row" style="width: 1040px;">
                                            <div class="row">
                                                <button id="btnAddUser" type="button" class="btn btn-success pull-right" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i>&nbsp;Agregar</button>
                                            </div>
                                        </div>
                                        <hr />
                                        <div id="validationUser" class="form-group hide">
                                            <div id="errorUserMsj" class="col-sm-12 text-danger text-right">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped
                                                    ">
                                                    <thead>
                                                        <tr>
                                                            <th class="grid-header" nowrap><div class="grid-header-title"><span>Nombre Completo de Usuario</span></div></th>
                                                            <th class="grid-header" nowrap><div class="grid-header-title"><span>Correo Electrónico</span></div></th>
                                                            <th class="grid-header" nowrap><div class="grid-header-title"><span>Rol</span></div></th>
                                                            <th class="grid-header" nowrap><div class="grid-header-title"><span></span></div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tableUser"></tbody>
                                                    <tfoot id="tableRegisteredUsers">

                                                        @if (Model.TempUsersList != null && Model.TempUsersList.Any())
                                                        {
                                                            foreach (var item in Model.TempUsersList)
                                                            {
                                                                <tr>
                                                                    <td class="grid-cell" nowrap>@item.UserFullName</td>
                                                                    <td class="grid-cell" nowrap>@item.UserEmail</td>
                                                                    <td class="grid-cell" nowrap>@item.RoleName</td>
                                                                    <td class="grid-cell grid-col-btn">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="API">
                                        <div class="row top20">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.DisplayApiUserName, new { @class = "col-sm-4 control-label" })
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(m => m.DisplayApiUserName, new { placeholder = "Nombre Usuario API", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.DisplayApiUserName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                @if (Model.PartnerId == null)
                                                {
                                                    <div data-name="PasswordAPI" class="form-group">
                                                        @Html.LabelFor(m => m.DisplayApiPassword, new { @class = "col-sm-4 control-label" })
                                                        <div class="col-sm-8">
                                                            @Html.PasswordFor(m => m.DisplayApiPassword, new { placeholder = "Contraseña API", @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.DisplayApiPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div data-name="PasswordAPI" class="form-group">
                                                        @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-sm-4 control-label" })
                                                        <div class="col-sm-8">
                                                            @Html.PasswordFor(m => m.PasswordConfirm, new { placeholder = "Confirmar Contraseña", @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div data-name="PasswordAPI" class="form-group hide">
                                                        @Html.LabelFor(m => m.DisplayApiPassword, new { @class = "col-sm-4 control-label" })
                                                        <div class="col-sm-8">
                                                            @Html.PasswordFor(m => m.DisplayApiPassword, new { placeholder = "Contraseña API", @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.DisplayApiPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div data-name="PasswordAPI" class="form-group hide">
                                                        @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-sm-4 control-label" })
                                                        <div class="col-sm-8">
                                                            @Html.PasswordFor(m => m.PasswordConfirm, new { placeholder = "Confirmar Contraseña", @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                }

                                            </div>

                                            @if (Model.PartnerId != null)
                                            {
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label class="control-label">
                                                            @Html.CheckBoxFor(m => m.ChangePassword)Cambiar Contraseña API
                                                        </label>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="globalValidation" class="row top30 hide">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div id="errorValidationMsj" class="col-sm-12 text-danger">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button id="btnSavePartnerInfo" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
