﻿@model IEnumerable<ECOsystem.Models.Core.Partners>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .Titled("Logo")
                  .RenderValueAs(m => @<img src="@m.Logo" width="50" height="30" />);
              c.Add(m => m.Name).Titled("Nombre del Socio");
              c.Add(m => m.PartnerTypeName).Titled("Tipo de Socio");
              c.Add(m => m.CountryName).Titled("País");
              c.Add(m => m.DisplayApiUserName).Titled("Usuario para API");
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(100)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.PartnerId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.PartnerId" title="Eliminar" del_row><i class="mdi mdi-close mdi-18px"></i></a>
                </span>).Css("grid-col-btn");

          })
          .Selectable(true)
          )        
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}