﻿@using ECO_Partner.Business
@using ECO_Partner.Models
@model  GPSReportBase
@{
    ViewBag.Title = "Reporte de GPS";
    ViewBag.PartnerReports = "active";
    ViewBag.PartnerReportsReports = "active";
    ViewBag.HasGrid = true;

    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="14" />

        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

@using (Ajax.BeginForm("ExcelReportDownload", "GPSReport", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ECOsystem.GPSReport.HideLoader();"
}, new { id = "ExcelReportDownloadForm" }))
{
    @Html.Hidden("ReportCriteriaId")
    @Html.Hidden("ParametersMonth")
    @Html.Hidden("ParametersYear")
    @Html.Hidden("ParametersEndDateStr")
    @Html.Hidden("ParametersGpsModality")
    @Html.Hidden("ParametersCustomerId")
}

@using(Html.BeginForm("DonwloadFile", "GPSReport", FormMethod.Post, new { id = "DownloadExcelForm" })) {
}

<div id = "page-content-wrapper" >

     @using(Html.BeginForm("Index", "GPSReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">


            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Month, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Year, ECOsystem.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="@hide2">
                @*<div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>*@
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            @*<div class="col-md-4" style="margin-top: 10px;">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                    <span class="input-group-addon" style="padding: 5px;">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>*@

            @*<div class="col-md-4" style="margin-top: 10px;">
                @Html.DropDownListFor(m => m.Parameters.ActiveStr, @ECOsystem.Business.Utilities.GeneralCollections.GetActiveInactive, "Tipo", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>*@
            <div class="col-sm-4" style="margin-top: 10px;">
                @Html.DropDownListFor(m => m.Parameters.GpsModality, @ECOsystem.Business.Utilities.GeneralCollections.GetGPSModality, "Modalidad", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            @*<div class="col-md-12" style="margin-top: 10px;">
                @Html.DropDownListFor(m => m.Parameters.CustomerId, Model.UsersList, "Cliente", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>*@

            <div class="col-md-4" style="margin-top: 10px;">
                <button class="btn btn-success" type="button" id="btnGenerate" onclick="" title="Exportar">
                    <i class="mdi mdi-share"></i>&nbsp;&nbsp;Generar
                </button>
            </div>

            @Html.HiddenFor(m => m.Parameters.CustomerId)
        </div>
    }
    @if (Model.List != null && Model.List.Any())
    {
        <hr />
        <div class="alert alert-success fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>*@
            Por favor seleccione las opciones correspondientes para cargar la información.
        </div>
        @*<div id="ControlsContainer">
            <div class="card">
                <div class="card-content">

                    <div class="row top20">
                        <div class="col-sm-12 text-left">
                            @if (!isPrintView)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                        <i class="glyphicon glyphicon-share-alt"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" onclick="$('#ExcelReportDownloadForm').submit();">
                                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;Exportar Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <button class="btn btn-default" type="button" data-print>
                                    <i class="glyphicon glyphicon-print"></i>&nbsp;&nbsp;Imprimir
                                </button>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Partial("_partials/_Grid", Model.List)
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    }
    else
    {
        <br />
        <div class="col-md-12 alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>



@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Administration/GPSReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECOsystem.GPSReport.Init({
                printURL: '@Url.Action("PrintReport", "GPSReport", new { p = Model.Parameters.ParametersInBase64 })',
                printMode: 'True' === '@isPrintView' ? true : false
            });
        });
    </script>
}

