﻿@model  ECOsystem.Areas.Coinca.Models.CreditCardBase

@{
    ViewBag.Title = "Solicitud de Medios de Pago";
    ViewBag.Administration = "active";
    ViewBag.AdministrationCreditCard = "active";
    ViewBag.AdministrationCreditCardIndex = "active";
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    ViewBag.HasGrid = true;

    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        #creditDetail.panel {
            margin-top: 0;
        }

        #creditDetail .panel-body {
            background-color: #fafafa;
        }
    </style>
}

@using (Ajax.BeginForm("EditCreditCard", "CreditCardCoinca", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @*@Html.Partial("_partials/_Detail", Model.Details)*@
    </div>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{        
        <input class="hidden" name="Header" value="9" />        
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

        <div id="page-content-wrapper">
            <!-- Search Area Start-->
            @using (Ajax.BeginForm("SearchCreditCard", "CreditCardCoinca", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
            }, new { id = "searchForm" }))
            {
                <div class="row">
                    <div class="col-lg-6"></div>

                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por Cliente o Empresa, Títular, Número de Tarjeta, País, Estado...">

                            <span class="input-group-btn">
                                <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            }
            <!-- Search Area End-->
            <!-- Load Form Start-->
            @using (Ajax.BeginForm("LoadCreditCard", "CreditCardCoinca", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "detailContainer",
                OnSuccess = " ECOsystem.Areas.Coinca.CreditCard.OnSuccessLoad()"
            }, new { id = "loadForm" }))
            {
                @Html.Hidden("id")
                @Html.Hidden("paymentInstrumentType")
            }
            <!-- Load Form End-->

            <div class="row">
                <div class="col-lg-12" id="gridContainer">
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>
            </div>
            @Html.Partial("_partials/_EditStatusModal")
        </div>

<div class="modal fade" id="ConfirmationEditModalCard" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Cambio de estado para tarjetas seleccionadas</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea cambiar el estado para las tarjetas en la lista?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnChangeStatus"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Settings/creditCard.js?v=@version-hf1"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.CreditCard.Init();
        });
    </script>
}
