﻿@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-md-6 column" id="loginFrame">
            <section id="">
                <div>
                    <p>
                        Gracias por confirmar su Email. Por favor presione este @Html.ActionLink("link para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </section>
        </div>
        <div class="col-md-6 column">
            <img src="~/Content/Images/vehiculos.png" id="imagenvehiculos" />
        </div>
    </div>
</div>