﻿@using ECOsystem.Utilities
@{
    ViewBag.Title = "Recuperación de Contraseña - Confirmación";

    var accountRecovery = (ViewBag.AccountRecovery != null) ? ViewBag.AccountRecovery.ToString() : "xxxx@xxxx.com";
    var hasError = (ViewBag.HasError != null) ? true : false;

    var productInfo = ECOsystem.Utilities.Session.GetProductInfo();

    switch (productInfo)
    {
        case ProductInfo.BACFlota:
            Layout = "~/Views/Shared/BAC/_LayoutLogin.cshtml";
            break;
        case ProductInfo.LineVitaECO:
            Layout = "~/Views/Shared/LineVita/_LayoutLogin.cshtml";
            break;
        default: //Intrack ECO
            Layout = "~/Views/Shared/_LayoutLogin.cshtml";
            break;
    }
}

@section styles {

    @if (productInfo == ProductInfo.LineVitaECO)
    {
        <style type="text/css">
            html {
                background-color: white;
                width: 100%;
            }

            body {
                margin: 0px !important;
                color: white !important;
                padding-top: 0px !important;
            }

            .icon {
                padding-top: 40px;
            }

            .div_header {
                background: url(../Content/Images/LineVita/footer-background.png);
                /*background-color: #E4002B;*/
                height: 135px;
            }

            .div_back {
                background-color: white;
                padding-top: 10px;
                color: black;
                padding-left: 28%;
            }

            .div_sobre_contac {
                background: url(../Content/Images/LineVita/background.png);
            }

            .linkLV {
               color:red; 
            }

            .txt_paragraph{
                font-size: 15px;
            }
           
            .linkLV:hover {
               color:red; 
            }

            footer {
                margin: 60px;
            }

            .site-footer {
                text-align: center;
                background-color: white;
                width: 50%;
                margin-left: 25%;
                color: #9D9D9D;
            }
        </style>
    }
}

<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column" id="loginFrame">
            <section id="loginForm">

                @if (hasError)
                {
                    <h2 class="center">¡Ups! ha ocurrido un problema...</h2>
                    <hr />
                    <div class="form-group">
                        <p class="txt_paragraph">Lo sentimos hemos encontrado un problema en tu solicitud, por favor intentelo nuevamente.</p>

                        <p class="txt_paragraph">Si el problema persiste por favor contactar a soporte técnico.</p>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            @Html.ActionLink("◄ Regresar", "ForgotPassword", null, new { @class = "btn btn-primary", style = "background-color:#E4002B; border-color:#E4002B;" })
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="center">¡Solicitud recibida!</h2>
                    <hr />
                    <div class="form-group">
                        <p class="txt_paragraph">
                            De ser un correo registrado, en breve recibirás instrucciones para el cambio de contraseña a la dirección <b>@accountRecovery</b>. Comprueba tu correo electrónico.
                        </p>
                        <p class="txt_paragraph">
                            <b>¿No has recibido tu correo?</b> Si no lo has encontrado en tu bandeja de entrada por favor revisa en tu bandeja de SPAM o utiliza otra cuenta, algunos de nuestros usuarios tiene más de una cuenta de correo electrónico.
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            @Html.ActionLink("◄ Regresar", "Login", null, new { @class = "btn btn-primary", style = "background-color:#E4002B; border-color:#E4002B;" })
                        </div>
                    </div>
                }
            </section>
        </div>
        @if (productInfo == ProductInfo.LineVitaECO)
        {
        }
        else
        {
            <div class="col-md-6 column">
                <img src="~/Content/Images/vehiculos.png" id="imagenvehiculos" />
            </div>
        }
    </div>
</div>

<div class="top40 lightgray bottom20 div_back">
    @if (productInfo == ProductInfo.LineVitaECO)
    {
    }
    else
    {
        @Html.Partial("_Principles1")
    }
</div>