﻿@model ECOsystem.Models.Account.ForgotPasswordViewModel

<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-md-6 column" id="loginFrame">
            <section id="loginForm">      
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                <h4>¿Olvidó su contraseña?</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Enviar Email</button>
                    </div>
                </div>
                }
            </section>
        </div>
        <div class="col-md-6 column">
            <img src="~/Content/Images/vehiculos.png" id="imagenvehiculos" />
        </div>
    </div>
</div>

<div class="top40 lightgray bottom20">
    @Html.Partial("_Principles1")
</div>
