﻿@model ECOsystem.Models.Account.ForgotPasswordViewModel

<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 column" id="loginFrame">
            <section id="loginForm">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h2 class="center top20">¿Olvidó su contraseña?</h2>
                    <hr />
                    <div>
                        <p style="font-size:15px;">Digite su correo electrónico y te enviaremos información con tu nueva contraseña temporal.</p>
                    </div>
                    <div class="form-group top20">
                        <label class = "col-md-3 control-label">Correo:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group top20">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary" style="background-color:#E4002B; border-color:#E4002B;">
                                    <i class="glyphicon glyphicon-repeat"></i>&nbsp; Restablecer contraseña</button>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>