﻿@model ECOsystem.Models.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/LineVita/_LayoutLogin.cshtml";

    var showError = ViewBag.showModalLoginFails ?? false;
}

<section class="login_hold">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h2 class="ingreso_title mb-4"> Ingreso al Sistema </h2>
                <div id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.TimezoneOffset)

                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="col-12 mt-4">
                                @Html.TextBoxFor(m => m.DecryptedEmail, new { @class = "form-control", @placeholder = "Usuario" })
                                @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 mt-4">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-12 text-left mt-3">
                                <div class="form-check remember">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                                    <label class="checkbox_container text-white">
                                        <span class="checkbox_value"> ¿Recordarme? </span>
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-primary mb-2">Ingresar</button>
                                @Html.ActionLink("¿Olvidó su contraseña?", "ForgotPassword", "", new { @class = "text-white mt-2 blo_btn" })
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

*@*<div class="container bottom20 div_login" style="font-family:Arial; font-size:18px">
        <div class="row clearfix">
            <div class="col-sm-7 col-md-8"></div>
            <div class="col-xs-12 col-sm-4 col-md-4" id="loginFrame" style="background-color:rgba(64,64,64,0.75); width:312px; height: 456px; border-right:none !important">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.TimezoneOffset)

                        @Html.AntiForgeryToken()
                        <h4 class="top20">Ingreso al sistema</h4>
                        <hr style="clear: both; width:290px; border: #E4002B 1px solid" />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                @Html.TextBoxFor(m => m.DecryptedEmail, new { @class = "form-control", @placeholder = "Usuario" })
                                @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-8 col-md-offset-1">
                                <div>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, new { @style = "color: #CDCDCD; font-weight: normal !important " })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <button type="submit" class="btn btn-primary" style="background-color:#dc1431; border-color:#dc1431; width:100%; font-weight:bold">&nbsp;Ingresar</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-1">
                                @Html.ActionLink("¿Olvidó su contraseña?", "ForgotPassword", "", new { @class = "pull-right", style = "color:#DCDCDC;" })
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>*@

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px;">
        <div class="modal-content div_back">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Notificación</h4>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Error</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="background-color:#E4002B; border-color:#E4002B;" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/Bootstrap-4/js/jquery.js"></script>
@section Scripts {
    @if (showError)
    {
        <script type="text/javascript">
            $(function () {
                $('#messageModal').modal('show');
            });
        </script>
    }
}
