﻿@using ECOsystem.Business.Utilities
@model ECOsystem.Models.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    var showError = ViewBag.showModalLoginFails ?? false;
    var showCustomer = ViewBag.showModalCustomer ?? false;
    var customerList = ViewBag.customerList;
    Model.CList = Model.CList ?? new List<SelectListItem>();
}

@section styles {
    <style>
        .billboard--container {
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            height: 500px;
            font-family: calibri;
            color: white;
        }

        body {
            margin: 0px;
        }

        .icon {
            padding-top: 40px;
        }

        .homepage-title--container {
            background: rgba(0,0,0,0.3);
            margin-top: 10px;
            padding-bottom: 10px;
        }


        #intro {
            background: url(../Content/Images/banner.jpg) fixed;
            height: auto;
            margin: 0 auto;
            width: 100%;
            position: relative;
            padding: 100px 0;
            height: 500px;
        }

        #about {
            background: url(../Content/Images/banner2.jpg) 50% 0 fixed;
            height: auto;
            margin: 0 auto;
            width: 100%;
            position: relative;
            padding: 100px 0;
            color: #fff;
            height: 500px;
        }
    </style>
}

@Html.Hidden("ShowError", ((showError) ? "1" : "0"))
@Html.Hidden("ShowCustomer", ((showCustomer) ? "1" : "0"))

<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-md-6 column" id="loginFrame">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(m => m.TimezoneOffset)

                    @Html.AntiForgeryToken()
                    <h4 class="mainfont">Ingreso al sistema</h4>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-4 control-label mainfont" for="DecryptedEmail">Correo electrónico</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.DecryptedEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label mainfont" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <div>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "mainfont" })
                                @Html.ActionLink("¿Olvidó su contraseña?", "ForgotPassword", "", new { @class = "pull-right mainfont" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button id="btn_login" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Ingresar</button>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
            </section>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="~/Content/Images/soporte.png" />
            </div>
            <br />
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-xs-6">
                    <a href="#" class="btn btn-link" style="box-shadow: none;"><img src="~/Content/Images/flag_CRI.png" /><label class="mainfont">Costa Rica</label></a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="btn btn-link disabled"><img src="~/Content/Images/flag_HND.png" /><label class="mainfont">Honduras</label></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-xs-6">
                    <a href="#" class="btn btn-link disabled"><img src="~/Content/Images/flag_SLV.png" /><label class="mainfont">El Salvador</label></a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="btn btn-link disabled"><img src="~/Content/Images/flag_NIC.png" /><label class="mainfont">Nicaragua</label></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-xs-6">
                    <a href="#" class="btn btn-link disabled"><img src="~/Content/Images/flag_GTM.png" /><label class="mainfont">Guatemala</label></a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a href="#" class="btn btn-link disabled"><img src="~/Content/Images/flag_PAN.png" /><label class="mainfont">Panamá</label></a>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Sistema</h4>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Error</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>

            </div>

        </div>
    </div>
</div>

<div id="customerModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <form class="form-horizontal" id="FormularioCustomer">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Seleccione perfil para iniciar sesión</h4>
                </div>
                <div class="modal-body">
                    @Html.Hidden("LoginFlag")
                
                    <div class="form-group">
                        @if (Model.CList.Count() == 0)
                        {
                            <div class="col-sm-5">
                                @Html.DropDownListFor(m => m.FilterType, GeneralCollections.GetFilterPartnerCustomer, "Agrupar por:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                            </div>
                        }
                        else
                        {
                            <label for="customer" class="col-sm-3 control-label">Cliente:</label>
                        }

                        <div class="col-sm-7">
                            @Html.DropDownListFor(m => m.CustomerId, Model.CList, "Su Selección", Model.CList.Count() != 0 ? new { @class = "form-control ", id = "ddlCustomer", custom = "true" }
                                : (object)new { @class = "form-control ", id = "ddlCustomer", custom = "true", disabled = "disabled" })
                        </div>
                    </div>
                    <div id="validationErrors" class="row top20">
                        <div id="errorMsj" class="col-sm-12 text-danger">
                        </div>
                    </div>

                </div> <!-- / .modal-body -->
                <div class="modal-footer">
                    <div class="col-sm-6 text-left" style="padding-left: 0px;">
                        <button id="btnCustomerCancel" type="button" class="btn btn-default text-left"><i class="mdi mdi-arrow-right"></i>&nbsp;Continuar con mi perfil</button>
                    </div>
                    <div class="col-sm-6 text-right" style="padding-right: 0px;">
                        <button id="btnCustomer" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </form>
</div>

<div class="bottom20">
    @Html.Partial("BAC/_Principles1")
</div>

<!-- Section 1 -->
<section id="intro" data-speed="2" data-type="background"></section>

<div class="banner">
    <div class="container">
        <div class=" row clearfix billboard1">
            <div class=" col-md-6 column">
            </div>
            <div class="col-md-6 column">

                <ul class="cleanul">
                    <li style="margin:15px 0;">
                        <span style="display:inline-block">
                            <img height="75px" src="~/Content/Images/Eficiencia.png" />
                        </span>
                        <span style="display:inline-block" class="text-left">
                            <img src="~/Content/Images/modulo.png" /><br />
                            <img src="~/Content/Images/eficiencia2.png" />
                        </span>
                    </li>
                    <li class="text-center">
                        El módulo de Eficiencia tiene como funcionalidad principal la planeación y control de rutas de servicios efectivas, que favorezcan la utilización de recursos en forma óptima y económica. El modúlo también facilita la supervisión y la asignación de medios para cada ruta.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="banner2">

    <div class="container">
        <div class="row clearfix billboard2">
            <div class=" col-md-6 column">
                <ul class="cleanul">
                    <li style="margin:15px 0;">
                        <span style="display:inline-block">
                            <img height="75px" src="~/Content/Images/Control.png" />
                        </span>
                        <span style="display:inline-block" class="text-left">
                            <img src="~/Content/Images/modulo.png" /><br />
                            <img src="~/Content/Images/control-de-costos.png" />
                        </span>
                    </li>
                    <li class="text-center">
                        El módulo de Control de Costos permite la administración de los recursos financieros asignados para la operación logística. Este módulo permite distribuir el presupuesto de operación entre los diferentes centros de costo y unidades de trabajo. Además, éste norma el uso de los recursos financieros  a través de la asignación de tarjetas de crédito/débito con reglas de negocio parametrizadas por el administrador de la flota.
                    </li>
                </ul>
            </div>
            <div class="col-md-6 column">
            </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row clearfix billboard3">
            <div class=" col-md-6 column">
            </div>
            <div class="col-md-6 column">

                <ul class="cleanul">
                    <li style="margin:15px 0;">
                        <span style="display:inline-block">
                            <img height="75px" src="~/Content/Images/Operacion.png" />
                        </span>
                        <span style="display:inline-block" class="text-left">
                            <img src="~/Content/Images/modulo.png" /><br />
                            <img src="~/Content/Images/operacion-y-riesgo.png" />
                        </span>
                    </li>
                    <li class="text-center">
                        El módulo de Operación y Riesgo permite monitorear y calificar el desempeño de los conductores de vehículos perfilando su comportamiento en carretera. El sistema evalúa en tiempo real a los conductores y provee retroalimentación constante de su rendimiento y hábitos de conducción.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section id="about" data-speed="2" data-type="background"></section>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="top20 lightgray bottom20">
    @Html.Partial("BAC/_Principles2")
</div>

@section Scripts {
    <script type="text/javascript">
        $("#ddlCustomer").rules("add", {
            required: false
        });

        var GLOBAL_IsError = false;
        var GLOBAL_HasClients = false;

        $(document).ready(function () {

            //Initialize the dropdowns
            $('#ddlCustomer').select2('data', {});
            $('#ddlCustomer').select2({
                formatResult: ddlCustomerFormat,
                formatSelection: ddlCustomerFormat,
                escapeMarkup: function (m) { return m; }
            });

            $('#FilterType').select2('data', {});
            $('#FilterType').select2({
                formatResult: ddlFilterFormat,
                formatSelection: ddlFilterFormat,
                escapeMarkup: function (m) { return m; }
            });
           
            //**************************************************

            $('#TimezoneOffset').val(new Date().getTimezoneOffset() * -1);

            // cache the window object
            $window = $(window);

            $('section[data-type="background"]').each(function () {
                // declare the variable to affect the defined data-type
                var $scroll = $(this);

                $(window).scroll(function () {

                    // HTML5 proves useful for helping with creating JS functions!
                    // also, negative value because we're scrolling upwards
                    var yPos = -($window.scrollTop() / $scroll.data('speed'));

                    // background position
                    var coords = '50% ' + yPos + 'px';

                    // move the background
                    $scroll.css({ backgroundPosition: coords });
                }); // end window scroll
            });  // end section function

            //Get values for Global Variables
            GLOBAL_HasClients = $("#ShowCustomer").val();
            GLOBAL_IsError = $("#ShowError").val();

            //Validate if has error
            if (GLOBAL_IsError == "1") {
                $('#messageModal').modal('show');
            }

            //Validate if has more than one client
            if (GLOBAL_HasClients == "1") {

                $('#FormularioCustomer').submit(function (e) {
                    $("#LoginFlag").val(1);
                    var filtertype = $("#FilterType").val();
                    var customer;

                    //If the selection is coinca, it will transfer the information
                    if (filtertype == 3 || filtertype == 4) {
                        $.ajax({
                            url: '/Account/SetCustomerRole',
                            type: 'POST',
                            data: JSON.stringify({ filtertype: filtertype, customer: customer }),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log('sucess');
                                if (data === "OK") {
                                    var url = '@Url.Action("IndexCustomer", "Home")'
                                    window.location.replace(url);
                                }
                                else {
                                    var url = '@Url.Action("IndexCustomer", "Home")'
                                    window.location.replace(url);
                                }
                            }
                        });
                    }

                    customer = $('#ddlCustomer').val();

                    if (filtertype == 1) {
                        var name = "socio";
                    }
                    else if (filtertype == 2) {
                        var name = "cliente";
                    }

                    
                    if (customer.indexOf('Seleccione') != 0 && customer != '') {   //!customer.startsWith("Seleccione") && customer != '') {
                        setErrorMsj('', false);
                        $.ajax({
                            url: '/Account/SetCustomerRole',
                            type: 'POST',
                            data: JSON.stringify({ filtertype: filtertype, customer: customer }),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                console.log('sucess');
                                if (data === "OK") {
                                    var url = '@Url.Action("IndexCustomer", "Home")'
                                    window.location.replace(url);
                                }
                                else {
                                    var url = '@Url.Action("IndexCustomer", "Home")'
                                    window.location.replace(url);
                                }
                            }
                        });
                    }
                    else if (filtertype != 3 && filtertype != 4)
                    {
                        e.preventDefault();
                        if (name == undefined)
                            setErrorMsj('* Seleccione el tipo de usuario u oprima el botón "Continuar con mi perfil" para ingresar al sistema con su perfil.', true);
                        else
                            setErrorMsj('* Seleccione un ' + name + ' u oprima el botón "Continuar con mi perfil" para ingresar al sistema con su perfil.', true);
                    }
                });

                $('#customerModal').modal('show');

                /* Show or hide errors messages*/
                var setErrorMsj = function (msj, show) {
                    if (show) {
                        $('#errorMsj').html(msj);
                        $('#validationErrors').removeClass('hide');
                    } else {
                        $('#errorMsj').html('');
                        $('#validationErrors').addClass('hide');
                    }
                }

                $('#btnCustomerCancel').on('click', function () {
                    
                    $("#LoginFlag").val(1);
                    $.ajax({
                        url: '/Account/SetCustomerRole',
                        type: 'POST',
                        data: JSON.stringify({ filtertype: 0, customer: '' }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            console.log('sucess');
                            if (data === "ERROR") {
                                var url = '@Url.Action("IndexCustomer", "Home")'
                                window.location.replace(url);
                            }
                        }
                    });

                    $('#customerModal').modal('hide');
                });
            }           

            $("#ddlCustomer").change(function () {
                setErrorMsj('', false);
            });

            $("#FilterType").change(function () {
                setErrorMsj('', false);
                var filtertype = $("#FilterType").val();

                if (filtertype == 3 || filtertype == 4) {
                    $('#ddlCustomer').attr('disabled', true);
                    return;
                }

                $.ajax({
                    url: '/UserRolesPermission/RetrieveCustomerAuthByPartner',
                    type: 'POST',
                    data: JSON.stringify({ FilterType: filtertype }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.clientslist) {
                            if (filtertype == 1) {
                                $('#ddlCustomer').html("");
                                $('#select2-chosen-1').html("Seleccione un socio");
                                $('#ddlCustomer').append("<option>Seleccione un socio</option>");
                            }
                            else {
                                $('#ddlCustomer').html("");
                                $('#select2-chosen-1').html("Seleccione un cliente");
                                $('#ddlCustomer').append("<option>Seleccione un cliente</option>");
                            }
                            
                            for (var i = 0; i < data.clientslist.length; i++) {
                                $('#ddlCustomer').append('<option value="' + data.clientslist[i].Value + '">'
                                        + data.clientslist[i].Name +
                                        '</option>');                                
                            }

                            $('#ddlCustomer').attr('disabled', false);
                        }
                        else {
                            $('#ddlCustomer').html("");
                            $('#ddlCustomer')
                                    .append($("<option></option>")
                                    .text(""));
                        }
                    }
                });
            });
        }); // close out script

        var ddlCustomerFormat = function (item) {
            if (!item.id) return item.text;

            if (item.text == "Seleccione un cliente" || item.text == "Seleccione un socio") return item.text;

            var json = JSON.parse(item.text.replace(/\t/g, '').replace(/'/g, "\""));
            return '<div class="row">' +
                    '<div class="col-md-12">' + json.Name + '</div>' +
                    '</div>';
        };

        var ddlFilterFormat = function (item) {
            if (!item.id) return item.text;

            if (item.text == "Agrupar por:") return item.text;

            var json = JSON.parse(item.text.replace(/\t/g, '').replace(/'/g, "\""));
            return '<div class="row">' +
                    '<div class="col-md-12">' + json.Name + '</div>' +
                    '</div>';
        };

        $('#customerModal').on('hidden.bs.modal', function () {
            
            var val = $("#LoginFlag").val();

            if (val != 1) {
                //Intercom('update');
                Intercom('shutdown');
                $('#logoutForm').submit();
            }
            else {
                return;
            }
        })

    </script>

}
