﻿@using ECOsystem.Business.Utilities
@model ECOsystem.Models.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/BAC/_LayoutLogin.cshtml";

    var showError = ViewBag.showModalLoginFails ?? false;
    var showCustomer = ViewBag.showModalCustomer ?? false;
    var customerList = ViewBag.customerList;
    Model.CList = Model.CList ?? new List<SelectListItem>();
}

@Html.Hidden("ShowError", ((showError) ? "1" : "0"))
@Html.Hidden("ShowCustomer", ((showCustomer) ? "1" : "0"))

<div class="container bottom20 div_login" style="font-family:Arial; font-size:18px">
    <div class="row clearfix">
        <div class="col-sm-6 col-md-7"></div>
        <div class="col-xs-12 col-sm-12 col-md-12" id="loginFrame" style="background-color:rgba(64,64,64,0.75); width:497px; height: 456px; border-right:none !important">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(m => m.TimezoneOffset)

                    @Html.AntiForgeryToken()
                    <div style="padding-left:20px">
                        <h1 style="color:white"><strong>Flotas<br />BAC Credomatic</strong></h1>
                        <h4 style="color:white">Datos de ingreso al sistema</h4>
                    </div>
                    <br />
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-xs-3 col-md-3" style="padding-left:36px">
                            <h4 style="color:white">Usuario</h4>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            @Html.TextBoxFor(m => m.DecryptedEmail, new { @class = "form-control", @placeholder = "Digite su usuario" })
                            @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-3 col-md-3" style="padding-left:36px">
                            <h4 style="color:white">Contraseña</h4>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Digite su contraseña" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-md-8" style="padding-left:150px">
                            <div>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @style = "color: #CDCDCD; font-weight: normal !important " })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="padding-left:150px">
                            <button type="submit" class="btn btn-primary" style="background-color:#dc1431; border-color:#dc1431; width:25%; font-weight:bold">Ingresar</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9" style="padding-left:150px">
                            @Html.ActionLink("¿Olvidó su contraseña?", "ForgotPassword", "", new { style = "color:#DCDCDC;" })
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
    <div class="row" style="background-color:#f1f1f1; padding-bottom:30px; padding-left:12px">
        <div class="row">
            <br />
            <br />
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" style="height:30px; padding-top:5px">
                <label class="mainfont">Centros de Soporte</label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 col-xs-2 col-sm-1">
                <span data-toggle="tooltip" data-placement="bottom" title="Costa Rica +506 2205-5151">
                    <img src="~/Content/Images/flag_CRI.png" style="height:40px" />
                </span>
            </div>
            <div class="col-md-1 col-xs-2 col-sm-1">
                <span data-toggle="tooltip" data-placement="bottom" title="El Salvador +503 2206-4488 / 2113-0424">
                    <img src="~/Content/Images/flag_SLV.png" style="height:40px" />
                </span>
            </div>
            <div class="col-md-1 col-xs-2 col-sm-1">
                <span data-toggle="tooltip" data-placement="bottom" title="Guatemala +502 2278-7073">
                    <img src="~/Content/Images/flag_GTM.png" style="height:40px" />
                </span>
            </div>
            <div class="col-md-1 col-xs-2 col-sm-1">
                <span data-toggle="tooltip" data-placement="bottom" title="Honduras +504 2508-2838">
                    <img src="~/Content/Images/flag_HND.png" style="height:40px" />
                </span>
            </div>
            <div class="col-md-1 col-xs-2 col-sm-1">
                <span data-toggle="tooltip" data-placement="bottom" title="Panamá +507 377-8210">
                    <img src="~/Content/Images/flag_PAN.png" style="height:40px" />
                </span>
            </div>
            <div class="col-md-1 col-xs-2 col-sm-1">
                <span data-toggle="tooltip" data-placement="bottom" title="Nicaragua +505 2274-4300">
                    <img src="~/Content/Images/flag_NIC.png" style="height:40px" />
                </span>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">    
    <div class="col-md-4" style="padding-left:65px; padding-top:29px">
        <img src="~/Content/Images/BAC/flotas-efficiency.PNG" />
    </div>
    <div class="col-md-4" style="padding-left:80px">
        <img src="~/Content/Images/BAC/flotas-control.PNG" />
    </div>
    <div class="col-md-4" style="padding-top:20px">
        <img src="~/Content/Images/BAC/flotas-operation.PNG" />
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Sistema</h4>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Error</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>

            </div>

        </div>
    </div>
</div>

<div id="customerModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <form class="form-horizontal" id="FormularioCustomer">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color:rgba(64,64,64,0.85);">
                <div class="modal-body">
                    <h4 class="modal-title" style="color:white">Seleccionar cliente </h4>
                    <br />
                    @Html.Hidden("LoginFlag")

                    <div class="form-group">
                        @if (Model.CList.Count() == 0)
                        {
                            <div class="col-sm-5">
                                @Html.DropDownListFor(m => m.FilterType, GeneralCollections.GetFilterPartnerCustomer, "Agrupar por:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                            </div>
                        }
                        else
                        {
                            <label for="customer" class="col-sm-3 control-label">Cliente:</label>
                        }

                        <div class="col-sm-7">
                            @Html.DropDownListFor(m => m.CustomerId, Model.CList, "Su Selección", Model.CList.Count() != 0 ? new { @class = "form-control ", id = "ddlCustomer", custom = "true" }
                                : (object)new { @class = "form-control ", id = "ddlCustomer", custom = "true", disabled = "disabled" })
                        </div>
                    </div>
                    <div id="validationErrors" class="row top20" hidden>
                        <div id="errorMsj" class="col-sm-12 text-danger">
                        </div>
                    </div>
                </div> <!-- / .modal-body -->
                <div class="modal-footer">
                    <div class="col-sm-6 text-left" style="padding-left: 0px;">
                        <button id="btnCustomerCancel" type="button" class="btn btn-default text-left"><i class="mdi mdi-arrow-right"></i>&nbsp;Continuar con mi perfil</button>
                    </div>
                    <div class="col-sm-6 text-right" style="padding-right: 0px;">
                        <button id="btnCustomer" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </form>
</div>



@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}

@section Scripts {
    <script type="text/javascript">

       var GLOBAL_IsError = false;
       var GLOBAL_HasClients = false;

       $(document).ready(function () {
           $('[data-toggle="tooltip"]').tooltip();
           $("#ddlCustomer").rules("add", {
               required: false
           });

           //Initialize the dropdowns
           $('#ddlCustomer').select2('data', {});
           $('#ddlCustomer').select2({
               formatResult: ddlCustomerFormat,
               formatSelection: ddlCustomerFormat,
               escapeMarkup: function (m) { return m; }
           });

           $('#FilterType').select2('data', {});
           $('#FilterType').select2({
               formatResult: ddlFilterFormat,
               formatSelection: ddlFilterFormat,
               escapeMarkup: function (m) { return m; }
           });

           //**************************************************

           $('#TimezoneOffset').val(new Date().getTimezoneOffset() * -1);

           // cache the window object
           $window = $(window);

           $('section[data-type="background"]').each(function () {
               // declare the variable to affect the defined data-type
               var $scroll = $(this);

               $(window).scroll(function () {

                   // HTML5 proves useful for helping with creating JS functions!
                   // also, negative value because we're scrolling upwards
                   var yPos = -($window.scrollTop() / $scroll.data('speed'));

                   // background position
                   var coords = '50% ' + yPos + 'px';

                   // move the background
                   $scroll.css({ backgroundPosition: coords });
               }); // end window scroll
           });  // end section function

           //Get values for Global Variables
           GLOBAL_HasClients = $("#ShowCustomer").val();
           GLOBAL_IsError = $("#ShowError").val();

           //Validate if has error
           if (GLOBAL_IsError == "1") {
               $('#messageModal').modal('show');
           }

           //Validate if has more than one client
           if (GLOBAL_HasClients == "1") {

               $('#FormularioCustomer').submit(function (e) {
                   $("#LoginFlag").val(1);
                   var filtertype = $("#FilterType").val();
                   var customer;

                   //If the selection is coinca, it will transfer the information
                   if (filtertype == 3 || filtertype == 4) {
                       $.ajax({
                           url: '/Account/SetCustomerRole',
                           type: 'POST',
                           data: JSON.stringify({ filtertype: filtertype, customer: customer }),
                           dataType: 'json',
                           contentType: 'application/json',
                           success: function (data) {
                               console.log('sucess');
                               if (data === "OK") {
                                   var url = '@Url.Action("IndexCustomer", "Home")'
                                   window.location.replace(url);
                               }
                               else {
                                   var url = '@Url.Action("IndexCustomer", "Home")'
                                   window.location.replace(url);
                               }
                           }
                       });
                   }

                   customer = $('#ddlCustomer').val();

                   if (filtertype == 1) {
                       var name = "socio";
                   }
                   else if (filtertype == 2) {
                       var name = "cliente";
                   }



                   if (customer.indexOf('Seleccione') != 0 && customer != '') {
                       setErrorMsj('', false);
                       $.ajax({
                           url: '/Account/SetCustomerRole',
                           type: 'POST',
                           data: JSON.stringify({ filtertype: filtertype, customer: customer }),
                           dataType: 'json',
                           contentType: 'application/json',
                           success: function (data) {
                               console.log('sucess');
                               if (data === "OK") {
                                   var url = '@Url.Action("IndexCustomer", "Home")'
                                   window.location.replace(url);
                               }
                               else {
                                   var url = '@Url.Action("IndexCustomer", "Home")'
                                   window.location.replace(url);
                               }
                           }
                       });
                   }
                   else if (filtertype != 3 && filtertype != 4) {
                       e.preventDefault();
                       if (name == undefined) {
                           setErrorMsj('* Seleccione un perfil válido u oprima el botón "Continuar con mi perfil" para ingresar al sistema.', true);
                           $('#validationErrors').show('true');
                       }
                       else {
                           setErrorMsj('* Seleccione un ' + name + ' u oprima el botón "Continuar con mi perfil" para ingresar al sistema.', true);
                           $('#validationErrors').show('true');
                       }
                   }
               });

               $('#customerModal').modal('show');

               /* Show or hide errors messages*/
               var setErrorMsj = function (msj, show) {
                   if (show) {
                       $('#errorMsj').html(msj);
                       $('#validationErrors').show('true');
                   } else {
                       $('#errorMsj').html('');
                       $('#validationErrors').show('false');
                   }
               }

               $('#btnCustomerCancel').on('click', function () {

                   $("#LoginFlag").val(1);
                   $.ajax({
                       url: '/Account/SetCustomerRole',
                       type: 'POST',
                       data: JSON.stringify({ filtertype: 0, customer: '' }),
                       dataType: 'json',
                       contentType: 'application/json',
                       success: function (data) {
                           console.log('sucess');
                           if (data === "ERROR") {
                               var url = '@Url.Action("IndexCustomer", "Home")'
                               window.location.replace(url);
                           }
                       }
                   });

                   $('#customerModal').modal('hide');
               });
           }

           $("#ddlCustomer").change(function () {
               setErrorMsj('', false);
           });

           $("#FilterType").change(function () {
               setErrorMsj('', false);
               var filtertype = $("#FilterType").val();

               if (filtertype == 3 || filtertype == 4) {
                   $('#ddlCustomer').attr('disabled', true);
                   return;
               }

               $.ajax({
                   url: '/UserRolesPermission/RetrieveCustomerAuthByPartner',
                   type: 'POST',
                   data: JSON.stringify({ FilterType: filtertype }),
                   dataType: 'json',
                   contentType: 'application/json',
                   success: function (data) {
                       if (data.clientslist) {
                           if (filtertype == 1) {
                               $('#ddlCustomer').html("");
                               $('#select2-chosen-1').html("Seleccione un socio");
                               $('#ddlCustomer').append("<option>Seleccione un socio</option>");
                           }
                           else {
                               $('#ddlCustomer').html("");
                               $('#select2-chosen-1').html("Seleccione un cliente");
                               $('#ddlCustomer').append("<option>Seleccione un cliente</option>");
                           }

                           for (var i = 0; i < data.clientslist.length; i++) {
                               $('#ddlCustomer').append('<option value="' + data.clientslist[i].Value + '">'
                                       + data.clientslist[i].Name +
                                       '</option>');
                           }

                           $('#ddlCustomer').attr('disabled', false);
                       }
                       else {
                           $('#ddlCustomer').html("");
                           $('#ddlCustomer')
                                   .append($("<option></option>")
                                   .text(""));
                       }
                   }
               });
           });
       }); // close out script

       var ddlCustomerFormat = function (item) {
           if (!item.id) return item.text;

           if (item.text == "Seleccione un cliente" || item.text == "Seleccione un socio") return item.text;

           var json = JSON.parse(item.text.replace(/\t/g, '').replace(/'/g, "\""));
           return '<div class="row">' +
                   '<div class="col-md-12">' + json.Name + '</div>' +
                   '</div>';
       };

       var ddlFilterFormat = function (item) {
           if (!item.id) return item.text;

           if (item.text == "Agrupar por:") return item.text;

           var json = JSON.parse(item.text.replace(/\t/g, '').replace(/'/g, "\""));
           return '<div class="row">' +
                   '<div class="col-md-12">' + json.Name + '</div>' +
                   '</div>';
       };

       $('#customerModal').on('hidden.bs.modal', function () {

           var val = $("#LoginFlag").val();

           if (val != 1) {
               Intercom('shutdown');
               $('#logoutForm').submit();
           }
           else {
               return;
           }
       })

    </script>
}
