﻿@{
    Layout = "~/Views/Shared/BAC/_LayoutLogin.cshtml";
}
@section styles {
    <style>
        .terms_font {
            color: #000000;
        }
    </style>
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 terms_font">

    <h3 class="text-center">Política de Privacidad</h3>
    <hr />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="panel panel-default">
            <p>
                Esta Política explica los lineamientos con respecto a la recolección, uso, divulgación y transmisión de los datos de los usuarios, que aplica COINCA Comunicaciones Inalámbricas de Centroamérica, S.A., para la protección de la información. La presente Política se podrá modificar a medida que se actualizan y amplían los servicios. Por lo tanto, se recomienda consultarla periódicamente. Si accede al sitio web o de cualquier otro modo utiliza los servicios de bacflota.com, significa que presta su consentimiento a las prácticas que bacflota.com aplica sobre el manejo de la información.
            </p>
            <p>
                Los visitantes a la página web <a href="https://flotas.baccredomatic.com/">flotas.baccredomatic.com</a> y los Suscriptores de los servicios BAC Flota (en adelante conocidos en forma conjunta o individual como “usuarios”), se encuentran debidamente protegidos por la presente política de privacidad garantizando un uso adecuado, el consentimiento informado, así como el derecho de los usuarios de rectificar cualquier información que no sea actual, veraz, exacta o adecuada al fin determinado.
            </p>
            <p style="font-weight:bold">
                Recolección y uso de la información
            </p>
            <p>
                BAC Flota recibe y almacena información acerca de los usuarios, incluida información personal, con el fin de, entre otras cosas, prestar, mejorar y personalizar los servicios y las comunicaciones. Esta información se recopila de diferentes maneras, entre las cuales se destacan pero sin limitarse a, la que se introduce en el sitio web, la que se suministra a partir de interacciones con el servicio a través de la aplicación móvil, la que se brinda a través del Centro de Atención de Llamadas o del Centro de Soporte Especializado 24/7.
            </p>
            <p>
                La información personal es aquella información que se puede usar para identificar o contactar a los usuarios, y es indispensable para que éstos puedan utilizar los servicios de BAC Flota.  En caso de que los usuarios decidan no proporcionar información personal, la prestación del servicio no se podrá dar. La información no personal es toda aquella información que no permita establecer una asociación directa con los usuarios. Esta última se puede recopilar, usar, transferir y divulgar para cualquier propósito.
            </p>
            <p>
                BAC Flota podrá complementar la información personal de sus usuarios con la información de conocimiento público e información disponible de otras fuentes en la medida en que lo permita la ley. BAC Flota podrá utilizar la información personal, por ejemplo, para procesar el registro del usuario, sus pedidos y sus pagos, y para comunicar sobre éstos y otros temas. BAC Flota podrá utilizar el email, u otros métodos de contacto, para enviar mensajes acerca de actualización de servicios, encuestas para clientes y otra correspondencia relativa a su giro de negocio.
            </p>
            <p>
                BAC Flota da seguimiento a todas las interacciones con sus usuarios, razón por la cual registra información relacionada con éstos y con el uso que hacen del servicio. Entre otra información se registra: la actividad online, la selección, reseña y calificación de títulos, el historial de transacciones y la correspondencia, las direcciones de protocolo de Internet, tipos de dispositivo, datos exclusivos del dispositivo (tales como identificador del dispositivo), las llamadas realizadas al Centro de Soporte y cualquier actividad propia de la prestación del servicio. BAC Flota utilizará esta información para determinar la zona geográfica donde se encuentra, para hacer un seguimiento de los servicios prestados, para facilitar la respuesta con mayor rapidez y eficiencia a las consultas y solicitudes, y para mejorar o administrar mejor la oferta de servicios para los usuarios.
            </p>
            <p style="font-weight:bold">
                Divulgación de la información
            </p>
            <p>
                BAC Flota también se reserva el derecho de divulgar información personal cuando razonablemente consideramos que el acceso, el uso, la preservación o la divulgación de tal información es necesaria para: (a) Cumplir con cualquier legislación, reglamentación, proceso legal o solicitud gubernamental correspondiente, (b) Hacer cumplir términos de uso correspondientes, incluida la investigación de posibles infracciones de ellos, (c) Detectar, evitar o abordar actividades ilegales o presuntamente ilegales y cuestiones técnicas o de seguridad, o (d) Proteger de daño contra los derechos, la propiedad o la seguridad de BAC Flota, sus usuarios o el público en general, según lo requiera o permita la ley. En relación con una reorganización, reestructuración, fusión o venta, o cualquier otra transferencia de bienes, BAC Flota se reserva el derecho de transferir información, incluida la información personal, a condición de que el destinatario se comprometa a respetar la información personal de conformidad con nuestra política de privacidad.
            </p>
            <p>
                En caso de que desee realizar consultas en relación con nuestra política de privacidad o que desee ejercer los derechos relativos a su información personal, escriba a <a href="mailto:privacidad@bacflota.com">privacidad@bacflota.com</a>
            </p>
            <p style="font-weight:bold">
                Cookies y otras tecnologías
            </p>
            <p>
                Para mejorar nuestro servicio
            </p>
            <p>
                Cuando los usuarios interactúan con el servicio, BAC Flota y sus proveedores podrán colocar cookies en su sistema. Las cookies son pequeñas unidades de datos que se envían al navegador del usuario desde un servidor web y se almacenan en el sistema a los efectos de registrar datos. Por lo general, las cookies pueden hacer que Internet sea más útil, ya que almacenan información acerca de las preferencias del usuario en un sistema en particular.
            </p>
            <p>
                Además de las cookies, BAC Flota y sus proveedores de servicio utilizan una amplia gama de otras tecnologías, tales como etiquetas de pixeles (contadores de visitantes), imágenes en formato .GIF transparentes y otras tecnologías que forman parte del software de aplicación o de su dispositivo, para que BAC Flota pueda registrar información acerca de cómo interactúan los usuarios con el servicio. Estas cookies y otras tecnologías pueden ayudar a personalizar el servicio y ayudar a asociar las interacciones con el servicio a otra información dentro de su cuenta. Por ejemplo, muestran páginas populares, tasas de conversión, patrones de visualización, registro de clics y otra información que puede resultar útil para la mejora, el funcionamiento y la supervisión del sitio web y de otros aspectos del servicio.
            </p>
            <p style="font-weight:bold">
                Seguridad
            </p>
            <p>
                BAC Flota toma muy en serio la seguridad de la información y utiliza medidas administrativas, técnicas, físicas y de gestión razonables para proteger su información personal del acceso no autorizado. Por ejemplo, se utiliza Secure Sockets Layering, un protocolo estándar en la industria, en algunas de las transmisiones que envía a BAC Flota, a fin de cifrar cierta información personal que se transmite durante el proceso de registro y de suscripción. Además, BAC Flota utiliza certificados de seguridad para encriptar la transmisión de sus datos. Así mismo, nuestro sistema de almacenamiento de datos sensibles, como la información de medios de pago y personal de su cuenta, cuenta con certificaciones de seguridad para el resguardo de las transacciones comerciales.
            </p>
            <p>
                Lamentablemente, ningún sistema de seguridad es 100% seguro. Por lo tanto, no se garantiza la seguridad de la información y no se puede asumir la responsabilidad ante un acceso inapropiado. Al utilizar el servicio, incluido el sitio web y las interfaces de usuario, o al transmitir información por cualquier medio, los usuarios dan su consentimiento para que haya comunicación en forma electrónica, respecto de cuestiones de seguridad, privacidad y administrativas en relación con el uso que se hace de los servicios de BAC Flota.
            </p>
            <p style="font-weight:bold">
                Cambios a la política
            </p>
            <p>
                La presente política se podrá modificar periódicamente en la medida que se actualice y amplíe la gama de servicios o cambien las condiciones de la prestación de los mismos, por lo que los usuarios deben consultar regularmente si existe alguna actualización a esta política. Adicionalmente, los usuarios acuerdan que la aceptación de la Política de privacidad posterior al consentimiento original, así como el uso del sitio web de <a href="https://flotas.baccredomatic.com/">flotas.baccredomatic.com</a> o el uso continuo del servicio después de publicar un cambio a esta política, implica que acepta dichos cambios y se obliga a respetarlos. Podrá acceder a la última versión de esta Política de privacidad visitando el sitio web <a href="https://flotas.baccredomatic.com/">flotas.baccredomatic.com</a> y haciendo clic en "Política de Privacidad" al pie de las páginas. La última versión de la presente Política de Privacidad prevalecerá sobre todas las versiones anteriores. Al actualizar la Política de privacidad, publicaremos todas las versiones anteriores en nuestro sitio web. Podrá ver los cambios de las versiones anteriores de la Política de privacidad visitando nuestro sitio web.
            </p>
            <p style="font-weight:bold">
                Cómo contactarnos
            </p>
            <p>
                Si los usuarios tienen alguna pregunta respecto de su cuenta, debe comunicarse con el Centro de Soporte al Cliente. Si tiene alguna pregunta respecto de esta Política de Privacidad, incluido el tratamiento de información personal y/o nuestro uso de las cookies y otras tecnologías, escríbanos a <a href="mailto:privacidad@bacflota.com">privacidad@bacflota.com</a> o a la siguiente dirección:
            </p>
            <p style="font-weight:bold">
                COINCA Comunicaciones Inalámbricas de Centroamérica, S.A., San José, Santa Ana, Pozos, Parque Empresarial Fórum I, Edificio E, piso 2.
            </p>
        </div>

    </div>

</div>

