﻿@using ECOsystem.Utilities
@{
    ViewBag.Title = "Confirmación de cambio de Contraseña";
    var productInfo = ECOsystem.Utilities.Session.GetProductInfo();

    switch (productInfo)
    {
        case ProductInfo.BACFlota:
            Layout = "~/Views/Shared/BAC/_LayoutLogin.cshtml";
            break;
        case ProductInfo.LineVitaECO:
            Layout = "~/Views/Shared/LineVita/_LayoutLogin.cshtml";
            break;
        default: //Intrack ECO
            Layout = "~/Views/Shared/_LayoutLogin.cshtml";
            break;
    }
}


@section styles {

    @if (productInfo == ProductInfo.LineVitaECO)
    {
        <style type="text/css">
            html {
                background-color: white;
                width: 100%;
            }

            body {
                margin: 0px !important;
                color: white !important;
                padding-top: 0px !important;
            }

            .icon {
                padding-top: 40px;
            }

            .linkLV {
               color:red; 
            }
           
            .linkLV:hover {
               color:red; 
            }

            .div_header {
                background: url(../Content/Images/LineVita/footer-background.png);
                /*background-color: #E4002B;*/
                height: 135px;
            }

            .div_back {
                background-color: white;
                padding-top: 10px;
                color: black;
                padding-left: 28%;
            }

            .div_sobre_contac {
                background: url(../Content/Images/LineVita/background.png);
            }

            footer {
                margin: 60px;
            }
            .site-footer {
                text-align: center;
                background-color: white;
                width: 50%;
                margin-left: 25%;
                color: #9D9D9D;
            }
        </style>
    }
}

<div class="container bottom20 div_back">
    <div class="row clearfix">
        <div class="col-md-7 column" id="loginFrame">
            <section id="loginForm">
                <div>
                    <p>
                        Su contraseña ha sido cambiada exitosamente. Por favor presione este @Html.ActionLink("link para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "linkLV" })
                    </p>
                </div>
            </section>
        </div>
        <div class="col-md-6 column">
            @if (productInfo == ProductInfo.LineVitaECO)
            {
            }
            else
            {
                <img src="~/Content/Images/vehiculos.png" id="imagenvehiculos" />
            }
        </div>
    </div>
</div>

<div class="top20 lightgray bottom20">
    @if (productInfo == ProductInfo.LineVitaECO)
    {
    }
    else
    {
        @Html.Partial("_Principles1")
    }
</div>