﻿@model ECOsystem.Models.Account.ResetPasswordViewModel

<div class="container bottom20 div_back" style="font-family:Arial; font-size:18px">
    <div class="row clearfix">
        <div class="col-md-offset-3 col-md-6 column" id="loginFrame">
            <section id="loginForm">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    if (Model != null && Model.IsPasswordExpired)
                    {
                            <h2 class="center">Su contraseña ha expirado.</h2>
                    }
                    else
                    {
                        if (Model != null && Model.FirstTime)
                        {
                            <h2 class="center">Correo confirmado, ingrese su contraseña</h2>
                        }
                        else
                        {
                            <h2 class="center">Cambio de contraseña</h2>                            
                        }                       
                    }

                    <hr />

                    @Html.HiddenFor(model => model.Token)
                    @Html.HiddenFor(model => model.IsPasswordExpired)

                    <div id="validationErrors" class="hide col-lg-offset-2 col-md-9 alert alert-danger text-danger" role="alert">
                        <button type="button" onclick="hideAlert();" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <msj id="errorMsj"></msj>
                    </div>

                    if (Model.Error)
                    {
                        <div id="validationErrors2" class="col-lg-offset-2 col-md-9 alert alert-danger text-danger" role="alert">
                            <button type="button" onclick="hideAlert();" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @*@Html.Label("_ErrorMessage", Model.ErrorMessage, new { @class = "" })*@
                            @Model.ErrorMessage
                        </div>
                    }   

                    <div class="form-group">
                        <label class="col-md-5 control-label">Correo:</label>
                        <div class="col-md-7">
                            @Html.TextBox("_Email", Model.Email, new { @class = "form-control", disabled = "disabled" })
                            @Html.HiddenFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Nueva Contraseña:</label>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control text-password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Confirmar Contraseña:</label>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control text-password" })
                        </div>
                    </div>                                                 

                    @Html.HiddenFor(m => m.FirstTime)
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            @if (Model != null && Model.FirstTime)
                            {
                                <button id="btn_crear" type="submit" class="btn btn-primary" style="background-color:#E4002B; border-color:#E4002B;"><i class="glyphicon glyphicon-ok"></i>&nbsp;Crear Contraseña</button>
                            }
                            else
                            {
                                <button id="btn_cambiar" type="submit" class="btn btn-primary" style="background-color:#E4002B; border-color:#E4002B;"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Cambiar Contraseña</button>
                            }
                        </div>
                    </div>
                }
            </section>
        </div>
        
    </div>
</div>