﻿@model ECOsystem.Models.Account.ResetPasswordViewModel

<div class="container bottom20">
    <div class="row clearfix">
        <div class="col-md-6 column" id="loginFrame">
            <section id="loginForm">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    if (Model != null && Model.FirstTime)
                    {
                        <h4>Email confirmado, ingrese la contraseña</h4>
                    }
                    else
                    {
                        if (Model != null && Model.IsPasswordExpired)
                        {
                            <h4>Su constraseña ha expirado</h4>
                        }
                        else
                        {
                            <h4>Cambio de contraseña</h4>
                        }
                    }

                    <hr />

                    @Html.HiddenFor(model => model.Token)
                    @Html.HiddenFor(model => model.IsPasswordExpired)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBox("_Email", Model.Email, new { @class = "form-control", disabled = "disabled" })
                            @Html.HiddenFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    if (Model.Error)
                    {
                        <div class="form-group">
                            @Html.Label("_ErrorMessage", Model.ErrorMessage, new { @class = "col-md-offset-4 col-md-8 text-danger" })
                        </div>
                    }

                    <div id="validationErrors" class="form-group">
                        <div id="errorMsj" class="col-md-offset-4 col-md-8 text-danger">
                        </div>
                    </div>
                   //@Html.ValidationSummary("", new { @class = "col-md-offset-3 col-md-8 text-danger" })
                    @Html.HiddenFor(m => m.FirstTime)
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            @if (Model != null && Model.FirstTime)
                            {
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Crear</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Cambiar</button>
                            }
                        </div>
                    </div>

                }
            </section>
        </div>
        <div class="col-md-6 column">
            <img src="~/Content/Images/vehiculos.png" id="imagenvehiculos" />
        </div>
    </div>
</div>
