﻿@using ECOsystem.Utilities
@model ECOsystem.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";

    var productInfo = ECOsystem.Utilities.Session.GetProductInfo();

    switch (productInfo)
    {
        case ProductInfo.BACFlota:
            Layout = "~/Views/Shared/BAC/_LayoutLogin.cshtml";
            break;
        case ProductInfo.LineVitaECO:
            Layout = "~/Views/Shared/LineVita/_LayoutLoginOriginal.cshtml";
            <input id="productinfo" class="hidden" name="Header" value="3" />
            break;
        default: //Intrack ECO
            Layout = "~/Views/Shared/_LayoutLogin.cshtml";
            break;
    }
}


@section styles {

    @if (productInfo == ProductInfo.LineVitaECO)
    {
        <style type="text/css">
            html {
                background-color: white;
                width: 100%;
            }

            body {
                margin: 0px !important;
                color: white !important;
                padding-top: 0px !important;
            }

            .icon {
                padding-top: 40px;
            }

            .div_header {
                background: url(../Content/Images/LineVita/footer-background.png);
                /*background-color: #E4002B;*/
                height: 135px;
            }

            .text-password{
                font-size: 40px;
            }

            .div_back {
                background-color: white;
                padding-top: 10px;
                color: black;                
            }

            .div_sobre_contac {
                background: url(../Content/Images/LineVita/background.png);
            }

            footer {
                margin: 60px;
            }

            .site-footer {
                text-align: center;
                background-color: white;
                width: 50%;
                margin-left: 25%;
                color: #9D9D9D;
            }
        </style>
    }
}

@if (productInfo == ProductInfo.LineVitaECO)
{
    Html.RenderPartial("ResetPW_LineVita", Model);

}
else
{
    Html.RenderPartial("ResetPW", Model);
}


@section Scripts {
    <script>

        $(function () {
            $('#loginForm').off('click.btnSubmit', 'button[type=submit]').on('click.btnSubmit', 'button[type=submit]', function (e) {
                setErrorMsj('', false);
                if (validatePassword() && validateEmail()) {
                    return true;
                } else {
                    return false;
                }
            });
        });

        var hideAlert = function () {
            $('#validationErrors').addClass('hide');
            $('#validationErrors2').addClass('hide');
        }

        var setErrorMsj = function (msj, show) {
            if (show) {
                $('#errorMsj').html(msj);
                $('#validationErrors').removeClass('hide');
            } else {
                $('#errorMsj').html('');
                $('#validationErrors').addClass('hide');
                $('.validation-summary-errors').html('');
                $('.validation-summary-errors').addClass('hide');
            }

        }

        var validatePassword = function () {

            if ($('#loginForm').find('#Password').length > 0) {
                if (($('#Password').val().length == 0) && ($('#ConfirmPassword').val().length == 0)) {
                    return true;
                }

                if ($('#Password').val() == $('#ConfirmPassword').val()) {
                    if ($("#productinfo").val() == 3) {
                        var pass = /^[A-Za-z0-9]\S*.{5}$/;
                    }
                    else {
                        var pass = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
                    }

                    if ($('#Password').val().match(pass)) {
                        if ($('#Password').val() != $('#Email').val()) {
                            return true;
                        } else {
                            setErrorMsj('La contraseña debe ser diferente al correo.', true);
                            return false;
                        }
                    } else {
                        if ($("#productinfo").val() == 3) {
                            setErrorMsj('La contraseña debe contener al menos 6 caracteres y un dígito numérico.', true);
                        }
                        else {
                            setErrorMsj('La contraseña debe contener al menos entre 8 y 15 caracteres, una letra minúscula, una letra mayúscula, un dígito numérico y un carácter especial.', true);
                        }
                        return false;
                    }

                } else {
                    setErrorMsj('Las contraseñas deben ser iguales.', true);
                    return false;
                }
            }
            return true;
        };
    </script>
}