﻿@{
    Layout = "~/Views/Shared/LineVita/_LayoutLogin.cshtml";

    var userTerms = (ViewBag.TermsAndConditionsUser != null) ? ViewBag.TermsAndConditionsUser.ToString() : string.Empty;
}
@section styles {
    <style>
        .terms_font {
            color: #000000;
        }
    </style>
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 terms_font">

    <h3 class="text-center">Términos y Condiciones de ControlCar</h3>
    <hr />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <textarea rows="50" cols="170" style="width:100%;" readonly>
             @userTerms
        </textarea>
    </div>

</div>

