﻿
@{
    ViewBag.Title = "Reporte Consolidado de Flotas";
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Html.BeginForm("DownloadFile", "ConsolidatedReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">

                @using (Ajax.BeginForm("DownloadReport", "ConsolidatedReport", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = " ECOsystem.Areas.Admin.ConsolidatedReport.ShowLoader()",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = " ECOsystem.Areas.Admin.ConsolidatedReport.HideLoader(data)"
                }, new { id = "mainForm" }))
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <select class="form-control fbold" id="dateRanges" onchange=" ECOsystem.Areas.Admin.ConsolidatedReport.ChangeDateForm(this.value)">
                                <option value="0">Por Período</option>
                                <option value="1">Rango de Fechas</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownList("Month",  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Seleccione un Mes", new { @class = "form-control", custom = "true" })
                            <div class='input-group date hidden' id='datetimepickerStartDate'>
                                <input type="text" class="form-control fbold" name="StartDate" id="StartDate" placeholder="Fecha inicial" />
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownList("Year",  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Seleccione un Año", new { @class = "form-control", custom = "true" })
                            <div class='input-group date hidden' id='datetimepickerEndDate'>
                                <input type="text" class="form-control fbold" name="EndDate" id="EndDate" placeholder="Fecha final" />
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @{
                                    var data =  ECOsystem.Areas.Control.Business.GeneralCollections.VehiclesListByCustomer;

                                    <select class="form-control fbold" name="VehicleId" id="VehicleId">
                                        <option value="-1">Todos</option>
                                        @{
                                            foreach (var item in data)
                                            {
                                                <option value="@item.VehicleId">@item.Name @item.PlateId</option>
                                            }
                                        }
                                    </select>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top:1%">
                        <div class="col-sm-3">
                            <button type="submit" id="btnDownload" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
                        </div>
                    </div>
                }


                <br />

                <div class="row">
                    <div class="col-sm-12" id="InfoContainer">
                        <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione la información necesaria para generar el reporte.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Control/ConsolidatedReport.js"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
        });
    </script>
}