﻿@model  ECOsystem.Areas.Coinca.Models.ParametersBase
@{
    ViewBag.Title = "Mantenimiento de Parámetros Globales";
    ViewBag.Settings = "active";
    ViewBag.SettingsParameters = "active";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {

}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="2" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    @*<div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Mantenimiento de Parámetros Globales</h3>
        </div>
    </div>*@
    @using (Ajax.BeginForm("Index", "Parameters", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DetailContainer",
        OnSuccess = "ECOsystem.Utilities.SetConfirmation();"
    }, new { id = "saveForm" }))
    {
        <div id="DetailContainer">
                @Html.Partial("_partials/_Detail", Model.Data)
        </div>
    }
</div>


@section scripts {
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            $('#SafeSpeedMargin').numeric("integer");
            $('#AVLOdometerErrorMargin').numeric("integer");
            $('#POSOdometerErrorMargin').numeric("integer");
            $('#PointArrivalTimeTolerance').numeric("integer");
            $('#GeoPointErrorMargin').numeric("integer");
            $('#PasswordEffectiveDays').numeric("integer");
            $('#PasswordsValidateRepetition').numeric("integer");
        });
    </script>
}
