﻿@model  ECOsystem.Areas.Admin.Models.Administration.CreditCardDetails

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:750px">
        <div class="modal-content">
            @Html.HiddenFor(m => m.CardInfo.CardRequestId)
            @Html.HiddenFor(m => m.CardInfo.CreditCardId)
            @Html.HiddenFor(m => m.CardInfo.IssueForId)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información para la Tarjeta FleetCard</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-4">

                        <div id="creditDetail" class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="mdi mdi-credit-card"></span>&nbsp;Referencia FleetCard</h3>
                            </div>
                            <div class="panel-body">
                                @switch (Model.RequestInfo.IssueForId)
                                {
                                    case 100://drivers
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4>Conductor:</h4>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <h4>@Html.DisplayTextFor(m => m.RequestInfo.DriverName)</h4>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <h5>Identificación:&nbsp;@Html.DisplayTextFor(m => m.RequestInfo.DriverIdentification)</h5>
                                            </div>
                                        </div>

                                        break;
                                    case 101://Vehicles

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h4>Vehículo:</h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <h4>@Html.DisplayTextFor(m => m.RequestInfo.PlateId)</h4>
                                        </div>
                                    </div>

                                        break;
                                }
                            </div>
                        </div>

                        @*<div id="creditDetail" class="panel panel-default">
                            <div class="panel-heading">

                                <h3 class="panel-title"><span class="mdi mdi-briefcase"></span>&nbsp;Crédito Global</h3>
                            </div>
                            <div class="panel-body">
                                <h4>Total: @Model.CreditInfo.CreditAmountStr</h4>
                                <h5>Asignado: @Model.CreditInfo.CreditAssignedStr</h5>
                                <div class="progress">
                                    @{
                                        var bartheme = Model.CreditInfo.CreditAssignedPct > 80 ? "danger" : Model.CreditInfo.CreditAssignedPct > 40 ? "warning" : "success";
                                    }
                                    <div class="progress-bar progress-bar-@bartheme progress-bar-striped" aria-valuemin="0" aria-valuemax="100" style="width: @Model.CreditInfo.CreditAssignedPct%; color: black;">
                                        @Model.CreditInfo.CreditAssignedPctStr
                                    </div>
                                </div>
                            </div>
                        </div>*@


                    </div>
                    <div class="col-sm-8">
                        <div class="form-horizontal" role="form">

                            <div class="col-sm-12">
                                @switch (Model.RequestInfo.IssueForId)
                                {
                                    case 100:
                                        <input id="CardInfo_VehicleId" name="CardInfo.VehicleId" type="hidden" value="-1" />
                                        @Html.LabelFor(m => m.CardInfo.UserId, new { @class = "col-sm-14 control-label" })

                                        @Html.DropDownListFor(m => m.CardInfo.UserId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleDrives, "Seleccione un Conductor", new { @class = "form-control", custom = "true" })
                                        @Html.ValidationMessageFor(m => m.CardInfo.UserId, "", new { @class = "text-danger" })
                                        break;

                                    case 101:
                                        <input id="CardInfo_UserId" name="CardInfo.UserId" type="hidden" value="-1" />
                                        @Html.LabelFor(m => m.CardInfo.VehicleId, new { @class = "col-sm-14 control-label" })

                                        @Html.DropDownListFor(m => m.CardInfo.VehicleId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicles, "Seleccione un Vehículo", new { @class = "form-control", custom = "true" })
                                        @Html.ValidationMessageFor(m => m.CardInfo.VehicleId, "", new { @class = "text-danger" })
                                            break;
                                }
                            </div>

                            @*<div class="col-sm-12">
                                @Html.LabelFor(m => m.CardInfo.CreditLimit, new { @class = "col-sm-14 control-label" })

                                <div class="input-group">
                                    <span class="input-group-addon">@Model.CardInfo.CurrencySymbol</span>
                                    @Html.TextBoxFor(m => m.CardInfo.CreditLimitStr, new { @class = "form-control", @data_currency = "true" })
                                    @Html.HiddenFor(m => m.CardInfo.CreditLimit)
                                </div>
                                @Html.ValidationMessageFor(m => m.CardInfo.CreditLimitStr, "", new { @class = "text-danger" })

                            </div>*@

                            <div class="col-sm-12">
                                @if (Model.CardInfo.CreditCardId != null)
                                {
                                    @Html.LabelFor(m => m.CardInfo.DisplayCreditCardNumber, new { @class = "col-sm-14 control-label" })

                                    @Html.TextBoxFor(m => m.CardInfo.DisplayCreditCardNumber, new { placeholder = "Número de Tarjeta", @class = "form-control", disabled = "disabled" })
                                }
                            </div>

                            <div class="col-sm-12">
                                @if (Model.CardInfo.CreditCardId == null)
                                {
                                    <input id="CardInfo_StatusId" name="CardInfo.StatusId" type="hidden" value="0" />
                                }
                                else
                                {
                                    @Html.LabelFor(m => m.CardInfo.StatusId, new { @class = "col-sm-14 control-label" })

                                    @Html.DropDownListFor(m => m.CardInfo.StatusId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetCustomerCreditCardStatus, "Seleccione un Estado", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CardInfo.StatusId, "", new { @class = "text-danger" })
                                }
                            </div>

                            <div class="col-sm-12">
                                @Html.LabelFor(m => m.CardInfo.ExpirationMonth, new { @class = "col-sm-14 control-label" })

                                @Html.DropDownListFor(m => m.CardInfo.ExpirationMonth, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetMonthNames, "Mes de Expiración", new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.CardInfo.ExpirationMonth)
                            </div>

                            <div class="col-sm-12">
                                @Html.LabelFor(m => m.CardInfo.ExpirationYear, new { @class = "col-sm-14 control-label" })

                                @Html.DropDownListFor(m => m.CardInfo.ExpirationYear, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetYears, "Mes de Expiración", new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.CardInfo.ExpirationYear)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="javascript: $(this).attr('disabled', 'disabled'); $('#addOrEditForm').submit();"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
