﻿@model ECOsystem.Models.Core.CreditCardTransaction
<!-- Modal Start-->
<style>
    label{
        margin-left:15px;
        margin-top:10px;
    }
</style>
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" >Compra En Línea <span id="PreAuthorized"></span> - <span id="customer"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="partnerId" />
                <input type="hidden" id="customerId" />
                <input type="hidden" id="creditCardId" />
                <input type="hidden" id="IsPreauthorized" />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Datos de la Tarjeta
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="accountNumber">Número de Tarjeta</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" id="accountNumber" name="accountNumber" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="accountNumber">Empresa</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" id="CustomerNameText" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                           <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="accountNumber"># Placa</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" id="PlateId" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="accountNumber">Nombre de la Unidad</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" id="UnitName" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="expirationDate">Fecha de Expiración</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" type="text" id="expirationDate" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Datos de la Estación
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="totalAmount"># Afiliado</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="# Afiliado" data-val="true" data-val-required="Nombre es requerido" type="text" id="BacId" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="totalAmount" data-valmsg-replace="true" id="BacAfiliadoRequired"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="odometer"># Terminal</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="# Terminal" data-val="true" data-val-required="Nombre es requerido" type="text" id="TerminalId" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="odometer" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="odometer">Nombre de la Estación</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="Nombre de la Estación" data-val="true" data-val-required="Nombre es requerido" type="text" id="ServiceStationName" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="odometer" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Datos de la Venta
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="totalAmount">Monto Total</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="Monto Total de la Transacción" data-val="true" data-val-required="Nombre es requerido" type="text" id="totalAmount" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="totalAmount" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="odometer">Kilometraje</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="Kilometraje del Vehículo" data-val="true" data-val-required="Nombre es requerido" type="text" id="odometer" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="odometer" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="liters">Código de Conductor</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="Código de Conductor" data-val="true" data-val-required="Nombre es requerido" type="text" id="DriverCode" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="liters" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="liters">Litros</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="Cantidad de Litros" data-val="true" data-val-required="Nombre es requerido" type="text" id="liters" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="liters" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="plate">Placa</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="Número de Placa del Vehículo" data-val="true" data-val-required="Nombre es requerido" type="text" id="plate" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="plate" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="liters"># Terminal</label>
                                        <div class="col-sm-12">
                                            <input class="form-control valid" placeholder="Número Terminal del Comercio" data-val="true" data-val-required="# Terminal es requerido" type="text" id="terminal" />
                                            <span class="text-danger field-validation-valid" data-valmsg-for="terminal" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="AnswerData">
                            Datos de Respuesta
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="authorizationNumber">Número de Autorización</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" type="text" id="authorizationNumber" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" id="referenceNumberLabel">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="referenceNumber">Número de Referencia</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" type="text" id="referenceNumber" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6" id="systemTraceNumberLabel">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="systemTraceNumber">Número de Trazabilidad en el Sistema</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" type="text" id="systemTraceNumber" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">      
                                <div id="errorMessage" class="text-danger field-validation-valid" data-valmsg-for="plate" data-valmsg-replace="true"></div>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" alt=""/>
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cerrar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="btnVoid" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;Anular</button>
                    <button id="btnReverse" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;Reversar</button>                    
                    <button id="btnSale" type="button" class="btn btn-primary has-spinner"><i class="glyphicon glyphicon-ok "></i>&nbsp;Procesar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

