﻿@model IEnumerable< ECO_Admin.Models.Administration.TransactionRulesModel>
@{
    var customerId = ECOsystem.Utilities.Session.GetCustomerId();   
 }


<table class="table">
    <thead>
      <tr>
        <th>
          Descripción
        </th>
        <th></th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
        @foreach(var rule in Model){
          <tr id="@rule.RuleCustomerId">
                @{
                    var isChecked = rule.RuleActive ? "checked='checked'" : "";
                    var idRuleActive = string.Format("{0}_{1}_Active", rule.RuleId, rule.RuleCustomerId);
                    var idRuleValue = string.Format("{0}_{1}_Value", rule.RuleId, rule.RuleCustomerId);
                }
              
              <td name="RuleDescription" class="middleCells" style="width:500px;">@rule.RuleDescription</td>
              <td class="middleCells">
                    @if (rule.RuleType == 1) { 
                      <label class="marginErrorLabel">(%) Margen de Error</label>
                      <input id="@idRuleValue" name="RuleValue" type="text" value="@rule.RuleValue" class="form-control marginErrorValues" numeric />
                    }
              </td>
              
              @if (rule.RuleId == 12)
              {
                  <td class="middleCells" id="editTR">
                      <div class="form-horizontal">
                          <div class="col-sm-3" style="padding-left:0px;">
                              <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class="toggleCheck" @isChecked />
                          </div>
                          <div class="hideText" style="padding-left:0px" id="MarginDivText">
                              <div class="col-sm-5" style="padding-left:0px;width:168px;">
                                  <input type="text" class="form-control" id="margintxt" placeholder="Margen de Error" title="Margen de Error &#13; Valor Ejemplo: 100,00" />
                              </div>
                          </div>
                      </div>
                  </td>
              }
              else if (rule.RuleId == 13)
              {                
                <td class="middleCells">  
                    <div class="form-horizontal">
                        <div class="col-sm-3" style="padding-left:0px;">
                            <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class=" pull-left toggleCheck" @isChecked />
                        </div>
                                                     
                        <div class="hideText" style="padding-left:0px" id="TimeSlotValue">
                            <div class=" col-sm-2" style="padding-left:0px;width:57px;margin-right:-10px;">
                                <input class="form-control number-only" type="text" id="TimeSlotValueHours" placeholder="00" title="Horas" />
                            </div>
                            <div class="col-sm-1" style="padding-left:0px;padding-right:0px;width:10px;padding-top:7px;">
                                <label>:</label>
                            </div>
                            <div class="col-sm-2" style="padding-left:0px;width:57px;margin-right:-10px;">
                                <input class="form-control number-only" type="text" id="TimeSlotValueMinutes" placeholder="00" title="Minutos" />
                            </div>
                            <div class="col-sm-1" style="padding-left:0px;padding-right:0px;width:10px;padding-top:7px;">
                                <label>:</label>
                            </div>
                            <div class="col-sm-2" style="padding-left:0px;width:57px;margin-right:-10px;">
                                <input class="form-control number-only" type="text" id="TimeSlotValueSeconds" placeholder="00" title="Segundos" />
                            </div>
                        </div>
                    </div>               
                </td>                
              }
              else
              {
                <td class="middleCells">
                    <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class="toggleCheck" @isChecked />
                </td>
              }             
              
          </tr>
        }
    </tbody>
  </table>

@*<input id="sendRules" type="button" value="Send" />*@
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"></h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <button id="confirmChanges" type="button" style="margin-right: 46px;" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
    </div>
    <h3></h3>
</div>