﻿@model ECOsystem.Models.Core.CardRequest
@{
    var CountryId = ECOsystem.Utilities.Session.GetCountryId();
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var geopoliticalLevel3 = geopoliticalNames.Count > 2 ? geopoliticalNames[2] : "División geopolítica nivel 3";
}
@Html.Hidden("geopoliticalLevel2", geopoliticalLevel2)
@Html.Hidden("geopoliticalLevel3", geopoliticalLevel3)
<!-- Modal Start-->
<div class="modal fade" id="addOrEditCardRequestModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.HiddenFor(m => m.CardRequestId)
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalTitle">Solicitud de Método de Pago para Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Método de Pago</label>
                            <select class="form-control" onchange="validateStickers(this)" name="PaymentMethod" id="PaymentMethod"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Label("_GeographicDivision", "Ubicación Geográfica", new { @class = "col-sm-14 control-label" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model.DeliveryState == null || Model.DeliveryState == "")
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.StateId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetStates(CountryId), "Seleccione " + @geopoliticalLevel1, new { @class = "form-control", autofocus = "", custom = "true" })
                                @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.CountyId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetCounties(Model.StateId, CountryId), "Seleccione " + @geopoliticalLevel2, new { @class = "form-control", custom = "true" })
                                @Html.ValidationMessageFor(m => m.CountyId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.DeliveryState, new { placeholder = @geopoliticalLevel1, @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DeliveryState, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.DeliveryCounty, new { placeholder = @geopoliticalLevel2, @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DeliveryCounty, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    @if (Model.DeliveryState == null || Model.DeliveryState == "")
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.CityId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetCities(Model.CountyId, Model.StateId, CountryId), "Seleccione " + @geopoliticalLevel3, new { @class = "form-control", custom = "true" })
                                @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.DeliveryCity, new { placeholder = @geopoliticalLevel3, @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DeliveryCity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressLine1, new { @class = "col-sm-14 control-label" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.AddressLine1, new { placeholder = "Dirección exacta de Entrega", @class = "form-control", rows = "3" })
                            @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.AddressLine2, new { placeholder = "Otras Señas", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AuthorizedPerson, new { @class = "col-sm-14 control-label" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.AuthorizedPerson, new { placeholder = "Nombre completo Persona Autorizada", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AuthorizedPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ContactPhone, new { placeholder = "Teléfono", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ContactPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class='input-group date' id='datePickerEstimatedDelivery'>
                                @Html.TextBoxFor(m => m.EstimatedDeliveryStr, new { placeholder = "Fecha entrega", @class = "form-control" })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.EstimatedDeliveryStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PaymentReference, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.PaymentReference, new { placeholder = "Comprobante de  depósito", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PaymentReference, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <div id="creditDetail" class="panel panel-default">
                                <div class="panel-heading center" style="height:30px">
                                    <label style="color: #428bca;">Referencia para el Método de Pago</label>
                                </div>
                                <div class="panel-body">
                                    @Html.HiddenFor(m => m.IssueForId)
                                    @if (Model.IssueForId == 101)
                                    {
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input id="CardInfo_UserId" name="CardInfo.UserId" type="hidden" value="-1" />
                                                @Html.LabelFor(m => m.PlateId, new { @class = "col-sm-14 control-label" })
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.PlateId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehiclesWithNoCreditCard, "Seleccione un Vehículo", new { @class = "form-control", custom = "true", id = "VehiclePlateId" })
                                                @Html.ValidationMessageFor(m => m.PlateId, "", new { @class = "text-danger" })
                                            </div>
                                            @Html.HiddenFor(m => m.DriverName)
                                            @Html.HiddenFor(m => m.DriverIdentification)
                                        </div>
                                    }

                                    @if (Model.IssueForId == 100)
                                    {
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input id="CardInfo_VehicleId" name="CardInfo.VehicleId" type="hidden" value="-1" />
                                                @Html.LabelFor(m => m.DriverName, new { @class = "col-sm-14 control-label" })
                                            </div>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(m => m.DriverUserId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetDriversWithNoCreditCard, "Seleccione un Conductor", new { @class = "form-control", custom = "true", id = "DriverIdent" })
                                                @Html.ValidationMessageFor(m => m.DriverUserId, "", new { @class = "text-danger" })
                                            </div>
                                            @Html.HiddenFor(m => m.PlateId)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div id="validationErrors" class="pull-left">
                                <div id="errorMsj" class="text-danger">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-2">
                            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                        </div>
                        <div class="col-sm-10">
                            @if (Model.CardRequestId == null)
                            {
                                <button id="btnPaste" type="button" class="btn btn-warning" title="Usar Información del registro anterior">
                                    <i class="mdi mdi-reload" style="font-size:20px"></i>
                                </button>
                            }
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="ECOsystem.Areas.Admin.CreditCard.PreventCardRequestDoubleClick(this);"><i class="mdi mdi-check"></i>&nbsp;Guardar</button> @*javascript: $('#addOrEditCarRequestdForm').submit();*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal End -->

<script>

    const loadPaymentMethods = () => {
        $.post("@Url.Action("LoadPaymentMethods","CreditCard")", function (data) {

            let html = ""

            for (let i = 0; i < data.length; i++) {
                html += `<option value="${data[i].Id}">${data[i].Name}</option>`
            }

            $('#PaymentMethod').html(html)
        })
    }

    function validateStickers(element){
        if (element.value == 1) {
            $.post("@Url.Action("StickersCount", "CreditCard")", function (data) {
                if (data == 0) {
                    $("#PaymentMethod").val($("#PaymentMethod option:first").val());
                    swal("Mensaje del Sistema", "No hay Lectores Flotas disponibles en este momento.", "info");
                }
            })
        }
    }

    $(document).ready(function () {
        loadPaymentMethods()
    })

</script>
