﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.CreditCard>

@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();
}

@if (Model != null && Model.Any())
{
    <div class="card" style="padding-top:0">
        <div class="card-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Los medios de pago con estado "Solicitada" no pueden ser modificados .
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-warning btnUpdateSelectedValues"><i class="mdi mdi-pencil"></i>&nbsp;Editar Seleccionados</button>
                </div>
            </div>
            @(Html.Grid(Model)
                        .Selectable(true)
                        .Columns(c =>
                        {
                            c.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(2)
                                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                    @{
                                                string clase = "";
                                                if (@m.StatusId == 0 || m.StatusId == 1) { clase = "hide"; }
                                    }
                                    <label style="font-weight:bold;">
                                        <input class="@clase" type="checkbox" id="@m.CreditCardId" data-cardname="@m.CreditCardHolder" data-creditcardnumber="@m.RestrictCreditCardNumber" data-creditcardtype="@m.CreditCardType" data-statusid="@m.StatusId" PaymentInstrumentType="@m.PaymentInstrumentType">
                                    </label>
                                </div>)
                                    .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                                                "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                                    "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"chkCheckAll\"> </label>" +
                                                    "</span>" +
                                                "</div>");
                                c.Add(m => m.CreditCardHolder).Titled("Titular");
                                c.Add(m => m.RestrictCreditCardNumber).Titled("# Medio de Pago");
                                c.Add()
                                        .Titled("Medio de Pago")
                                        .Encoded(false)
                                        .Sanitized(false)
                                        .SetWidth(20)
                                        .RenderValueAs(m => @<span class="center">
                                                <label class="label label-success" style="font-size: 14px;">@m.CreditCardType</label>
                                                <label class="legend"></label>
                                            </span>);
                                c.Add(m => m.ExpirationDate).Titled("Fec. Expiración");
                                if (ECOsystem.Utilities.Session.GetCustomerInfo().TypeBudgetDistribution == 1)
                                {
                                    c.Add(m => m.AvailableLitersFormat).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Disponibles");
                                }
                                else
                                {
                                    c.Add(m => m.CreditAvailableFormatted).Titled("Monto Disponible");
                                }
                                c.Add(m => m.StatusName).Titled("Estado");
                                c.Add(m => m.PaymentInstrumentType).Titled("Type").Css("hidden");
                            }))
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-warning btnUpdateSelectedValues"><i class="mdi mdi-pencil"></i>&nbsp;Editar Seleccionados</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">        
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
