﻿@model IEnumerable<ECOsystem.Models.Core.CardRequest>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">

            <button type="button" class="btn btn-success" title="Generar seleccionados" massive-card-request><i class="mdi mdi-pencil"></i>&nbsp;Generar seleccionados</button>

            @switch (Model.ToList().FirstOrDefault().IssueForId)
            {
                case 100: //drivers

                @(Html.Grid(Model)
                    .Selectable(true)
                    .Columns(c =>
                    {
                        c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .RenderValueAs(m => @<div class="checkbox">
                                <label class="strong">
                                    <input type="checkbox" class="generateAllCards" id="@m.CardRequestId">
                                </label>
                            </div>)
                            .Titled("<div class=\"checkbox\" title=\"Seleccionar todos\">" +
                                "<label class = \"strong\">" +
                                    "<input type = \"checkbox\" class=\"generateAllCards\" id =\"-1\" >" +
                                "</label>" +
                            "</div>");
                        c.Add(m => m.AuthorizedPerson).Titled("Persona Autorizada");
                        c.Add(m => m.ContactPhone).Titled("Teléfono");
                        c.Add(m => m.EstimatedDeliveryStr).Titled("Entrega");
                        c.Add(m => m.DecryptedDriverName).Titled("Nombre Conductor");
                        c.Add(m => m.DecryptedDriverIdentification).Titled("Identificación");
                        c.Add(m => m.StatusName).Titled("Estado");
                        c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(2)
                            .RenderValueAs(m => @<button type="button" class="btn btn-success btnGrid" data-id="@m.CardRequestId" title="Eliminar solicitud" onclick="ECOsystem.Areas.Admin.CreditCard.RemoveCardRequest(@m.CardRequestId)"><i class="mdi mdi-close"></i>&nbsp;Eliminar solicitud</button>).Css("grid-col-btn");
                    c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(2)
                    .RenderValueAs(m => @<button type="button" class="btn btn-success btnGrid" data-id="@m.CardRequestId" data-info="@m.DecryptedDriverName" title="Generar Tarjeta" data-load><i class="mdi mdi-arrow-right-bold"></i>&nbsp;Generar Tarjeta</button>).Css("grid-col-btn");
                    }))

                break;
                case 101://vehicules

                @(Html.Grid(Model)
                    .Selectable(true)
                    .Columns(c =>
                    {
                         c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .RenderValueAs(m => @<div class="checkbox">
                                <label class="font-weight:bold;">
                                    <input type="checkbox" class="generateAllCards" id="@m.CardRequestId" paymenttype="@m.PaymentMethod">
                                </label>
                            </div>)
                            .Titled("<div class=\"checkbox\" title=\"Seleccionar todos\">" +
                                "<label class = \"strong\">" +
                                    "<input type = \"checkbox\" class=\"generateAllCards\" id =\"-1\" >" +
                                "</label>" +
                            "</div>");
                        c.Add(m => m.AuthorizedPerson).Titled("Persona Autorizada");
                        c.Add(m => m.ContactPhone).Titled("Teléfono");
                        c.Add(m => m.EstimatedDeliveryStr).Titled("Entrega");
                        c.Add(m => m.PlateId).Titled("No. Matrícula");
                        c.Add(m => m.StatusName).Titled("Estado");
                        c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(2)
                            .RenderValueAs(m => @<button type="button" class="btn btn-success btnGrid" data-id="@m.CardRequestId" title="Eliminar solicitud" onclick="ECOsystem.Areas.Admin.CreditCard.RemoveCardRequest(@m.CardRequestId)"><i class="mdi mdi-close"></i>&nbsp;Eliminar solicitud</button>).Css("grid-col-btn");
                            c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(2)
                    .RenderValueAs(m => @<button type="button" class="btn btn-success btnGrid" data-id="@m.CardRequestId" data-info="@m.PlateId" title="Generar" data-load><i class="mdi mdi-arrow-right-bold"></i>@(m.PaymentMethod != 0 ? "Generar " + m.PaymentName : "Generar Tarjeta")</button>).Css("grid-col-btn");
                    }))

                break;
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information"></i>&nbsp;No se encontraron resultados
    </div>
}
