﻿@model IEnumerable<ECO_Admin.Models.Administration.CreditCard>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
    .Selectable(true)
    .Columns(c =>
    {
        c.Add(m => m.DecryptedCustomerName).Titled("Cliente / Empresa");
        c.Add(m => m.CreditCardHolder).Titled("Titular");
        c.Add(m => m.RestrictCreditCardNumber).Titled("Número de Tarjeta");
        c.Add(m => m.ExpirationDate).Titled("Fecha de Expiración");
        c.Add(m => m.StatusName).Titled("Estado");
        c.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(120)
    .RenderValueAs(m => 
        @<div> 
             <span style="width:35px;">
                 <a href="#" class="creditcard sale-color" data-partnerid="@m.PartnerId" data-customerid="@m.CustomerId" data-creditcardid="@m.CreditCardId" data-customer="@m.DecryptedCustomerName" data-accountnumber="@m.RestrictCreditCardNumber" data-expirationdate="@(((m.ExpirationYear??2000) - 2000).ToString("00") + ((int)(m.ExpirationMonth ?? 0)).ToString("00"))" data-plateid="@m.VehiclePlate" data-unitname="@m.UnitName" data-ispreauthorized="0" title="Realizar Compra" data-execute_transaction><img src="@Url.Content("~/Content/Images/Carrito-Azul-de-agregar.png")" class="Preauthorized" /></a>
             </span>
             <span style="width:35px;">
                 <a href="#" data-partnerid="@m.PartnerId" data-customerid="@m.CustomerId" data-creditcardid="@m.CreditCardId" data-customer="@m.DecryptedCustomerName" data-accountnumber="@m.RestrictCreditCardNumber" data-expirationdate="@(((m.ExpirationYear??2000) - 2000).ToString("00") + ((int)(m.ExpirationMonth ?? 0)).ToString("00"))" data-plateid="@m.VehiclePlate" data-unitname="@m.UnitName" data-ispreauthorized="1" title="Realizar Compra Preautorizada" data-execute_preauthorized_transaction><img src="@Url.Content("~/Content/Images/Carrito-Verde-Preautorizadas.png")" class="Preauthorized" /></a>
             </span>             
             <span style="width:35px;">
                 <a href="#" class="creditcard delete-color" data-creditcardid="@m.CreditCardId" title="Anular Transacción" data-execute_reverseorvoid><i class="glyphicon glyphicon-ban-circle"></i></a>
             </span>
        </div>
     ).Css("grid-col-btn");


    }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}