﻿@model IEnumerable<ECO_Insurance.Models.Insurance.DrivingScoreFleet>

@{
    var ChartIndicatiorsClass = "";
    if (Model != null && ((Model.Count() / 12) + 1) > 24)
    {
        ChartIndicatiorsClass = "carousel-indicators-with-n";
    }
}

<div class="row">
    <div class="col-sm-12">
        <div id="DrivingScoreFleetReportCarousel" class="carousel slide" data-interval="false">

            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    <div class="item active" data-item>
                        <div class="row">
                            <div class="col-sm-12">
                                <canvas class="scoreFleet"></canvas>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators @ChartIndicatiorsClass">
                @for (var i = 0; i < (Model.Count() / 12) + 1; i++)
                {
                    var active = i == 0 ? "active" : "";
                    <li data-target="#DrivingScoreFleetReportCarousel" data-slide-to="@i" class="@active"></li>
                }
            </ol>
            <!-- Controls -->
            <div>
                <a class="left carousel-control" href="#DrivingScoreFleetReportCarousel" data-slide="prev"><i class="fa fa-angle-double-left fa-lg"></i></a>
                <a class="right carousel-control" href="#DrivingScoreFleetReportCarousel" data-slide="next"><i class="fa fa-angle-double-right fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>