﻿@using ECO_Insurance.Models.Insurance
@model IEnumerable<DrivingScoreFleet>
@{
    List<int> customersList = new List<int>();
    foreach (DrivingScoreFleet item in Model)
    {
        if (!customersList.Contains(item.CustomerId)){ customersList.Add(item.CustomerId);}
    }
    string customerName = "";
    int count = 0;
 }
@if (Model != null && Model.Any())
{
    @(Html.Grid(Model.Select(item => item))
          .Columns(c =>
          {
              c.Add(m => m.DecryptedName).Titled("Flota").SetWidth(110).Css("grid-col-center");
              c.Add(m => m.AverageScorestr).Titled("% Puntuación").SetWidth(110).Css("grid-col-center");
          }
          )
          .Selectable(true))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
