﻿@model ECO_Partner.Models.ExchangeRates
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mantenimiento de tipos de cambio";
    ViewBag.Administration = "active";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                @using (Ajax.BeginForm("ExchangeRatesAddOrEdit", "ExchangeRates", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = "ECO_Partner.ExchangeRates.ShowLoader()",
                    OnSuccess = "ECO_Partner.ExchangeRates.OnSaveData(data)"
                }, new { id = "ExchangeRatesAddOrEdit" }))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Tipos de cambio
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.Label("Tipo de cambio actual: ")
                                    @Html.TextBoxFor(m => m.CurrentAmount, "", new { @class = "form-control number-only", @placeholder = "Tipo de cambio actual", @disabled = "disabled" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.Label("Nuevo tipo de cambio: ")
                                    @Html.TextBoxFor(m => m.NewAmount, "", new { @class = "form-control number-only", @placeholder = "Nuevo tipo de cambio" })
                                </div>
                            </div>    
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-success"> <i class="mdi mdi-check"></i>&nbsp;Guardar Tipo de Cambio</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div id="ControlsContainer"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/ExchangeRates.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.ExchangeRates.Init();
        });
    </script>
}