﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerThresholds
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mantenimiento de Rangos para visualización en reportes";
    ViewBag.Administration = "active";
    ViewBag.Customizer = "active";
    ViewBag.CustomerThresholds = "active";
}

@section styles{
 <style>
    .panel-blue {
        border-color:steelblue;
    }

    .panel-blue .panel-heading {
        border-color: steelblue;
        color: #fff;
        background-color:steelblue;
    }

    .panel-blue a {
        color: steelblue;
    }

    .panel-blue a:hover {
        color: steelblue;
    }

    .panel-green {
        border-color: #5cb85c;
    }

    .panel-green .panel-heading {
        border-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
    }

    .panel-green a {
        color: #5cb85c;
    }

    .panel-green a:hover {
        color: #3d8b3d;
    }

    .panel-red {
        border-color: #d9534f;
    }

    .panel-red .panel-heading {
        border-color: #d9534f;
        color: #fff;
        background-color: #d9534f;
    }

    .panel-red a {
        color: #d9534f;
    }

    .panel-red a:hover {
        color: #b52b27;
    }

    .panel-yellow {
        border-color: #f0ad4e;
    }

    .panel-yellow .panel-heading {
        border-color: #f0ad4e;
        color: #fff;
        background-color: #f0ad4e;
    }

    .panel-yellow a {
        color: #f0ad4e;
    }

    .panel-yellow a:hover {
        color: #df8a13;
    }
 </style>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

 <div id="page-content-wrapper">        

         @using (Ajax.BeginForm("Index", "CustomerThresholds", null, new AjaxOptions
         {
             HttpMethod = "post",
             InsertionMode = InsertionMode.Replace,
             UpdateTargetId = "detailContainer",
             OnSuccess = "ECOsystem.Utilities.setConfirmation"
         }, new { id = "addOrEditForm" }))
         {
             <div id="detailContainer">
                @Html.Partial("_partials/_Detail", Model)
             </div>
         }
    </div> 
           

@section scripts {
    <script>
        function btnClick() {
            
            if (parseInt($("#RedHigher").val()) <parseInt( $("#RedLower").val()))
            {
                $("#errorcolors").html("El valor mínimo debe ser menor que  el valor máximo del  Rango Inferior.");
                return false;
            }
            else {
                if (parseInt($("#YellowHigher").val()) < parseInt( $("#YellowLower").val()))
                {
                    $("#errorcolors").html("El valor mínimo debe ser menor que  el valor máximo del Rango Intermedio.");
                    return false; }
                else {
                    if ( parseInt($("#GreenHigher").val()) < parseInt($("#GreenLower").val()))
                    {
                        $("#errorcolors").html("El valor mínimo debe ser menor que  el valor máximo del Rango Intermedio.");
                        return false;
                    }
                    else{
                    
                        if (parseInt($("#YellowLower").val()) < parseInt($("#RedHigher").val()))
                        {
                            $("#errorcolors").html("El valor mínimo del rango Intermedio debe ser mayor que el valor máximo del  Rango Inferior.");
                            return false;
                        }
                        else{
                        
                            if ( parseInt($("#GreenLower").val()) < parseInt($("#YellowHigher").val()))
                            {
                                $("#errorcolors").html("El valor mínimo del rango superior debe ser mayor que el valor máximo del  Rango Intermedio.");
                                return false;
                            }
                            else {
                                return true;
                            }                        
                        }                        
                    }                  
                }
            }

        }

        $(function () {
            $("#LoadMenuForm").submit();
            $("#RedLower").numeric("integer");
            $("#RedHigher").numeric("integer");
            $("#YellowLower").numeric("integer");
            $("#YellowHigher").numeric("integer");
            $("#GreenLower").numeric("integer");
            $("#GreenHigher").numeric("integer");
        });

    </script>
}
