﻿@model  ECOsystem.Areas.Coinca.Models.TestingEncryption
@{
    ViewBag.Title = "Prueba de Métodos de Encripción";
    ViewBag.Testing = "active";
    ViewBag.TestingEncryption = "active";
    ViewBag.TestingEncryptIndex = "active";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style type="text/css">
        .well {
            width: 92%;
            padding: 19% 0;
            background-color: #ececec;
        }

        #page-wrapper {
            margin: 0px 15% !important;
            padding-left: 6% !important;
        }

        #wrapper {
            padding-left: 0px !important;
        }

        .well {
            width: 75% !important;
            padding: 8px 0 !important;
        }

            .well a {
                color: #000 !important;
            }

        .sidebar-nav {
            margin-top: 5% !important;
        }
    </style>
}

<div id="wrapper">
    @Html.Partial("~/Views/Testing/_partials/_Menu.cshtml")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Prueba de Método de Encriptar</h3>
            </div>
        </div>

        @using (Html.BeginForm("EncryptIndex", "TestingEncryption", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="row">
                <div class="col-sm-12 top10">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Valor</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.Value, new { @class = "form-control", autofocus = "", rows = "10" })
                        </div>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    Model.Result = Model.Result.Replace("\n", "<br/>");

                    <div class="col-sm-12 top10">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Resultado</label>
                            <div class="col-sm-9">
                                <div class="well well-sm">
                                    @Html.Raw(Model.Result)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row top10">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div class="col-sm-9 text-right">
                    <a class="btn btn-default" data-dismiss="modal"
                       href="@Url.Action("EncryptIndex", "TestingEncryption")"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Limpiar</a>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Procesar Solicitud</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
         $(function () {
                $("#page-wrapper").css({ marginLeft: "250px" });
         });
    </script>
}
