﻿@model ECO_Insurance.Models.Insurance.EventRebuildingBase
@{
    DateTime? initialDate;
    DateTime? finalDate;
    if(Model.Parameters.StartDate!=null && Model.Parameters.EndDate!=null)
    {
        initialDate=Model.Parameters.StartDate;
        finalDate=Model.Parameters.EndDate;
    }else{
        DateTime dtmDate = new DateTime((int)Model.Parameters.Year,(int)Model.Parameters.Month,1);
        finalDate= dtmDate.AddMonths(1).AddDays(-1).AddHours(23).AddMinutes(59);
        initialDate=dtmDate;
    }
}
@if (Model.List != null && Model.List.Any())
{
      @(Html.Grid(Model.List)
               .Selectable(true)
               .Columns(c =>
               {
                   c.Add(m => m.DecryptedName).Titled("Conductor");
                   c.Add(m => m.PlateId).Titled("Placa Vehículo");
                   c.Add(m => m.DateStr).Titled("Fecha");
                   c.Add(m => m.Scorestr).Titled("Calificación");
            
                   c.Add()
                       .Encoded(false)
                       .Sanitized(false)
                       .SetWidth(2)
                       .RenderValueAs(m =>
                        @<span>

                            <a href="#" class="search-color"  data-toggle="modal" data-target="#addOrEditModal"  data-startDate="@initialDate" data-endDate="@finalDate" data-id="@m.VehicleId" id="showRebuilding"><i class="glyphicon glyphicon-search"></i></a>

                        </span>).Css("grid-col-btn");

        }))
   
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}