﻿
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li class="@ViewBag.Rebuildings">
                    <a href="#"><img src="~/Content/Images/menu_credit_cards.png" class="right10" />Reconstrucciones</a>
                    <ul class="nav nav-second-level">
                        @if (User.IsInRole("INSURANCE_ADMIN"))
                        {
                            <li>
                                <a class="@ViewBag.EventRebuilding" href="@Url.Action("Index", "EventRebuilding")">Reconstrucción de Eventos</a>
                            </li>
                        }
                       
                    </ul>
                </li> 
               
            </ul>
        </div>
    </div>
</nav>
