    body {
        padding-top: 0;
        overflow-x: hidden;
    }

    .menu-hide {
        display: none;
    }

    .menu-show {
        width: 310px;
        height: 100vh;
        position: absolute;
        top: 0;
        background: #eee;
    }
    
    .menu-show .panel {
        margin: 0;
        border-radius: 0 !important;
    }

    .menu-right-hide {
        right: 0 !important;
    }

    #menu-right {
        right: 0;
    }

    .map {
        width: 100%;
        position: absolute;
    }

    .map-menu-left-hide {
        left: 0px !important;
    }

    .map-menu-left-menu-hide {
        left: 15px !important;
    }

    .toggle-btn {
        position: absolute;
        border-radius: 0 !important;
        background-color: #f5f5f5 !important;
        outline: none !important;
    }

    .toggle-btn i {
        font-size: 24px;
    }

     .toggle-btn:hover {
     color:#000000;
    }

       .toggle-btn:focus {
     color:#000000;
    }


    .toggle-left-btn {
        left: 310px;
        border-left: 0 !important;
    }

    .toggle-left-menu-btn {
        left: 315px;
        border-left: 0 !important;
    }

    .toggle-right-btn {
        right: 310px;
        border-right: 0 !important;
    }

    .nav-tabs {
        border: 0;
    }

    .nav-tabs > li {
        width: 50%;
        text-align: center;
    }

    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus {
        border: 0 !important;
    }

    .card-heading {
        padding: 10px;
        background-color: darkcyan;
        color: white;
    }

    .panel-container-cards {
        height: calc(100vh - 160px);
        overflow: auto;
        width: 100%;
    }
    
    .panel-group {
        margin: 10px !important;
    }

    .panel-body {
        padding: 10px 10px 5px !important;
    }

    .tab-pane {
        background-color: #eee;
    }

    .card,
    .card-content {
        margin-top: 0!important;
    }

    .panel-container-cards-right {
        height: calc(100vh - 116px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .nav-tabs li.active {
        border-bottom: solid 4px darkcyan;
        background-color: #eee;
    }

    .nav-tabs li a {
        background-color: #eee !important;
        color: #555 !important;
        border: 0 !important;
    }

    .nav-tabs {
        background-color: #eee;
    }

    .tooltip {
        z-index: 1001;
    }

