/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper, #wrapper.toggled #sidebar-wrapper ul {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-title {
	vertical-align: middle;
	margin-left: 20px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 280px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 280px;
    width: 0;
    height: 100%;
    margin-left: -280px;
    overflow-y: auto;    
	background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 280px;
}

#wrapper.toggled #sidebar-wrapper ul {
    width: 64px;
}

#wrapper.toggled span#menu-title {
    display: none;
}

#wrapper.toggled span#chevron {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    min-height: 550px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -280px;
}

#wrapper-dash {
    padding:0% 7%;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;
}

.sidebar-nav li ul li {
    list-style: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.sidebar-nav li a:hover, 
.sidebar-nav li a:focus, 
.sidebar-nav li a.active {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#wrapper {
	padding-left: 280px;
}

#wrapper.toggled {
	padding-left: 64px;
}

#sidebar-wrapper {
	width: 280px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 64px;
}

#page-content-wrapper {
	padding: 20px;
	position: relative;
}

#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0;
}