﻿@model ECOsystem.Models.Core.Operators

@{
    var currency =  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetCurrencySymbolByCustomer.FirstOrDefault();
    int currencyId = (Model.CurrencyId != null && Model.CurrencyId > 0) ? Convert.ToInt32(Model.CurrencyId) : (currency != null) ? Convert.ToInt32(currency.Value) : 0;
    string currentCurrency = (Model.CurrencySymbol != null) ? Model.CurrencySymbol : (currency != null) ? currency.Text : string.Empty;   
 }

<!--Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.HiddenFor(m => m.OperatorId)
            @Html.HiddenFor(m => m.RowVersion)
            @*@Html.HiddenFor(m => m.CurrencyId)*@
            @Html.Hidden("CurrencyId", currencyId)
            @Html.HiddenFor(m => m.Rate)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Operador</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Operador", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Rate, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8" id="FormRate">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button id="symbolCurrencyAdd" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">@currentCurrency<span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        @foreach (var item in @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetCurrencySymbolByCustomer)
                                        {
                                            <li><a id="@item.Value" data-currency="true">@item.Text</a></li>                                                                        
                                        }
                                    </ul>
                                </div>
                                @Html.TextBoxFor(m => m.RateStr, new { placeholder = "Tarifa del Operador", @class = "form-control text-right", IsAmount = "true" })                                
                            </div>
                            @Html.ValidationMessageFor(m => m.RateStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
