﻿@model IEnumerable<ECOsystem.Models.Core.Operators>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.OperatorId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.OperatorId" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>
                </span>).Css("grid-col-btn");
          }))
}
else { 
    <p class="top20 text-success">No se encontraron resultados</p> 
}