﻿@model  ECOsystem.Areas.Coinca.Models.CreditCardTransaction

@{
    var dictionaryTransSales = new Dictionary<string, string>();
    SelectList selectListTransSales = new SelectList(dictionaryTransSales, "Key", "Value");

    if (Model != null && Model.TransactionSaleList != null && Model.TransactionSaleList.Count > 0)
    {
        foreach (var r in Model.TransactionSaleList)
        {
            if (!dictionaryTransSales.Keys.Contains(r.TraceNumber))
            {
                dictionaryTransSales.Add(r.TraceNumber, "{'NumTransaction':" + string.Format("'#{0}'", r.TraceNumber) + ", 'Date':'" + r.Date + "', 'FuelAmount': '" + r.FuelAmountStr + "'}");
            }
        }

        selectListTransSales = new SelectList(dictionaryTransSales, "Key", "Value");
    }
}

<!-- Modal Start-->
<style>
    label {
        margin-left: 15px;
        margin-top: 10px;
    }
</style>
<div class="modal fade" id="addOrEditModalVPOS_VOID" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @if (Model != null)
            {

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Compra En Línea - <span id="customer">@Model.Customer</span></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="creditCardId" />
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos de la Tarjeta
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="accountNumber">Número de Tarjeta</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="expirationDate">Fecha de Expiración</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.ExpirationDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos de la Venta
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="totalAmount">Monto Total</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.TotalAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="odometer">Kilometraje</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Odometer, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.Odometer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="liters">Litros</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Liters, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.Liters, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="plate">Placa</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.Plate, new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.Plate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="liters"># Terminal</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(m => m.TerminalId, new { @class = "form-control", placeholder = "Número Terminal del Comercio" })
                                                @Html.ValidationMessageFor(m => m.TerminalId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label" for="lastTransac">Últimas transacciones</label>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(m => m.SystemTraceNumber, selectListTransSales, "Seleccione una Transacción", new { @class = "form-control", custom = "true" })
                                                @Html.ValidationMessageFor(m => m.SystemTraceNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-sm-2">
                        <img id="processing" src="~/Content/Images/processing.gif" class="hide" alt="" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cerrar</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="btnVoid" type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;Anular</button>
                    </div>
                </div>
            
            }
            else
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Compra en Línea -  No Disponible</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="creditCardId" />
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Transacciones Previas
                            </h3>
                        </div>
                        <div class="panel-body">
                            No hay transacciones previas para anular.
                        </div>
                    </div>

                </div>
                <div class="modal-footer"></div>        
            }
        </div>
    </div>
</div>
<!-- Modal End -->

