﻿@model  ECOsystem.Areas.Coinca.Models.CreditCardTransaction


@using (Ajax.BeginForm("ValidateTransactionRules", "VPOS", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Coinca.AdminPreauthorized.LoaderShow();",
    OnComplete = "success"
}, new { id = "PreauthorizedSaleForm" }))
{
    @Html.HiddenFor(m => m.CreditCardId)
    @Html.HiddenFor(m => m.CustomerId)
    @Html.HiddenFor(m => m.Invoice)
    @Html.HiddenFor(m => m.MasterCardNumber)
    @Html.HiddenFor(m => m.MasterExpirationDate)
    @Html.HiddenFor(m => m.TransactionType)
    @Html.HiddenFor(m => m.TotalAmount)
    @Html.HiddenFor(m => m.SystemTraceNumber)
    @Html.HiddenFor(m => m.TransactionType)
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Datos de la Tarjeta
            </h3>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="accountNumber"># Tarjeta</label>
                            <div class="col-sm-12">
                                <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ####-####-####-####">
                                    @Html.TextBoxFor(m => m.AccountNumber, new { placeholder = "Número de Tarjeta", @class = "form-control textsize", @id = "AccountNumber" })
                                </span>
                                @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="accountNumber">Empresa</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.Customer, new { placeholder = "Nombre de Cliente", @class = "form-control", @id = "Customer" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="accountNumber"># Placa</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.Plate, new { placeholder = "# Placa", @class = "form-control", @id = "Plate" })
                                @Html.ValidationMessageFor(m => m.Plate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="expirationDate">Fecha de Expiración</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.ExpirationDate, new { placeholder = "Fecha de Expiración", @class = "form-control", @id = "ExpirationDate" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Datos de la Estación de Servicio
            </h3>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="totalAmount"># Afiliado</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.BACAfiliado, new { placeholder = "# Afiliado", @class = "form-control", @id = "BACAfiliado" })
                                @*@Html.ValidationMessageFor(m => m.BACAfiliado, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="odometer"># Terminal</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.TerminalId, new { placeholder = "# Terminal", @class = "form-control", @id = "TerminalId" })
                                @Html.ValidationMessageFor(m => m.TerminalId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="odometer">Nombre de la Estación</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.ServiceStationName, new { placeholder = "Nombre de la Estación", @class = "form-control", @id = "ServiceStationName" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" hidden id="bacidinformation">
                <div class="col-sm-12">
                    <label style="color:green;"><i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No existe una Estación de Servicio asociada a el # de Afiliado, sin embargo puede continuar con la transacción.</label>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Datos de la Venta
            </h3>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="totalAmount">Monto Total</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.TotalAmountStr, new { placeholder = "Monto Total de la Transacción", @class = "form-control", @Value = "" })
                                @Html.ValidationMessageFor(m => m.TotalAmountStr, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="odometer">Kilometraje</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.Odometer, new { placeholder = "Kilometraje del Vehículo", @class = "form-control", @Value = "" })
                                @Html.ValidationMessageFor(m => m.Odometer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="liters">Código de Conductor</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.DriverCode, new { placeholder = "Código de Conductor", @class = "form-control", @id = "DriverCode" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="liters">Litros</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.Liters, new { placeholder = "Cantidad de Litros", @class = "form-control", @Value = "" })
                                @Html.ValidationMessageFor(m => m.Liters, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Datos de la Tarjeta Maestra
            </h3>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="authorizationNumber">Número de Tarjeta Maestra</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.MasterCardNumber, new { placeholder = "Tarjeta Maestra", @class = "form-control", disabled = "disabled", @id = "MasterCardNumberText" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label" for="expirationDate">Fecha de Expiración</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.MasterExpirationDate, new { placeholder = "Fecha de Expiración", @class = "form-control", disabled = "disabled", @id = "MasterExpirationDateText" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group pull-right">
                <button type="button" class="btn btn-default" id="btnCancelProcess" data-toggle="modal" data-target="#ConfirmationModal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                &nbsp;&nbsp;<button type="submit" class="btn btn-success" id="btnTransactionRulesValidate"><i class="mdi mdi-settings"></i>&nbsp;Validar Reglas de Negocio</button>
            </div>
        </div>
    </div>

    <div id="plnAuthorizationNumber" class="hidden">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="AnswerData">
                    Transacción Pre-Autorizada
                </h3>
            </div>
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label" for="authorizationNumber">Número de Autorización</label>
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(m => m.AuthorizationNumber, new { placeholder = "Número de Autorización", @class = "form-control", @id = "PreAuthorizationNumber" })
                                    @Html.ValidationMessageFor(m => m.AuthorizationNumber, "", new { @class = "text-danger", @id = "PreAuthorizationNumberError" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <br />
                        <div class="col-sm-2">
                        </div>
                        <div class="col-lg-10 text-right">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ConfirmationModal"><i class=" mdi mdi-close"></i>&nbsp;Cancelar</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" id="btnPreAutorizedSale"><i class="mdi mdi-check"></i>&nbsp;Procesar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}