﻿@model ECOsystem.Models.Miscellaneous.CustomError

<div class="top20">

    <div class="modal fade" id="errorModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">  
            <div class="panel panel-warning" style="border-color: #C9302C; background-color: #FFFFD5">
                <!-- Default panel contents -->
                <div class="panel-heading" style="background-color: #C9302C; color: #FFFFD5; font-weight: bold">
                </div>
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-danger" style="border:none; background-color: #FFFFD5">
                            <div class="panel-heading" style="background-color: #FFFFD5;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color: #990000; font-weight: bold">
                                        VPOS | Compra En Línea
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-body" style="color: #990000; border: none;">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11">
                                        @Model.TechnicalError
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a class="btn btn-danger" data-dismiss="modal">
                                <i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#errorModal').modal('show');
</script>
