﻿@model IEnumerable< ECOsystem.Areas.Coinca.Models.CreditCardTransaction>

<style>
    .alingright
    {
        text-align: right;
    }

    .grid-header
    {
        text-align: left!important;
    }

</style>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
     .Selectable(true)
    .Columns(c =>
    {
        c.Add(m => m.Date).Titled("Fecha").SetWidth(3);
        c.Add(m => m.Plate).Titled("Placa").SetWidth(3);
        c.Add(m => m.TotalAmountStr).Titled("Monto").SetWidth(3);
        c.Add(m => m.Liters).Titled("Litros").SetWidth(3).Css("alingright");
        c.Add(m => m.TerminalId).Titled("Código de Terminal").SetWidth(3);
        c.Add(m => m.ServiceStationName).Titled("Nombre de Estación").SetWidth(3);
        c.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(3)
    .RenderValueAs(m =>
       @<span>
            <a href="#" class="creditcard sale-color" data-transactionid="@m.CCTransactionVPOSId" title="Aprobar Transacción" data-execute_transaction><i class="mdi mdi-32px mdi-cart"></i></a>
            &nbsp;&nbsp;
            <a href="#" class="creditcard delete-color" data-transactionid="@m.CCTransactionVPOSId" data-amount="@m.TotalAmount" title="Reversar Transacción" data-execute_reverseorvoid><i class="mdi mdi-32px mdi-credit-card-off"></i></a>
        </span>
     ).Css("grid-col-btn");
    }))
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
