﻿@model ECOsystem.Models.Miscellaneous.CustomError

<div class="top20">
    <div class="modal fade" id="infoModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"> VPOS | Compra en Línea</h4>
                </div>
                <div class="modal-body">
                    <h4 class="fbold center">
                        <span>
                            @Model.TechnicalError
                        </span>
                    </h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        <i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#infoModal').modal('show');
</script>
