﻿<div class="modal fade" id="SearchMasterCardModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Consulta de Tarjeta Maestra</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="SearchCreditCardId" />
                <input type="hidden" id="SearchCustomerId" />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label" for="accountNumber">Número de Tarjeta</label>
                        <div class="col-sm-12">
                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" id="searchAccountNumber" name="accountNumber" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="accountNumber">Cliente</label>
                        <div class="col-sm-12">
                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" id="searchCustomer" name="CustomerName" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="accountNumber">Número de Placa</label>
                        <div class="col-sm-12">
                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" id="searchPlate" name="Plate" type="text">
                        </div>
                    </div>                    
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" id="btnGetMasterCard" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;Buscar</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Resultado de la Busqueda
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="accountNumber">Número de Tarjeta Maestra</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" id="SearchMasterCardNumber" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label" for="accountNumber">Fecha de Vencimiento</label>
                                        <div class="col-sm-12">
                                            <input disabled="disabled" class="form-control valid" data-val="false" data-val-required="Nombre es requerido" id="SearchExpirationDate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cerrar</button>
                    <button id="btnSearchAccept" type="submit" class="btn btn-primary" data-dismiss="modal"><i class=" glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
