﻿@model ECOsystem.Models.Core.CustomReport
@{
    ViewBag.Title = Model.ReportName;
    ViewBag.Administration = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "Reports", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = " ECOsystem.Areas.Admin.DynamicCustomReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = " ECOsystem.Areas.Admin.DynamicCustomReport.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {
        @Html.HiddenFor(m => m.ReportId);
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button id="@Model.ReportId" type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
    <div id="ControlsContainer" style="margin-top:-25px;">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione los datos necesarios para la descarga del Reporte.
        </div>
    </div>
</div>

@using (Html.BeginForm("DownloadFile", "Reports", FormMethod.Post, new { id = "DownloadFileForm" })) { }

@section scripts {
    <script src="~/Scripts/Administration/DynamicCustomReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.DynamicCustomReport.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
