﻿@model ECO_Insurance.Models.Insurance.ScoreDrivingFormulaBase
@{
    ViewBag.Title = "Fórmula de Hábitos de Conducción";
    ViewBag.Administration = "active";
    ViewBag.ScoreDrivingSettings = "active";
    ViewBag.ScoreDrivingFormula = "active";
  
    ViewBag.HasGrid = true;
}

    <div id="detailContainer">
        @Html.Partial("_partials/_FormulaKeyBoard", Model.Data)
    </div>

<div id="wrapper">
    @Html.Partial("~/Views/Administration/_partials/_Menu.cshtml")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Solicitud de Fórmula de Hábitos de Conducción</h3>
            </div>
        </div>
          <!-- Search Area Start-->
        
        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchScoreDrivingFormula", "ScoreDrivingFormula", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-lg-11">
                    <div class="input-group">

                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                        </span>

                    </div>
                </div>
                <div class="col-lg-1">
                    <button id="btnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrEditModal" title="Agregar"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadScoreDrivingFormula", "ScoreDrivingFormula", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECO_Insurance.ScoreDrivingFormula.AddOrEditModalShow()"
        }, new { id = "loadForm" }))
        {
           <input id="id" name="id" type="hidden" />
        }
        <!-- Load Form End-->
        <!-- Dele Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteScoreDrivingFormula", "ScoreDrivingFormula", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        <input id="id" name="id" type="hidden" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
        @using (Ajax.BeginForm("SaveVisibilitySetting", "ScoreDrivingFormula", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "settingForm" }))
        {

        }
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Insurance/ScoreDrivingFormula.min.js"></script>
    <script>
        $(function () {
            ECO_Insurance.ScoreDrivingFormula.Init({
                Model: @Html.Raw(Json.Encode(Model.Data))
            });
        });

    </script>
}