﻿
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gestión a Terceros";
    ViewBag.Administration = "active";
    ViewBag.Alerts = "active";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<link href="~/Content/Styles/custom-table.css" rel="stylesheet" />
<link href="~/Content/Styles/custom-checkbox.css" rel="stylesheet" />

<div id="app" class="container">
    <div id="page-content-wrapper">
        <div id="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        @*<div id="menu">
                                <button id="btnWhastApp" type="button" class="btn btn-info btn-lg">Whatsapp</button>
                            </div>*@

                        <div id="container-fluid">
                            <div class="row">
                                <div id="tabscontainer" role="tabpanel">
                                    <nav class="nav nav-pills flex-column flex-sm-row">
                                        <ul class="nav nav-tabs" id="ThirdParty" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" v-on:click="driversCellsPhoneRetrieve()" id="home-tab" data-toggle="tab" href="#WhatsApp" role="tab" aria-controls="home"
                                                   aria-selected="true">WhatsApp</a>
                                            </li>
                                            @*<li class="nav-item">
                                                    <a class="nav-link" v-on:click="metodo2()" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                                       aria-selected="false">Tab 2</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                                       aria-selected="false">Tab 3</a>
                                                </li>*@
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="ThirdPartyContent">
                        <div class="tab-pane fade show active" id="WhatsApp" role="tabpanel" aria-labelledby="home-tab">
                            <label for="nombre">Activar consultas</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Busqueda por nombre o teléfono" v-model="filter" />
                                    <label for="busqueda">Los conductores mostrados tienen un teléfono registrado</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                        <label style="font-weight:bold;">
                                            <input type="checkbox" class="showCheck" id="chkAll" v-model="checked" v-on:click="checkedAll">
                                            <span style="color:dodgerblue">Selecionar: {{ status }} </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" id="btnCancel" class="btn btn-default text-left"
                                            v-on:click="driversCellsPhoneRetrieve()">
                                        <i class="mdi mdi-account-off"></i>&nbsp;Cancelar
                                    </button>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" id="btnUpdate" class="btn btn-primary btnSaveData"
                                            title="Autoriza las consultas por whastapp"
                                            v-on:click="driversCellsPhoneAddOrEdit()">
                                        <i class="mdi mdi-check"></i>&nbsp;Actualizar
                                    </button>
                                </div>
                                <!--<div class="col-md-12">
                                    <input type="checkbox" class="showCheck" id="chkAll" v-model="checked" v-on:click="checkedAll">
                                    <label for="nombre" style="color:dodgerblue"> Selecionar: {{ status }}</label>
                                </div>-->
                            </div>
                            <!--[ table thirdParty ]-->
                            <div class="card">
                                <div class="table-responsive">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table table-bordered table-hover " id="tablaReporteUsuario">
                                                <thead>
                                                    <tr>
                                                        <th>Activos</th>
                                                        <th>Nombre</th>
                                                        <th>Teléfono</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableData">
                                                    <tr v-for="(row, index) in filteredRows" :key="`DecryptedName-${index}`">
                                                        <td>
                                                            <input type="checkbox" id="chkData" :value="row.Whatsapp" v-if="row.Whatsapp === 1" checked onclick="return 1">
                                                            <input type="checkbox" id="chkData" :value="row.Whatsapp" v-else onclick="return 0">
                                                        </td>
                                                        <td v-html="highlightMatches(row.DecryptedName)"></td>
                                                        <td v-html="highlightMatches(row.DecryptedPhoneNumber)"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-lg-12">
                                            <ul class="pagination pagination-lg pager" id="myPager"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ Table End ]-->
                        </div>
                        @*<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <label for="nombre"> Tab 2</label>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <label for="nombre">Tab 3</label>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Administration/thirdPartyManagement.js"></script>
