﻿@model ECOsystem.Models.Insurance.ScoreDrivingSettings
@{
    ViewBag.Title = "Index";
    ViewBag.ScoreDrivingSettingsI = "active";
    ViewBag.ScoreDrivingSettings = "active";
}
<div id="wrapper">
  @Html.Partial("~/Views/Administration/_partials/_Menu.cshtml")
<div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Configuración Hábitos de Conducción</h3>
            </div>
        </div>
    <div class="row"  style="padding-left:15px;padding-right:15px;">
     
              @using (Html.BeginForm("SaveSettings", "ScoreDrivingSettings", FormMethod.Post, new { id = "SaveSettingsForm" }))
                {
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Socios</div>
                            <div class="panel-body">
                                <div class="col-lg-7 col-lg-offset-3">
                   
                                      @Html.CheckBoxFor(m=>m.PartnerVisibility)
                                      <label >Permitir Visualización de Hábitos de Conducción</label>
                  
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-10 ">
                            <button id="btnSave" type="submit" class="btn btn-success pull-right" title="Agregar"><i class="glyphicon glyphicon-save"></i>&nbsp;&nbsp;Guardar</button>
                         </div>
                    </div>
                }
        </div>
    </div>
</div>