﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.VehicleAlertReportModelBase
@{
    ViewBag.Title = "Reporte de Alertas de Vehículos";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var download = Session["Download"] == null ? "" : Session["Download"];
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
@using (Ajax.BeginForm("ExcelReportDownload", "VehicleAlertReport", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Efficiency.VehicleAlertReport.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ECO_Efficiency.VehicleAlertReport.HideLoader(data)"
}, new { id = "ExcelReportDownloadForm" }))
{
    <div class="row">
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.Parameters.CostCenterId, GeneralCollections.GetVehicleCostCenters, "Centro de Costo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
        </div>
        <div class="col-sm-4">
            <div class='input-group date' id='datetimepickerStartDate'>
                @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "onClick", "ECO_Efficiency.VehicleAlertReport.OnClickFirstDate();" }, { "autocomplete", "off" } })
                <span class="input-group-addon">
                    <span class="mdi mdi-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class='input-group date' id='datetimepickerEndDate'>
                @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                <span class="input-group-addon">
                    <span class="mdi mdi-calendar"></span>
                </span>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.Parameters.FilterVehicle, GeneralCollections.GetVehiclesByCustomer, "Vehículos:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
        </div>

        <div class="col-sm-8">
            <div class="">
                <div class="row" style="margin-top: -6px;">
                    <div class="col-sm-3">
                        <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.Parameters.PanicButton) &nbsp;Boton de Pánico
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.Parameters.HighTemperature) &nbsp;Sensor de Temperatura
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.Parameters.StopsDetail) &nbsp;Detalle de Paradas
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />

    <div class="row text-right">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success" onclick="ECO_Efficiency.VehicleAlertReport.OnClickDownload()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
        </div>
    </div>
}
    <br />
    <div id="ControlsContainer"></div>
    @using (Html.BeginForm("DonwloadFile", "VehicleAlertReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }
</div>
    @section scripts {
        <script src="~/Scripts/Efficiency/VehicleAlertReport.js?v=@version-hf0"></script>
        <script>
            $(function () {
                $("#LoadMenuForm").submit();
                var val = $('#DownloadFile').val();
                if (val != '') $('#DonwloadFileForm').submit();
                ECO_Efficiency.VehicleAlertReport.Init({});
            });
            if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
        </script>
    }

