﻿@{
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<style type="text/css">
   
</style>


<footer class="site-footer">
    <img src="~/Content/Images/namuteklogocolor.png" />
    <p class="top20">
        Namutek Fintech Centroamérica &copy; @DateTime.Now.Year Todos los Derechos Reservados 
    </p>
    <p>
        <a href="/Account/TermsAndConditions" class="terms_style">Términos y Condiciones</a> | Versión @version
    </p>
</footer>
