﻿<style type="text/css">
    #logo-href {
        display: block;
        text-align: center;
    }

    #logo {
        width: 100%;
        max-width: 20em;
    }

    .controlcar-main-container {
        font-family: Arial;
        font-size: 18px;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: white;
    }

        a:hover {
            font-size: 17px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }

        a:visited {
            color: white;
        }

        a:active {
            color: white;
        }

    .pointer:hover {
        font-size: 17px;
        font-weight: bold;
    }

    .header_menu {
        padding-top: 3%;
        text-align: right;
    }

    .text-mision-vision {
        font-size: 18px;
    }

    .modal-header {
        border-bottom: 0px solid #000 !important;
    }

    .modal-footer {
        border-top: 0px solid #000 !important;
    }

    .modal-content {
        background-color: rgba(32, 32, 32, 0.81);
        color: #e9e9e9;
        font-size: 1.1em;
        font-family: Arial;
    }

    .panel-default {
        background-color: transparent !important;
        border-radius: 0px 47px;
        -ms-border-radius: 0px 47px;
        -moz-border-radius: 0px 47px;
        -khtml-border-radius: 0px 47px;
    }

    @@media(max-width: 768px) {
        #loginFrame {
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    }

    @@media screen and (min-width: 2000px) {
        #loginFrame {
            float: right;
            margin-right: 10%;
        }
    }

    @@media screen and (min-width: 1025px) {
        .header_menu {
            padding-right: 10%;
        }
    }

    @@media screen and (max-width: 1024px) {
        .header_menu {
            padding-right: 4%;
        }
    }

    @@media screen and (max-width: 768px) {
        .header_menu {
            padding-top: 5%;
        }
    }
</style>


<script>
    window.intercomSettings = {
        app_id: "sfc9mkpd"
    };
</script>
<script>
    (function () {
        var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/sfc9mkpd'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
    })();
</script>

<div class="header div_header">
    <div class="container controlcar-main-container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-5 col-md-3">
                <a href="/" id="logo-href">
                    <img alt="Control Car" src="~/Content/Images/LineVita/Logo-ControlCar_FC_White.png" id="logo">
                </a>
            </div>
            @*<div class="header_menu col-xs-12 col-sm-7 col-md-9">
                    <span class="pointer" data-toggle="modal" data-target="#sobrenosotrosLineVita">Sobre Nosotros</span> |
                    <span class="pointer" data-toggle="modal" data-target="#contactenosLineVita">Dónde Estamos</span> |
                    <span class="pointer"><a href="@Url.Action("ShowImage", "Contact")" class="elements">¿Qué es ControlCar?</a></span>
                    <script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.intrack-eco.com&amp;size=S&amp;lang=es"></script>
                </div>*@
        </div>
    </div>
</div>
@Html.Partial("LineVita/_HeaderModalsLineVita")
