﻿<div class="modal fade" id="contactenosLineVita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" style="color: white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @*<h4 class="modal-title" id="myModalLabel">Dónde Estamos</h4>*@
            </div>
            <div class="modal-body ">
                <img class="center-block" src="~/Content/Images/coincalogoflat.png" width="250" />

                <div class="row col-md-12">
                    <div class="col-md-8">
                        <h2>Ubicación</h2>
                        <p>Parque Empresarial Forum I, Edificio E, 1er Piso, Santa Ana.</p>
                        <p>San José, Costa Rica</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Contacto</h2>
                        <p>Telefono: +(506) 2205-5200</p>
                    </div>
                </div>
                
                <br />

                <div class="row">
                    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFjiwMRTTj-AgrzlpfMyWevgkaV8oc5uU&callback=initMap"></script>
                    <div style="overflow: hidden; height: 400px; width: 100%; background: none !important; color:black">
                        <div id="gmap_canvas_lv" style="height: 400px; width: 100%"></div>
                        <style>
                            #gmap_canvas_lv img {
                                max-width: none !important;
                                background: none !important;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sobrenosotrosLineVita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="color: white;" data-dismiss="modal" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body ">
                <img class="center-block" src="~/Content/Images/coincalogoflat.png" width="250" />
                
                <br />
                <p>Namutek es una empresa de orientación tecnológica, adscrita a Credomatic International Corporation, uno de los grupos inversionistas más importantes de la Región Centroamericana.</p>
                <p>Namutek cuenta con una amplia trayectoria en la industria de telecomunicaciones, desarrollo de software especializado, integración de redes de atención y manejo de servicios de orientación tecnológica, incluyendo Centros de Contacto Telefónico (“Call Centers”).</p>
                <p>Con más de quince años de experiencia acumulada, Namutek actualmente ofrece tecnología de última generación aplicable al desarrollo de productos y servicios en el área telemática (disciplina que fusiona el campo de las telecomunicaciones y la informática). Su enfoque se orienta al ecosistema de vehículo y su usuario. Esta nueva línea de productos nace en respuesta a la creciente demanda por servicios de interconectividad en carretera que se evidencia a nivel mundial. Por eso, anticipando la transformación en la industria de interconexión vehicular Namutek es pionera, a nivel latinoamericano, en ofrecer soluciones de telemática.</p>
                
                <br />
                
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="center">Nuestra Misión</h2>
                        <p class="center text-mision-vision">Generar experiencias únicas para potenciar negocios mediante innovación tecnológica.</p>
                    </div>
                    <div class="col-md-6">
                        <h2 class="center">Nuestra Visión</h2>
                        <p class="center text-mision-vision">Detonar el IoT en América, siendo el puente entre las personas, empresas y tecnología.</p>
                    </div>
                </div>
                
                <br />

                <div class="row">
                    <h2 class="center">Nuestros Valores</h2>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-5">
                                    <img class="center-block" src="~/Content/Images/teamwork_icon.png" width="100" />
                                </div>
                                <div class="col-md-7">
                                    <h3>Trabajo en Equipo</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <img class="center-block" src="~/Content/Images/integrity_icon.png" width="100" />
                                </div>
                                <div class="col-md-6">
                                    <h3>Integridad</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <img class="center-block" src="~/Content/Images/innovation_icon.png" width="100" />
                                </div>
                                <div class="col-md-6">
                                    <h3>Innovación</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <img class="center-block" src="~/Content/Images/confidence_icon.png" width="100" />
                                </div>
                                <div class="col-md-6">
                                    <h3>Compromiso</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


