﻿@using ECOsystem.Business.Core
@using ECOsystem.Models.Core
@using ModuleConfig
@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var userId = user.UserId;
    var userRole = user.RoleNameTemp != null ? user.RoleNameTemp : user.RoleName;
    var CustomerName = user.CustomerNameTemp;
    var ProfileId = user.ProfileIdTemp;
    var logo = user.EntityLogo;
    var photo = (user.Photo != null)? user.Photo : ECOsystem.Utilities.Session.GetUserProfileImage(user.UserId);
    var currentCustomer = new Customers();
    var accessList = (dynamic)null;

    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_ADMIN")
    {
        int first_name = 1;
        currentCustomer = ECOsystem.Utilities.Session.GetCustomerInfo(first_name);
    }
    var ControlAccess = ECOsystem.Utilities.Session.DashboardControlAcces();

    if (user.LoggedUser == "C")
    {
        accessList = UserRolesPermissionsBusiness.CustomerByCustomerRetrieveStatic(userId, userRole, CustomerName, userRole); //ECOsystem.Business.Administration.UserRolesPermissionsBusiness.CustomerByCustomerRetrieveStatic(userId, userRole, CustomerName, userRole);
        if (accessList.Count == 0)
        {
            accessList = UserRolesPermissionsBusiness.RetrieveCustomerAuthByPartnerStatic(userId, userRole, CustomerName, userRole); //ECOsystem.Business.Administration.UserRolesPermissionsBusiness.RetrieveCustomerAuthByPartnerStatic(userId, userRole, CustomerName, userRole);
        }
    }
    else
    {
        if (user.IsCustomerUser)
        {
            accessList = UserRolesPermissionsBusiness.RetrieveCustomerAuthByPartnerStatic(userId, userRole, CustomerName, userRole); //ECOsystem.Business.Administration.UserRolesPermissionsBusiness.RetrieveCustomerAuthByPartnerStatic(userId, userRole, CustomerName, userRole);
        }
        else
        {
            accessList = UserRolesPermissionsBusiness.RetrievePartnerAuthByPartnerStatic(userId, userRole, CustomerName, userRole); //ECOsystem.Business.Administration.UserRolesPermissionsBusiness.RetrievePartnerAuthByPartnerStatic(userId, userRole, CustomerName, userRole);
        }
    }
    ViewBag.AccessList = accessList;
    ViewBag.CustomerName = CustomerName;
    ViewBag.ProfileId = ProfileId;
}

<style>
    .SelectableOption {
        font-size: 14px;
        color: #777;
        text-decoration: none;
        background-color: white;
    }

        .SelectableOption:hover {
            background-color: lightgray;
            cursor: pointer;
        }

    .triangleAlert {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 10px 15px;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -10px;
        left: 279px;
    }

    .navbar-default, .navbar-default .navbar-brand {
        background: url(/Content/Images/LineVita/footer-background.png);
        background-color: transparent;
    }

    .navbar-header {
        background: url(/Content/Images/LineVita/footer-background.png);
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div class="navbar-brand" id="menu-toggle">
                <span class="mdi mdi-menu sidebar-icon" style="margin: 20px;cursor:pointer;" id="main-flotas-icon"></span>
                <a href="#" url="@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleCore), "/Home/Index")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">
                    <img alt="Brand" src="~/Content/Images/LineVita/Logo-ControlCar_FC_White.png">
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <li class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                @if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "LINEVITA_ADMIN")
                {
                    <li class="@ViewBag.Localizacion"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleEfficiency), "/GeoFences/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Ubicación y Localización</a></li>

                    @*<li class="@ViewBag.Control"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleControl), "/PreventiveMaintenanceVehicle/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Asignar Mantenimientos</a></li>*@
    
                    <li class="@ViewBag.MenuMantenimientos"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleAdministration), "/PreventiveMaintenanceCatalog/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Mantenimientos</a></li>

                    <li class="@ViewBag.MenuCalificaciones"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleOperation), "/ScoreSpeedRoutesReport/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Nota de Conducción</a></li>
                }
                else
                {
                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_USER")
                    {
                    }
                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_ADMIN")
                    {
                        if (currentCustomer != null && currentCustomer.ModuleEfficiency)
                        {
                            <li class="@ViewBag.Efficiency"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleEfficiency), "/RealTime/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Eficiencia</a></li>
                        }
                        else
                        {
                            <li class="@ViewBag.Efficiency"><a permission_alert href="javascript:void(0);" role="tab" data-toggle="">Eficiencia</a></li>
                        }
                    }

                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "SUPER_ADMIN")
                    {
                        <li class="@ViewBag.Settings"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleCoinca), "/Partners") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Configuración</a></li>
                    }
                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_ADMIN")
                    {
                        if (currentCustomer != null && currentCustomer.ModuleControl)
                        {
                            <li class="@ViewBag.Control"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleControl), "/Control/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Control</a></li>
                        }
                        else
                        {
                            <li class="@ViewBag.Control"><a permission_alert href="javascript:void(0);" role="tab">Control</a></li>
                        }
                    }
                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_USER")
                    {
                        if (currentCustomer != null && currentCustomer.ModuleOperation)
                        {
                            <li class="@ViewBag.Operation"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleOperation), "/ScoreSpeedRoutesReport") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Operación</a></li>
                        }
                        else
                        {
                            <li class="@ViewBag.Operation"><a permission_alert href="javascript:void(0);" role="tab">Operación</a></li>
                        }
                    }
                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "SUPER_ADMIN")
                    {
                        <li class="@ViewBag.Operation"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleCoinca), "/ScoreTypes/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Operación</a></li>
                    }
                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_ADMIN")
                    {
                        <li class="@ViewBag.Operation"><a href="#" url="@Url.Action("IndexControl", "Account", new { title = "Operación", header = "6" })" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Operación</a></li>
                    }

                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_ADMIN")
                    {
                        <li class="@ViewBag.Administration"><a href="#" url="@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleAdministration), "/Administration/Index")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="" class="icon"><span data-toggle="tooltip" data-placement="bottom" title="Administración"><i class="mdi mdi-account-settings-variant"></i></span></a></li>
                    }

                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "SUPER_ADMIN")
                    {
                        <li class="@ViewBag.Administration"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleCoinca), "/vpos") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="" class="icon"><span data-toggle="tooltip" data-placement="bottom" title="Administración"><i class="mdi mdi-account-settings-variant"></i></span></a></li>
                    }

                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "PARTNER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "PARTNER_USER")
                    {
                        <li class="@ViewBag.Administration"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModulePartner), "/Customers/Index/") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="" class="icon"><span data-toggle="tooltip" data-placement="bottom" title="Administración"><i class="mdi mdi-account-settings-variant"></i></span></a></li>
                    }


                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_USER")
                    {
                        <li class="@ViewBag.InsuranceCustomers"><a href="#" url="@Url.Action("Index", "InsuranceCustomers")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Clientes</a></li>
                    }

                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_ADMIN")
                    {
                    }

                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "INSURANCE_USER")
                    {
                        <li class="@ViewBag.FAQ"><a href="#" url="@Url.Action("Index", "Faq")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">FAQ</a></li>
                    }

                    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "PARTNER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "PARTNER_USER")
                    {
                        <li class="@ViewBag.PartnerReports"><a href="#" url=@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModulePartner), "/CreditCardsReport/Index/") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Reportes</a></li>
                    }


                    if (User.IsInRole("SUPER_TESTER"))
                    {
                        <li class="@ViewBag.Testing"><a href="#" url="@string.Format("{0}{1}", ModuleURI.GetURI(ModuleTypeURI.ModuleCoinca), "/TestingApiTrx/Index/")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="" style="text-shadow: 1px 1px 1px #FF0000;">Testing*</a></li>
                    }

                    @*<li class="@ViewBag.Manual"><a href="@string.Format("{0}", ModuleURI.GetURI(ModuleTypeURI.ModuleManual))" target="_blank" role="tab" title="Manual" class="icon"><i class="mdi mdi-help-circle-outline"></i></a></li>*@
                }

                @if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "CUSTOMER_USER")
                {
                    <li class="dropdown" id="alarmContainer">
                        <a href="#" class="dropdown-toggle dropdown-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="mdi mdi-bell menu-icon" aria-hidden="true"></span><span class="mdi mdi-sync mdi-rotate" aria-hidden="true"></span>
                        </a>
                        @using (Ajax.BeginForm("Alarms", "ASPMenus", new {area = "" }, new AjaxOptions
                        {
                            HttpMethod = "get",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "alarmContainer"
                        }, new { id = "LoadRenderAlarms", method = "GET" })) { }
                    </li>
                }
                
                @{
                    string cusNam = ECOsystem.Utilities.Session.GetCustomerInfo() != null ? " - " + ECOsystem.Utilities.Session.GetCustomerInfo().DecryptedName : "";
                    string UserInfo = user.DecryptedName + cusNam;
                }

                <li id="dropdown-user" class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-image" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span data-toggle="tooltip" data-placement="bottom" title="@UserInfo">
                            @*<img src="@logo" alt="Company Logo" class="img-circle company-image">*@

                            @if (!string.IsNullOrEmpty(photo))
                            {
                                <img src="@photo" alt="User Image" class="img-circle user-image">
                            }
                            else
                            {
                                <img src="~/Content/Images/account.png" alt="User Image" class="img-circle user-image">
                            }
                        </span>
                    </a>
                    <div id="dropDownUser" class="dropdown-menu" style="width: 300px;max-height: calc(100vh - 60px);">
                        <div class="pointer triangleAlert" style="left:235px!important;"></div>
                        @Html.Partial("_LoginPartial")
                        <div role="separator" class="divider"></div>
                        <div class="@ViewBag.Salir SelectableOption" style="padding:3px 15px;margin-top:-5px;font-size:18px!important;" onclick="javascript:document.getElementById('logoutForm').submit()" target="_blank" role="tab" title="Salir">
                            <i class="mdi mdi-exit-to-app" style="font-size:18px;"></i>
                            <strong>Salir</strong>
                        </div>
                    </div>
                </li>
            </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}

<div class="modal fade" id="confirmModalSearch" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Perdida de Datos Actualizados</h4>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage">¿Está seguro que desea navegar hacia otra opción del menú y perder los cambios sobre los elementos coloreados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" data-btnmodal="true" class="btn btn-primary" onclick="ECOsystem.CustomersByPartner.OnClickAcceptChangesLost()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header top20">
    <div class="col-md-12 col-lg-12 @ViewBag.Full_Width">
        <div id="menu" class="row clearfix">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</div>
@Html.Partial("_HeaderModals")

