﻿<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159844943-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159844943-1');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ControlCar</title>
    @Styles.Render("~/bundles/bootstrap_core_css")
    <link href="~/Content/Styles/Views/_LayoutLogin.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <style type="text/css">

        html {
            background-color: white;
            width: 100%;
        }

        body {
            margin: 0px !important;
            color: white !important;
            padding-top: 0px !important;
        }

        .icon {
            padding-top: 40px;
        }

        .div_header {
            background: url(../Content/Images/LineVita/footer-background.png);
            height: 135px;
        }

        .div_back {
            background-color: white;
            padding-top: 10px;
        }

        .div_login {
            background: url(../Content/Images/LineVita/benefits.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 456px;
            padding-bottom: 0px;
        }

        footer {
            margin: 60px;
        }

        #messageModal {
            color: #000;
        }

        .site-footer {
            text-align: center;
            background-color: white;
            width: 50%;
            margin-left: 25%;
            color: #333;
        }

            .site-footer .terms_style {
                color: #333;
            }

                .site-footer .terms_style:hover {
                    font-size: 14px;
                    font-weight: 100;
                    text-decoration: underline;
                }

        .text-danger {
            color: #ff0938 !important;
            font-size: 13px !important;
        }
    </style>
</head>
<body>
    @Html.Partial("LineVita/_Header")
    <div class="page-wrap div_back">
        @RenderBody()
    </div>
    @Html.Partial("LineVita/_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap_js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        function init_map() {
            var myOptions = { zoom: 15, center: new google.maps.LatLng(9.945264541786784, -84.19472873210907), mapTypeId: google.maps.MapTypeId.ROADMAP };
            map = new google.maps.Map(document.getElementById("gmap_canvas_lv"), myOptions);
            marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(9.945264541786784, -84.19472873210907) });
            infowindow = new google.maps.InfoWindow({ content: "<b>COINCA</b><p>Comunicaciones Inalámbricas de Centroamérica</p>" });
            google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); });
            infowindow.open(map, marker);
        }

        $(function () {
            $('#contactenosLineVita').on('shown.bs.modal', function () {
                init_map();
            })

            //Restore Session Management
            store.clear();
        });

    </script>
</body>
</html>
