﻿<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159844943-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159844943-1');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ControlCar</title>
    <link rel="icon" href="~/Assets/img/favicon.png" type="image/gif" sizes="16x16">
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/Bootstrap-4/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <style type="text/css">
        #messageModal {
            color: #000;
        }

        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        }
    </style>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="~/Assets/img/logo.png"> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Servicios </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#"> Ingreso </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"> Contacto </a>
                        </li>

                        <li class="nav-itemm">
                            <a class="fb_icon" href="#"> <span><img style="width:10px;" src="~/Assets/img/fb_icon.png"></span> </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>

    </header>

    <div>
        @RenderBody()
    </div>

    <!---================= Footer Start from here =================--->
    <footer class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto text-center">
                    <img class="footer_logo" src="Content/Images/footer_logo.png" />
                    <p class="footer_discriptin pt-4 pb-4"> Producto desarrollado y comercializado por Namutek Fintech </p>
                    <p class="footer_copyright mb-0 pt-0">© 2019 Todos los Derechos Reservados </p>
                    <p class="footer_copyright pt-0 mt-0">Términos y Condiciones | Versión 3.16.3.0 </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap_js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        function init_map() {
            var myOptions = { zoom: 15, center: new google.maps.LatLng(9.945264541786784, -84.19472873210907), mapTypeId: google.maps.MapTypeId.ROADMAP };
            map = new google.maps.Map(document.getElementById("gmap_canvas_lv"), myOptions);
            marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(9.945264541786784, -84.19472873210907) });
            infowindow = new google.maps.InfoWindow({ content: "<b>COINCA</b><p>Comunicaciones Inalámbricas de Centroamérica</p>" });
            google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); });
            infowindow.open(map, marker);
        }

        $(function () {
            $('#contactenosLineVita').on('shown.bs.modal', function () {
                init_map();
            })

            //Restore Session Management
            store.clear();
        });

    </script>
</body>
</html>
