﻿<div class="container" style="font-family:Arial; font-size:20px">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <ul class="cleanul">
                <li class="center">
                    <span style="display:inline-block">
                        <label> Ubicación y Localización</label>
                        @*<img src="~/Content/Images/LineVita/Ubicacion.png"/>*@
                    </span>                    
                </li>
                <p></p>
                <li class="center">
                    <img height="100px" src="~/Content/Images/LineVita/Ubicacion-blanca.png" />
                </li>
                <li>
                   
                </li>
                <li>
                    <ul style="margin-left: 100px">
                        <li>
                            Localización y Monitoreo en Tiempo Real
                        </li>                     
                        <li>
                            Reconstruccióon de Recorrido y Velocidades
                        </li>
                        <li>
                            Creación de Geocercas y Rutas
                        </li>
                        <li>
                            Control de Conductores Juveniles
                        </li>                        
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6 column">
            <ul class="cleanul">
                <li class="center">
                    <span style="display:inline-block">
                        <label> Nota de Conducción</label>
                        @*<img src="~/Content/Images/LineVita/Nota-de-conduccion.png" />*@
                    </span>                   
                </li>
                <p></p>
                <li class="center">
                    <img height="100px" src="~/Content/Images/LineVita/Carro-Feliz-blanco.png" />
                </li>
                <li>
                   
                </li>
                <li>
                    <ul style="margin-left: 70px">
                        <li>
                            Retroalimentación de Nota de Conducción
                        </li>
                        <li>
                            Distancia Recorrida
                        </li>
                        <li>
                            Velocidad Promedio en Exceso
                        </li>                       
                        <li>
                            Calificaciones Históricas
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
