﻿@{ 
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ECO System</title>
    @Styles.Render("~/bundles/bootstrap_css")
    @Styles.Render("~/bundles/menu_css")

    @if (ViewBag.HasGrid != null && ViewBag.HasGrid)
    {
        @Styles.Render("~/bundles/gridmvc_css")
    }
    <style>
        #page-wrapper {
            margin: 0;
        }

        .logo {
            background-color: white;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="logo">
        <img src="~/Content/Images/logo.gif" id="logo" width="300" />
    </div>

    @RenderBody()

    @Html.Partial("LineVita/_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap_js")
    @Scripts.Render("~/bundles/menu_js")

    <script src="~/Scripts/Utilities/utilities.min.js?v=@version-hf0"></script>

    @if (ViewBag.HasGrid != null && ViewBag.HasGrid)
    {
        @Scripts.Render("~/bundles/gridmvc_js")

        <script>
            $(function () {
                ECOsystem.Utilities.InitGrid();
            });
        </script>
    }

    <script>
        $(function () {
            ECOsystem.Utilities.Init(
            {
                menuPath: '@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]'
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
