﻿@{
    ViewBag.Title = "Contáctenos";
    Layout = "~/Views/Shared/LineVita/_LayoutLogin.cshtml";

}


@section styles {

    <style type="text/css">
        html {
            background-color: white;
            width: 100%;
        }

        body {
            margin: 0px !important;
            color: white !important;
            padding-top: 0px !important;
        }

        .icon {
            padding-top: 40px;
        }

        .linkLV {
            color: red;
        }

            .linkLV:hover {
                color: red;
            }

        .div_header {
            background: url(../Content/Images/LineVita/footer-background.png);
            height: 135px;
        }

        .div_back {
            background-color: white;
            padding-top: 10px;
            color: black;
            padding-left: 28%;
        }

        .div_sobre_contac {
            background: url(../Content/Images/LineVita/background.png);
        }

        footer {
            margin: 60px;
        }

        .site-footer {
            text-align: center;
            background-color: white;
            width: 50%;
            margin-left: 25%;
            color: #9D9D9D;
        }
    </style>
}
<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <img id="imgPhoto" class="pic" width="100%" src="/Content/Images/LineVita/Broshureparte1.PNG" alt="">
            </div>
            <div class="row" style="padding-top:1%">
                <img id="imgPhoto" class="pic" width="100%" src="/Content/Images/LineVita/Broshureparte2.PNG" alt="">
            </div>
        </div>
    </div>
</div>