﻿@using ECO_Control.Models.Control
@model TransactionsReportDeniedByPartnerBase
@{
    ViewBag.Title = "Reporte de Solicitantes";
    ViewBag.PartnerReports = "active";
    ViewBag.PartnerReportsReports = "active";
    ViewBag.PartnerTransactionsReportAdmin = "active";

    var isPrintView = ViewBag.PrintView ?? false;

    if (isPrintView)
    {
        Layout = "~/Views/Shared/_PrintLayout.cshtml";
    }

    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
}

@section styles {
    @Styles.Render("~/bundles/gridmvc_css")

    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }

            .carousel-indicators li {
                background: #4B4B4B;
            }

            .carousel-indicators .active {
                background: #428BCA;
            }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

        .carousel-control:hover {
            color: #d9534f;
        }
        
    </style>

}
<div id="wrapper">
    @if (!isPrintView)
    {
        using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "side-menu2",
            OnSuccess = "updateSidebar()"
        }, new { id = "LoadMenuForm" }))
        {
            <input class="hidden" name="Header" value="14" />

            @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
        }
    }
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Transacciones</h3>
            </div>
        </div>

        @using (Html.BeginForm("Admin", "TransactionsReport", FormMethod.Post, new { id = "ReloadForm" }))
        {
             <div class="row">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, @ECOsystem.Business.ECOsystem.Utilities.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>

                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Parameters.Month, @ECOsystem.Business.ECOsystem.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Parameters.Year, @ECOsystem.Business.ECOsystem.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top10">
                <div class="col-sm-6">
                    @Html.DropDownListFor(m => m.Parameters.TransactionType, @ECOsystem.Business.ECOsystem.Utilities.GeneralCollections.GetTransactionTypes, "Agrupar:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-6">
                    @Html.DropDownListFor(m => m.Parameters.CustomerId, ECOsystem.Business.ECOsystem.Utilities.GeneralCollections.GetCustomersByPartnerWithAll, "Empresa:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>
        }
        @if (Model.List != null && Model.List.Any())
        {
            <div id="ControlsContainer">
                <div class="row top20">
                    <div class="col-sm-3 col-sm-offset-9 text-right">
                        @if (!isPrintView)
                        {
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                    <i class="glyphicon glyphicon-share-alt"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                      
                                    @using (Ajax.BeginForm("ExcelReportDownload", "TransactionsReport", null, new AjaxOptions
                                    {
                                        HttpMethod = "post",
                                        OnBegin = "ECOsystem.TransactionsReport.ShowLoader()",
                                        InsertionMode = InsertionMode.Replace,                                      
                                        OnSuccess = "ECOsystem.TransactionsReport.HideLoader()"
                                    }, new { id = "ExcelReportDownloadForm" }))
                                    {
                                        <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
                                            
                                    }
                                    
                                    @using (Html.BeginForm("DonwloadFile", "TransactionsReport", FormMethod.Post, new { id = "DonwloadFileForm" })){}
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" onclick="ECOsystem.TransactionsReport.OnClickDownloadPartnerReport()">
                                            <i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;Exportar Excel
                                        </a>
                                    </li>                                    
                                    
                                </ul>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-default" type="button" data-print>
                                <i class="glyphicon glyphicon-print"></i>&nbsp;&nbsp;Imprimir
                            </button>
                        }
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        @Html.Partial("_partials/_GridAdmin", Model.List)
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="text-danger top30">No hay información para mostrar el reporte con la combinación de criterios seleccionada.</div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Control/TransactionsReport.js"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECOsystem.TransactionsReport.Init({
                printURL: '@Url.Action("PrintReport", "TransactionsReport", new { p = Model.Parameters.ParametersInBase64 })',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });
    </script>
}

