﻿@model ECOsystem.Models.Core.Users
@{
    var photo = Model.Photo;
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    object supportAttr = Model.IsSupportUser && Model.UserId != null ? new { disabled = "disabled" } : null;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 740px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.IsPartnerUser)
            @Html.HiddenFor(m => m.PartnerUserId)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal col-sm-8" role="form">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DecryptedName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.DecryptedName, new { placeholder = "Nombre Completo", @class = "form-control", autofocus = "" })
                                @Html.ValidationMessageFor(m => m.DecryptedName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (Model.UserId != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedEmail, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DecryptedEmail, new { placeholder = "Correo Electrónico", @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedEmail, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DecryptedEmail, new { placeholder = "Correo Electrónico", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        @if (Model.IsSupportUser || Model.UserId == null)
                        {
                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class="control-label ">
                                            @Html.CheckBoxFor(m => m.IsSupportUser, supportAttr) <b>Usuario Soporte</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }

                        @if ((Model.RoleName == "LINEVITA_ADMIN" && Model.UserId != null) || Model.IsSupportUser)
                        {
                            <input name="RoleId" class="hidden" value="@Model.RoleId">
                        }
                        else
                        {
                            <div class="form-group" id="showRoles">
                                @Html.LabelFor(m => m.RoleName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.RoleId, ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveRolesPermissions(@Model.RoleId == null ? user.RoleId : Model.RoleId, false), "Seleccione un Rol", new { @class = "form-control", custom = "true" })
                                    @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-4">
                        <img class="pic" src="@photo" id="imgPhoto" width="128" height="128" />
                        <div class="progress_bar">
                            <div class="percent">
                                0%
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.Photo)
                        <button id="btnUpload" type="button" class="btn btn-primary" style="width: 128px"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;&nbsp;Cargar Foto</button>
                        <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal col-sm-8" role="form">
                        @if (Model.UserId != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedUserName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBox("_UserName", Model.DecryptedUserName, new { disabled = "disabled", @class = "form-control" })
                                    @Html.HiddenFor(m => m.DecryptedUserName)
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-horizontal col-sm-4">
                        @if (Model.UserId != null)
                        {
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.IsActive)Activo
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="control-label ">
                                    @Html.CheckBoxFor(m => m.ChangePassword)Cambiar Contraseña
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.IsLockedOut)Bloqueado
                                </label>
                            </div>
                        }
                        <div class="checkbox">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.AddCustomers) Agregar Nuevos Clientes
                            </label>
                        </div>
                    </div>
                </div>

                @if (Model.UserId != null && ECOsystem.Utilities.Session.GetProfileByRole(Model.RoleId) != "SERVICESTATION_ADMIN")
                {
                    <div class="col-sm-12 form-horizontal">
                        <div class="form-group">
                            @if (Model.PartnerUser != null)
                            {
                                if (Model != null && Model.PartnerUser.CountriesAccessList != null)
                                {
                                    for (var i = 0; i < Model.PartnerUser.CountriesAccessList.Count; i++)
                                    {
                                        var item = Model.PartnerUser.CountriesAccessList[i];

                                        //Current User Country
                                        if (Model.CountryId == item.CountryId)
                                        {
                                            @Html.Hidden(string.Format("PartnerUser.CountriesAccessList[{0}].CountryId", @i), item.CountryId)
                                            @Html.Hidden(string.Format("PartnerUser.CountriesAccessList[{0}].IsCountryChecked", @i), true)
                                        }
                                        else //Others Countries
                                        {
                                            @Html.Hidden(string.Format("PartnerUser.CountriesAccessList[{0}].CountryId", @i), item.CountryId)
                                            @Html.Hidden(string.Format("PartnerUser.CountriesAccessList[{0}].IsCountryChecked", @i), false)
                                        }

                                    }
                                }
                            }
                        </div>
                    </div>
                }

                <div id="validationErrors" class="row top20">
                    <div id="errorMsj" class="col-sm-12 text-danger">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="ECO_Partner.PartnerUsers.ValidEmail()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
@section scripts {

    <script src="~/Scripts/Administration/PartnerUsers.js?v=@version-hf0"></script>
    <script>
        $(function () {
            ECO_Partner.PartnerUsers.Init();
        });

    </script>
}
