﻿@model IEnumerable<ECOsystem.Models.Core.Users>

@if (Model != null && Model.Any() && Model.Count() > 0)
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
                  .Selectable(true)
                  .WithPaging(20,20)
                  .Columns(c =>
                  {
                      c.Add(m => m.DecryptedName).Titled("Nombre");
                      c.Add(m => m.DecryptedEmail).Titled("Usuario Web");
                      c.Add(m => m.RoleName).Titled("Rol");
                      c.Add(m => m.InsertDateStr).Titled("Creado");
                      c.Add(m => m.PartnerUser.CountriesAccessCodes).Titled("Acceso");

                      c.Add(m => m.IsActive).Titled("¿Activo?").RenderValueAs(m => Html.CheckBox("_Active", m.IsActive, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center checkbox");
                      c.Add()
                          .Encoded(false)
                          .Sanitized(false)
                          .SetWidth(150)
                          .RenderValueAs(m => @<div>
                          @if (!m.IsSupportUser)
                          {
                              <span style="width:35px;">
                                  <a href="#" class="edit-info" data-role="@ECOsystem.Utilities.Session.GetProfileByRole(m.RoleId)" id="@m.UserId" data-username="@m.DecryptedName" title="Asignación" set-user-row><i class="mdi mdi-32px mdi-account-box"></i></a>
                              </span>
                          }
                          <span style="width:35px;">
                              <a href="#" class="edit-color" id="@m.UserId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                          </span>
                          <span style="width:35px;">
                              <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.UserId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                          </span>
                        </div>
                      ).Css("grid-col-btn");

                  }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information mdi-18px"></i>&nbsp;No se encontraron resultados
    </div>
}
