﻿@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();
}

<!-- Modal Start-->
<div class="modal fade" id="PartnerAuthorizedLoginModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Accesos para el usuario: <span id="PUserName"></span></h4>
            </div>
            <div class="modal-body" id="modalBodyId">
                <input class="hidden" id="PUserId" />
                <input class="hidden" id="PRole" />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="labeldrescription"> Seleccione el tipo de acceso:</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownList("ddlSelectionList", ECO_Partner.Controllers.PartnerUsersController.GetSelecctionList(user.TypeId), "Seleccione una opcion", new { @class = "form-control form-group" })
                        </div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-sm-4">
                        <div id="SearchDiv" class="form-group">
                            <label id="lbl_rol" class="hide">Seleccione u rol:</label>
                            @Html.DropDownList("ddlRoleCustomerList", ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveRolesPermissions(null, true, -1), "Seleccione un rol", new { @class = "form-control hide", custom = "true" })
                            @Html.DropDownList("ddlRolePartnerList", ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveRolesPermissions(null, false), "Seleccione un rol", new { @class = "form-control hide", custom = "true" })
                            <div id="errorMessage" class="text-danger field-validation-valid" data-valmsg-for="plate" data-valmsg-replace="true"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label id="lblPartnerList" class="hide"> Seleccione el socio para ver sus clientes:</label>
                         @Html.DropDownList("ddlPartnerList", ECO_Partner.Controllers.PartnerUsersController.RetrievePartnersbyPartners(user.PartnerId, user.TypeId), "Seleccione el socio", new { @class = "form-group form-control hide" })
                        <div class="assign-roles hide" id="dataContainer">
                            <ul id="CheckAll" class="list-group hidden" style="margin-bottom: -1px;">
                                <li class="list-group-item node-treeview-checkable" style="color:#428bca" data-nodeid="-1">
                                    <div class="checkbox" title="Seleccionar todos">
                                        <label class="strong">
                                            <input type="checkbox" class="generateAllCards" id="-1">
                                            Seleccionar todos
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <div id="treeview-checkable" class="list-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div id="divsave">
                    <button id="btn_cancel" type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button id ="btn_savechanges"type="button" data-toggle="modal" data-target="#ConfirmationSaveModalAuthorization" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
