﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerThresholds


@Html.HiddenFor(m => m.CodingThresholdsId)

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-horizontal" role="form">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rango Inferior</h3>

                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.RedLower, new { @class = "col-sm-5 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.RedLower, new { placeholder = "Rojo inferior", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.RedLower, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.RedHigher, new { @class = "col-sm-5 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.RedHigher, new { placeholder = "Rojo Superior", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.RedHigher, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rango Intermedio</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.YellowLower, new { @class = "col-sm-5 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.YellowLower, new { placeholder = "Amarillo Inferior", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.YellowLower, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.YellowHigher, new { @class = "col-sm-5 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.YellowHigher, new { placeholder = "Amarillo Superior", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.YellowHigher, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rango Superior</h3>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.GreenLower, new { @class = "col-sm-5 control-label" })
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(m => m.GreenLower, new { placeholder = "Verde inferior", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.GreenLower, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.GreenHigher, new { @class = "col-sm-5 control-label" })
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(m => m.GreenHigher, new { placeholder = "Verde Superior", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.GreenHigher, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @*<div class="panel panel-blue">
                            <div class="panel-heading">
                                <h3 class="panel-title">Porcentaje Mínimo de Crédito</h3>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.CreditPercentageMin, new { @class = "col-sm-5 control-label" })
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(m => m.CreditPercentageMin, new { placeholder = "Porcentaje", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CreditPercentageMin, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>*@
                    <div>
                        <span class="alert-danger">
                            <span id="errorcolors"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-right">
                <a href="@Url.Action("Index", "CustomerThresholds")" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</a>
                <button type="submit" class="btn btn-primary" onclick='return btnClick();'><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
