﻿@model  ECOsystem.Areas.Control.Models.Control.TimeSlotByVehicleBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Franja Horaria para Transacciones";
    ViewBag.Control = "active";
    ViewBag.ControlVehicles = "active";
    ViewBag.ControlTimeSlotByVehicleIndex = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        /*.customCanvas {
            background-color: white;
            cursor: default;
        }*/
        #TimeSlotTable
        {
            width: 100%;
        }

            #TimeSlotTable thead td
            {
                text-align: center;
                vertical-align: middle;
                font-weight: bold;
            }

            #TimeSlotTable td.time
            {
                text-align: right;
                vertical-align: middle;
                padding-right: 8px;
                width: 100px;
            }

            #TimeSlotTable td.time2
            {
                text-align: right;
                vertical-align: middle;
                padding-left: 20px;
                padding-right: 8px;
                width: 120px;
            }

            #TimeSlotTable td.box
            {
                width: 60px;
                height: 15px;
                text-align: center;
                vertical-align: middle;
                background-color: #ccc;
                border: 1px solid #fff;
            }

                #TimeSlotTable td.box.highlighted
                {
                    background-color: #006DB1;
                }
    </style>
}


@using (Ajax.BeginForm("AddOrEditAlarmMaintenance", "AlarmMaintenance", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "ECO_Control.TimeSlotByVehicle.AlarmMaintenanceModalClose()"
}, new { id = "addOrEditAlarmForm", autocomplete = "off" }))
{
    <div id="alarmMaintenanceContainer">
        @Html.Partial("~/Views/Shared/_AlarmMaintenance.cshtml", new ECOsystem.Models.Core.AlarmBase())
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

    <div id="page-content-wrapper">
        @using (Ajax.BeginForm("LoadTimeSlotByVehicle", "TimeSlotByVehicle", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DetailContainer",
            OnSuccess = "ECO_Control.TimeSlotByVehicle.OnSuccessLoad()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id", "")
        }

        <!-- Load Alarm Form Start-->
        @using (Ajax.BeginForm("LoadAlarmMaintenance", "AlarmMaintenance", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "alarmMaintenanceContainer",
            OnSuccess = "ECO_Control.TimeSlotByVehicle.AlarmMaintenanceModalShow()"
        }, new { id = "alarmForm" }))
        {
            @Html.Hidden("id")
            @Html.Hidden("codView", Model.Data.CodView);
        }
        <!-- Load Alarm Form End-->

        @using (Ajax.BeginForm("AddOrEditTimeSlotByVehicle", "TimeSlotByVehicle", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DetailContainer",
            OnSuccess = "ECO_Control.TimeSlotByVehicle.OnSuccessLoad(); ECOsystem.Utilities.setConfirmation();"
        }, new { id = "saveForm" }))
        {
            <div class="row">
                <div class="col-sm-6">
                    @Html.DropDownListFor(m => m.VehicleId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesByCustomer, "Seleccione un Vehículo", new { @class = "form-control fbold" })
                </div>
            </div>

            <div class="row top30">
                <div class="col-sm-12" id="DetailContainer">
                    @Html.Partial("_partials/_Detail", Model.Data)
                </div>
            </div>
        }

        <!-- clear Modal Start-->
        <div class="modal fade" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="clearModalModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Acción</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea Desmarcar todos los cuadros?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button type="reset" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- clear Modal End -->
    </div>

@section scripts {

    <script src="~/Scripts/Control/TimeSlotByVehicle.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.TimeSlotByVehicle.Init();
        });

    </script>
}
