﻿@model IEnumerable<ECO_Efficiency.Models.PassControlVehicle>

@foreach (var item in Model.Select(x => new { x.CostCenterId, x.CostCenterName, x.CostCenterCode }).Distinct())
{
    <div class="CostCenterPanelRight" cccode="@item.CostCenterCode" ccname="@item.CostCenterName">
        <div class="panel-group margin0 card-content" id="Centro@item.CostCenterId">
            <div class="card">
                <div class="card-heading">
                    <h4 class="panel-title link" data-toggle="collapse" data-parent="#Centro-@item.CostCenterId" href="#Centro-@item.CostCenterId">
                        <input type="checkbox" cc="@item.CostCenterId" class="btnCheckCC" /> @item.CostCenterName <strong>@item.CostCenterCode</strong>
                    </h4>
                </div>
                <div id="Centro-@item.CostCenterId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var CC in Model.Select(x => new { x.VehicleId, x.Name, x.PlateId, x.CostCenterId, x.CostCenterName }).Where(c => c.CostCenterId == item.CostCenterId).Distinct()) {
                            <div class="checkbox checkboxCC" vhplate="@CC.PlateId" vhname="@CC.Name" style="margin: 0px 0px 5px 0px !important;">
                                <label><input type="checkbox" class="checkboxCostCenter" value="@CC.VehicleId" /><strong>@CC.PlateId</strong> @CC.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}