﻿@model IEnumerable<ECO_Efficiency.Models.PassControlVehicle>

@foreach (var item in Model.Select(x => new { x.CostCenterId, x.CostCenterName }).Distinct())
{
    <div class="VehiclePanelRight accordionIconEffect" gvname="@item.CostCenterName">
        <div class="panel-group margin0 card-content" id="Centro@item.CostCenterId" style="padding:0;">
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#Group-@item.CostCenterId" href="#Group-@item.CostCenterId">
                    <h4 class="panel-title link">
                        <i class="mdi mdi-plus"></i>
                        <label cc="@item.CostCenterId" class="btnCheckGroup"></label> &nbsp;@item.CostCenterName
                    </h4>
                </div>
                <div id="Group-@item.CostCenterId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var CC in Model.Where(c => c.CostCenterId == item.CostCenterId).Select(x => new { x.PlateId, x.Name, x.VehicleId }).Distinct())
                        {              
                             <div class="checkbox checkboxGV" vhplate="@CC.PlateId" vhname="@CC.Name">
                                <a id="@CC.VehicleId" title="Editar" edit_row style="text-decoration: none; color: black;">
                                    <label>                                     
                                        <input name="checkboxCC" id="radio-2-@CC.VehicleId"  type="radio" class="regular-radio" value="@CC.VehicleId" />
                                        <label for="radio-2-@CC.VehicleId" style="vertical-align: top;"></label>
                                        <strong>@CC.PlateId</strong> @CC.Name
                                    </label>                                   
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}


