﻿@model IEnumerable<ECO_Efficiency.Models.PassControlVehicle>

@foreach (var item in Model.Select(x => new { x.VehicleGroupId, x.VehicleGroupName }).Distinct())
{
    <div class="GroupVehiclePanelRight accordionIconEffect" gvname="@item.VehicleGroupName">
        <div class="panel-group margin0 card-content" id="Centro@item.VehicleGroupId" style="padding:0px;">
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#Group-@item.VehicleGroupId" href="#Group-@item.VehicleGroupId">
                    <h4 class="panel-title link">
                        <i class="mdi mdi-plus"></i><label cc="@item.VehicleGroupId" class="btnCheckGroup" />&nbsp;@item.VehicleGroupName
                    </h4>
                </div>
                <div id="Group-@item.VehicleGroupId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        <div class="checkbox checkboxGV">
                            <a href="#" id="@item.VehicleGroupId" title="Editar" view_row_group style="text-decoration: none; color: black;">                                
                                    <label>
                                        <input name="checkboxCC" id="@item.VehicleGroupId" type="radio" class=" checkboxgroup" value="@item.VehicleGroupId" />
                                        <strong>@item.VehicleGroupName</strong> (@Model.Where(w => w.VehicleGroupId == item.VehicleGroupId).Count())
                                    </label>
                            </a>
                        </div>
                        @foreach (var Group in Model.Where(c => c.VehicleGroupId == item.VehicleGroupId))
                        {
                            <div class="checkbox checkboxGV" vhplate="@Group.PlateId" vhname="@Group.Name">
                                <a href="#" id="@Group.VehicleId" title="Editar" edit_row style="text-decoration: none; color: black;">
                                    <label>
                                        <input name="checkboxCC" id="@Group.VehicleId" type="radio" class=" checkboxgroup" value="@Group.VehicleId" />
                                        <strong>@Group.PlateId</strong> @Group.Name
                                    </label>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}