﻿@model ECO_Efficiency.Models.VehicleCostCentersByGeoFenceData

@if ((Model.AvailableVehicleCostCentersList != null && Model.AvailableVehicleCostCentersList.Any()) || (Model.ConnectedVehicleCostCentersList != null && Model.ConnectedVehicleCostCentersList.Any()))
{
    <div class="card">
        <div class="card-content">
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Utilice la funcionalidad de <strong>Arrastrar y colocar</strong> vehículos entre cada lista.
            </div>
            <div class="row">
                <div class="col-sm-6" data-spy="scroll" data-target="#available" data-offset="0">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <strong>Lista de SubUnidades</strong>
                        </a>
                        <div id="AvailableVehicleGroups" class="connected scrol-list">

                            @if (Model.AvailableVehicleCostCentersList != null)
                            {
                                foreach (var item in Model.AvailableVehicleCostCentersList)
                                {
                                    <div class="list-group-item box">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                @Html.Hidden("VehicleId", item.CostCenterId)
                                                <p><strong>@item.Name</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>

                <div class="col-sm-6" data-spy="scroll" data-target="#connected" data-offset="0">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <strong>SubUnidades Asociadas a la Geocerca</strong>
                        </a>
                        <div id="ConnectedVehicleCostCenters" class="connected scrol-list">
                            @if (Model.ConnectedVehicleCostCentersList != null)
                            {
                                foreach (var item in Model.ConnectedVehicleCostCentersList)
                                {
                                    <div class="list-group-item box">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                @Html.Hidden("VehicleId", item.CostCenterId)
                                                <p><strong>@item.Name</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr />   
            <div class="row">
                <div class="col-sm-8">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div class="col-sm-4 text-right">
                    <a href="@Url.Action("Index", "VehicleCostCentersByGeoFence")" atype="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</a>
                    <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>

}
