﻿@using  ECOsystem.Areas.Control.Models.Control
@model ScoreGlobalReportBase
@{
    var indexdriver = 0;
    var itemactual = 0;
}

<div class="carousel slide" id="carouselScore" data-ride="carousel" data-interval="false" style="width:300px;">
    <div class="carousel-inner">
        @{
             List<ScoreGlobalReport> listScore = Model.List.ToList();
        }

        <input type="hidden" value="@listScore.Count" id="listScoreSize" />   

        @for (indexdriver = 1; indexdriver <= listScore.Count(); )
        {           
            itemactual = itemactual + 1;
            var active = itemactual == 1 ? "active" : "";
        
            <div class="item @active">
                 <div class="row">
                    @for (var i = 1; i < 4; i++) {   
                        if (indexdriver <= listScore.Count()) 
                        {
                            ScoreGlobalReport item = listScore[indexdriver - 1];  
                        
                            var colorscore  ="red";
                        
                            if (item.Score <= 69)
                            {
                                colorscore = "red";
                            }
                            else if (item.Score >= 70 && item.Score <= 89)
                            {
                                colorscore="yellow";
                            }
                            else if (item.Score > 89)
                            {
                                colorscore="green";
                            }
                                                                    
                            <div id="tileColumn" class="col-sm-4">
                                <div class="thumbnail22">
                                    <div class="panel panel-@colorscore">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">@item.DecryptedName</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table>
                                                <tr>
                                                    <td style=" padding-right:10px">
                                                        <img src=@item.Photo width="50" height="50" />
                                                    </td>
                                                    <td>
                                                        <table>
                                                            <tr style="font-weight:bold "><td>Calificación <td>&nbsp;&nbsp;@item.Scorestr</td></tr>
                                                            <tr><td>Velocidad Administrativa <td>&nbsp;&nbsp;@item.ScoreSpeedAdminstr</td></tr>
                                                            <tr><td>Velocidad Carretera <td>&nbsp;&nbsp;@item.ScoreSpeedRouteStr</td></tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                                    
                                </div>
                            </div>
                        }
                        indexdriver++;
                    }
                </div>
            </div>
        }
    </div>
</div>
                                
<div class="control-box">
    <a class="btn btn-info" href="#carouselScore" role="button" data-slide="prev">
        <span class="mdi mdi-chevron-left"></span>
    </a>
    <a class="btn btn-info" href="#carouselScore" role="button" data-slide="next">
        <span class="mdi mdi-chevron-left"></span>
    </a>
</div><!-- /.control-box -->
<!-- Modal End -->
