﻿@using System.Text.RegularExpressions
@using  ECOsystem.Areas.Control.Models.Control
@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{

    var type = new Regex(@"\[.+?\]").Matches(Model.GetType().ToString())[0].ToString().Replace("ECOsystem.Areas.Control.Models.Control.", "");
    switch (type)
    {
        case "[ComparativeEfficiencyFuelsByVehicleGroupReport]":
            @(Html.Grid(Model.Select(item => item as  ComparativeEfficiencyFuelsByVehicleGroupReport))
                  .Columns(c =>
                  {
                      c.Add(m => m.VehicleGroupName).Titled("Grupo de Vehículos").SetWidth(240);
                      c.Add(m => m.MonthName).Titled("Mes").SetWidth(110);
                      c.Add(m => m.Year).Titled("Año").SetWidth(110);
                      c.Add(m => m.PerformanceStr).Titled("Rendimiento Km/L").SetWidth(110).Css("grid-col-right");
                  }
                  )
                  .Selectable(true)
                  )
            break;
        case "[ComparativeEfficiencyFuelsByVehicleSubUnitReport]":
            @(Html.Grid(Model.Select(item => item as  ComparativeEfficiencyFuelsByVehicleSubUnitReport))
                  .Columns(c =>
                  {
                      c.Add(m => m.CostCenterName).Titled("Nombre de Centro de Costo").SetWidth(240);
                      c.Add(m => m.MonthName).Titled("Mes").SetWidth(110);
                      c.Add(m => m.Year).Titled("Año").SetWidth(110);
                      c.Add(m => m.PerformanceStr).Titled("Rendimiento Km/L").SetWidth(110).Css("grid-col-right");
                  }
                  )
                  .Selectable(true)
                  )
            break;
        case "[ComparativeEfficiencyFuelsByVehicle]":
            @(Html.Grid(Model.Select(item => item as ComparativeEfficiencyFuelsByVehicle))
                 .Columns(c =>
                  {
                      c.Add(m => m.PlateNumber).Titled("Matrícula").SetWidth(240).Filterable(true);
                      c.Add(m => m.Manufacturer).Titled("Marca").SetWidth(240).Filterable(true);
                      c.Add(m => m.Model).Titled("Modelo").SetWidth(240).Filterable(true);
                      c.Add(m => m.CylinderCapacity).Titled("Cilindraje").SetWidth(150).Filterable(true);
                      c.Add(m => m.MonthName).Titled("Mes").SetWidth(110).Filterable(true); 
                      c.Add(m => m.Year).Titled("Año").SetWidth(110).Filterable(true); ;
                      c.Add(m => m.TotalOdometerStr).Titled("Kilometros").SetWidth(110).Css("grid-col-right");
                      c.Add(m => m.TotalLitersStr).Titled("Litros").SetWidth(110).Css("grid-col-right");
                      c.Add(m => m.PerformanceStr).Titled("Rendimiento Actual").SetWidth(110).Css("grid-col-right");
                      c.Add(m => m.DefaultPerformanceStr).Titled("Rendimiento Esperado").SetWidth(110).Css("grid-col-right");
                      c.Add(m => m.Routes).Titled("Rutas").SetWidth(500).Css("grid-col-left").Filterable(true); 
                      c.Add()
                 .Encoded(false)
                 .Sanitized(false)
                 .SetWidth(32)
                 .Titled("Tendencia")
                 .RenderValueAs(m => @<img src="~/Content/Images/@m.slopeimage" class="img" width="32" height="32" data-vehicle="@m.VehicleId" data-toggle="modal" data-target="#addOrEditModal"/>);
                 

                  }).Selectable(true).SetLanguage("es")
            )
            break;
    }
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
