﻿@model ECOsystem.Models.Core.CustomersBase
@{
    ViewBag.Title = "Clientes ECOsystem";
    ViewBag.InsuranceCustomers = "active";

    ViewBag.HasGrid = true;
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            width: 246px;
            top: 10px;
            left: 20px;
        }

            .progress_bar.loading {
                opacity: 1.0;
            }

            .progress_bar .percent {
                background-color: #3090d1;
                height: auto;
                width: 0;
                padding-left: 5px;
            }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }
    </style>

}


@using (Ajax.BeginForm("AddOrEditCustomers", "InsuranceCustomers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <input type="hidden" id="addOrEditFormCountryId" name="CountryId" />

    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

<div id="wrapper">
    @*@Html.Partial("~/Views/Settings/_partials/_Menu.cshtml")*@
    <div id="page-full-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Mantenimiento de Clientes</h3>
            </div>
        </div>

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchCustomers", "InsuranceCustomers", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <input type="hidden" id="searchFormCountryId" name="CountryId" />

            <div class="row">
                @* <div class="col-sm-2">
                    @Html.DropDownList("ddlCountryId", @ECOsystem.Business.Utilities.GeneralCollections.GetCountriesAccess,"País", new { @class = "form-control" })
                </div>*@
                <div class="col-sm-11">
                    <div class="input-group">

                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                        </span>

                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <button id="btnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrEditModal" title="Agregar"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->

        @using (Ajax.BeginForm("LoadCustomers", "InsuranceCustomers", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
   
        <!-- Load Form End-->

        @using (Ajax.BeginForm("CheckUserName", "Users", null, new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = "ECO_Insurance.Customers.OnSuccessCheckUser"
        }, new { id = "checkForm" }))
        {
            @Html.Hidden("username")
        }

        <!-- Dele Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteCustomers", "InsuranceCustomers", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {


                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
            <div class="col-lg-12 top20">
                &nbsp;
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/Insurance/insuranceCustomers.min.js"></script>
    <script>
        $(function () {
            ECO_Insurance.InsuranceCustomers.Init();
        });

    </script>
}