﻿@model ECOsystem.Models.Core.PartnerNews
@{
    var image = Model.Image;
}

<div class="panel panel-default" style="margin-top:10px; margin-bottom: -10px;">
    <div class="panel-heading">
        <div class="row">
            @Html.HiddenFor(m => m.NewsId)
            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.PartnerId)
            <div class="col-sm-10">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Title, new { placeholder = "Título de la Noticia", @class = "form-control", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Content, new { @class = "col-sm-14 control-label" })
                        @Html.TextAreaFor(m => m.Content, new { placeholder = "Contenido de la Noticia", @class = "form-control", autofocus = "", rows = "10" })
                        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-12">
                    <img class="pic" src="@image" id="imgLogo" width="145" height="128" />                    
                    @Html.HiddenFor(m => m.Image)
                </div>
                <div class="col-sm-12">
                    <button id="btnUpload" type="button" class="btn btn-primary"><i class="mdi mdi-upload"></i>&nbsp;Cargar Imagen</button>
                    <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                </div>
                <div class="col-sm-12" style="margin-top:15px; margin-left:5px;">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsActive) <b>Activo</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-default" onclick="$('#detailContainer').hide('slow');"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
