﻿@model ECOsystem.Models.Core.PartnerNotifications

<div class="panel" style="margin-top:10px; margin-bottom: -10px;">
    <div class="panel-heading">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Título", new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Título", @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Mensaje", new { @class = "col-sm-14 control-label" })
                    @Html.TextAreaFor(m => m.Message, new { placeholder = "Mensaje", @class = "form-control", autofocus = "", rows = "5" })
                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class='input-group date' id='datetimepickerSendDate'>
                    @Html.TextBoxFor(m => m.SendDateStr, new { placeholder = "Fecha Envio", @class = "form-control", @autocomplete = "off" })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.SendDateStr, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Active) <b>Activo</b>
                    </label>
                </div>
            </div>
        </div> 
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Audiencia
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Selecione un vehículo o un correo y presione agregar. Tambien se puede digitar el contacto directamente. Estos deben de estar separados por <b>";"</b>.
                            Los usuarios o placas deben de estar registradas en la plataforma.
                        </div>
                    </div>                    
                    <div class="col-sm-5">
                        <div class="form-group">
                            @Html.Label("Vehículos", new { @class = "col-sm-14 control-label" })
                            @Html.DropDownList("ddlVehicles", ECO_Partner.Business.GeneralCollections.GetVehiclesForNotifications, "Vehículos", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            @Html.Label("Conductores", new { @class = "col-sm-14 control-label" })
                            @Html.DropDownList("ddlDrivers", ECO_Partner.Business.GeneralCollections.GetDriversForNotifications, "Conductores", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <br />
                            <button type="button" id="btnAddContact" class="btn btn-primary" style="margin-top:5px;"><i class="mdi mdi-plus"></i>&nbsp;Agregar</button>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Hidden("txtContent", Model.Content)
                            @Html.Label("Enviar a", new { @class = "col-sm-14 control-label" })
                            @Html.TextAreaFor(m => m.Content, new { placeholder = "Informar", @class = "form-control", autofocus = "", rows = "10" })
                            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-default" onclick="$('#detailContainerNotifications').hide('slow');"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnSaveNotitications" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
