﻿@model IEnumerable<ECOsystem.Models.Core.PartnerNews>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
              .Columns(c =>
              {
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .Titled("Logo")
                      .RenderValueAs(m => @<img src="@m.Image" width="50" height="30" />);
                  c.Add(m => m.Title).Titled("Título");
                  c.Add(m => m.Content).Titled("Contenido").Css("text-justify");
                  c.Add(m => m.IsActive)
                   .Titled("Activo")
                   .Encoded(false)
                   .Sanitized(false)
                   .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                    <label style="font-weight:bold;">
                                        <input disabled="disabled" type="checkbox" checked="@m.IsActive" data-statusid="@m.IsActive">
                                    </label>
                                </div>);                                    
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .RenderValueAs(m => @<span>
                        <a href="#" class="edit-color" id="@m.NewsId" title="Editar" edit_row_new><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.NewsId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                    </span>).Css("grid-col-btn");
              })
              .Selectable(true))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert">        
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}