﻿@model IEnumerable<ECOsystem.Models.Core.PartnerNotifications>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
                .Columns(c =>
                {
                    c.Add(m => m.Title).Titled("Título");
                    c.Add(m => m.Message).Titled("Mensaje");
                    c.Add(m => m.SendDateStr).Titled("Fecha de Envio");
                    c.Add(m => m.Active)
                        .Titled("Activo")
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                                    <label style="font-weight:bold;">
                                                        <input disabled="disabled" type="checkbox" checked="@m.Active" data-statusid="@m.Active">
                                                    </label>
                                                </div>);
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @<span>
                                                <a href="#" class="edit-color" id="@m.Id" title="Editar" edit_row_notifications><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                                <a href="#" class="delete-color" id="@m.Id" title="Eliminar" del_row_notifications><i class="mdi mdi-32px mdi-close-box"></i></a>
                                            </span>
                                        ).Css("grid-col-btn");
                }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
