﻿@model ECOsystem.Models.Core.PartnersNewsBase

<div class="row">
    <div class="col-sm-6 pull-left">
        <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i> Agregar Noticia</button>
    </div>
    <div class="col-sm-6">
        @using (Ajax.BeginForm("SearchPartnerNews", "PartnerNews", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="input-group">
                <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                </span>

            </div>
        }
    </div>
    <div class="col-sm-12">
        @using (Ajax.BeginForm("AddOrEditPartnerNews", "PartnerNews", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnBegin = "$('body').loader('show');",
            OnSuccess = "$('#detailContainer').hide('slow'); $('body').loader('hide');"
        }, new { id = "addOrEditForm" }))
        {
            <div id="detailContainer" hidden>
                @Html.Partial("_partials/_Detail", Model.Data)
            </div>
        }
    </div>
</div>

@using (Ajax.BeginForm("LoadPartnerNews", "PartnerNews", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "$('#detailContainer').show('slow'); ECO_Partner.PartnerNews.LoadNewsSuccess();"
}, new { id = "loadNewsForm" }))
{
    @Html.Hidden("id")
}
<!-- Load Form End-->
<br />
<div class="row">
    <div class="col-lg-12" id="gridContainer">
        @Html.Partial("_partials/_Grid", Model.List)
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeletePartnerNews", "PartnerNews", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = "$('body').loader('show');",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose(); $('body').loader('hide')"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>
