﻿@model ECOsystem.Models.Core.PartnersNewsBase

<div class="row">
    <div class="col-sm-6 pull-left">
        <button id="btnAddNotifications" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i> Agregar Notificaciones</button>
    </div>
    <div class="col-sm-6">
        @using (Ajax.BeginForm("SearchNotifications", "PartnerNews", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainerNotifications",
            OnBegin = "$('body').loader('show');",
            OnSuccess = "$('body').loader('hide');"
        }, new { id = "searchForm" }))
        {
            <div class="input-group">
                <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                </span>
            </div>
        }
    </div>
    <div class="col-sm-12">
        @using (Ajax.BeginForm("AddOrEditNotifications", "PartnerNews", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainerNotifications",
            OnBegin = "$('body').loader('show');",
            OnSuccess = "ECO_Partner.PartnerNews.AddOrEditNotificationSuccess()"
        }, new { id = "addOrEditNotificationsForm" }))
        {
            <div id="detailContainerNotifications" hidden>
                @Html.Partial("_partials/_DetailNotification", new ECOsystem.Models.Core.PartnerNotifications())
            </div>
        }
    </div>
</div>

@using (Ajax.BeginForm("LoadNotifications", "PartnerNews", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainerNotifications",
    OnSuccess = "ECO_Partner.PartnerNews.LoadNotificationsSuccess()"
}, new { id = "loadNotificationsForm" }))
{
    @Html.Hidden("id")
}

<br />
<div class="row">
    <div class="col-lg-12" id="gridContainerNotifications">
        @Html.Partial("_partials/_GridNotifications", Model.ListNotifications)
    </div>
</div>

<div class="modal fade" id="deleteNotificationModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteNotifications", "PartnerNews", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainerNotifications",
                OnBegin = "$('body').loader('show');",
                OnSuccess = "$('#deleteNotificationModal').modal('hide'); $('body').loader('hide')"
            }, new { id = "deleteNotificationsForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="validateNotificationsModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notificaciones</h4>
            </div>
            <div class="modal-body center" id="modalValidateText">
                <p>¿Desea almacenar los datos?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnCancelNotitications" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnSubmitSaveData" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>