﻿@model ECO_Efficiency.Models.RealTime
@{
    var Customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    Model.CountryCode = Model.CountryCode == null ? Customer.CountryCode : Model.CountryCode;    
    Model.UserTimeZone = Customer.TimeZone;
}


<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-RealTime resizeMap" id="modal-RealTime">
        <div class="modal-content">
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Vehículo en Tiempo Real<span class="element-name"></span></h4>
            </div>
            <div class="modal-body body-modal-ResizeMap">
                <div class="row">
                    <div class="form-horizontal col-sm-2" role="form">
                        <div class="form-group">
                            <iframe id="mapFrame" src="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)RealTime.aspx?Params=@Model.CountryCode|@Model.IntrackReference|@Model.UserTimeZone|1|@Model.TransmissionTime" frameborder="0" class="resizeIframeMap"></iframe>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


</script>