﻿@model IEnumerable<ECO_Efficiency.Models.RealTime>

@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {
        <div class="col-sm-12 map-option">
            <p><i class="mdi mdi-counter"></i> @item.PlateId</p>
            <p><i class="mdi mdi-car"></i> @item.Name</p>
            <p><i class="mdi mdi-gas-station"></i> @item.CostCenterName</p>
            <p><i class="mdi mdi-format-list-bulleted-type"></i> @item.CategoryType</p>
            <p><i class="mdi mdi-account"></i> @item.UserNameDecrypt</p>
            <span>
                <a href="#" class="search-color" id="@item.VehicleId" title="Editar" edit_row><i class="glyphicon glyphicon-search"></i></a>
            </span>
        </div>
    }
}
else
{
    <div class="col-sm-12">
        <p class="top20 text-success">No se encontraron resultados</p>
    </div>
}
