﻿@model ECOsystem.Models.Email.EmailNotificationCreate

    <div class="row">
        <h3 class="page-header">Cuentas para Notificación de Embosado</h3>
    </div>
    <div class="form-horizontal" role="form">
        @Html.HiddenFor(m=> m.ID_Email)       
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Correo Electrónico", @class = "form-control", @id = "txtEmailNotification" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">            
            @Html.LabelFor(m => m.PartnerId, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.PartnerId, @ECO_Admin.Business.Utilities.GeneralCollections.GetPartners, "Seleccione una Socio", new { @class = "form-control", @id = "ddlEmailNotification" })
                @Html.ValidationMessageFor(m => m.PartnerId, "", new { @class = "text-danger" })
            </div>
            <div class="checkbox hidden">
                <label>
                    @{
                        if (Model != null && Model.ID_Email == null)
                        {
                            Model.Activo = true;
                        }
                    }
                    @Html.HiddenFor(m => m.Activo)
                </label>               
            </div>           
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success" title="Agregar"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
    </div>

