﻿@model ECOsystem.Models.Email.EmailNotificationCreate

<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">           
           @Html.HiddenFor(m => m.ID_Email)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Correo de Notificación - Edición</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">

                    <div class="form-group">                       
                        @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">                            
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PartnerId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => m.PartnerId, @ECO_Admin.Business.Utilities.GeneralCollections.GetPartners, "Seleccione una Socio", new { @class = "form-control", @id = "ddlEmailNotification" })
                            @Html.ValidationMessageFor(m => m.PartnerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Activo, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9"> 
                            @Html.CheckBoxFor(m => m.Activo)    
                         </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>

