﻿@model IEnumerable<ECOsystem.Models.Email.EmailNotificationCreate>

@if (Model != null && Model.Any())
{    
    @(Html.Grid(Model, GridRenderOptions.Create("CreditCardGrid"))
            .Selectable(true)
            .Columns(c =>
            {
                c.Add(m => m.ID_Email).Titled("ID Correo");
                c.Add(m => m.Email).Titled("Correo Electrónico");
                c.Add()
                 .Titled("Socio")
                 .Encoded(false)
                 .Sanitized(false)
                 .RenderValueAs(m => @<p> @ECOsystem.Utilities.Miscellaneous.GetPartnerNamebyID(Convert.ToInt32(m.PartnerId))</p>);
                c.Add()
                    .Titled("Activo")
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(2)
                    .RenderValueAs(m => Html.CheckBox("_Activo", m.Activo, new { disabled = "disabled"}))                    
                    .Css("grid-col-center");
            
                c.Add()
                 .Encoded(false)
                 .Sanitized(false)
                 .SetWidth(2)
                 .RenderValueAs(m =>
                    @<span>
                         <a href="#" class="edit-color" id="@m.ID_Email" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.ID_Email" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                 ).Css("grid-col-btn");
     }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
