﻿@model  ECOsystem.Areas.Coinca.Models.CreditCardDetails

@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.HiddenFor(m => m.CardInfo.CreditCardId)
            @Html.HiddenFor(m => m.CardInfo.RowVersion)
            @Html.HiddenFor(m => m.CardInfo.VehicleId)
            @Html.HiddenFor(m => m.CardInfo.UserId)
            @Html.HiddenFor(m => m.CardInfo.PaymentInstrumentType)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Medios de Pago</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="form-horizontal" role="form">

                            <div class="form-group">
                                @Html.LabelFor(m => m.CardInfo.CreditCardHolder, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.CardInfo.CreditCardHolder, new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>

                            @Html.HiddenFor(m => m.CardInfo.CreditLimit)

                            @if (Model.CardInfo.CreditCardId != null)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CardInfo.DisplayCreditCardNumber, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.CardInfo.DisplayCreditCardNumber, new { placeholder = "Número de Tarjeta", @class = "form-control", disabled = "disabled" })
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Fecha Expiración</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.CardInfo.ExpirationMonthName, new { @class = "form-control", disabled = "disabled" })
                                        </div>

                                        @if (Model.CardInfo.ExpirationYear == 0)
                                        {
                                            <div class="col-sm-6">
                                                <input class="form-control" data-val="true" data-val-number="The field Año de Expiración must be a number." data-val-required="Año de Expiración es requerido" disabled="disabled" id="CardInfo_ExpirationYear" name="CardInfo.ExpirationYear" type="text" value="">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.CardInfo.ExpirationYear, new { @class = "form-control", disabled = "disabled" })
                                            </div>
                                        }
                                    </div>
                                    @Html.HiddenFor(m => m.CardInfo.ExpirationMonth)
                                    @Html.HiddenFor(m => m.CardInfo.ExpirationYear)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.CardInfo.StatusId, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.CardInfo.StatusId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCustomerCreditCardStatus, "Seleccione un Estado", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CardInfo.StatusId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="javascript: $(this).attr('disabled', 'disabled'); $('#addOrEditForm').submit();"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
