﻿<style>
    .scrollingTable {
        max-height: 250px;
        overflow-y: auto;
    }

    .tableHeader {
        position: relative;
        height: 30px;
        background-color: #003594;
        color: #fff;
    }
</style>

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModalCard" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:750px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Cambio de estado para medios de pago seleccionados</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.Label("Seleccione el estado:")
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownList("CardInfo_StatusId", @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCustomerCreditCardStatus, "Seleccione un Estado", new { @class = "form-control" })
                        @Html.ValidationMessage("StatusIdValidation", "Seleccione un Estado", new { @class = "text-danger hide", id = "StatusIdValidation" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 scrollingTable">
                        <table class="table table-striped" id="listCardTable">
                            <thead>
                                <tr>
                                    <th class="hide">Id</th>
                                    <th class="tableHeader">Titular</th>
                                    <th class="tableHeader"># Medio de Pago</th>
                                    <th class="tableHeader">Medio de Pago</th>
                                    <th class="hide">PaymentMethod</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnShowConfirmation"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal End -->

