﻿@model IEnumerable< ECOsystem.Areas.Coinca.Models.CreditCard>

@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var showCheckbox = "";
    var titleMessage = "";
}

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">

            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-warning btnUpdateSelectedValues"><i class="mdi mdi-pencil"></i>&nbsp;Editar Seleccionados</button>
                </div>
            </div>

            @(Html.Grid(Model, GridRenderOptions.Create("CreditCardGrid"))
                .Selectable(true)
                .Columns(c =>
                {
                    c.Add().Encoded(false).Sanitized(false).SetWidth(2).RenderValueAs(m =>
                        @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">

                            <label style="font-weight:bold;">
                                <input class="selectAll" type="checkbox" paymentmethod="@m.PaymentInstrumentType" id="@m.CreditCardId" data-cardname="@m.CreditCardHolder" data-creditcardnumber="@m.RestrictCreditCardNumber" data-creditcardtype="@m.CreditCardType">
                            </label>

                        </div>).Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                            "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"chkCheckAll\" class=\"selectAll\"> </label>" +
                                "</span>" +
                            "</div>");

                    c.Add(m => m.DecryptedCustomerName).Titled("Cliente / Empresa");
                    c.Add(m => m.CreditCardHolder).Titled("Titular");
                    c.Add(m => m.RestrictCreditCardNumber).Titled("# Medio de Pago");
                    c.Add(m => m.CreditCardType).Titled("Tipo Método de Pago");
                    c.Add(m => m.InsertDateStr).Titled("Fecha Solicitud");
                    c.Add(m => m.Country).Titled("País");
                    c.Add(m => m.StatusName).Titled("Estado");

                    c.Add(m => m.PaymentInstrumentType).Titled("PaymentMethod").Css("hidden");

                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(3)
                        .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                            <label style="font-weight:bold;">
                                                @{ 
                                                    showCheckbox = m.PaymentInstrumentType == 1 ? "disabled":"";
                                                    titleMessage = m.PaymentInstrumentType == 1 ? "Esta opción no está habilitada para este método de pago" : "";
                                                }
                                                <input type="Checkbox" @showCheckbox data-status="@m.StatusId" id="@m.CreditCardId" title="@titleMessage" name="Generate" value="1">
                                            </label>
                                        </div>).Titled("Generar");
                c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(2)
                    .RenderValueAs(m =>
                            @<span>
                                <a class="edit-color" style="cursor:pointer" data-id="@m.CreditCardId" title="Editar" paymentInstrumentType="@m.PaymentInstrumentType" data-edit><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                            </span>).Css("grid-col-btn");

                            }))

            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-warning btnUpdateSelectedValues"><i class="mdi mdi-pencil"></i>&nbsp;Editar Seleccionados</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button type="button" id="btnGenerarTarjetas" class="btn btn-primary">Generar Tarjetas</button>
                </div>

            </div>
            <br />
        </div>
    </div>
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
