﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.VehicleLowPerformanceReports>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
            .Columns(c =>
                {
                    c.Add(m => m.VehicleId).Titled("Número").SetWidth(150);
                    c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(150);
                    c.Add(m => m.PlateId).Titled("Placa").SetWidth(100);
                    c.Add(m => m.Type).Titled("Tipo").SetWidth(100);
                    c.Add(m => m.VehicleModel).Titled("Modelo").SetWidth(400);
                    c.Add(m => m.Manufacturer).Titled("Marca").SetWidth(100);
                    c.Add(m => m.Year).Titled("Año").SetWidth(100);
                    c.Add(m => m.Performance).Titled("Rendimiento").SetWidth(50).Css("grid-col-center");
                    c.Add(m => m.DefaultPerformance).Titled("Rendimiento Esperado").SetWidth(50).Css("grid-col-center");
             
                }
            )
            .Selectable(true).SetLanguage("es")
    )
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
