﻿<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation" >

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="@ViewBag.Geofence">
                    <a href="#"><img src="~/Content/Images/menu_geofences.png" class="right10" />Geocercas</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.MapsGeoFencesIndex" href="@Url.Action("Index", "GeoFences")">Mantenimiento de Geocercas</a>
                        </li>
                        <li>
                            <a class="@ViewBag.VehiclesByGeoFenceIndex" href="@Url.Action("Index", "VehiclesByGeoFence")">Vehículos por Geocerca</a>
                        </li>
                        <li>
                            <a class="@ViewBag.VehiclesByGroupIndex" href="@Url.Action("Index", "VehicleGroupsByGeoFence")">Grupos por Geocerca</a>
                        </li>
                        <li>
                            <a class="@ViewBag.VehiclesByUnitIndex" href="@Url.Action("Index", "VehicleUnitsByGeoFence")">Unidades por Geocerca</a>
                        </li>
                        <li>
                            <a class="@ViewBag.VehiclesBySubUnitIndex" href="@Url.Action("Index", "VehicleCostCentersByGeoFence")">Centros de Costo por Geocerca</a>
                        </li>
                    </ul>
                <li class="@ViewBag.Route">
                    <a href="#"><img src="~/Content/Images/menu_routes.png" class="right10" />Rutas</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.MapsRoutesIndex" href="@Url.Action("Index", "Routes")">Mantenimiento de Rutas</a>
                        </li>
                        <li>
                            <a class="@ViewBag.VehicleByRouteIndex" href="@Url.Action("Index", "VehicleByRoute")">Vehículos por Ruta</a>
                        </li>
                        <li>
                            <a class="@ViewBag.VehicleRouteIndex" href="@Url.Action("Index", "VehicleRoute")">Rutas sobre Trayectos</a>
                        </li>
                    </ul>
                </li>
                
                <li class="@ViewBag.Localization">
                    <a href="#"><img src="~/Content/Images/menu_localization.png" class="right10" />Localización</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.MapsRealTimeIndex" href="@Url.Action("Index", "RealTime")">Vehículos en Tiempo Real</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsRealTimeGroupIndex" href="@Url.Action("Index", "RealTimeGroup")">Vehículos por Grupo en Tiempo Real</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsRealTimeUnitIndex" href="@Url.Action("Index", "RealTimeUnit")">Vehículos por Unidad en Tiempo Real</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsRealTimeCostCenterIndex" href="@Url.Action("Index", "RealTimeCostCenter")">Vehículos por Centro de Costos en Tiempo Real</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsSeeRouteIndex" href="@Url.Action("Index", "SeeRoute")">Trayectos de Vehículos</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsReconstructingIndex" href="@Url.Action("Index", "Reconstructing")">Reconstrucción de Recorrido</a>
                        </li>
                    </ul>
                </li>
                
                <li class="@ViewBag.PassControl">
                    <a href="#"><img src="~/Content/Images/menu_passcontrol.png" class="right10" />Control de Paso</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.MapsRealControlVehicleIndex" href="@Url.Action("Index", "PassControlVehicle")">Por Vehículo</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsRealControlGroupIndex" href="@Url.Action("Index", "PassControlGroup")">Por Grupo</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsRealControlUnidsIndex" href="@Url.Action("Index", "PassControlUnit")">Por Unidad</a>
                        </li>
                        <li>
                            <a class="@ViewBag.MapsRealControlSubUnidsIndex" href="@Url.Action("Index", "PassControlSubUnit")">Por Centro de Costo</a>
                        </li>
                    </ul>
                </li>
                
                <li class="@ViewBag.Measuring">
                    <a class="@ViewBag.MapsMeasuringIndex" href="@Url.Action("Index", "Measuring")"><img src="~/Content/Images/menu_measuring.png" class="right10" />Medición de Distancias</a>
                </li>
                

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>