﻿@using ECO_Operation.Models
@model IEnumerable<DrivingTimeReport>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model.Select(item => item as DrivingTimeReport))
        .Columns(c =>
        {               
            c.Add(m => m.DecryptedIdentification).Titled("Identificación").SetWidth(110).Css("grid-col-left");
            c.Add(m => m.DecryptedName).Titled("Nombre").SetWidth(110).Css("grid-col-left");
            c.Add(m => m.WorkingTimestr).Titled("Tiempo de Jornada").SetWidth(110).Css("grid-col-center");
            c.Add(m => m.DrivingTimestr).Titled("Horas Laboradas").SetWidth(110).Css("grid-col-center");
        }
        ).Selectable(true)
    )
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
