﻿@using ECO_Operation.Models
@model ScoreSpeedReportBase
@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();

    ViewBag.Title = "Calificación Hábitos de Conducción según Velocidad de Ley por Conductor";

    ViewBag.Operation = "active";
    ViewBag.OperationReports = "active";
    ViewBag.OperationReportsScoreSpeedRoute = "active";
    ViewBag.MenuCalificaciones = "active";
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    @Styles.Render("~/bundles/gridmvc_css")
    <style>
        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
        }

            .carousel-indicators li {
                background: #9c9c9c;
            }

            .carousel-indicators .active {
                background: #4B4B4B;
            }

        .carousel-control {
            color: #4B4B4B;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

            .carousel-control:hover {
                color: black;
            }
    </style>
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "LINEVITA_ADMIN")
        {
            <input class="hidden" name="Header" value="19" />
        }
        else
        {
            <input class="hidden" name="Header" value="4" />
        }
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    <div class="container-fluid">

        @using (Html.BeginForm("Index", "ScoreSpeedRoutesReport", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, ECO_Operation.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>

                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Parameters.Month, ECO_Operation.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Parameters.Year, ECO_Operation.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>                
            </div>
        }

        @if (Model.List != null && Model.List.Any())
        {
            <div class="card">
                <div class="card-content">
                    <span class="card-title" id="card_title">

                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect " for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                            <span class="mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect  " for="option-2">
                            <input type="radio" id="option-2" class="mdl-radio__button activator" name="options" value="2">
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>

                    </span>

                    <div class="col-sm-3 text-right pull-right">
                        @if (!isPrintView)
                        {
                            using (Ajax.BeginForm("ExcelReportDownload", "ScoreSpeedRoutesReport", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                OnBegin = "ECO_Operation.ScoreSpeedRoutesReport.ShowLoader()",
                                InsertionMode = InsertionMode.Replace,
                                OnSuccess = "ECO_Operation.ScoreSpeedRoutesReport.HideLoader()"
                            }, new { id = "ExcelReportDownloadForm" }))
                            {
                                <input class="hidden" name="p" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
                            }
                            using (Html.BeginForm("DownloadFile", "ScoreSpeedRoutesReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                    <i class="mdi mdi-download"></i> Exportar
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" onclick="ECO_Operation.ScoreSpeedRoutesReport.OnClickDownloadPartnerReport()">
                                            <i class="mdi mdi-file-excel"></i>&nbsp;&nbsp;Exportar Excel
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                            <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Formato Impresión
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-default" type="button" data-print>
                                <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                            </button>
                        }
                    </div>

                    @Html.Partial("_partials/_Chart", Model)

                    <div class="row" style="margin: 0 auto;padding-left: 12%;">
                        <div class="col-sm-4">
                            <h6><span class="label label-danger">&nbsp;</span> Puntuación > @Model.Parameters.RedLower% o < @Model.Parameters.RedHigher% </h6>
                        </div>
                        <div class="col-sm-4">
                            <h6><span class="label label-warning">&nbsp;</span> Puntuación > @Model.Parameters.YellowLower% y < @Model.Parameters.YellowHigher%</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6><span class="label label-success">&nbsp;</span> Puntuación > @Model.Parameters.GreenLower% y < @Model.Parameters.GreenHigher%</h6>
                        </div>
                    </div>

                </div>
                <!-- CARD REVEAL-->
                <div class="card-reveal">
                    <span class="card-title">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                            <input type="radio" id="option-3" class="mdl-radio__button" name="options2" value="1">
                            <span class="mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                            <input type="radio" id="option-4" class="mdl-radio__button activator" name="options2" value="4" checked>
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>
                    </span>

                    @Html.Partial("_partials/_Grid", Model.List)
                </div>

         </div>
        }
        else
        {
            <br />
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
            </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Operation/ScoreSpeedRoutesReport.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Operation.ScoreSpeedRoutesReport.Init({
                labels: @Model.Parameters.Labels,
                data: @Model.Parameters.Data,
                colors: @Model.Parameters.Colors,
                highligh: @Model.Parameters.Colors,
                printURL: '@Url.Action("PrintReport", "ScoreSpeedRoutesReport", new {p = Model.Parameters.ParametersInBase64})',
                printMode: 'True' === '@isPrintView' ? true : false
            });
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}


