﻿@model  ECOsystem.Areas.Coinca.Models.Parameters

@Html.HiddenFor(m => m.RowVersion)

<div class="card">
    <div class="card-content">     
        <div class="row">
            <div role="form">
                <div class="row">
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.SafeSpeedMargin, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.SafeSpeedMargin, new { placeholder = "Margen de Velocidad Segura", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SafeSpeedMargin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.AVLOdometerErrorMargin, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.AVLOdometerErrorMargin, new { placeholder = "Margen de Error en Odómetro del AVL", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AVLOdometerErrorMargin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.POSOdometerErrorMargin, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.POSOdometerErrorMargin, new { placeholder = "Margen de Error en Odómetro del POS", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.POSOdometerErrorMargin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.PointArrivalTimeTolerance, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.PointArrivalTimeTolerance, new { placeholder = "Tiempo de Tolerancia al Punto de Arribo", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PointArrivalTimeTolerance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.GeoPointErrorMargin, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.GeoPointErrorMargin, new { placeholder = "Margen de Error de Distancia del Geopunto", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GeoPointErrorMargin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.PasswordEffectiveDays, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.PasswordEffectiveDays, new { placeholder = "Días de Vigencia de la Contraseña", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PasswordEffectiveDays, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.PasswordsValidateRepetition, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.PasswordsValidateRepetition, new { placeholder = "Contraseñas a Validar Repetición", @class = "form-control", maxlength = "1" })
                            @Html.ValidationMessageFor(m => m.PasswordsValidateRepetition, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 form-group">
                        <div class="col-sm-12">
                            @Html.LabelFor(m => m.TransmissionTime, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.TransmissionTime, new { placeholder = "Tiempo Considerado sin Transmitir", @class = "form-control", maxlength = "1" })
                            @Html.ValidationMessageFor(m => m.TransmissionTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
           
        <div class="row">
            <div class="col-sm-12 col-md-12 text-right">
                <a href="@Url.Action("Index", "Parameters")" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>


