﻿@using ECO_Partner.Business
@model ECO_Partner.Models.PartnerFuel


<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.HiddenFor(m => m.PartnerFuelId)
            @Html.HiddenFor(m => m.PartnerId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Tarifas de combustible por Socio</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.LiterPrice, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.LiterPrice, new { placeholder = "Precio por Litro", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.LiterPrice, "", new { @class = "text-danger" })
                            <p class="text-danger">El precio siempre debe estar expresado por unidad de Litro (si el precio se obtuvo expresado por unidad de Galón debe realizarse la conversión respectiva)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FuelId, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.FuelId, GeneralCollections.GetFuels, "Seleccione el tipo combustible", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FuelId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
