﻿@model IEnumerable<ECO_Partner.Models.PartnerFuel>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .RenderValueAs(m => @<span> @if (m.EndDate == null)
                                              {
                                                  <a href="#" class="edit-color" id="@m.PartnerFuelId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.PartnerFuelId" title="Eliminar" del_row><i class="mdi mdi-close mdi-18px"></i></a>
                                              }
                </span>).Css("grid-col-btn");

          }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}