﻿@model ECO_Efficiency.Models.VehicleRouteBase
@{
    ViewBag.Title = "Reporte de Cumplimiento";
    ViewBag.Localizacion = "active";
    ViewBag.Route = "active";
    ViewBag.VehicleRouteIndex = "active";
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }
        .colpick {
            z-index: 9999;
        }

        body {
            
            overflow-x: hidden;
        }

        .menu-hide {
            display: none;
        }

        .menu-show {
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0px;
            background: #eee;
        }

            .menu-show .panel {
                margin: 0;
                border-radius: 0 !important;
            }

        .menu-right-hide {
            right: 0 !important;
        }

        #menu-right {
            right: 0;
        }

        .map {
            width: 100%;
            position: absolute;
        }

        .map-menu-left-hide {
            left: 15px !important;
        }

         .toggle-btn {
        position: absolute;
        border-radius: 0 !important;
        background-color: #f5f5f5 !important;
        outline: none !important;
    }

    .toggle-btn i {
        font-size: 24px;
    }

     .toggle-btn:hover {
     color:#000000;
    }

       .toggle-btn:focus {
     color:#000000;
    }

        .toggle-left-btn {
            left: 315px;
            top:0px;
            border-left: 0 !important;
        }

        .toggle-right-btn {
            right: 300px;
            top:60px;
            border-right: 0 !important;
        }

        .nav-tabs {
            border: 0;
        }

            .nav-tabs > li {
                width: 50%;
                text-align: center;
            }

                .nav-tabs > li.active > a,
                .nav-tabs > li.active > a:hover,
                .nav-tabs > li.active > a:focus {
                    border: 0 !important;
                }

        .card-heading {
            padding: 10px;
            background-color: darkcyan;
            color: white;
        }

        .panel-container-cards {
            height: calc(100vh - 220px);
            overflow: auto;
            width: 100%;
        }

        .panel-group {
            margin: 10px !important;
        }

        .panel-body {
            padding: 0 10px !important;
        }

        .tab-pane {
            background-color: #eee;
        }

        .card,
        .card-content {
            margin-top: 0;
        }
</style>
   
}
<link href="~/Content/Styles/RadarEffect.css" rel="stylesheet" />



@using (Html.BeginForm("DonwloadFile", "VehicleRoute", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

@using (Ajax.BeginForm("ExcelReportDownload", "VehicleRoute", null, new AjaxOptions
                                    {
                                        HttpMethod = "post",
                                        OnBegin = "ECO_Efficiency.VehicleByRoute.ShowLoader()",
                                        InsertionMode = InsertionMode.Replace,
                                        OnSuccess = "ECO_Efficiency.VehicleByRoute.HideLoader()"
                                    }, new { id = "ExcelReportDownloadForm" }))
{
    <input value=0 id="vehicleId" name="vehicleId" type="hidden">
    <input value='' id="placa" name="placa" type="hidden">

}

@using (Ajax.BeginForm("AddOrEditVehicles", "VehicleRoute", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" })) { }


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
HttpMethod = "post",
InsertionMode = InsertionMode.Replace,
UpdateTargetId = "side-menu2",
OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
<input class="hidden" name="Header" value="1" />
@Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div class="card-content">
        <div class="row">
            <div class="col-xs-12">
                <div style="z-index: 1000;">
                    <div id="menu-left" class="menu-show">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4>Vehículos</h4>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <div class="btn-group btnExpand">
                                            <button id="btnExpandLeft" type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Expandir Contraer" style="height: 30px">
                                                <i class="mdi mdi-arrow-expand-all"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="with-nav-tabs">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab2default">
                                        <div class="col-lg-12" style="padding: 10px;">
                                            <div class="input-group">
                                                <div class="input-group">
                                                    <input id="txtSearch" type="text" class="form-control" placeholder="Filtrar">
                                                    <span class="input-group-btn">
                                                        <button id="btnSearchVehicleGroup" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="padding:10px">
                                            <button class="btn btn-success"   type="button" id="dropdownMenu1" onclick="ECO_Efficiency.VehicleByRoute.OnClickDownloadReport()" title="Exportar">
                                                <i class="mdi mdi-share"></i>Exportar Reporte de Cumplimiento
                                            </button>
                                        </div>

                                        <div id="gridContainer" class="panel-container-cards" >
                                            @Html.Partial("_Partials/_VehicleList", Model.List)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="menu-left-toggle" class="btn flex toggle-left-btn toggle-btn"><i id="left_icon" class="mdi mdi-arrow-left-bold"></i></button>
                </div>
                <div id="detailContainer">
                    @Html.Partial("_partials/_Detail", Model.Data)
                </div>
        </div>
            <!-- Load Form Start-->
            @using (Ajax.BeginForm("LoadVehicleRoute", "VehicleRoute", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "detailContainer",
                OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
            }, new { id = "loadForm" }))
            {
                    @Html.Hidden("id")
            }
        </div>
    </div>
</div>
@section scripts {
<script src="~/Scripts/Efficiency/VehicleByRoute.js?v=@version-hf0"></script>
    <script>

        var i = 0;
        function changehover() {
            if (i < 6) {
                $('#menu-left-toggle').toggleClass('hover');
                i++;
            }
        }

        $(document).ready(function () {
            $("#LoadMenuForm").submit();
            window.setInterval(changehover, 1500);
        });


        $('.accordionIconEffect').click(function () {
            if (!$('.accordin-left').hasClass('in')) {
                $(this).find('i').removeClass('mdi-plus');
                $(this).find('i').addClass('mdi-minus');
            }
            else {
                $(this).find('i').removeClass('mdi-minus');
                $(this).find('i').addClass('mdi-plus');
            }
        });

        // Expand Left Cards
        $("#btnExpandLeft").click(function (e) {
            var expand = $(this).attr('expand');
            if (typeof expand !== typeof undefined && expand !== false) {
                $(".accordin-left").collapse("hide");
                $(this).removeAttr("expand");
                ChangeExpandIcon($("#btnExpandLeft i"), true);
            } else {
                $(".accordin-left").collapse("show");
                $(this).attr("expand", "expand");
                ChangeExpandIcon($("#btnExpandLeft i"), false);
            }
        });
                
        // Change Expand Button Icons
        function ChangeExpandIcon(icon, result) {
            if (result) {
                icon.removeClass("mdi-arrow-compress-all");
                icon.addClass("mdi-arrow-expand-all");
            } else {
                icon.removeClass("mdi-arrow-expand-all");
                icon.addClass("mdi-arrow-compress-all");
            }
        }

        $("#menu-left-toggle").click(function () {
            $("#menu-left").toggleClass("menu-hide");
            $("#map").toggleClass("map-menu-left-hide");
            $("#menu-left-toggle").toggleClass("map-menu-left-hide");

            if ($("#menu-left").hasClass("menu-hide")) {
                $("#left_icon").addClass("mdi-arrow-right-bold");
                $("#left_icon").removeClass("mdi-arrow-left-bold");
            } else {
                $("#left_icon").removeClass("mdi-arrow-right-bold");
                $("#left_icon").addClass("mdi-arrow-left-bold");
            }
        });


        $("#menu-right-toggle").click(function () {
            $("#menu-right").toggleClass("menu-hide");
            $("#menu-right-toggle").toggleClass("menu-right-hide");

            if ($("#menu-right").hasClass("menu-hide")) {
                $("#right_icon").addClass("mdi-arrow-left-bold");
                $("#right_icon").removeClass("mdi-arrow-right-bold");
            } else {
                $("#right_icon").removeClass("mdi-arrow-left-bold");
                $("#right_icon").addClass("mdi-arrow-right-bold");
            }
        });


        $('#btnSearchVehicleGroup').click(function () {                    
            SearchVehicleLeftPanel();
        });

        function assingVehicleIdAndPlate(vehicleid, plateid) 
        {
  
            $('#vehicleId').val(vehicleid);
            $('#placa').val(plateid); 
        }

        //Function that looks for the filter in the left panels
        function SearchVehicleLeftPanel() {
            var flag = 0;
            var text = $('#txtSearch').val();
            $(".checkboxGV").show("slow");

            $(".VehiclePanelRight").each(function (index) {
                if (text == '') {
                    var gvname = $(this).attr("gvname");
                    if (typeof gvname !== 'undefined') {
                        $(this).show("slow");
                    }
                }
                else {
                    var gvname = $(this).attr("gvname");

                    if (typeof gvname !== 'undefined') {

                        if (gvname.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                            $(this).show("slow");
                        }
                        else {

                            $(this).find('.checkboxGV').each(function () {
                                var VHPlate = $(this).attr("VHPlate");
                                var VHName = $(this).attr("VHName");
                                
                                if (typeof VHName !== 'undefined' && typeof VHPlate !== 'undefined') {

                                    if (VHName.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                        $(this).show("slow");
                                        flag = 1;
                                    }
                                    else if (VHPlate.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                        $(this).show("slow");
                                        flag = 1;
                                    }
                                    else {
                                        $(this).hide("slow");
                                    }
                                }
                            });

                            //If the vehicle was found let the cost center visible
                            if (flag != 1) {
                                $(this).hide("slow");
                            }
                            else {
                                flag = 0;
                            }
                        }
                    }
                }
            });
        }
    </script>
}
