﻿@model ECOsystem.Management.Models.AgentReconstructing

@if (Model.UserId != null)
{
    <div class="panel-group margin0" style="border-bottom: solid 1px lightgray; padding:0 5px !important;">
        <div class="card-heading">
            <h4 class="panel-title link"><strong>@Model.DecryptName</strong></h4>
        </div>
        <div style="padding: 5px 5px 0 5px;" class="borders">
            <div class="panel-body">
                <div style="padding-bottom:5px"><i class="mdi mdi-map" data-toggle="tooltip" data-placement="right" title="Dirección"></i><span id="address-@Model.UserId"></span></div>
                <div style="padding-bottom:5px"><i class="mdi mdi-home-map-marker" data-toggle="tooltip" data-placement="right" title="Comercio"></i><span id="commerce-@Model.UserId"></span></div>
                <div style="padding-bottom:5px"><i class="mdi mdi-calendar-text" data-toggle="tooltip" data-placement="right" title="Evento"></i><span id="event-@Model.UserId"></span></div>
                <div style="padding-bottom:5px"><i class="mdi mdi-timelapse" data-toggle="tooltip" data-placement="right" title="Duración"></i><span id="lapse-@Model.UserId"></span></div>
                <div style="padding-bottom:5px" id="color-@Model.UserId"><i class="mdi mdi-battery-60" id="batteryclass-@Model.UserId" data-toggle="tooltip" data-placement="right" title="Porcentaje batería"></i><span id="battery-@Model.UserId"></span></div>
                <div style="padding-bottom:5px"><i class="mdi mdi-calendar-clock" data-toggle="tooltip" data-placement="right" title="Actualización"></i> <span id="dateTime-@Model.UserId"></span></div>
            </div>
        </div>
        <div class="panel-body text-right" style="padding: 5px !important;">
            <strong agentid=@Model.UserId class="btnAgentView" style="color: darkcyan;cursor:pointer;padding-right: 5px;"><i class="mdi mdi-map-marker"></i>UBICAR</strong>
        </div>
    </div>
    <div class="panel-group margin0" style="overflow-y:scroll;height: calc(100vh - 435px);">
        @Html.Partial("_partials/_FragmentList", Model.FragmentList)
    </div>
}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No existe información para mostrar
        </div>
    </div>
}

