﻿@model IEnumerable<ECOsystem.Management.Models.Agent>

@if (Model.Any())
{
    var AgentIds = ViewBag.AgentIds;

    if (Model.ToList().Count() > 1)
    {
        <div class="panel-group margin0 card-content text-right">
            <label class="btn btn-success" id="textll1">
                <input type="checkbox" id="chkNameAgent" name="chkNameAgent" onclick="ECO_Management.ManagementMap.LoadChkAgentName()" autocomplete="off">
                <span>Mostrar Nombres</span>
                <input type="hidden" id="hchListAgents" value="@AgentIds">
            </label>

            <button agentid="@AgentIds" type="button" class="btn btn-warning btnAgentView" title="Refrescar ubicaciones"><i class="mdi mdi-refresh"></i></button>
        </div>
    }
    foreach (var item in Model)
    {
        <div class="panel-group margin0 card-content">
            <div class="card-heading borders" data-toggle="collapse" data-parent="#accordion-@item.UserId" href="#accordion-@item.UserId">
                <h4 class="panel-title link"><strong>@item.DecryptName</strong></h4>
            </div>
            <div id="accordion-@item.UserId" class="panel-collapse collapse accordin-right borders" style="padding: 5px 5px 0 5px;">
                <div class="panel-body" style="border-bottom: solid 1px lightgray; padding:0 5px !important;">
                    <div style="padding-bottom:5px"><i class="mdi mdi-map" data-toggle="tooltip" data-placement="right" title="Dirección"></i><span id="address-@item.UserId"></span></div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-home-map-marker" data-toggle="tooltip" data-placement="right" title="Comercio"></i><span id="commerce-@item.UserId"></span></div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-calendar-text" data-toggle="tooltip" data-placement="right" title="Evento"></i><span id="event-@item.UserId"></span></div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-timelapse" data-toggle="tooltip" data-placement="right" title="Duración"></i><span id="lapse-@item.UserId"></span></div>
                    <div style="padding-bottom:5px" id="color-@item.UserId"><i class=" mdi mdi-battery-60" id="batteryclass-@item.UserId" data-toggle=" tooltip" data-placement="right" title="Porcentaje batería"></i><span id="battery-@item.UserId"></span></div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-calendar-clock" data-toggle="tooltip" data-placement="right" title="Actualización"></i> <span id="dateTime-@item.UserId"></span></div>
                </div>
            </div>
            <div class="panel-body text-right" style="padding: 5px !important;">
                <strong agentid=@item.UserId class="btnAgentView" style="color: darkcyan;cursor:pointer;padding-right: 5px;"><i class="mdi mdi-map-marker"></i>UBICAR</strong>
            </div>
        </div>
    }
}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay datos que mostrar para la fecha seleccionada.
        </div>
    </div>
}