﻿@model IEnumerable<ECOsystem.Management.Models.Commerce>

<style>
    .radio+.radio, .checkbox+.checkbox {
        margin-top: 10px!important;
    }
</style>

@if (Model.Any())
{
    <div class="col-sm-12" style="overflow-y:scroll; height: calc(100vh - 195px);">
        @foreach (var item in Model)
        {
            <div class="checkbox checkComm" commercename="@item.Name">
                <label>
                    <input class="checkboxCommerces" id="@item.Id" type="checkbox" />&nbsp;@item.Name
                </label>
            </div>
        }
    </div>
}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No existe información para mostrar
        </div>
    </div>
}