﻿@model IEnumerable<ECOsystem.Management.Models.Commerce>

@if (Model.Any())
{
    var ObjectIds = ViewBag.ObjectIds;

    if (Model.ToList().Count() > 0)
    {
        <div class="panel-group margin0 card-content text-right">
            <div class="checkbox col-sm-8 text-left" style="margin-left: -15px;">
                <label>
                    <input type="checkbox" id="chkNameCommerce" name="chkNameCommerce" onclick="ECO_Management.ManagementMap.LoadChkCommerceName()" autocomplete="off" />&nbsp;Mostrar Información
                </label>
            </div>
            <input type="hidden" id="hchListCommerce" value="@ObjectIds">
            <button commerceid="@ObjectIds" type="button" class="btn btn-success btnCommerceView" title="Refrescar ubicaciones"><i class="mdi mdi-refresh"></i></button>
        </div>
    }
    foreach (var item in Model)
    {
        <div class="panel-group margin0 card-content">
            <div class="card-heading" data-toggle="collapse" data-parent="#accordion-@item.Id" href="#accordion-@item.Id">
                <h4 class="panel-title link"><strong>@item.Name</strong></h4>
            </div>
            <div id="accordion-@item.Id" class="panel-collapse collapse accordin-right" style="padding: 5px 5px 0 5px;">
                <div class="panel-body" style="border-bottom: solid 1px lightgray; padding:0 5px !important;">
                    <div style="padding-bottom:5px"><i class="mdi mdi-map" data-toggle="tooltip" data-placement="right" title="Dirección"></i><span id="direction-@item.Id">&nbsp;- @item.Address</span></div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-note-text" data-toggle="tooltip" data-placement="right" title="Descripción"></i><span id="description-@item.Id">&nbsp;- @item.Description</span></div>
                </div>
            </div>
            <div class="panel-body text-right" style="padding: 5px !important;">
                <strong commerceId=@item.Id class="btnCommerceView" style="color: darkcyan;cursor:pointer;padding-right: 5px;"><i class="mdi mdi-map-marker"></i>UBICAR</strong>
            </div>
        </div>
    }
}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No existe información para mostrar
        </div>
    </div>
}