﻿@model IEnumerable<ECOsystem.Management.Models.Agent>

<style>
    .btnPlayPauseFont {
        font-size: 40px;
        margin-top: 50%;
        margin-left: -20px;
        cursor: pointer;
        color: #2e6da4;
    }

    .playingShadowCard {
        border: 1px solid #bbb;
        box-shadow: 0 6px 5px 0 green,0 5px 5px 3px rgba(0,0,0,.14),0 1px 5px 0 green !important;
    }

    .currentshadow {
        border: 1px solid #bbb;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.28),0 0px 0px 0px rgba(0,0,0,.14),0 0px 0px 0 rgba(0,0,0,.28) !important;
    }

    .cardRecons {
        margin-bottom: -5px;
        cursor: pointer;
    }
</style>

@if (!Model.Any() || Model.Count() == 0)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay datos que mostrar para la fecha seleccionada.
    </div>
}
else
{
    string countryname = ECOsystem.Utilities.Session.GetCustomerInfo().CountryName;
    foreach (var item in Model)
    {
        var dates = string.Format("{0}  ", item.StartDate.ToString("hh:mm tt"));
        var FinishManagement = string.Format("{0}  ", item.Lapse);
        var cardid = string.Format("card_{0}", item.Id);
        var LapseAndDistance = string.Format("{0} - {1} Kms", item.Lapse, item.Distance);
        var showControls = item.EventTypeId == ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.BeginJourneyEvent) ? "hidden" :
                           item.Parent == ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.BeginJourneyEvent) ? "hidden" : string.Empty;

        if (item.EventTypeId == ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.LocationEvent))
        {
            <div class="card card-outline-success text-xs currentshadow @cardid" id="@cardid">
                <div class="card-block">
                    <div class="row" style="margin-bottom: -5px;">
                        <div class="col-sm-10" style="margin-left: -17px;">
                            @Html.Hidden("StartDate_" + item.Id, item.StartDate, new { @id = item.Id + "_StartDate" })
                            @Html.Hidden("EndDate_" + item.Id, item.EndDate, new { @id = item.Id + "_EndDate" })
                            <div style="margin-top:-5px;">
                                <div class="col-sm-4"> <strong>@item.EventName</strong></div>
                                <br />
                                <div class="col-sm-12 " style="padding-bottom:5px">
                                    <i class="mdi mdi-timelapse" data-toggle="tooltip" data-placement="right" title="Tiempo"></i>&nbsp;@item.Lapse
                                    <span>-</span>
                                    <i class="mdi mdi-map" data-toggle="tooltip" data-placement="right" title="Distancia"></i>&nbsp;@item.Distance<span>&nbsp;km</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 text-right" style="margin-top: -20px;">
                            <i class="mdi mdi-play-circle btnPlayPause btnPlayPauseFont" id="@item.Id" play-pause="0" userid="@item.UserId" iscontrol="true" addClass="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card card-outline-success text-xs currentshadow @cardid" id="@cardid">
                <div class="card-block btnPlayPause" id="@item.Id" play-pause="0" userid="@item.UserId" iscontrol="true" addClass="false">
                    <div class="row cardRecons">
                        @Html.Hidden("StartDate_" + item.Id, item.StartDate, new { @id = item.Id + "_StartDate" })
                        @Html.Hidden("EndDate_" + item.Id, item.EndDate, new { @id = item.Id + "_EndDate" })
                        <div style="margin-top:-5px;">
                            <div class="col-sm-8"><strong>@item.EventName</strong></div>
                            <div class="col-sm-4 text-right"><i title="Hora de Evento"> @dates<span>&nbsp;</span></i></div>
                            <div @showControls>
                                <br />
                                <div class="col-sm-8" style="padding-bottom:10px">
                                    @if (!string.IsNullOrEmpty(item.CommerceName))
                                    {
                                        <i class="mdi mdi-home-map-marker" data-toggle="tooltip" data-placement="right" title="Comercio"></i><span>&nbsp;@item.CommerceName</span>
                                    }
                                </div>
                                <div class="col-sm-4 text-right" style="padding-bottom: 8px ; padding-left: 8px"><span>&nbsp;</span><i class="mdi mdi-timelapse" data-toggle="tooltip" data-placement="right" title="Duración de la Gestión"></i><span>&nbsp;@item.Lapse</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}