﻿@model IEnumerable<ECOsystem.Management.Models.AditionalColumns>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
                .Columns(c =>
                {
                    c.Add(m => m.Title).Titled("Título").Sortable(true);
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .Titled("Valor")
                        .RenderValueAs(m => @<div>
                            @{ var classDC = string.Format("form-control values_{0}", m.AgendaId); }
                            @Html.TextBox("Values", m.Value, new { placeholder = "Valor", @class = @classDC, @id = m.Id, @title = m.Title })
                        </div>);
                            })
    )
}