﻿@model ECOsystem.Management.Models.DynamicColumnsBase

<br />
<div class="col-sm-12">
    <table class="table table-striped" id="formulaList">
        <thead>
            <tr>
                <th class="tableHeader">Columnas</th>
            </tr>
        </thead>
    </table>
    <ul id="sortableColumns">
        @if (Model.ListColums != null)
        {
            foreach (var item in Model.ListColums)
            {
                <li class="ui-state-default">&nbsp;@item.Value&nbsp;<i class="mdi mdi-close-box removeColumn" onclick="ECO_Management.Agenda.OnDeleteColum('@item.Id');"></i>&nbsp;</li>
            }
        }
    </ul>
</div>

