﻿@model IEnumerable<ECOsystem.Management.Models.Agenda>
@using GridMvc.Html

<style>
    .mainheader {
        background-color: darkblue !important;
        color: white;
    }
</style>

@if (Model != null && Model.Any())
{
    <br />
    <table class="table grid-table">
        <thead>
            <tr>
                <th class="mainheader"><div class="grid-header-title">#</div></th>
                <th class="mainheader"><div class="grid-header-title">Código</div></th>
                <th class="mainheader"><div class="grid-header-title">Comercio</div></th>
                <th class="mainheader"><div class="grid-header-title">Dirección</div></th>
                <th class="mainheader"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Order</td>
                    <td>@item.Code</td>
                    <td>@item.CommerceName</td>
                    <td>@item.Address</td>
                    <td>
                        <a class="edit-color" title="Editar" data-toggle="collapse" data-parent="#DynamicColumns-@item.Id" href="#DynamicColumns-@item.Id" style="cursor:pointer;"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        <a href="#" class="delete-color" onclick="ECO_Management.Agenda.OnDeleteItem(@item.Id)" title="Eliminar"><i class="mdi mdi-32px mdi-close-box"></i></a>
                    </td>
                </tr>
                <tr id="DynamicColumns-@item.Id" class="panel-collapse accordin-left collapse">
                    <td colspan="5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Columnas Dinámicas</b>
                                </h3>
                            </div>
                            <div class="panel-body" id="DynamicColumns_@item.Id">
                                @Html.Partial("_partials/_AdditionalColumnsGrid", @item.DynamicColumns)
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-success" onclick="ECO_Management.Agenda.SaveDynamicColumns(@item.Id)"> <i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info alert-dismissible fade in">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}