﻿<div class="modal fade" id="ImportModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            @using (Html.BeginForm("AddImportAgenda", "Agenda", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Agenda - Importación de Datos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input id="txtFile" name="key" type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Management.Agenda.OnClickImport2()"><i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Buscar</button>
                                    <input type="file" class="hide" id="ImportCSV" accept=".csv" size=" 43" name="fileHidden" onchange="ECO_Management.Agenda.GetFilename(this)" />
                                </span>
                            </div>
                            <br />
                            <label>* Tipo de archivo CSV</label><br />
                            <label>* El proceso puede tardar algunos minutos</label><br />
                            <label>* Por favor validar que el archivo tiene el formato correcto. Click <a class="" href="@Url.Action("DonwloadExampleFile", "Agenda")">aquí</a> para descargar archivo de ejemplo.</label>
                        </div>
                    </div>
                    <div id="validationFormat" class="row top20">
                        <div id="errorFormatMsj" class="col-sm-12 text-danger">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-left col-sm-6">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("CreateCommerce", new { id = "chkCreateCommerce", type = "checkbox" })&nbsp;<b>Agregar Nuevos Comercios</b>
                                    @*<input name="CreateCommerce" id="chkCreateCommerce" type="checkbox" />*@
                                </label>
                            </div>
                        </div>
                        <div class="text-right col-sm-6">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button id="btnImport" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Importar</button>
                        </div>
                    </div>                    
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="SummaryResultModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agenda - Resultado de la Importación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-6"><b>Fecha:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultimportdate"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad de lineas procesadas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultsaved"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad de lineas NO procesadas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultnotsaved"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad de lineas duplicadas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultduplicate"></span></b></div><br />                        
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <b>Si existen líneas No procesadas, se descarga un archivo indicando cuales líneas no fueron procesadas.</b>
                        <br />
                    </div>
                </div>
                <div class="modal-footer" style="padding: 5px!important; margin-bottom: -10px!important;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ErrorResultModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agenda - Resultado de la Importación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <b><span id="mesajeresult"></span></b><br />
                        <br />
                    </div>
                </div>
                <div class="modal-footer" style="padding: 5px!important; margin-bottom: -10px!important;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>