﻿<div class="modal fade"  id="UnauthorizeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="reload()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Usuario no autorizado</h4>
            </div>
            <div class="modal-body">
                <p>Para mas información contacte a su administrador.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/JavaScript">
    $(function () {
        $('#UnauthorizeModal').modal('show');
    });

    setTimeout(function () { location.reload(); }, 500);

    function reload() {
        location.reload();
    }
</script>
