﻿@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }    

<div class="container bottom20">
    <div style="margin-top: 7%;margin-bottom: 12%;text-align: center;">
        <i class="mdi mdi-lock icon-mdi"></i>
        <h2>Usuario no autorizado, para mas información contacte a su administrador.</h2>
    </div>
</div>

<script type="text/JavaScript">
    document.getElementById('wrapper').id = 'wrapper-dash';
    setTimeout("location.href = 'javascript:history.back()';", 3000);
</script>