﻿@model  ECOsystem.Areas.Admin.Models.Administration.DriversByVehicleBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conductores por Vehículo";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlDriversByVehicleIndex = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .bs-callout-blue {
            border-left-color: #006CB0;
        }

        .bs-callout {
            border: 1px solid #006CB0;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-color-blue {
            color: #006CB0;
        }

        .scrol-list {
            overflow-y: auto;
            height: 406px;
        }

        .box {
            cursor: pointer;
        }

        div.sortable-placeholder {
            border: 2px dashed #006CB0;
            background: #FCF8E3;
            height: 80px;
        }
       .display-table {
            display: table;
            table-layout: fixed;
        }

        .display-cell {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }

        .btn-search-filter
        {
          color: #fff;
          background-color: #337ab7;
          border-color: #2e6da4;
        }
    </style>
}
  
@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

 <div id="page-content-wrapper">
        
        @using (Ajax.BeginForm("LoadDriversByVehicle", "DriversByVehicle", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = " ECOsystem.Areas.Admin.DriversByVehicle.OnSuccessLoad()",
            OnComplete = "search_change();"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id", "")
        }
        <div class="row">
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.VehicleId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehiclesWithAll, "Seleccione un Vehículo", new { @class = "form-control fbold" })
            </div>
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="sr-only"></label>
                    <input id="Search" type="text" class="form-control" placeholder="Filtro" onkeyup="search_change()">
                    <span class="mdi mdi-magnify form-control-feedback btn-search-filter"></span>
                </div>
            </div>
        </div>
        <br />
        @using (Ajax.BeginForm("AddOrEditDriversByVehicle", "DriversByVehicle", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = " ECOsystem.Areas.Admin.DriversByVehicle.OnBeginAddOrEdit()",
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = " ECOsystem.Areas.Admin.DriversByVehicle.OnSuccessLoad(); ECOsystem.Utilities.setConfirmation();"
        }, new { id = "saveForm" }))
        {
            @Html.Hidden("VehicleId", @Model.VehicleId)
            
            <div class="row" style="height: 400px;">
                <div class="col-sm-12" id="DragAndDropContainer">
                    @Html.Partial("_partials/_List", Model.Data)
                </div>
            </div>
        }

        <hr />
    </div>


@section scripts {

    <script src="~/Scripts/Administration/driversByVehicle.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.DriversByVehicle.Init();
        });

        function Count() {
            $('#ConnectedDrivers').children('div').each(function () {
                connected = connected + 1;
            });

            $('#AvailableDrivers').children('div').each(function () {
                available = available + 1;
            });
            $('#connected').text(connected);
            $('#available').text(available);
        }

        function btnRight_onClick() {
            $('#AvailableDrivers').children('div').each(function () {
                if (!$(this).hasClass("hidden")) {
                    $(this).prependTo("#ConnectedDrivers");
                }
            });
            this.search_change();
        }

        function btnLeft_onClick() {
            $('#ConnectedDrivers').children('div').each(function () {
                if (!$(this).hasClass("hidden")) {
                    $(this).prependTo("#AvailableDrivers");
                }
            });
            this.search_change();
        }

        function search_change() {
            var searchText = $("#Search").val().toUpperCase();
            var connected = 0;
            var available = 0;
            if (searchText.length > 0) {
                $('#ConnectedDrivers').children('div').each(function () {
                    if ($(this).text().toUpperCase().search(searchText) > 0) {
                        connected = connected + 1;
                        $(this).removeClass("hidden");
                    } else {
                        $(this).addClass("hidden");
                    }
                });
                $('#AvailableDrivers').children('div').each(function () {
                    if ($(this).text().toUpperCase().search(searchText) > 0) {
                        available = available + 1;
                        $(this).removeClass("hidden");
                    } else {
                        $(this).addClass("hidden");
                    }
                });
            } else {
                $('#ConnectedDrivers').children('div').each(function () {
                    connected = connected + 1;
                    $(this).removeClass("hidden");
                });
                $('#AvailableDrivers').children('div').each(function () {
                    available = available + 1;
                    $(this).removeClass("hidden");
                });
            }
            $('#connected').text(connected);
            $('#available').text(available);
        }
    </script>
}
