﻿@model  ECOsystem.Areas.Admin.Models.Administration.DallasKeysBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mantenimiento de Llaves Dallas";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.AdministrationDallasKeysIndex = "active";

    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
        
        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchDallasKeys", "DallasKeys", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-sm-2">
                    <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i> Agregar Llave Dallas</button>
                </div>

                <div class="col-sm-6">
                </div>

                <div class="col-sm-4 pull-right">
                    <div class="input-group">
                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify mdi-18px"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        }
        <!-- Search Area End-->

        <br />
        <!-- Grid Start-->
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
        <!-- Grid End-->

        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadDallasKeys", "DallasKeys", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = " ECOsystem.Areas.Admin.DallasKeys.AddOrEditModalShow()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
        <!-- Load Form End-->

        <!-- Add Or Edit Modal Start -->
        @using (Ajax.BeginForm("AddOrEditDallasKeys", "DallasKeys", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
        }, new { id = "addOrEditForm" }))
        {
            <div id="detailContainer">
                @Html.Partial("_partials/_Detail", Model.Data)
            </div>
        }
        <!-- Add Or Edit Modal End -->

        <!-- Delete Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteDallasKeys", "DallasKeys", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->
    </div>


@section scripts {
    <script src="~/Scripts/Administration/dallasKeys.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.DallasKeys.Init();
        });
    </script>
}