﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.FuelDistribution>
@{
    ViewBag.Control = "active";
    //ViewBag.ControlFuels = "active";
    //ViewBag.ControlVehicleFuelByGroupIndex = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CapacityUnitName = ECOsystem.Utilities.Session.GetCustomerCapacityUnitId() == 0 ? "litro" : "galón";
    string messageNoLiterPrice = "El precio por " + CapacityUnitName + " litro no se ha definido.";
    var customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    ViewBag.Title = customer.IssueForId == 101 ? "Distribución por Vehículos" : "Distribución por Conductores";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .width280 {
            width: 280px;
        }

        .tooltip-inner {
            min-width: 180px;
        }

        .modifiedRowVehicle {
            background: #FFFF73;
        }

        .alert {
            margin-bottom: 0;
        }

        #ControlsContainer {
            margin-top: 15px;
        }

        .card {
            margin-top: 0;
        }

        .grid-wrap {
            padding-top: 0;
        }

        #applyAllForm {
            height: 0;
            margin: 0;
            padding: 0;
        }

        #actualizarMontosContainer {
            padding-left: 0;
        }

        #massiveOperationsContainer {
            margin-left: -15px;
        }

        .actualizarMontosBtn {
            margin-bottom: 10px;
        }

        .card-content {
            margin-top: -25px;
        }

        #costCenterContainer {
            margin-bottom: -25px;
        }

        /*canvas {
            width:135px !important;
            height:106px !important;
        }*/

        .huge-very-low {
            font-size:12px !important;
        }

        .huge-low-middle {
            font-size:12px !important;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("Save", "VehicleFuelByGroup", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Control.VehicleFuelByGroup.ShowLoader()",
    OnSuccess = "ECO_Control.VehicleFuelByGroup.OnSuccessSave(data)"
}, new { id = "SaveForm" })) { }

<div id="page-content-wrapper">

    <div id="graphs"></div>

    @using (Html.BeginForm("Index", "VehicleFuelByGroup", FormMethod.Post, new { id = "ReloadForm" }))
    {
        @Html.Hidden("IssueForId", customer.IssueForId)
        @Html.Hidden("CostCenterFuelDistribution", customer.CostCenterFuelDistribution)

        if (customer.CostCenterFuelDistribution)
        {
            <div id="costCenterContainer" class="row">
                <div class="form-group  form-horizontal col-sm-4" role="form">
                    <label>Centro de Costo</label>
                    @Html.DropDownList("CostCenterId",  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCentersWithoutAll, "Seleccione un Centro de Costo", new { @class = "form-control" })
                </div>
                <div class="form-group  form-horizontal col-sm-4" style="padding-top:25px" role="form">
                    <span class="btn-group form-group">
                        <button id="btnSearchDistibution" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Control.VehicleFuelByGroup.OnSelectCostCenterChange();"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        }
        else
        {
            <div class="row" id="searchControls">
                @if (customer.IssueForId == 101)
                {
                    <div class="col-sm-3">
                        @Html.DropDownList("CostCenterId",  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Seleccione un Centro de Costo", new { @class = "form-control fbold" })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("VehicleGroupId",  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleGroupsAll, "Seleccione un Grupo", new { @class = "form-control fbold" })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("VehicleId",  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesByCustomerDistributionAll, "Seleccione un Vehículo", new { @class = "form-control fbold" })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("FuelId", ECOsystem.Business.Utilities.GeneralCollections.GetFuelsByCountryAll, "Seleccione un Combustible", new { @class = "form-control fbold" })
                    </div>
                    <div class="col-sm-3" style="margin-top:1%">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" title="Importar Presupuestos" onclick="ECO_Control.VehicleFuelByGroup.OnClickImport()"><i class="mdi mdi-file-import" style="font-size:18px;"></i>&nbsp;Importar Presupuesto</button>
                        </span>
                    </div>
                }
                else
                {
                    <div class="col-sm-6">
                        @Html.DropDownList("UserId",  ECOsystem.Areas.Control.Business.GeneralCollections.GetDriversByCustomerDistribution, "Seleccione un Conductor", new { @class = "form-control fbold" })
                    </div>
                    <div class="col-sm-6">
                        @Html.DropDownList("CostCenterId", @ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Seleccione un Centro de Costo", new { @class = "form-control fbold" })
                    </div>
                }
            </div>
        }
    }
    @if (Model != null && Model.Any())
    {
        <hr />
        <div id="ControlsContainer">
            <div class="card">
                <div class="card-content">
                    @if (customer.IssueForId == 101 && Model.Where(v => v.LiterPrice == 0).Any())
                    {
                        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;@messageNoLiterPrice
                        </div>
                    }
                    <br />
                    <br />
                    <div id="massiveOperationsContainer" style="margin-top:-10px;">
                        <div class="col-sm-3">
                            @Html.DropDownList("ValueType",  ECOsystem.Areas.Control.Business.GeneralCollections.ApplyAllDistributionValues, "Aplicar por:", new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBox("ValueAll", string.Empty, new { placeholder = "Digite el Valor", @class = "form-control" })
                            <label id="errormsj" class="text-danger"></label>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <button id="btnAdd" type="button" class="btn btn-success" title="Aplica el monto a las filas seleccionadas" onclick="ECO_Control.VehicleFuelByGroup.SetAppliesMassiveValidation()"><i class="mdi mdi-arrow-down"></i>&nbsp;Aplicar</button>
                        </div>
                    </div>
                    @*<div class="row" id="vista" style="margin-top:7%;margin-bottom:2%">

                    </div>*@
                    <div id="gridContainer">
                        @Html.Partial("_partials/_Grid", Model)
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
        </div>
    }

</div>

<div class="modal fade" id="confirmModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Aplicación Masiva</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea asignarle combustible a los elementos seleccionados?</p>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnaplicar" type="button" data-btnmodal="true" class="btn btn-primary" onclick="ECO_Control.VehicleFuelByGroup.ShowMassiveChanges()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="confirmModalaUpdate" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Aplicación Masiva</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea realizar esta operación sobre los elementos coloreados?</p>
            </div>

            <div class="modal-footer">

                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnAppliesMassive" type="button" data-btnmodal="true" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalverification" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Validacion</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione algún registro para aplicar los cambios</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ImportBudgetContainer">
    @Html.Partial("_partials/_ImportBudget")
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    @Scripts.Render("~/bundles/ChartGoogleJS")
    <script src="~/Scripts/Control/vehicleFuelByGroup.js?v=@version-hf1"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.VehicleFuelByGroup.Init();

            $('#graphs').html(
                localStorage.getItem('graphs')
                    .replace(/col-xs-7 col-sm-6 col-md-4/g, "col-sm-3 col-md-3 col-lg-3 col-xs-12")
                    .replace(/min-height:275px;/g, "min-height:224px !important;width:100% !important;")
                    .replace(/less-padding-left/g, '')
            )

            graphInit()
        });

        //function getCanvas() {
        //    let grafico = document.getElementsByClassName('doughnut_chart')
        //    let labels = document.getElementsByClassName('huge-low-middle')
        //    let arreglo = []
        //    for (var i = 0; i < grafico.length; i++) {
        //        arreglo.push(grafico[i].parentElement.outerHTML)
        //    }

        //    for (var i = 0; i < arreglo.length; i++) {
        //        $('#vista').append(`${arreglo[i].replace('col-xs-12 col-sm-12 col-md-12', 'col-xs-3 col-sm-3 col-md-3').replace('less-padding-left', '')}`)
        //    }

        //    setTimeout(() => {
        //        let canvasNodes = $('#vista * canvas')

        //        for (var i = 0; i < arreglo.length; i++) {
        //            $(canvasNodes[i].parentNode).append(`<h6>${labels[i].innerHTML}</h6>`)
        //        }

        //        graphInit()
        //    }, 1000);
        //}

        function graphInit() {
            $(".doughnut_chart").each(function () {

                var currentPercent = $(this).attr("percent");
                var availablePercent = 100 - currentPercent;
                var width = $(this).parent('div').css("width").replace("px", "");
                $(this).attr("width", width);

                var ctx = $(this)[0].getContext('2d');

                var dataDoughnut = {
                    labels: [
                        "Asignado",
                        "Disponible"
                    ],
                    datasets: [{
                        data: [currentPercent, availablePercent],
                        backgroundColor: [
                            "#5cb85c",
                            "#ccc"
                        ],
                        hoverBackgroundColor: [
                            "#5cb85c",
                            "#ccc"
                        ]
                    }]
                };

                var config = {
                    type: 'doughnut',
                    data: dataDoughnut,
                    options: {
                        responsive:true,
                        elements: {
                            arc: {
                                roundedCornersFor: 0
                            },
                            center: {
                                // the longest text that could appear in the center
                                maxText: '100%',
                                text: currentPercent + "%",
                                fontColor: '#5cb85c',
                                fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                                fontStyle: 'normal',
                                // fontSize: 12,
                                // if a fontSize is NOT specified, we will scale (within the below limits) maxText to take up the maximum space in the center
                                // if these are not specified either, we default to 1 and 256
                                minFontSize: 1,
                                maxFontSize: 256,
                            }
                        },
                        legend: {
                            display: false,
                            position: 'bottom'
                        }
                    }
                };

                var myChart = new Chart(ctx, config);

            });

            let labels = document.getElementsByClassName('activator')

            for (var i = 0; i < labels.length; i++) {
                labels[i].remove()
                i--
            }

            //let contenedores = $('#chartsContainer > div')

            //for (var i = 0; i < contenedores.length; i++) {
            //    contenedores[i].classList.value = 'col-sm-3 col-md-3 col-lg-3 col-xs-12'
            //}

            //let containers = $('.detail-car')
            //let higher = 0

            //for (var i = 0; i < containers.length; i++) {
            //    if (containers[i].clientHeight > higher) {
            //        higher = containers[i].clientHeight
            //    }
            //}

            //for (var i = 0; i < containers.length; i++) {
            //    if (containers[i].clientHeight < higher) {
            //        containers[i].style.minHeight = `${higher}px`
            //    }
            //}
        }

        //$('.mdi-menu').click(function () {
        //    let containers = $('.detail-car')
        //    let higher = 0

        //    if ($('#wrapper').hasClass('toggled')) {
        //        for (var i = 0; i < containers.length; i++) {
        //            containers[i].style.minHeight = `219px`
        //        }
        //    }
        //    else {
        //        for (var i = 0; i < containers.length; i++) {
        //            if (containers[i].clientHeight > higher) {
        //                higher = containers[i].clientHeight
        //            }
        //        }

        //        for (var i = 0; i < containers.length; i++) {
        //            if (containers[i].clientHeight < higher) {
        //                containers[i].style.minHeight = `${higher}px`
        //            }
        //        }
        //    }
        //})
    </script>
}
