﻿@using ECOsystem.Models.Core
@model ECO_ServiceStations.Models.StationTransactionsReportBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reporte de transacciones";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="16" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Html.BeginForm("DonwloadFile", "StationTransactionsReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("DownloadReport", "StationTransactionsReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_ServiceStations.StationTransactionsReport.ShowLoader()",
        OnSuccess = "ECO_ServiceStations.StationTransactionsReport.HideLoader(data)"
    }, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, ECOsystem.Business.Utilities.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Month, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Year, ECOsystem.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">         
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.CustomerId, ECO_ServiceStations.Utilities.GeneralCollections.GetCustomersByServiceStations, "Cliente", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.ServiceStationId, ECO_ServiceStations.Utilities.GeneralCollections.GetServiceStationsByUser, "Estación de Servicio", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">
                <button id="btnGenerateReport" type="submit" class="btn btn-success" title="Generar Reporte"><i class="mdi mdi-download"></i>Generar Reporte</button>
            </div>
        </div>         
    }
    <div id="ControlsContainer"></div>
</div>

@section scripts {
    <script src="~/Scripts/ServiceStations/StationTransactionsReport.js?v=@version-hf0"></script>
    <script>
        $(function () {            
            $("#LoadMenuForm").submit();
            ECO_ServiceStations.StationTransactionsReport.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
