﻿@model ECO_Efficiency.Models.CountryCodeModelsBase
@{
    ViewBag.Title = "Medición de Distancias";
    ViewBag.Measuring = "active";
    ViewBag.MapsMeasuringIndex = "active";
    ViewBag.Localizacion = "active";
    ViewBag.HasGrid = false;
    ViewBag.Efficiency = "active";
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }
        .colpick {
            z-index: 9999;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div class="card" style="height: calc(100vh - 94px);">
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                <iframe id="mapFrame" src="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)Distance.aspx?CountryCode=@Model.Data.countryCode&CustomerId=@Model.Data.customerId" frameborder="0" class="iframe-Maps-Measuring mapFrame"></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script> 
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
        });
    </script>
}
