﻿@using ECO_Operation.Models
@model ScoreGlobalReportBase

@{
    var ChartIndicatiorsClass = "";
    if (Model != null && ((Model.List.Count() / 12) + 1) > 24)
    {
        ChartIndicatiorsClass = "carousel-indicators-with-n";
    }
}

<div id="wrapper">

 <div id="page-wrapper">
     <div class="row">
     
         <div class="col-sm-12">
             <div id="chartsCarousel" class="carousel slide" data-interval="false">

                 <div class="carousel-inner">
                     @for (var i = 0; i < (Model.List.Count() / 12) + 1; i++)
                     {
                         <div class="item active" data-item>
                             <div class="row">
                                 <div class="col-sm-12">
                                     <canvas></canvas>
                                 </div>
                             </div>
                         </div>
                     }
                 </div>

                 <!-- Indicators -->
                 <ol class="carousel-indicators @ChartIndicatiorsClass">
                     @for (var i = 0; i < (Model.List.Count() / 12) + 1; i++)
                     {
                         var active = i == 0 ? "active" : "";
                         <li data-target="#chartsCarousel" data-slide-to="@i" class="@active"></li>
                     }
                 </ol>
                 <!-- Controls -->
                 <div>
                     <a class="left carousel-control" href="#chartsCarousel" data-slide="prev"><i class="fa fa-angle-double-left fa-lg"></i></a>
                     <a class="right carousel-control" href="#chartsCarousel" data-slide="next"><i class="fa fa-angle-double-right fa-lg"></i></a>
                 </div>
             </div>
         </div>

     </div>
     
  </div>

 </div>




