﻿<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">


                @if (User.IsInRole("CUSTOMER_ADMIN") || User.IsInRole("CUSTOMER_USER"))
                {
                    <li class="@ViewBag.OperationReports">
                        <a href="#"><img src="~/Content/Images/menu_reports.png" class="right10" />Reportes de Operación</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="@ViewBag.OperationReportsScoreSpeedRoute" href="@Url.Action("Index", "ScoreSpeedRoutesReport")">Calificación Hábitos de Conducción según Velocidad de Ley</a>
                            </li>

                            <li>
                                <a class="@ViewBag.OperationReportsScoreSpeedAdmin" href="@Url.Action("Index", "ScoreSpeedAdminReport")">Calificación Hábitos de Conducción Delimitada por Empresa</a>
                            </li>

                            @* This *@
                            <li>
                                <a class="@ViewBag.OperationReportsScoreByRoutes" href="@Url.Action("Index", "ScoreGlobalByRoutesReport")">Índice Ponderado de Hábitos de Conducción Velocidad de Ley</a>
                            </li>
                            <li>
                                <a class="@ViewBag.OperationReportsScoreByAdmin" href="@Url.Action("Index", "ScoreGlobalByAdminReport")">Índice Ponderado de Hábitos de Conducción Delimitada por Empresa</a>
                            </li>


                            <li>
                                <a class="@ViewBag.DrivingTimePerDriver" href="@Url.Action("Index", "DrivingTimePerDriverReport")">Tiempo Jornada y Conducción por Conductor</a>
                            </li>
                            <li>
                                <a class="@ViewBag.AdministrationVehicleCategoriesIndex" href="@Url.Action("Index", "VehicleCategories", new {menutype = "Operation" })">Delimitación de Velocidad de Empresa por Clase de Vehículos</a>
                            </li>

                        </ul>
                    </li>
                }

                <li class="@ViewBag.OperationSettings">
                    <a href="#"><img src="~/Content/Images/menu_parameters.png" class="right10" />Personalización</a>
                    <ul class="nav nav-second-level">
                        @if (User.IsInRole("SUPER_ADMIN"))
                        {
                            <li>
                                <a class="@ViewBag.OperationSettingsScoreTypes" href="@Url.Action("Index", "ScoreTypes")">Tipos de Calificación</a>
                            </li>
                        }
                        @if (User.IsInRole("CUSTOMER_ADMIN"))
                        {
                            <li>
                                <a class="@ViewBag.OperationSettingsWeightedScoreSettings" href="@Url.Action("Index", "WeightedScoreSettings")">Parámetros de Calificación Ponderada</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
