﻿@model ECOsystem.Models.Core.UsersBase
@{
    ViewBag.Title = "Mantenimiento de Usuarios";

    ViewBag.Administration = "active";
    ViewBag.AdministrationUsers = "active";

    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            width: 128px;
            top: 10px;
            left: 20px;
        }

            .progress_bar.loading {
                opacity: 1.0;
            }

            .progress_bar .percent {
                background-color: #3090d1;
                height: auto;
                width: 0;
                padding-left: 5px;
            }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }
    </style>

}

@using (Ajax.BeginForm("AddOrEditUsers", "Users", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm", autocomplete = "off" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

<div id="wrapper">

    @Html.Partial("~/Views/Administration/_partials/_Menu.cshtml")

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Mantenimiento de Usuarios</h3>
            </div>
        </div>

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchUsers", "Users", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-sm-5">
                    <button id="btnAdd" type="button" class="btn btn-success btn_title" title="Agregar"><i class="mdi mdi-plus"></i> Agregar conductor</button>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.Status, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetStatusDriver, new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="input-group">
                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadUsers", "Users", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
        <!-- Load Form End-->
        <!-- Dele Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteUsers", "Users", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->

        <br />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar">
                <i class="mdi mdi-share"></i>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                @using (Ajax.BeginForm("ExcelReportDownload", "Users", null, new AjaxOptions
                                {
                                    HttpMethod = "post",
                                    OnBegin = " ECOsystem.Areas.Admin.Users.ShowLoader()",
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = " ECOsystem.Areas.Admin.Users.HideLoader()"
                                }, new { id = "ExcelReportDownloadForm" }))
                {
                    <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
                }

                @using (Html.BeginForm("DonwloadFile", "Drivers", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }

                <li role="presentation">
                    <a role="menuitem" tabindex="-1" onclick=" ECOsystem.Areas.Admin.DriverUsers.OnClickDownloadDrivers()">
                        <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/Administration/users.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            ECOsystem.Users.Init();
        });

    </script>
}
