﻿<div class="modal fade" id="ConfirmationEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mantenimiento de Parámetros en Transacciones</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea almacenar los cambios?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="confirmChanges"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationSendModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mantenimiento de Parámetros en Transacciones</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea almacenar los cambios?<br />
                Las transacciones con estado <strong>Offline</strong> serán procesadas.                
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="confirmSendChanges"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>