﻿@model IEnumerable<ECO_Partner.Models.CustomersTransactionsOffline>

@if (Model != null && Model.Any())
{  
    @(Html.Grid(Model)
        .Selectable(true)
        .Columns(c =>
        {
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(2)
                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">                           
                                         @{ var isChecked = m.TransactionsOfflineActive ? "checked='checked'" : ""; }
                                        <label style="font-weight:bold;">
                                            <input type="checkbox" class="checkCustomer" id="@m.CustomerId" @isChecked>
                                        </label>
                                    </div>)
                .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                            "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"chkCheckAllCustomers\"> </label>" +
                                "</span>" +
                            "</div>");
            c.Add(m => m.DecryptName).Titled("Lista de Clientes");                    
        }))            
}
else
{
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No existen clientes con la opcion de transacciones offline
    </div>
}
