﻿@model ECO_Partner.Models.TransactionsOffline

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Descripción
            </th>
            <th>
                Estado
            </th>
            <th class="hideText TimeSlotValue">
                Tiempo Offline
            </th>
            @if (Model.Id != null)
            {
            <th class="hideText TimeSlotValue">
                Hora Final
            </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr id="@Model.Id">
            @{
                var isChecked = Model.Active ? "checked='checked'" : "";
            }
            <td style="width:10px; padding-top:14px;">
                <span data-toggle="tooltip" data-placement="bottom" title="Activar Transacciones Offline">
                    <i class="mdi mdi-information" style="font-size:18px; color:#31708f"></i>
                </span>
            </td>
            <td name="RuleDescription" class="middleCells col-sm-3">
                Activar Transacciones Offline
            </td>
            <td class="middleCells col-sm-2">
                <div class="col-sm-4" style="padding-left:0;">
                    <input id="checkTransactionsOffline" idtrasactionoffline="@Model.Id" type="checkbox" class=" pull-left toggleCheck" @isChecked />
                </div>
            </td>
            <td class="middleCells col-sm-4">
                <div class="hideText TimeSlotValue" style="padding-left:0">
                    <div class=" col-sm-2" style="padding-left:0;width:57px;margin-right:-10px;">
                        <input class="form-control number-only" type="text" id="TimeSlotValueHours" placeholder="00" title="Horas" value="@Model.Hours" />
                    </div>
                    <div class="col-sm-1" style="padding-left:0;padding-right:0;width:10px;padding-top:7px;">
                        <label>:</label>
                    </div>
                    <div class="col-sm-2" style="padding-left:0;width:57px;margin-right:-10px;">
                        <input class="form-control number-only" type="text" id="TimeSlotValueMinutes" placeholder="00" title="Minutos" value="@Model.Minutes" />
                    </div>
                </div>
            </td>
            <td class="middleCells col-sm-4">
                <div class="hideText TimeSlotValue" style="padding-left:0">
                    @if (Model.Id != null)
                    {
                        <label>@Model.EndDate</label>
                    }                    
                </div>
            </td>

        </tr>
    </tbody>
</table>

