.main {
    /*width: 600px;*/
    margin: 100px auto;
}

.cbp-qtrotator {
    /*width: 600px;*/
    /*height: 180px;*/
    /*position: relative;*/
    float: left;
    margin: 0;
    padding-top: 11px;
}

.cbp-qtcontent {
    /*width: 100%;*/
    height: auto;
    position: absolute;
    min-height: 180px;
    top: -7px;
    z-index: 2;
    display: none;
}

.cbp-qtrotator .cbp-qtcontent.current {
    display: block;
}

.cbp-qtrotator blockquote {
    /*margin: 40px 0 0 0;*/
    padding: 0;
    /*padding-left:4px;*/
}

    .cbp-qtrotator blockquote p {
        font-size: 1.1rem;
        color: #fff;
        font-weight: 300;
        margin: 0.4em 0.4em 1em;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 1.1rem;
        color:#fff;
        text-align:right;
        padding-right:10px;
    }

    .cbp-qtrotator blockquote footer:before {
        content: '― ';
    }

   .cbp-qtcontent a {
        color: #47a3da;
        cursor:pointer;
    }

    .cbp-qtrotator a:hover {
        color: #47a3da;
        text-decoration:underline;
        cursor:pointer;
    }

.cbp-qtrotator .cbp-qtcontent img {
    float: right;
    margin: 50px 0 0 50px;
}

.cbp-qtprogress {
    position: absolute;
    background: #47a3da;
    height: 1px;
    /*z-index: 1000;*/
    margin-top:15%;
}

 .cbp-qtprogress_fix {
    margin-top:9% !important;
}


@media (min-width: 480px) {
    .cbp-qtrotator blockquote p {
        font-size: 0.8em;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 0.8em;
    }

    .cbp-qtprogress {
        margin-top:10%;
    }
}

@media (min-width: 768px) {
     .cbp-qtrotator blockquote p {
        font-size: 1.3rem;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 1.3rem;
    }

    .cbp-qtprogress {
        margin-top:17%;
    }
}

@media (min-width: 992px) {
     .cbp-qtrotator blockquote p {
        font-size: 1.3rem;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 1.3rem;
    }

    .cbp-qtprogress {
        margin-top:13%;
    }
}

@media (min-width: 1280px) {
    .cbp-qtcontent {
        margin-left:6px !important;
    }

    .cbp-qtrotator blockquote p {
        font-size: 1.2rem !important;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 1.2rem !important;
    }

    .cbp-qtprogress {
        margin-top:20%;
    }
}

@media (min-width: 1366px) {
    .cbp-qtcontent {
        margin-left:6px !important;
    }

    .cbp-qtrotator blockquote p {
        font-size: 1.2rem !important;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 1.2rem !important;
    }

    .cbp-qtprogress {
        margin-top:20%;
    }
}

@media (min-width: 1620px) {
    .cbp-qtrotator blockquote p {
        font-size: 1.3rem !important;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 1.3rem !important;
    }

    .cbp-qtprogress {
        margin-top:15%;
    }
}

@media (min-width: 1800px) {
    .cbp-qtrotator blockquote p {
        font-size: 1.5rem !important;
    }

    .cbp-qtrotator blockquote footer {
        font-size: 1.5rem !important;
    }

    .cbp-qtprogress {
        margin-top:15%;
    }
}

.card-reveal blockquote{
    color:#000;
    font-size:1.3rem;
    text-align:justify;
    border-left: 5px solid #ddd;
}