﻿@model List<ECOsystem.Models.Core.PartnerSurveyAnswer>

@foreach (var item in Model)
{    
    <div class="checkbox marginChecks">
        @Html.CheckBox("chkAnswer", new { @class = "chkAnswers", @id = item.Id, status = item.Checked }) @item.Text
    </div>
}
<span class="text-danger" hidden id="lblWarning">Por favor seleccione una opción</span>