﻿@using ECOsystem.Utilities
@model ECOsystem.Models.Core.PartnerSurveyQuestion

<div class="questioDetail">
    @Html.Hidden("questionId", Model.Id)
    @Html.Hidden("questionTypeId", Model.QuestionTypeId)
    <div class="row">
        <div class="col-sm-12">
            @Html.Label(string.Format("{0} - {1}", Model.Order, string.IsNullOrEmpty(Model.Text) ? string.Empty : Model.Text))
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @if (!Model.QuestionTypeId.IsNull())
            {
                @Html.Partial(string.Format("~/Views/CustomerSurvey/{0}.cshtml", ECOsystem.Business.Core.PartnerSurveyBusiness.GetQuestionTypeToPrint(Convert.ToInt32(Model.QuestionTypeId))), Model.Answers)
            }
        </div>
    </div>
</div>