﻿@model List<ECOsystem.Models.Core.PartnerSurveyAnswer>

@foreach (var item in Model)
{
    <div class="checkbox">
        <label>
            <input name="rdbAns" id="@item.Id" nextQuestionId="@item.NextSurveyQuestionId" type="radio" class="regular-radio rdbAnswers" />
            @item.Text
        </label>
    </div>
}
<span class="text-danger" hidden id="lblWarning">Por favor seleccione al menos una opción</span>