﻿@model ECOsystem.Models.Core.PartnerSurvey
<style>
    .line {
        border-top: 1px solid #ccc;
    }

    .alertBotton {
        margin-bottom: -20px;
    }

    .marginChecks {
        margin-left: 40px;
    }

    .multi-line {
        white-space: pre-wrap;
    }

    .questioDetail {
        margin-bottom: 10px;
    }
</style>

<div class="modal fade" id="CustomerSurveyModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title center">@Model.Name</h4>
            </div>
            <div class="modal-body">
                <div class="row alertBotton">
                    <div class="col-sm-12">
                        <div class="alert alert-info alert-dismissible">
                            <div class="multi-line">@Model.Description</div>
                        </div>
                    </div>
                </div>
                <div id="questionsContainer"></div>
                <div class="row" id="footerContainer">
                    <hr class="line" />
                    <div class="col-sm-12">
                        @if (!Model.Mandatory)
                        {
                            <button class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Omitir</button>
                        }
                        <button onclick="ECOsystem.Utilities.OnSaveSurvey()" class="btn btn-primary pull-right"><i class="mdi mdi-play"></i>&nbsp;Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>