﻿@model ECOsystem.Models.Core.AlarmDetail

<style>
    fieldset {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }


    .control-numeric {
        display: initial !important;
        width: 30% !important;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .inputDiv {
        width: 250px;
        margin: 100px auto;
        position: relative;
    }

    input[type='range'] {
        display: block;
        width: 250px;
        background-color: #337ab700;
    }

        input[type='range']:focus {
            outline: none;
        }

        input[type='range'],
        input[type='range']::-webkit-slider-runnable-track,
        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

    input[type=range]::-webkit-slider-thumb {
        background-color: #777;
        width: 20px;
        height: 20px;
        border: 3px solid #333;
        border-radius: 50%;
        margin-top: -9px;
    }

    input[type=range]::-moz-range-thumb {
        background-color: #777;
        width: 15px;
        height: 15px;
        border: 3px solid #333;
        border-radius: 50%;
    }

    input[type=range]::-ms-thumb {
        background-color: #777;
        width: 20px;
        height: 20px;
        border: 3px solid #333;
        border-radius: 50%;
    }

    input[type=range]::-webkit-slider-runnable-track {
        background-color: #777;
        height: 3px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        outline: none;
    }

    input[type=range]::-moz-range-track {
        background-color: #777;
        height: 3px;
    }

    input[type=range]::-ms-track {
        background-color: #777;
        height: 3px;
    }

    input[type=range]::-ms-fill-lower {
        background-color: HotPink
    }

    input[type=range]::-ms-fill-upper {
        background-color: black;
    }

    #etiqueta {
        color: #999;
        margin-bottom: .5em;
    }
</style>


<div id="DivAlarmMaintenance" class="tab-pane">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-9">
                @if (Model.PropertAlarm.Email)
                {
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Alarm.Email, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Alarm.Email, new { @type = "email", placeholder = "Correos electrónicos para recepcion de alarmas", @class = "form-control text-left",
                        maxlength = "500", id = "txtAlarmEmail", style = "margin-bottom: 5px; " })
                        <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span>ejemplo2@dominio.com)</span>
                        <br />
                    </div>
                </div>
                    }
                    @if (Model.PropertAlarm.SMS)
                    {
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("SMS (Teléfono)", new { @class = "col-sm-14 control-label" })
                                @Html.TextBoxFor(m => m.Alarm.Phone, new { placeholder = "Teléfonos para recepcion de alarmas", @class = "form-control text-left",
                                maxlength = "50", id = "txtAlarmPhone", style = "margin-bottom: 5px; "})
                                <span class="subtext">(Ejemplo: 8888-8888<span class="fbold">;</span>88888888)</span>
                                <br />
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm-3">
                    <br />
                    @if (Model.PropertAlarm.Active)
                    {
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.Alarm.Active, new { @id = "chkAlarmActive", @checked = Model.Alarm.Active ? "checked" : "" })<span>&nbsp;Habilitada</span>
                                            </label>
                                            @Html.ValidationMessageFor(m => m.Alarm.Active)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        @if (Model.PropertAlarm.Repeat)
        {
            <fieldset>
                <legend>
                    <span class="checkbox">
                        <label class="control-label">
                            @if (Model.Alarm.RepeatTimes > 0)
                            {
                                @Html.CheckBox("chkAlarmRepeat", true, new { @id = "chkAlarmRepeat", alarmtipoid = @Model.PropertAlarm.AlarmTriggerId, @checked = "checked", @class = "validateRepeat" }) <span>&nbsp;Repetir mensaje SMS</span>
                            }
                            else
                            {
                                @Html.CheckBox("chkAlarmRepeat", false, new { @id = "chkAlarmRepeat", alarmtipoid = @Model.PropertAlarm.AlarmTriggerId, @checked = "", @class = "validateRepeat" }) <span>&nbsp;Repetir mensaje SMS</span>
                            }
                        </label>
                    </span>
                </legend>
                <div class="row control-group">
                    <div id="colRango" class="col-sm-6">
                        @if (Model.Alarm.RepeatTimes > 0)
                        {
                            @Html.TextBoxFor(m => m.Alarm.RepeatTimes, new { id = "rngAlarmRepeatTimes_" + Model.PropertAlarm.AlarmTriggerId, alarmtipoid = @Model.PropertAlarm.AlarmTriggerId, @type = "range", min = 0, max = 3, list = "tickmarks", value = "0", step = "1", autocomplete = "off", @class = "rangeValue" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Alarm.RepeatTimes, new { id = "rngAlarmRepeatTimes_" + Model.PropertAlarm.AlarmTriggerId, alarmtipoid = @Model.PropertAlarm.AlarmTriggerId, @type = "range", min = 0, max = 3, list = "tickmarks", value = "0", step = "1", autocomplete = "off", @class = "rangeValue", @disabled = "disabled" })
                        }
                        <datalist id="tickmarks">
                            <option value="0" label="0">
                            <option value="1" label="1">
                            <option value="2" label="2">
                            <option value="3" label="3">
                        </datalist>
                        @*@Html.Label("Veces: "+ Model.Alarm.RepeatTimes, new { id = "ldlCantVeces_"+ Model.PropertAlarm.AlarmTriggerId,  })*@
                        <p>Veces: <span id="demo_@Model.PropertAlarm.AlarmTriggerId">@Model.Alarm.RepeatTimes</span></p>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Label("Cada ", new { })&nbsp;
                            @if (Model.Alarm.RepeatTimes > 0)
                            {
                                @Html.TextBoxFor(m => m.Alarm.IntervalRepeat, new { id = "txtAlarmIntervalRepeat_" + Model.PropertAlarm.AlarmTriggerId, type = "number", min = "0", max = "60", step = "15", @class = "form-control control-numeric text-left" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Alarm.IntervalRepeat, new { id = "txtAlarmIntervalRepeat_" + Model.PropertAlarm.AlarmTriggerId, type = "number", min = "0", max = "60", step = "15", @class = "form-control control-numeric text-left", @disabled = "disabled" })
                            }&nbsp;
                            @Html.Label(" minutos", new { })
                            @Html.ValidationMessageFor(m => m.Alarm.IntervalRepeat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </fieldset>
        }

                @if (Model.PropertAlarm.LawSpeed)
                {
                    <div class="row center">
                        <div class="col-md-4">
                            <div class="mdl-radio" id="1">
                                <label>
                                    @Html.RadioButtonFor(m => m.Alarm.TypeSpeed, "1", new { id = "rdbAlarmLawSpeed" })
                                    <strong>Velocidad Ley</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mdl-radio" id="2">
                                <label>
                                    @Html.RadioButtonFor(m => m.Alarm.TypeSpeed, "2", new { id = "rdlAlarmCompanySpeed" })
                                    <strong>Velocidad Delimitada por Empresa</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.PropertAlarm.MaxStopTime)
                {
                    <div class="row">
                        <div class="col-md-5">
                            <strong>Tiempo máximo de parada</strong>
                        </div>
                        <div class="col-md-7 left">
                            @Html.TextBoxFor(m => m.Alarm.MaxTime, new { id = "txtAlarmMaxStopTime", placeholder = "Tiempo máximo parada en minutos", @class = "form-control ", @type = "number" })
                            @Html.ValidationMessageFor(m => m.Alarm.MaxTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

                @if (Model.PropertAlarm.SendAnticipated)
                {
                    <div class="row">
                        <div class="col-sm-9">
                            @Html.Label("Cuántos Días antes te gustaría recibir la alerta?", new { @class = "control-label label-padding" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(m => m.Alarm.DaysBeforeAlert, "", new { id = "txtAlarmDaysBeforeAlert", placeholder = "Días Antes", @class = "form-control text-left", @type = "number", @min = "1", @max = "100" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            @Html.ValidationMessageFor(m => m.Alarm.DaysBeforeAlert, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>



