﻿@model ECOsystem.Models.Core.AlarmBase

@{
    string temp = Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListPropertiesAlarm.Select(x => x.AlarmTriggerId).ToList());
    var firstPane = "active";
}
<!-- Modal Start -->
<div class="modal fade" id="alarmMaintenanceModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btnCloseAlarm" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Configuración de Alarmas</h4>
            </div>
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="font-size:14px;margin: 0;border: 0;border-radius: 0;">
                <i class="mdi mdi-information"></i> Agregue todos los correos que sean necesarios para los avisos de "Alarmas".
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            @foreach (var item in Model.ListPropertiesAlarm)
                            {
                                <li id="Tab_@item.AlarmTriggerId" class="@firstPane"><a href="#Alarm_@item.AlarmTriggerId" data-toggle="tab">@item.NameShow</a></li>
                                firstPane = string.Empty;
                            }
                        </ul>
                        <div class="tab-content">
                            @{
                                ECOsystem.Models.Core.AlarmDetail alarmTemp;
                                firstPane = "active";
                                foreach (var item in Model.ListPropertiesAlarm)
                                {
                                    alarmTemp = new ECOsystem.Models.Core.AlarmDetail();
                                    if (Model.ListAlarm.Where(x => x.AlarmTriggerId == item.AlarmTriggerId).FirstOrDefault() != null)
                                    {
                                        alarmTemp.Alarm = Model.ListAlarm.Where(x => x.AlarmTriggerId == item.AlarmTriggerId).FirstOrDefault();
                                    }
                                    alarmTemp.PropertAlarm = item;
                                    <div id="Alarm_@item.AlarmTriggerId" class="tab-pane @firstPane" alarmid="@alarmTemp.Alarm.AlarmId">
                                        @Html.Partial("~/Views/Shared/_AlarmDetail.cshtml", alarmTemp)
                                    </div>
                                    firstPane = string.Empty;
                                }
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="validationAmountError2" class="col-sm-12 hide">
                                <div id="errorAmountMsj2" class="col-sm-12 text-danger">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button id="btnCancelAlarm" type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnSendAlarm" type="button" class="btn btn-primary" allIds="@temp"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Modal End -->
<script language="javascript" type="text/javascript">

</script>