﻿<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/Fossil-Fuel-Power.png" />
                </li>
                <li class="center">
                    <h3>Eficiencia</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Control de tarjetas
                        </li>
                        <li>
                            Asignación de combustible
                        </li>
                        <li>
                            Contro preventivo y correctivo
                        </li>
                        <li>
                            Transacciones
                        </li>
                        <li>
                            Restricciones de consumo
                        </li>
                        <li>
                            Facturación
                        </li>
                        <li>
                            Inventario partes
                        </li>
                        <li>
                            Control de emisiones
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/Location-Marker.png" />
                </li>
                <li class="center">
                    <h3>Control</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Generación de Rutas
                        </li>
                        <li>
                            Geocercas
                        </li>
                        <li>
                            Geopuntos de control
                        </li>
                        <li>
                            Paso por zona
                        </li>
                        <li>
                            Alarmas
                        </li>
                        <li>
                            Visualización de mapa
                        </li>
                        @*<li>
                            Mis puntos de interés
                        </li>*@
                        <li>
                            Historial de recorrido
                        </li>
                        <li>
                            Velocidad tiempo real
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/Seat-Belt.png" />
                </li>
                <li class="center">
                    <h3>Operación</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Puntuación de conducción
                        </li>
                        <li>
                            Puntuación de velocidad
                        </li>
                        <li>
                            Puntuación de consumo
                        </li>
                        @*<li>
                            Velocidad temeraria
                        </li>*@
                        <li>
                            Velocidad sobre límite en carretera
                        </li>
                        @*<li>
                            Sobre revoluciones del motor
                        </li>*@
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
