﻿@model ECOsystem.Models.Core.ErrorModels
@{ var title = Model.Title + " Por favor intentelo de nuevo."; }

<br />
<div class="alert alert-danger alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
    @title
    <hr />
    <strong> Mensaje técnico: </strong>
    <br />
    @Model.TechnicalError
    <br />
    <div class="row text-right">
        <button type="button" id="btnGoBack" class="btn btn-default"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
    </div>
</div>

<script>
    $('#btnGoBack').click(function () {
        window.location.reload();
    });
</script>
