﻿@model GridMvc.Pagination.GridPager
@if (Model == null || Model.PageCount <= 1)
{
    return;
}

@{
    var formName = Session["FormName"] != null ? Session["FormName"].ToString() : "";
    formName = ViewBag.FormName != null ? ViewBag.FormName : formName;
    var page = Session["PageNum"] != null ? (int)Session["PageNum"] : 1;
    page = ViewBag.PageNum != null ? ViewBag.PageNum : page;
}

<style>
    .PageNumber
    {
        cursor: pointer;
    }
</style>

<div class="grid-pager">
    @Html.Hidden("FormName", @formName)

    <ul class="pagination">
        @if (page > 1)
        {
            <li>
                <a class="PageNumber" page_number="@(page - 1)">«</a>
            </li>
        }

        @{
            int pagePlus = 4;

            if (page == Model.PageCount)
            {
                pagePlus = 0; 
            }
            else if ((page + pagePlus) > Model.PageCount)
            {
                pagePlus = Model.PageCount - page;
            }

            int StartDisplayedPage = page > 5 ? (page - 4) : Model.StartDisplayedPage;
            int EndDisplayedPage = page > 5 ? (page + pagePlus) : Model.EndDisplayedPage;
        }

        @if (StartDisplayedPage > 1)
        {
            <li>
                <a class="PageNumber" page_number="1">1</a>
            </li>
            if (StartDisplayedPage > 2)
            {
                <li>
                    <a class="PageNumber" page_number="@(StartDisplayedPage - 1)">...</a>
                </li>
            }
        }
        @for (int i = StartDisplayedPage; i <= EndDisplayedPage; i++)
        {
            if (i == page)
            {
                <li class="active"><span>@i</span></li>
            }
            else
            {
                <li>
                    <a class="PageNumber" page_number="@(i)">@i</a>
                </li>
            }
        }
        @if (EndDisplayedPage < Model.PageCount)
        {
            if (EndDisplayedPage < Model.PageCount - 1)
            {
                <li>
                    <a class="PageNumber" page_number="@(EndDisplayedPage + 1)">...</a>
                </li>
            }
            <li>
                <a class="PageNumber" page_number="@(Model.PageCount)">@Model.PageCount</a>
            </li>
        }
        @if (page < Model.PageCount)
        {
            <li>
                <a class="PageNumber" page_number="@(page + 1)">»</a>
            </li>
        }
    </ul>



</div>

<script type="text/javascript">

    $(".PageNumber").click(function () {
        
        var form = $("#FormName").val();       
        var val = $(this).attr("page_number")

        $('#' + form).find('#page').val(val);
        $('#' + form).submit();
    })

</script>