﻿
<div class="modal fade" id="contactenos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel">Dónde Estamos</h4>
            </div>
            <div class="modal-body">
                <img class="center-block" src="~/Content/Images/coincalogoflatgris.png" width="250" />
                <hr />

                <h3>Ubicación</h3>
                <p>Parque Empresarial Forum I, Edificio E, 1er Piso, Santa Ana.</p>                
                <p>San José, Costa Rica</p>
                <div style="overflow: hidden; height: 400px; width: 100%;">
                    <img src="~/Content/Images/staticmap.png" />
                    @*<img src="https://staticmap.openstreetmap.de/staticmap.php?center=9.9446689,-84.1933162&zoom=16&size=500x350&markers=9.945007,-84.195142,ol-marker" />*@                
                </div>

                <h3>Teléfono</h3>
                <p>+(506) 2205-5342</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sobrenosotros" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel">Sobre Nosotros</h4>
            </div>
            <div class="modal-body">
                <img class="center-block" src="~/Content/Images/coincalogoflatgris.png" width="250" />
                <hr />
                <p>COINCA Telematics es una empresa de orientación tecnológica, adscrita a Credomatic International Corporation, uno de los grupos inversionistas más importantes de la Región Centroamericana.</p>
                <p>COINCA Telematics cuenta con una amplia trayectoria en la industria de telecomunicaciones, desarrollo de software especializado, integración de redes de atención y manejo de servicios de orientación tecnológica, incluyendo Centros de Contacto Telefónico (“Call Centers”).</p>
                <p>Con más de quince años de experiencia acumulada, COINCA actualmente ofrece tecnología de última generación aplicable al desarrollo de productos y servicios en el área telemática (disciplina que fusiona el campo de las telecomunicaciones y la informática). Su enfoque se orienta al ecosistema de vehículo y su usuario. Esta nueva línea de productos nace en respuesta a la creciente demanda por servicios de interconectividad en carretera que se evidencia a nivel mundial. Por eso, anticipando la transformación en la industria de interconexión vehicular COINCA es pionera, a nivel latinoamericano, en ofrecer soluciones de telemática.</p>
                <hr />
                <i class="mdi mdi-account-multiple mdi-48px"></i>
                <h3>Misión</h3>
                <p>Somos una empresa dinámica, visionaria y comprometida con la excelencia. Desarrollamos y brindamos servicios de telemática y aplicaciones digitales con tecnología de vanguardia. Creamos valor a través de la construcción y posicionamiento de marcas y una relación cercana con nuestros clientes. Estamos en constante evolución para superar las expectativas del mercado.</p>
                <hr />
                <i class="mdi mdi-bulletin-board mdi-48px"></i>
                <h3>Visión</h3>
                <p>Ser el Líder Latinoamericano en desarrollo, suministro y comercialización de servicios especializados de telemática.</p>
                <hr />
                <p>Coinca Telematics<br /> Parque Empresarial Forum I, Edificio E, 1er Piso, Santa Ana.<br /> San José, Costa Rica<br /><strong>Teléfono:</strong> +(506) 2205-5200</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

