﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flotas BAC Credomatic</title>
    @Styles.Render("~/bundles/bootstrap_core_css")
    @Styles.Render("~/bundles/bootstrap_css")
    <link href="~/Content/Styles/Views/_LayoutLogin.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body style="">
    @Html.Partial("_Header")
    <div class="page-wrap">       
        @RenderBody()
    </div>
    
   @Html.Partial("_Footer");

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap_js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        function init_map() {
            var myOptions = { zoom: 15, center: new google.maps.LatLng(9.945264541786784, -84.19472873210907), mapTypeId: google.maps.MapTypeId.ROADMAP };
            map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
            marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(9.945264541786784, -84.19472873210907) });
            infowindow = new google.maps.InfoWindow({ content: "<b>COINCA</b><p>Comunicaciones Inalámbricas de Centroamérica</p>" });
            google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); });
            infowindow.open(map, marker);
        }

        $(function () {
            $('#contactenos').on('shown.bs.modal', function () {
                init_map();
            })

            //Restore Session Management
            store.clear();
        });

    </script>
</body>
</html>
