﻿@using System.Configuration
@{
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159672855-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159672855-1');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flotas BAC Credomatic</title>
    @Styles.Render("~/bundles/bootstrap_css")
    @Styles.Render("~/bundles/menu_css")
    @Styles.Render("~/bundles/toastr_css")

    @{
        var configTemplate = ConfigurationManager.AppSettings["TEMPLATE_TYPE"];
    }

    @if (ViewBag.HasGrid != null && ViewBag.HasGrid)
    {
        switch (configTemplate)
        {
            case "1":
                @Styles.Render("~/bundles/gridmvc_css")
                break;
            case "2":
                @Styles.Render("~/bundles/gridmvc_css_bacflota")
                break;
            case "3":
                @Styles.Render("~/bundles/gridmvc_css_linevita")
                break;
        }
    }

    @switch (configTemplate)
    {
        case "1": // 1 COINCA
            @Styles.Render("~/bundles/bootstrap_default_css")
            break;
        case "2": // 2 BAC
            @Styles.Render("~/bundles/bootstrap_bac_css")
            break;
        case "3": // 3 LineVita
            @Styles.Render("~/bundles/bootstrap_linevita_css")
            break;
    }

    @RenderSection("styles", false)

    <link href="~/Content/Styles/RadarEffect.css" rel="stylesheet" />

    <style type="text/css">
        ::-webkit-scrollbar {
            width: 13px;
            height: 13px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #6d6e71;
            border: 0px none #ffffff;
            border-radius: 0px;
            cursor: pointer;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #525252;
                cursor: pointer;
            }

            ::-webkit-scrollbar-thumb:active {
                background: #535353;
            }

        ::-webkit-scrollbar-track {
            background: #eaeaea;
            border: 0px none #ffffff;
            border-radius: 0px;
            cursor: pointer;
        }

            ::-webkit-scrollbar-track:hover {
                background: #d6d6d6;
                cursor: pointer;
            }

            ::-webkit-scrollbar-track:active {
                background: #c9c9c9;
            }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    </style>
</head>
<body>
    @{
        switch (configTemplate)
        {
            case "1": // 1 COINCA
                @Html.Partial("_InternalHeader");
                break;
            case "2": // 2 BAC
                @Html.Partial("BAC/_InternalHeader");
                break;
            case "3": // 3 LineVita
                @Html.Partial("LineVita/_InternalHeader");
                break;
        }
    }

    <div id="wrapper">
        @RenderBody()
        <div id="confirmation" style="position:fixed; display:none; bottom:-20px; width:100%; z-index:1000000; background-color:#dff0d8; " class="alert alert-success fadeConfirmation center" role="alert">¡La información fue almacenada correctamente!</div>
        <div>
            @Html.Partial("_PartialModulePermissionMessage")
            @Html.Partial("_PartialReportError")
        </div>
        @{
            switch (configTemplate)
            {
                case "1": // 1 COINCA
                    @Html.Partial("_Footer");
                    break;
                case "2": // 2 BAC
                    @Html.Partial("BAC/_Footer");
                    break;
                case "3": // 3 LineVita
                    @Html.Partial("LineVita/_Footer");
                    break;
            }
        }
    </div>

    @Html.Partial("~/Views/Shared/_PartialGlobalErrorMessageWithDismiss.cshtml", new ECOsystem.Models.Miscellaneous.CustomError())
    <div id="CustomerSurveyContainer">
        @Html.Partial("~/Views/CustomerSurvey/_Survey.cshtml", new ECOsystem.Models.Core.PartnerSurvey())
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap_js")
    @Scripts.Render("~/bundles/menu_js")
    @Scripts.Render("~/bundles/toastr_js")

    <script src="~/Scripts/Utilities/utilities.js?v=@version-hf0"></script>
    <script src="~/Scripts/Utilities/jquery.ba-resize.min.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/CustomersByPartner.min.js?v=@version-hf0"></script>
    <script src="~/Scripts/Utilities/jquery.cookie.min.js?v=@version-hf0"></script>
    @if (ViewBag.HasGrid != null && ViewBag.HasGrid)
    {
        @Scripts.Render("~/bundles/gridmvc_js")

        <script>
            $(function () {
                ECOsystem.Utilities.InitGrid();
            });
        </script>
    }

    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(function () {
            ECOsystem.Utilities.Init(
            {
                menuPath: '@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]',
                Url: '@ConfigurationManager.AppSettings["AppUrl"]',
                host: '@HttpContext.Current.Request.Url.LocalPath.Split('/')[1]'
            });

            //Fix DropDown Customers - GSOLANO
            if ($("#dropDownUser #ddlCustomer")) {
                $("#dropDownUser").css("width", "300px");
                $("#dropDownUser").siblings("a").attr("")
            }
        });

        var $document = $(document);

        handleAjaxError = function (XMLHttpRequest) {
            if (XMLHttpRequest.status == 401) {
                //refresh the page, as we are not longer authorized
                location.reload();
            }
        };

        $document.ajaxComplete(function (event, XMLHttpRequest) {
            handleAjaxError(XMLHttpRequest);
            });



        function changehover() {
                $('#tutorialHover').toggleClass('hover');
        }

        $(document).ready(function () {
            window.setInterval(changehover, 2000);
        });



    </script>
    @RenderSection("scripts", false)
</body>
</html>
