﻿@{
    var userInfo = ECOsystem.Utilities.Session.GetUserInfo();
    var customerInfo = ECOsystem.Utilities.Session.GetCustomerInfo();
    var partnerInfo = userInfo;
    Dictionary<string, string> dictionary = new Dictionary<string, string>();
    String company = "";
    <div class="dropdown-header"><strong>@userInfo.DecryptedName</strong></div>
    if (partnerInfo != null && partnerInfo.Name != null)
    {
        <div class="dropdown-header">@partnerInfo.Name</div>
        if (ViewBag.CustomerName != null)
        {
            foreach (var item in ViewBag.AccessList)
            {
                if (item.DecryptedCustomerName == null || item.DecryptedCustomerName == "")
                {
                    string itemName = item.Name;

                    if (ViewBag.ProfileId == item.PartnerId)
                    {
                        company = itemName;
                    }
                    else
                    {
                        if (!dictionary.Keys.Contains(itemName))
                        {
                            dictionary.Add(item.Name, item.PartnerId + "|" + item.RoleId + "|" + item.RoleName.Replace(" ", "_") + "|" + item.CountryId + "|" + item.Name + "|" + 1 + "|" + item.RoleNameTemp);
                        }
                    }
                }
                else
                {
                    string customerName = item.DecryptedCustomerName;

                    if (ViewBag.ProfileId == item.CustomerId)
                    {
                        company = customerName;
                    }
                    else
                    {
                        if (!dictionary.Keys.Contains(customerName))
                        {
                            dictionary.Add(item.DecryptedCustomerName, item.CustomerId + "|" + item.RoleId + "|" + item.RoleName.Replace(" ", "_") + "|" + item.CountryId + "|" + item.Name + "|" + 2 + "|" + item.RoleNameTemp);
                        }
                    }
                }
            }

            // Acquire keys and sort them.
            var list = dictionary.Keys.ToList();

            list.Sort();

            if (list.Count > 0)
            {                
                <div role="separator" class="divider"></div>
                if (list.Count > 10)
                {
                    <div style="padding: 3px 15px;"><input type="text" id="navbar-search" placeholder="Buscar..." onclick="prevent()" onkeyup="find()" style="padding: 4px;width: 100%;border: solid 1px #ccc;" /></div>
                }

                <div class="dropdown" style="overflow: auto;max-height: calc(100vh - 215px);">
                    @foreach (var key in list)
                    {
                        <div href="#" class="company SelectableOption" style="padding: 3px 15px;" onclick='ECOsystem.CustomersByPartner.OnSelectCustomer("@dictionary[key]");'>@key</div>
                    }
                </div>
            }
         }
    }
    else if (!userInfo.IsCustomerUser)
    {
        if (customerInfo != null)
        {
            <div class="dropdown-header">@customerInfo.DecryptedName</div>
        }
    }    
    else
    {
        if (ViewBag.CustomerName != null)
        {
            foreach (var item in ViewBag.AccessList)
            {
                if (item.DecryptedCustomerName == null || item.DecryptedCustomerName == "")
                {
                    string itemName = item.Name;

                    if (ViewBag.ProfileId == item.PartnerId)
                    {
                        company = itemName;
                    }
                    else
                    {
                        if (!dictionary.Keys.Contains(itemName))
                        {
                            dictionary.Add(item.Name, item.PartnerId + "|" + item.RoleId + "|" + item.RoleName.Replace(" ", "_") + "|" + item.CountryId + "|" + item.CustomerLogo + "|" + 1 + "|" + item.RoleNameTemp);
                        }
                    }
                }
                else
                {
                    string customerName = item.DecryptedCustomerName;

                    if (ViewBag.ProfileId == item.CustomerId)
                    {
                        company = customerName;
                    }
                    else
                    {
                        if (!dictionary.Keys.Contains(customerName))
                        {
                            dictionary.Add(item.DecryptedCustomerName, item.CustomerId + "|" + item.RoleId + "|" + item.RoleName.Replace(" ", "_") + "|" + item.CountryId + "|" + item.CustomerLogo + "|" + 2 + "|" + item.RoleNameTemp);
                        }
                    }
                }
            }

            // Acquire keys and sort them.
            var list = dictionary.Keys.ToList();

            list.Sort();

            if (list.Count > 0)
            {
                <div class="dropdown-header">@company</div>
                <div role="separator" class="divider"></div>
                if (list.Count > 10)
                {
                    <div style="padding: 3px 15px;"><input type="text" id="navbar-search" placeholder="Buscar..." onclick="prevent()" onkeyup="find()" style="padding: 4px;width: 100%;border: solid 1px #ccc;" /></div>
                }

                <div class="dropdown" style="overflow: auto;max-height: calc(100vh - 215px);">                    
                    @foreach (var key in list)
                    {
                        <div href="#" class="company SelectableOption" style="padding: 3px 15px;" onclick='ECOsystem.CustomersByPartner.OnSelectCustomer("@dictionary[key]");'>@key</div>
                    }
                </div>
            }
        }
    }
}


<script type="text/javascript">
    function prevent() {
        $('#dropDownUser').dropdown('toggle');
    }
    function find() {
        $('.company').each(function (i, obj) {
            var companyText = $(this).text().toUpperCase();
            var findText = $('#navbar-search').val().toUpperCase();
            if (companyText.indexOf(findText) >= 0) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
</script>
