﻿@model  List<ECOsystem.Models.Account.AccountMenus>

@{
    //Session Variables for gridpager
    Session["AjaxGrid"] = null;
    Session["FormName"] = null;
    Session["PageNum"] = null;
    Session["PageModel"] = null;
}

<div class="modal fade" id="confirmModalSearch" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Perdida de Datos Actualizados</h4>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage">¿Está seguro que desea navegar hacia otra opción del menú y perder los cambios sobre los elementos coloreados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" data-btnmodal="true" class="btn btn-primary" onclick="onClickAcceptChangesLost()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper" class="shadow" style="height: calc(100vh - 50px);">
    <div class="sidebar" role="navigation">
        <ul class="sidebar-nav" id="side-menu2">
            @foreach (var menu in Model)
            {
                var parentId = menu.MenuId;
                if (menu.IsParent)
                {
                    <li onclick="hideAndGo(@menu.MenuId)">
                        @if (menu.Ico != "" && menu.Controller == null && menu.Action == null)
                        {
                            <a data-toggle="collapse-menu">
                                <img src="@Url.Content(menu.Ico)" /><span id="menu-title"> @menu.Name <span class="caret"></span></span>
                            </a>
                            <ul class="option-collapse">
                                @foreach (var x in Model.Where(w => (w.Parent) == parentId).OrderBy(o => o.Order))
                                {
                                    <li class="">
                                        @if (x.Controller == "ContinuosMonitoring")
                                        {
                                            <a class="@x.Controller@x.Action" url="" href="@Url.Action(x.Action + "/", x.Controller)" target="_blank" menuItem>@x.Name</a>
                                        }
                                        else
                                        {
                                            if (x.Controller.Contains("%")) //Valida si el controller tiene un comodín que permite concatenar el nombre del Modulo en el URL
                                            {
                                                string[] moduleController = x.Controller.Split('%');

                                                <a class="@x.Controller@x.Action" url="@string.Format("/{0}/{1}/{2}", moduleController[0], moduleController[1], x.Action)" href="#" onclick="onClickMenuOption(this)" menuitem>@x.Name </a>
                                            }
                                            else
                                            {
                                                <a class="@x.Controller@x.Action" url="@Url.Action(x.Action + "/", x.Controller, new { area = x.Area })" href="#" onclick="onClickMenuOption(this)" order="@x.Order" menuItem>@x.Name </a>
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
                else if (menu.Ico != "" && menu.Controller != null && menu.Action != null)
                {
                    <li class="liMenu">
                        <a class="@menu.Name @menu.Active" href="#" url="@Url.Action(menu.Action + "/", menu.Controller)" onclick="onClickMenuOption(this)">
                            <img src="@Url.Content(menu.Ico)">
                            <span id="menu-title"> @menu.Name</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<script type="text/javascript">

    function hideAndGo(menuId) {
        $.cookie('hideMenu', 'true', { path: '/' });    
        $.ajax({
            type: "POST",
            url: '/ASPMenus/SetMenuActive',
            data: JSON.stringify({ MenuId: menuId }),
            success: function (data) {
                console.log("Success");
            },
            dataType: "json",
            traditional: true
        });

    }

    $(document).ready(function () {
        var cookie = $.cookie('hideMenu');
        if (cookie !== "undefined" && cookie === "true") {
            $("#wrapper").toggleClass("toggled");
            if ($("#wrapper").hasClass("toggled")) {
                $(".option-collapse.in").collapse('hide');
            }
        }

        //Revisamos los textos que son muy extensos
        $("a[menuItem]").each(function () {            
            var obj = $(this);
            menuTextLenghtFilter(obj);
        });

        $('[data-toggle="tooltip"]').tooltip();
    });

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $(".option-collapse.in").collapse('hide');
        }
        $.cookie('hideMenu', $("#wrapper").hasClass("toggled"), { path: '/' });
    });

    $('[data-toggle="collapse-menu"]').click(function (e) {
        if ($("#wrapper").hasClass("toggled")) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        }
    });

    //Valida si hay modificaciones sin guardar
    var onClickMenuOption = function (obj) {
        var _value = 0;
        var verification = $('#SavePermissionsVerification').val();
        url = $(obj).attr("url");
        id = $(obj).attr("order");
        controller = $(obj).attr("class");
        if (controller == "ReportsIndex") {
            url += "?Id=" + id;
        }

        $('#gridContainer tr').each(function (i) {
            var color = $(this).css('background-color');
            if (color === 'rgb(255, 255, 115)' || color === 'gold') {
                _value++
            }
        });
        if (verification == '1') {
            _value++;
            $('#confirmationMessage').text('¿Está seguro que desea navegar hacia otra opción del menú y perder los cambios?')
        }
        if (_value > 0) {
            $("#confirmModalSearch").modal('show');
        } else {
            window.location.replace(url);
        }
    }

    //Filtra el texto visualizado en el menú, si es muy largo genera un tooltip
    function menuTextLenghtFilter (obj) {
        if (obj != null && obj.text().length >= 30) {
            var oldText = obj.text();
            var newText = oldText.substring(0, 28).trim() + '...';
            obj.attr("data-toggle", "tooltip");
            obj.attr("data-original-title", oldText);
            obj.attr("data-placement", "right");
            obj.html(newText);
        }
    };
</script>

