﻿﻿@model ECOsystem.Models.Miscellaneous.CustomError


<div class="modal fade" id="errorModalDismiss" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="modal-dismiss-title" class="element-name">@Model.TitleError</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 center">
                        <h4 id="modal-dismiss-message">@Model.TechnicalError</h4>
                        @if (!string.IsNullOrEmpty(Model.RedirectUrl) && Model.RedirectUrl.Contains("VALIDATE_USER_FROM_PARTNER"))
                        {
                            var customerId = (Model.RedirectUrl.Contains("-"))? Model.RedirectUrl.Split('-')[1] : string.Empty;
                            if (!string.IsNullOrEmpty(customerId))
                            {
                                using (var business = new ECOsystem.Business.Core.CustomersBusiness())
                                {
                                    var customer = business.RetrieveCustomers(Int32.Parse(customerId), LoadSingleCustomer: true, queryWithOutPartner: true).FirstOrDefault();
                                    var customerName = (customer != null) ? customer.DecryptedName : "Nombre no disponible";
                                    <br />
                                    <h4>El correo digitado está ligado al siguiente cliente: <a href="@Url.Action("LoadCustomers", new { id = customerId })">@customerName</a></h4>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#errorModalDismiss').modal('show');
</script>
