﻿@model ECOsystem.Models.Miscellaneous.CustomError

<div class="top20">

    <div class="modal fade" id="errorModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            @*<div class="modal-content">*@

                @*<div class="modal-body">*@
                    @*<div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Información de País</h4>
                        </div>*@

                    <div class="panel panel-warning" style="border-color: #C9302C; background-color: #FFFFD5">
                        <!-- Default panel contents -->
                        <div class="panel-heading" style="background-color: #C9302C; color: #FFFFD5; font-weight: bold"><a href="@Model.ReturnUlr" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>&nbsp;&nbsp;&nbsp;Error de Sistema</div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-danger" style="border:none; background-color: #FFFFD5">
                                    <div class="panel-heading" style="background-color: #FFFFD5;">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color: #990000; font-weight: bold">
                                                <img src="~/Content/Images/data_error.png" style="padding-right: 20px;" />Mensaje de error
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body" style="color: #990000; border: none;">
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-11">
                                                    @Model.FriendlyError
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger" style="border:none; background-color: #FFFFD5">
                                    <div class="panel-heading" style="background-color: #FFFFD5;">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="color: #990000; font-weight: bold">
                                                <img src="~/Content/Images/data_error_detail.png" style="padding-right: 20px;" />Detalle técnico de error
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body" style="color: #990000; border: none;">
                                            <div class="row">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-11">
                                                    @Model.TechnicalError
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <a class="btn btn-danger" href="@Model.ReturnUlr">
                                        <i class="mdi mdi-replay"></i>&nbsp;&nbsp;Regresar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                @*</div>*@
            @*</div>*@
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#errorModal').modal('show');
</script>