﻿<div class="top20">
    <div class="modal fade" id="errorReportModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="panel panel-warning" style="border-color: #428bca; background-color: #FFFFD5">
                <div class="panel-heading" style="background-color: #428bca; color: #FFFFD5; font-weight: bold">&nbsp;&nbsp;&nbsp;Atención</div>
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-info" style="border:none; background-color: #FFFFD5">
                            <div class="panel-heading" style="background-color: #FFFFD5;">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="text-primary" data-parent="#accordion" href="#collapseOne" style="font-weight: bold; color:#428bca;">
                                        <i class="fa fa-exclamation-triangle fa-3x" style="padding-right: 20px;"></i>Descarga de archivo
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body" style="border: none;">
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-11">
                                            Ocurrió un problema al descargar el reporte solicitado. Por favor intentelo de nuevo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" data-btnmodal="true" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
