﻿<div class="top20">

    <div class="modal fade" id="permissionModuleModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="headerPermission">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideVideoGestion()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <b>Acceso Denegado | Flotas BAC Credomatic </b>
                    </h4>
                </div>

                <div class="modal-body" >
                    <div class="row" id="bodyPermission">
                        <div class="col-md-8">
                            <p style="padding-top:20px;">
                                <h4><b>Requieres permisos...</b></h4>
                                No tienes los permisos para acceder a este módulo. Si deseas que habilitemos este módulo
                                puedes contactar a <b>servicio al Cliente al 2205-5600</b>.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Content/Images/locked.png" width="140" />
                        </div>
                    </div>

                    <div class="row"  id="VideoInsertedGestion" style="display:none" >
                        <h4 class="modal-title">
                            <b>Módulo de Gestión</b>
                        </h4>
                        <div align="center" class="embed-responsive embed-responsive-16by9">
                            <video id="video_playerGestion" class="embed-responsive-item" controls>
                                <source src="~/Content/Images/Gestion.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div> 
                </div>
       
               <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="hideVideo()" data-dismiss="modal">
                        <i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Regresar
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</div>
<script>
    function ShowVideoGestion() {
        $("#video_playerGestion")[0].play();
        $("#VideoInsertedGestion").css("display", "block"); 
    }

    function hideVideoGestion() {
        $("#VideoInsertedGestion").css("display", "none");
        $("#video_playerGestion")[0].pause();
        $("#video_playerGestion")[0].currentTime = 0;

        $("#bodyPermission").css("display", "block");
        $("#headerPermission").css("display", "block");
        
    }

    function ShowVideoLess() { 
        $("#bodyPermission").css("display", "none");
        $("#headerPermission").css("display", "none");
        
    }
    

</script>