﻿<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/adicional.png" />
                </li>
                <li class="center">
                    <h3>Adicional</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <p>
                        Cada uno de los módulos está diseñado para promover el ahorro, la satisfacción a los clientes y la reducción de riesgos. Flotas BAC Credomatic es una plataforma integrada de última generación para el mejoramiento contínuo que favorece el control de los recursos de las empresas. Flotas BAC Credomatic es una plataforma innovadora y por su razón integradora, única a nivel mundial.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/reduccion.png" />
                </li>
                <li class="center">
                    <h3>Reducción</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Consumo de Combustible
                        </li>
                        <li>
                            Riesgo de Accidentes e Incapacidades
                        </li>
                        <li>
                            Primas de Seguros
                        </li>
                        <li>
                            Costos de Mantenimiento
                        </li>
                        <li>
                            Desgaste de los Vehículos
                        </li>                       
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/aumento.png" />
                </li>
                <li class="center">
                    <h3>Aumento</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Atención de Clientes
                        </li>
                        <li>
                            Disponibilidad de la Flota
                        </li>
                        <li>
                            Rendimiento de los Vehículos
                        </li>
                        <li>
                            Control de Presupuesto
                        </li>
                        <li>
                            Rendimiento del Personal
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
