﻿@using ECO_Partner.Business
@model ECO_Partner.Models.PartnerFuelBase
@{
    ViewBag.Title = "Vehículos";
    ViewBag.Settings = "active";
    ViewBag.SettingsPartners = "active";
    ViewBag.SettingsPartnerFuelIndex = "active";

    ViewBag.HasGrid = true;

    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {

}


@using (Ajax.BeginForm("AddOrEditPartnerFuel", "PartnerFuel", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

<div id="wrapper">
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="2" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
   
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Tarifas de Combustible por Socio</h3>
            </div>
        </div>


        @using (Html.BeginForm("Index", "PartnerFuel", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.DropDownListFor(m => m.KeyId, GeneralCollections.GetPartners, "Por favor Seleccionar un Socio", new { @class = "form-control fbold" })
                </div>
            </div>
        }
        
        <div id="PartnerFuelDetail">

            @if (Model.KeyId > 0)
            {
            <!-- Search Area Start-->
                using (Ajax.BeginForm("SearchPartnerFuel", "PartnerFuel", null, new AjaxOptions
                 {
                     HttpMethod = "post",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "gridContainer",
                     OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
                 }, new { id = "searchForm" }))
                {
                    <div class="row top20">
                        <div class="col-lg-11">
                            <div class="input-group">

                                <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                                @Html.Hidden("PartnerId", Model.KeyId)

                                <span class="input-group-btn">
                                    <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                                </span>

                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button id="btnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrEditModal" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i></button>
                        </div>
                    </div>
                }

            <!-- Search Area End-->
            <!-- Load Form Start-->
                using (Ajax.BeginForm("LoadPartnerFuel", "PartnerFuel", null, new AjaxOptions
             {
                 HttpMethod = "post",
                 InsertionMode = InsertionMode.Replace,
                 UpdateTargetId = "detailContainer",
                 OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
             }, new { id = "loadForm" }))
                {
                    @Html.Hidden("id")
                    @Html.Hidden("PartnerId", Model.KeyId)
                }
            <!-- Load Form End-->
            <!-- Dele Modal Start-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            @using (Ajax.BeginForm("DeletePartnerFuel", "PartnerFuel", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "gridContainer",
                            OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                        }, new { id = "deleteForm" }))
                            {
                                @Html.Hidden("id")
                                @Html.Hidden("PartnerId", Model.KeyId)
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Confirmar Eliminación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro que desea eliminar el registro?</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            <!-- Delete Modal End -->

                <div class="row">
                    <div class="col-lg-12" id="gridContainer">
                        @Html.Partial("_partials/_Grid", Model.List)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts {

    <script src="~/Scripts/Settings/partnerFuel.js?v=@version-hf0"></script>
    <script>
    $(function () {
        $("#LoadMenuForm").submit();
            ECOsystem.PartnerFuel.Init();
        });

    </script>
}
