﻿@model ECOsystem.Management.Models.ManagementMapsBase
@{
    ViewBag.Title = "Mapa de Gestión";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    var Customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }

        .colpick {
            z-index: 9999;
        }

        body {
            overflow-x: hidden;
        }

        .menu-hide {
            display: none;
        }

        .menu-show {
            width: 300px;
            height: 100vh;
            position: absolute;
            top: 0;
            background: #eee;
        }

            .menu-show .panel {
                margin: 0;
                border-radius: 0 !important;
            }

        .menu-right-hide {
            right: 17px !important;
        }

        #menu-right {
            right: 0;
        }

        .map {
            width: 100%;
            position: absolute;
        }

        .map-menu-left-hide {
            left: 15px !important;
        }

        .toggle-btn {
            position: absolute;
            border-radius: 0 !important;
            background-color: #f5f5f5 !important;
        }

            .toggle-btn i {
                font-size: 24px;
            }

        .toggle-left-btn {
            left: 334px;
            top: 20px;
            border-left: 0 !important;
        }

        .toggle-right-btn {
            right: 305px;
            top: 19px;
            border-right: 0 !important;
        }

        .nav-tabs {
            border: 0;
        }

            .nav-tabs > li {
                width: 50%;
                text-align: center;
            }

                .nav-tabs > li.active > a,
                .nav-tabs > li.active > a:hover,
                .nav-tabs > li.active > a:focus {
                    border: 0 !important;
                    background-color: #f3f2f2 !important;
                }

        .card-heading {
            padding: 10px;
            background-color: darkcyan;
            color: white;
        }

        .panel-container-cards {
            height: calc(100vh - 120px);
            overflow: auto;
            width: 100%;
        }

        .panel-group {
            margin: 10px !important;
        }

        .panel-body {
            padding: 0 10px !important;
        }

        .tab-pane {
            background-color: #eee;
        }

        .card,
        .card-content {
            margin-top: 0 !important;
        }

        .left-menu {
            height: calc(100vh - 210px);
            overflow-x: auto;
        }

        #page-content-wrapper {
            min-height: 900px !important;
        }

        .borders {
            border: 1px solid #bbb !important; /*1px groove #ddd !important;*/
        }

    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper" style="padding-bottom:40px; border-color:black;">
    <div class="container-fluid" style="border-color:black;">
        <div id="map" class="map" style="width:81%;">
            <iframe id="mapFrame" src="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)Management.aspx?Params=@Customer.CountryCode|@Customer.TimeZone|0|0|0|0|0" originalsrc="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)Management.aspx?Params=@Customer.CountryCode|@Customer.TimeZone|" frameborder="0" class="resizeIframeMap mapFrame borders"></iframe>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div style="z-index: 1000;">
                    <div id="menu-left" class="menu-show">
                        <div class="panel panel-default">
                            <div class="with-nav-tabs">
                                <div class="">
                                    <ul class="nav nav-tabs">
                                        <li id="tabAgents" class="active"><a href="#tab1default" data-toggle="tab" onclick="">Agentes</a></li>
                                        <li id="tabCommerces" class=""><a href="#tab2default" data-toggle="tab">Comercios</a></li>
                                    </ul>
                                </div>
                                <div id="gridContainer" class="panel-container-cards" style="height:calc(100vh - 138px)">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab1default">
                                            <div class="input-group" style="padding: 10px;">
                                                <input id="txtSearchAgents" type="text" class="form-control" placeholder="Filtrar">
                                                <span class="input-group-btn">
                                                    <button id="btnSearchAgents" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                                    <button id="btnLoadAgents" type="button" class="btn btn-success" title="Mostrar Agentes"><i class="mdi mdi-reload"></i></button>
                                                </span>
                                            </div>
                                            @Html.Partial("_partials/_AgentsList", Model.Data.Agents)
                                        </div>
                                        <div class="tab-pane fade" id="tab2default">
                                            <div class="input-group" style="padding: 10px;">
                                                <input id="txtSearchCommerces" type="text" class="form-control" placeholder="Filtrar">
                                                <span class="input-group-btn">
                                                    <button id="btnSearchCommerces" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                                    <button id="btnLoadCommerces" type="button" class="btn btn-success" title="Mostrar Comercios"><i class="mdi mdi-reload"></i></button>
                                                </span>
                                            </div>
                                            @Html.Partial("_partials/_CommercesList", Model.Data.Commerces)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu-right" class="menu-show" style="width:420px;">
                        <div class="panel panel-default">
                            <div class="tab-pane">
                                <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                                    <div class="col-lg-12">
                                        <div class="col-sm-8">
                                            <div class='input-group date' id='datetimepickerStartDate'>
                                                @Html.TextBox("StartDateStr", "", new Dictionary<string, Object> { { "placeholder", "Fecha Inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "disabled", "true" }, { "autocomplete", "off" } })
                                                <span class="input-group-addon">
                                                    <span class="mdi mdi-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <div class=" input-group-btn">
                                                    <button id="btnAgengaDetail" type="button" class="btn btn-default" title="Mostrar Datos de Agenda" disabled isclicked="false"><i id="mdiagenda" class="mdi mdi-calendar-blank"></i></button>
                                                    <button id="btnGenRecons" type="button" class="btn btn-primary" title="Generar Recorrido" disabled><i class="mdi mdi-refresh"></i></button>
                                                    <button type="button" class="btn btn-success" title="Reproducir Todo" id="btnPlayAllStart" play-pause="null" disabled><i class="mdi mdi-play" id="playAllIcon"></i></button>
                                                    @Html.Hidden("CurrentUserId")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="padding-top: 10px;">
                            <div id="divList" class="panel-container-cards-right" style="overflow-y:auto; height:calc(100vh - 172px)">
                                <div class="panel-group margin0">
                                    <div class="col-sm-12">
                                        <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Por favor seleccione un agente o comercio
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="menu-left-toggle" class="btn btn-default toggle-left-btn toggle-btn"><i class="mdi mdi-format-list-bulleted"></i></button>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationPlayModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea reproducir la reconstrucción de recorrido del día seleccionado?</p>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnglobalplay"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ValidateChecked" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mapa de Gestión</h4>
            </div>
            <div class="modal-body">
                <p>¡Debe seleccionar un Agente para continuar!</p>
            </div>
            <div class="modal-footer">
                <div>

                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ValidateCommerces" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mapa de Gestión</h4>
            </div>
            <div class="modal-body">
                <p>¡Debe seleccionar un Comercio para continuar!</p>
            </div>
            <div class="modal-footer">
                <div>

                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ValidateDate" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mapa de Gestión</h4>
            </div>
            <div class="modal-body">
                <p>¡Debe seleccionar una fecha para continuar!</p>
            </div>
            <div class="modal-footer">
                <div>

                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Management/ManagementMap.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.ManagementMap.Init();
        });
        window.addEventListener("message", ECO_Management.ManagementMap.ReceiveMessage, false);
    </script>
}