﻿<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                
                   <li class="@ViewBag.SettingsPartners">
                        <a href="#"><img src="~/Content/Images/menu_partner.png" class="right10" />Socios</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="@ViewBag.SettingsPartnersIndex" href="@Url.Action("Index", "Partners")">Mantenimiento de Socios</a>
                            </li>
                            <li>
                                <a class="@ViewBag.SettingsPartnerFuelIndex" href="@Url.Action("Index", "PartnerFuel")">Tarifas de Combustible</a>
                            </li>
                        </ul>
                    </li>

                    @*<li>
                        <a class="@ViewBag.SettingsCustomers" href="@Url.Action("Index", "Customers")"><img src="~/Content/Images/menu_customers.png" class="right10" />Clientes</a>
                    </li>*@

                    <li>
                        <a class="@ViewBag.SettingsCountries" href="@Url.Action("Index", "Countries")"><img src="~/Content/Images/menu_countries.png" class="right10" />Países</a>
                    </li>
                
                    <li>
                        <a class="@ViewBag.SettingsCurrencies" href="@Url.Action("Index", "Currencies")"><img src="~/Content/Images/menu_currencies.png" class="right10" />Monedas</a>
                    </li>

                    <li>
                        <a class="@ViewBag.SettingsFuels" href="@Url.Action("Index", "Fuels")"><img src="~/Content/Images/menu_combustible.png" class="right10" />Combustibles</a>
                    </li>
                   
                    @*<li>
                        <a class="@ViewBag.SettingsUsers" href="@Url.Action("Index", "Users")"><img src="~/Content/Images/menu_users.png" class="right10" />Usuarios</a>
                    </li>*@
                    <li>
                        <a class="@ViewBag.SettingsParameters" href="@Url.Action("Index", "Parameters")"><img src="~/Content/Images/menu_parameters.png" class="right10" />Parámetros Globales</a>
                    </li>
                    <li>
                        <a class="@ViewBag.FAQ" href="@Url.Action("Index", "Faq")"><img src="~/Content/Images/menu_faq.png" class="right10" />FAQ Operaciones</a>
                    </li>
               
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
