﻿@model ECOsystem.Models.Core.AlarmsModels

<div class="modal fade" id="alarmModal" data-keyboard="false" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@Model.TitlePopUp</h4>
            </div>
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="font-size:14px;margin: 0;border: 0;border-radius: 0;">
                <i class="mdi mdi-information"></i> Agregue todos los correos que sean necesarios para los avisos de "Alarmas".
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.HiddenFor(m => m.AlarmId)
                    @Html.HiddenFor(m => m.AlarmTriggerId)
                    @Html.HiddenFor(m => m.EntityTypeId)
                    @Html.HiddenFor(m => m.EntityId)
                    @Html.HiddenFor(m => m.CustomerId)
                    @Html.HiddenFor(m => m.RowVersion)
                    @Html.HiddenFor(m => m.Phone)
                    @Html.HiddenFor(m => m.EmailPlaceHolder)

                    @{
                        var PlaceHolder = Model.EmailPlaceHolder;
                        if (PlaceHolder == null)
                        {
                            PlaceHolder = "Digite los correos electrónicos";
                        }
                    }
                    <div class="col-sm-9">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-sm-14 control-label" })

                            <span data-toggle="tooltip" data-placement="bottom" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com ">
                                @Html.TextBoxFor(m => m.Email, new { placeholder = PlaceHolder, @class = "form-control text-left", maxlength = "1000", id = "txtAlarmEmail" })
                            </span>

                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.Active, new { id = "chkAlarmActive" })Habilitada
                                            </label>
                                            @Html.ValidationMessageFor(m => m.Active)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#chkAlarmActive').click(function () {
        
        var emailplaceholder = $('#EmailPlaceHolder').val();
        var email = $('#Email').val();
        if ($(this).is(':checked')) {
            if (email == '') {
                $('#Email').val(emailplaceholder);
            }
        } else {
            $('#Email').val('');
        }
    });

</script>