﻿@model  ECOsystem.Areas.Coinca.Models.PartnerFuel
@{    
    string UnitOfCapacityLabel = "";
    if (Model.CapacityUnitId == 1)
    { 
        UnitOfCapacityLabel = "Precio por Galón";
    }
    else
	{
        UnitOfCapacityLabel = "Precio por Litro";
	}       
    
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.HiddenFor(m => m.PartnerFuelId)
            @Html.HiddenFor(m => m.PartnerId)
            @Html.HiddenFor(m => m.IsScheduled)
            @Html.HiddenFor(m => m.FuelId)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Tarifas de combustible - <span id="txtTitle">@ViewBag.TitleModal</span></h4>
            </div>
            <div class="modal-body">
                <div class="row" role="form">
                    <div class="col-sm-12">
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.FuelId, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FuelName, new { placeholder = "Combustible", @class = "form-control nopointer", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.FuelId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @*@Html.LabelFor(m => m.LiterPrice, new { @class = "control-label" })*@
                            <label>@UnitOfCapacityLabel</label>
                            @Html.TextBoxFor(m => m.LiterPriceStr, new { placeholder = @UnitOfCapacityLabel, @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.LiterPriceStr, "", new { @class = "text-danger" })
                            <p class="text-danger"></p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        @if(!Model.IsScheduled)
                        {
                            <div class="col-sm-6 form-group">
                                @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Fecha inicial", @class = "form-control nopointer", @readonly = "readonly"})
                                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-6 form-group">
                                @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                                <div class='input-group date' id='datetimepickerStartDate'>
                                    @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Fecha Inicial", @class = "form-control", @autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="mdi mdi-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                            </div>
                        }

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                            <div class='input-group date' id='datetimepickerEndDate'>
                                @Html.TextBoxFor(m => m.EndDate, new { placeholder = "Fecha Final", @class = "form-control", @autocomplete ="off" })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->

<script>
    $(this).on('show.bs.modal', function (e) {
         ECOsystem.Areas.Coinca.PartnerFuel.InitDatePickers();
        e.stopPropagation();
    });
</script>