﻿@model  ECOsystem.Areas.Coinca.Models.PartnerFuel

<div class="modal fade" id="DownloadFileModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Reporte Costos de Combustible</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.PartnerId)
                <div class="row" role="form">
                    <div class="col-sm-12">
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.FuelId, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.FuelId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetFuelsByPartner(Model.CountryId), "Seleccione el tipo combustible", new { @class = "form-control", custom = "true", @id="ddxFuelId" })
                            @Html.ValidationMessageFor(m => m.FuelId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group"></div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                            <div class='input-group date' id='datetimepickerStartDownloadDate'>
                                @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Fecha Inicial", @class = "form-control", @autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                            <div class='input-group date' id='datetimepickerEndDownloadDate'>
                                @Html.TextBoxFor(m => m.EndDate, new { placeholder = "Fecha Final", @class = "form-control", @autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Archivo</button>
                </div>
            </div>

        </div>
    </div>
</div>
