﻿@model IEnumerable< ECOsystem.Areas.Coinca.Models.PartnerFuel>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
                .Columns(c =>
                    {
                        c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(50)
                            .RenderValueAs(m => @<div>
                                @if (m.EndDate == null || (DateTime.ParseExact(m.EndDate, "dd/MM/yyyy", null) > DateTime.Now))
                                {
                                    <span data-toggle="tooltip" data-placement="bottom" title="El precio de combustible está vigente">
                                        <i class="mdi mdi-check-circle" style="font-size:20px; color:#238d39"></i>
                                    </span>
                                }                                
                                else
                                {
                                    <span data-toggle="tooltip" data-placement="bottom" title="El precio de combustible está vencido">
                                        <i class="mdi mdi-block-helper" style="font-size:16px; color:#ff0000"></i>
                                    </span>
                                }
                            </div>
                        );
                })
              .AutoGenerateColumns()
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(50)
                      .RenderValueAs(m => @<span>                        
                            <a href="#" class="edit-color" id="@m.PartnerFuelId" title="Editar" editfuel_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                            <a href="#" id="@m.PartnerFuelId" title="Programar" program_row><i class="mdi mdi-calendar-clock" style="font-size:20px;color:#808080;"></i></a>
                    </span>).Css("grid-col-btn");
              }).SetRowCssClasses(m => m.EndDate != null ? ((DateTime.ParseExact(m.EndDate, "dd/MM/yyyy", null) < DateTime.Now) ? "redrow" : string.Empty) : string.Empty))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">       
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}