﻿@model IEnumerable<ECO_Efficiency.Models.GPSReportModel>

<style type="text/css">
    .boldText {
        font-weight: bold;
    }

    .numericAlign {
        text-align: right;
    }
</style>

          @(Html.Grid(Model)
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(120);
              c.Add(m => m.MaxSpeed).Titled("Velocidad Máxima").SetWidth(120);
              c.Add(m => m.AbruptTurns).Titled("Cantidad de Giros Abruptos").SetWidth(120);
              c.Add(m => m.SuddenStops).Titled("Cantidad de Paradas Repentinas").SetWidth(120);
              c.Add(m => m.QuickAccelerations).Titled("Aceleraciones Repntinas").SetWidth(120);
                        
          }))

