﻿@using ECO_Partner.Business
@using ECO_Partner.Models
@model ECO_Partner.Models.CustomerContractsReportBase
@{
    ViewBag.Title = "Reporte de Contratos";
    ViewBag.PartnerReports = "active";
    ViewBag.PartnerReportsReports = "active";
    var hide1 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="14" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Html.BeginForm("DownloadReport", "CustomerContractsReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }


<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "CustomerContractsReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Partner.CustomerContractsReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECO_Partner.CustomerContractsReport.HideLoader(data)"
    }, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.ReportCriteriaId, GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Month, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Year, ECOsystem.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Classification, ECOsystem.Business.Utilities.GeneralCollections.GetClassifications, "Clasificaciones", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
        </div>
        <div class="row" style="padding-top: 1%">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Descargar</button>
            </div>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Administration/CustomerContractsReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            ECO_Partner.CustomerContractsReport.Init();
            $("#LoadMenuForm").submit();
        });
    </script>
}

