﻿@using ECO_Partner.Business
@using ECO_Partner.Models
@model ECO_Partner.Models.TransactionsReportDeniedByPartnerBase
@{
    ViewBag.Title = "Reporte de Contratos";
    ViewBag.PartnerReports = "active";
    ViewBag.PartnerReportsReports = "active";
    ViewBag.PartnerTransactionsReportAdmin = "active";
    ViewBag.HasGrid = true;
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    var searchplaceholder = "";
    if (Model.Parameters.TransactionType != 6)
    {
        searchplaceholder = "Filtro por #Terminal, Est. de Servicio, Placa o Nombre del Vehículo...";
    }
    else
    {
        searchplaceholder = "Filtro por placa o Nombre del Vehículo...";
    }
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}
@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
<input class="hidden" name="Header" value="14" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Html.BeginForm("Admin", "TransactionsReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
    <div class="row">
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
        </div>
        <div data-repor-by="1000" class="@hide1">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.Month, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.Year, ECOsystem.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
        </div>
        <div data-repor-by="2000" class="@hide2">
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object>
                        { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object>
                        { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
    </div>
    }
</div>
@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
<script src="~/Scripts/Control/TransactionsReport.js?v=@version-hf0"></script>
<script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.TransactionsReport.Init({
                printURL: '@Url.Action("PrintReport", "TransactionsReport", new { p = Model.Parameters.ParametersInBase64 })',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
</script>
}