﻿@using ECO_Insurance.Business.Utilities
@model ECO_Insurance.Models.Insurance.ViewModelInsurance
@{
    ViewBag.Title = "Socio Asegurador - Página Inicial";
}
@section styles{
<style>
    .panel-heading a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }

    .panel-heading a.collapsed:after {
        content: "\e080";
    }

    .panel-title a {
        color: #808080;
        font-size: 11pt;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none !important;
    }

    .carousel-inner .item {
        padding: 0 0 30px 0;
    }

    .carousel-indicators {
        bottom: 0;
        width: auto;
        padding: 5px 25px 5px 25px;
        margin-left: 0;
    }

        .carousel-indicators li {
            background: #4B4B4B;
        }

        .carousel-indicators .active {
            background: #428BCA;
        }

    .carousel-control {
        color: #428BCA;
        top: auto;
        bottom: 0;
        padding-top: 4px;
        width: 36px;
        height: 36px;
        opacity: 1;
        text-shadow: none;
    }
   .carousel-control:hover {
        color: #d9534f;
   }

    b {
       font-size:13px;
    }

</style>
}
<div class="top20">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@GeneralCollections.GetNotActiveCustomersCount(ECOsystem.Utilities.Session.GetPartnerId(),null,ECOsystem.Utilities.Session.GetCountryId())</div>
                            <div>Clientes Retirados</div>
                        </div>
                    </div>
                </div>
               
                  
               
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@GeneralCollections.GetActiveCustomersCount(ECOsystem.Utilities.Session.GetPartnerId(),null,ECOsystem.Utilities.Session.GetCountryId())</div>
                            <div>Clientes Activos</div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-truck fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@GeneralCollections.GetRegisteredVehiclesCount(ECOsystem.Utilities.Session.GetPartnerId(),null)</div>
                            <div>Vehículos Inscritos</div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-male fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@GeneralCollections.GetRegisteredDriversCount(ECOsystem.Utilities.Session.GetPartnerId(),null)</div>
                            <div>Conductores Asociados</div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
       <div class="row">
        <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Calificación de Hábitos de Conducción por Empresa según Velocidad de Ley</b>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                               <b> Período @DateTime.UtcNow.Month.ToString() / @DateTime.UtcNow.Year.ToString()  </b> 
                                @Html.Partial("~/views/DrivingScoreFleetReport/_partials/_Chart.cshtml", Model.DrivingScoreFleetReport.List)

                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i><b>Tendencia de Hábitos de Conducción por Empresa</b> 
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <b> Período @DateTime.UtcNow.Month.ToString() / @DateTime.UtcNow.Year.ToString()  </b>
                                @Html.Partial("~/views/DrivingScoreFleetEvolutionReport/_partials/_Chart.cshtml", Model.DrivingScoreFleetEvolutionReport)

                            </div>
                            <!-- /.panel-body -->
                        </div>
                   </div>
                   </div>

                    <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> <b>Calificación de Hábitos de Conducción de Empresas con Alto Riesgo </b>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <b> Período @DateTime.UtcNow.Month.ToString() / @DateTime.UtcNow.Year.ToString()  </b>
                                @Html.Partial("~/views/LowDrivingScoreFleetEvolutionReport/_partials/_Chart.cshtml", Model.LowDrivingScoreFleetEvolutionReport)

                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                 
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i><b>Índice Ponderado de Hábitos de Conducción por Empresa </b>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <b> Período @DateTime.UtcNow.Month.ToString() / @DateTime.UtcNow.Year.ToString()  </b>
                                @Html.Partial("~/views/WeightedIndexDrivingScoreFleetReport/_partials/_Chart.cshtml", Model.WeightedIndexDrivingScoreFleetReport.List)

                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    </div>  
   
    
        </div>
        <!-- /.col-lg-8 -->
        @* <div class="col-lg-4">

           @Html.Partial("_RSSNews", Model.rssModels)        
            <!-- /.panel .chat-panel -->
        </div> *@  
        <!-- /.col-lg-4 -->
    </div>

 
</div>
@section scripts{
<script src="~/Scripts/Insurance/DrivingScoreFleetReport.js"></script>
<script src="~/Scripts/Insurance/DrivingScoreFleetEvolutionReport.js"></script>
<script src="~/Scripts/Insurance/LowDrivingScoreFleetEvolutionReport.js"></script>
<script src="~/Scripts/Insurance/WeightedIndexDrivingScoreFleet.js"></script>
<script>
    $(function () {

        ECOsystem.DrivingScoreFleetReport.Init({
            labels: @Model.DrivingScoreFleetReport.Parameters.Labels,
            data: @Model.DrivingScoreFleetReport.Parameters.Data,
            colors: @Model.DrivingScoreFleetReport.Parameters.Colors,
            highligh: @Model.DrivingScoreFleetReport.Parameters.HighlightColors,
            printURL: '@Url.Action("PrintReport", "DrivingScoreFleetReport", new { p = Model.DrivingScoreFleetReport.Parameters.ParametersInBase64 })',
            printMode: false
        });
        ECOsystem.DrivingScoreFleetEvolutionReport.Init({
            labels: @Model.DrivingScoreFleetEvolutionReport.Parameters.Labels,
            data: @Model.DrivingScoreFleetEvolutionReport.Parameters.Data,
            colors: @Model.DrivingScoreFleetEvolutionReport.Parameters.Colors,
            highligh: @Model.DrivingScoreFleetEvolutionReport.Parameters.HighlightColors,
            data2: @Model.DrivingScoreFleetEvolutionReport.Parameters.Data2,
            colors2: @Model.DrivingScoreFleetEvolutionReport.Parameters.Colors2,
            highligh2: @Model.DrivingScoreFleetEvolutionReport.Parameters.HighlightColors2,
            data3: @Model.DrivingScoreFleetEvolutionReport.Parameters.Data3,
            colors3: @Model.DrivingScoreFleetEvolutionReport.Parameters.Colors3,
            highligh3: @Model.DrivingScoreFleetEvolutionReport.Parameters.HighlightColors3,
            titles:@Model.DrivingScoreFleetEvolutionReport.Parameters.Titles,
            printURL: '@Url.Action("PrintReport", "DrivingScoreFleetEvolutionReport", new { p = Model.DrivingScoreFleetEvolutionReport.Parameters.ParametersInBase64 })',
            printMode:  false
        });
        ECOsystem.LowDrivingScoreFleetEvolutionReport.Init({
            labels: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.Labels,
            data: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.Data,
            colors: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.Colors,
            highligh: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.HighlightColors,
            data2: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.Data2,
            colors2: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.Colors2,
            highligh2: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.HighlightColors2,
            data3: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.Data3,
            colors3: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.Colors3,
            highligh3: @Model.LowDrivingScoreFleetEvolutionReport.Parameters.HighlightColors3,
            titles:@Model.LowDrivingScoreFleetEvolutionReport.Parameters.Titles,
            printURL: '@Url.Action("PrintReport", "LowDrivingScoreFleetEvolutionReport", new { p = Model.LowDrivingScoreFleetEvolutionReport.Parameters.ParametersInBase64 })',
            printMode: false
        });
        ECOsystem.WeightedIndexDrivingScoreFleet.Init({
            labels: @Model.WeightedIndexDrivingScoreFleetReport.Parameters.Labels,
            data: @Model.WeightedIndexDrivingScoreFleetReport.Parameters.Data,
            colors: @Model.WeightedIndexDrivingScoreFleetReport.Parameters.Colors,
            highligh: @Model.WeightedIndexDrivingScoreFleetReport.Parameters.HighlightColors,
            printURL: '@Url.Action("PrintReport", "WeightedIndexDrivingScoreFleet", new { p = Model.WeightedIndexDrivingScoreFleetReport.Parameters.ParametersInBase64 })',
            printMode: false
        });
    });
</script>    
    }