﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.VehicleOverSpeedReportModelBase
@{
    ViewBag.Title = "Reporte de Exceso de Velocidad";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var download = Session["Download"] == null ? "" : Session["Download"];
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("erroReportShow", erroReport)
@Html.Hidden("cList", Model.List.Count())
<div id="page-content-wrapper">
    @Html.Hidden("DownloadFile", download)

    @using (Html.BeginForm("Index", "VehicleOverSpeedReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        @Html.HiddenFor(m => m.Parameters.key);

        <div class="row">
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "onClick", "ECO_Efficiency.VehicleOverSpeedReport.OnClickFirstDate();" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Parameters.FilterVehicle, GeneralCollections.GetVehiclesByCustomer, "Vehículo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, GeneralCollections.GetFilterOverSpeedTypes, "Tipo de Velocidad:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
        </div>
    }

    @using (Html.BeginForm("DonwloadFile", "VehicleOverSpeedReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

    @if (Model.List != null && Model.List.Any())
    {
        <br />
        <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Información del Reporte Generada. Para descargar presione <strong><a href="#" onclick="ECO_Efficiency.VehicleOverSpeedReport.OnClickDownload()">aquí</a></strong>.
        </div>

        using (Html.BeginForm("ExcelReportDownload", "VehicleOverSpeedReport", FormMethod.Post, new { id = "ExcelReportDownloadForm" }))
        {
            <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
        }
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/Efficiency/VehicleOverSpeedReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            
            $("#LoadMenuForm").submit();
            var val = $('#DownloadFile').val();
            if (val != '') {
                $('#DonwloadFileForm').submit();
            }
            else {
                $('#Parameters_FilterVehicle').val('');
                $('#Parameters_ReportCriteriaId').val('');
            }
            ECO_Efficiency.VehicleOverSpeedReport.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}

