﻿@model IEnumerable<ECO_Control.Models.Control.Vehicles>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              if (User.IsInRole("SUPER_ADMIN") || User.IsInRole("SUPER_USER"))
              {
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(2)
                      .RenderValueAs(m => @<span>
                            <a href="#" class="edit-color" id="@m.VehicleId" title="Referencias" ref_row><i class="glyphicon glyphicon-share"></i></a>
                        </span>).Css("grid-col-btn");
              }
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .RenderValueAs(m => @<span>
                      <a href="#" class="edit-color" id="@m.VehicleId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.VehicleId" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>
                  </span>).Css("grid-col-btn");

          }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}