﻿@model ECO_Control.Models.Control.VehiclesByGroupBase

@{
    ViewBag.Title = "Vehículos por Grupo";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlVehiclesByGroupIndex = "active";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section styles {
    <style>
        .bs-callout-blue {
            border-left-color: #006CB0;
        }

        .bs-callout {
            border: 1px solid #006CB0;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-color-blue {
            color: #006CB0;
        }

        .scrol-list {
            overflow-y: auto;
            height: 406px;
        }

        .box {
            cursor: pointer;
        }

        div.sortable-placeholder {
            border: 2px dashed #006CB0;
            background: #FCF8E3;
            height: 80px;
        }
        
    </style>
}

<div id="wrapper">
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="8" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Vehículos por Grupo</h3>
            </div>
        </div>

        @using (Ajax.BeginForm("LoadVehiclesByGroup", "VehiclesByGroup", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = "ECO_Control.VehiclesByGroup.OnSuccessLoad()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id", "")
        }

        <div class="row">
            <div class="col-sm-12">
                @Html.DropDownListFor(m => m.VehicleGroupId, @ECO_Control.Business.GeneralCollections.GetVehicleGroups, "Seleccione una Grupo", new { @class = "form-control fbold" })
            </div>
        </div>

        @using (Ajax.BeginForm("AddOrEditVehiclesByGroup", "VehiclesByGroup", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = "ECO_Control.VehiclesByGroup.OnSuccessLoad(); ECO_Control.Utilities.setConfirmation();"
        }, new { id = "saveForm" }))
        {
            @Html.Hidden("VehicleGroupId", @Model.VehicleGroupId)
            
            <div class="row top30" style="height: 400px;">
                <div class="col-sm-12" id="DragAndDropContainer">
                    @Html.Partial("_partials/_List", Model.Data)
                </div>
            </div>
        }

    </div>
</div>
@section scripts {

    <script src="~/Scripts/Control/vehiclesByGroup.js"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.VehiclesByGroup.Init();
        });

    </script>
}
