﻿@using ECO_Partner.Business
@using ECO_Partner.Models
@model  ApplicantsReportBase
@{
    ViewBag.Title = "Reporte de Solicitantes";
    ViewBag.PartnerReports = "active";
    ViewBag.PartnerReportsReports = "active";
    ViewBag.PartnerApplicantsReportIndex = "active";
    ViewBag.HasGrid = true;

    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {

    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }

            .carousel-indicators li {
                background: #4B4B4B;
            }

            .carousel-indicators .active {
                background: #428BCA;
            }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

            .carousel-control:hover {
                color: #d9534f;
            }
    </style>

}


@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="14" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

<div id="page-content-wrapper">

    @using (Html.BeginForm("Index", "ApplicantsReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Month, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Year, ECOsystem.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="row">

            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.CountryId, GeneralCollections.GetCountriesCurrentUser, "País", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.UserId, Model.UsersList, "Solicitante", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

        </div>

    }
    @if (Model.List != null && Model.List.Any())
    {
        <div id="ControlsContainer">
            <div class="card">
                <div class="card-content">
                    <div class="row top20">
                        <div class="col-sm-3 col-sm-offset-9 text-right">
                            @if (!isPrintView)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                        <i class="glyphicon glyphicon-share-alt"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("ExcelReportDownload", "ApplicantsReport", new { p = Model.Parameters })" download>
                                                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;Exportar Excel
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                                <i class="glyphicon glyphicon-print"></i>&nbsp;&nbsp;Formato Impresión
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <button class="btn btn-default" type="button" data-print>
                                    <i class="glyphicon glyphicon-print"></i>&nbsp;&nbsp;Imprimir
                                </button>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Partial("_partials/_Grid", (IEnumerable<ApplicantsReport>)Model.List)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>
@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Administration/ApplicantsReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.ApplicantsReport.Init({
                printURL: '@Url.Action("PrintReport", "ApplicantsReport", new { p = Model.Parameters.ParametersInBase64 })',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });
    </script>
}

