﻿@model IEnumerable<ECOsystem.Models.Account.Alarms>

@{
    var customerId = ECOsystem.Utilities.Session.GetCustomerId();
}

<div class="card">
    <div class="card-content">

        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">            
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Se puede indicar cuales alertas se deben visualizar en el icono de alertas
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            var isChecked = item.IsActive ? "checked='checked'" : "";
                            var idRuleActive = string.Format("{0}_Active", item.AlarmId);
                            var idRuleActiveText = string.Format("{0}_ActiveText", item.AlarmId);
                            var labelTextId = string.Format("{0}_LabelText", item.AlarmId);
                            var idDivText = string.Format("{0}_DivText", item.AlarmId);
                            var hiddentDiv = item.IsActive ? "" : "hidden";
                            var hasParameter = item.HasParameter ? 1 : 0;
                        }
                        <td style="width:10px;">
                            <span data-toggle="tooltip" data-placement="bottom" title="@item.Description">
                                <i class="mdi mdi-information" style="font-size:18px; color:#6D6E71"></i>
                            </span>
                        </td> 
                        <td name="AlarmDescription" class="middleCells" style="width:500px;">@item.Name</td>
                        <td class="middleCells" id="editTR" style="width:150px;">
                            <div class="form-horizontal">
                                <div class="col-sm-3" style="padding-left:0;">
                                    <input id="@idRuleActive" hasparameter="@hasParameter" alarmid="@item.AlarmId" name="@item.AlarmId" type="checkbox" class="toggleCheck" @isChecked />
                                </div>
                            </div>
                        </td>
                        <td>
                            @if (item.HasParameter)
                            {
                                <div class="form-inline pull-left @hiddentDiv" id="@idDivText">
                                    <label>@item.LabelParameter</label>
                                    <input type="text" class="form-control" id="@idRuleActiveText" placeholder="%" style="width:65px;" value="@item.ParameterValue" />
                                    <label>%</label>
                                    <label class="label label-danger hidden" id="@labelTextId">Valor Requerido</label>
                                </div>
                            }
                        </td> 
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <button data-toggle="modal" data-target="#confirmAlertsModal" style="margin-right: 46px;" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
