﻿@model List<ECOsystem.Management.Models.Survey>

@{
    ViewBag.Title = "Formularios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <link href="~/Content/Styles/RadarEffect.css" rel="stylesheet" />
    <style>
        .tableHeader {
            position: relative;
            height: 30px;
            background-color: #003594;
            color: #fff;
        }

        .tableOptionHeader {
            position: relative;
            height: 30px;
            background-color: #6d6e71;
            color: #fff;
        }

        #sortableQuestion {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: -20px;
        }

            #sortableQuestion li {
                margin: 1px 3px 3px 0;
                padding: 2px;
                float: left;
                width: auto;
                min-width: 100%;
                min-height: 35px;
                height: 100%;
                font-size: 20px;
                border: solid;
                border-color: grey;
                border-width: 1px;
            }

        .removeQuestion {
            cursor: pointer;
            color: red;
        }

        .editQuestion {
            cursor: pointer;
            color: darkorange;
        }

        #sortableOption {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: -20px;
        }

            #sortableOption li {
                margin: 1px 3px 3px 0;
                padding: 2px;
                float: left;
                width: auto;
                min-width: 100%;
                min-height: 35px;
                height: 100%;
                font-size: 20px;
                border: solid;
                border-color: grey;
                border-width: 1px;
            }

        .removeOption {
            cursor: pointer;
            color: red;
        }

        .editOption {
            cursor: pointer;
            color: darkorange;
        }

        .boxShadowSelect {
            box-shadow: 2px 2px 5px rgba(32, 150, 243, 1);
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("LoadSurvey", "Survey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECO_Management.Survey.OnSuccessLoad()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

@using (Ajax.BeginForm("LoadQuestion", "Survey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "QuestionContainer",
    OnSuccess = "ECO_Management.Survey.OnSuccessLoadQuestion(); ECO_Management.Survey.DisableSurveyButtons(true)"
}, new { id = "loadQuestionForm" }))
{
    @Html.Hidden("questionId")
    @Html.Hidden("questionType")
}

@using (Ajax.BeginForm("ValidateQuestionType", "Survey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "OptionContainer",
    OnSuccess = "ECO_Management.Survey.OnSuccessLoadOption()"
}, new { id = "ValidateQuestionTypeForm" }))
{
    @Html.Hidden("QuestionType")
}

@using (Ajax.BeginForm("DeleteQuestion", "Survey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECO_Management.Survey.OnSuccessLoad()"
}, new { id = "DeleteQuestionForm" }))
{
    @Html.Hidden("questionId")
    @Html.Hidden("surveyId")
    @Html.Hidden("surveyName")
}

@using (Ajax.BeginForm("DeleteOption", "Survey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "OptionContainer",
    OnSuccess = "ECO_Management.Survey.OnSuccessLoadOption()"
}, new { id = "DeleteOptionForm" }))
{
    @Html.Hidden("optionId")
}

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-sm-8">
                    <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar Formulario</button>
                </div>
                @using (Ajax.BeginForm("SearchSurvey", "Survey", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECO_Management.Survey.SuccessSearch()"
                }, new { id = "searchForm" }))
                {
                    <div class="col-sm-4 pull-right">
                        <div class="input-group">
                            <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por nombre">
                            <span class="input-group-btn">
                                <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                            </span>
                        </div>
                    </div>
                }
                <div class="col-lg-12">
                    <div id="detailContainer" class="row" hidden></div>
                </div>

                <div class="col-lg-12" id="InformationMessage"></div>

                <div class="col-lg-12" id="gridContainer">
                    @Html.Partial("_partials/_Grid", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_partials/_Modals")

@section scripts {
    <script src="~/Scripts/Management/Survey.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.Survey.Init();
        });
    </script>
}