﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.ControlFuelsReportsBase
@{
    ViewBag.Title = "Reporte de Alarmas de Geocercas";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus> ())
}

    <div id="page-content-wrapper">
        @using (Ajax.BeginForm("ExcelReportDownload", "GeofencesReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Efficiency.GeofencesReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECO_Efficiency.GeofencesReport.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {

        <div class="row">
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "onClick", "ECO_Efficiency.GeofencesReport.OnClickFirstDate();" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.CostCenterId, GeneralCollections.GetVehicleCostCenters, "Centro de Costo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.GeofencesId, GeneralCollections.GetGeoFence, "Geocerca:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
        </div>
        <br />
        <div class="pull-right">
            <button type="button" class="btn btn-success" onclick="ECO_Efficiency.GeofencesReport.OnClickDownloadReport()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
        </div>
}

        @using (Html.BeginForm("DownloadFile", "GeofencesReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }

        <br />
        <br />
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;El reporte concidera los ingresos y salidas a geocercas que hayan sido alertadas.
        </div>
        
        <br />
        <div id="ControlsContainer"></div>
    </div>

@section scripts {
    <script src="~/Scripts/Efficiency/GeofencesReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Efficiency.GeofencesReport.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
