﻿@model  ECOsystem.Areas.Control.Models.Control.CurrentFuelsReportBase
@{ 
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<script src="~/Content/Scripts/googleCharts/loader.min.js?v=@version-hf0"></script>

<div class="col-xs-12 col-sm-12 col-md-12">
    <div id="chartsCarouselCurrentFuelsReport" class="carousel slide" data-interval="false">
        <!-- Chart -->
        <div class="item active" data-item>
            <div id="gchart_CurrentFuelsReport" style="margin-bottom: 4%"></div>
        </div>

        <!-- Controls & Indicators -->
        <div>
            <a class="left carousel-control disabled" onclick="chart_load(-1)"><i class="mdi mdi-chevron-double-left mdi-32px"></i></a>
            <a class="right carousel-control" onclick="chart_load(+1)"><i class="mdi mdi-chevron-double-right mdi-32px"></i></a>
        </div>

        <div class="row">
            <ol id="container-control" class="carousel-indicators" href="#chartsCarouselspeedroute">
                @for (var i = 0; i < (Model.List.Count() / 12) + 1; i++)
                {
                    var active = i == 0 ? "active" : "";
                    <li data-target="#chartsCarouselCurrentFuelsReport" class="@active"></li>
                }
            </ol>
        </div>
    </div>
</div>

<script>
    window.chartIndicatiorsClass = 0;

    function chart_load(i) {
        var count = @Model.List.Count();
        if(window.chartIndicatiorsClass+i >=0 && window.chartIndicatiorsClass+i <= (count/12)){
            $('#container-control').find(".active").removeClass("active");
            window.chartIndicatiorsClass = i>0 ? window.chartIndicatiorsClass+1 : window.chartIndicatiorsClass-1;
            var elements = document.getElementsByClassName('carousel-indicators')[0].getElementsByTagName("li");
            elements[window.chartIndicatiorsClass].classList.add('active');
            google.charts.setOnLoadCallback(drawChart);
        }
    }

    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var modeldata = @Model.Parameters.Labels;
        var values = @Model.Parameters.Data;

        modeldata = modeldata.slice(chartIndicatiorsClass*12,chartIndicatiorsClass*12+12);
        values = values.slice(chartIndicatiorsClass*12,chartIndicatiorsClass*12+12);

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Matrícula');
        data.addColumn('number', 'Calificación');
        data.addRows(modeldata.length);

        for(var i=0; i < modeldata.length; i++) {
            data.setCell(i, 0,modeldata[i]);
            data.setCell(i, 1, values[i]);
        }

        var view = new google.visualization.DataView(data);
        var options = {
            legend: { position: 'none' },
            chart: {title: ' ' },
            bars: 'vertical',
            vAxis: {
                minValue: 0, maxValue: 100,format: '#\'%\''
            },
            height:400, colors:['gray']
        };

        options = google.charts.Bar.convertOptions(options);
        chart = new google.charts.Bar(document.getElementById('gchart_CurrentFuelsReport'));

        chart.draw(view, options);

        google.visualization.events.addListener(chart, 'select', colorize);
        google.visualization.events.addListener(chart, 'onmouseover', colorize);
        google.visualization.events.addListener(chart, 'ready', colorize);

    }

    function colorize() {
        var values = @Model.Parameters.Data;
        
        var colors = ['#d9534f', '#f0ad4e', '#5cb85c'];
            selection = chart.getSelection(),
            selected = selection[0] ? selection[0].row : -1,
            svg = document.getElementById('gchart_CurrentFuelsReport').querySelector('svg'),
            bars = svg.querySelectorAll('path');

            values = values.slice(window.chartIndicatiorsClass*12,window.chartIndicatiorsClass*12 +12);

        var c_red=  @Model.Parameters.GreenLower;
        var c_green = @Model.Parameters.RedHigher;
        for (var i=0;i<bars.length;i++) {
            if (i !== selected) {
                 
                if (values[i] > c_red)
                {
                    bars[i].setAttribute('fill', colors[0]);
                }
                else if (values[i] < c_green)
                {
                    bars[i].setAttribute('fill', colors[2]);
                }
                else
                {
                    bars[i].setAttribute('fill', colors[1]);
                }
                
            }
        }
    }

</script>


