﻿@using System.Text.RegularExpressions
@using  ECOsystem.Areas.Control.Models.Control
@model IEnumerable<dynamic>
@{
	int count = 0;
}

@if (Model != null && Model.Any())
{

	var type = new Regex(@"\[.+?\]").Matches(Model.GetType().ToString())[0].ToString().Replace("ECOsystem.Areas.Control.Models.Control.", "");
	switch (type)
	{
		case "[CurrentFuelsByVehicleGroupReport]":
			@(Html.Grid(Model.Select(item => item as CurrentFuelsByVehicleGroupReport))
												  .Columns(c =>
												  {
													  c.Add(m => m.VehicleGroupName).Titled("Grupo de Vehículos").SetWidth(240);
													  c.Add(m => m.AssignedAmountStr).Titled("Monto Asignado").SetWidth(110).Css("grid-col-right");
													  c.Add(m => m.RealAmountStr).Titled("Monto Real").SetWidth(110).Css("grid-col-right");
													  c.Add(m => m.RealAmountPctStr).Titled("% Consumo").SetWidth(110).Css("grid-col-right");
												  }
												  )
												  .Selectable(true)
			)
			break;
		case "[CurrentFuelsByVehicleSubUnitReport]":

			<div class="row grid-header">
				<div class="col-md-3 top5">
					Centro de Costo
				</div>
				<div class="col-md-3 top5">
					Monto Asignado
				</div>
				<div class="col-md-3 top5">
					Monto Real
				</div>
				<div class="col-md-3 top5">
					% Consumo
				</div>
			</div>

			<div class="accordion" id="accordion2">

				@foreach (CurrentFuelsByVehicleSubUnitReport item in Model)
				{
					string colapseName = "collapse" + count;
					string colapseId = "#collapse" + count;
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="@colapseId">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="row">
											<div class="col-md-3 ">
												@item.CostCenterName
											</div>
											<div class="col-md-3">
												@item.AssignedAmountStr
											</div>
											<div class="col-md-3">
												@item.RealAmountStr
											</div>
											<div class="col-md-3">
												@item.RealAmountPctStr
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div id="@colapseName" class="accordion-body collapse" style="height: 0px;">
							<div class="accordion-inner">
								@if (item.VehiclesDetail != null)
								{
									foreach (CurrentFuelsByVehicle vehicle in item.VehiclesDetail)
									{
								<div class="row">
									<div class="col-md-3">
										&nbsp; &nbsp; @vehicle.PlateNumber
									</div>
									<div class="col-md-3">
										@vehicle.AssignedAmountStr
									</div>
									<div class="col-md-3">
										@vehicle.RealAmountStr
									</div>
									<div class="col-md-3">
										@vehicle.RealAmountPctStr
									</div>
								</div>
									}
								}
							</div>
						</div>
					</div>
					count = count + 1;
				}

			</div>

			break;
		case "[CurrentFuelsByVehicle]":

			if (ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId == 100)
			{
				@(Html.Grid(Model.Select(item => item as CurrentFuelsByVehicle))
													  .Columns(c =>
													  {
														  c.Add(m => m.DecryptedName).Titled("Conductor").SetWidth(110);
														  c.Add(m => m.AssignedAmountStr).Titled("Presupuesto Mensual").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.TotalAmountStr).Titled("Presupuesto Total").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AssignedLitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Presupuestados").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.TotalLitersStr).Titled("Presupuesto en " + ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Total").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealAmountStr).Titled("Consumo del Mes").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.LitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Digitados").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealLitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Teóricos*").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealAmountPctStr).Titled("Porcentaje utilizado").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AvailableBalanceFormat).Titled("Monto Disponible").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AvailableLiters).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Disponible").SetWidth(110).Css("grid-col-right");
													  }
													  )
													  .Selectable(true)
				)
				<br />
				<p style="font-weight: bold;font-style: italic;">* Litros Teóricos: Son los litros que se calculan en base al precio de combustible al momento de la transacción. Es el que se utiliza para realizar las deducciones al presupuesto asignado al vehículo.</p>
			}
			else
			{
				@(Html.Grid(Model.Select(item => item as CurrentFuelsByVehicle))
													  .Columns(c =>
													  {
														  c.Add(m => m.PlateNumber).Titled("Vehículo").SetWidth(110);
														  c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(110);
														  c.Add(m => m.AssignedAmountStr).Titled("Presupuesto Mensual").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AditionalAmountStr).Titled("Presupuesto Adicional").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.TotalAmountStr).Titled("Presupuesto Total").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AssignedLitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Presupuestados").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AditionalLitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Adicionales").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.TotalLitersStr).Titled("Presupuesto en " + ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Total").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealAmountStr).Titled("Consumo del Mes").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.LitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Digitados").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealLitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Teóricos*").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealAmountPctStr).Titled("Porcentaje utilizado").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AvailableBalanceFormat).Titled("Monto Disponible").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.AvailableLiters).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + " Disponible").SetWidth(110).Css("grid-col-right");
													  }
													  )
													  .Selectable(true)
				)
				<br />
				<p style="font-weight: bold;font-style: italic;">* Litros Teóricos: Son los litros que se calculan en base al precio de combustible al momento de la transacción. Es el que se utiliza para realizar las deducciones al presupuesto asignado al vehículo.</p>
			}
			break;
		case "[CurrentFuelsByVehicleUnitsReport]":
			@(Html.Grid(Model.Select(item => item as CurrentFuelsByVehicleUnitsReport))
													  .Columns(c =>
													  {
														  c.Add(m => m.VehicleUnitName).Titled("Unidad").SetWidth(240);
														  c.Add(m => m.AssignedAmountStr).Titled("Monto Asignado").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealAmountStr).Titled("Monto Real").SetWidth(110).Css("grid-col-right");
														  c.Add(m => m.RealAmountPctStr).Titled("% Consumo").SetWidth(110).Css("grid-col-right");
													  }
													  )
													  .Selectable(true)
			)
			break;
	}

}
else
{
	<br />
	<div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
	</div>
}
