﻿@model ECO_Partner.Models.TypeZone

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.ZoneId, new { @id = "Id" })
        <div class="row">
            <div class="">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre", @class = "form-control", @id = "txtName", maxLength = 30 })
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Description, new { placeholder = "Descripción", @class = "form-control", @id = "txtDescription", maxLength = 150 })
                    </div>
                </div>
                <div class="col-sm-12 text-right">
                    <button type="button" id="btnCancelZone" class="btn btn-default"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="button" id="btnAddZone" onclick="ECO_Partner.CollectionZones.OnAddOrEditZone()" class="btn btn-success" title="Guardar"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>