﻿@model List<ECO_Partner.Models.TypeZone>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model, GridRenderOptions.Create("TypeZoneGrid"))
                                                  .Selectable(true)
                                                  .Columns(c =>
                                                  {
                                                      c.Add(m => m.Name).Titled("Nombre de Zona");
                                                      c.Add(m => m.Description).Titled("Descripción");
                                                      c.Add()
                                          .Encoded(false)
                                          .Sanitized(false)
                                          .RenderValueAs(m =>
                                                @<span>
                                                    <a class="edit-color" id="ZoneId" title="Editar" onclick="ECO_Partner.CollectionZones.OnLoad(@m.ZoneId)"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                                    <a class="delete-color" data-toggle="modal" data-target="#ConfirmationDelete" id="@m.ZoneId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                </span>
                                                        ).Css("grid-col-btn");
                                                      }))
        </div>
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados!
    </div>
}
