﻿@model ECO_Management.Models.Protocols

<!-- Modal Start-->
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.Id)        
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Nombre del Formulario")
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Formulario", @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button id="btnClose" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
