﻿@{
    ViewBag.Title = "Reportes Personalizados";
    ViewBag.HasGrid = true;
    Session["LoadMenusCustomReport"] = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .tableHeader {
            position: relative;
            height: 30px;
            background-color: #003594;
            color: #fff;
        }

        #sortableColumns {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: -20px;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;    
            left:35.9896px;
            display:block;
        }

            #sortableColumns li {
                margin: 1px 3px 3px 0;
                padding: 2px;
                float: left;
                width: auto;
                min-width: 50px;
                height: 35px;
                font-size: 20px;
                text-align: center;
                border: solid;
                border-color: grey;
                border-width: 1px;
            }

        .removeColumn {
            cursor: pointer;
            color: red;
        }

        .editColumn {
            cursor: pointer;
            color: darkorange;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    @Html.Hidden("Header", 8)
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper" class="removetop">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    @using (Ajax.BeginForm("LoadReport", "CustomReport", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "editContainer",
                        OnBegin = " ECOsystem.Areas.Admin.CustomReport.ShowLoader()",
                        OnSuccess = " ECOsystem.Areas.Admin.CustomReport.HideLoader();  ECOsystem.Areas.Admin.CustomReport.OnLoadReport()"
                    }, new { id = "showReportInfo" }))
                    {
                        <div class="col-sm-4">
                            <span data-toggle="tooltip" data-placement="top" title="Por favor seleccione un Reporte y presione el botón Editar" id="tooltipreport">
                                @Html.DropDownList("CReportId", ECOsystem.Business.Utilities.CustomReportsCollections.GetReports, "Digite ó Seleccione un Reporte", new { @class = "form-control" })
                            </span>
                        </div>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-success" id="btnEditReport"><i class="mdi mdi-pencil"></i>&nbsp;Editar</button>
                            <button type="button" class="btn btn-info" id="btnAddReport"><i class="mdi mdi-plus"></i>&nbsp;Agregar</button>
                        </div>
                        <div class="col-sm-12">
                            <br />
                            <hr style="border-top: 1px solid #ccc;" />
                        </div>
                    }
                </div>
                <div class="row" id="editContainer">
                    <div class="col-sm-12" style="margin-bottom: -30px;">
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;<b>Por favor seleccione un reporte y presione editar, eliminar ó presione agregar para añadir un nuevo reporte.</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_partials/_Modals")

@section scripts {

    <script src="~/Scripts/Administration/CustomReport.js?v=@version-hf0"></script>


    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.CustomReport.Init();
            $("#sortableColumns").sortable();
        });
    </script>
}


