﻿@model  ECOsystem.Models.Account.ModulesBase

@{
    ViewBag.Title = "Modules";
    ViewBag.Administration = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<div id="wrapper">
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="@header" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }   

    @* ********************************************************** *@

    @using (Ajax.BeginForm("AddOrEditModules", "UserRolesPermission", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose();"
    }, new { id = "addOrEditForm", autocomplete = "off" }))
    {
        <div id="detailContainer">
            @Html.Partial("_partials/_DetailModules", Model.Data)
        </div>
    }

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Mantenimiento de Modulos</h3>
            </div>
        </div>   
        

        @using (Ajax.BeginForm("SearchModules", "UserRolesPermission", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-sm-11">
                    <div class="input-group">
                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 text-right">
                    <button  type="button" class="btn btn-success" title="Agregar" onclick="ECO_Partner.UserRolesPermissions.AddModulesModal()"><i class=" mdi mdi-plus mdi-18px"></i></button>
                </div>
            </div>
        }

        <hr />

        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadModules", "UserRolesPermission", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECO_Partner.UserRolesPermissions.OnSuccessLoad()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_GridModules", Model.List)
            </div>
        </div>    

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteModules", "UserRolesPermission", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/UserRolesPermissions.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.UserRolesPermissions.Init();
        });
    </script>
}


