﻿@model ECOsystem.Models.Account.UserRolesBase
@{
    ViewBag.Title = "Roles";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<style>
    .tableHeader {
        position: relative;
        height: 30px;
        background-color: #003594;
        color: #fff;
    }
</style>

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("NewRoleId")
@Html.Hidden("NewRoleName")
<div id="page-content-wrapper">
    <div id="container-fluid">

        @using (Ajax.BeginForm("SearchRole", "UserRolesPermission", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-sm-2 pull-left">
                    <button type="button" class="btn btn-success" title="Agregar" onclick="ECO_Partner.UserRolesPermissions.AddModulesModal()"><i class="mdi mdi-plus mdi-18px"></i> Agregar Nuevo Rol</button>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input id="txtSearch" name="role_name" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify mdi-18px"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        }

        @using (Ajax.BeginForm("LoadRoles", "UserRolesPermission", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECO_Partner.UserRolesPermissions.ShowRoleDetail()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }

        @using (Ajax.BeginForm("AddOrEditRoles", "UserRolesPermission", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnBegin = "ECO_Partner.UserRolesPermissions.AddOrEditStart();",
            OnSuccess = "ECO_Partner.UserRolesPermissions.AddOrEditModalHide();"
        }, new { id = "addOrEditForm", autocomplete = "off" }))
        {
            <div id="detailContainer" hidden>
                @Html.Partial("_partials/_DetailRoles", Model.Data)
            </div>
        }

        <br />
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_GridRoles", Model.List)
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteRoles", "UserRolesPermission", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="AssingPermissionsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asignación de Permisos</h4>
            </div>
            <div class="modal-body center">
                <p>Por favor asigne los permisos correspondientes al nuevo Rol.<br /> Presione aceptar para continuar.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAssingPermissions" class="btn btn-primary" onclick="ECO_Partner.UserRolesPermissions.RedirectToPermissions();"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCustomerRoleModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Hidden("CustomerId")
            @Html.Hidden("PartnerId")
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea Eliminar el Cliente asociado al Rol?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnCustRoleDelete" class="btn btn-primary"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/UserRolesPermissions.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.UserRolesPermissions.Init();
        });
    </script>

}
