﻿@model  ECOsystem.Areas.Coinca.Models.TermsAndConditions

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <b>Términos y Condiciones - <span id="partnerName"></span></b>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PartnerId)
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("", "Teléfonos de Soporte:", new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Support, new { placeholder = "Teléfonos de Soporte", @class = "form-control", autofocus = "" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("", "Información:", new { @class = "col-sm-14 control-label" })
                    @Html.TextAreaFor(m => m.Info, new { placeholder = "Información", @class = "form-control textAreaExpand", autofocus = "", rows = "1" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("", "Servicios:", new { @class = "col-sm-14 control-label" })
                    @Html.TextAreaFor(m => m.Services, new { placeholder = "Servicios", @class = "form-control textAreaExpand", autofocus = "", rows = "1" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("", "Información en caso de robo:", new { @class = "col-sm-14 control-label" })
                    @Html.TextAreaFor(m => m.Thefth, new { placeholder = "Información en caso de robo", @class = "form-control textAreaExpand", autofocus = "", rows = "1" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("", "Términos y Condiciones:", new { @class = "col-sm-14 control-label" })
                    @Html.TextAreaFor(m => m.Terms, new { placeholder = "Términos y Condiciones", @class = "form-control textAreaExpand", autofocus = "", rows = "1" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.Active)&nbsp;Activo
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.ShowTerms)&nbsp;Mostrar Términos a todos los usuarios
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-default" onclick="$('#detailContainer').hide('slow');"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
