﻿@using  ECOsystem.Areas.Control.Models.Control
@model ConsolidateLiquidationReportBase
@{
    ViewBag.Title = "Liquidación Consolidada";
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    ViewBag.ConsolidateLiquidationReportIndex = "active";
    ViewBag.Full_Width = "full_width";
    ViewBag.HasGrid = true;
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
            padding: 5px 25px 5px 25px;
        }

        /*.carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }*/

        .carousel-indicators li {
            background: #4B4B4B;
        }

        .carousel-indicators .active {
            background: #428BCA;
        }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

        .carousel-control:hover {
            color: #d9534f;
        }

        .card
        {
            display:inline-block;
        }
    </style>
}


@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="3" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

<div id="page-content-wrapper">
    
    @using (Html.BeginForm("Index", "ConsolidateLiquidationReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" }, { "id", "ddlMonth" } })
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" }, { "id", "ddlYear" } })
            </div>
        </div>
    }

    @if (Model.List != null && Model.List.Any())
    {
        <div id="ControlsContainer">
            <div class="card">
                <div class="card-content">
                    @if (!isPrintView)
                    {

                        using (Ajax.BeginForm("ExcelReportDownload", "ConsolidateLiquidationReport", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnBegin = "ECO_Control.ConsolidateLiquidationReport.ShowLoader()",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "ECO_Control.ConsolidateLiquidationReport.HideLoader()"
                        }, new { id = "ExcelReportDownloadForm" }))
                        {
                            <input class="hidden" name="p" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
                        }

                        using (Html.BeginForm("DownloadFile", "ConsolidateLiquidationReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

                        <div class="dropdown pull-left">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                <i class="mdi mdi-download"></i> Exportar
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" onclick=" ECOsystem.Areas.Control.ConsolidateLiquidationReport.OnClickDownloadPartnerReport()">
                                        <i class=" mdi mdi-file-excel">
                                        </i>&nbsp;&nbsp;Exportar Excel
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                        <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Formato Impresión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-default" type="button" data-print>
                            <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                        </button>
                    }

                    <hr />

                    <div class="row">
                        <div class="col-sm-12" id="gridContainer">
                            @Html.Partial("_partials/_Grid", Model.List)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>


@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")

    <script src="~/Scripts/Control/consolidateLiquidationReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.ConsolidateLiquidationReport.Init({
                Model: @Html.Raw(Json.Encode(Model)),           
            });
        });
    </script>
}




