﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.FuelDistribution>
@{
    var customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    var capacityUnitValue = ECOsystem.Utilities.Session.GetCustomerCapacityUnitName();
}

<style>
    .checkboxallgrid {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
</style>


@if (Model.Count() > 200)
{
    <br />
    <br />
    <br />
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <strong>Atención!</strong> La consulta generó demasiados resultados, solo se mostrarán los primeros 200.
    </div>
    <br />
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-sm-12" id="validationAmountError2" hidden>
        <div id="errorAmountMsj2" class="alert alert-warning col-lg-12" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:10px;">
    <div class="col-lg-12" id="UpdateDateContainer">
        <button type="button" class="btn btn-primary btnSaveData" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Actualizar</button>
    </div>
</div>

@if (customer.IssueForId == 101)
{
    @(Html.Grid(Model)
        .Selectable(false)
        .Columns(c =>
        {
            c.Add()
                .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                        "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                            "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"checkall\"> </label>" +
                        "</span>" +
                    "</div>")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(2)
                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                    <label style="font-weight:bold;">
                        <input type="checkbox" class="showCheck gridchkbox" id="@m.Id" name="_Activo">
                    </label>
                </div>);
                        c.Add()
                            .Titled("Medio de Pago")
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(20)
                            .RenderValueAs(m => @<span class="center">
                                <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentName</label>
                                <label class="legend"></label>
                            </span>);
                        c.Add(m => m.PlateId).SetWidth(80).Titled("Matrícula");

                        c.Add(m => m.VehicleName).SetWidth(100).Titled("Vehículo");

                        c.Add(m => m.FuelName).SetWidth(100).Titled("Combustible");

                        c.Add(m => m.AssignedStr).SetWidth(80).Titled("Presupuesto<br /> Asignado");

                    if (customer.TypeBudgetDistribution == 1)
                    {

                        c.Add(m => m.AvailableLitersFormat)
                        .SetWidth(80)
                        .Titled("Disponible<br /> " + capacityUnitValue);
                    }
                    else
                    {

                        c.Add(m => m.AvailableStr)
                        .SetWidth(80)
                        .Titled("Presupuesto<br /> Disponible");
                                                                    }

                        c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(100)
                        .RenderValueAs(m => @<div style="width:150px;">
                            <div class="input-group">
                                @{ var _value = ECOsystem.Utilities.Miscellaneous.GetNumberFormatWithDecimal(@m.AdditionalCapacityUnitValue, 3, "es-CR", false); }
                                <input id="txtliters_@m.Id" vehicleId="@m.VehicleId" fuelId="@m.FuelId" rowId="@m.Id" type="text" class="form-control text-right calculatemount" value="@_value" data-currency="true" onkeypress="return validateInputNegative(event)">
                                @{
                                    //string _symbol = (_value.ToString().Contains("-")) ? "-" : "+";
                                    string _class = (m.Symbol.ToString() == "+") ? "background-color: green;" : "background-color: red;";
                                }
                                <div class="input-group-addon" id="symbol_@m.Id" style="cursor:pointer;color:white;@_class" onclick="ECO_Control.AdditionalVehicleFuelByGroup.ChangeSymbol(this,@m.Id)">@m.Symbol</div>
                                <input id="liters_@m.Id" type="hidden" value="@m.AdditionalCapacityUnitValue" data-form-liters>
                            </div>
                        </div>)
                        .Titled(capacityUnitValue + " Adicionales" + Html.Raw("<span><i title='Información' class='mdi mdi-information-outline' style='cursor:pointer;font-size:30px !important;margin-left:2% !important;' onclick='getUseInfo()'></i></span>"));



                                   c.Add()
                                   .Encoded(false)
                                   .Sanitized(false)
                                   .SetWidth(100)
                                   .RenderValueAs(m =>
                                   @<div style="width:165px;">
                                        <div class="input-group">
                                            <div class="input-group-addon">@m.CurrencySymbol</div>
                                                <input id="txtgridmount_@m.Id" vehicleId="@m.VehicleId" fuelId="@m.FuelId" rowId="@m.Id" type="text" class="form-control text-right calculateliters" value="@m.AdditionalAmountStr" data-currency="true" onkeypress="return validateInputNegative(event)">
                                                    @{
                                                        string _classAmount = (m.Symbol.ToString() == "+") ? "background-color: green;" : "background-color: red;";
                                                    }
                                            <div class="input-group-addon" id="symbolAmount_@m.Id" style="cursor:pointer;color:white;@_classAmount" onclick="ECO_Control.AdditionalVehicleFuelByGroup.ChangeSymbolAmount(this,@m.Id)">@m.Symbol
                                            </div>
                                        <input id="amount_@m.Id" type="hidden" value="@m.AdditionalAmountStr" data-form-value>
                                        </div>
                                    </div>)
                                   .Titled("Monto");

                                        c.Add()
                                          .Titled("Detalle")
                                          .Encoded(false)
                                          .Sanitized(false)
                                          .SetWidth(100)
                                          .RenderValueAs(m => @<div>
                                                    <span>
                                                        <i style="font-size:30px;margin-left:10px;" icon="@m.Id" vehicle="@m.VehicleId" fuelid="@m.FuelId" class="mdi mdi-file-document icon-detail" onclick="showDetail(this)"></i>
                                                    </span>
                                                </div>);
                                        if (Model.Where(x => !string.IsNullOrEmpty(x.ResultIcon)).Count() >= 1)
                                        {
                                            c.Add()
                                                .Encoded(false)
                                                .Sanitized(false)
                                                .SetWidth(150)
                                                .RenderValueAs(m => "<div class='operationResult'>" + m.ResultIcon + m.ResultStr + "</div>");
                                        }
        }).SetRowCssClasses(m => m.Selected != null ? (bool)m.Selected ? "selectRow modifiedRowVehicle" : string.Empty : string.Empty))

}
else
{

    @(Html.Grid(Model)
        .Selectable(false)
        .Columns(c =>
        {
            c.Add()
                .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                        "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                            "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"checkall\"> </label>" +
                        "</span>" +
                    "</div>")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(2)
                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                    <label style="font-weight:bold;">
                        <input type="checkbox" class="showCheck gridchkbox" id="@m.Id" name="_Activo">
                    </label>
                </div>);

        c.Add(m => m.DecryptedName).SetWidth(100).Titled("Nombre de Conductor");
        c.Add(m => m.DecryptedIdentification).SetWidth(100).Titled("Identificacion");
        c.Add(m => m.RealAmountStr).SetWidth(100).Titled("Presupuesto Utilizado");
        c.Add(m => m.AvailableStr).SetWidth(100).Titled("Presupuesto Disponible");


        c.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(100)
        .RenderValueAs(m =>
                                   @<div style="width:165px;">
                                        <div class="input-group">
                                            <div class="input-group-addon">@m.CurrencySymbol</div>
                                                <input id="txtgridmount_@m.Id" vehicleId="@m.VehicleId" fuelId="@m.FuelId" rowId="@m.Id" type="text" class="form-control text-right calculateliters" onkeypress="return validateInputNegative(event)" value="@m.AdditionalAmountStr" data-currency="true">
                                                    @{
                                                        string _classAmount = (m.Symbol.ToString() == "+") ? "background-color: green;" : "background-color: red;";
                                                    }
                                            <div class="input-group-addon" id="symbolAmount_@m.Id" style="cursor:pointer;color:white;@_classAmount" onclick="ECO_Control.AdditionalVehicleFuelByGroup.ChangeSymbol(this,@m.Id)">@m.Symbol
                                            </div>
                                        <input id="amount_@m.Id" type="hidden" value="@m.AdditionalAmountStr" data-form-value>
                                        </div>
                                    </div>)
                                   .Titled("Monto");

                                        c.Add()
                                          .Titled("Detalle")
                                          .Encoded(false)
                                          .Sanitized(false)
                                          .SetWidth(100)
                                          .RenderValueAs(m => @<div>
                                                    <span>
                                                        <i style="font-size:30px;margin-left:10px;" icon="@m.Id" vehicle="@m.DriverId" fuelid="@m.DriverFuelId" isDriver="1" class="mdi mdi-file-document icon-detail" onclick="showDetail(this)"></i>
                                                    </span>
                                                </div>);
                                        if (Model.Where(x => !string.IsNullOrEmpty(x.ResultIcon)).Count() >= 1)
                                        {
                                            c.Add()
                                                .Encoded(false)
                                                .Sanitized(false)
                                                .SetWidth(150)
                                                .RenderValueAs(m => "<div class='operationResult'>" + m.ResultIcon + m.ResultStr + "</div>");
                                        }
        }).SetRowCssClasses(m => m.Selected != null ? (bool)m.Selected ? "selectRow modifiedRowVehicle" : string.Empty : string.Empty))

   /* @(Html.Grid(Model)
        .Selectable(false)
        .Columns(c =>
        {
            c.Add()
                .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                            "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"checkall\"> </label>" +
                            "</span>" +
                        "</div>")
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(2)
                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                    <label style="font-weight:bold;">
                        <input type="checkbox" class="showCheck gridchkbox" id="@m.Id" name="_Activo">
                    </label>
                </div>);
                        c.Add(m => m.DecryptedName).SetWidth(100).Titled("Nombre de Conductor");
                        c.Add(m => m.DecryptedIdentification).SetWidth(100).Titled("Identificacion");
                        c.Add(m => m.RealAmountStr).SetWidth(100).Titled("Presupuesto Utilizado");
                        c.Add(m => m.AvailableStr).SetWidth(100).Titled("Presupuesto Disponible");


            c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(100)
            .RenderValueAs(m =>
            @<div style="width:150px;">
                <div class="input-group">
                    <div class="input-group-addon">@m.CurrencySymbol</div>
                    <input id="txtgridmount_@m.Id" vehicleId="@m.VehicleId" fuelId="@m.FuelId" rowId="@m.Id" type="text" class="form-control text-right calculateliters" value="@m.AdditionalAmountStr" data-currency="true">
                     @{
                         string _classAmount = (m.Symbol.ToString() == "+") ? "background-color: green;" : "background-color: red;";
                     }
                    <div class="input-group-addon" id="symbolAmount_@m.Id" style="cursor:pointer;color:white;@_classAmount" onclick=" ECOsystem.Areas.Control.AdditionalVehicleFuelByGroup.ChangeSymbolAmount(this,@m.Id)">@m.Symbol
                    </div>
                    <input id="amount_@m.Id" type="hidden" value="@m.AdditionalAmount" data-form-value>
                </div>
            </div>)
            .Titled("Monto");



            if (Model.Where(x => !string.IsNullOrEmpty(x.ResultIcon)).Count() >= 1)
            {
                c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(250)
                .RenderValueAs(m => "<div class='operationResult'>" + m.ResultIcon + m.ResultStr + "</div>");
            }
        }).SetRowCssClasses(m => m.Selected != null ? (bool)m.Selected ? "selectRow modifiedRowVehicle" : string.Empty : string.Empty))*/

}

<div class="row" style="margin-bottom:-20px;">
    <div class="col-lg-12" id="UpdateDateContainer">
        <button type="button" class="btn btn-primary btnSaveData" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Actualizar</button>
    </div>
</div>

<script src="~/Scripts/sweetalert.min.js"></script>
<script>

    function ValidateSymbolsAndLetters(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Backspace key to delete and enter, always allows it
        if (tecla == 8 || tecla == 13) {
            return true;
        }
        patron = /[0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }

    setTimeout(() => {
        let icons = document.getElementsByClassName('icon-detail')
        for (var i = 0; i < icons.length; i++) {
            let id = icons[i].getAttribute('icon')
            let html = icons[i].parentNode.parentNode.parentNode.parentNode.outerHTML
            icons[i].parentNode.parentNode.parentNode.parentNode.outerHTML = `${html}
                <tr id='row${id}' hidden>
                    <td colspan=9>
                        <div>
                            <table class='table table-bordered'>
                                <thead>
                                    <tr>
                                        <th>Fecha de Registro</th>
                                        <th>Monto Aumentado</th>
                                        <th>Monto Disminuido</th>
                                        <th>@capacityUnitValue</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody id='tbodyData${id}'></tbody>
                            </table>
                        </div>
                    </td>
                </tr>`
        }
    }, 1000);
    function showDetail(element) {
        let id = element.getAttribute('icon')
        let vehicleId = element.getAttribute('vehicle')
        let fuelId = element.getAttribute('fuelid')
        //let isDriver = (element.getAttribute('isDriver') == '1') ? 1 : 0
        console.log(id)
        if ($('#row' + id).prop("hidden")) {
            $('#row' + id).prop("hidden", false)
            loadDetail(id, vehicleId, fuelId)
        }
        else {
            $('#row' + id).prop("hidden", true)
        }
    }
    function loadDetail(id, vehicleId, fuelId) {
        $.post('@Url.Action("GetVehicleAdditionalDetail", "AdditionalVehicleFuelByGroup")',
            { vehicleId: vehicleId, fuelId: fuelId, isDriver: null},
            function (data) {
                let html = ""
                for (var i = 0; i < data.length; i++) {
                    let aumento = ""
                    let disminuye = ""
                    if (data[i].AdditionalAmount < 0)
                        disminuye = data[i].AdditionalAmountStr.replace("-", " ")
                    else
                        aumento = data[i].AdditionalAmountStr
                    let insertDate = new Date(parseInt(data[i].InsertDate.replace("/Date(", "").replace(")/", "")))
                    let litros = data[i].AdditionalLitersStr.replace("-", " ");
                    var dd = insertDate.getDate();
                    var mm = insertDate.getMonth() + 1;
                    var yyyy = insertDate.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd;
                    }
                    if (mm < 10) {
                        mm = '0' + mm;
                    }
                    insertDate = dd + '/' + mm + '/' + yyyy;
                    html += `<tr>
                                <td>${insertDate}</td>
                                <td>${aumento}</td>
                                <td>${disminuye}</td>
                                <td>${litros}</td>
                                <td>${data[i].UserNameDecrypted}</td>
                            </tr>`
                }
                if (data.length == 0) {
                    html = '<tr><td colspan=5 class="text-center">No hay datos para mostrar</td></tr>'
                }
                $('#tbodyData'+id).html(html)
            })
    }
    function getUseInfo() {
        swal("Mensaje del Sistema", "El ícono '+' se utiliza para aumentar el presupuesto adicional, el ícono de '-' para reducirlo",'info');
    }

    function validateInputNegative(evt) {
        evt = (evt) ? evt : window.event
        let charCode = (evt.which) ? evt.which : evt.keyCode

        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

            //Valida que se puedan poner punto o coma
            if (charCode == 190 || charCode == 110 || charCode == 46 || charCode == 44) {
                return true;
            }

            return false;
        }
        return true;
    }
</script>


