﻿@model IEnumerable<ECO_Efficiency.Models.PassControlUnit>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="search-color" id="@m.UnitId" title="Editar" edit_row><i class="glyphicon glyphicon-search"></i></a>
                </span>).Css("grid-col-btn");
          }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}