﻿@model IEnumerable<ECO_Efficiency.Models.PassControlUnit>

@foreach (var item in Model.Select(x => new { x.UnitId, x.Name }).Distinct())
{
    <div class="VehiclePanelRight" gvname="@item.UnitId">
        <div class="panel-group margin0 card-content" id="Centro@item.VehicleGroupId">
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#Group-@item.UnitId" href="#Group-@item.UnitId">
                    <h4 class="panel-title link">
                        <i class="mdi mdi-plus"></i><label cc="@item.UnitId" class="btnCheckGroup" />&nbsp;@item.Name
                    </h4>
                </div>
                <div id="Group-@item.UnitId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var Group in Model.Where(c => c.UnitId == item.UnitId))
                        {
                            <div class="checkbox checkboxGV" vhplate="@Group.UnitId" vhname="@Group.Name">
                                <a href="#" class="search-color" id="@Group.UnitId" title="Editar" edit_row><i class="glyphicon glyphicon-search"></i></a><label>&nbsp;&nbsp;<strong>@Group.Name</strong> @Group.UnitId</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}


