﻿@model ECO_Operation.Models.WeightedScoreSettingsBase
@{
    ViewBag.Title = "Mantenimiento de los Parámetros de Calificación Ponderada";
    ViewBag.Operation = "active";
    ViewBag.OperationSettings = "active";
    ViewBag.OperationSettingsWeightedScoreSettings = "active";

    ViewBag.HasGrid = true;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {

}


@using (Ajax.BeginForm("AddOrEditWeightedScoreSettings", "WeightedScoreSettings", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose(); CalculateScore();"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="4" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="card">
            <div class="card-content">          

                <!-- Search Area Start-->
                @using (Ajax.BeginForm("SearchWeightedScoreSettings", "WeightedScoreSettings", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECOsystem.Utilities.SuccessSearch(); CalculateScore();"
                }, new { id = "searchForm" }))
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <button id="btnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrEditModal" title="Agregar"><i class="mdi mdi-plus"></i> Agregar Parámetro</button>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                                <span class="input-group-btn">
                                    <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                </span>
                            </div>
                        </div>

                    </div>
                }
                <!-- Search Area End-->
                <!-- Load Form Start-->
                @using (Ajax.BeginForm("LoadWeightedScoreSettings", "WeightedScoreSettings", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "detailContainer",
                    OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow(); CalculateScore();"
                }, new { id = "loadForm" }))
                {
                    @Html.Hidden("id")
                }
                <!-- Load Form End-->
                <!-- Dele Modal Start-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            @using (Ajax.BeginForm("DeleteWeightedScoreSettings", "WeightedScoreSettings", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "gridContainer",
                                OnSuccess = "ECOsystem.Utilities.DeleteModalClose(); CalculateScore();"
                            }, new { id = "deleteForm" }))
                            {
                                @Html.Hidden("id")
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Confirmar Eliminación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro que desea eliminar el registro?</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- Delete Modal End -->

                <div class="row">
                    <div class="col-lg-12" id="gridContainer">
                        @Html.Partial("_partials/_Grid", Model.List)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr />
                        <span class="pull-right fbold">
                            Total: <span id="score"></span> Puntos
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            CalculateScore();
        });

        function CalculateScore() {
            var total = 0;
            $("td[data-name='Weight']").each(function (index, value) {
                total += parseInt($(this).html());
            });
            $("#score").html(total);
        }

    </script>
}
