﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.ControlFuelsReportsBase
@{
    ViewBag.Title = "Reporte Última Transmisión Vehicular";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "LastVehicleTransReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Efficiency.LastVehicleTransReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECO_Efficiency.LastVehicleTransReport.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {

        <div class="row">
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.CostCenterId, GeneralCollections.GetVehicleCostCenters, "Centro de Costo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-success" onclick="ECO_Efficiency.LastVehicleTransReport.OnClickDownloadReport()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
            </div>
        </div>
    }
    <br />
    <div id="ControlsContainer">
        <div class="alert alert-info alert-dismissible fade in" role="alert" >
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;El reporte muestra la última ubicación de un vehículo, en un día en específico.
        </div>
    </div>

    @using (Html.BeginForm("DownloadFile", "LastVehicleTransReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }
</div>

@section scripts {
    <script src="~/Scripts/Efficiency/LastVehicleTransReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Efficiency.LastVehicleTransReport.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
