@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap')
h1, h2, h3, h4, h5, h6, div, span, div, input{font-family: 'Poppins', sans-serif !important;}
p{color:#000;}
.navbar-nav.ml-auto li .nav-link {
    font-size: 20px;
    color: #303030 !important;
    font-weight: 400;
}
.navbar-nav li{
    padding-right: .8rem!important;
    padding-left: .8rem !important;}

.navbar-nav.ml-auto li .nav-link{padding:0px; !important;}
.nav-item.active .nav-link {
    border-bottom: 2px solid #e62332;
    padding-bottom: 8px !important; display:inline-block;
}
.navbar-nav .nav-item .nav-link:hover{   border-bottom: 2px solid #e62332;
    padding-bottom: 8px !important;}
.fb_icon {
    background: #4d4a8d;
    color: #fff !important;
    width: 33px;
    border-radius: 50%;
    height: 33px;
    text-align: center;
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-top: 2px;
    transition:0.4s;
}
.fb_icon:hover{ background: #2f2b8b;}
a.navbar-brand img {
    width: 200px !important;
}
.bg-white{background:#fff;}
.login_hold {
    background-image: url(../img/login_bg.jpg);
      padding: 7rem 0px;
    background-repeat: no-repeat;
    background-size: cover; 
}
input.form-control {
    border-radius: 40px;
    height: 52px;
    border: none;
    text-indent: 20px;
    font-weight: 500;
}
.ingreso_title {
    font-size: 32px;
    font-weight: 700;
}
.btn.btn-primary{ border-radius: 40px; background:#e62332; color:#fff; width:100%; border-color:#e62332; height:52px; transition:0.4s; font-size:22px;}
.btn.btn-primary:hover{background:#cb0d1b;}


footer{background:#fff; }
.footer_logo {
    width: 250px;
}
.footer_discriptin {
    font-size: 18px;
    font-weight: 400;
}

p.footer_copyright {
    color: #000;
    font-weight: 400;
    font-size: 16px;
}





/*checkbox*/
/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius:4px;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
      background-color: #fff;
    border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox_value {
    left: 15px;
    position: relative;
    font-weight:500;
    font-size:17px;
}

.blo_btn{ font-weight:500;
    font-size:17px;}




/*===== Media Query =======*/

@media only screen and (max-width: 767px) {
.navbar-nav.ml-auto li {
    margin-bottom: 10px;
}


}






