﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.AlarmsModels>
@{
    string habilitada = "Si";
    string deshabilitada = "No";
    List<int> groupsEntities= new List<int>();
    string entityName = "";
    string entityType = "";
}
@if (Model!=null && Model.Any())
{
<table class="table">
    <tbody>
           
        @foreach(var group in Model.GroupBy(x=>x.EntityId))
        {
    
            foreach(var item in group)
            {
                if(!groupsEntities.Contains(item.EntityId)){
                    entityName = item.EntityStr;
                    entityType = item.EntityType;
                    groupsEntities.Add(item.EntityId);
                }
                else{
                    entityName = "";
                    entityType = "";
                }
       
                <tr class="active">
                     <th><b>@entityName</b></th>
                     <td><b>@entityType</b></td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                </tr>
                <tr>
                    <th class="grid-cell">Tipo de Alarma</th>
                    <th>Teléfonos</th>
                    <th>Correos Electrónicos</th>
                    @*<th>Habilitada</th>*@
                </tr>
                <tr>
                    <td class="grid-cell">@item.AlarmType</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    @*<td>@if (item.Active) {@habilitada}else{@deshabilitada}</td>*@
                </tr>
            }
 
        }
    </tbody>
</table>
}