﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.AlarmsModels>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
              .AutoGenerateColumns()
              .Selectable(true)
              .SetLanguage("es")
              .Columns(c =>
              {
                  c.Add(m => m.AlarmType).Titled("Tipo de Alarma").Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2).RenderValueAs(m => @m.AlarmType).Encoded(false).Sanitized(false);

                  c.Add(m => m.EntityType).Titled("Tipo de Entidad").Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2).RenderValueAs(m => @m.EntityType).Encoded(false).Sanitized(false);

                  c.Add(m => m.EntityStr).Titled("Entidad").Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2).RenderValueAs(m => @m.EntityStr).Encoded(false).Sanitized(false);                 

                  c.Add(m => m.Email).Titled("Correos Electrónicos").Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2).RenderValueAs(m => @m.Email).Encoded(false).Sanitized(false);
                
                  c.Add(m => m.Active).Titled("Habilitada").Encoded(false).Sanitized(false)
                  .RenderValueAs(m => Html.CheckBox("_Active", m.Active, new { disabled = "disabled", @class = "chkActive" })).Encoded(false).Sanitized(false).Css("grid-col-center");

                  c.Add()
                  .Encoded(false)
                  .Sanitized(false)                
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.AlarmId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                    <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModalAlarm" id="@m.AlarmId" title="Eliminar" del_row_alarm><i class="mdi mdi-32px mdi-close-box"></i></a>
                </span>).Css("grid-col-btn");

          }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}