﻿
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
               
                <li class="@ViewBag.AlarmsList">
                    <a class="@ViewBag.AlarmsListndex" href="@Url.Action("AlarmsList", "Alarm")"><img src="~/Content/Images/menu_alarm.png" class="right10" />Lista de Alarmas</a>
                    @*<ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.AlarmsListI" href="@Url.Action("AlarmsList", "Alarm")">Lista de Alarmas</a>
                        </li>
                    </ul>*@
                    <!-- /.nav-second-level -->
                </li>

@*                <li class="@ViewBag.Reports">
                    <a href="#"><img src="~/Content/Images/menu_reports.png" class="right10" />Reportes</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.AlarmsByVehicles" href="@Url.Action("AlarmsByVehicles", "Alarm")">Alarmas por Vehículos</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>*@
               
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
