﻿@model IEnumerable<ECO_Management.Models.AnswersByProtocol>

<style>
    .titleColor {
        background-color: #6ea0cc !important;
        color: white !important;
    }

    .bodyColor {
        background-color: aliceblue !important;
    }

    .tableHeader {
        position: relative;
        height: 30px;
        background-color: rgb(127, 185, 235);
        color: #fff;
        width: 400px !important;
    }

    .nextquestiongroup {
        width: 500px;
    }
</style>
    @foreach (var item in Model.GroupBy(x => x.Id))
    {
        <div id="ListQuestions" class="connected scrol-list">
            <div class="panel panel-default">
                <div class="panel-heading titleColor">
                    <div class="row">
                        <div id="@string.Format("lblAnswerId_{0}", item.First().Id)">
                            <div class="col-sm-8">
                                <h3 class="panel-title" style="margin-top: 10px;">
                                    <span id="@string.Format("activeAnswerId_{0}", item.First().Id)"><b>@item.First().Text</b></span>
                                </h3>

                            </div>
                            <div class="col-sm-2 text-right">
                                <button type="button" class="btn btn-warning btnEditAnswer" id="@item.First().Id"><i class="mdi mdi-pencil"></i>&nbsp;Editar Respuesta</button>
                            </div>

                            <div class="col-sm-2">
                                <button type="button" class="btn btn-warning btnDeleteAnswer" questionid="@item.First().Id" id="@item.First().Id"><i class="mdi mdi-pencil"></i>&nbsp;Eliminar Pregunta</button>
                            </div>
                        </div>

                        @* Modificacion de preguntas *@
                        <div hidden id="@string.Format("editAnswerId_{0}", item.First().Id)">
                            <div class="col-sm-8">
                                @Html.TextBox("txtEditAnswer_" + item.First().Id, item.First().Text, new { @class = "form-control", @placeholder = "Digite su nueva Respuesta" })
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="button" class="btn btn-default btnCancelSaveAnswer" id="@item.First().Id"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                <button type="button" class="btn btn-warning btnSaveAnswer" id="@item.First().Id" questionid="@item.First().Id"><i class="mdi mdi-content-save"></i>&nbsp;Actualizar Respuesta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

