﻿@model IEnumerable<ECO_Management.Models.QuestionsDetailShow>
@{
    var protocolName = Model.Any() ? string.Format(" - {0}", Model.First().ProtocolName) : string.Empty;
}
<div class="modal fade" id="protocolsimulatorModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Simulación de Formulario @protocolName</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0;">
                <div class="row">
                    @if (Model.Any())
                    {
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span id="questionTitle">@Model.FirstOrDefault().Order : @Model.FirstOrDefault().Question</span>
                                </div>
                                <div class="panel-body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12" id="currentQuestionContainer">
                                            @switch (Model.FirstOrDefault().Code)
                                            {
                                                case "QUESTIONS_TYPE_TEXT":
                                                    @Html.TextArea("txtQuestion", new { @class = "form-control", @placeholder = "Digite su respuesta" })
                                                    break;

                                                case "QUESTIONS_TYPE_IMAGE":
                                                    <div class="input-group">
                                                        <input id="txtFile" name="key" type="text" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Management.QuestionsByProtocols.OnClickImport()"><i class="mdi mdi-magnify"></i>&nbsp;Buscar</button>
                                                            <input type="file" class="hide" id="ImportImg" size="43" name="fileHidden" onchange="ECO_Management.QuestionsByProtocols.GetFile(this)" />
                                                        </span>
                                                    </div>
                                                    break;

                                                case "QUESTIONS_TYPE_SIGN":
                                                    <div class="input-group">
                                                        <input id="txtFile" name="key" type="text" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Management.QuestionsByProtocols.OnClickImport()"><i class="mdi mdi-magnify"></i>&nbsp;Buscar</button>
                                                            <input type="file" class="hide" id="ImportImg" size="43" name="fileHidden" onchange="ECO_Management.QuestionsByProtocols.GetFile(this)" />
                                                        </span>
                                                    </div>
                                                    break;
                                                    
                                                case "QUESTIONS_TYPE_CHECK":
                                                    foreach (var item in Model.Where(x => x.QuestionId == Model.FirstOrDefault().QuestionId || x.Order == Model.FirstOrDefault().Order))
                                                    {
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">&nbsp;@item.Answer
                                                            </label>
                                                        </div>
                                                    }
                                                    break;

                                                case "QUESTIONS_TYPE_RADIO":
                                                    foreach (var item in Model.Where(x => x.QuestionId == Model.FirstOrDefault().QuestionId || x.Order == Model.FirstOrDefault().Order))
                                                    {
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" class="@string.Format("rdbAnswersWithRelation rdbAnswer_{0}", item.Order)" relation="@item.Relation" order="@item.Order" answercode="@Model.FirstOrDefault().Code" name="answer">&nbsp;@item.Answer
                                                            </label>
                                                        </div>
                                                    }
                                                    break;
                                            }                                            
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12">
                            <div class="alert alert-info alert-dismissible fade in" role="alert">
                                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar.
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        @if (Model.Any())
                        {
                            var nextQuestion = Model.Select(x => x.Order).Distinct().Skip(1).FirstOrDefault();
                            var showfinish = nextQuestion == null ? "" : "hide";
                            var showNext = nextQuestion != null ? "" : "hide";

                            <button type="button" class="btn btn-success @showfinish" data-dismiss="modal" id="btnFinishSimulation"><i class="mdi mdi-check"></i>&nbsp;Finalizar</button>
                            <button type="button" class="btn btn-primary @showNext" id="btnNextQuestion" currentorder="@Model.FirstOrDefault().Order" nextquestion="@nextQuestion" answercode="@Model.FirstOrDefault().Code">
                                <i class="mdi mdi-arrow-right"></i>&nbsp;Siguiente Pregunta
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

