﻿@model IEnumerable<ECO_Management.Models.QuestionsDetailShow>

<style>

    .titleColor {
        background-color: #6ea0cc !important;
        color: white !important;
    }

    .bodyColor {
        background-color: aliceblue !important;
    }

    .tableHeader {
        position: relative;
        height: 30px;
        background-color: rgb(127, 185, 235);
        color: #fff;
        width: 400px !important;
    }

    .nextquestiongroup {
        width: 500px;
    }
</style>
@foreach (var item in Model.GroupBy(x => x.QuestionId))
{
    if (item.First().Code == "QUESTIONS_TYPE_SUMMARY")
    {
        <span id="spanSummary" SummaryQuestionID ="@item.First().QuestionId" hidden></span>
    }
    else
    {
        <div class="panel panel-default" order="@item.First().Order)" questionid="@item.First().QuestionId">
            <div class="panel-heading titleColor ">
                <div class="row">
                    <div>
                        <div id="@string.Format("lblQuestionId_{0}", item.First().Order)">
                            <div class="col-sm-8">
                                <h3 class="panel-title" style="margin-top: 10px;">
                                    <span id="@string.Format("activeQuestionId_{0}", item.First().Order)"><b>@item.First().Order:&nbsp;@item.First().Question</b></span>
                                </h3>
                            </div>
                            <div class="col-sm-2 text-right">
                                <button type="button" class="btn btn-warning btnEditQuestion" id="@item.First().Order"><i class="mdi mdi-pencil"></i>&nbsp;Editar Pregunta</button>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-warning btnDeleteQuestion" questionid="@item.First().QuestionId" id="@item.First().Order"><i class="mdi mdi-pencil"></i>&nbsp;Eliminar Pregunta</button>
                            </div>
                        </div>
                    </div>
                    @* Modificacion de preguntas *@
                    <div hidden id="@string.Format("editQuestionId_{0}", item.First().Order)">
                        <div class="col-sm-8">
                            @Html.TextBox("txtEditQuestion_" + item.First().Order, item.First().Question, new { @class = "form-control", @placeholder = "Digite su la nueva pregunta" })
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-default btnCancelSaveQuestion" id="@item.First().Order"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="button" class="btn btn-warning btnSaveQuestion" id="@item.First().Order" questionid="@item.First().QuestionId"><i class="mdi mdi-content-save"></i>&nbsp;Actualizar Pregunta</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body bodyColor">
                @Html.Hidden(string.Format("ProgramProtocolId_{0}", item.First().Order), item.First().ProgramProtocolId)
                <div class="row">

                    <div class="col-sm-3" id="@string.Format("divTypeContainer_{0}", item.First().Order)">
                        @Html.Label("Tipo de Respuesta")
                        @Html.DropDownList("ddxTypeId_" + item.First().Order, ECO_Management.Utilities.GeneralCollections.GetAnswerTypes, "Seleccione un Tipo de Respuesta",
                                                                                                                                                                                             new { @class = "form-control ddlTypes", custom = "true", orderId = item.First().Order, questionId = item.First().QuestionId, @value = item.First().Code })
                    </div>

                    <div class="col-sm-9" style="border-left: 1px solid #ccc;">
                        <div class="alert alert-success alert-dismissible fade in" role="alert">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;<i id="@string.Format("infoForAnswers_{0}", item.First().Order)">Seleccione un tipo de respuesta.</i>
                        </div>

                        @{
                            string showorhide = Model.Where(x => x.QuestionId == item.First().QuestionId && x.AnswerId != null).Select(a => a.AnswerId).Count() > 0 ? "" : "hidden";
                            string shownextquestion = "thnextquestion_" + item.First().Order + (item.First().Code != "QUESTIONS_TYPE_CHECK" ? " " : " hidden");
                        }

                        <div id="@string.Format("showAnswers_{0}", item.First().Order)" @showorhide>
                            <div class="row">
                                <div class="col-sm-11">
                                    <span data-toggle="tooltip" data-placement="top" title="Seleccione una de las opciones ó digite su respuesta y presione enter">
                                        @Html.TextBox(string.Format("txtNewAnswer_{0}", item.First().Order), "", new { @class = "form-control", @placeholder = "Digite su Respuesta" })
                                    </span>
                                </div>
                                <div class="col-sm-1 text-right">
                                    <button type="button" class="btn btn-success btnAddAnswer" id="@item.First().Order"><i class="mdi mdi-plus"></i></button>
                                </div>
                            </div>
                            <br />
                            <div id="@string.Format("AnswersContainer_{0}", item.First().Order)">
                                <table class="table table-striped" id="@string.Format("listAnswerTable_{0}", item.First().Order)">
                                    <thead>
                                        <tr>
                                            <th class="tableHeader">Respuesta</th>
                                            <th class="tableHeader @shownextquestion" id="@string.Format("NextQuestionColum_{0}", item.First().Order)">Pregunta</th>
                                            @*<th class="tableHeader">Magnitud</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int answercount = 1; }
                                        @foreach (var ans in Model.Where(x => x.QuestionId == item.First().QuestionId && x.AnswerId != null))
                                        {
                                            <tr>
                                                <th>@ans.Answer</th>
                                                <th class="@shownextquestion">
                                                    <div class="input-group nextquestiongroup">
                                                        <span data-toggle="tooltip" data-placement="top" title="Seleccione una de las opciones ó digite su respuesta y presione enter">
                                                            @Html.TextBox(string.Format("txtNextQuestion_{0}_{1}_{2}", item.First().Order, ans.AnswerId, answercount),
                                                                                    (ans.Relation == null ? "" : Model.Where(a => a.Order == ans.Relation).FirstOrDefault().Question),
                                                                                    new { @class = "form-control txtNextQuestion", @placeholder = "Siguiente Pregunta", orderid = @item.First().Order, answerid = @ans.AnswerId, answercount = @answercount })
                                                        </span>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-warning btnNextQuestion" id="@item.First().Order" answerid="@ans.AnswerId" answerorderid="@answercount"><i class="mdi mdi-plus"></i>&nbsp;</button>
                                                        </span>
                                                    </div>
                                                </th>
                                                @*<th>
                                                        @Html.DropDownList(string.Format("ddlLevel_{0}_{1}_{2}", item.First().Order, ans.AnswerId, answercount), ECO_Management.Utilities.GeneralCollections.GetAnswersLevels,
                                                                     "Seleccione el nivel", new { @class = "form-control ddlLevel", custom = "true", orderid = @item.First().Order, answerid = @ans.AnswerId, answercount = @answercount, @value = ans.Clasification })

                                                    </th>*@
                                            </tr>
                                            answercount++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}