﻿@model ECO_Management.Models.QuestionsDetail

<style>
    .titleColor {
        background-color: #6ea0cc !important;
        color: white !important;
    }

    .bodyColor {
        background-color: aliceblue !important;
    }

    .tableHeader {
        position: relative;
        height: 30px;
        background-color: rgb(127, 185, 235);
        color: #fff;
        width: 400px !important;
    }

    .nextquestiongroup {
        width: 500px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading titleColor">
        <div class="row">
            <div id="@string.Format("lblQuestionId_{0}", Model.Order)">
                <div class="col-sm-8">
                    <h3 class="panel-title" style="margin-top: 10px;">
                        <span id="@string.Format("activeQuestionId_{0}", Model.Order)"><b>@Model.Order:&nbsp;@Model.Question</b></span>
                    </h3>
                </div>
                <div class="col-sm-2 text-right">
                    <button type="button" class="btn btn-warning btnEditQuestion" id="@Model.Order"><i class="mdi mdi-pencil"></i>&nbsp;Editar Pregunta</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-warning btnDeleteQuestion" questionid="@Model.QuestionId" id="@Model.Order"><i class="mdi mdi-pencil"></i>&nbsp;Eliminar Pregunta</button>
                </div>
            </div>

            @* Modificacion de preguntas *@
            <div hidden id="@string.Format("editQuestionId_{0}", Model.Order)">
                <div class="col-sm-8">
                    @Html.TextBox("txtEditQuestion_" + Model.Order, Model.Question, new { @class = "form-control", @placeholder = "Digite su nueva pregunta" })
                </div>
                <div class="col-sm-4 text-right">
                    <button type="button" class="btn btn-default btnCancelSaveQuestion" id="@Model.Order"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-warning btnSaveQuestion" id="@Model.Order" questionid="@Model.QuestionId"><i class="mdi mdi-content-save"></i>&nbsp;Actualizar Pregunta</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body bodyColor">

        @Html.HiddenFor(m => m.QuestionId)
        @Html.HiddenFor(m => m.Order)
        @Html.Hidden(string.Format("ProgramProtocolId_{0}", Model.Order), Model.ProgramProtocolId)
        <div class="row">

            <div class="col-sm-3" id="@string.Format("divTypeContainer_{0}", Model.Order)">
                @Html.Label("Tipo de Respuesta")
                @Html.DropDownList("ddxTypeId_" + @Model.Order, ECO_Management.Utilities.GeneralCollections.GetAnswerTypes, "Seleccione un Tipo de Respuesta", new { @class = "form-control ddlTypes", custom = "true", orderId = @Model.Order, questionId = @Model.QuestionId })
            </div>

            <div class="col-sm-9" style="border-left: 1px solid #ccc;">
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;<i id="@string.Format("infoForAnswers_{0}", Model.Order)">Seleccione un tipo de respuesta.</i>
                </div>

                <div id="@string.Format("showAnswers_{0}", Model.Order)" hidden>
                    <div class="row">
                        <div class="col-sm-6">
                            <span data-toggle="tooltip" data-placement="top" title="Seleccione una de las opciones ó digite su respuesta y presione enter">
                                @Html.TextBox(string.Format("txtNewAnswer_{0}", Model.Order), "", new { @class = "form-control", @placeholder = "Digite su Respuesta" })
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success btnAddAnswer" id="@Model.Order"><i class="mdi mdi-plus"></i>&nbsp;Agregar Respuesta</button>
                        </div>
                    </div>
                    <br />
                    <div id="@string.Format("AnswersContainer_{0}", Model.Order)">
                        @* Table for the answers *@
                        <table class="table table-striped" id="@string.Format("listAnswerTable_{0}", Model.Order)">
                            <thead>
                                <tr>
                                    <th class="tableHeader">Respuesta</th>
                                    <th class="tableHeader" id="@string.Format("NextQuestionColum_{0}", Model.Order)">Pregunta</th>
                                    <th class="tableHeader">Magnitud</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

