﻿@using  ECOsystem.Areas.Control.Models.Control
@model RealVsBudgetFuelsReportBase

@{
    ViewBag.Title = "Consumo Real vs Presupuesto";
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    ViewBag.RealVsBudgetFuelsReportsIndex = "active";
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
       .carousel-control.left, .carousel-control.right {
           background-image: none !important;
       }
      .carousel-inner .item {
          padding: 0 0 30px 0;
      }
      .carousel-indicators {
        bottom: 0;
        width: 76%;
        margin-left: -38%;
      }
      .carousel-indicators li {
          background: #9c9c9c;
      }
      .carousel-indicators .active {
        background: #4B4B4B;
      }
      .carousel-control {
        color: #4B4B4B;
        top: auto;
        bottom: 0;
        padding-top: 4px;
        width: 36px;
        height: 36px;
        -ms-opacity: 1;
        opacity: 1;
        -ms-text-shadow: none;
        text-shadow: none;
      }
      .carousel-control:hover {
         color: black;
      }
    </style>
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="3" />
                @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

}
<div id="page-content-wrapper">
    <div class="container-fluid">


        @using (Html.BeginForm("Index", "RealVsBudgetFuelsReport", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>

                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportFuelTypeId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportFuelTypes, "Agrupar por:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>        
            </div>
        }

        <div class="card">

            @if (Model.List != null && Model.List.Any())
            {

                <div class="card-content">
                    <span class="card-title" id="card_title">

                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect " for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                            <span class="mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect  " for="option-2" onclick="paging(true);">
                            <input type="radio" id="option-2" class="mdl-radio__button activator" name="options" value="2">
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>
                    </span>

                    <div class="col-sm-3 pull-right text-right">

                        @if (!isPrintView)
                        {
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                    <i class="mdi mdi-download"></i> Exportar
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ExcelReportDownload", "RealVsBudgetFuelsReport", new { p = Model.Parameters.ParametersInBase64 })" download>
                                            <i class="mdi mdi-file-excel"></i>&nbsp;&nbsp;Exportar Excel
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                            <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Formato Impresión
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-default" type="button" data-print>
                                <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                            </button>
                        }
                    </div>

                    @Html.Partial("_partials/_Chart", Model)
               

                    <div class="row" style="margin: 0 auto;padding-left: 12%;">
                        <div class="col-sm-6 text-center">
                            <h6><span class="label label-danger">&nbsp;</span> Consumo > 100% del Presupuesto a la fecha</h6>
                        </div>
                        <div class="col-sm-6 text-center">
                            <h6><span class="label label-success">&nbsp;</span> Consumo < 100% del Presupuesto a la fecha</h6>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1" onclick="paging(false);">
                            <input type="radio" id="option-3" class="mdl-radio__button" name="options2" value="1">
                            <span class="mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                            <input type="radio" id="option-4" class="mdl-radio__button activator" name="options2" value="4" checked>
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>
                    </span>
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>

            }
            else
            {
                <br />
                <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")

    <script src="~/Scripts/Control/RealVsBudgetFuelsReport.min.js?v=@version-hf0"></script>
    <script>

        var IsPaging = $.cookie('paging');
        if (IsPaging) {
            $('.card-reveal').attr('style', 'display: block; transform: translateY(-100%)');
        }

        function paging(a) {
            $.cookie('paging', a, { path: '/' });    
        };

        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.RealVsBudgetFuelsReport.Init({
                labels: @Model.Parameters.Labels,
                data: @Model.Parameters.Data,
                colors: @Model.Parameters.Colors,
                highligh: @Model.Parameters.HighlightColors,
                printURL: '@Url.Action("PrintReport", "RealVsBudgetFuelsReport", new { p = Model.Parameters.ParametersInBase64 })',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });

    </script>
}


