﻿@using ECO_Partner.Business
@using ECO_Partner.Models
@model ECO_Partner.Models.TransactionsReportDeniedByPartnerBase
@{
    ViewBag.Title = "Reporte de Transacciones";
    ViewBag.PartnerReports = "active";
    ViewBag.PartnerReportsReports = "active";
    ViewBag.PartnerTransactionsReportAdmin = "active";
    ViewBag.HasGrid = true;
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    var searchplaceholder = "";

    if (Model.Parameters.TransactionType != 6)
    {
        searchplaceholder = "Filtro por #Terminal, Est. de Servicio, Placa o Nombre del Vehículo...";
    }
    else
    {
        searchplaceholder = "Filtro por placa o Nombre del Vehículo...";
    }
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="14" />

        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">

    @using (Html.BeginForm("Admin", "TransactionsReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Month, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Year, ECOsystem.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.TransactionType, ECOsystem.Business.Utilities.GeneralCollections.GetTransactionTypes, "Agrupar:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">                
                @Html.DropDownListFor(m => m.Parameters.CustomerId, GeneralCollections.GetCustomersByPartnerWithAll, "Empresa:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Parameters.key, new Dictionary<string, object> { { "placeholder", searchplaceholder }, { "class", "form-control" } })

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>

                </div>
            </div>
        </div>
    }
    @if (Model.List != null && Model.List.Any())
    {
        <div id="ControlsContainer">
            <div class="card">
                <div class="card-content">
                    <div class="row top20">
                        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;La descarga del archivo puede tardar varios minutos.
                        </div>
                        <div class="col-sm-12 text-left">
                            @if (!isPrintView)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                        <i class="mdi mdi-share"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        @using (Ajax.BeginForm("ExcelReportDownload", "TransactionsReport", null, new AjaxOptions
                                        {
                                            HttpMethod = "post",
                                            OnBegin = "ECO_Partner.TransactionsReport.ShowLoader()",
                                            InsertionMode = InsertionMode.Replace,
                                            OnSuccess = "ECO_Partner.TransactionsReport.HideLoader()"
                                        }, new { id = "ExcelReportDownloadForm" }))
                                        {
                                            <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
                                        }
                                        @using (Html.BeginForm("DonwloadFile", "TransactionsReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
                                        <li role="presentation">                                            
                                            @*<a role="menuitem" tabindex="-1" href="@Url.Action("ExcelReportDownload", "TransactionsReport", new { p = Model.Parameters.ParametersInBase64 })" download>*@
                                            <a role="menuitem" tabindex="-1" onclick="ECO_Partner.TransactionsReport.OnClickDownloadPartnerReport()">
                                                <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <button class="btn btn-default" type="button" data-print>
                                    <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                                </button>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Partial("_partials/_GridAdmin", Model.List)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Control/TransactionsReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.TransactionsReport.Init({
                printURL: '@Url.Action("PrintReport", "TransactionsReport", new { p = Model.Parameters.ParametersInBase64 })',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}

