﻿@using  ECOsystem.Areas.Control.Models.Control
@model EfficiencyFuelsReportBase
@{
    ViewBag.Title = "Reportes";
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    ViewBag.EfficiencyFuelsReportsIndex = "active";
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    var ChartIndicatiorsClass = "";
    if (Model != null && ((Model.VehicleCount / 12) + 1) > 24)
    {
        ChartIndicatiorsClass = "carousel-indicators-with-n";
    }
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
            padding: 5px 25px 5px 25px;
        }

        /*.carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }*/

            .carousel-indicators li {
                background: #4B4B4B;
            }

            .carousel-indicators .active {
                background: #428BCA;
            }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

            .carousel-control:hover {
                color: #d9534f;
            }
    </style>
}

<div id="wrapper">
    @if (!isPrintView)
    {
        using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "side-menu2",
            OnSuccess = "updateSidebar()"
        }, new { id = "LoadMenuForm" }))
        {
            <input class="hidden" name="Header" value="3" />
            @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
        }
    }
    
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Rendimiento Kilómetros por @ECOsystem.Utilities.Session.GetCustomerCapacityUnitSingularName()</h3>
            </div>
        </div>

        @using (Html.BeginForm("Index", "EfficiencyFuelsReport", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>

                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportFuelTypeId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportFuelTypes, "Agrupar Por:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>
        }
        @if (Model.List != null && Model.List.Any())
        {
            <div id="ControlsContainer">
                <div class="row top20">
                    <div class="row pull-left">
                        @if (!isPrintView)
                        {
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                    <i class="mdi mdi-share"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ExcelReportDownload", "EfficiencyFuelsReport", new { p = Model.Parameters.ParametersInBase64 })" download>
                                            <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" data-print-link>
                                            <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Formato Impresión
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-default" type="button" data-print>
                                <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                            </button>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div id="chartsCarousel" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                @for (var i = 0; i < (Model.VehicleCount / 12) + 1; i++)
                                {
                                    <div class="item active" data-item>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <canvas></canvas>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <!-- Indicators -->
                            <ol class="carousel-indicators @ChartIndicatiorsClass">
                                @for (var i = 0; i < (Model.VehicleCount / 12) + 1; i++)
                                {
                                    var active = i == 0 ? "active" : "";
                                    <li data-target="#chartsCarousel" data-slide-to="@i" class="@active"></li>
                                }
                            </ol>
                            <!-- Controls -->
                            <div>
                                <a class="left carousel-control" href="#chartsCarousel" data-slide="prev"><i class="mdi mdi-chevron-double-left mdi-32px"></i></a>
                                <a class="right carousel-control" href="#chartsCarousel" data-slide="next"><i class="mdi mdi-chevron-double-right mdi-32px"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default" id="panel1">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNum1" class="collapsed">
                                            <strong>Información Detallada</strong>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseNum1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @Html.Partial("_partials/_Grid", Model.List)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
        else
        {
            <br />
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
            </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Content/Scripts/plugins/jquery.treegrid.min.js?v=@version-hf0"></script>
    <script src="~/Scripts/Control/EfficiencyFuelsReport.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.EfficiencyFuelsReport.Init({
                labels: @Model.Parameters.Labels,
                titles: @Model.Parameters.Titles,
                data: @Model.Parameters.Data,
                colors: @Model.Parameters.Colors,
                alpha: @Model.Parameters.AlphaColors,
                highligh: @Model.Parameters.HighlightColors,
                printURL: '@Url.Action("PrintReport", "EfficiencyFuelsReport", new {p = Model.Parameters.ParametersInBase64})',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });

        $('.tree').treegrid();

    </script>
}


