﻿@model  ECOsystem.Areas.Coinca.Models.Customers

@{
    var logo = Model.Logo;
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Cliente</h4>
            </div>
            <div class="modal-body">

                @Html.HiddenFor(m => m.CustomerId)
                @Html.HiddenFor(m => m.RowVersion)
          

                <div class="row form-horizontal">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.DecryptedName, new { placeholder = "Nombre del Cliente", @class = "form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(m => m.DecryptedName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CurrencyId, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.CurrencyId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCurrencies, "Seleccione la Moneda", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CurrencyId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.UnitOfCapacityId, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.UnitOfCapacityId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCustomersUnitsOfCapacity, "Seleccione la Unidad de Capacidad", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UnitOfCapacityId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                          
                            @if (Model.CustomerId != null)
                            {
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-7">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.IsActive) Cliente Activo?
                                            </label>
                                            @Html.ValidationMessageFor(m => m.IsActive)
                                        </div>
                                    </div>
                                </div>
                            }

                                <div class="col-sm-12"><hr /></div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AdminName, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.AdminName, new { placeholder = "Nombre Completo de Administrador", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.AdminName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.AdminIdentification, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.AdminIdentification, new { placeholder = "Identificación de Administrador", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.AdminIdentification, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.AdminEmail, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.AdminEmail, new { placeholder = "Correo Eletrónico del Administrador", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.AdminEmail, "", new { @class = "text-danger" })
                                        <div id="validationErrors">
                                            <div id="errorMsj" class="text-danger">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <img class="pic" src="@logo" id="imgLogo" width="256" height="128" />
                                    <div class="progress_bar">
                                        <div class="percent">
                                            0%
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.Logo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="btnUpload" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;&nbsp;Cargar Logo</button>
                                    <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
