﻿@model IEnumerable< ECOsystem.Areas.Coinca.Models.Customers>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .Titled("Logo")
                  .RenderValueAs(m => @<img src="@m.Logo" width="50" height="30" />);
        
          c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(300)
                  .Titled("Nombre del Cliente")
                  .RenderValueAs(m => @m.DecryptedName);

          c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(200)
                  .Titled("Moneda")
                  .RenderValueAs(m => @m.CurrencyName);

         c.Add()
                 .Encoded(false)
                 .Sanitized(false)
                 .SetWidth(100)
                 .Titled("Unidad de Capacidad")
                 .RenderValueAs(m => @m.UnitOfCapacityName);
     
         c.Add()
                 .Encoded(false)
                 .Sanitized(false)
                 .SetWidth(100)
                 .Titled("Creado")
                 .RenderValueAs(m => @m.InsertDateStr);
        
         })
    
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.IsActive).Titled("Activo").RenderValueAs(m => Html.CheckBox("_Active", m.IsActive, new { disabled = "disabled" })).Encoded(false).Sanitized(false);
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(100)
                  .RenderValueAs(m => @<span>
                      @if(m.IsDefault){
                        <a href="#" class="edit-color" id="@m.CustomerId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a>
                      }
                    <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.CustomerId" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>
                </span>).Css("grid-col-btn");

          }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}