﻿@model  ECOsystem.Areas.Admin.Models.Administration.TransactionRulesModelBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Transacciones - Reglas de Negocio";
    ViewBag.Administration = "active";
    ViewBag.Customizer = "active";
    ViewBag.TransactionRules = "active";

    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style type="text/css">
        .collapse.in {
            display: table-cell;
        }

        .middleCells {
            vertical-align: middle !important;
        }
        .marginErrorValues {
           margin-left: 17px;
           text-align:center;
           width:66px;
        }
        .marginErrorLabel {
            font-size:11px;
        }    

        .glyphicon-pencil-tr:before {
          content: "\270f";
        }

        .glyphicon-pencil-tr{
            padding-top:6px;
            padding-right:5px;
            border: 2px solid #f0ad4e;
            border-radius: 3px;
            width:30px;
            height:30px;
            color:white;
            background-color:#f0ad4e;
            margin-top:-6px;
        }

        .hideText{
            display:none;
        }

        div[data-toggle=collapse] {
            cursor: pointer;
            margin-top: 5px;
        }

        div[data-toggle=collapse] label {
            cursor: pointer;
            font-size: 15px;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
 
<div id="page-content-wrapper">    
    <div class="row">
        <div class="col-sm-12" id="DetailContainer">          
            @Html.Partial("_partials/_DetailRules", Model.List)
        </div>
    </div>       
</div>

<div class="modal fade" id="confirmRulesModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar cambios</h4>
            </div>
            <div class="modal-body center">
                <p>¿Está seguro que desea guardar los cambios?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="sendRules" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name" id="SpanTitle">Transacciones - Reglas de Negocio</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">La regla de negocio no puede ser aplicada; <br /> verifique el rendimiento en las clases de vehículos</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InformationMessageRule9Modal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name" id="SpanTitle">Transacciones - Reglas de Negocio</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">Esta regla de negocio no puede ser desactivada. <br /> Favor contacte servicio al cliente.</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=" ECOsystem.Areas.Admin.TransactionRules.ReturnRuleState()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_partials/_ExampleModal")

@section scripts {
    <script src="~/Scripts/Administration/transactionRules.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.TransactionRules.Init();
        });
    </script>
}
