﻿@model  ECOsystem.Areas.Coinca.Models.Countries


<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:700px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.CountryId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de País</h4>
            </div>
            <div class="modal-body">
                <div class="row" role="form">
                    <div class="col-sm-12">
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del País", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Code, new { placeholder = "Cogido del País", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.CurrencyId, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.CurrencyId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCurrencies, "Seleccione la Moneda", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CurrencyId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.CapacityUnitId, new { @class = "control-label" })                            
                            @Html.DropDownListFor(m => m.CapacityUnitId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCustomersUnitsOfCapacity, "Unidad de Medida de Combustible", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CapacityUnitId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.GeopoliticalLevel1, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.GeopoliticalLevel1, new { placeholder = "Nombre del nivel geopolítico 1", @class = "form-control" })                            
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.GeopoliticalLevel2, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.GeopoliticalLevel2, new { placeholder = "Nombre del nivel geopolítico 2", @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.GeopoliticalLevel3, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.GeopoliticalLevel3, new { placeholder = "Nombre del nivel geopolítico 3", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                        <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                    </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
