﻿@model  ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceVehicleDetailBase
@{
    ViewBag.Administration = "active";
    ViewBag.Title = "Asignación de Mantenimiento - Vehículo"; // Placa: " + Model.Data.PlateId;
    ViewBag.Information = "active";
    ViewBag.Mantenimiento = "active";
    ViewBag.PreventiveMaintenanceVehicle = "active";
    ViewBag.MenuMantenimientos = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var profile = ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }

        .colpick {
            z-index: 9999;
        }
    </style>
}

@using (Ajax.BeginForm("AddOrEditPreventiveMaintenanceVehicle", "PreventiveMaintenanceVehicle", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = " ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Assign)
    </div>
}

@using (Ajax.BeginForm("LoadPreventiveMaintenanceVehicle", "PreventiveMaintenanceVehicle", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer"
}, new { id = "loadVehicleMaintenanceForm" }))
{
    @Html.Hidden("id")    
}

<!-- Load Form Start-->
@using (Ajax.BeginForm("LoadPreventiveMaintenanceRecordByVehicleDetail", "PreventiveMaintenanceVehicle", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainerCost",
    OnSuccess = " ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.AddOrEditModalCostShow()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
    @Html.Hidden("vehicleId")
    
    <div id="detailContainerCost">
        @Html.Partial("_partials/_DetailCost", Model.Record)
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    var header = (profile == "LINEVITA_ADMIN") ? "21" : "8";
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}


<div id="page-content-wrapper">

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <button id="btnAdd" data-target="#addOrEditModal" type="button" class="btn btn-success disabled" title="Agregar"><i class="mdi mdi-plus"></i>&nbsp;Agregar Mantenimiento</button>
        </div>
        <div class="col-xs-8 col-sm-4 pull-right"> 
            @Html.DropDownListFor(m => m.Data.VehicleId,  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehiclesByCustomer, "Vehículos", new { @class = "form-control", custom = "true", id="VehicleListD" })            
        </div>
    </div>

    <div class="row">
        <div id="gridContainer" class="col-lg-12 col-sm-12 col-md-12">
            @Html.Partial("_partials/_AssignGrid", Model.List)
        </div>
    </div>

</div>

  <!-- Dele Modal Start -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            @using (Ajax.BeginForm("DeletePreventiveMaintenanceVehicle", "PreventiveMaintenanceVehicle", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = " ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.DeleteModalClose()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                @Html.Hidden("vehicleId")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar Eliminación <span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- Dele Modal End-->

<!-- Dele Modal Start -->
<div class="modal fade" id="deleteCostModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            @using (Ajax.BeginForm("DeletePreventiveMaintenanceRecordByVehicle", "PreventiveMaintenanceRecordByVehicle", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
            }, new { id = "deleteForm" }))
            {

                @Html.Hidden("id")
                @Html.Hidden("idSearchDelete")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar Eliminación <span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnDeleteCost"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Alert Modal Start -->
<div class="modal fade" id="validateAmountModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Error de Validación</h4>
            </div>
            <div class="modal-body">
                <p>Hay datos no válidos en el formulario: los nombres de los registros son requeridos, los montos deben ser mayores a 0, verifiquelos y vuelva a intentarlo.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Dele Modal End-->

@section scripts {
    <script src="~/Scripts/Administration/PreventiveMaintenanceVehicle.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/PreventiveMaintenanceRecordByVehicleDetail.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.Init();
             ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.InitCost();
        });
    </script>
}
