﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehicleCostCenters


<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 715px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.CostCenterId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Centro de Costo<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Centro de Costo", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Code, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.Code, new { placeholder = "Código del Centro de Costo", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UnitId, new { @class = "col-sm-14 control-label" })
                            @Html.DropDownListFor(m => m.UnitId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleUnits, "Seleccione la Unidad", new { @class = "form-control", custom = "true" })
                            @Html.ValidationMessageFor(m => m.UnitId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#DivBudget" data-toggle="tab">Presupuesto</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="DivBudget" class="tab-pane active">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            Tabla
                                            <hr/>
                                            Traladar el disponible al siguiente mes<br/>
                                            <a id="enableAllVehicles" class="btn btn-default">Todos</a>
                                            <a id="disableAllVehicles" class="btn btn-danger">Ninguno</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->

<script>
    $("#enableAllVehicles").on("click", function () { changePullPreviousBudget(true) });
    $("#disableAllVehicles").on("click", function () { changePullPreviousBudget(false) });

    function changePullPreviousBudget(state) {
        var data = {
            'id': @Model.CostCenterId,
            'state': state
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangePullPreviousBudget", "VehicleCostCenters")',
            data: data,
            beforeSend:     
            function() {    
                $("#enableAllVehicles").attr("disabled","disabled");
                $("#disableAllVehicles").attr("disabled","disabled");

                $("#enableAllVehicles").find("i").remove();
                $("#disableAllVehicles").find("i").remove();
                $("#enableAllVehicles").prepend("<i class='mdi mdi-sync'></i> ");
                $("#disableAllVehicles").prepend("<i class='mdi mdi-sync'></i> ");
            },
            success: function(msg) {
                console.log('success', msg);
            },
            error: function(){
                console.log('error');
            },
            complete: function() {
                
                $("#enableAllVehicles").find("i").remove();
                $("#disableAllVehicles").find("i").remove();

                if (state) {
                    $("#enableAllVehicles").prepend("<i class='mdi mdi-check'></i> ");
                } else {
                    $("#disableAllVehicles").prepend("<i class='mdi mdi-check'></i> ");
                }

                $("#enableAllVehicles").removeAttr("disabled");
                $("#disableAllVehicles").removeAttr("disabled");
            }
        });
    }
</script>