﻿@model ECO_Control.Models.Control.VehiclesBase
@{
    ViewBag.Title = "Vehículos";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlVehiclesIndex = "active";

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.HasGrid = true;
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }

        .colpick {
            z-index: 9999;
        }
        .col-xs-6 .checkbox
        {
            margin-top:15px;
        }
    </style>
}


@using (Ajax.BeginForm("AddOrEditVehicles", "Vehicles", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECO_Control.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

@using (Ajax.BeginForm("EditVehiclesReferences", "Vehicles", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECO_Control.Vehicles.ReferenceEditModalClose()"
}, new { id = "referenceEditForm" }))
{
    <div id="detailReferenceContainer">
    </div>
}

<div id="wrapper">
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="8" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Vehículos</h3>
            </div>
        </div>

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchVehicles", "Vehicles", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECO_Control.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-lg-11">
                    <div class="input-group">

                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                        </span>

                    </div>
                </div>
                <div class="col-lg-1">
                    <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadVehicles", "Vehicles", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECO_Control.Vehicles.OnSuccessLoad()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }

        <!-- Load Form End-->
        <!-- Load ReferencesForm Start-->
        @using (Ajax.BeginForm("LoadVehiclesReferences", "Vehicles", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailReferenceContainer",
            OnSuccess = "ECO_Control.Vehicles.OnSuccessReferenceLoad()"
        }, new { id = "loadRefForm" }))
        {
            @Html.Hidden("id")
            <!--<input type="hidden" id="idRef" name="id" />-->
        }

        <!-- Load ReferencesForm End-->
        <!-- Dele Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteVehicles", "Vehicles", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECO_Control.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Esta seguro que desea Eliminar el Registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script src="~/Scripts/Control/vehicles.js"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.Vehicles.Init();
        });

    </script>
}
