﻿@model IEnumerable<ECO_Partner.Models.GpsReport>

@if (Model != null && Model.Any())
{
    var listModel = Model.OrderBy(o => o.ClientName);

    @(Html.Grid(listModel)
        .Columns(c =>
        {
            c.Add(m => m.ClientName).Titled("Empresa");
            c.Add(m => m.Installations).Titled("Cantidad de GPS").Css("text-right");
            c.Add(m => m.FeeStr).Titled("Monto Unitario").Css("text-right");
            c.Add(m => m.CostStr).Titled("Monto Total").Css("text-right");
            c.Add(m => m.MembershipFeeStr).Titled("Monitoreo Unitario").Css("text-right");
            c.Add(m => m.MembershipCostStr).Titled("Monitoreo Total").Css("text-right");
            c.Add(m => m.TotalCostStr).Titled("Total").Css("text-right");
        }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
