﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.ConsolidateLiquidationReports>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
                        .Columns(c =>
                        {
            //c.Add(m => m.VehicleId).Titled("Número").SetWidth(100).Filterable(true);
            c.Add(m => m.PlateId).Titled("Placa").SetWidth(100);
                            c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(100);
                            c.Add(m => m.Manufacturer).Titled("Marca").SetWidth(140).Css("grid-col-left");
                            c.Add(m => m.Year).Titled("Año").SetWidth(140).Css("grid-col-left");
                            c.Add(m => m.IdentificationStr).Titled("Identificación").SetWidth(100);
                            c.Add(m => m.CodeStr).Titled("Código").SetWidth(100);
                            c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago").SetWidth(300);
                            c.Add()
                                .Titled("Medio de Pago")
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(20)
                                .RenderValueAs(m => @<span class="center">
                                    <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                    <label class="legend"></label>
                                </span>);
                            c.Add(m => m.CostCenterName).Titled("Centro de Costo").SetWidth(110).Css("grid-col-right");
                            c.Add(m => m.UnitName).Titled("Unidad").SetWidth(110).Css("grid-col-right");
                            c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName() + "(Mes)").SetWidth(240);
                            c.Add(m => m.TotalOdometerStr).Titled("KM Odómetro").SetWidth(90);
                            c.Add(m => m.TankCapacityStr).Titled("Capacidad Tanque").SetWidth(50);
                            c.Add(m => m.FuelName).Titled("Combustible").SetWidth(110);
                                    }).Selectable(true).SetLanguage("es")
    )
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
