﻿@using ECOsystem.Utilities.Helpers
@using System.Configuration
@model  ECOsystem.Areas.Control.Models.Control.FuelsByCreditBase

@{
    var monthName = (Model != null && Model.CreditInfo != null) ? Model.CreditInfo.MonthName : "-----";
    var yearInfo = (Model != null && Model.CreditInfo != null) ? Model.CreditInfo.Year.ToString() : "0000";
    var customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    var currencySymbol = (Model != null && Model.CreditInfo != null) ? Model.CreditInfo.CurrencySymbol : "";
    var totalCreditAmount = (Model != null && Model.CreditInfo != null) ? Model.CreditInfo.CreditAmount : 0;
    var customerCreditByCostCenterId = (Model != null && Model.CreditInfo != null) ? Model.CreditInfo.CustomerCreditByCostCenterId : 0;
    var costCenterId = (Model != null && Model.CreditInfo != null) ? Model.CreditInfo.CostCenterId : 0;
    var limitLabel = customer.CostCenterFuelDistribution ? "Disponible del Centro de Costo" : "Disponible Global";
}

@Html.Hidden("TotalCreditAmount", totalCreditAmount)
@Html.Hidden("CurrencySymbol", currencySymbol)

<div class="row">
    @if (customer.CostCenterFuelDistribution && Model.CreditInfo == null)
    {
        <div class="col-sm-12" style="padding-top: 10px">
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Seleccione un Centro de Costo para realizar la Distribución Respectiva.
            </div>
        </div>

    }
    else if (Model.CreditInfo == null)
    {
        <div class="col-sm-12" style="padding-top: 10px">
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <strong>Advertencia!</strong> No existe asignación de crédito en la tarjeta maestra, favor validarlo con el encargado.
            </div>
        </div>

    }
    else
    {

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div id="creditInfo" class="row">
                <div class="card card-global-amount">
                    <div class="card-content card-content-indicator">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 less-padding-left less-padding-right text-center">
                                <i class="mdi mdi-bank hight-text-card"></i>
                            </div>
                            <div class="col-xs-4 col-sm-8 col-md-8 col-lg-8 less-padding-left">
                                <div class="">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                        <div class="huge-very-medium">@Model.CreditInfo.CreditAmountStr</div>
                                        <div class="huge-very-low-middle">@limitLabel: @monthName - @yearInfo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="bg-custom">
                            <div class="progress">
                                @{
                                    var globalBartheme = Model.PctAssignedCredit > 80 ? "danger" : Model.PctAssignedCredit > 40 ? "warning" : "success";
                                }
                                <div id="AssignedCreditPct" class="progress-bar progress-bar-@globalBartheme triangle" role="progressbar" progress-value="@Model.PctAssignedCredit%" style="width: @Model.PctAssignedCredit%"></div>
                            </div>
                            <div class="progress2" style="margin-left:0px !important;">
                                @{
                                    var assignedCreditStr = new HtmlString(Model.AssignedCreditStr + "&nbsp;(" + (int?)Model.PctAssignedCredit + "%)");
                                }
                                <div id="AssignedCreditAmt" class="progress-bar bar-text" data-val="@assignedCreditStr" role="progressbar" style="width: @Model.PctAssignedCredit%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="panel panel-primary">
                @using (Html.BeginForm("AddOrEditFuelsByCredit", "FuelsByCredit", FormMethod.Post, new { id = "SubmitForm" }))
                {
                <div class="panel-body" id="FormContent">
                    @Html.Hidden("CapacityUnitId", ECOsystem.Utilities.Session.GetCustomerCapacityUnitId())
                    @Html.Hidden("ConversionValue", ConfigurationManager.AppSettings["GALLONSTOLITERSEQUIVALENCE"])

                    <div class="row">
                        <div class="col-sm-4">
                            <label>Tipo de Combustible</label>
                        </div>
                        <div class="col-sm-4">
                            <label>Monto Asignado</label>
                        </div>
                        <div class="col-sm-4">
                            <label>@ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()</label>
                        </div>
                    </div>

                    @for (int i = 0; i < Model.Data.Count(); i++)
                    {
                        var item = Model.Data[i];

                        @Html.Hidden(string.Format("Data[{0}].FuelByCreditId", i), item.FuelByCreditId)
                        @Html.Hidden(string.Format("Data[{0}].FuelId", i), item.FuelId)
                        @Html.Hidden(string.Format("Data[{0}].Year", i), item.Year)
                        @Html.Hidden(string.Format("Data[{0}].Month", i), item.Month)
                        @Html.Hidden(string.Format("Data[{0}].RowVersion", i), item.RowVersion)
                        @Html.Hidden(string.Format("Data[{0}].LiterPrice", i), item.LiterPrice, new { disabled = "disabled" })
                        @Html.Hidden(string.Format("Data[{0}].CustomerCreditByCostCenterId", i), customerCreditByCostCenterId)
                        @Html.Hidden(string.Format("Data[{0}].CostCenterId", i), costCenterId)

                        Model.AssignedVehicles = Model.VehiclesList.Where(x => x.FuelId == item.FuelId).Sum(x => x.Amount) + Model.VehiclesList.Where(x => x.FuelId == item.FuelId).Sum(x => x.AdditionalAmount);

                        @Html.Hidden(string.Format("Data[{0}].FuelName", i), Model.AssignedVehicles, new { disabled = "disabled" })

                        <div class="row line">
                            <div class="col-sm-4 form-group">
                                <p class="form-control-static">@item.FuelName</p>
                            </div>
                            <div class="col-sm-4 form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">@item.CurrencySymbol</span>
                                    @Html.TextBox(string.Format("Data[{0}].TotalStr", i), item.TotalStr, new { @class = "form-control text-right", IsAmount = "true", placeholder = "Nuevo Monto" })
                                    @Html.Hidden(string.Format("Data[{0}].Total", i), item.Total)
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                @Html.TextBox(string.Format("Data[{0}].CapacityUnitValue", i), ECOsystem.Utilities.Miscellaneous.GetCurrencyFormat(item.CapacityUnitValue, ""), new { @class = "form-control text-right", IsAmount = "false" })
                                @Html.Hidden(string.Format("Data[{0}].Liters", i), item.Liters)
                            </div>
                        </div>

                        <div class="row error hide">
                            <div class="col-sm-12 form-group" style="padding-left:400px">
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    }
                </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-4">
                                <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                            </div>
                            <div class="col-xs-8 text-right">
                                @*<a id="btnCancel" href="@Url.Action("Index", "FuelsByCredit")" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</a>*@
                                <button type="button" data-toggle="modal" data-target="#confirmModal" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
