﻿@model ECOsystem.Models.Core.ServiceStations


@Html.HiddenFor(m => m.ServiceStationId)
@Html.HiddenFor(m => m.CountryId)
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.ServiceStationId)
        @Html.HiddenFor(m => m.CantonId)
        @Html.HiddenFor(m => m.ProvinceId)
        @Html.HiddenFor(m => m.BacId)
        @Html.HiddenFor(m => m.PartnerId)
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Number_Provider, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Number_Provider, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Number_Provider, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>                
            </div>
            <div class="col-sm-6" style="border-left: 1px solid #ccc;">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CostCenterName, new { @class = "col-sm-14 control-label" })
                            @Html.DropDownListFor(m => m.CostCenterId,  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleCostCenters, null, new { @class = "form-control fbold" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <br />
                        <button type="button" class="btn btn-success" id="BlockCostCenter"><i class="mdi mdi-plus"></i>&nbsp;Bloquear</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="costcentercontainer" style="margin-top: -20px;">
                        @Html.Partial("_partials/_CostCenterGrid", Model.CostCenterList)
                    </div>
                </div>
            </div>
        </div>        
        <div class="row">            
            <br />
            <div class="col-sm-12  text-right">
                <button type="button" class="btn btn-default" id="btnCancel"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" data-toggle="modal" data-target="#AddOrEditConfirmationModal" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>


