﻿@model IEnumerable<ECOsystem.Models.Core.BlockedCostsCenter>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {            
            c.Add(m => m.CostCenterName).Titled("Nombre");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                                         <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteBlockedModal" id="@m.CostCenterId" title="Eliminar" del_blocked_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                                    </span>)
                .Css("grid-col-btn");
        })
    )
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

