﻿@model IEnumerable<ECOsystem.Models.Core.ServiceStations>
@{
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var geopoliticalLevel3 = geopoliticalNames.Count > 2 ? geopoliticalNames[2] : "División geopolítica nivel 3";
    var list = (List<ECOsystem.Models.Core.ServiceStations>)Session["ServiceStationListAll"];
    var allBlocked = list.Where(x => x.IsBlocked == false).ToList().Count > 0 ? "" : "checked=\"checked\"";
}

    @using GridMvc

    @if (Model != null && Model.Any())
    {
        <br />
        <div style="margin-bottom:-15px;">
            <button type="button" class="btn btn-primary btnBlockServiceStations" title="Bloquear Estaciones"><i class="mdi mdi-lock"></i>&nbsp;&nbsp;Bloquear/Desbloquear Estaciones</button>
        </div>

        @(Html.Grid(Model, GridRenderOptions.Create("ServiceStationsGrid"))
                        .Selectable(true)
                        .Columns(c =>
                        {
                            c.Add()
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                        <label style="font-weight:bold;">
                                            <input type="checkbox" class="blockServiceStation" costcenterblocked="@m.CostCenterBlocked" data-status="@m.IsBlocked" id="@m.ServiceStationId" checked="@m.IsBlocked">
                                        </label>
                                    </div>)
                                                .Titled("<div class=\"checkbox\" style =\"margin-left: 15px; margin-bottom: 1px\" title=\"Seleccionar Todos\">" +
                                                            "<label style = \"font-weight:bold;\">" +
                                                                "<input type = \"checkbox\" class=\"blockServiceStation\" data-status=\"" + allBlocked + "\" id =\"-1\"" + allBlocked + ">" +
                                                                "&nbsp;Bloqueada" +
                                                            "</label>" +
                                                        "</div>");
                        c.Add(m => m.BacId).Titled("Afiliado");
                        c.Add(m => m.Name).Titled("Nombre Afiliado");
                        c.Add(m => m.Address).Titled("Dirección");
                        c.Add(m => m.ProvinceString).Titled(@geopoliticalLevel1);
                        c.Add(m => m.CantonString).Titled(@geopoliticalLevel2);
                        c.Add(m => m.Legal_Id).Titled("Cédula Jurídica");
                        c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(2)
            .RenderValueAs(m =>
                                            @<span>
                                                <a href="#" class="edit-color" id="@m.ServiceStationId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                            </span>
                                                 ).Css("grid-col-btn");
                                             }).WithPaging(15, 5, "grid1-page"))

        <button type="button" class="btn btn-primary btnBlockServiceStations" title="Bloquear Estaciones"><i class="mdi mdi-lock"></i>&nbsp;&nbsp;Bloquear/Desbloquear Estaciones</button>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>No se encontraron resultados
        </div>
    }