﻿@{   
    var image = ViewBag.ImageS;
}

<script type="text/javascript">
    function load_image(id, ext) {

        if (validateExtension(ext) == false) {
            alert("El archivo seleccionado no es una imagen válida PNG");
            document.getElementsByClassName("myinput")[0].focus();
            document.getElementsByClassName("myinput")[0].value = "";
            return;
        }
        else {
            document.getElementById("submit").disabled = false;
        }
        }

    function validateExtension(v) {
        var allowedExtensions = new Array("png","PNG");
        for (var ct = 0; ct < allowedExtensions.length; ct++) {
            sample = v.lastIndexOf(allowedExtensions[ct]);
            if (sample != -1) { return true; }
        }
        return false;
    }
</script>

<div class="modal fade" id="ShowMapsServiceStatios" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mapa Estaciones de Servicio</h4>
            </div>
            <div class="modal-body">

                @if (User.IsInRole("PARTNER_ADMIN") || User.IsInRole("PARTNER_USER") || User.IsInRole("SUPER_ADMIN"))
                {

                    <div class="row">
                        <p> Imagen actual a mostrar:  </p>
                        <div style="margin-left:auto;margin-right:auto;float:left">
                            <img src="@image" style="height: 400px; width: 400px; margin:20px; border-radius: 20px; border: 1px solid #428bca;" />
                        </div>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="file">Subir Imagen:</label>
                            <input type="file" class="myinput" name="file" id="file" accept="image/png" onchange="load_image(this.id,this.value)" />
                            <p style="font-size:11px; margin-top:5px; ">Considere una imagen con resolución máxima de 1000px ,de mismo largo y ancho (ej: 500px X 500px) para una mejor visualización </p>
                            <input id="submit" class="btn btn-primary" type="submit" value="Subir Imagen" onclick="validate()" disabled="disabled" style="margin-top:10px;" />
                        </form>
                    </div>
                }

                @if (User.IsInRole("CUSTOMER_ADMIN"))
                {
                    <div class="row">                       
                        <div style="margin-left:auto;margin-right:auto;width:40%">
                            <img style="height: 400px; width: 400px; margin:20px; border-radius: 20px; border: 1px solid #428bca;" src="@image" />
                        </div>
                        @ViewBag.imageStation
                    </div>
                }
                
            </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    </div>
                </div>
            </div>
    </div>
</div>
