﻿@using ECO_Insurance.Models.Insurance
@model IEnumerable<dynamic>
 @{
    List<int> customersList = new List<int>();
    foreach(DrivingScoreFleetDataSource item in Model)
    {
        if (item.ScoreType.Equals("SPADM"))
        {
            if (!customersList.Contains(item.CustomerId))
                 { customersList.Add(item.CustomerId);}
        }
      
    }
    string customerName = "";
    int count = 0;
 }
@if (Model != null && Model.Any())
{ <div class="accordion"  id="accordionDetail">
       <div class="accordion-group">
                      <div class="accordion-heading">
                           
                            <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordionDetail" href="#collapseid1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Información de Acrónimos  
                                    </div>
                                </div>
                            </a>
                      </div>
             <div id="collapseid1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            @Html.Partial("_partials/_VariablesOverview")
                        </div>
                 </div>
           </div>
    </div>
  
     <div class="accordion"  id="accordion2">
             
              @foreach (int customer in customersList)
              {
                
                   customerName=(from item in Model
                   where item.CustomerId == customer                   
                   select item).ToList().FirstOrDefault().CustomerName;
                
                  string colapseName ="collapse"+count;
                  string colapseId = "#collapse" + count;
                
                    
                    <div class="accordion-group">
                      <div class="accordion-heading">
                           
                            <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="@colapseId">
                                        <div class="panel panel-default">
                                <div class="panel-heading">
                                    @customerName  
                                </div>
                                </div>
                            </a>
                      </div>
                      <div id="@colapseName" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                             @(Html.Grid(Model.Select(item => item as  DrivingScoreFleetDataSource).Where(grow => grow.CustomerId ==customer).OrderBy(o => o.DecryptedIdentification))
                            .Columns(c =>
                            {
                             
                              c.Add(m => m.DecryptedIdentification).Titled("Identificación").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.DecryptedName).Titled("Nombre").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.ScoreType).Titled("Tipo").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.KmTraveledStr).Titled("ΣDT").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.OverSpeedAmountStr).Titled("NEC").SetWidth(110).Css("grid-col-center");                         
                              c.Add(m => m.OverSpeedDistanceStr).Titled("ΣDEC").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.OverSpeedDistancePercentageStr).Titled("IRC").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.OverSpeedAverageStr).Titled("x̄VC").SetWidth(110).Css("grid-col-center");                           
                              c.Add(m => m.StandardDeviationStr).Titled("S").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.AverageScoreStr).Titled("CS").SetWidth(110).Css("grid-col-center");
                            }
                            )
                            .Selectable(true)
                            )
                        </div>
                      </div>
                    </div>
                    count = count + 1;
                }
              </div>
   
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}

