﻿@model ECOsystem.Models.Core.ServiceStationsBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administración de Estaciones de Servicio";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var placeHolderSearch = "Buscar por N° de Afiliado, Nombre, " + geopoliticalLevel1 + " o " + geopoliticalLevel2 + "...";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("LoadServiceStations", "ServiceStations", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = " ECOsystem.Areas.Admin.ServiceStations.AddOrEditModalClose()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

@using (Ajax.BeginForm("ExcelReportDownload", "ServiceStations", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Admin.ServiceStations.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = " ECOsystem.Areas.Admin.ServiceStations.HideLoader()"
}, new { id = "ExcelReportDownloadForm" })) { }


@using (Ajax.BeginForm("AddBlockedCostCenter", "ServiceStations", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "costcentercontainer",
    OnSuccess = ""
}, new { id = "addBlockeCostCenter", autocomplete = "off" }))
{
    @Html.Hidden("costcenterid")
    @Html.Hidden("servicestationid")
    @Html.Hidden("costcentername")
}

@using (Ajax.BeginForm("BlockServiceStations", "ServiceStations", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnBegin = "ECOsystem.Utilities.ShowLoader(); $('#ConfirmationBlockServiceStations').modal('hide')",
    OnSuccess = "ECOsystem.Utilities.HideLoader();  ECOsystem.Areas.Admin.ServiceStations.InitBlockButtons(); $('#txtSearch').val('');"
}, new { id = "BlockServiceStationsForm" })) { }


@using (Html.BeginForm("DonwloadFile", "ServiceStations", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }
@Html.Hidden("erroReportShow", erroReport)

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <!-- Search Area Start-->
            @using (Ajax.BeginForm("SearchServiceStations", "ServiceStations", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = "ECOsystem.Utilities.ShowLoader(); $('#AddOrEditConfirmationModal').modal('hide')",
                OnSuccess = "ECOsystem.Utilities.HideLoader();  ECOsystem.Areas.Admin.ServiceStations.InitBlockButtons()"
            }, new { id = "searchForm" }))
            {
                <div class="row">
                    <div class="col-sm-7">
                        @if (Model.List != null && Model.List.Any())
                        {
                            <button type="button" class="btn btn-default" onclick=" ECOsystem.Areas.Admin.ServiceStations.OnClickDownload()" style="width: 187.2px;"><i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel</button>
                        }
                    </div>
                    <div class="col-sm-5 pull-right">
                        <div class="input-group">
                            <input id="txtSearch" name="key" type="text" class="form-control" placeholder="@placeHolderSearch">
                            <span class="input-group-btn">
                                <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            }

            @using (Ajax.BeginForm("AddOrEditServiceStations", "ServiceStations", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = " ECOsystem.Areas.Admin.ServiceStations.ShowLoader(); $('#AddOrEditConfirmationModal').modal('hide')",
                OnSuccess = " ECOsystem.Areas.Admin.ServiceStations.AddOrEditSuccess();  ECOsystem.Areas.Admin.ServiceStations.InitBlockButtons()"
            }, new { id = "addOrEditForm" }))
            {
                <div id="detailContainer" hidden>
                    @Html.Partial("_partials/_AddOrEdit", Model.Data)
                </div>
            }

            <div class="row" style="margin-top: -15px;">
                <div class="col-lg-12" id="gridContainer">
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dele Modal Start-->
<div class="modal fade" id="AddOrEditConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Estaciones de Servicio</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea almacenar los datos de la Estación de Servicio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnAddOrEditServiceStation" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal End -->

<div class="modal fade" id="deleteBlockedModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteBlockedCostCenter", "ServiceStations", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "costcentercontainer",
                OnBegin = " ECOsystem.Areas.Admin.ServiceStations.ShowLoader()",
                OnSuccess = " ECOsystem.Areas.Admin.ServiceStations.DeleteModalClose();  ECOsystem.Areas.Admin.ServiceStations.InitBlockButtons()"
            }, new { id = "deleteBlockedForm" }))
            {
                @Html.Hidden("costCenterId")
                @Html.Hidden("serviceStationId")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationBlockServiceStations" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Estaciones de Servicio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-12">
                            <b>¿Desea Guardar los cambios realizados?</b>
                        </div>
                        <div id="MessageResult">
                            @{
                                var list = (List<ECOsystem.Models.Core.ServiceStations>)Session["ServiceStationListAll"];
                            }
                            @if (list.Where(x => x.IsBlocked).ToList().Count == 0)
                            {
                                <div class="col-sm-12">
                                    <p>La siguiente acción desbloqueará todas las estaciones</p>
                                </div>
                            }
                            else if (list.Where(x => x.IsBlocked == false).ToList().Count == 0)
                            {
                                <div class="col-sm-12">
                                    <p>La siguiente acción bloqueará todas las estaciones</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnBlockSelectedServiceStations" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Utilities/jquery.maskedinput.min.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/ServiceStations.js?v=@version-hf1"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.ServiceStations.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
