﻿@using  ECOsystem.Areas.Admin.Models.Administration
@model SettingOdometersBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ajuste de Odómetros";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    bool alert = Session["Alert"] != null ? (bool)Session["Alert"] ? true : false : false;
    bool checkAll = ViewBag.CheckAll == null ? false : ViewBag.CheckAll;


    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {   
    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }

        .carousel-indicators li {
            background: #4B4B4B;
        }

        .carousel-indicators .active {
            background: #428BCA;
        }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

        .carousel-control:hover {
            color: #d9534f;
        }

        .sortableColumn:hover{
            text-decoration: underline; 
            cursor:pointer;
        }

        .selectRowOdometer {
            background: #FFFF73;
        }
        
    </style>
}
   
@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
} 

@using (Ajax.BeginForm("ExcelReportDownloadOdometer", "SettingOdometers", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Admin.SettingOdometers.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = " ECOsystem.Areas.Admin.SettingOdometers.HideLoader()"
}, new { id = "ExcelReportDownloadFormOdometer" }))
{
    <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
}


@using (Ajax.BeginForm("ExcelReportDownload", "SettingOdometers", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Admin.SettingOdometers.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = " ECOsystem.Areas.Admin.SettingOdometers.HideLoader()"
}, new { id = "ExcelReportDownloadForm" }))
{
    <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
}

@using (Html.BeginForm("DonwloadFile", "SettingOdometers", FormMethod.Post, new { id = "DonwloadFileForm"})) { }         

@Html.Hidden("erroReportShow", erroReport)
@Html.Hidden("checkAllVal", checkAll)
@Html.Hidden("alert", alert)
@Html.Hidden("checkCounts")
<div id="page-content-wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm("Index", "SettingOdometers", FormMethod.Post, new { id = "ReloadForm" }))
        {
            @Html.HiddenFor(m => m.Parameters.ReportStatus)
            <div class="row">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>

                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Month, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Year, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.OdometerType, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetFilterSettingOdometers, "Agrupar por:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>
            <br />
            
            <div class="row search-transactions">
                <div class="col-sm-3">
                    <button type="button" onclick=" ECOsystem.Areas.Admin.SettingOdometers.OnClickDownloadChangeOdometers()" class="btn btn-success"><i class="mdi mdi-format-list-bulleted"></i>Reporte Cambios de Odómetros</button>
                </div>
                <div class="col-sm-3">
                </div>

                <div class="col-sm-6">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Parameters.key, new Dictionary<string, object> { { "placeholder", "Buscar por nombre de vehículo o Placa..." }, { "class", "form-control" } })
                        <span class="input-group-btn">
                            <button id="btnSearch" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>
                    </div>
                </div>
                </div>

            <div class="modal fade" id="confirmModalSearch" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Perdida de Datos Actualizados</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea realizar otra búsqueda y perder los cambios sobre los elementos coloreados?</p>
                        </div>

                        <div class="modal-footer">
                            <div>
                                <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                <button type="submit" data-btnmodal="true" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        @if (Model.List != null && Model.List.Any())
        {
            <div class="row top10">
                <div class="card">
                    <div class="card-content">                       
                        @using (Ajax.BeginForm("AddOrEditOdometers", "SettingOdometers", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "gridContainer",
                            OnSuccess = " ECOsystem.Areas.Admin.SettingOdometers.OnSuccessLoad()"
                        }, new { id = "applyNewValues" }))
                        {
                            @Html.HiddenFor(m => m.Parameters.Month)
                            @Html.HiddenFor(m => m.Parameters.Year)
                            @Html.HiddenFor(m => m.Parameters.StartDateStr)
                            @Html.HiddenFor(m => m.Parameters.EndDateStr)
                            @Html.HiddenFor(m => m.Parameters.OdometerType)
                            @Html.HiddenFor(m => m.Parameters.key)
                            @Html.Hidden("ChainValues")

                            <div id="gridContainer">
                                @Html.Partial("_partials/_Grid", Model.List)
                            </div>
                            <div class="modal fade" id="confirmModalactualizar" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Confirmar Cambios en Odómetros</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="confirmModalactualizarText">¿Esta seguro que desea realizar esta operación?</div>
                                        </div>

                                        <div class="modal-footer">
                                            <div>
                                                <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                                <button onclick=" ECOsystem.Areas.Admin.SettingOdometers.OnClickbtnAppliesMassive();" type="button" data-btnmodal="true" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <br />
            <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                No hay información para mostrar el reporte con la combinación de criterios seleccionada.
            </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Administration/SettingOdometers.js?v=@version-hf0"></script>
    <script>
        $(function () {            
            $("#LoadMenuForm").submit();
            $('#Parameters_key').val('');
             ECOsystem.Areas.Admin.SettingOdometers.InitGrids();
             ECOsystem.Areas.Admin.SettingOdometers.Init();
            if ($('#alert').val() == 'true') {
                $("#Parameters_Month").select2('val', '');
                $("#Parameters_Year").select2('val', '');
            }
            if($('#checkAllVal').val() == 'True'){
                $('#chkCheckAll').prop('checked', true);
            }
            if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
         });
    </script>
}

