﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParametersBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Parámetros Generales";
    ViewBag.Administration = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <link href="~/Content/jquery.timepicker.css?v=@version-hf0" rel="stylesheet" />
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                @Html.Partial("_partials/_DetailVehicleSchedule", Model.Data)
                @Html.Partial("_partials/_EmailAlarmPanicBotton", Model.Data)
                @Html.Partial("_partials/_CostCenterByDrivers", Model.Data)
                @Html.Partial("_partials/_AllowInProcessCard", Model.Data)
                @Html.Partial("_partials/_AllowApprovalTransactiosImport", Model.Data)
                @Html.Partial("_partials/_SaveTypeOdometerbyCustomer", Model.Data)
                @Html.Partial("_partials/_RadioDistance", Model.Data)

                @*NO eliminar, eventualmente se utilizara para un mantenimiento de alarmas.*@
                @*@Html.Partial("_partials/_AlarmNonTransmissionGPS", Model.Data)*@

                @using (Ajax.BeginForm("SaveTypeofDitribution", "CustomerGeneralParameters", null, new AjaxOptions
                {
                    OnBegin = "$('body').loader('show');",
                    HttpMethod = "post",
                    OnSuccess = " ECOsystem.Areas.Admin.CustomerGeneralParameters.SaveParameters(data)"
                }, new { id = "SaveTypeofDitributionForm" }))
                {
                    @Html.Partial("_partials/_TypeofBudgetDistribution", Model.Data)
                }
                @Html.Partial("_partials/_AlarmTemperatureDelay", Model.Data)

                @using (Ajax.BeginForm("SaveDefaultEmail", "CustomerGeneralParameters", null, new AjaxOptions
                {
                    OnBegin = "$('body').loader('show');",
                    HttpMethod = "post",
                    OnSuccess = " ECOsystem.Areas.Admin.CustomerGeneralParameters.SaveParameters(data)"
                }, new { id = "SaveDefaultEmail" }))
                {
                    @Html.Partial("_partials/_DefaultAlarmsEmail", Model.Data)
                }
                @Html.Partial("_partials/_MinimumStopDuration", Model.Data)

                @if (Model.Data.HasInternalServiceStation)
                {
                    using (Ajax.BeginForm("NotApproveTransactions", "CustomerGeneralParameters", null, new AjaxOptions
                    {
                        OnBegin = "$('body').loader('show');",
                        HttpMethod = "post",
                        OnSuccess = " ECOsystem.Areas.Admin.CustomerGeneralParameters.SaveParameters(data)"
                    }, new { id = "SaveTypeofDitributionForm" }))
                    {
                        @Html.Partial("_partials/_NotApproveTransactions", Model.Data)
                    }
                }

                @using (Ajax.BeginForm("VehicleStopLapse", "CustomerGeneralParameters", null, new AjaxOptions
                {
                    OnBegin = "$('body').loader('show');",
                    HttpMethod = "post",
                    OnSuccess = " ECOsystem.Areas.Admin.CustomerGeneralParameters.SaveParameters(data)"
                }, new { id = "SaveTypeofDitributionForm" }))
                {
                    @Html.Partial("_partials/_VehicleStopLapse", Model.Data)
                }
            </div>
        </div>
        <div id="ControlsContainerPanicBotton"></div>
        <div id="ControlsContainer"></div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.timepicker.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/CustomerGeneralParameters.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.CustomerGeneralParameters.Init();
        });
    </script>
}
