﻿@model ECO_Efficiency.Models.PassControlGroupBase
@{
    ViewBag.Title = "Control de Paso por Grupo";
    ViewBag.PassControl = "active";
    ViewBag.MapsRealControlGroupIndex = "active";
    ViewBag.HasGrid = true;
    ViewBag.Efficiency = "active";
    ViewBag.Localizacion = "active";
}

@using (Ajax.BeginForm("AddOrEditVehicles", "PassControlGroup", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" })) { }

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="1" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
    @*@Html.Partial("~/Views/Localization/_partials/_Menu.cshtml")*@
    <div id="page-content-wrapper">

        <div class="row">
           <div class="col-xs-12">

        <div style="z-index: 1000;">
            <div id="menu-left" class="menu-show">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8">
                                <h4>Vehículos</h4>
                            </div>
                             <div class="col-xs-4 text-right">
                                <div class="btn-group btnExpand">
                                    <button id="btnExpandLeft" type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Expandir Contraer" style="height: 30px">
                                        <i class="mdi mdi-arrow-expand-all"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="with-nav-tabs">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab2default">
                                <div class="col-lg-12" style="padding: 10px;">
                                    <div class="input-group">
                                        <div class="input-group">
                                            <input id="txtSearch" type="text" class="form-control" placeholder="Filtrar">
                                            <span class="input-group-btn">
                                                <button id="btnSearchVehicleGroup" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="gridContainer" class="panel-container-cards">
                                    @Html.Partial("_Partials/_GroupList", Model.List)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="menu-left-toggle" class="btn btn-default toggle-left-menu-btn toggle-btn"><i class="mdi mdi-car"></i></button>
        </div>       
         

            <div id="detailContainer">
                    @Html.Partial("_partials/_Detail", Model.Data)
                </div>
            </div>
        </div>
            <!-- Load Form Start-->
            @using (Ajax.BeginForm("LoadPassControlGroup", "PassControlGroup", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "detailContainer",
                            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
                        }, new { id = "loadForm" }))
            {
                @Html.Hidden("id")
            }
        </div>

        @section scripts {
         
            <script>
                //$(function () {
                //    ECOsystem.Vehicles.Init();
                //});
                $(document).ready(function () {
                    $("#LoadMenuForm").submit();
                });



                $("#menu-left-toggle").click(function () {
                    $("#menu-left").toggleClass("menu-hide");
                    $("#map").toggleClass("map-menu-left-menu-hide");
                    $("#menu-left-toggle").toggleClass("map-menu-left-menu-hide");
                });
                $("#menu-right-toggle").click(function () {
                    $("#menu-right").toggleClass("menu-hide");
                    $("#menu-right-toggle").toggleClass("menu-right-hide");
                });

                $('#btnSearchVehicleGroup').click(function () {
                    SearchVehicleLeftPanel();
                });

                //Function that looks for the filter in the left panels 
                function SearchVehicleLeftPanel() {
                    var flag = 0;
                    var text = $('#txtSearch').val();
                    $(".checkboxGV").show("slow");

                    $(".VehiclePanelRight").each(function (index) {
                        if (text == '') {
                            var gvname = $(this).attr("gvname");
                            if (typeof gvname !== 'undefined') {
                                $(this).show("slow");
                            }
                        }
                        else {
                            var gvname = $(this).attr("gvname");

                            if (typeof gvname !== 'undefined') {

                                if (gvname.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                    $(this).show("slow");
                                }
                                else {

                                    $(this).find('.checkboxGV').each(function () {
                                        var VHPlate = $(this).attr("VHPlate");
                                        var VHName = $(this).attr("VHName");

                                        if (typeof VHName !== 'undefined' && typeof VHPlate !== 'undefined') {

                                            if (VHName.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                                $(this).show("slow");
                                                flag = 1;
                                            }
                                            else if (VHPlate.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                                $(this).show("slow");
                                                flag = 1;
                                            }
                                            else {
                                                $(this).hide("slow");
                                            }
                                        }
                                    });

                                    //If the vehicle was found let the cost center visible 
                                    if (flag != 1) {
                                        $(this).hide("slow");
                                    }
                                    else {
                                        flag = 0;
                                    }
                                }
                            }
                        }
                    });
                }

                // Expand Left Cards
                $("#btnExpandLeft").click(function (e) {
                    var expand = $(this).attr('expand');
                    if (typeof expand !== typeof undefined && expand !== false) {
                        $(".accordin-left").collapse("hide");
                        $(this).removeAttr("expand");
                        ChangeExpandIcon($("#btnExpandLeft i"), true);
                    } else {
                        $(".accordin-left").collapse("show");
                        $(this).attr("expand", "expand");
                        ChangeExpandIcon($("#btnExpandLeft i"), false);
                    }
                });

                // Change Expand Button Icons
                function ChangeExpandIcon(icon, result) {
                    if (result) {
                        icon.removeClass("mdi-arrow-compress-all");
                        icon.addClass("mdi-arrow-expand-all");
                    } else {
                        icon.removeClass("mdi-arrow-expand-all");
                        icon.addClass("mdi-arrow-compress-all");
                    }
                }
            </script>
        }
