﻿@{
    var site_version = (Session["APPLICATION_VERSION"] != null) ? Session["APPLICATION_VERSION"].ToString() : ECOsystem.Utilities.Session.GetVersionInfo();
}

<footer class="site-footer text-center col-md-12 col-lg-12"> <!-- top20 text-center -->
    <div class="col-md-4 col-md-push-4">
        <p>Software desarrollado y operado por:</p>
        <img src="~/Content/Images/coincalogoflatgris.png" width="200" />
        <p>Comunicaciones Inalámbricas de Centroamérica</p>
        <p>Todos los Derechos Reservados.</p>
        <p><span class="pointer" data-toggle="modal" data-target="#contactenos">Dónde Estamos</span> | <span class="pointer" data-toggle="modal" data-target="#sobrenosotros">Sobre Nosotros</span></p>
        <p>&copy;@DateTime.Now.Year - Versión @site_version</p>
        <script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.intrack-eco.com&amp;size=S&amp;lang=es"></script>
    </div>
    <div class="col-md-4 col-md-pull-4 top40">
        <img src="~/Content/Images/BAC/Logo-Bac-Flota.png" />
        <p>Es una Marca Registrada Propiedad Intelectual de</p>
        <img src="~/Content/Images/BAC/Logo-BAC-Credomatic.png" />
    </div>

    <div class="col-md-4 top20">
        <img src="~/Content/Images/Logo-ECO.png" />
        <p>Es una Marca Registrada Propiedad Intelectual de</p>
        <img src="~/Content/Images/Logo-COINCA.png" />
    </div>
</footer>
