﻿<div class="header">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column col-md-offset-4">
                <img width="100%" src="~/Content/Images/BAC/logo.gif" id="logo" style="margin: 50px 0 20px 0;" />
            </div>
        </div>
        <hr />
    </div>
</div>
@Html.Partial("_HeaderModals")
