﻿@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var userId = user.UserId;
    var userRole = user.RoleNameTemp != null ? user.RoleNameTemp : user.RoleName;
    var CustomerName = user.CustomerNameTemp;
    var ProfileId = user.ProfileIdTemp;

    var logo = user.EntityLogo;
    var photo = ECOsystem.Utilities.Session.GetUserProfileImage(userId);
    var currentCustomer = new ECOsystem.Models.Core.Customers();
    var customerList = (dynamic)null;
    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "CUSTOMER_ADMIN")
    {
        currentCustomer = ECOsystem.Utilities.Session.GetCustomerInfo();
    }
    var ControlAccess = ECOsystem.Utilities.Session.DashboardControlAcces();

    if (user.LoggedUser == "C")
    {
        customerList = ECOsystem.Business.Core.UserRolesPermissionsBusiness.CustomerByCustomerRetrieveStatic(userId, userRole, CustomerName, userRole);
        if (customerList.Count == 0)
        {
            customerList = ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveCustomerAuthByPartnerStatic(userId, userRole, CustomerName, userRole);
        }
    }
    else
    {

        if (user.IsCustomerUser)
        {
            customerList = ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveCustomerAuthByPartnerStatic(userId, userRole, CustomerName, userRole);
        }
        else
        {
            customerList = ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrievePartnerAuthByPartnerStatic(userId, userRole, CustomerName, userRole);
        }

    }
    ViewBag.Customer = customerList;
    ViewBag.CustomerName = CustomerName;
    ViewBag.ProfileId = ProfileId;
}

<div class="modal fade" id="confirmModalSearch" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar Perdida de Datos Actualizados</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea navegar hacia otra opción del menú y perder los cambios sobre los elementos coloreados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" data-btnmodal="true" class="btn btn-primary" onclick="ECOsystem.CustomersByPartner.OnClickAcceptChangesLost()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="header top20">
    <div class="col-md-12 col-lg-12 @ViewBag.Full_Width">
        <div class="row clearfix">
            <div class="col-md-6 column logoHead">
                <img src="~/Content/Images/BAC/logo.gif" id="logo" width="300" />
            </div>
            <div class="col-md-6 column">
                <div id="userinfo" class="row clearfix text-right" style="vertical-align: middle;">
                    <p>
                        <ul style="list-style:none;">
                            <li style="float:right; margin-right:30px; margin-bottom: -40px;">
                                <div class="row">
                                    <div style="width: 168px; height: 80px;">
                                        @if (!string.IsNullOrEmpty(photo))
                                        {
                                            <img src="@photo" style="width:76px; height:70px;" class="img-thumbnail" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/default_photo.jpg" style="width:76px; height:70px;" class="img-thumbnail" />
                                        }
                                        <img src="@logo" style="width:76px; height:70px;" class="img-thumbnail">
                                    </div>
                                </div>
                            </li>
                            <li style="float:right; margin-top:10px; margin-right:20px;">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>
        <div id="menu" class="row clearfix">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">

                    @if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "LINEVITA_ADMIN")
                    {
                        <li class="@ViewBag.Localizacion"><a href="#" url="@Url.Action("IndexControl", "Account", new { title = "Ubicación y Localización", header = "18" })" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Ubicación y Localización</a></li>
                        <li class="@ViewBag.Administration"><a href="#" url="@Url.Action("IndexControl", "Account", new { title = "Nota de Conducción", header = "19" })" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Nota de Conducción</a></li>
                    }
                    else
                    {
                        <li class="@ViewBag.Inicio"><a href="#" url="@Url.Action("Index", "Home")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab"><span class="glyphicon glyphicon-home"></span></a></li>
                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_USER")
                        {
                        }
                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "CUSTOMER_ADMIN")
                        {
                            if (currentCustomer != null && currentCustomer.ModuleEfficiency)
                            {
                                <li class="@ViewBag.Settings"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleEfficiency), "/GeoFences/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Eficiencia</a></li>
                            }
                            else
                            {
                                <li class="@ViewBag.Localizacion"><a permission_alert href="javascript:void(0);" role="tab" data-toggle="">Eficiencia</a></li>
                            }
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "SUPER_ADMIN")
                        {
                            <li class="@ViewBag.Settings"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleCoinca), "/Partners") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Configuración</a></li>
                        }
                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "CUSTOMER_ADMIN")
                        {
                            if (currentCustomer != null && currentCustomer.ModuleControl)
                            {
                                <li class="@ViewBag.Control"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleControl), "/Control/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Control</a></li>
                            }
                            else
                            {
                                <li class="@ViewBag.Control"><a permission_alert href="javascript:void(0);" role="tab">Control</a></li>
                            }
                        }
                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "CUSTOMER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "CUSTOMER_USER")
                        {
                            if (currentCustomer != null && currentCustomer.ModuleOperation)
                            {
                                <li class="@ViewBag.Operation"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleOperation), "/ScoreSpeedRoutesReport") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Operación</a></li>
                            }
                            else
                            {
                                <li class="@ViewBag.Operation"><a permission_alert href="javascript:void(0);" role="tab">Operación</a></li>
                            }
                        }
                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "SUPER_ADMIN")
                        {
                            <li class="@ViewBag.Operation"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleCoinca), "/ScoreTypes/Index") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Operación</a></li>
                        }
                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_ADMIN")
                        {
                            <li class="@ViewBag.Operation"><a href="#" url="@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleInsurance), "/DrivingScoreFleetReport/Index")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab">Operación</a></li>
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "CUSTOMER_ADMIN")
                        {
                            <li class="@ViewBag.Administration"><a href="#" url="@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleAdministration), "/Administration/Index?title=Administración&header=8")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Administración</a></li>
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "SUPER_ADMIN")
                        {
                            <li class="@ViewBag.Administration"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleCoinca), "/vpos") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Administración</a></li>
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "PARTNER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "PARTNER_USER")
                        {
                            <li class="@ViewBag.Administration"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModulePartner), "/PartnerUsers/Index/") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Administración</a></li>
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_USER")
                        {
                            <li class="@ViewBag.InsuranceCustomers"><a href="#" url="@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleInsurance), "/InsuranceCustomers/Index")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Clientes</a></li>
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_ADMIN")
                        {
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "INSURANCE_USER")
                        {
                            <li class="@ViewBag.FAQ"><a href="#" url="@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleInsurance), "/Faq/Index")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">FAQ</a></li>
                        }

                        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "PARTNER_ADMIN" || ECOsystem.Utilities.Session.GetProfileByRole(user.RoleName) == "PARTNER_USER")
                        {
                            <li class="@ViewBag.PartnerReports"><a href="#" url=@string.Format("{0}{1}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModulePartner), "/ApplicantsReport/Index/") onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="">Reportes</a></li>
                        }

                        if (User.IsInRole("SUPER_TESTER"))
                        {
                            <li class="@ViewBag.Testing"><a href="#" url="@Url.Action("Index", "TestingApiTrx")" onclick="ECOsystem.CustomersByPartner.OnClickModuleOption(this)" role="tab" data-toggle="" style="text-shadow: 1px 1px 1px #FF0000;">Testing*</a></li>
                        }

                        <li class="@ViewBag.Manual"><a href="@string.Format("{0}", ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleManual))" target="_blank" role="tab" title="Manual"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                    }
                    <li class="@ViewBag.Salir"><a href="javascript:document.getElementById('logoutForm').submit()" target="_blank" role="tab" title="Salir"><span class="glyphicon glyphicon-off"></span></a></li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </ul>

                @using (Ajax.BeginForm("Alarms", "ASPMenus", null, new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "AlarmsDdl"
                }, new { id = "LoadRenderAlarms", method = "GET" }))
                {
                    <div id="AlarmsDdl">
                        <!-- Render Alarms -->
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("_HeaderModals")

@section Scripts{
  
}

