﻿<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <span style="display:inline-block">
                        <img height="75px" src="~/Content/Images/Eficiencia.png" />
                    </span>
                    <span style="display:inline-block" class="text-left">
                        <img src="~/Content/Images/modulo.png" /><br />
                        <img src="~/Content/Images/eficiencia2.png" />
                    </span>
                </li>
                <li class="center">
                    <img height="135px" src="~/Content/Images/Mapa-punto.png" />
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Asignación y Control de Rutas
                        </li>
                        @*<li>
                                Mis puntos de Interés
                            </li>*@
                        <li>
                            Delimitación de Zonas
                        </li>
                        <li>
                            Monitoreo y Ubicación de unidades
                        </li>
                        <li>
                            Reconstrucción de Recorridos
                        </li>
                        <li>
                            Alarmas Preventivas en Tiempo Real
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <span style="display:inline-block">
                        <img height="75px" src="~/Content/Images/Control.png" />
                    </span>
                    <span style="display:inline-block" class="text-left">
                        <img src="~/Content/Images/modulo.png" /><br />
                        <img src="~/Content/Images/control-de-costos.png" />
                    </span>
                </li>
                <li class="center">
                    <img height="135px" src="~/Content/Images/BAC/Tarjetas.png" />
                </li>

                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Administración Uso Combustible
                        </li>
                        <li>
                            Control de Presupuestos
                        </li>
                        <li>
                            Horarios de Consumo y Alertas
                        </li>
                        <li>
                            Control Preventivo y Correctivo
                        </li>
                        <li>
                            Reportes Integrados
                        </li>
                        @*<li>
                                Maestro de Vehículos
                            </li>
                            <li>
                                Maestro de Conductores
                            </li>*@
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <span style="display:inline-block">
                        <img height="75px" src="~/Content/Images/Operacion.png" />
                    </span>
                    <span style="display:inline-block" class="text-left">
                        <img src="~/Content/Images/modulo.png" /><br />
                        <img src="~/Content/Images/operacion-y-riesgo.png" />
                    </span>
                </li>
                <li class="center">
                    <img height="135px" src="~/Content/Images/Camiones.png" />
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Puntuación de Velocidad sobre Límites de Ley
                        </li>
                        <li>
                            Puntuación de Velocidad Delimitada por Empresa
                        </li>
                        <li>
                            Puntuación General de Conductores
                        </li>
                        <li>
                            Retroalimentación en Tiempo Real a Conductores
                        </li>
                        <li>
                            Parametrización de Índices de Conducción
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
