﻿.display_card{
    display:block;
}

.not_display_card{
    display:none;   
}

.card-graph-main {
    /*background-color: #34495e !important;
    border-color: #34495e !important;*/
    background-color: #4D4D4F !important;
    border-color: #4D4D4F !important;
    margin-top: 0px;
    color: #fff;
    /*height:330px;*/
    min-height: 440px;
}

.card-admin {
    /*background-color: #881D30 !important;
    border-color: #881D30 !important;*/
    background-color: #AD1F2C !important;
    border-color: #AD1F2C !important;
    color: #fff;
    margin-top: 0px;
    /*height: 160px;*/
    height: 215px;
}

.card-operation {
    /*background-color: #3D6B99 !important;
    border-color: #3D6B99 !important;*/
    background-color: #1075BB !important;
    border-color: #1075BB !important;
    color: #fff;
    margin-top: 0px;
    height: 215px;
}

.card-admin-2 {
    /*background-color: #D9461F !important;
    border-color: #D9461F !important;*/
    background-color: #F5881F !important;
    border-color: #F5881F !important;
    color: #fff;
    margin-top: 0px;
    height: 215px;
}

.card-news {
    /*background-color: #34495e !important;
    border-color: #34495e !important;*/
    background-color: #001A70 !important;
    border-color: #001A70 !important;
    color: #fff;
    margin-top: 0px;
    height: 215px;
}