﻿.display_card{
    display:block;
}

.not_display_card{
    display:none;   
}

.card-graph-main {
    background-color: #428bca !important;
    border-color: #428bca !important;
    margin-top: 0px;
    color: #fff;
    /*height:330px;*/
    min-height: 440px;
}

.card-admin {
    background-color: #04819E !important;
    border-color: #04819E !important;
    color: #fff;
    margin-top: 0px;
    /*height: 160px;*/
    height: 215px;
}

.card-operation {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
    color: #fff;
    margin-top: 0px;
    height: 215px;
}

.card-admin-2 {
    background-color: #5cb85c !important;
    border-color: #5cb85c !important;
    color: #fff;
    margin-top: 0px;
    height: 215px;
}

.card-news {
    background-color: #34495E !important;
    border-color: #34495E !important;
    color: #fff;
    margin-top: 0px;
    height: 215px;
}