﻿<div class="modal fade" id="AddCommercesModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Nuevo Comercio<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                @Html.Hidden("LatLon")
                <div class="form-group">
                    @Html.Label("Nombre del Comercio:", new { @class = "col-sm-14 control-label" })
                    @Html.TextBox("CommerceName", string.Empty, new { placeholder = "Nombre del Comercio", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Descripción:", new { @class = "col-sm-14 control-label" })
                    @Html.TextBox("Description", string.Empty, new { placeholder = "Descripción", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Direccción:", new { @class = "col-sm-14 control-label" })
                    <label id="lblAddress"></label>
                </div>
                <label class="alert-danger" hidden id="msgerror">Error al crear comercio, por favor inténtelo de nuevo.</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" onclick="saveCommerce()" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var saveCommerce = function () {
        var item = {};
        var latlon = $('#LatLon').val();

        item.Name = $('#CommerceName').val();
        item.Description = $('#Description').val();
        item.Latitude = latlon.split(',')[0];
        item.Longitude = latlon.split(',')[1];
        item.Address = $('#lblAddress').html();
        item.Type = 0;
        item.FromMaps = true;

        $('body').loader('show');
        $('#msgerror').hide();

        $.ajax({
            url: '/Commerces/AddOrEditCommerces',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ model: item }),
            success: function (result) {                
                $('body').loader('hide');
                if (result.indexOf('_ErrorPartialView') >= 0) {
                    $('#msgerror').show('slow');
                    return;
                }
                $('#AddCommercesModal').modal('hide');
            }
        });
    };
</script>