﻿@model ECOsystem.Models.Core.VehicleCommands
@{

}

<div class="col-sm-12 center">
    @if (Model.Commands == null || Model.Commands.Count == 0)
    {
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar
        </div>
    }
    else
    {
        foreach (var item in Model.Commands)
        {
            var status = item.Available ? string.Empty : "disabled";
            <button id="btnSearchCostCenter" type="button" class="btn btn-default col-sm-12 btnCommand" @status vehicleId="@Model.VehicleId" command="@item.Type">@item.Description</button>
        }
    }
</div>

<script>
    $(".btnCommand").click(function (e) {
        var vehicleId = $(this).attr('vehicleId');
        var command = $(this).attr('command');
        ECO_Efficiency.ContinousMonitoring.SendCommand(vehicleId, command);
    });
</script>
