﻿@model IEnumerable<ECO_Efficiency.Models.VehiclesMonitoring>

@foreach (var item in Model.Select(x => new { x.CostCenterId, x.CostCenterName, x.CostCenterCode }).Distinct())
{
    <div class="CostCenterPanelRight" cccode="@item.CostCenterCode" ccname="@item.CostCenterName">
        <div class="panel-group margin0 card-content" id="Centro@item.CostCenterId">
            <div class="card">
                <div class="card-heading">
                    <h4 class="panel-title link" style="cursor:pointer" data-toggle="collapse" data-parent="#Centro-@item.CostCenterId" href="#Centro-@item.CostCenterId">
                        <input type="checkbox" cc="@item.CostCenterId" class="btnCheckCC" /> @item.CostCenterName <strong>@item.CostCenterCode</strong>
                    </h4>
                </div>
                <div id="Centro-@item.CostCenterId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var cc in Model.Select(x => new { x.VehicleId, x.VehicleName, x.PlateId, x.CostCenterId, x.CostCenterName }).Where(c => c.CostCenterId == item.CostCenterId).Distinct())
                        {
                            <div class="checkbox checkboxCC" vhplate="@cc.PlateId" vhname="@cc.VehicleName" style="margin: 0 0 5px 0 !important;">
                                <label><input type="checkbox" class="checkboxCostCenter" value="@cc.VehicleId" /><strong>&nbsp;@cc.PlateId</strong> @cc.VehicleName</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}