﻿@model IEnumerable<ECO_Efficiency.Models.VehicleTemperatureResume>

<div class="row">
	<div class="col-sm-12">
		<div style="text-align:right">
			<button id="btnGetDownloadData" type="button" class="btn btn-default" onclick="ECO_Efficiency.TemperatureChart.OnClickDownloadReport()" title="Exportar a Excel"><i class="mdi mdi-format-list-bulleted"></i>&nbsp;Exportar a Excel</button>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class=" col-sm-12">
		<div class="grid-wrap" id="gridContainer" style="margin-top: -25px;">
			<table class="table grid-table">
				<thead>
					<tr>
						<th class="grid-header">
							<div class="grid-header-title">
							</div>
						</th>
						<th class="grid-header">
							<div class="grid-header-title">
							</div>
						</th>
						<th class="grid-header">
							<div class="grid-header-title">
							</div>
						</th>
						@foreach (var item in Model.Select(x => x.SensorId).Distinct())
						{
							<th class="grid-header" colspan="3">
								<div class="grid-header-title">
									<center> Sensor #@item </center>
								</div>
							</th>
						}
					</tr>
					<tr>
						<th class="grid-header">
							<div class="grid-header-title">
								Matricula
							</div>
						</th>
						<th class="grid-header">
							<div class="grid-header-title">
								Nombre Vehículo
							</div>
						</th>
						<th class="grid-header">
							<div class="grid-header-title">
								Fecha Reporte
							</div>
						</th>
						@foreach (var item in Model.Select(x => x.SensorId).Distinct())
						{
							<th class="grid-header">
								<div class="grid-header-title">
									Promedio
								</div>
							</th>
							<th class="grid-header">
								<div class="grid-header-title">
									Mínimo
								</div>
							</th>
							<th class="grid-header">
								<div class="grid-header-title">
									Máximo
								</div>
							</th>
						}
					</tr>
				</thead>
				<tbody>
					@{
						var list = Model.OrderBy(x => x.Id).GroupBy(x => x.ReportId).Select(x => x.FirstOrDefault());
					}
					@foreach (var item in list)
					{
						<tr class="grid-row">
							<td class="grid-cell">
								@item.Plate
							</td>
							<td class="grid-cell">
								@item.Name
							</td>
							<td class="grid-cell">
								@item.Date
							</td>
							@foreach (var sen in Model.Select(x => x.SensorId).Distinct())
							{
								var val = @Model.Where(x => x.SensorId == sen && x.ReportId == item.ReportId).FirstOrDefault();

								var str = val.Temperature == null ? "-" : val.Temperature.ToString();
								<td class="grid-cell">
									@str
								</td>
								str = val.MinTemperature == null ? "-" : val.MinTemperature.ToString();
								<td class="grid-cell">
									@str
								</td>
								str = val.MaxTemperature == null ? "-" : val.MaxTemperature.ToString();
								<td class="grid-cell">
									@str
								</td>
							}
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>