﻿@model ECO_Efficiency.Models.ContinuosMonitoringModel

@{
    var ChartIndicatiorsClass = "";
    if (Model.VehicleTemperatureList.Count() != null && ((Model.VehicleTemperatureList.Count() / 30) + 1) > 24)
    {
        ChartIndicatiorsClass = "carousel-indicators-with-n";
    }
}

@Html.HiddenFor(m => m.Labels)
@Html.HiddenFor(m => m.Titles)
@Html.HiddenFor(m => m.Data)
@Html.HiddenFor(m => m.Colors)
@Html.HiddenFor(m => m.AlphaColors)
@Html.HiddenFor(m => m.HighlightColors)

@if (Model.VehicleTemperatureList != null && Model.VehicleTemperatureList.Any())
{
    <div class="row">
        <div class="col-sm-12">
            <div id="chartsCarousel" class="carousel slide" data-interval="false">

                <div class="carousel-inner">
                    @for (var i = 0; i < (Model.HourCount / 30) + 1; i++)
                    {
                        <div class="item active" data-item>
                            <div class="row">
                                <div class="col-sm-12">
                                    <canvas></canvas>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Indicators -->
                <ol class="carousel-indicators @ChartIndicatiorsClass">
                    @for (var i = 0; i < (Model.HourCount / 30) + 1; i++)
                    {
                        var active = i == 0 ? "active" : "";
                        <li data-target="#chartsCarousel" data-slide-to="@i" class="@active"></li>
                    }
                </ol>
                <!-- Controls -->
                <div>
                    <a class="left carousel-control" href="#chartsCarousel" data-slide="prev"><i class="mdi mdi-chevron-double-left mdi-32px"></i></a>
                    <a class="right carousel-control" href="#chartsCarousel" data-slide="next"><i class="mdi mdi-chevron-double-right mdi-32px"></i></a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Hidden("NoData", true)
    <br/>
    <br/>

    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information mdi-18px"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
    </div>
}





