﻿@model IEnumerable<ECO_Efficiency.Models.VehiclesMonitoring>

@foreach (var item in Model.GroupBy(i => i.PlateId).Select(g => g.First()))
{
    <div class="vehicleDetail" id="row-@item.VehicleId" plate='@item.PlateId'>
        <div class="panel-group margin0 card-content">
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#accordion-@item.VehicleId" href="#accordion-@item.VehicleId">
                    <h4 class="panel-title link"><strong>@item.PlateId</strong> @item.VehicleName</h4>
                </div>
                <div id="accordion-@item.VehicleId" class="panel-collapse collapse accordin-right" style="padding: 5px 5px 0px 5px;">
                    <div class="panel-body" style="border-bottom: solid 1px lightgray; padding:0px 5px !important;">
                        <div style="padding-bottom:5px"><i class="mdi mdi-account-card-details" data-toggle="tooltip" data-placement="right" title="Conductor"></i> @item.DecryptedName</div>
                        <div style="padding-bottom:5px"><i class="mdi mdi-speedometer" data-toggle="tooltip" data-placement="right" title="Velocidad"></i> <span id="speed-@item.VehicleId"></span> <span id="status-@item.VehicleId"></span></div>
                        <div style="padding-bottom:5px"><i class="mdi mdi-road" data-toggle="tooltip" data-placement="right" title="Recorrido"></i> <span id="travel-@item.VehicleId"></span></div>
                        <div style="padding-bottom:5px"><i class="mdi mdi-map-marker" data-toggle="tooltip" data-placement="right" title="Latitud-Longuitud"></i> <span id="latlong-@item.VehicleId"></span></div>
                        <div style="padding-bottom:5px"><i class="mdi mdi-map" data-toggle="tooltip" data-placement="right" title="Dirección"></i><span id="direction-@item.VehicleId"></span></div>

                        @if (item.Score == null)
                        {
                            <div style="padding-bottom: 5px; color: black"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@item.ScoreStr </div>
                        }
                        @if (item.Score < 70)
                        {
                            <div style="padding-bottom: 5px; color: red"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@item.ScoreStr </div>
                        }
                        @if (item.Score >= 70 && item.Score < 80)
                        {
                            <div style="padding-bottom: 5px; color: yellow"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@item.ScoreStr </div>
                        }
                        @if (item.Score >= 80 && item.Score <= 100)
                        {
                            <div style="padding-bottom: 5px; color: green"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@item.ScoreStr </div>
                        }

                        <div style="padding-bottom:5px"><i class="mdi mdi-calendar-clock" data-toggle="tooltip" data-placement="right" title="Actualización"></i> <span id="dateTime-@item.VehicleId"></span></div>
                        @{
                            var showBattery = "hide";
                            var noGps = "hide";
                            if (item.ReportId == 10)
                            {
                                showBattery = string.Empty;
                            }
                            if (item.ReportId == 12)
                            {
                                noGps = string.Empty;
                            }
                        }

                        <div style="padding-bottom:5px" class="HighTemperature @showBattery" id="divBattery-@item.VehicleId"><i class="mdi mdi-battery-outline" data-toggle="tooltip" data-placement="right" title="@item.ReportIdDescription"></i> <span id="lowbattery-@item.VehicleId"></span></div>
                        <div style="padding-bottom:5px" class="HighTemperature @noGps" id="divGps-@item.VehicleId"><i class="mdi mdi-wifi-off" data-toggle="tooltip" data-placement="right" title="@item.ReportIdDescription"></i> <span id="nogps-@item.VehicleId"></span></div>

                        @if (item.HasCooler)
                        {
                            <div style="padding-bottom:5px" class="@ECO_Efficiency.Business.Utilities.GeneralCollections.SetTemperatureAlert(item.ReportId)" id="div-temperature-@item.VehicleId">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Temperatura Promedio"></i><span id="temperature-@item.VehicleId">@item.TemperatureStr</span>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <label class="label label-success text-left" data-toggle="collapse" data-parent="#SensorsTable-@item.VehicleId" href="#SensorsTable-@item.VehicleId" style="cursor:pointer; ">Ver Detalles</label>
                                    </div>
                                    <div id="SensorsTable-@item.VehicleId" class="panel-collapse accordin-left collapse">
                                        <div class="panel-body" style="margin: 25px -5px -15px -5px;" id="sensorstabledetail-@item.VehicleId">
                                            @{
                                                var list = string.IsNullOrEmpty(item.SensorsXML) ? new List<string>() : ECO_Efficiency.Business.Utilities.GeneralCollections.GetNodesXMLSensors(item.SensorsXML);
                                            }
                                            <table class="table table-striped">
                                                <tbody>
                                                    @if (list.Any())
                                                    {
                                                        for (int i = 0; i < list.Count; i = i + 3)
                                                        {
                                                            int x = i + 1;
                                                            int y = 0;
                                                            <tr>
                                                                <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@x"></i>(@x)&nbsp;<span style="font-weight:normal;">@list[i]°</span></th>
                                                                @if (i < list.Count - 2)
                                                                {
                                                                    x = i + 2;
                                                                    y = i + 3;

                                                                    <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@x"></i>(@x)&nbsp;<span style="font-weight:normal;">@list[i + 1]°</span></th>
                                                                    <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@y"></i>(@y)&nbsp;<span style="font-weight:normal;">@list[i + 2]°</span></th>
                                                                }
                                                                else if (i < list.Count - 1)
                                                                {
                                                                    x = i + 2;
                                                                    <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@x"></i>(@x)&nbsp;<span style="font-weight:normal;">@list[i + 1]°</span></th>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <th>No existen datos</th>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <strong vehicleid=@item.VehicleId class="btnChart" style="color: #ff6a00;cursor:pointer;padding-left: 15px;"><i class="mdi mdi-chart-bar"></i>Temperaturas</strong>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel-body" style="padding: 5px !important;margin-left: -15px;margin-right: -15px;">
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left">
                            <strong vehicleid=@item.VehicleId class="btnShowCommerceModal" style="color: darkcyan;cursor:pointer;padding-right: 5px;"><i class="mdi mdi-domain"></i>&nbsp;+ Comercio</strong>
                        </div>
                        <div class="col-sm-6 text-right">
                            <strong vehicleid=@item.VehicleId class="btnView" style="color: darkcyan;cursor:pointer;padding-right: 5px; padding-left:13px"><i class="mdi mdi-map-marker"></i>UBICAR</strong>
                        </div>
                    </div>
                    @if (item.HasCommands != null && item.HasCommands == true)
                    {
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <hr style="border-top: 1px solid #ccc; margin-top: 10px;" />
                                <strong vehicleid=@item.VehicleId class="btnShowCommands" style="color: darkcyan;cursor:pointer;padding-right: 5px;"><i class="mdi mdi-settings"></i>&nbsp;Comandos</strong>
                            </div>
                        </div>
                    }
                </div>
                <div id="CommandContainer-@item.VehicleId" hidden class="panel-body" style="padding: 5px !important;margin-left: -15px;margin-right: -15px;">
                    @Html.Partial("_Partials/_CommandsDetail", new ECOsystem.Models.Core.VehicleCommands())
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(".btnChart").click(function (e) {
        //ECOsystem.Utilities.ShowLoader();
        $('#loadTemperatureForm').find('#vehicleId').val($(this).attr('vehicleid'));
        $('#loadTemperatureForm').submit();
    });

    $('.btnShowCommerceModal').click(function () {
        var vehicleId = $(this).attr('vehicleid');

        $('#CommerceName').val('');
        $('#Description').val('');
        $('#LatLon').val($('#latlong-' + vehicleId).html());
        $('#lblAddress').html($('#direction-' + vehicleId).html());
        $('#AddCommercesModal').modal('show');
    });

    $(".btnView").click(function (e) {
        e.stopPropagation();
        var vehicleId = $(this).attr("vehicleId");
        ////-- FLOT-832 -- Load the selected car.
        //var Url = $("#mapFrame").attr("OriginalSrc") + vehicleId + "|" + vehiclesArray.join();
        var Url = $("#mapFrame").attr("OriginalSrc") + vehicleId + "|" + vehicleId;
        $("#mapFrame").attr("src", Url);
    });

    $(".btnShowCommands").click(function () {
        ECO_Efficiency.ContinousMonitoring.ShowAvailableCommands($(this).attr('vehicleid'));
    });
</script>
