﻿@model IEnumerable<ECO_Efficiency.Models.VehiclesMonitoring>

@foreach (var item in Model.Select(x => new { x.VehicleGroupId, x.VehicleGroupName }).Distinct())
{
    <div class="GroupVehiclePanelRight" gvname="@item.VehicleGroupName">
        <div class="panel-group margin0 card-content" id="Centro@item.VehicleGroupId">
            <div class="card"> 
                <div class="card-heading" data-toggle="collapse" data-parent="#Group-@item.VehicleGroupId" href="#Group-@item.VehicleGroupId">
                    <h4 class="panel-title link">
                        <input type="checkbox" cc="@item.VehicleGroupId" class="btnCheckGroup" /> @item.VehicleGroupName
                    </h4>
                </div>
                <div id="Group-@item.VehicleGroupId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var Group in Model.Where(c => c.VehicleGroupId == item.VehicleGroupId)) {
                            <div class="checkbox checkboxGV" vhplate="@Group.PlateId" vhname="@Group.VehicleName" style="margin: 0 0 5px 0 !important;">
                                <label><input type="checkbox" class="checkboxGroup" value="@Group.VehicleId" /><strong>&nbsp;@Group.PlateId</strong> @Group.VehicleName</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}