﻿@model  ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceRecordByVehicleBase
@{
    string ClassHidden = "";
    string ClassHidden2 = "hidden";
    decimal totalCost = 0;
    decimal totalCostDollar = 0;
    decimal totalRecord = 0;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<style>
    .modalCost {
        left: -200px !important;
    }

    .input-text {
        width: 120px !important;
    }

    .no-border {
        border-top: none !important;
    }

    .form-group {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .modal {
        overflow-y: auto;
    }

    .pt30 {
        padding-top:34px !important;
    }
</style>

<!--Modal Start-->
<input type="hidden" id="CurrencySymbol" value="@ViewBag.Symbol" />
<input type="hidden" id="PreventiveMaintenanceRecordByVehicleId" value="@Model.Data.VehicleId" />
<input type="hidden" id="PreventiveMaintenanceId" value="@Model.Data.PreventiveMaintenanceId" />
<div class="modal fade modalCost" id="addOrEditModalCost" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información del Mantenimiento Preventivo <span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-13">
                        <div class="alert alert-info alert-dismissible fade in" role="alert" style=" font-size:14px; padding-top:4px; padding-bottom:4px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <p style="font-size:small;"><i class="mdi mdi-information" style="font-size:12px;"></i><b>&nbsp;&nbsp;Al aplicar los datos en este formulario, se generará un nuevo mantenimiento preventivo según las fechas y kilometrajes definidos en el maestro de mantenimiento.</b></p>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-lg-2 text-right" style="padding-top:2.8%;">
                            <button id="btnAddCost" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i>&nbsp;Agregar Registro</button>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-3">
                            @Html.LabelFor(m => m.Detail.Header.DateStr)
                            <div class='input-group date' id='datetimepicker1'>
                                @Html.TextBoxFor(m => m.Detail.Header.DateStr, new { placeholder = "Fecha", @class = "form-control", @autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar mdi-18px"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            @Html.LabelFor(m => m.Detail.Header.Odometer)
                            @Html.TextBoxFor(m => m.Detail.Header.Odometer, new { placeholder = "Odómetro", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Detail.Header.Odometer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model.Detail.Cost.Count() > 0)
                    {
                        ClassHidden = "";
                        ClassHidden2 = "hidden";
                    }
                    else
                    {
                        ClassHidden = "hidden";
                        ClassHidden2 = "";
                    }

                    <div class="cost-scroll">
                        <div class="row">
                            <div class="col-lg-12 @ClassHidden" id="gridCostContainer">

                                <div class="grid-mvc"
                                     data-lang="en"
                                     data-gridname=""
                                     data-selectable="true"
                                     data-multiplefilters="false">
                                    <div class="grid-wrap">
                                        <table class="table grid-table">
                                            <tbody id="bodyData">
                                                @{
                                                    bool color = false;
                                                    string style = string.Empty;
                                                    string hideDiv = (ViewBag.Symbol == "$") ? "hidden":"";

                                                    foreach (var m in Model.Detail.Cost)
                                                    {

                                                        if (color)
                                                        {
                                                            style = "background-color:#e8e8e8 !important;";
                                                        }
                                                        else
                                                        {
                                                            style = "";
                                                        }

                                                        <tr style="@style">
                                                            <td class="grid-cell grid-col-hide data-Id hidden" data-name="PreventiveMaintenanceRecordByVehicleDetailId">@m.PreventiveMaintenanceRecordByVehicleDetailId</td>
                                                            <td class="grid-cell grid-col-hide data-Id hidden" data-name="PreventiveMaintenanceRecordByVehicleId">@m.PreventiveMaintenanceRecordByVehicleId</td>
                                                            <td class="grid-cell grid-col-hide data-Id hidden" data-name="PreventiveMaintenanceCostId">@m.PreventiveMaintenanceCostId</td>
                                                            <td class="grid-cell" data-name="Description">
                                                                <div class="form-group">
                                                                    <label>Nombre</label>
                                                                    @if (m.PreventiveMaintenanceCostId == 0)
                                                                    {
                                                                        <input type="text" class="form-control nav-justified" value="@m.Description" id="Name-@m.PreventiveMaintenanceRecordByVehicleDetailId" data-currency="true">
                                                                    }
                                                                    else
                                                                    {
                                                                        if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0)
                                                                        {
                                                                            <input type="text" class="form-control nav-justified" value="@m.Description" id="Name-@m.PreventiveMaintenanceRecordByVehicleDetailId" data-currency="true" disabled="disabled">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="text" class="form-control nav-justified" value="@m.Description" id="Name-@m.PreventiveMaintenanceCostId" data-currency="true" disabled="disabled">
                                                                        }
                                                                    }
                                                                </div>
                                                            </td>
                                                            <td class="grid-cell" data-name="Cost">
                                                                <div class="form-group">
                                                                    <label>Costo</label>
                                                                    <div class="input-group">
                                                                        <span2 class="input-group-addon">@ViewBag.Symbol</span2>

                                                                        @{ totalCost = totalCost + m.Cost; }

                                                                        @if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0)
                                                                        {
                                                                            <input type="text" onblur="ECOsystem.PreventiveMaintenanceVehicle.Sumatory()" class="form-control text-right num-cost" value="@m.Cost" id="Cost-@m.PreventiveMaintenanceRecordByVehicleDetailId" costid="Cost-@m.PreventiveMaintenanceCostId" recordbyvehicledetailid="@m.PreventiveMaintenanceRecordByVehicleDetailId" data-currency="true" disabled="disabled">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="text" onblur="ECOsystem.PreventiveMaintenanceVehicle.Sumatory()" class="form-control text-right num-cost" value="@m.Cost" id="Cost-@m.PreventiveMaintenanceCostId" costid="Cost-@m.PreventiveMaintenanceCostId" recordbyvehicledetailid="0" data-currency="true" disabled="disabled">
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="grid-cell" data-name="Record">
                                                                <div class="form-group">
                                                                    <label>Registro (Moneda Local)</label>
                                                                    <div class="input-group">
                                                                        <span2 class="input-group-addon">@ViewBag.Symbol</span2>

                                                                        @{ totalRecord = totalRecord + m.Record; }

                                                                        @if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0)
                                                                        {
                                                                            <input type="text" onblur=" ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.Sumatory()" class="form-control text-right num-cost" value="@m.Record" id="Record-@m.PreventiveMaintenanceRecordByVehicleDetailId" recordbyvehicleid="Record-@m.PreventiveMaintenanceRecordByVehicleId" data-currency="true">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="text" onblur=" ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.Sumatory()" class="form-control text-right num-cost" value="@m.Record" id="Record-@m.PreventiveMaintenanceCostId" recordbyvehicleid="Record-0" data-currency="true">
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="grid-cell" data-name="CostDollar">

                                                                <div class="form-group" @hideDiv>
                                                                    <label>Registro (Dólares)</label>
                                                                    <div class="input-group">
                                                                        <span2 class="input-group-addon">$</span2>

                                                                        @{ totalCostDollar = totalCostDollar + m.CostDollar; }

                                                                        @if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0)
                                                                        {
                                                                            <input type="text" onblur=" ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.Sumatory()" class="form-control text-right num-cost" value="@m.CostDollar" id="CostDollar-@m.PreventiveMaintenanceRecordByVehicleDetailId" costid="Cost-@m.PreventiveMaintenanceCostId" recordbyvehicledetailid="@m.PreventiveMaintenanceRecordByVehicleDetailId" data-currency="true">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="text" onblur=" ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.Sumatory()" class="form-control text-right num-cost" value="@m.CostDollar" id="CostDollar-@m.PreventiveMaintenanceCostId" costid="Cost-@m.PreventiveMaintenanceCostId" recordbyvehicledetailid="0" data-currency="true">
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr style="@style">
                                                            <td class="grid-cell no-border" data-name="ServiceProvider">
                                                                <div class="form-group">
                                                                    <label>Proveedor de Servicio</label>
                                                                    <input type="text" class="form-control" value="@m.ServiceProvider" />
                                                                </div>
                                                            </td>
                                                            <td class="grid-cell no-border" data-name="InvoiceNumber">
                                                                <div class="form-group">
                                                                    <label>Número de Factura</label>
                                                                    <input type="text" class="form-control" style="width:200px !important" value="@m.InvoiceNumber" />
                                                                </div>
                                                            </td>
                                                            <td class="grid-cell no-border" data-name="MaintenanceTime">
                                                                <div class="form-group">
                                                                    <label>D&iacute;as del Veh&iacute;culo en Taller</label>
                                                                    <input type="text" class="form-control" style="width:200px !important" value="@m.MaintenanceTime" />
                                                                </div>
                                                            </td>
                                                            <td class="grid-cell no-border" data-name="Comments">
                                                                <div>
                                                                    <label>Comentarios</label>
                                                                    <input type="text" class="form-control" style="width:200px !important" value="@m.Comments" />
                                                                </div>
                                                            </td>
                                                            <td class="grid-cell grid-col-btn no-border pt30" data-name="">
                                                                <span class="toolBar1">
                                                                    @if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0)
                                                                    {
                                                                        if (m.PreventiveMaintenanceCostId == 0)
                                                                        {
                                                                            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceRecordByVehicleDetailId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="#" class="delete-color disabled" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceRecordByVehicleDetailId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (m.PreventiveMaintenanceCostId == 0)
                                                                        {
                                                                            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceCostId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="#" class="delete-color disabled" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceCostId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                                        }
                                                                    }
                                                                </span>
                                                            </td>
                                                        </tr>

                                                        if (color)
                                                        {
                                                            color = false;
                                                        }
                                                        else
                                                        {
                                                            color = true;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div id="MessageAlert" class="alert alert-info alert-dismissible fade in @ClassHidden2" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px;padding-bottom: 15px;text-align: right;">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Total Costo @ViewBag.Symbol</span>
                            <input type="text" class="form-control text-right  num-cost" value="@totalCost" id="Cost-total" data-currency="true" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Total Registro @ViewBag.Symbol</span>
                            <input type="text" class="form-control text-right num-cost" value="@totalRecord" id="Record-total" data-currency="true" disabled="disabled">
                        </div>
                    </div>
                    @{
                        string hidden = string.Empty;

                        if (ViewBag.Symbol == "$")
                        {
                            hidden = "hidden";
                        }
                    }
                    <div class="col-lg-4" @hidden>
                        <div class="input-group">
                            <span class="input-group-addon">Total Registro $</span>
                            <input type="text" class="form-control text-right  num-cost" value="@totalCostDollar" id="CostDollar-total" data-currency="true" disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button id="btnCancelCost" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnSaveCost" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                    <button id="btnApplyCost" type="button" class="btn btn-success"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
<!-- Validate Modal Start-->
<div class="modal fade" id="validateCostModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Error de Validación de Datos<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p>Hay datos no válidos en el formulario, verifiquelos y vuelva a intentarlo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-remove"></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>

</div>
<!-- Validate Modal End -->
<!-- Alert Modal Start -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Error de Validación</h4>
            </div>
            <div class="modal-body">
                <p>Faltan Datos por Incluir, Verifique por Favor</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>


        </div>
    </div>
</div>
<!-- Dele Modal End-->

<style type="text/css">
    .buttonColumn {
        padding-top: 1% !important;
    }
</style>

<script src="~/Scripts/Administration/PreventiveMaintenanceVehicle.min.js?v=@version-hf0"></script>
<script>
    $(document).ready(function () {
         ECOsystem.Areas.Admin.PreventiveMaintenanceVehicle.InitCost();
    });
</script>
