﻿@model  ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceVehicleAssign

<!--Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog " style="width:750px;" >
        <div class="modal-content">
            @Html.HiddenFor(m => m.VehicleId)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agregar Mantenimiento Preventivo - <span id="VehicleInfo"></span></h4>
            </div>
            <div class="modal-body" style=" margin-bottom: -25px;">
                <div class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.DropDownList("ddlFilterType",  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetFilterMaintenanceType, new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                        </div>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => m.PreventiveMaintenanceCatalogId, Model.PreventiveMaintenanceCatalogList, "Mantenimiento", new { @class = "form-control fbold", custom = "true", disabled = "disabled", id = "PreventiveMaintenanceCatalogList" })
                        </div>                        
                    </div>
                    <br />

                    <div class="panel panel-default">                        
                        <div class="panel-heading">Detalle del mantenimiento</div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.LastReviewDateStr, new { @class = "control-label" })
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.TextBoxFor(m => m.LastReviewDateStr, new { placeholder = "Fecha de la Última Revisión", @class = "form-control", @autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="mdi mdi-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.LastReviewDateStr, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.LastReviewOdometer, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.LastReviewOdometer, new { placeholder = "Kilometraje de la Última Revisión", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastReviewOdometer, "", new { @class = "text-danger" })
                            </div>    
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnAddMaintenance"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
