﻿@model  ECOsystem.Areas.Control.Models.Control.TimeSlotByVehicle

@if (Model.VehicleId != null)
{
    @Html.HiddenFor(m => m.JsonTimeSlot)
    @Html.HiddenFor(m => m.RowVersion)


    <div class="card">
        <div class="card-content">

            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione <strong>múltiples cuadros</strong> con el clic izquierdo presionado.
            </div>

            <div class="col-lg-12">
                <table id="TimeSlotTable">
                    <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Dom</td>
                            <td>Lun</td>
                            <td>Mar</td>
                            <td>Mier</td>
                            <td>Jue</td>
                            <td>Vie</td>
                            <td>Sab</td>
                            <td>&nbsp;</td>
                            <td>Dom</td>
                            <td>Lun</td>
                            <td>Mar</td>
                            <td>Mier</td>
                            <td>Jue</td>
                            <td>Vie</td>
                            <td>Sab</td>
                        </tr>
                    </thead>
                    <tbody id="TimeSlotBody"></tbody>
                </table>

                <br />
            </div>
           
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                    <h6><span class="label" style="background-color:#ccc">&nbsp;</span> No hay horarios asignados para uso de medios de pago</h6>
                </div>
                <div class="col-sm-5">
                    <h6><span class="label" style="background-color:#006DB1">&nbsp;</span> Horario asignado para el uso de medios de pago</h6>
                </div>
            </div>
       
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div class="col-sm-6 text-right">
                    <button id="btnAddAlarm" type="button" class="btn btn-success"><i class="mdi mdi-bell"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#clearModal"><i class="mdi mdi-close"></i>&nbsp;Desmarcar Todos</button>
                    <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        ECO_Control.TimeSlotByVehicle.InitCanvas();
    </script>
}
