﻿@using System.Configuration
@{
    ViewBag.Title = "Flotas BAC Credomatic";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_LayoutMaps.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
    var url = string.Format("{0}realtime?id={2}", ConfigurationManager.AppSettings["UrlMap"], ECOsystem.Utilities.Session.GetCustomerId(), ECOsystem.Utilities.Session.GetUserInfo().MapsToken);
}

<style>
    #mapFrame {
        border: 0;
        width: 100%;
        height: calc(100vh);
    }
</style>

<iframe id="mapFrame" src="@url"></iframe>
