﻿@model ECO_Efficiency.Models.ContinuosMonitoringModel
@{
    ViewBag.Title = "Temperaturas";
    ViewBag.Control = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_LayoutMaps.cshtml";

    var ChartIndicatiorsClass = string.Empty;
    var hidden = false;

    if (Model.VehicleTemperatureList != null && ((Model.VehicleTemperatureList.Count() / 30) + 1) > 24)
    {
        ChartIndicatiorsClass = "carousel-indicators-with-n";
    }

    if (Model.VehicleTemperatureList != null && Model.VehicleTemperatureList.Any())
    {
        hidden = false;
    }
    else
    {
        hidden = true;
    }

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@Styles.Render("~/bundles/gridmvc_css_bacflota")
<style>
    .carousel-control.left, .carousel-control.right {
        background-image: none !important;
    }

    .carousel-inner .item {
        padding: 0 0 30px 0;
    }

    .carousel-indicators {
        bottom: 0;
        width: 76%;
        margin-left: -38%;
    }

        .carousel-indicators li {
            background: #9c9c9c;
        }

        .carousel-indicators .active {
            background: #4B4B4B;
        }

    .carousel-control {
        color: #4B4B4B;
        top: auto;
        bottom: 0;
        padding-top: 4px;
        width: 36px;
        height: 36px;
        -ms-opacity: 1;
        opacity: 1;
        -ms-text-shadow: none;
        text-shadow: none;
    }

        .carousel-control:hover {
            color: black;
        }
</style>

@using (Html.BeginForm("DonwloadFile", "ContinuosMonitoring", FormMethod.Post, new { id = "DownloadFileForm" })) { }

@using (Ajax.BeginForm("ExcelReportDownload", "ContinuosMonitoring", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Efficiency.TemperatureChart.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ECO_Efficiency.TemperatureChart.HideLoader(data)"
}, new { id = "ExcelReportDownloadForm" }))
{ }

<div id="page-content-wrapper">
    <div class="container-fluid">
        @Html.HiddenFor(m => m.VehicleIdTemp)
        <div id="ControlsContainer">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class='input-group date' id='datetimepickerStartDate'>
                                @Html.TextBox("StartDate", string.Empty, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "onClick", "ECO_Efficiency.TemperatureChart.OnClickFirstDate();" }, { "autocomplete", "off" } })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <button id="btnReloadChart" type="button" class="btn btn-success"><i class="mdi mdi-reload"></i>&nbsp;Generar Información</button>
                        </div>
                    </div>                    
                    <span class="card-title" hidden=@hidden id="card_title">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect " for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                            <span class="mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect  " for="option-2">
                            <input type="radio" id="option-2" class="mdl-radio__button activator" name="options" value="2">
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>
                    </span>
                    @for (var i = 0; i < Model.SensorCount; i++)
                    {
                        var position = i + 1;

                        <div id= "sensorsdiv" class="row" hidden=@hidden>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label style="color:@Model.Colors"><input type="checkbox" id="Sensor_@position " position="@position" value="" checked="checked" onchange="ECO_Efficiency.TemperatureChart.ReconstructionChart(this)"> Sensor @position</label><br>
                                </div>
                            </div>
                        </div>
                    }

                    <div id="chartcontainer">
                        @Html.Partial("_partials/_TemperatureChart", Model)
                    </div>

                </div>
                <!-- CARD REVEAL -->
                <div class="card-reveal">
                    <span class="card-title">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                            <input type="radio" id="option-3" class="mdl-radio__button" name="options2" value="1">
                            <span class=" mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                            <input type="radio" id="option-4" class="mdl-radio__button activator" name="options2" value="4" checked>
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>
                    </span>
                    <div id="TemperatureDetailContainer">
                        @Html.Partial("_partials/_TemperatureGrid", Model.VehicleTemperatureList)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Efficiency/TemperatureChart.js?v=@version-hf0"></script>
    <script src="~/Content/Scripts/ChartNew.js?v=@version-hf0"></script>
    <script>
        $(function () {
            ECO_Efficiency.TemperatureChart.Init({
                labels: @Model.Labels,
                titles: @Model.Titles,
                data: @Model.Data,
                colors: @Model.Colors,
                alpha: @Model.AlphaColors,
                highligh: @Model.HighlightColors,
            });
            $('#datetimepickerStartDate').datepicker("setDate", new Date());
        });

    </script>
}


