﻿@model ECO_Insurance.Models.Insurance.LowDrivingScoreFleetEvolutionReportBase

@{ 
    var ChartIndicatiorsClass = "";
    if (Model != null && ((Model.ColumnCount / 12) + 1) > 24)
    {
        ChartIndicatiorsClass = "carousel-indicators-with-n";
    }
}

<div class="row">
                    <div class="col-sm-12">
                        <div id="LowDrivingScoreFleetEvolutionReportCarousel" class="carousel slide" data-interval="false">

                            <div class="carousel-inner">
                                @for (var i = 0; i < (Model.ColumnCount / 12) + 1; i++)
                                {
                                    <div class="item active" data-item>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <canvas class="lowScoreFleetEvolution"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <!-- Indicators -->
                            <ol class="carousel-indicators @ChartIndicatiorsClass">
                                @for (var i = 0; i < (Model.ColumnCount / 12) + 1; i++)
                                {
                                    var active = i == 0 ? "active" : "";
                                    <li data-target="#LowDrivingScoreFleetEvolutionReportCarousel" data-slide-to="@i" class="@active"></li>
                                }
                            </ol>
                            <!-- Controls -->
                            <div>
                                <a class="left carousel-control" href="#LowDrivingScoreFleetEvolutionReportCarousel" data-slide="prev"><i class="fa fa-angle-double-left fa-lg"></i></a>
                                <a class="right carousel-control" href="#LowDrivingScoreFleetEvolutionReportCarousel" data-slide="next"><i class="fa fa-angle-double-right fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
<div class="row">
    <div class="col-sm-3 col-sm-offset-2">
        <h6><span class="label" style="background-color:#815b3a">&nbsp;</span> @Model.Titles[0]</h6>
    </div>
    <div class="col-sm-3">
        <h6><span class="label" style="background-color:#3b7fc4">&nbsp;</span> @Model.Titles[1]</h6>
    </div>
    <div class="col-sm-3">
        <h6><span class="label" style="background-color:#f15c75">&nbsp;</span> @Model.Titles[2]</h6>
    </div>
</div>