﻿@using ECO_Insurance.Models.Insurance
@model IEnumerable<dynamic>
 @{
    List<int> customersList = new List<int>();
    foreach (LowScoreDrivingFleetEvolution item in Model)
    {
        if (!customersList.Contains(item.CustomerId)){ customersList.Add(item.CustomerId);}
    }
    string customerName = "";
    int count = 0;
 }
@if (Model != null && Model.Any())
{
     <div class="accordion"  id="accordion2">
             
              @foreach (int customer in customersList)
              {
                   customerName=(from item in Model
                   where item.CustomerId == customer
                                 select item).ToList().FirstOrDefault().DecryptedName;
                
                  string colapseName="collapse"+count;
                  string colapseId = "#collapse" + count;
                  
                    <div class="accordion-group">
                      <div class="accordion-heading">
                           
                            <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="@colapseId">
                                        <div class="panel panel-default">
                                <div class="panel-heading">
                                    @customerName  
                                </div>
                                </div>
                            </a>
                      </div>
                      <div id="@colapseName" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                           
                        @(Html.Grid(Model.Select(item => item as  LowScoreDrivingFleetEvolution).Where(grow => grow.CustomerId ==customer))
     
                         .Columns(c =>
                          {
                    
                            //  c.Add(m => m.DriverScoreId).Titled("ID").SetWidth(240);
                              //c.Add(m => m.DecryptedName).Titled("Flota").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.MonthStr).Titled("Mes").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.Year).Titled("Año").SetWidth(110).Css("grid-col-center");
                              c.Add(m => m.AverageScorestr).Titled("% Puntuación").SetWidth(110).Css("grid-col-center");
                              //   c.Add(m => m.UserId).Titled("Usuario ID").SetWidth(110).Css("grid-col-right");
                          }
                          )
                          .Selectable(true)
    )
                               
                                                 
                               </div>
                      </div>
                    </div>
                    count = count + 1;
                }
              </div>
   
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
