﻿@using System.Text.RegularExpressions
@using  ECOsystem.Areas.Control.Models.Control
@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{

    var type = new Regex(@"\[.+?\]").Matches(Model.GetType().ToString())[0].ToString().Replace("ECOsystem.Areas.Control.Models.Control.", "");
    switch (type)
    {
        case "[EfficiencyFuelsByVehicleGroupReport]":
            @(Html.Grid(Model.Select(item => item as EfficiencyFuelsByVehicleGroupReport))
                  .Columns(c =>
                  {
                      c.Add(m => m.VehicleGroupName).Titled("Grupo de Vehículos").SetWidth(240);
                      c.Add(m => m.MonthName).Titled("Mes").SetWidth(110);
                      c.Add(m => m.Year).Titled("Año").SetWidth(110);
                      c.Add(m => m.CapacityUnitPerformanceStr).Titled("Rendimiento Km/" + ECOsystem.Utilities.Session.GetCustomerCapacityUnitName().Substring(0,1)).SetWidth(110).Css("grid-col-right");
                  }
                  )
                  .Selectable(true)
                  )
            break;
        case "[EfficiencyFuelsByVehicleSubUnitReport]":
            @(Html.Grid(Model.Select(item => item as EfficiencyFuelsByVehicleSubUnitReport))
                  .Columns(c =>
                  {
                      c.Add(m => m.CostCenterName).Titled("Nombre de Centro de Costo").SetWidth(240);
                      c.Add(m => m.MonthName).Titled("Mes").SetWidth(110);
                      c.Add(m => m.Year).Titled("Año").SetWidth(110);
                      c.Add(m => m.CapacityUnitPerformanceStr).Titled("Rendimiento Km/" + ECOsystem.Utilities.Session.GetCustomerCapacityUnitName().Substring(0, 1)).SetWidth(110).Css("grid-col-right");
                  }
                  )
                  .Selectable(true)
                  )
            break;
        case "[EfficiencyFuelsByVehicle]":
            @(Html.Grid(Model.Select(item => item as EfficiencyFuelsByVehicle))
                  .Columns(c =>
                  {
                      c.Add(m => m.PlateNumber).Titled("Matrícula").SetWidth(240);
                      c.Add(m => m.MonthName).Titled("Mes").SetWidth(110);
                      c.Add(m => m.Year).Titled("Año").SetWidth(110);
                      c.Add(m => m.CapacityUnitPerformanceStr).Titled("Rendimiento Km/" + ECOsystem.Utilities.Session.GetCustomerCapacityUnitName().Substring(0, 1)).SetWidth(110).Css("grid-col-right");
                  }
                  )
                  .Selectable(true)
                  )
            break;
    }

}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
