﻿@model ECOsystem.Models.Core.PartnersBase
@{
    ViewBag.Title = "Mantenimiento de Socios";
    ViewBag.Settings = "active";
    ViewBag.SettingsPartners = "active";
    ViewBag.SettingsPartnersIndex = "active";

    ViewBag.HasGrid = true;

    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            width: 246px;
            top: 10px;
            left: 20px;
        }

        .progress_bar.loading {
            opacity: 1.0;
        }

        .progress_bar .percent {
            background-color: #3090d1;
            height: auto;
            width: 0;
            padding-left: 5px;
        }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }

        .user-logo {
            width: 50px;
            height: 50px;
            background-color: #eaeaea;
        }

        .user-logo img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
            width: auto;
            max-width: 100%;
        }
    </style>
}


@using (Ajax.BeginForm("AddOrEditPartners", "Partners", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="2" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
        
<div id="page-content-wrapper">
    <div class="container-fluid">

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchPartners", "Partners", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-sm-2 pull-left">
                    <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i>&nbsp;Agregar Socio</button>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-4">
                    <div class="input-group">

                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar..."/>

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>

                    </div>
                </div>

            </div>
        }

        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadPartners", "Partners", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = " ECOsystem.Areas.Coinca.Partners.OnSuccessLoad"
        }, new { id = "loadForm", autocomplete = "off" }))
        {
            @Html.Hidden("id")
        }

        <!-- Load Form End-->
        <!-- Dele Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeletePartners", "Partners", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose"
                    }, new { id = "deleteForm" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->

        <br />
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>

    </div>
</div>


@section scripts {

    <script src="~/Scripts/Settings/partners.js?v=@version-hf0"></script>
    <script>   
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.Partners.Init();
        });
           
    </script>
}
