﻿@model List<ECOsystem.Management.Models.Event>

@section styles{
    <style>
        fieldset {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }

        .divFieldSet {
            margin-top: -10px!important;
            margin-bottom: -10px!important;
        }
    </style>
}

@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    var showWarning = Model.Any() ? !Model.Where(x => x.Init.EventTypeId == ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.BeginJourneyEvent)).Any() : false;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("ExcelReportDownload", "Event", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Management.Event.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ECO_Management.Event.OnCompleteDownload(data)"
}, new { id = "ExcelReportDownloadForm" })) { }

@using (Html.BeginForm("DownloadFile", "Event", FormMethod.Post, new { id = "DownloadExcelForm" })) { }

@using (Ajax.BeginForm("LoadEvent", "Event", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECO_Management.Event.OnSuccessLoad()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

@Html.Hidden("erroReportShow", erroReport)
@Html.Hidden("showWarning", showWarning.ToString())
<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-sm-8">
                    <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar Eventos</button>
                    <button id="btnGetDownloadData" type="button" class="btn btn-default" title="Exportar a Excel"><i class="mdi mdi-format-list-bulleted"></i>&nbsp;Exportar a Excel</button>
                </div>
                @using (Ajax.BeginForm("SearchEvent", "Event", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECO_Management.Event.SuccessSearch()"
                }, new { id = "searchForm" }))
                {
                    <div class="col-sm-4 pull-right">
                        <div class="input-group">
                            <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por Nombre de Evento">
                            <span class="input-group-btn">
                                <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                            </span>
                        </div>
                    </div>
                }
                <div class="col-lg-12">
                    @using (Ajax.BeginForm("AddOrEditEvent", "Event", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnBegin = "ECO_Management.Event.ShowLoader()",
                        OnSuccess = "ECO_Management.Event.HideAddOrEdit()"
                    }, new { id = "addOrEditForm", autocomplete = "off" }))
                    {
                        <div id="detailContainer" class="row" hidden></div>
                    }
                </div>

                <div id="InformationMessage"></div>

                <div class="col-lg-12" id="gridContainer">
                    @Html.Partial("_partials/_Grid", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteEvent", "Event", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = "ECO_Management.Event.ShowLoader()",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose(); ECO_Management.Event.HideLoader()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="BeginJourneyWarningModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eventos<span class="element-name"></span></h4>
            </div>
            <div class="modal-body" style="margin-top: -25px;">
                <h3>Nota Informativa:</h3>
                No existe un evento de tipo <b>Jornada</b>. Esto puede provocar inconsistencias en el <b>Reporte de Cumplimientos</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ValidateBeginJourneyAdd" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eventos<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
               Ya existe un evento de tipo <b>Jornada</b>. Por favor seleccione otro tipo de evento. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Management/Event.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.Event.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
        if ($('#showWarning').val() == 'True') { $('#BeginJourneyWarningModal').modal('show'); }
    </script>
}