﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.VehicleByRoute
<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-PassControl">
        <div class="modal-content">
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Vehículos por Ruta<span class="element-name"></span></h4>
            </div>
            <div class="modal-body body-modal-PassControl">

                @using (Ajax.BeginForm("LoadVehicleByRoute", "VehicleByRoute", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "DragAndDropContainer",
                    OnSuccess = "ECO_Efficiency.VehicleByRoute.OnSuccessLoad()"
                }, new { id = "_loadForm" }))
                {
                    @Html.Hidden("id", "")
                }

                @Html.HiddenFor(m => m.Name)

                <div class="alert alert-info alert-dismissible alert-less-padding fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong>Para eliminar una ruta desmarque todos los días.</strong></p>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-success" title="Agregar" onclick="ECO_Efficiency.VehicleByRoute.OnClickBtnAdd()">Agregar Ruta</button>
                    </div>
                    <div class="col-xs-6">
                        @Html.DropDownListFor(m => m.RouteId, GeneralCollections.GetRoutesByVehicle, "Seleccione una Ruta", new { @class = "form-control fbold" })
                    </div>
                    <div class="col-xs-12" id="gridDetailContainer">
                        @Html.Partial("_partials/_GridDetail", Model.DetailList.ToList())
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="ECO_Efficiency.VehicleByRoute.OnClickBtnSave()"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>