﻿@model IEnumerable<ECO_Efficiency.Models.VehicleByRouteDetail> 
<div class="card-content">
    @(Html.Grid(Model)
    .AutoGenerateColumns()
    .Selectable(true)
    .EmptyText("El vehículo no posee rutas.")
    .Columns(c =>
    {
        c.Add(m => m.RouteId).Titled("RouteId").Css("grid-col-hide data-Id");
        c.Add(m => m.Sunday).Titled("dom").RenderValueAs(m => Html.CheckBox("Sunday-" + m.RouteId, m.Sunday)).Encoded(false).Sanitized(false).Css("grid-col-center");
        c.Add(m => m.Monday).Titled("lun").RenderValueAs(m => Html.CheckBox("Monday-" + m.RouteId, m.Monday)).Encoded(false).Sanitized(false).Css("grid-col-center");
        c.Add(m => m.Tuesday).Titled("mar").RenderValueAs(m => Html.CheckBox("Tuesday-" + m.RouteId, m.Tuesday)).Encoded(false).Sanitized(false).Css("grid-col-center");
        c.Add(m => m.Wednesday).Titled("mie").RenderValueAs(m => Html.CheckBox("Wednesday-" + m.RouteId, m.Wednesday)).Encoded(false).Sanitized(false).Css("grid-col-center");
        c.Add(m => m.Thursday).Titled("jue").RenderValueAs(m => Html.CheckBox("Thursday-" + m.RouteId, m.Thursday)).Encoded(false).Sanitized(false).Css("grid-col-center");
        c.Add(m => m.Friday).Titled("vie").RenderValueAs(m => Html.CheckBox("Friday-" + m.RouteId, m.Friday)).Encoded(false).Sanitized(false).Css("grid-col-center");
        c.Add(m => m.Saturday).Titled("sab").RenderValueAs(m => Html.CheckBox("Saturday-" + m.RouteId, m.Saturday)).Encoded(false).Sanitized(false).Css("grid-col-center");
    }))
</div>