﻿@model IEnumerable<ECO_Efficiency.Models.VehicleByRoute>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
            .AutoGenerateColumns()
            .Selectable(true)
            .Columns(c =>
            {
                c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(2)
                    .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.VehicleId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                </span>).Css("grid-col-btn");
            }))
        </div>
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
