﻿@model IEnumerable<ECO_Partner.Models.MasterCardsReport>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .AutoGenerateColumns()
        .Selectable(true)
        .Columns(c =>
        {
        }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}