﻿@model IEnumerable<ECO_ServiceStations.Models.FuelPriceByServiceStationShow>

@if (Model != null && Model.Count() > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Cambio de precio de combustible
            </h3>
        </div>
        <div class="panel-body" style="margin-bottom: -30px; margin-top: -15px;">
            <div class=" row clearfix">
                <div class="col-sm-10">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    @foreach (var item in Model.FirstOrDefault().FuelList.Distinct())
                                    {
                                        <th class="grid-header">
                                            <div class="grid-header-title">
                                                @item.FuelName
                                            </div>
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="grid-row ">
                                    @foreach (var item in Model.First().FuelList.Distinct())
                                    {
                                        <td class="grid-cell">
                                            @Html.TextBox(item.FuelName, "", new { placeholder = item.FuelName, @class = "form-control pricetext", @fuelid = item.FuelId })
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-2" style="margin-top: 25px;">
                    <button type="button" class="btn btn-success btnUpdateSelectedValues"> <i class="mdi mdi-pencil">  </i>&nbsp;Aplicar&nbsp;&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-success" id="btnProgram"> <i class="mdi mdi-calendar" style="margin:0px;"></i>&nbsp;Calendarizar</button>
                </div>
            </div>
        </div>
    </div>
}


