﻿<div id="ImportFuelPricesContainer">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Importación programada de los precios de la gasolina
            </h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ImportFile", "FuelPriceByServiceStation", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImportForm", autocomplete = "off" }))
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="input-group">
                            <input id="txtFile" name="key" type="text" class="form-control" required="required" readonly="readonly">
                            <span class="input-group-btn">
                                <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_ServiceStations.FuelPriceByServiceStations.SelectFile()"><i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Buscar</button>
                                <input type="file" class="hide" id="ImportCSV" accept=".xlsx" size="43" name="fileHidden" onchange="ECO_ServiceStations.FuelPriceByServiceStations.GetFilename(this)" />
                            </span>
                        </div>
                        <br />
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class='input-group date datetimepickerStartDate'>
                            @Html.TextBox("txtStartDateImport", null, new { placeholder = "Día de calendarización", @class = "form-control", @required = "required", @autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="input-group timepickerStartDate">
                            @Html.TextBox("txtStartHourImport", null, new { @placeholder = "Hora de calendarización", @class = "form-control timepicker timepicker-with-dropdown", @required = "required" })
                            <span class="input-group-addon">
                                <i class="mdi mdi-clock timePickerIcon pointer" onclick="openpicker_icon(this)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br />
                        <label>* Descargar y completar la plantilla. <a class="" href="@Url.Action("DownloadTemplate", "FuelPriceByServiceStation")">Clic aquí</a>.</label><br />
                        <label>* Revisar el resultado de la importación en el archivo 'Detalle de la Importación de Combustibles - [Fecha de hoy].txt'.</label><br />
                        <label>* El archivo 'Detalle de la Importación de Combustibles - [Fecha de hoy].txt' se descarga al finalizar la importación.</label><br />
                        <label>* La plantilla es el reporte actual de precios de combustible.</label><br />
                        <label>* Tipo de archivo '.xlsx'.</label><br />
                        <label>* El proceso puede tardar algunos minutos.</label>
                    </div>
                </div>
                <div id="validationFormatErrors" class="row top20">
                    <div id="errorFormatMsj" class="col-sm-12 text-danger">
                    </div>
                </div>
                <div class="row top20">
                    <div class="col-sm-4">
                        <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                    </div>
                    <div class="col-sm-8 text-right">
                        <button id="btnImport" type="button" class="btn btn-primary" onclick="ECO_ServiceStations.FuelPriceByServiceStations.OnClickImport()"><i class="mdi mdi-check"></i>&nbsp;Importar</button>
                    </div>
                </div>
            }
            @if (Session["SummaryFile"] != null)
            {
                using (Html.BeginForm("DownloadReportFile", "FuelPriceByServiceStation", FormMethod.Post, new { id = "DownloadFileForm" })) { }
            }
        </div>
    </div>
</div>
