﻿@using GridMvc
@model IEnumerable<ECO_ServiceStations.Models.FuelPriceByServiceStationShow>

@if (Model != null && Model.Any())
{
    <div class="grid-wrap" id="gridContainer" style="margin-top: -25px;">
        <table class="table grid-table">
            <thead>
                <tr>
                    <th class="grid-header">
                        <div class="grid-header-title">
                            <div class="checkbox" style="margin-bottom: -3px; margin-left: 15px;">
                                <span data-toggle="tooltip" data-placement="bottom" title="Seleccionar todos"><label style="font-weight:bold;"><input type="checkbox" id="chkCheckAll"></label> </span>
                            </div>
                        </div>
                    </th>
                    <th class="grid-header">
                        <div class="grid-header-title">
                            Estación de Servicio
                        </div>
                    </th>
                    @foreach (var item in Model.First().FuelList.Distinct())
                    {
                        <th class="grid-header">
                            <div class="grid-header-title">
                                @item.FuelName
                            </div>
                        </th>
                    }
                    <th class="grid-header"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="grid-row" id="@item.ServiceStationId">
                        <td class="grid-cell">
                            <div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                <label style="font-weight:bold;">
                                    <input type="checkbox" id="@item.ServiceStationId">
                                </label>
                            </div>
                        </td>
                        <td class="grid-cell">@item.ServiceStationName</td>
                        @foreach (var fuel in item.FuelList)
                        {
                            <td class="grid-cell">
                                @Html.TextBox(fuel.FuelName, fuel.Price, new { placeholder = fuel.FuelName, @class = "form-control txtFuels service-station-" + fuel.ServiceStationId, @fuelPriceId = fuel.FuelId })
                            </td>
                        }
                        <td class="grid-cell"><a href="#" title="Calendarizar" servicestationid="@item.ServiceStationId" program_row><i class="mdi mdi-calendar-clock" style="font-size:20px;color:#808080;"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ConfirmationEditModal"><i class="mdi mdi-pencil"></i>&nbsp;Almacenar Precios</button>
        </div>
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

