﻿<div class="modal fade" id="SummaryResultModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Resultado de la Importación de Combustibles</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8"><b>Fecha:</b></div>
                    <div class="col-sm-4"><b><span id="resultimportdate"></span></b></div><br />
                    <div class="col-sm-8"><b>Cantidad de líneas Procesadas:</b></div>
                    <div class="col-sm-4"><b><span id="resultadded"></span></b></div><br />
                    <div class="col-sm-8"><b>Cantidad de líneas No Procesados:</b></div>
                    <div class="col-sm-4"><b><span id="resultnoprocess"></span></b></div><br />
                    <div class="col-sm-8"><b>Cantidad de líneas leídas:</b></div>
                    <div class="col-sm-4"><b><span id="resulttotal"></span></b></div>
                    <br />
                    <br />
                    <div class="col-sm-12">El detalle de la importación puede revisarse en el archivo de texto que se descargó.</div>
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Cambios de Precio de Combustible</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea cambiar el precio para los combustibles seleccionados?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnSaveChanges"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ProgramAllEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Programación de Precios de Combustible</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <i class="mdi mdi-information big-icon"></i>&nbsp;Se programara la fecha para las Estaciones de Servicio seleccionadas.
                </div>
                <div class="row" id="applyallcontainer">
                    <div class="col-sm-6">
                        <div class='input-group date datetimepickerStartDate'>
                            @Html.TextBox("txtProgramAll", string.Empty, new { placeholder = "Fecha Programada", @class = "form-control", @autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group timepickerStartDate">
                            @Html.TextBox("txtHourProgramAll", string.Empty, new Dictionary<string, Object> { { "placeholder", "Hora programada" }, { "class", "form-control timepicker timepicker-with-dropdown" } })
                            <span class="input-group-addon">
                                <i class="mdi mdi-clock pointer" id="timepickericon"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnProgramAllChanges"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalverification" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Validacion</h4>
            </div>
            <div class="modal-body">
                <p id="modalverificationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>