﻿@using GridMvc
@model IEnumerable<ECO_ServiceStations.Models.FuelPriceByServiceStation>
@{
    var id = @Model.Count() == 0 ? 0 : @Model.FirstOrDefault().ServiceStationId;
    var servicestation = @Model.Count() == 0 ? string.Empty : string.Format("- {0}", @Model.FirstOrDefault().ServiceStationName);
}

<div class="modal fade" id="ProgramFuelPriceModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Calendarizar cambio de precio de combustible @servicestation</h4>
            </div>
            <div class="modal-body">
                <div class="grid-wrap grid-wrap-top" id="gridProgramContainer">
                    <table class="table grid-table">
                        <thead>
                            <tr>
                                <th class="grid-header">
                                    <div class="grid-header-title">
                                        Combustible
                                    </div>
                                </th>
                                <th class="grid-header">
                                    <div class="grid-header-title">
                                        A partir de
                                    </div>
                                </th>
                                <th class="grid-header">
                                    <div class="grid-header-title">
                                        Hora
                                    </div>
                                </th>
                                <th class="grid-header">
                                    <div class="grid-header-title">
                                        Precio
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fuel in Model)
                            {
                                var startDate = string.Format("txtStartDate_{0}", fuel.FuelId);
                                var price = string.Format("txtPrice_{0}", fuel.FuelId);
                                var StartDateFormat = string.IsNullOrEmpty(fuel.StartDate.ToString()) ? null : Convert.ToDateTime(fuel.StartDate.ToString()).ToString("dd/MM/yyyy");

                                var startHourFormat = string.IsNullOrEmpty(fuel.StartDate.ToString()) ? null : Convert.ToDateTime(fuel.StartDate.ToString()).ToString("hh:mm tt");
                                var startHour = string.Format("txtStartHour_{0}", fuel.FuelId);

                                <tr class="grid-row" id="@fuel.FuelId" rowid="@fuel.Id">
                                    <td class="grid-cell">@fuel.FuelName</td>
                                    <td class="grid-cell">
                                        <div class='input-group date datetimepickerStartDate'>
                                            @Html.TextBox(startDate, StartDateFormat, new { placeholder = "A partir de", @class = "form-control", @autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <span class="mdi mdi-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="grid-cell">
                                            <div class="input-group timepickerStartDate">
                                                @Html.TextBox(startHour, startHourFormat, new Dictionary<string, Object> { {"class", "form-control timepicker timepicker-with-dropdown" } })
                                                <span class="input-group-addon">
                                                    <i class="mdi mdi-clock timePickerIcon pointer" onclick="openpicker_icon(this)"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="grid-cell">
                                        @Html.TextBox(price, fuel.Price, new { placeholder = fuel.FuelName, @class = "form-control" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnSaveProgramChanges" servicestaionid="@id"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openpicker_icon(timeP) {
        var idTimePicker = '#' + 'txtStartHour_' + $(timeP).closest('.grid-row').attr('id');
        
        $('#idTimePicker').select();
    }

</script>