﻿@model  ECOsystem.Areas.Coinca.Models.Fuels


<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.HiddenFor(m => m.FuelId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Combustible</h4>
            </div>
            <div class="modal-body">
                <div class="row" role="form">
                    <div class="col-sm-12">
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Combustible", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6 form-group">
                            @Html.LabelFor(m => m.CountryId, new { @class = "control-label" })

                            @Html.DropDownListFor(m => m.CountryId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetCountries, "Seleccione el País", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
