﻿@model  ECOsystem.Areas.Control.Models.VehicleOdometerSAPReportBase
@{
    ViewBag.Title = "Archivo Odómetros de Vehículos";
    ViewBag.Control = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "VehicleOdometerSAPReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Control.VehicleOdometerSAPReport.ShowLoader()",
        OnSuccess = "ECO_Control.VehicleOdometerSAPReport.HideLoader(data)"
    }, new { }))
    {        
            <div class="row">
                <div class="col-sm-10">
                    @Html.DropDownList("CostCenterId", @ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Centro de Costo", new { @class = "form-control fbold" })
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
                </div>
            </div>                 
    }
    @using (Html.BeginForm("DonwloadFile", "VehicleOdometerSAPReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
    <br />
    <div class="alert alert-info alert-dismissible fade in hide" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);" id="shownorecords">        
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Control/VehicleOdometerSAPReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.VehicleOdometerSAPReport.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
