﻿@model  ECOsystem.Areas.Admin.Models.Administration.TransactionsConsolideReportBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Parámetros - Reporte Consolidado SAP";
    ViewBag.Administration = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">

    <div class="card">
        <div class="card-content">
            @using (Html.BeginForm("AddOrEditSAPParameters", "CustomerTransacitiosSAPReport", FormMethod.Post, new { id = "AddOrEditSAPParametersForm" }))
            {
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#SAPReportParameters" data-toggle="tab">Reporte de SAP</a></li>
                    <li><a href="#ExportableTransactionFileParameters" data-toggle="tab">Archivo Exportable de Transacciones</a></li>
                </ul>
                <div class="tab-content">

                    <div id="SAPReportParameters" class="tab-pane active">
                        <div class="modal-body">
                            <br />

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Debe, new { })
                                    @Html.TextBoxFor(m => m.Data.Debe, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Debe, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Haber, new { })
                                    @Html.TextBoxFor(m => m.Data.Haber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Haber, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.DocumentClass, new { })
                                    @Html.TextBoxFor(m => m.Data.DocumentClass, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.DocumentClass, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Sociedad, new { })
                                    @Html.TextBoxFor(m => m.Data.Sociedad, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Sociedad, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Currency, new { })
                                    @Html.TextBoxFor(m => m.Data.Currency, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Currency, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.TextoCabecera, new { })
                                    @Html.TextBoxFor(m => m.Data.TextoCabecera, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.TextoCabecera, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Account, new { })
                                    @Html.TextBoxFor(m => m.Data.Account, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Account, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.IND_CME, new { })
                                    @Html.TextBoxFor(m => m.Data.IND_CME, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.IND_CME, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.IndicadorImpuesto, new { })
                                    @Html.TextBoxFor(m => m.Data.IndicadorImpuesto, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.IndicadorImpuesto, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.CalcImpuesto, new { })
                                    @Html.TextBoxFor(m => m.Data.CalcImpuesto, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.CalcImpuesto, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.BancoPropio, new { })
                                    @Html.TextBoxFor(m => m.Data.BancoPropio, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.BancoPropio, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.ViaPagoHaber, new { })
                                    @Html.TextBoxFor(m => m.Data.ViaPagoHaber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.ViaPagoHaber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.CentroCosto, new { })
                                    @Html.TextBoxFor(m => m.Data.CentroCosto, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.CentroCosto, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.CentroBeneficio, new { })
                                    @Html.TextBoxFor(m => m.Data.CentroBeneficio, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.CentroBeneficio, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Orden, new { })
                                    @Html.TextBoxFor(m => m.Data.Orden, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Orden, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.PEP, new { })
                                    @Html.TextBoxFor(m => m.Data.PEP, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.PEP, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.PosicionPresupuesto, new { })
                                    @Html.TextBoxFor(m => m.Data.PosicionPresupuesto, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.PosicionPresupuesto, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.CentroGestor, new { })
                                    @Html.TextBoxFor(m => m.Data.CentroGestor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.CentroGestor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.ProgramaPresupuesto, new { })
                                    @Html.TextBoxFor(m => m.Data.ProgramaPresupuesto, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.ProgramaPresupuesto, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Fondo, new { })
                                    @Html.TextBoxFor(m => m.Data.Fondo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Fondo, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.Centro, new { })
                                    @Html.TextBoxFor(m => m.Data.Centro, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.Centro, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.BloqueaPagoDebe, new { })
                                    @Html.TextBoxFor(m => m.Data.BloqueaPagoDebe, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Data.BloqueaPagoDebe, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.PagadorAlternativo, new { })
                                    @Html.TextBoxFor(m => m.Data.PagadorAlternativo, new { @class = "form-control" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.ReferenceNumber, new { })
                                    @Html.TextBoxFor(m => m.Data.ReferenceNumber, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.ServiceStationNumber, new { })
                                    @Html.TextBoxFor(m => m.Data.ServiceStationNumber, new { @class = "form-control" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.Data.CECO, new { })
                                    @Html.TextBoxFor(m => m.Data.CECO, new { @class = "form-control" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4"></div>
                            </div>

                            @*<hr />
                                <div class="col-sm-12 text-right">
                                    <button type="button" class="btn btn-primary center_div " data-toggle="modal" data-target="#ConfirmationSaveModal"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                                </div>
                                <br />
                                <br />*@
                        </div>
                    </div>

                    <div id="ExportableTransactionFileParameters" class="tab-pane">
                        <div class="modal-body">
                            <hr />
                            @*@Html.Partial("_partials/_ExportableTransactionFileParameters", Model.ExportableTranParameters)*@
                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.ExportableTranParameters.DocumentType, new { })
                                    @Html.TextBoxFor(m => m.ExportableTranParameters.DocumentType, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ExportableTranParameters.DocumentType, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.ExportableTranParameters.CurrencyCode, new { })
                                    @Html.TextBoxFor(m => m.ExportableTranParameters.CurrencyCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ExportableTranParameters.CurrencyCode, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.ExportableTranParameters.RecordType, new { })
                                    @Html.TextBoxFor(m => m.ExportableTranParameters.RecordType, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ExportableTranParameters.RecordType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4">
                                    @Html.LabelFor(m => m.ExportableTranParameters.Package, new { })
                                    @Html.TextBoxFor(m => m.ExportableTranParameters.Package, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ExportableTranParameters.Package, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-4" style="margin-top:20px">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            @Html.CheckBoxFor(m => m.ExportableTranParameters.OnlyAuthorize) Mostrar solo transacciones autorizadas
                                        </label>
                                        @Html.ValidationMessageFor(m => m.ExportableTranParameters.OnlyAuthorize)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-primary center_div " data-toggle="modal" data-target="#ConfirmationSaveModal"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationSaveModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p class="center">¿Esta seguro que desea almacenar la información?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" onclick="OnbtnSaveClick()"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#LoadMenuForm").submit();
        });

        function OnbtnSaveClick() {
            $("#AddOrEditSAPParametersForm").submit();
        }
    </script>
}
