﻿@model IEnumerable<ECO_Efficiency.Models.VehicleRoute>



@foreach (var item in Model.Select(x => new { x.CostCenterId, x.CostCenterName }).Distinct())
{
    <div class="VehiclePanelRight accordionIconEffect" gvname="@item.CostCenterName">
        <div class="panel-group margin0 card-content" id="Centro@item.VehicleGroupId">
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#Group-@item.CostCenterId" href="#Group-@item.CostCenterId">
                    <h4 class="panel-title link">
                        <i class="mdi mdi-plus"></i>
                        <label cc="@item.CostCenterId" class="btnCheckGroup"></label>&nbsp;@item.CostCenterName
                    </h4>
                </div>
                <div id="Group-@item.CostCenterId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var cc in Model.Where(c => c.CostCenterId == item.CostCenterId))
                        {
                            <div class="checkbox checkboxGV" vhplate="@cc.PlateId" vhname="@cc.Name">
                                <a id="@cc.VehicleId" title="Editar" edit_row style="text-decoration: none; color: black;" onclick="assingVehicleIdAndPlate(@cc.VehicleId , '@cc.PlateId.ToString()' )">
                                    <label>
                                        <input name="checkboxCC" id="radio-2-@cc.VehicleId" type="radio" class="regular-radio" value="@cc.VehicleId" />
                                        <label for="radio-2-@cc.VehicleId" style="vertical-align: top;"></label>
                                        <strong>@cc.PlateId</strong> @cc.Name
                                    </label>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

