﻿@model ECO_Efficiency.Models.SeeRoute
@{
    var Customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    Model.CountryCode = Model.CountryCode == null ? Customer.CountryCode : Model.CountryCode;
    Model.UserTimeZone = Customer.TimeZone; 
}
<iframe id="mapFrame" src="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)SeeRoute.aspx?Params=@Model.CountryCode|@Model.IntrackReference|@Model.UserTimeZone|@Model.SearchType" originalsrc="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)SeeRoute.aspx?Params=@Model.CountryCode|@Model.IntrackReference|@Model.UserTimeZone" frameborder="0" class="resizeIframeMap mapFrame" style="height: calc(100vh - 100px) !important;"></iframe>
<input id="VehicleId" type="hidden" name="Id" value=@ViewBag.vehicleid />