﻿@model IEnumerable<ECO_Efficiency.Models.SeeRoute>

@foreach (var item in Model.Select(x => new { x.CostCenterId, x.CostCenterName }).Distinct())
{
    <div class="CostCenterPanelRight accordionIconEffect" cccode="@item.CostCenterId" ccname="@item.CostCenterName">
        <div class="panel-group margin0 card-content" id="Centro@item.CostCenterId" >
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#Centro-@item.CostCenterId" href="#Centro-@item.CostCenterId">
                    <h4 class="panel-title link">
                        <i class="mdi mdi-plus"></i><label cc="@item.CostCenterId" class="btnCheckCC"></label>&nbsp;@item.CostCenterName
                    </h4>
                </div>
                <div id="Centro-@item.CostCenterId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var CC in Model.Select(x => new { x.VehicleId, x.VehicleName, x.PlateId, x.CostCenterId, x.CostCenterName }).Where(c => c.CostCenterId == item.CostCenterId).Distinct())
                        {
                            <div class="checkbox checkboxCC" vhplate="@CC.PlateId" vhname="@CC.VehicleName">
                                <a id="@CC.VehicleId" title="Editar" edit_row style="text-decoration: none; color: black;">
                                    <label>
                                        <input name="checkboxCC" id="radio-2-@CC.VehicleId" type="radio" class="regular-radio" value="@CC.VehicleId" />
                                        <label for="radio-2-@CC.VehicleId" style="vertical-align: top;"></label>
                                        <strong>@CC.PlateId</strong> @CC.VehicleName
                                    </label>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
