﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.SeeRoute
 
    <div class="vehicleDetail" id="row-@Model.VehicleId" plate='@Model.PlateId'>
        <div class="panel-group margin0 card-content">
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#accordion-@Model.VehicleId" href="#accordion-@Model.VehicleId">
                    <h4 class="panel-title link"><strong>@Model.PlateId</strong> @Model.Name</h4>
                </div>
                <div id="accordion-@Model.VehicleId" class="panel-collapse collapse accordin-right" style="padding: 5px 5px 0px 5px;">
                    <div class="panel-body" style="border-bottom: solid 1px lightgray; padding:0px 5px !important;">
                        <div style="padding-bottom:5px"><i class="mdi mdi-account-card-details" data-toggle="tooltip" data-placement="right" title="Conductor"></i> @Model.DecryptedName</div>
                        <div style="padding-bottom:5px"><i class="mdi mdi-speedometer" data-toggle="tooltip" data-placement="right" title="Velocidad"></i> <span id="speed-@Model.VehicleId">@Model.VSSSpeed  km/h</span> <span id="status-@Model.VehicleId">@Html.Raw(Model.StatusStr)</span></div>
                        <div style="padding-bottom:5px"><i class="mdi mdi-road" data-toggle="tooltip" data-placement="right" title="Recorrido"></i> <span id="travel-@Model.VehicleId">@Model.Distance</span></div>
                        <div style="padding-bottom:5px"><i class="mdi mdi-map" data-toggle="tooltip" data-placement="right" title="Latitud-Longuitud"></i> <span id="latlong-@Model.VehicleId">@Model.Latitude , @Model.Longitude </span></div>
                        @if (Model.Score == null)
                        {
                            <div style="padding-bottom: 5px; color: black"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@Model.ScoreStr </div>
                        }
                        @if (Model.Score < 70)
                        {
                            <div style="padding-bottom: 5px; color: red"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@Model.ScoreStr </div>
                        }
                        @if (Model.Score >= 70 && Model.Score < 80)
                        {
                            <div style="padding-bottom: 5px; color: yellow"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@Model.ScoreStr </div>
                        }
                        @if (Model.Score >= 80 && Model.Score <= 100)
                        {
                            <div style="padding-bottom: 5px; color: green"><i class="mdi mdi-counter" data-toggle="tooltip" data-placement="right" title="Calificación"></i>@Model.ScoreStr </div>
                        }


                        <div style="padding-bottom:5px"><i class="mdi mdi-calendar-clock" data-toggle="tooltip" data-placement="right" title="Actualización"></i> <span id="dateTime-@Model.VehicleId">@Model.DateTime</span></div>
                        
                    </div>
                </div>
                <div class="panel-body text-right" style="padding: 5px !important;">
                    <strong vehicleid=@Model.VehicleId class="btnView" style="color: darkcyan;cursor:pointer;padding-right: 5px;"><i class="mdi mdi-map-marker"></i>UBICAR</strong>
                </div>
            </div>
        </div>
    </div>

@using (Html.BeginForm("RouteDetailsRetrieve", "SeeRoute", FormMethod.Post, new { id = "RetrieveDetails" }))
{
    <div class="row top30">       
        <div class="col-sm-12">
            <div class="form-group  form-horizontal col-sm-12" role="form">
                @Html.LabelFor(m => m.SearchType, new { @class = "col-sm-14 control-label" })
                @Html.DropDownListFor(m => m.SearchType, GeneralCollections.GetSeeRouteType, "Sin Trayecto", new { @class = "form-control fbold" })
            </div>            
        </div>
    </div>
    @Html.Hidden("id")
}

<script>
    
    $('#SearchType').select2('data', {});
    $('#SearchType').select2({ escapeMarkup: function (m) { return m; }
    });


    $("#SearchType").change(function () {
        
        var SearchType = $(this).val();
        var Url = $("#mapFrame").attr("OriginalSrc") + "|" + SearchType;
        $("#mapFrame").attr("src", Url);
    });    

</script>
