﻿@model  ECOsystem.Areas.Admin.Models.Administration.GeoFenceTypesBase
@{
    ViewBag.Title = "Mantenimiento de Tipos de Geocercas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    

    @using (Ajax.BeginForm("LoadGeoFenceType", "GeoFenceTypes", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",        
        OnSuccess = " ECOsystem.Areas.Admin.GeoFenceTypes.OnSuccessLoad()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }

    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-sm-5">
                    <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar Tipo de Geocerca</button>
                </div>
                @using (Ajax.BeginForm("SearchGeoFenceType", "GeoFenceTypes", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = " ECOsystem.Areas.Admin.GeoFenceTypes.SuccessSearch()"
                }, new { id = "searchForm" }))
                {
                    <div class="col-sm-4 pull-right">
                        <div class="input-group">
                            <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por nombre">
                            <span class="input-group-btn">
                                <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                            </span>
                        </div>
                    </div>
                }
                <div class="col-lg-12">
                    @using (Ajax.BeginForm("AddOrEditGeoFenceTypes", "GeoFenceTypes", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnBegin = " ECOsystem.Areas.Admin.GeoFenceTypes.ShowLoader()",
                        OnSuccess = " ECOsystem.Areas.Admin.GeoFenceTypes.HideAddOrEdit()"
                    }, new { id = "addOrEditForm", autocomplete = "off" }))
                    {
                        <div id="detailContainer" class="row" hidden></div>
                    }
                </div>
                <div class="col-lg-12" id="gridContainer">
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteGeoFenceType", "GeoFenceTypes", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = " ECOsystem.Areas.Admin.GeoFenceTypes.ShowLoader()",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose();  ECOsystem.Areas.Admin.GeoFenceTypes.HideLoader()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/GeoFenceTypes.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.GeoFenceTypes.Init();
        });
    </script>
}