﻿@model ECOsystem.Models.Account.UsersRoles
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.RoleId)
        <div class="row">
            <div class="col-sm-12">
                @Html.Hidden("Parent", "9baac678-473a-4f96-9d67-9f2a5af778f3")                
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Rol", @class = "form-control", autofocus = "", id = "txtRoleName" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", id = "RoleNameValidation" })
                    </div>
                </div>
            </div>       
            <div class="col-sm-12  text-right">
                <button type="button" class="btn btn-default" onclick=" ECOsystem.Areas.Admin.UserRolesPermissions.OnRolesCancel()"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSaveRoles"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
