﻿@model IEnumerable<ECOsystem.Models.Account.UsersRoles>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
            .Selectable(true)
            .Columns(c =>
            {
                c.Add(m => m.Name).SetWidth(100).Titled("Nombre");
                c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(50)
                    .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.RoleId" title="Editar" edit_row>
                    <i class="mdi mdi-32px mdi-pencil-box center"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.RoleId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                </span>).Css("grid-col-btn");
            }))
        </div>
    </div>    
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">        
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}






