﻿@model IEnumerable<ECOsystem.Models.Account.UsersPermissions>

@using GridMvc

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model, GridRenderOptions.Create("UserPermissionsGrid"))
    .Selectable(true)
    .Columns(c =>
    {   
        c.Add(m => m.Name).Titled("Nombre del Permiso");
        c.Add(m => m.Resource).Titled("Controlador");
        c.Add(m => m.Action).Titled("Acción");
        c.Add(m => m.Description).Titled("Descripción");
       // c.Add(m => m.Role).Titled("Role");
    }))

}
else
{
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
