﻿@{ 
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}
<div class="row">
        <hr>        
        <div class="col-sm-4">            
            <div class="form-group">                
                <input type="input" class="form-control" id="input-check-node" placeholder="Identify node..." value="">
            </div>
           
            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success check-node" id="btn-check-node">Seleccionar Node</button>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger check-node" id="btn-uncheck-node">Deseleccionar Nodo</button>
            </div>            
            <hr>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success" id="btn-check-all">Seleccionar Todo</button>
                </div>
            </div>
            <button type="button" class="btn btn-danger" id="btn-uncheck-all">Deseleccionar todo</button>
        </div>
      
</div>

@section styles {
    <style>
        .treeview .list-group-item {
            cursor: pointer;
        }

        .treeview span.indent {
            margin-left: 10px;
            margin-right: 10px;
        }

        .treeview span.icon {
            width: 12px;
            margin-right: 5px;
        }

        .treeview .node-disabled {
            color: silver;
            cursor: not-allowed;
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/bootstrap-treeview.js?v=@version-hf0"></script>     
}











