﻿@using System.Web.UI.WebControls
@model  ECOsystem.Areas.Control.Models.Control.VehicleFuelBase
@{
    ViewBag.Title = "Vehículos";
    ViewBag.Control = "active";
    ViewBag.ControlFuels = "active";
    ViewBag.ControlVehicleFuelIndex = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrencySymbol = Model.CurrencySymbol;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}


@using (Ajax.BeginForm("AddOrEditVehicleFuel", "VehicleFuel", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    @Html.Hidden("LiterPrice", Model.LiterPrice)
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

<div id="wrapper">

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="3" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Combustible por Vehículo</h3>
            </div>
        </div>


        @using (Html.BeginForm("Index", "VehicleFuel", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.DropDownListFor(m => m.KeyId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesByCustomer, "Seleccione un Vehículo", new { @class = "form-control fbold" })
                </div>
            </div>
        }
        
        <div id="VehicleFuelDetail">

            @if (Model.KeyId > 0)
            {
            <!-- Search Area Start-->
                using (Ajax.BeginForm("SearchVehicleFuel", "VehicleFuel", null, new AjaxOptions
                 {
                     HttpMethod = "post",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "gridContainer",
                     OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
                 }, new { id = "searchForm" }))
                {
                    <div class="row top20">
                        <div class="col-lg-11">
                            <div class="input-group">

                                <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                                @Html.Hidden("vehicleId", Model.KeyId)

                                <span class="input-group-btn">
                                    <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                </span>

                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i></button>
                        </div>
                    </div>
                }

            <!-- Search Area End-->
            <!-- Load Form Start-->
                using (Ajax.BeginForm("LoadVehicleFuel", "VehicleFuel", null, new AjaxOptions
             {
                 HttpMethod = "post",
                 InsertionMode = InsertionMode.Replace,
                 UpdateTargetId = "detailContainer",
                 OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
             }, new { id = "loadForm" }))
                {
                    @Html.Hidden("id")
                    @Html.Hidden("LiterPrice", Model.LiterPrice)
                    @Html.Hidden("vehicleId", Model.KeyId)
                }
            <!-- Load Form End-->
            <!-- Dele Modal Start-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            @using (Ajax.BeginForm("DeleteVehicleFuel", "VehicleFuel", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "gridContainer",
                            OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                        }, new { id = "deleteForm" }))
                            {
                                @Html.Hidden("id")
                                @Html.Hidden("vehicleId", Model.KeyId)
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Confirmar Eliminación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro que desea eliminar el registro?</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            <!-- Delete Modal End -->

                <div class="row">
                    <div class="col-lg-12" id="gridContainer">
                        @Html.Partial("_partials/_Grid", Model.List)
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/Control/VehicleFuel.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.VehicleFuel.Init();
        });

    </script>
}
