﻿@{
    ViewBag.Title = "Reporte de Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}
@using (Html.BeginForm("DonwloadFile", "MonthlyServiceBillReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                @using (Ajax.BeginForm("GetReportData", "MonthlyServiceBillReport", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = " ECOsystem.Areas.Admin.MonthlyBillReport.ShowLoader()",
                    OnSuccess = " ECOsystem.Areas.Admin.MonthlyBillReport.OnEndGetData(data)"
                }, new { id = "GetReportDataForm" }))
                {
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.DropDownList("Month",  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetMonthNames, "Seleccione un Mes", new { @class = "form-control", custom = "true" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownList("Year",  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetYears, "Seleccione un Año", new { @class = "form-control", custom = "true" })
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
                        </div>                        
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12" id="InfoContainer">
                        <br />
                        <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione la información necesaria para generar el reporte.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {    
    <script src="~/Scripts/Administration/MonthlyBillReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.MonthlyBillReport.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}