﻿@model ECOsystem.Models.Account.AlarmsBase
@{ Layout = null; }
<div class="btn-group btnAlert">
    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="@Model.Data.AlarmTitle">
        <span class="@Model.Data.AlarmClass" aria-hidden="true"></span>
        <span class="badge @Model.Data.CountClass">@Model.Data.Count</span>
    </button>
    @if (@Model.Data.Count > 0)
    {
        <ul class="dropdown-menu alertDdl">
            @foreach (var item in Model.List)
            {
                var image = item.AlarmClass;
                //image = image.Replace("/Content", "/ECOsystem/Content");

                var cant = (dynamic)null;
                if (item.Count > 0)
                {
                    if (item.Count > 100)
                    {
                        cant = item.Count.ToString() + "+";
                    }
                    else
                    {
                        cant = item.Count.ToString();                    
                    }   
                    <li class="alertDdl">
                        <a href="#" url="@Url.Action(item.AlarmView + "/", item.AlarmController)" onclick="onClickAlarm(this)" class="aAlert alertDdl btn-lg" title="@item.AlarmTitle">
                            @Html.Raw(image)
                            <span class="badge @item.CountClass">@cant</span>
                        </a>
                    </li>
                }
            }
        </ul>
    }
</div>

<script>

 var onClickAlarm = function (obj) {       
        url = $(obj).attr("url");        
     //window.location.replace("/ECOSystem" + url);
        window.location.replace(url);
   }
    
</script>
