﻿@model  ECOsystem.Areas.Coinca.Models.CustomerByPartnersBase
@{
    ViewBag.Title = "Clientes por Socio";
    ViewBag.Administration = "active";
    ViewBag.BusinessRelationships = "active";
    ViewBag.CustomersByPartner = "active";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .bs-callout-blue {
            border-left-color: #006CB0;
        }

        .bs-callout {
            border: 1px solid #006CB0;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-color-blue {
            color: #006CB0;
        }

        .scrol-list {
            overflow-y: auto;
            height: 406px;
        }

        .box {
            cursor: pointer;
        }

        div.sortable-placeholder {
            border: 2px dashed #006CB0;
            background: #FCF8E3;
            height: 80px;
        }
        .list-group > a.disabled {
          color: #999999;
        }
        .list-group > a.disabled:hover,
        .list-group > a.disabled:focus {
          color: #999999;
          text-decoration: none;
          background-color: transparent;
          cursor: not-allowed;
        }
        
    </style>
}

<div id="wrapper">

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="9" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
    
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Asignación de Clientes Por Socio</h3>
            </div>
        </div>

        @using (Ajax.BeginForm("LoadCustomersByPartner", "CustomersByPartner", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = " ECOsystem.Areas.Coinca.CustomersByPartner.OnSuccessLoad();"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id", "")
        }
        <div class="row">
            <div class="col-sm-12">
                @Html.DropDownListFor(m => m.PartnerId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetPartners, "Seleccione una Socio", new { @class = "form-control fbold" })
            </div>
        </div>

        @using (Ajax.BeginForm("AddOrEditCustomersByPartner", "CustomersByPartner", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DragAndDropContainer",
            OnSuccess = " ECOsystem.Areas.Coinca.CustomersByPartner.OnSuccessLoad(); ECOsystem.Utilities.setConfirmation();"
        }, new { id = "saveForm" }))
        {
            @Html.Hidden("PartnerId", @Model.PartnerId)
            
            <div class="row top30" style="height: 400px;">
                <div class="col-sm-12" id="DragAndDropContainer">
                    @Html.Partial("_partials/_List", Model.Data)
                </div>
            </div>
        }

    </div>
</div>
@section scripts {

    <script src="~/Scripts/Settings/CustomersByPartner.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.CustomersByPartner.Init();
        });
    </script>
}
