﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.VehicleGroups>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar">
                    <i class="mdi mdi-share"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" onclick="OnClickDownloadVehicleGroup();">
                            <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                        </a>
                    </li>
                </ul>
            </div>
            @(Html.Grid(Model)
              .AutoGenerateColumns()
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(50)
                      .RenderValueAs(m => @<span>
                        <a href="#" class="edit-color" id="@m.VehicleGroupId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.VehicleGroupId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                    </span>).Css("grid-col-btn");

              }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
