﻿@using  ECOsystem.Areas.Coinca.Models
@model  ECOsystem.Areas.Coinca.Models.TestingApiTrx

@{
    ViewBag.Title = "Prueba de WEB - API Transacciones";
    ViewBag.Testing = "active";
    ViewBag.TestingWebAPI = "active";
    ViewBag.TestingApiTrxIndex = "active";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style  type="text/css">
        .well{
            width: 92%;
            padding: 19% 0;
        }

        #page-wrapper{
            margin: 0px 15% !important;
            padding-left: 6% !important;
        }

        #wrapper{
           padding-left: 0px !important;
        }
        .well{
            width:75% !important; 
            padding: 8px 0 !important;
        }
        .well a{
            color:#000 !important;
        }
        .sidebar-nav{
            margin-top:5% !important;
        }
    </style>
}

@*<div id="wrapper">*@
    @Html.Partial("~/Views/Testing/_partials/_Menu.cshtml")
    
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Prueba de Transacciones - Simulación Gasolinera</h3>
            </div>
        </div>

        @using (Html.BeginForm("Index", "TestingApiTrx", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-sm-12 section-header">
                <p>Credenciales de Conexión</p>
            </div>
            <div class="row">
                <div class="col-sm-6 top10">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">User</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", autofocus = "" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 top10">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Password</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 section-header">
                <p>Información de la transacción</p>
            </div>
            <div class="row">
                <div class="col-sm-6 top20">
                    
                    <div class="form-group">
                        <label class="col-sm-6 control-label">transactionType</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.transactionType, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">terminalId</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.terminalId, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">systemTraceNumber</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.systemTraceNumber, new { @class = "form-control" })
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-6 control-label">referenceNumber</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.referenceNumber, new { @class = "form-control" })
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-6 control-label">authorizationNumber</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.authorizationNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">cardNumber</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.cardNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">expirationDate</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.expirationDate, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 top20">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">amount</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.amount, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">carTag</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.carTag, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">kilometers</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.kilometers, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">units</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.units, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">invoice</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.invoice, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">merchantDescription</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.merchantDescription, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top10">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div class="col-sm-10 text-right">
                    <button id="btnPaste" type="button" class="btn btn-warning" title="Llenar">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </button>
                    <a class="btn btn-default" data-dismiss="modal"
                       href="@Url.Action("Index", "TestingApiTrx")"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Limpiar</a>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Procesar Solicitud</button>
                </div>
            </div>

            <div class="row top10">
                &nbsp;
            </div>

            if (@Model.JsonResponse != null)
            {
                <div class="col-sm-12 section-header">
                    <p>Resultado Web - API</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 top10">

                        <div class="well well-sm">
                            @Model.JsonResponse
                        </div>

                    </div>
                </div>
            }
        }
    </div>
@*</div>*@

@section scripts {
    <script>
        $(function () {
            $("#page-wrapper").css({ marginLeft: "250px" });
            $('#btnPaste').off('click.btnPaste').on('click.btnPaste', function (e) {
                $('#Username').val('Dev-CredomaticCR');
                $('#Password').val('!Credomatic2015');
                $('#transactionType').val('SALE');
                $('#terminalId').val('100445474');
                $('#systemTraceNumber').val('78954');
                $('#cardNumber').val('6029231314001236');
                $('#expirationDate').val('2109');
                $('#amount').val('45000');
                $('#carTag').val('CL261144');
                $('#kilometers').val('100');
                $('#units').val('20');
            });
        });
    </script>
}
