﻿@model  ECOsystem.Areas.Coinca.Models.CustomerByPartnerData

@if ((Model.AvailableCustomersList != null && Model.AvailableCustomersList.Any()) || (Model.ConnectedCustomersList != null && Model.ConnectedCustomersList.Any()))
{

    <div class="row">
        <div class="col-sm-6" data-spy="scroll" data-target="#available" data-offset="0">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <strong>Lista de Clientes</strong>
                </a>
                <div id="AvailableCustomers" class="connected scrol-list">

                    @if (Model.AvailableCustomersList != null)
                    {
                        foreach (var item in Model.AvailableCustomersList)
                        {
                            <div class="list-group-item box">
                                <div class="row">
                                    <div class="col-xs-12">
                                      <input type="hidden" value="@item.CustomerId" />
                                        <p><strong>@item.DecryptedName</strong></p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>

        <div class="col-sm-6" data-spy="scroll" data-target="#connected" data-offset="0">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <strong>Clientes Vinculados al Socio</strong>
                </a>
                <div id="ConnectedCustomers" class="connected scrol-list">
                    @if (Model.ConnectedCustomersList != null)
                    {
                        foreach (var item in Model.ConnectedCustomersList)
                        {
                            if (item.IsDefault)
                            {
                                <div class="list-group-item box lightgray disabled" draggable="false">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @Html.Hidden("CustomerId", @item.CustomerId)
                                            <p><strong>@item.DecryptedName</strong></p>
                                        </div>
                                    </div>
                                </div>
                            }else{
                                <div class="list-group-item box">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @Html.Hidden("CustomerId", @item.CustomerId)
                                            <p><strong>@item.DecryptedName</strong></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row top20">
        <div class="col-sm-12">
            <div class="text-info"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Utilice la funcionalidad de <strong>Arrastrar y colocar</strong> grupos entre cada lista.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
        </div>
        <div class="col-sm-4 text-right">
            <a href="@Url.Action("Index", "CustomersByPartner")" atype="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</a>
            <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
        </div>
    </div>

}