﻿@model List<ECOsystem.Models.Core.PartnerSurvey>
@{
    ViewBag.Title = "Encuestas";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .chkMargin {
            margin-left: 10px !important;
        }

        .chkMarginOption {
            margin-left: 20px !important;
        }

        .questionDiv {
            border-right: 1px solid #ccc;
            overflow-wrap: break-word;
            max-width: 160vh;
        }
    </style>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("AddOrEditPartnerSurvey", "PartnerSurvey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnBegin = "ECOsystem.PartnerSurvey.ShowLoader()",
    OnSuccess = "ECOsystem.PartnerSurvey.OnFinishSurveyAddOrEdit();"
}, new { id = "AddOrEditPartnerSurveyForm" }))
{
    @Html.Hidden("obj")
    @Html.Hidden("order")
}

@using (Ajax.BeginForm("LoadPartnerSurvey", "PartnerSurvey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECOsystem.PartnerSurvey.OnLoadSuccess()"
}, new { id = "LoadPartnerSurveyForm" }))
{
    @Html.Hidden("id")
}

@using (Ajax.BeginForm("LoadPartnerSurveyQuestion", "PartnerSurvey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "questionContainer",
    OnSuccess = "ECOsystem.PartnerSurvey.OnSuccessLoadQuestion()"
}, new { id = "loadQuestionForm" }))
{
    @Html.Hidden("id")
    @Html.Hidden("questionTypeId")
    @Html.Hidden("order")
}

@using (Ajax.BeginForm("LoadPartnerSurveyAnswer", "PartnerSurvey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "optionDetailContainer",
    OnSuccess = "ECOsystem.PartnerSurvey.OnLoadOptionSuccess()"
}, new { id = "loadAnswerForm" }))
{
    @Html.Hidden("id")
    @Html.Hidden("questionTypeId")
}

@using (Ajax.BeginForm("AddOrEditPartnerSurveyQuestion", "PartnerSurvey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnBegin = "ECOsystem.PartnerSurvey.ShowLoader()",
    OnSuccess = "ECOsystem.PartnerSurvey.OnLoadSuccess();"
}, new { id = "addOrEditQuestionForm" }))
{
    @Html.Hidden("obj")
    @Html.Hidden("text")
    @Html.Hidden("questionTypeId")
}

@using (Ajax.BeginForm("AddOrEditPartnerSurveyAnswer", "PartnerSurvey", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "questionContainer",
    OnBegin = "ECOsystem.PartnerSurvey.ShowLoader()",
    OnSuccess = "ECOsystem.PartnerSurvey.OnSuccessAddOrEditAnswer();"
}, new { id = "addOrEditAnswerForm" }))
{
    @Html.Hidden("questionText")
    @Html.Hidden("questionTypeId")
    @Html.Hidden("obj")
}

<div id="page-content-wrapper">
    <div id="ControlsContainer">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <div class="row">
                <div class="col-sm-8">
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Creación de encuestas para los clientes.
                </div>
                <div class="col-sm-4 text-right">
                    <a id="showDetails"><b>Detalles</b></a>
                </div>
                <div class="col-sm-12" id="surveyDetails" hidden>
                    <br />
                    <ul>
                        <li>Se puede tener una encuesta activa por ubicación.</li>
                        <li>Si una respuesta tiene como destino una pregunta, al cambiar el orden este ligue sera removido.</li>
                        <li>Al seleccionar "Mandatorio" el usuario no podrá omitir la encuesta.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar Encuesta</button>
        </div>
    </div>

    <div id="detailContainer" class="row" hidden></div>
    <div id="gridContainer">
        @Html.Partial("_partials/_Grid", Model)
    </div>
</div>
@Html.Partial("_partials/_Modals")

@section scripts {
    <script src="~/Scripts/Administration/PartnerSurvey.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECOsystem.PartnerSurvey.Init({});
        });
    </script>
}

