﻿@using System.Globalization
@model  ECOsystem.Areas.Admin.Models.Administration.VehicleCostCenters
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Centros de Costo";
    ViewBag.Administration = "active";
    ViewBag.AdministrationCostCenter = "active";
    ViewBag.ControlVehiclesIndex = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style type="text/css">
        .middleCells {
            vertical-align: middle !important;
        }

        .marginErrorValues {
            margin-left: 17px;
            text-align: center;
            width: 66px;
        }

        .marginErrorLabel {
            font-size: 11px;
        }

        .glyphicon-pencil-tr:before {
            content: "\270f";
        }

        .glyphicon-pencil-tr {
            padding-top: 6px;
            padding-right: 5px;
            border: 2px solid #f0ad4e;
            border-radius: 3px;
            width: 30px;
            height: 30px;
            color: white;
            background-color: #f0ad4e;
            margin-top: -6px;
        }

        .hideText {
            visibility: hidden;
        }

        .toggle.btn {
            width: 100px !important;
            height: 34px;
        }

        .pencil {
            color: #f0ad4e;
            font-size: 24px;
            position: absolute;
            margin-left: -23px;
            margin-top: -3px;
        }
    </style>
}
@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div class="modal fade" id="confirmRulesModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar cambios</h4>
            </div>
            <div class="modal-body center">
                <p>¿Esta seguro que desea guardar los cambios?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="sendRules" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="restoreRulesModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Restaurar Cambios</h4>
            </div>
            <div class="modal-body center">
                <p>¿Esta seguro que desea restaurar las reglas de negocio?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="sendRestoreRules" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name" id="SpanTitle">Transacciones - Reglas de Negocio</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">La regla de negocio no puede ser aplicada; <br /> verifique el rendimiento en las clases de vehículos</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InformationMessageRule9Modal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name" id="SpanTitle">Transacciones - Reglas de Negocio</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">Esta regla de negocio no puede ser desactivada; <br /> Favor contacte servicio al cliente.</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=" ECOsystem.Areas.Admin.TransactionRules.ReturnRuleState()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="alert alert-warning alert-dismissible fade in" role="alert" style="margin: 0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>Atención!</strong> El símbolo<i style="font-size: 20px" class="mdi mdi-pencil-box"></i>indica que <strong>NO</strong> se modificará el traslado del disponible al siguiente mes para los vehículos de este centro de costo.
            </div>
            @Html.Hidden("IsVehicle", false)
            @Html.Hidden("IsCostCenter", true)
            @using (Ajax.BeginForm("DeleteTransactionRules", "TransactionRules", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "divDetailRules",
                OnSuccess = "RestoreModalClose(),  ECOsystem.Areas.Admin.TransactionRules.Init();"
            }, new { id = "DeleteForm" }))
            {
                @Html.Hidden("DeleteCostCenterId")
                @Html.Hidden("IsVehicle")
            }
           
            @using (Ajax.BeginForm("AddOrEditVehicleCostCenters", "VehicleCostCenters", null, new AjaxOptions
            {
                HttpMethod = "post",
                OnBegin = "ECOsystem.Utilities.ShowLoader();",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = " ECOsystem.Areas.Admin.CostCenter.GoIndex(data)"
            }, new { id = "AddOrEditForm" }))
            {
                @Html.Hidden("rules")             
                @Html.Hidden("RuleChange", false)
                @Html.HiddenFor(m => m.CostCenterId)
                @Html.HiddenFor(m => m.RowVersion)
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Centro de Costo", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Code, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.Code, new { placeholder = "Código del Centro de Costo", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UnitId, new { @class = "col-sm-14 control-label" })
                            @Html.DropDownListFor(m => m.UnitId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleUnits, "Seleccione la Unidad", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UnitId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#DivBudget" data-toggle="tab">Presupuesto</a></li>
                            <li><a href="#DivBusinessRules" data-toggle="tab">Reglas de Negocio</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="DivBudget" class="tab-pane active">
                                <div class="modal-body">
                                    <div class="row">
                                        <div id="table_div" class="col-md-6">
                                            <!-- TABLE -->
                                            <h4><strong>@CultureInfo.CreateSpecificCulture("es").DateTimeFormat.GetMonthName(DateTime.Now.Month).ToUpper() </strong> @DateTime.Now.Year</h4>
                                            <hr />
                                            <table class="table table-striped">
                                                <tr>
                                                    <td>@Html.DisplayNameFor(m => m.MonthlyBudget)</td>
                                                    <td class="text-right">@Html.DisplayFor(m => m.MonthlyBudget)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(m => m.AdditionalBudget)</td>
                                                    <td class="text-right">@Html.DisplayFor(m => m.AdditionalBudget)</td>
                                                </tr>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(m => m.TotalBudget)</th>
                                                    <th class="text-right">@Html.DisplayFor(m => m.TotalBudget)</th>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(m => m.MonthlyPurchases)</td>
                                                    <td class="text-right">@Html.DisplayFor(m => m.MonthlyPurchases)</td>
                                                </tr>
                                                @{ var style = (Model.Available < 0) ? "danger" : ""; }
                                                <tr class="@style">
                                                    <td>@Html.DisplayNameFor(m => m.Available)</td>
                                                    <td class="text-right">@Html.DisplayFor(m => m.Available)</td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="col-md-6">
                                            <!-- CHART -->
                                            <div id="chart_div">

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="checkbox" id="divCheckBox">
                                                <label>
                                                    @{
                                                        var dataval = Model.PullPreviousBudget;
                                                    }
                                                    @if (dataval)
                                                    {
                                                        @Html.CheckBoxFor(m => m.PullPreviousBudget)
                                                    }
                                                    else
                                                    {
                                                        <i id="pencilBox" class="mdi mdi-pencil-box pencil"></i> <!-- bell -->
                                                        @Html.CheckBoxFor(m => m.PullPreviousBudget, new { disabled = "disabled", @class = "hidden" })
                                                    }

                                                    @Html.DisplayNameFor(m => m.PullPreviousBudget)
                                                    @Html.HiddenFor(m => m.PullPreviousBudgetDisable)
                                                </label>
                                                @Html.ValidationMessageFor(m => m.PullPreviousBudget)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DivBusinessRules" class="tab-pane fade">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="row">
                                            @{
                                                if (Model.Rules.FirstOrDefault().VehicleId != null) { Model.Rules.FirstOrDefault().Name = Model.Name; }
                                                else if (Model.Rules.FirstOrDefault().CostCenterId != null) { Model.Rules.FirstOrDefault().Name = Model.Name; }
                                                Model.Rules.FirstOrDefault().IsCostCenter = true;
                                            }
                                            <div class="col-sm-12" id="DetailContainer">
                                                @{
                                                    var CostCenterId = 0;
                                                    var VehicleId = 0;
                                                    if (Model.Rules.FirstOrDefault().CostCenterId == null)
                                                    {
                                                        CostCenterId = Convert.ToInt32(Model.CostCenterId);
                                                    }
                                                    else
                                                    {
                                                        CostCenterId = Convert.ToInt32(Model.Rules.FirstOrDefault().CostCenterId);
                                                    }

                                                }                                               
                                                <input id="CostCenterIdForRule" class="hidden" value="@CostCenterId" />
                                                <div id="divDetailRules">
                                                    @Html.Partial("~/Views/TransactionRules/_partials/_DetailRules.cshtml", Model.Rules)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button id="btAddOrEditCostCenterCancel" type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
            <button id="btnGuardar" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>

        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Administration/CostCenter.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/transactionRules.js?v=@version-hf0"></script>
    <script>
        $(function() {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.CostCenter.Init();
             ECOsystem.Areas.Admin.TransactionRules.Init();
        });

        function RestoreModalClose() {
            $('#restoreRulesModal').modal('hide');
        }

        $("#btnGuardar").click(function () {
            if ($('input[ruleid="10"]')[0].checked == false) {
                $('#confirmRulesModal').modal('show');
                return;
            }

            if ( ECOsystem.Areas.Admin.TransactionRules.ValidateRangeParameters())
                $('#confirmRulesModal').modal('show');
            else {
                $('#modalverification').modal('show');
            }
        });

        $('#btAddOrEditCostCenterCancel').click(function() {
                 ECOsystem.Areas.Admin.CostCenter.GoIndex();
            });

        $('#divCheckBox').click(function() {
            $('#PullPreviousBudgetDisable').val('false');
            $('#pencilBox').addClass('hidden');
            $('#PullPreviousBudget').removeClass('hidden');
            $('#PullPreviousBudget').removeAttr('disabled');
        });

        function changePullPreviousBudget(state) {
            var data = {
                'id': @Model.CostCenterId,
                'state': state
            };
            console.log(data);
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangePullPreviousBudget", "VehicleCostCenters")',
                data: data,
                beforeSend:
                    function() {
                        $("#enableAllVehicles").attr("disabled", "disabled");
                        $("#disableAllVehicles").attr("disabled", "disabled");

                        $("#enableAllVehicles").find("i").remove();
                        $("#disableAllVehicles").find("i").remove();
                        $("#enableAllVehicles").prepend("<i class='mdi mdi-sync'></i> ");
                        $("#disableAllVehicles").prepend("<i class='mdi mdi-sync'></i> ");
                    },
                success: function(msg) {
                    console.log('success', msg);
                },
                error: function() {
                    console.log('error');
                },
                complete: function() {

                    $("#enableAllVehicles").find("i").remove();
                    $("#disableAllVehicles").find("i").remove();

                    if (state) {
                        $("#enableAllVehicles").prepend("<i class='mdi mdi-check'></i> ");
                    } else {
                        $("#disableAllVehicles").prepend("<i class='mdi mdi-check'></i> ");
                    }

                    $("#enableAllVehicles").removeAttr("disabled");
                    $("#disableAllVehicles").removeAttr("disabled");
                }
            });
        }
    </script>
    <!-- CHARTS SCRIPT -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js?v=@version-hf0"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                [
                    '', 'Mensual', { role: 'annotation' }, { role: 'style' }, 'Adicional', { role: 'annotation' },
                    { role: 'style' }
                ],
                ['Presupuesto', @Model.MonthlyBudget, '@Model.MonthlyBudget', '#0D47A1', @Model.AdditionalBudget, '@Model.AdditionalBudget', '#1976D2'],
                ['Compras', @Model.MonthlyPurchases, '@Model.MonthlyPurchases', '#FF9800', null, '', ''],
                ['Disponible', @Model.Available, '@Model.Available', '#4CAF50', null, '', '']
            ]);
            var width = $('#chart_div').width();
            var height = (width / 2);
            // SET MINIMUM HEIGHT
            if (height < $('#table_div').height()) {
                height = $('#table_div').height();
            }
            // END
            console.log("width: " + width);
            var options = {
                width: width,
                height: height,
                legend: 'none',
                bars: 'vertical',
                chartArea: { 'width': '100%', 'height': '80%' },
                isStacked: true
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        $('#page-content-wrapper')
            .resize(function() {
                drawChart();
            });


    </script>

}
