﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehicleCostCentersBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mantenimiento de Centro de Costos";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.AdministrationVehicleCostCentersIndex = "active";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style type="text/css">
        .middleCells {
            vertical-align: middle !important;
        }

        .marginErrorValues {
            margin-left: 17px;
            text-align: center;
            width: 66px;
        }

        .marginErrorLabel {
            font-size: 11px;
        }

        .glyphicon-pencil-tr:before {
            content: "\270f";
        }

        .glyphicon-pencil-tr {
            padding-top: 6px;
            padding-right: 5px;
            border: 2px solid #f0ad4e;
            border-radius: 3px;
            width: 30px;
            height: 30px;
            color: white;
            background-color: #f0ad4e;
            margin-top: -6px;
        }

        .hideText {
            visibility: hidden;
        }
    </style>
}

@using (Ajax.BeginForm("AddOrEditVehicleCostCenters", "VehicleCostCenters", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
	OnBegin = "ECOsystem.Utilities.ShowLoader()",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose(); ECOsystem.Areas.Admin.CostCenter.GoIndex(data);"
}, new { id = "addOrEditForm" }))
{
    @Html.Hidden("RuleChange", false)
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("ExcelReportDownload", "VehicleCostCenters", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Admin.CostCenter.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = " ECOsystem.Areas.Admin.CostCenter.HideLoader()"
}, new { id = "ExcelReportDownloadForm" })) {}

@using (Html.BeginForm("DonwloadFile", "VehicleCostCenters", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    
    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchVehicleCostCenters", "VehicleCostCenters", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-sm-3">
                <button id="btnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrEditModal" title="Agregar"><i class="mdi mdi-plus"></i> Agregar Centro de Costo</button>
            </div>

            <div class="col-sm-5">
            </div>

            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por Nombre, Código o Unidad...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
    <!-- Search Area End-->
    <!-- Load Form Start-->
    @*@using (Ajax.BeginForm("LoadVehicleCostCenters", "VehicleCostCenters", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }*@

    @using (Html.BeginForm("LoadVehicleCostCenters", "VehicleCostCenters", FormMethod.Post, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }

    <!-- Load Form End-->
    <!-- Dele Modal Start-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                @using (Ajax.BeginForm("DeleteVehicleCostCenters", "VehicleCostCenters", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                }, new { id = "deleteForm" }))
                {
                    @Html.Hidden("id")
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el registro?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/CostCenter.js?v=@version-hf0"></script>
    <script>
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.CostCenter.Init();
        });

        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
