﻿@model ECO_Management.Models.GeoFenceByDriverParameters
@{
    ViewBag.Title = "Reporte de Entradas y Salidas Geocercas Por Agente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .removetop {
            margin-top: -15px;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}
@using (Html.BeginForm("DonwloadFile", "GeoFenceByDriver", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                @using (Ajax.BeginForm("GetReportData", "GeoFenceByDriver", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = "ECO_Management.GeoFenceByDriver.ShowLoader();",
                    OnSuccess = "ECO_Management.GeoFenceByDriver.OnEndGetData(data);"
                }, new { id = "ShowProtocolSimulatorForm" }))
                {
                    <div class="row removetop">
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.DriverId, ECO_Management.Utilities.GeneralCollections.GetDriver, "Seleccione un Agente", new { @class = "form-control", custom = "true" })
                        </div>
                        <div class="col-sm-4">
                            <div class='input-group date' id='datetimepickerStartDate'>
                                @Html.TextBoxFor(m => m.StartDateStr, "", new { @class = "form-control", @placeholder = "Fecha Inicial", @autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class='input-group date' id='datetimepickerEndDate'>
                                @Html.TextBoxFor(m => m.EndDateStr, "", new { @class = "form-control", @placeholder = "Fecha Final", @autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="mdi mdi-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12" id="InfoContainer">
                        <br />
                        <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione la información necesaria para generar el reporte.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Management/GeoFenceByDriver.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.GeoFenceByDriver.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}