﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Código de Seguridad - API";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .token-cursor {
            cursor: pointer;
            background: transparent !important;
            border: none !important;
            outline:none !important;
            text-align: center;
            font-size: 20px;
            width: 100%;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }

        .btn-margin {
            margin-top: 7px;
            margin-bottom: -15px;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <i class="mdi mdi-information"></i>&nbsp;El Código de Seguridad le permitirá tener acceso a los Servicios API expuestos para el consumo de datos generados en Flotas.
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Label("Código de seguridad:", new { @class = "col-sm-14 control-label" })
                            <br />
                            <span data-toggle="tooltip" id="APITokenToolTip" data-placement="top" title="Al hacer doble clic, el código será copiado al portapapeles.">
                                <input type="text" id="APIToken" class="token-cursor" readonly />
                            </span>                            
                        </div>
                    </div>
                    <div class="col-sm-12 text-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-margin" data-toggle="modal" data-target="#confirmGenerateTokenPartner"><i class="mdi mdi-reload"></i>&nbsp;Generar nuevo código de seguridad</button>
                        </div>
                    </div>
                    <div class="col-sm-12" hidden id="errorMessage">
                        <div class="alert alert-danger alert-dismissible fade in" role="alert" id="errorText"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmGenerateTokenPartner" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Código de Seguridad - API</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea generar un nuevo Código de Seguridad?</p>
                <br />
                <p>*Al generar un nuevo código de seguridad todas las conexiones actuales deberán ser actualizadas, de lo contrario no se podrá establecer la comunicación con los APIS</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGenerateAPIToken"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/CustomerToken.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.CustomerToken.Init({});
        });
    </script>
}

