﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehicleUnitsBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mantenimiento de Unidades";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.AdministrationVehicleUnitsIndex = "active";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    ViewBag.HasGrid = true;
}

@using (Ajax.BeginForm("AddOrEditVehicleUnits", "VehicleUnits", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("ExcelReportDownload", "VehicleUnits", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "showLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "hideLoader()"
}, new { id = "ExcelReportDownloadForm" })) { }

@using (Html.BeginForm("DonwloadFile", "VehicleUnits", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
 
    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchVehicleUnits", "VehicleUnits", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-sm-2">
                <button id="btnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrEditModal" title="Agregar"><i class="mdi mdi-plus"></i> Agregar Unidad</button>
            </div>

            <div class="col-sm-6">
            </div>

            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por Nombre de Unidad...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
    <!-- Search Area End-->
    <!-- Load Form Start-->
    @using (Ajax.BeginForm("LoadVehicleUnits", "VehicleUnits", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }
    <!-- Load Form End-->
    <!-- Dele Modal Start-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                @using (Ajax.BeginForm("DeleteVehicleUnits", "VehicleUnits", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                }, new { id = "deleteForm" }))
                {
                    @Html.Hidden("id")
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el registro?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Delete Modal End -->
    <br />
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
        });

        var onClickDownload = function () {
            $('#ExcelReportDownloadForm').submit();
        };

        var showLoader = function () {
            $('body').loader('show');
        };

        var hideLoader = function () {
            $('body').loader('hide');
            $('#DonwloadExcelForm').submit();
        };
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
