﻿@model ECOsystem.Management.Models.Survey

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                @Html.Label("Nombre de Formulario")
                            </div>
                            <div class="col-sm-2">
                                <div class="circle pull-right">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Mostrar Ayuda">
                                        <i class="mdi mdi-18px mdi-help-circle-outline"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre", @class = "form-control", autofocus = "" })                        
                    </div>
                </div>
                <div class="row" id="SurveyRequireMessage" hidden>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Label("** El Nombre del Formulario ya existe o es requerido **", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        @Html.Label("Descripción")
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Descripción", @class = "form-control", autofocus = "", @rows = "2" })
                    </div>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="tableHeader">
                                    <div class="col-sm-8" style="margin-top: 5px;">Preguntas</div>
                                    <div class="col-sm-4 text-right">
                                        <span data-toggle="tooltip" data-placement="bottom" title="Agregar Nueva Pregunta">
                                            <button id="btnAddNewQuestion" type="button" class="btn btn-default">
                                                <i class="mdi mdi-plus"></i>&nbsp;Agregar
                                            </button>
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <ul id="sortableQuestion">
                        @if (Model != null && Model.Questions != null)
                        {
                            foreach (var item in Model.Questions.Where(x => !x.Delete).OrderBy(x => x.Order))
                            {                                
                                <li class="ui-state-default sortQuestion" id="@item.Id">
                                    <div class="col-sm-10">
                                        @string.Format("{0}", item.Text)&nbsp;
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <i class="mdi mdi-pencil-box editQuestion" questionId="@item.Id" questionType="@item.QuestionTypeId"></i>
                                        <i class="mdi mdi-close-box removeQuestion" questionId="@item.Id"></i>&nbsp;
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div id="QuestionContainer" hidden></div>
                </div>
            </div>
        </div>
        <hr />
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button id="btnCloseMSurvey" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnSaveSurvey" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar Formulario</button>
                </div>
            </div>
        </div>
    </div>
</div>
