﻿@model List<ECOsystem.Management.Models.Survey>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Selectable(true)
        .Columns(c =>
        {
            c.Add().Titled("Nombre")
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @m.Name);                    
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                                        <a href="#" class="edit-color" id="@m.Id" title="Editar" edit_row_survey><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.Id" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                                    </span>)
                .Css("grid-col-btn");
        }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

