﻿<div class="modal fade" id="addOptionModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("AddOrEditOption", "Survey", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "OptionContainer",
                OnBegin = "ECO_Management.Survey.ShowLoader()",
                OnSuccess = "ECO_Management.Survey.OnSuccessAddOption(); ECO_Management.Survey.OnSuccessLoadOption()"
            }, new { id = "addOptionForm" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Información de la Opción</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @Html.Hidden("optionId")
                        <div class="col-sm-12">
                            @Html.Label("Digite el texto de la Opción")
                            @Html.TextBox("text", "", new { placeholder = "Opción", @class = "form-control", autofocus = "" })
                        </div>
                        <div class="col-sm-12 hide" id="NextQuestionDrop">
                            @Html.Label("Seleccione la siguiente pregunta")
                            @Html.DropDownList("nextQuestionId", new List<SelectListItem>(), "Seleccione Siguiente Pregunta", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteSurvey", "Survey", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = "ECO_Management.Survey.ShowLoader()",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose(); ECO_Management.Survey.HideLoader()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mantenimiento de Formularios</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea Eliminar la Pregunta?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="btnDeleteQuestion" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteOptionModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mantenimiento de Formularios</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea Eliminar la Opción?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="btnDeleteOption" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddOrEditConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mantenimiento de Formularios</h4>
            </div>
            <div class="modal-body">
                <h3>¿Esta seguro que desea almacenar la información del formulario?</h3>
                &nbsp;Nota: La información de <b><u>Siguiente Pregunta</u></b> sera <b>Eliminada</b>, si el orden de las preguntas es modificado
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="btnAddOrEditSurveySubmit" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ValidateOptionModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mantenimiento de Formularios</h4>
            </div>
            <div class="modal-body">
                <p>Por favor agrega opciones a la pregunta</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>