﻿@model List<ECOsystem.Management.Models.Option>
@{
    var showOptions = ViewBag.ShowOptions == null ? true : (bool)ViewBag.ShowOptions;
    var showNextQuestion = ViewBag.ShowNextQuestion != null ? ViewBag.ShowNextQuestion.ToString() : "false";
    var order = ViewBag.QuestionOrder != null ? ViewBag.QuestionOrder : null;
}

@if (showOptions)
{
    @Html.Hidden("showOptions", showOptions)
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="tableOptionHeader">
                        <div class="col-sm-8" style="margin-top: 5px;">Opciones</div>
                        <div class="col-sm-4 text-right">
                            <span data-toggle="tooltip" data-placement="bottom" title="Agregar Nueva Pregunta">
                                <button id="btnAddNewOption" type="button" class="btn btn-default" showNextQuestion="@showNextQuestion" questionOrder="@order">
                                    <i class="mdi mdi-plus"></i>&nbsp;Agregar
                                </button>
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        <ul id="sortableOption">
            @if (Model != null && Model != null)
            {
                foreach (var item in Model.Where(x => !x.Delete).OrderBy(x => x.Order))
                {
                    <li class="ui-state-default sortOption" id="@item.Id">
                        <div class="col-sm-10">
                            @string.Format("{0}", item.Text)&nbsp;
                        </div>
                        <div class="col-sm-2 text-right">
                            <i class="mdi mdi-pencil-box editOption" optionId="@item.Id" optionText="@item.Text" showNextQuestion="@showNextQuestion" questionOrder="@order" nextQuestionId="@item.NextQuestionId"></i>
                            <i class="mdi mdi-close-box removeOption" optionId="@item.Id"></i>&nbsp;
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
}
else
{
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;La pregunta no necesita mostrar opciones de respuesta
        </div>
    </div>
}


