﻿@model ECOsystem.Management.Models.Question

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Hidden("questionEditId", Model.Id)
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Pregunta")
                    @Html.TextBoxFor(m => m.Text, new { placeholder = "Nombre", @class = "form-control", autofocus = "" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Descripción")
                    @Html.TextArea("DescriptionQuestion", Model.Description, new { placeholder = "Descripción", @class = "form-control", autofocus = "", @rows = "2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Tipo de Pregunta")
                    @Html.DropDownListFor(m => m.QuestionTypeId, @ECOsystem.Management.Utilities.Collections.GetCatalogDetail(ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.QuestionTypes), null), "Tipo de Pregunta", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row" id="QuestionRequireMessage" hidden>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("** La Pregunta y el Tipo de Pregunta, son requeridos **", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row" id="OptionContainer">
            @Html.Partial("_partials/_OptionDetail", Model.Options)
        </div>
        <div class="row">
            <hr />
            <div class="col-sm-12 text-right">
                <button id="btnCloseOption" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="btnAddOrEditQuestion" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
