﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.ControlFuelsReportsBase
@{
    ViewBag.Title = "Reporte de Comandos";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "VehicleCommandsReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Efficiency.VehicleCommandsReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECO_Efficiency.VehicleCommandsReport.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {
        @Html.HiddenFor(m => m.key);
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.FilterVehicle, GeneralCollections.GetVehiclesByCustomer, "Vehículos:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "onClick", "ECO_Efficiency.VehicleCommandsReport.OnClickFirstDate();" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row text-right">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" onclick="ECO_Efficiency.VehicleCommandsReport.OnClickDownloadPartnerReport()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
            </div>
        </div>
    }
    <br />
    <div id="ControlsContainer"></div>

    @using (Html.BeginForm("DonwloadFile", "VehicleCommandsReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
</div>

@section scripts {
    <script src="~/Scripts/Efficiency/VehicleCommandsReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Efficiency.VehicleCommandsReport.Init({});
            $('#datetimepickerStartDate').datepicker("setDate", new Date());
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}