﻿@model ECO_Efficiency.Models.Routes
<!-- Modal Start-->

@{
    string ModalHeader = string.Empty;

    if (Model.RouteId != null) { ModalHeader = " - " + Model.Name; }
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Información de Rutas @ModalHeader</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.RouteId)            
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre de Ruta", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-14 control-label" })
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Descripción de Ruta", @class = "form-control text-area" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">

                @if (Model.RouteId != null)
                {
                    <div class="col-lg-12">
                        <div class="input-group" style="padding:10px">
                            @Html.LabelFor(m => m.Distance, new { @class = "col-sm-14 control-label" }):&nbsp;
                            @Html.DisplayFor(m => m.Distance) Kilómetros
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group" style="padding:10px">
                            @Html.LabelFor(m => m.Time, new { @class = "col-sm-14 control-label" }):&nbsp;
                            @Html.DisplayFor(m => m.Time) Minutos
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12">
                        <div class="input-group" style="padding:10px">
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.Active)Activo
                                </label>
                                @Html.ValidationMessageFor(m => m.Active)
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-12">
                        <div class="input-group" style="padding:10px">
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.Active)Activo
                                </label>
                                @Html.ValidationMessageFor(m => m.Active)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>