﻿@model IEnumerable<ECO_Efficiency.Models.Routes>


@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="panel-group card route" id="route-@item.RouteId" style="cursor:pointer">
            <div class="row" style="margin-top:-5px;margin-bottom:-10px;">
                <div class="col-sm-8"  onclick="ECO_Efficiency.Routes.LoadMapRoute(@item.RouteId)">
                    <strong>@item.Name</strong>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#deleteModal" id="@item.RouteId" del_row>
                        <i class="mdi mdi-close-box mdi-24px" style="color:red;"></i>
                    </a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding-top:4px; padding-bottom:4px;">
        <p style="font-size:small;"><i class="mdi mdi-information" style="font-size:18px;"></i><b>&nbsp;&nbsp;No se encontraron resultados</b></p>
    </div>
}