﻿@model IEnumerable<ECO_Efficiency.Models.RoutesPoints>
@Html.HiddenFor(m =>m.ToList().FirstOrDefault().RouteId)

<div class="col-sm-12">
    <div class="grid-mvc" data-lang="en" data-gridname="" data-selectable="true" data-multiplefilters="false">
        <div class="grid-wrap">
            <table class="table grid-table" id="pointsGrid">
                <thead>
                    <tr>
                        <th class="grid-header"><div class="grid-header-title"><span></span></div></th>
                        <th class="grid-header"><div class="grid-header-title center"><span class="center">Puntos a Visitar</span></div></th>
                        <th class="grid-header grid-col-btn"><div class="grid-header-title"><span></span></div></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="grid-row " id="@item.PointId" order="@item.Order">
                            <td class="grid-cell orderrow" data-name="Order">@item.Order</td>
                            <td class="grid-cell" style="cursor:pointer" onclick="openTooltip(@item.PointId,@item.Order)" data-name="Name" id="name-@item.PointId">@item.Name</td>
                            <td class="grid-cell grid-col-btn" style="min-width:115px" id="@item.PointId">
                                <span>
									<i class="mdi mdi-32px mdi-checkbox-blank" style="position: absolute; color: white;"></i>
									<a class="delete-color" style="cursor:pointer" 
                                       onclick="ECO_Efficiency.Routes.LoadMapRouteCenter(@item.RouteId,@item.Latitude,@item.Longitude,@item.PointId,@item.Order)" 
                                       title="Centrar">
                                    <i class="mdi mdi-32px mdi-image-filter-center-focus"></i>
                                    </a>
									
                                    <i class="mdi mdi-32px mdi-checkbox-blank" style="position: absolute; color: white;"></i>
                                    <a href="#" class="edit-color editpoint" id="@item.PointId" routeid="@item.RouteId" pname="@item.Name" iscommerce= "@item.IsCommerce" stoptime="@item.StopTime" time="@item.Time" order="@item.Order"
                                       newpoint="@item.NewPoint" pointreference="@item.PointReference" title="Editar"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                    <i class="mdi mdi-32px mdi-checkbox-blank" style="position: absolute; color: white;"></i>
                                     <a href="#" class="delete-color btnDeletePoint" data-toggle="modal" data-target="#deletePointModal" id="@item.PointReference" removeid="@item.PointId" title="Eliminar" newpoint="@item.NewPoint"><i class="mdi mdi-32px mdi-close-box"></i></a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>