﻿<div class="modal fade" id="ImportModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            @using (Html.BeginForm("AddOrEditImportRoutes", "Routes", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImportForm"}))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Importacion de Rutas</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input id="txtFile" name="key" type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Efficiency.Routes.OnClickImport2()"><i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Buscar</button>
                                    <input type="file" class="hide" id="ImportCSV" accept=".csv" size="43" name="fileHidden" onchange="ECO_Efficiency.Routes.GetFilename(this)" />
                                </span>
                            </div>
                            <br />
                            <label>* Tipo de archivo CSV</label><br />
                            <label>* El proceso puede tardar algunos minutos</label><br />
                            <label>* Por favor validar que el archivo tiene el formato correcto. Click <a class="" href="@Url.Action("DonwloadExampleFile", "Routes")">aquí</a> para descargar archivo de ejemplo.</label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group" style="padding:10px; margin-top:-20px; margin-left:10px;">
                                <div class="checkbox">
                                    <label class="control-label">
                                        @Html.CheckBox("chkOverride", true, new { }) Sobreescribir la ruta
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div id="validationFormat" class="row top20">
                            <div id="errorFormatMsj" class="col-sm-12 text-danger">
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <div class="col-sm-2">
                        <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnImport" type="button" class="btn btn-primary" onclick="ECO_Efficiency.Routes.OnClickImport3()"><i class="mdi mdi-check"></i>&nbsp;Importar</button>
                </div>
            }
            @if (Session["SummaryFile"] != null)
            {
                using (Html.BeginForm("DonwloadReportFile", "Routes", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
            }
        </div>
    </div>
</div>

<div class="modal fade" id="SummaryResultModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Resultado de la Importación de Rutas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-6"><b>Fecha:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultimportdate"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad Rutas agregadas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultadded"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad Rutas ya existentes:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultexist"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad Rutas fallidas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultfail"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad TOTAL de Rutas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resulttotal"></span></b></div><br />
                        <br />
                        <div class="col-sm-12">El resumen de las rutas que no se agregaron o no fueron procesados por alguna razón en particular pueden ser vistos en el archivo de texto que se descargó.</div><br />
                        <br />
                    </div>
                </div>
                <div class="modal-footer" style="padding: 5px!important; margin-bottom: -10px!important;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

