﻿@using ECOsystem.Business.Utilities
@model ECO_Efficiency.Models.RoutesPoints
<br />
<div class="col-sm-12" style="margin-top: -10px; ">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                @Html.HiddenFor(m => m.PointId)
                @Html.HiddenFor(m => m.RouteId)
                @Html.HiddenFor(m => m.PointReference)
                @Html.HiddenFor(m => m.Order)
                @Html.HiddenFor(m => m.NewPoint)

                <input type="hidden" name="lPointId" id="lPointId" value="@Model.PointId" />

                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.Label("Nombre", new { @class = "col-sm-14 control-label fbold" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre", @class = "form-control" })
                    </div>
                </div>

                <div id="divCommerces">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Label("Asociar Comercio", new { @class = "col-sm-14 control-label fbold" })
                            @Html.DropDownListFor(m => m.CommerceId, GeneralCollections.GetNearCommerces(Model.PointId), "Seleccionar Comercio ", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("Tiempo de Parada", new { @class = "col-sm-14 control-label fbold" })
                        @Html.TextBoxFor(m => m.StopTimeStr, new { placeholder = "Tiempo de Parada", @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Label("Hora Llegada", new { @class = "col-sm-14 control-label fbold" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.TimeStr, new Dictionary<string, Object> { { "placeholder", "Hora Llegada" }, { "class", "form-control fbold timepicker timepicker-with-dropdown" }, { "onclick", "openpicker()" } })
                            <span class="input-group-addon">
                                <i class="mdi mdi-clock" onclick="openpicker_icon()" style="cursor:pointer"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12  text-right">
                    <button type="button" class="btn btn-default" id="btnCancelPoint"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnPointAddOrEdit"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        openpicker();
    });


    function openpicker() {
        $('#TimeStr').timepicker({
            timeFormat: 'hh:mm p',
            interval: 30,
            minTime: '0',
            maxTime: '11:00pm',
            startTime: '1:00',
            dropdown: true,
            scrollbar: true
        });

    }

    function openpicker_icon() {
        setTimeout(function () { 
            $('#TimeStr').select();
        }, 100)
    }

</script>