﻿@model ECO_Efficiency.Models.Routes

<div class="panel panel-default">
    <div class="panel-container-height-right tab-pane">
        <div class="tab-content">
            <div class="col-lg-12">
                @Html.HiddenFor(m => m.RouteId)
                <div class="row">
                    <div class="col-sm-12" style="margin-top: 5px;">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label fbold" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre de Ruta", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-top: 5px;">
                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-14 control-label fbold" })
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Descripción de Ruta", @class = "form-control text-area" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model.RouteId != null)
                {
                    <br />
                    <div class="row">
                        <div class="col-sm-5">
                            <span data-toggle="tooltip" data-placement="bottom" title="Distancia">
                                <i class="mdi mdi-ruler" style="font-size:15px;"></i>
                                <label id="routeDistance">&nbsp;@Html.DisplayFor(m => m.Distance)&nbsp;Kilómetros</label>
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <span data-toggle="tooltip" data-placement="bottom" title="Tiempo">
                                <i class="mdi mdi-timer" style="font-size:15px;"></i>
                                <label id="routeTime">&nbsp;@Html.DisplayFor(m => m.Time)&nbsp;Minutos</label>
                            </span>
                        </div>
                        <div class="col-sm-3 text-right" style="margin-top: -10px;">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.Active) <b>&nbsp;Activo</b>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <br />
                    <div class="row">
                        <div class="col-sm-12 text-right" style="margin-top:-10px;">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.Active) <b>&nbsp;Activo</b>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.RouteId == null)
                {
                    <div class="row">
                        <div class="col-sm-12 text-right" style="margin-top: 10px;">
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Agregar Ruta</button>
                        </div>
                    </div>
                }
                <br />
                <div class="row" style="border-top: 1px solid #ccc;"></div>
                <div class="row" id="PointDetailContainer" hidden style="overflow-y:scroll; overflow-x:hidden; height:calc(100vh - 365px);">
                    @Html.Partial("_Partials/_PointsAddOrEdit", new ECO_Efficiency.Models.RoutesPoints())
                </div>
                <div class="row" id="PointsContainer" style="overflow-y:scroll; overflow-x:hidden; height:calc(100vh - 365px);">
                    @Html.Partial("_Partials/_GridPoints", Model.Points)
                </div>
            </div>
        </div>
    </div>
    @if (Model.RouteId != null)
    {
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button id="btnCancelSave" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" data-toggle="modal" data-target="#SaveNotification" class="btn btn-primary" title="Guardar Cambios"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    }
</div>
