﻿@model  IEnumerable< ECOsystem.Areas.Admin.Models.Administration.ApprovalTransactionsParameters>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Parámetros de Conciliación";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("RemoveColumnFromList", "ApprovalTransactionsParameters", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    OnBegin = " ECOsystem.Areas.Admin.ApprovalTransactionsParameters.OnBeginRemove()",
    OnSuccess = " ECOsystem.Areas.Admin.ApprovalTransactionsParameters.OnCompleteRemove(data)"
}, new { id = "RemoveColumnForm" }))
{@Html.Hidden("Id")}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Ajax.BeginForm("AddOrEditColumn", "ApprovalTransactionsParameters", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "tableContainer",
                            OnSuccess = " ECOsystem.Areas.Admin.ApprovalTransactionsParameters.OnCompleteAddOrColum(data)"
                        }, new { id = "AddColumnForm" }))
                        {
                            @Html.Hidden("Id")
                            <div class="input-group">
                                @Html.TextBox("ColumnName", string.Empty, new { @class = "form-control number-only", @placeholder = "Nombre de la Columna" })
                                <span class="input-group-btn">
                                    <button id="btnAddColumn" type="button" class="btn btn-primary" title="Agregar Columna"><i class="mdi mdi-plus"></i>&nbsp;Guardar</button>
                                    <button id="btnCancel" type="button" class="btn btn-default" title="Cancelar"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <div id="tableContainer">
                    @Html.Partial("_partials/_Grid", Model)
                </div>
                
                <br />
                <div id="ControlsContainer"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationRemoveColumn" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Parámetros Conciliación de Transacciones</h4>
            </div>
            <div class="modal-body">
                <h4>¿Esta seguro que desea eliminar la columna seleccionada?</h4>
                La información de esta columna no estará visible en el <b>Reporte de Conciliación de Transacciones</b>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnRemoveColumn"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/ApprovalTransactionsParameters.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.ApprovalTransactionsParameters.Init();
        });
    </script>
}