﻿@model  ECOsystem.Areas.Coinca.Models.VPOSModelBase
@{
    ViewBag.Title = "Compra En Línea"; //Preautorizada";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .textsize {
            font-size: large;
        }

        label {
            margin-left: 15px;
            margin-top: 10px;
        }

        body {
            overflow-x: hidden;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="20" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Html.BeginForm("DownloadTransactionBill", "VPOS", FormMethod.Post, new { id = "DonwloadBillForm" })) { }

    <div id="page-content-wrapper">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        @Html.Partial("_partials/_DetailVPOSPreauthorized", Model.Data)
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Compra En Línea</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Hidden("CloseAttr")
                        <h4 class="fbold center"> <span id="textMessage"></span></h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnAcceptInfoModal" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="InformationTxProcessMessageModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">La transacción se procesó exitosamente. Detalles de la transacción:</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" style="font-size:30px;" id="authorizationNumber"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default" id="btnDownloadBill"><i class="mdi mdi-download"></i>&nbsp;Descargar Factura</button>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control valid" data-val="false" type="text" id="txtEmail" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary" id="btnSendBillEmail"><i class="mdi mdi-send"></i>&nbsp;Enviar Correo</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" hidden id="emailValidation">
                            <div class="col-sm-12">
                                <label style="color:#fb4b4b;"><i class="mdi mdi-information"></i>&nbsp;El correo electronico no contiene un formato valido.</label>
                            </div>
                        </div>
                        <div class="row" hidden id="emailValidationSent">
                            <div class="col-sm-12">
                                <label style="color:green;"><i class="mdi mdi-information"></i>&nbsp;La factura ha sido enviada correctamente.</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="CleanControls()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="PreauthorizeMessageModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Compra En Línea</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="center">
                            Hubó un problema con la validación de la transacción en este momento.
                            <br />Tipo de error (BAC): <span id="BacErrorMessage" class="fbold"></span>.
                            <br />
                            <br />Para proseguir con el proceso se requiere un número de autorización, este puede ser entregado por parte de IVR.
                            <br />
                            <br />El número para el IVR es: <span id="ContactPhone"></span>.
                            <br />Por favor ingrese un caso sobre el problema de la terminal presionando <span id="ContactLink"></span>.
                            <br />
                            <br />¿Desea realizar la transacción Flotante?
                        </h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnReverseTransaction"><i class="mdi mdi-close"></i>&nbsp;No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAcceptPreauthorize"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="SaleTransactionMessageModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Compra En Línea</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="fbold center"> La validación de las Reglas de Negocio se realizó satisfactoriamente. <br /> ¿Desea proseguir con la transacción? </h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAcceptSale"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Mensaje de Confirmación</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea Cancelar la Transacción?</p>
                    </div>

                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                            <button type="button" class="btn btn-primary" onclick="CleanControls()"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ConfirmationOdometerModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Mensaje de Confirmación</h4>
                    </div>
                    <div class="modal-body">
                        <p>El Odómetro Coincide con la Placa del Vehículo.</p>
                        <p>¿Esta seguro que desea continuar con la Transacción?</p>
                    </div>

                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-default" id="btnOdometerFocus"><i class="mdi mdi-close"></i>&nbsp;No</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script src="~/Scripts/Settings/AdminPreauthorized.js?v=@version-hf0"></script>
    <script type="text/javascript">
        $(function () {
             ECOsystem.Areas.Coinca.AdminPreauthorized.Init();
            $('#AccountNumber').focus();
            $("#LoadMenuForm").submit();
        });

        //Avoid using the enter key as submit
        $(document).on('keyup keypress', 'form input[type="text"]', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                return false;
            }
        });

        //Validates the result from the ajax form
        function success(data, status, xhr) {
            $('body').loader('hide');

            if (data.responseText != "") {
                $('#textMessage').html('La transacción no cumple con las reglas de negocio. Se presenta el siguiente resultado: <br />' + data.responseText);
                $('#InformationMessageModal').modal('show');
                $('#CloseAttr').val("");
            }
            else {
                $('#SaleTransactionMessageModal').modal('show');
            }
        };

        //Clean Controls
        function CleanControls() {
            window.location.reload();
        };
    </script>
}