﻿@model  ECOsystem.Areas.Coinca.Models.CreditCardBase
@{
    ViewBag.Title = "POS Virtual";
    ViewBag.Administration = "active";
    ViewBag.AdministrationCreditCard = "active";
    ViewBag.AdministrationVPOS = "active";

    ViewBag.HasGrid = true;

    var retrieveCreditCardSale = @Url.Action("RetrieveCreditCardSale", "CreditCard");
    var executeCreditCard = @Url.Action("ExecuteCreditCard", "CreditCard");

    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        #creditDetail.panel {
            margin-top: 0;
        }

        #creditDetail .panel-body {
            background-color: #fafafa;
        }
        #errorMessage{
            padding-top:40px;
            margin-left:15px;
        }

        .Preauthorized 
        {
            margin-left:5px!important;            
            border: 2px solid #4db8ff!important;
            border-radius: 3px!important;            
            height:30px!important;
            margin-top:-6px!important;
        }

    </style>
}

<div id="detailContainer">
    @Html.Partial("_partials/_DetailVPOS", Model.TransactionDetail)
</div>

<div id="SearchMasterCardContainer">
    @Html.Partial("_partials/_SearchMasterCard")
</div>
    
@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="9" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">   
    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchCreditCardVPOS", "VPOS", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-lg-6 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_GridVPOS", Model.List)
        </div>
    </div>
</div>

    
<!-- Section Alerts -->    
@using (Ajax.BeginForm("LoadRetrieveCreditCardSale", "VPOS", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailVPOSContainer",
    OnSuccess = " ECOsystem.Areas.Coinca.CreditCard.ShowModalVPOS_VOID()"
}, new { id = "retrieveSalesForm" }))
{
    @Html.Hidden("creditCardId")
}
    
@using (Ajax.BeginForm("ExecuteCreditCardVOID", "VPOS", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm", autocomplete = "off" }))
{
    <div id="detailVPOSContainer">
        @Html.Partial("_partials/_DetailVPOS_VOID", Model.TransactionDetail)
    </div>
}

@section scripts {
    <script src="~/Scripts/Settings/creditCard.js?v=@version-hf0"></script>
    <script type="text/javascript">
        /* Start */
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.CreditCard.InitVPOS();
        });
    </script>
}