﻿@model  ECOsystem.Areas.Coinca.Models.VPOSModelBase
@{
    ViewBag.Title = "Listado de Transacciones Flotantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<!-- Modal Start-->
<style>
    label {
        margin-left: 15px;
        margin-top: 10px;
    }

    /*#wrapper {
        padding-left: unset;
    }*/

    body {
        overflow-x: hidden;
    }
</style>

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="20" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="row">

                @using (Ajax.BeginForm("SearchTransactions", "VPOS", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = " ECOsystem.Areas.Coinca.AdminPreauthorized.LoaderShow();",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = " ECOsystem.Areas.Coinca.AdminPreauthorized.LoaderHide();"
                }, new { id = "searchForm" }))
                {
                    <div class="row">
                        <div class="col-sm-4" style="margin-left:20px;">
                            <div class="input-group">
                                <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Digite el Número de Tarjeta">

                                <span class="input-group-btn">
                                    <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar" onclick=" ECOsystem.Areas.Coinca.AdminPreauthorized.SetCreditCardFormat()"><i class="mdi mdi-magnify"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <br />
            <div class="row">
                <div class="col-lg-12" id="gridContainer">
                    @Html.Partial("_partials/_GridPreauthorized", Model.List)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SetTransactionProcessModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Compra En Línea</h4>
            </div>
            <div class="modal-body">
                <p>¿Desea establecer la transacción seleccionada como Procesada? </p>

                    @using (Ajax.BeginForm("SetTransactionProcessed", "VPOS", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ModalHide"
                    }, new { id = "SetTransactionProcessedForm" }))
                    {
                        @Html.Hidden("TransactionId")
                        <div class="row">
                            <div class="col-lg-6">
                                <input id="AuthorizationNumber" name="AuthorizationNumber" data-val="true" data-val-required="Número de Autorización es requerido" type="text" class="form-control" placeholder="Digite el Número de Autorización">
                                <span class="text-danger field-validation-valid" data-valmsg-for="AuthorizationNumber" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                <button type="button" class="btn btn-primary" id="btnProcessPreauthorizedSale"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SetTransactionReverseModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Compra En Línea</h4>
            </div>
            <div class="modal-body">
                <p>¿Desea establecer la transacción seleccionada como Reversada? </p>

                @using (Ajax.BeginForm("SetTransactionReverse", "VPOS", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ModalHide"
                    }, new { id = "SetTransactionReverseForm" }))
                {
                    @Html.Hidden("TransactionId")
                    @Html.Hidden("TotalAmount")                   
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                <button type="button" class="btn btn-primary" id="btnReversePreauthorizedSale"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Compra En Línea</h4>
            </div>
            <div class="modal-body">                
                <h4 class="fbold center">La transacción ha sido procesada correctamente</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Settings/AdminPreauthorized.js?v=@version-hf0"></script>
    <script type="text/javascript">
        $(function () {
             ECOsystem.Areas.Coinca.AdminPreauthorized.Init();           
            $("#LoadMenuForm").submit();
        });

        function ModalHide(data, status, xhr) {
            if (data.indexOf('errorModalLabel') != -1)
            {
                $('#SetTransactionProcessModal').modal('hide');
                $('#SetTransactionReverseModal').modal('hide');                
                $('#AuthorizationNumber').val('');
            }
            else
            {
                $('#SetTransactionProcessModal').modal('hide');
                $('#SetTransactionReverseModal').modal('hide');
                $('#InformationMessageModal').modal('show');
                $('#AuthorizationNumber').val('');
            }            
        };       
        
    </script>
}