﻿@model  ECOsystem.Areas.Control.Models.Control.PreventiveMaintenanceRecordByVehicleBase

<!--Modal Start-->
<input type="hidden" id="CurrencySymbol" value="@ViewBag.Symbol" />
<input type="hidden" id="PreventiveMaintenanceRecordByVehicleId" value="@Model.Detail.Header.PreventiveMaintenanceRecordByVehicleId" />
<input type="hidden" id="PreventiveMaintenanceId" value="@Model.Detail.Header.PreventiveMaintenanceId" />
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información del Mantenimiento Preventivo <span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="row" style="padding-right: 15px; text-align: right;">
                        <div class="col-lg-11"></div>
                        <div class="col-lg-1">
                            <button id="btnAddCost" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i></button>
                        </div>
                    </div>
                    <div class="cost-scroll">
                        
                        <div class="row">
                            <div class="col-lg-12" id="gridCostContainer">
                                @(Html.Grid(Model.Detail.Cost)
                                    .Selectable(true)
                                    .Columns(c => 
                                    {
                                        c.Add(x => x.PreventiveMaintenanceRecordByVehicleDetailId).Titled("PreventiveMaintenanceRecordByVehicleDetailId").Css("grid-col-hide data-Id");
                                        c.Add(x => x.PreventiveMaintenanceRecordByVehicleId).Titled("PreventiveMaintenanceRecordByVehicleId").Css("grid-col-hide data-Id");
                                        c.Add(x => x.PreventiveMaintenanceCostId).Titled("PreventiveMaintenanceCostId").Css("grid-col-hide data-Id");
                                        c.Add(m => m.Description).Titled("Nombre").RenderValueAs(m =>
                                        @<div>
                                            @if(m.PreventiveMaintenanceCostId == 0)
                                            {
                                                <input type="text" class="form-control nav-justified" value="@m.Description" id="Name-@m.PreventiveMaintenanceRecordByVehicleDetailId" data-currency="true">
                                            }
                                            else
                                            {
                                                if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0) 
                                                {
                                                    <input type="text" class="form-control nav-justified" value="@m.Description" id="Name-@m.PreventiveMaintenanceRecordByVehicleDetailId" data-currency="true" disabled="disabled">
                                                }
                                                else
                                                {
                                                    <input type="text" class="form-control nav-justified" value="@m.Description" id="Name-@m.PreventiveMaintenanceCostId" data-currency="true" disabled="disabled">
                                                }
                                            }
                                        </div>).Encoded(false).Sanitized(false).Css("grid-col-name");
                                        c.Add(m => m.Cost).Titled("Costo").RenderValueAs(m =>
                                        @<div>
                                            <div class="input-group">
                                                <span2 class="input-group-addon">@ViewBag.Symbol</span2>
                                                @if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0) 
                                                {
                                                    <input type="text" onblur="ECOsystem.preventiveMaintenanceRecordByVehicleCost.Sumatory()" class="form-control text-right num-cost" value="@m.Cost" id="Cost-@m.PreventiveMaintenanceRecordByVehicleDetailId" costId="Cost-@m.PreventiveMaintenanceCostId" RecordByVehicleDetailId="@m.PreventiveMaintenanceRecordByVehicleDetailId" data-currency="true" disabled="disabled">
                                                }
                                                else
                                                {
                                                    <input type="text" onblur="ECOsystem.preventiveMaintenanceRecordByVehicleCost.Sumatory()" class="form-control text-right num-cost" value="@m.Cost" id="Cost-@m.PreventiveMaintenanceCostId" costId="Cost-@m.PreventiveMaintenanceCostId" RecordByVehicleDetailId="0" data-currency="true" disabled="disabled">
                                                }

                                            </div>
                                        </div>).Encoded(false).Sanitized(false).Css("grid-col-center");
                                        c.Add(m => m.Record).Titled("Registro").RenderValueAs(m =>
                                        @<div>
                                            <div class="input-group">
                                                <span2 class="input-group-addon">@ViewBag.Symbol</span2>
                                                @if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0) 
                                                {
                                                    <input type="text" onblur="ECOsystem.preventiveMaintenanceRecordByVehicleCost.Sumatory()" class="form-control text-right num-cost" value="@m.Record" id="Record-@m.PreventiveMaintenanceRecordByVehicleDetailId" recordByVehicleId="Record-@m.PreventiveMaintenanceRecordByVehicleId" data-currency="true">
                                                }
                                                else
                                                {
                                                    <input type="text" onblur="ECOsystem.preventiveMaintenanceRecordByVehicleCost.Sumatory()" class="form-control text-right num-cost" value="@m.Record" id="Record-@m.PreventiveMaintenanceCostId" recordByVehicleId="Record-0" data-currency="true">
                                                }
                                            </div>
                                        </div>).Encoded(false).Sanitized(false).Css("grid-col-center");
                                        c.Add()
                                            .Encoded(false)
                                            .Sanitized(false)
                                            .SetWidth(2)
                                            .RenderValueAs(m => @<span class="toolBar1">
                                            @if (m.PreventiveMaintenanceRecordByVehicleDetailId != 0) 
                                            {
                                                if (m.PreventiveMaintenanceCostId == 0)
                                                {
                                                    <a class="delete-color" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceRecordByVehicleDetailId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="delete-color disabled" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceRecordByVehicleDetailId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                }
                                            }
                                            else
                                            {
                                                if (m.PreventiveMaintenanceCostId == 0)
                                                {
                                                    <a class="delete-color" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceCostId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="delete-color disabled" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceCostId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                }
                                            }
                                        </span>).Css("grid-col-btn");
                                    })
                                )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 15px; text-align: right;">
                    <div class="col-lg-12"></div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">Total Costo @ViewBag.Symbol</span>
                                <input type="text" class="form-control text-right" value="0.00" id="Cost-total" data-currency="true" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">Total Registro @ViewBag.Symbol</span>
                                <input type="text" class="form-control text-right" value="0.00" id="Record-total" data-currency="true" disabled="disabled">
                            </div>
                        </div>
                    </div>


            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button id="btnCancelCost" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnSaveCost" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->



        <!-- Validate Modal Start-->
        <div class="modal fade" id="validateCostModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Error de Validación de Datos<span class="element-name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p>Hay datos no válidos en el formulario, verifiquelos y vuelva a intentarlo.</p>
                    </div>
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Validate Modal End -->

    <script>
        $(function () {
            ECOsystem.preventiveMaintenanceRecordByVehicleCost.Init();
        });
    </script>
@*}*@

