﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.PreventiveMaintenanceVehicles>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Selectable(true)
        .Columns(c =>
        {
        c.Add(x => x.PlateId).Titled("Matrícula");
        c.Add(x => x.VehicleName).Titled("Vehículo");
        c.Add(x => x.CostCenterName).Titled("Centro de Costos");
        c.Add(x => x.TypeName).Titled("Clase");
        c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(2)
            .RenderValueAs(m => @<span>
                <a href="@Url.Action("IndexDetail", "PreventiveMaintenanceRecordByVehicle", new { vehicleId = m.VehicleId, preventiveMaintenanceCatalogId = m.PreventiveMaintenanceCatalogId})" class="edit-color" id="@m.VehicleId" title="Editar" ><i class="mdi mdi-32px mdi-pencil-box"></i></a>
            </span>).Css("grid-col-btn");
        }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}