﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.PreventiveMaintenanceRecordByVehicle>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
            .Selectable(true)
            .Columns(c =>
            {
                c.Add(x => x.PlateId).Titled("Placa");
                c.Add(x => x.Odometer).Titled("Odómetro (Kilómetros)");
                c.Add(x => x.Alert).Titled("Próxima Alerta");
                c.Add(x => x.NextReview).Titled("Próxima Revisión (Kilómetros)");
                c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(2)
                    .RenderValueAs(m => @<span>
                        <a class="edit-color" id="@m.PreventiveMaintenanceId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                    </span>).Css("grid-col-btn");
      }))
    
    switch (Model.FirstOrDefault().FrequencyTypeId)
    {
        case 300:
            @(Html.Grid(Model)
                        .Selectable(true)
                        .Columns(c =>
                        {
                            c.Add(x => x.PlateId).Titled("Placa");
                            c.Add(x => x.Odometer).Titled("Odómetro (Kilómetros)");
                            c.Add(x => x.Alert).Titled("Próxima Alerta");
                            c.Add(x => x.NextReview).Titled("Próxima Revisión (Kilómetros)");
                            c.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(2)
                                .RenderValueAs(m => @<span>
                                    <a class="edit-color" id="@m.PreventiveMaintenanceId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                </span>).Css("grid-col-btn");
             }))
            break;
        case 301:
            @(Html.Grid(Model)
                    .Selectable(true)
                    .Columns(c =>
                    {
                        c.Add(x => x.PlateId).Titled("Placa");
                        c.Add(x => x.Time).Titled("Última Revisión");
                        c.Add(x => x.AlertTime).Titled("Próxima Alerta");
                        c.Add(x => x.NextReviewTime).Titled("Próxima Revisión (Meses)");
                        c.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(2)
                                .RenderValueAs(m => @<span>
                                    <a class="edit-color" id="@m.PreventiveMaintenanceId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                </span>).Css("grid-col-btn");
              }))
            break;
        case 302:
            @(Html.Grid(Model)
                    .Selectable(true)
                    .Columns(c =>
                    {
                        c.Add(x => x.PlateId).Titled("Placa");
                        c.Add(x => x.Periodicity).Titled("Perioricidad");
                        c.Add(x => x.AlertTime).Titled("Fecha de Alerta");
                        c.Add(x => x.Time).Titled("Fecha de Revisión");
                        c.Add(x => x.NextReviewTime).Titled("Próxima Revisión");
                        c.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(2)
                                .RenderValueAs(m => @<span>
                                    <a class="edit-color" id="@m.PreventiveMaintenanceId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                </span>).Css("grid-col-btn");
               }))
            break;
    }
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

