﻿@model ECO_Partner.Models.AmountByServiceStationsReportBase
@{
    ViewBag.Title = "Montos Estaciones de Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="14" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Html.BeginForm("DonwloadFile", "AmountByServiceStationsReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("DownloadReport", "AmountByServiceStationsReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Partner.AmountByServiceStationsReport.ShowLoader()",
        OnSuccess = "ECO_Partner.AmountByServiceStationsReport.HideLoader(data)"
    }, new { id = "ReloadForm" }))
    {     
        <div class="row">
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.EndDate, "", new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })                    
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                    <label class="control-label">
                        @Html.CheckBox("HasTerminals") &nbsp;Detalle de Terminales
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-success" ><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
            </div>
        </div>     
    }
    <div id="ControlsContainer"></div>
</div>

@section scripts {  
    <script src="~/Scripts/Administration/AmountByServiceStationsReport.js?v=@version-hf0"></script>  
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.AmountByServiceStationsReport.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}


