﻿
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">


                @if (User.IsInRole("INSURANCE_ADMIN") )
                {
                    <li class="@ViewBag.OperationReports">
                        <a href="#"><img src="~/Content/Images/menu_reports.png" class="right10" />Reportes de Operación</a>
                        <ul class="nav nav-second-level">
                                                     
                            <li>
                                <a class="@ViewBag.DrivingScoreFleetReport" href="@Url.Action("Index", "DrivingScoreFleetReport")">Calificación de Hábitos de Conducción por Empresa según Velocidad de Ley</a>
                            </li>
                            <li>
                                <a class="@ViewBag.DrivingScoreFleetEvolutionReport" href="@Url.Action("Index", "DrivingScoreFleetEvolutionReport")">Tendencia de Hábitos de Conducción por Empresa</a>
                            </li>
                             <li>
                                <a class="@ViewBag.LowDrivingScoreFleetEvolutionReport" href="@Url.Action("Index", "LowDrivingScoreFleetEvolutionReport")">Calificación de Hábitos de Conducción de Empresas con Alto Riesgo</a>
                            </li>
                            <li>
                                <a class="@ViewBag.WeightedIndexDrivingScoreFleetReport" href="@Url.Action("Index", "WeightedIndexDrivingScoreFleetReport")">Índice Ponderado  de Hábitos de Conducción por Empresa</a>
                            </li>
                            <li>
                                <a class="@ViewBag.DrivingScoreFleetRoutesScoreReport" href="@Url.Action("Index", "DrivingScoreFleetRoutesScoreReport")">Hábitos de Conducción por Conductor según Velocidad de Ley</a>
                            </li>
                             <li>
                                <a class="@ViewBag.DrivingScoreFleetAdminScoreReport" href="@Url.Action("Index", "DrivingScoreFleetAdminScoreReport")">Hábitos de Conducción por Conductor Velocidad Delimitada por Empresa</a>
                            </li>
                       
                            
                        </ul>
                    </li>
                }
                
            </ul>

        </div>
    </div>
</nav>
