﻿ <div class="hide" id="treeViewContainer">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-sm-3 col-md-offset-1">
                    <div class="form-group">
                        <input type="input" class="form-control" id="input-check-node" placeholder="Buscar..." value="">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">

                        </div>
                    </div>

                </div>

                <div class="col-sm-8">
                    <ul id="CheckAll" class="list-group" style="margin-bottom: -1px;">
                        <li class="list-group-item node-treeview-checkable" style="color:#428bca" data-nodeid="-1">
                            <span class="indent"></span>
                            <span class="indent"></span>
                            <span class="icon glyphicon"></span>
                            <span id="chkAll" class="icon check-icon mdi mdi-checkbox-blank mdi-18px" style="cursor:pointer"></span>
                            Seleccionar todo
                        </li>
                    </ul>
                    <div id="treeview-checkable" class="">

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <div>
                                <button type="button" class="btn btn-primary" onclick=" ECOsystem.Areas.Admin.DinamicFilter.ConfirmationModalShow()"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

