﻿@using  ECOsystem.Areas.Control.Models.Control
@model PreventiveMaintenanceReportBase
@{
    ViewBag.Title = "Reporte de Mantenimiento Vehículos";
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    ViewBag.PreventiveMaintenanceReportsIndex = "active";
    string filterType = Session["FilterType"] == null ? null : Session["FilterType"].ToString();
    var isPrintView = ViewBag.PrintView ?? false;
    if (isPrintView)
    { Layout = "~/Views/Shared/_PrintLayout.cshtml"; }
    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
    ViewBag.HasGrid = true;
    var hide1 = (Model.Parameters.Status != null && Model.Parameters.Status == (int)ReportPreventiveMaintenanceStatus.Realizado) ? "" : "hide";
    var hide2 = (Model.Parameters.Status != null && Model.Parameters.Status == (int)ReportPreventiveMaintenanceStatus.Vencidos) ? "" : "hide";

}

@section styles {
    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        /*.carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }*/

        .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
            padding: 5px 25px 5px 25px;
        }

            .carousel-indicators li {
                background: #4B4B4B;
            }

            .carousel-indicators .active {
                background: #428BCA;
            }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

            .carousel-control:hover {
                color: #d9534f;
            }
    </style>
}
@using (Ajax.BeginForm("ExcelReportDownload", "PreventiveMaintenanceReport", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Admin.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = " ECOsystem.Areas.Admin.HideLoader()"
}, new { id = "ExcelReportDownloadForm" })) { }

@using (Html.BeginForm("DonwloadFile", "PreventiveMaintenanceReport", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }

<div id="page-content-wrapper">
    @using (Html.BeginForm("Index", "PreventiveMaintenanceReport", FormMethod.Post, new { id = "ReloadForm" }))
    {

        <div class="row search-transactions">
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Parameters.FilterType, @ECOsystem.Areas.Control.Business.GeneralCollections.GetFilterMaintenanceType, new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-lg-3">
                @Html.DropDownListFor(m => m.Parameters.MaintenanceCatalogId, @ECOsystem.Areas.Control.Business.GeneralCollections.GetPreventiveMaintenanceCatalog, "Mantenimientos", new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                @Html.DropDownListFor(m => m.Parameters.CostCenter, @ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Centro de Costo", new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Parameters.Key, new Dictionary<string, object> { { "placeholder", "Buscar Vehículo..." }, { "class", "form-control" } })
                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row search-transactions">
            <div class="col-lg-4">
                @Html.DropDownListFor(m => m.Parameters.Status, @ECOsystem.Areas.Control.Business.GeneralCollections.GetReportPreventiveMaintenanceStatus, "Estado", new { @class = "form-control" })
            </div>
            <div data-repor-by="3" class="@hide1">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div data-repor-by="1" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerDate'>
                        @Html.TextBoxFor(m => m.Parameters.DateStr, new Dictionary<string, Object> { { "placeholder", "A la fecha" }, { "class", "form-control" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Parameters.Odometer, new Dictionary<string, Object> { { "placeholder", "Dentro de (Km)" }, { "class", "form-control" }, { "data-filter", "true" } })
                </div>
            </div>
        </div>
    }

    @if (Model.List != null && Model.List.Any())
    {
        <button class="btn btn-success" type="button" id="dropdownMenu1" onclick=" ECOsystem.Areas.Admin..OnClickDownloadVehicles()" title="Exportar">
            <i class="mdi mdi-share"></i>&nbsp;&nbsp;Exportar Excel
        </button>
        <div id="ControlsContainer">
            <div class="card card-inline-block .card-block">
                <div class="card-content">                   
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Partial("_partials/_Grid", Model.List)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Control/preventiveMaintenanceReportjs"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            var filters = "";
            var index = document.URL.indexOf('?');
            if (index > 0) {
                filters = document.URL.substring(index, document.URL.length);
            }
            ECO_Control.preventiveMaintenanceReport.Init({
                printURL: '@Url.Action("PrintReport", "PreventiveMaintenanceReport")' + filters,
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });
    </script>
}
