﻿@model ECO_Operation.Models.VehicleCategories

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 962px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.VehicleCategoryId)
            @Html.HiddenFor(m => m.RowVersion)
            @{
                Model.WeightStr = (Model != null && Model.WeightStr != null) ? Model.WeightStr.Replace(",", ".") : Model.WeightStr;
                Model.DefaultPerformanceStr = (Model != null && Model.DefaultPerformanceStr != null) ? Model.DefaultPerformanceStr.Replace(",", ".") : Model.DefaultPerformanceStr;
            }

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Clases de Vehículos<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Icon, new { @class = "col-sm-14 control-label" })

                            @{
                                var selectListIcons = ECO_Operation.Business.GeneralCollections.GetIconVehicleCategory;
                                Model.Icon = (Model.Icon == null) ? selectListIcons.FirstOrDefault().Value : Model.Icon;
                            }

                            @Html.DropDownListFor(m => m.Icon, @selectListIcons, "Seleccione un Icono", new { @class = "form-control", custom = "true" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Manufacturer, new { @class = "col-sm-5 control-label" })

                            @Html.TextBoxFor(m => m.Manufacturer, new { placeholder = "Fabricante", @class = "form-control" })

                            @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.VehicleModel, new { @class = "col-sm-5 control-label" })

                            @Html.TextBoxFor(m => m.VehicleModel, new { placeholder = "Modelo", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.VehicleModel, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Year, new { @class = "col-sm-5 control-label" })

                            @Html.TextBoxFor(m => m.Year, new { placeholder = "Año", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DefaultFuelId, new { @class = "col-sm-14 control-label" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-12 control-label">Combustibles Adicionales</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.DefaultFuelId, ECO_Operation.Business.GeneralCollections.GetFuelsByCountry, "Combustible", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DefaultFuelId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model != null && Model.FuelsList != null && Model.FuelsList.Any())
                    {
                        for (var i = 0; i < Model.FuelsList.Count; i++)
                        {
                            var item = Model.FuelsList[i];

                            @Html.Hidden(string.Format("FuelsList[{0}].FuelByVehicleCategoryId", @i), item.FuelByVehicleCategoryId)
                            @Html.Hidden(string.Format("FuelsList[{0}].VehicleCategoryId", @i), item.VehicleCategoryId)
                            @Html.Hidden(string.Format("FuelsList[{0}].FuelId", @i), item.FuelId)
                            @Html.Hidden(string.Format("FuelsList[{0}].IsFuelChecked", @i), item.IsFuelChecked)

                            if (item.IsFuelChecked)
                            {
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-checkbox-index="@i" checked>
                                                @item.FuelName
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-checkbox-index="@i">
                                                @item.FuelName
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }


                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Type, new { @class = "col-sm-5 control-label" })
                            @Html.TextBoxFor(m => m.Type, new { placeholder = "Tipo", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.WeightStr, new { @class = "col-sm-12 control-label" })
                            @Html.TextBoxFor(m => m.WeightStr, new { placeholder = "Peso", @class = "form-control", currency = "true" })
                            @Html.ValidationMessageFor(m => m.WeightStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LoadType, new { @class = "col-sm-14 control-label" })
                            @Html.DropDownListFor(m => m.LoadType, ECO_Operation.Business.GeneralCollections.GetVehicleLoadTypes, "Tipos de Carga", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LoadType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Liters, new { @class = "col-sm-5 control-label" })
                            @Html.TextBoxFor(m => m.Liters, new { placeholder = "Litros", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Liters, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MaximumSpeed, new { @class = "col-sm-12 control-label" })
                            @Html.TextBoxFor(m => m.MaximumSpeed, new { placeholder = "Velocidad Máxima", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MaximumSpeed, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MaximumRPM, new { @class = "col-sm-12 control-label" })

                            @Html.TextBoxFor(m => m.MaximumRPM, new { placeholder = "RPM Máximo", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MaximumRPM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CylinderCapacity, new { @class = "col-sm-5 control-label" })
                            @Html.TextBoxFor(m => m.CylinderCapacity, new { placeholder = "Cilindraje del vehiculo", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CylinderCapacity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DefaultPerformanceStr, new { @class = "col-sm-5 control-label" })

                            @Html.TextBoxFor(m => m.DefaultPerformanceStr, new { placeholder = "Rendimiento Kms por Litros", @class = "form-control", currency = "true" })
                            @Html.ValidationMessageFor(m => m.DefaultPerformanceStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SpeedDelimited, new { @class = "col-sm-12 control-label" })
                            @Html.TextBoxFor(m => m.SpeedDelimited, new { placeholder = "Velocidad Kilómetros por Hora", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.SpeedDelimited, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                    <div class="modal-footer">
                        <div class="col-sm-2">
                            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                        </div>
                        <div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>







<!-- Modal End -->

<script>
    $(function () {
        ECO_Operation.VehicleCategories.InitCurrency();
    });
</script>
