﻿@model IEnumerable<ECO_Operation.Models.VehicleCategories>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
              //.AutoGenerateColumns()
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add(m => m.Manufacturer).Titled("Fabricante").SetWidth(150);
                  c.Add(m => m.Type).Titled("Tipo").SetWidth(50);
                  c.Add(m => m.LitersStr).Titled("Litros").SetWidth(50);
                  c.Add(m => m.VehicleModel).Titled("Modelo").SetWidth(100);
                  c.Add(m => m.Year).Titled("Año").SetWidth(100);
                  c.Add(m => m.FuelName).Titled("Combustible").SetWidth(100);
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(50)
                      .RenderValueAs(m => @<span>
                        <a href="#" class="edit-color" id="@m.VehicleCategoryId" title="Editar" edit_row data-vehicle-categorie="true"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.VehicleCategoryId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                    </span>).Css("grid-col-btn");
              }))
        </div>
    </div>
}
else
{
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        No se encontraron resultados
    </div>
}
