﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehiclesByGroupBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Vehículos por Grupo";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlVehiclesByGroupIndex = "active";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .bs-callout-blue {
            border-left-color: #006CB0;
        }

        .bs-callout {
            border: 1px solid #006CB0;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-color-blue {
            color: #006CB0;
        }

        .scrol-list {
            overflow-y: auto;
            height: 406px;
        }

        .box {
            cursor: pointer;
        }

        div.sortable-placeholder {
            border: 2px dashed #006CB0;
            background: #FCF8E3;
            height: 80px;
        }
        
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
   
    @using (Ajax.BeginForm("LoadVehiclesByGroup", "VehiclesByGroup", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DragAndDropContainer",
        OnSuccess = " ECOsystem.Areas.Admin.VehiclesByGroup.OnSuccessLoad()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id", "")
    }
        
    <div class="row">
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.VehicleGroupId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleGroups, "Seleccione un Grupo", new { @class = "form-control fbold" })
        </div>       
    </div>
    <br />

    @using (Ajax.BeginForm("AddOrEditVehiclesByGroup", "VehiclesByGroup", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DragAndDropContainer",
        OnSuccess = " ECOsystem.Areas.Admin.VehiclesByGroup.OnSuccessLoad(); ECOsystem.Utilities.setConfirmation();"
    }, new { id = "saveForm" }))
    {
        @Html.Hidden("VehicleGroupId", @Model.VehicleGroupId)
            
        <div class="row top30" style="height: 400px;">
            <div class="col-sm-12" id="DragAndDropContainer">
                @Html.Partial("_partials/_List", Model.Data)
            </div>
        </div>
    }

</div>


@section scripts {

    <script src="~/Scripts/Administration/vehiclesByGroup.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.VehiclesByGroup.Init();
        });
    </script>
}
