﻿@model ECO_Insurance.Models.Insurance.FaqModelBase
@{
    ViewBag.Title = "Preguntas y Respuestas (Q&A)";
    ViewBag.FAQ = "active";
    ViewBag.Settings = "active";
    string resultMessage = ViewBag.Message;
    string typeMessage = ViewBag.TypeMessage;
}

@Html.Hidden("FAQHiddenMessage", resultMessage)
@Html.Hidden("TypeHiddenMessage", typeMessage)



<div id="wrapper">
    @{
        string pageWidthType = "page-full-wrapper";
    }

     @if (User.IsInRole("SUPER_ADMIN"))
     {
         pageWidthType = "page-wrapper";
          
        @*@Html.Partial("~/Views/Settings/_partials/_Menu.cshtml")*@
     }
     
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="2" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

    <div id="@pageWidthType">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Preguntas y Respuestas (FAQ)</h3>
            </div>
        </div>

        @if (User.IsInRole("SUPER_ADMIN"))
        {

            <div class="row">

                @using (Html.BeginForm("Index",
                        "Faq",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data", id = "frmUploadFAQ" }))
                {              

                    <div class="col-sm-6">
                        <input type="file" name="file" id="faqFileInput" />
                    </div>
                    
                    <div class="col-sm-6 text-right">
                        <div class="btn-group" role="group" aria-label="...">
                          <a id="btnSubmitUpload" class="btn btn-default" title="Subir Nuevo FAQ"><i class="glyphicon glyphicon-upload"></i>&nbsp;Subir FAQ</a>
                          <a class="btn btn-default" href="~/FilesFAQ/@string.Format("faq_{0}.csv", "Operaciones")" title="Descargar Actual FAQ" download="Actual_FAQ_Operaciones.csv"><i class="glyphicon glyphicon-download"></i>&nbsp;Descargar FAQ</a>
                          <a class="btn btn-info" href="~/Content/Templates/FAQ_Template.csv" title="Descargar Template"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Template</a>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var itemFAQ in Model.Data)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading_@itemFAQ.Index">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#@itemFAQ.Index" aria-expanded="false" aria-controls="@itemFAQ.Index">
                                        @string.Format("{0}. {1}", itemFAQ.Index, itemFAQ.Question)
                                    </a>
                                </h4>
                            </div>
                            <div id="@itemFAQ.Index" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@itemFAQ.Index">
                                <div class="panel-body">
                                    @itemFAQ.Answer
                                </div>
                            </div>
                        </div>    
                    }
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts {
    <script src="~/Scripts/Insurance/faq.min.js"></script>
    <script>
        $(function () {
            ECO_Insurance.Faq.Init();
            $("#LoadMenuForm").submit();
        });

    </script>
}
