﻿* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
body{
    padding-top:10px;
    background-color:#444;
}
body div.page-wrap{
    background-color:white;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.site-footer{
    background-color:#444; 
    color:#ccc;
}
.site-footer, .page-wrap:after {
    height: 90px;
}

.footerIcon{
    margin:2px;
}
/*
    Begin - Set Sticky Footer

.page-wrap {
    min-height: 100%;
    margin-bottom: -90px;
}
.page-wrap:after {
    content: "";
    display: block;
}

    End - Set Sticky Footer
*/
.top30{
    padding-top:30px;
}
.top20{
    padding-top:20px;
}
.top10{
    margin-top:10px;
}
.right10{
    padding-right:10px;
}
.bottom20{
    padding-bottom:20px;
}
.cleanul{
    list-style: none;
    padding: 0;
}
.center{
    text-align: center;
}
.lightgray{
    background-color:#ccc;
}
/*PC Normal*/
.header{
    background-color:white;
}

/* iPhone portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    #logo{
        width:300px;
    }
}
.pointer{
   cursor:pointer; 
}
.moveleft{
    text-align: left
}
.panel{
    margin-top:10px;
}

.delete-color {
    color: #C9302C;
}

.delete-color:active, .delete-color:hover, .delete-color:visited, .delete-color:focus {
    color: #C9302C;
}
.edit-color {
    color: #EC971F;
}

.edit-color:active, .edit-color:hover, .edit-color:visited, .edit-color:focus {
    color: #EC971F;
}

.title-News
{
    text-decoration:none;
    color: #000;
    font-size:small;
}
.text-area
{
    height: 250px !important;
    resize: none;
}
.iframe-Maps
{
    width:800px;
    height:600px;
}
.modal-GeoFence
{
    width: 1225px;
}