﻿<style>       
    .modal-backdrop {
        opacity: 1 !important;
    }
</style>


<div class="modal fade" id="UnauthorizeModal" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-warning center" style="border-color: #4F9FD5; background-color: #FFFFEC">
            <div class="panel-heading" style="background-color: #4F9FD5; color: #FFFFEC; font-weight: bold"></div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-danger" style="border:none; background-color: #FFFFEC">
                        <div class="panel-heading" style="background-color: #FFFFEC;">
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body" style="border: none;">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11">
                                        <h2>Usuario no autorizado, para mas información contacte a su administrador.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/JavaScript">
    $(function () {
        $('#UnauthorizeModal').modal('show');
    });

    setTimeout(function () { location.reload(); }, 500);
</script>
