﻿@model ECOsystem.Models.Account.AccountMenusBase
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.Information;

    string value = ViewBag.Header;
    
    switch (value)
    {
        case "1":
            ViewBag.Localizacion = "active";
            break;
        case "2":
            ViewBag.Settings = "active";
            break;
        case "3":
            ViewBag.Control = "active";
            break;
        case "4":
            ViewBag.Operation = "active";
            break;
        case "5":
            ViewBag.Operation = "active";
            break;
        case "6":
            ViewBag.Operation = "active";
            break;
        case "8" :
            ViewBag.Administration = "active";
            break;
        case "9":
            ViewBag.Administration = "active";
            break;
        case "14":
            ViewBag.PartnerReports = "active";
            break;
        case "17":
            ViewBag.Administration = "active";
            break;
        case "18":
            ViewBag.Localizacion = "active";
            break;
        case "19":
            ViewBag.Administration = "active";
            break;
    }
}

<div id="wrapper">

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="@ViewBag.Header" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

    <div id="page-wrapper">
        <div class="row center">
            <h2>@ViewBag.Information</h2>
            <hr />
        </div>
    </div>
</div>

@section scripts {

    <script>
        $(function () {
            $("#LoadMenuForm").submit();            
        });
    </script>
}

