﻿@model ECOsystem.Models.Account.AlarmsBase

@{ 
    int cCount = 1;
    string colorB = string.Empty;
 }

@switch(System.Configuration.ConfigurationManager.AppSettings["TEMPLATE_TYPE"])
{
    case "1" :
        colorB = "background-color: #E4002B; width:50px;";
        break;
    case "2":
        colorB = "background-color: #6D6E71; width:50px;";
        break;
    case "3":
        colorB = "background-color: #777; width:50px;";
        break;
}

<style>
    .limit {
        -ms-word-break: break-word;
        word-break: break-word;
        white-space: normal;
        font-size: small;
        font-style: italic;
    }    
</style>

@if (Model.Data.Count > 0)
{
    <a href="#" class="dropdown-toggle dropdown-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width:80px;">
        <span class="mdi mdi-bell menu-icon" aria-hidden="true"></span> <span class="badge pull-right" style="@colorB">@Model.Data.Count</span>
    </a>
    <ul class="dropdown-menu" style="width:325px;">
        <li class="pointer triangleAlert"></li>
        <li class="dropdown-header" style="background-color:lightyellow">Alertas</li>
        @foreach (var item in Model.List)
        {
            if (item.Count > 0)
            {
                <li style="margin-bottom: 6px;">
                    <a href="@item.URL">
                        <h4 class="list-group-item-heading">@item.AlarmTitle <span class="badge pull-right" style="@colorB">@item.Count </span></h4>
                        <p class="list-group-item-text limit">@item.Description</p>
                    </a>

                    @if (cCount != Model.List.Count())
                    {
                        <hr style="margin-bottom:10px; margin-top: 10px;" />
                    }

                </li>
                    cCount++;
            }
        }
    </ul>
}
else
{
    <a href="#" class="dropdown-toggle dropdown-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="mdi mdi-bell-off menu-icon" aria-hidden="true"></span>
    </a>
}