﻿/* Big Size */
@media screen and (min-width: 991px) {
    #userinfo{
        margin-top: 10px;
    }
}

/* Small Size */
@media screen and (max-width: 991px) {
	#userinfo{
        margin-top: 0px;
    }
}

/* iPad landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    #userinfo{
        margin-top: 10px;
    }
}

/* iPad portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #userinfo{
        margin-top: 0px;
    }
}

#menu{
    margin-top:20px;
}
