﻿@model ECO_Efficiency.Models.GeoFences

@{
    var Customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    Model.CountryCode = Model.CountryCode == null ? Customer.CountryCode : Model.CountryCode;
    Model.CustomerId = Model.CustomerId == null ? Customer.CustomerId : Model.CustomerId;
}
<iframe id="mapFrame" src="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)GeoFences.aspx?CountryCode=@Model.CountryCode&GeoFence=@Model.Polygon&CustomerId=@Model.CustomerId" frameborder="0" class="iframe-Maps" style="width: 100%; height: calc(100vh - 130px); border: 0; margin-top:5px"></iframe>
<div id="menu-right" class="menu-show" style="height:calc(100vh - 127px); overflow-x: hidden;overflow-y: auto">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8">
                    <h4>Información de Geocercas</h4>
                </div>
                <div class="col-xs-4 text-right">
                    <button id="btnAdd" type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Agregar Nueva Geocerca" style="height: 30px" onclick="clean();">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-pane">
            @Html.HiddenFor(m => m.GeoFenceId)
            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.Polygon)
            @Html.ValidationMessageFor(m => m.Polygon, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-14 control-label" })
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Descripción", @class = "form-control text-area" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @if(ECOsystem.Utilities.Session.GetCustomerInfo().AvailableModules.Contains('G')){
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.GeoFenceTypeId, new { @class = "col-sm-14 control-label" })
                        @Html.DropDownListFor(m => m.GeoFenceTypeId, @ECO_Efficiency.Business.Utilities.GeneralCollections.GetGeoFenceTypes, "Seleccione el Tipo de Geocerca", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.GeoFenceTypeId)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.DriverId, new { @class = "col-sm-14 control-label" })
                        @Html.DropDownListFor(m => m.DriverId, @ECO_Efficiency.Business.Utilities.GeneralCollections.GetDrivers, "Seleccione el Agente asociado", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DriverId)
                    </div>
                </div>
            </div>
            }

            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:30px">
                        <div class="checkbox">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.Active)Activo
                            </label>
                            @Html.ValidationMessageFor(m => m.Active)
                        </div>
                        <div class="checkbox">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.In)Geocerca de Entrada
                            </label>
                            @Html.ValidationMessageFor(m => m.In)
                        </div>
                        <div class="checkbox">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.Out)Geocerca de Salida
                            </label>
                            @Html.ValidationMessageFor(m => m.Out)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style=" font-size:14px; padding-top:4px; padding-bottom:4px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <p style="font-size:small;"><i class="mdi mdi-information" style="font-size:18px;"></i><b>&nbsp;&nbsp;Las geocercas deben de ser Polígonos y "NO" deben de cruzar líneas entre sí.</b></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img id="processingLeftPanel" src="~/Content/Images/processing.gif" class="hide" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 text-right">
                    @if (Model.GeoFenceId != null)
                    {
                        <button id="btnAddAlarm" type="button" class="btn btn-success"><i class="mdi mdi-bell"></i></button>
                    }
                    <button id="btnguardar" type="button" class="btn btn-primary" ><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
                <br />
                <br />
                <br />
                <div id="validationErrors" class="col-md-12 hide">
                    <div class="alert alert-warning alert-dismissible fade in" role="alert" style=" font-size:14px; padding-top:4px; padding-bottom:4px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div id="errorMsj" style=" font-size:small;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

            </div>
        </div>

