﻿@model IEnumerable<ECO_Efficiency.Models.GeoFences>

@if (Model != null && Model.Any())
{
    foreach (var item in Model.Select(x => new { x.GeoFenceId, x.Name }).Distinct())
    {
        <div class="panel-group card VehiclePanelRight" gvname="@item.Name"  id="geo-@item.GeoFenceId" >
            <div class="checkboxGV row" >
                <div class="col-sm-8" style="margin-top: 2%;">
                    <strong>@item.Name</strong>
                </div>
                <div class="col-sm-4">                
                        <a href="#" class="pull-right" data-toggle="modal" data-target="#deleteModal" id="@item.GeoFenceId" del_row><i class="mdi mdi-close-box mdi-28px" style="color: red;"></i></a>                 
                        <a href="#" class="pull-right" id="@item.GeoFenceId" edit_row onclick="LoadMapRoute(@item.GeoFenceId)"><i class="mdi mdi-pencil-box mdi-28px" style="color: #f0ad4e;"></i></a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding-top:4px; padding-bottom:4px;">
        <p style="font-size:small;"><i class="mdi mdi-information" style="font-size:18px;"></i><b>&nbsp;&nbsp;No se encontraron resultados</b></p>
    </div>
}
