﻿@model IEnumerable<ECO_Efficiency.Models.GeoFences>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="col-sm-12">
            <p>@item.Name</p>
            <p>@item.Description</p>
            <span>
                <a href="#" class="edit-color" id="@item.GeoFenceId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@item.GeoFenceId" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>
            </span>
        </div>
    }
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}