﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceReport>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.VehicleId).Titled("VehicleId").Css("hidden");
            c.Add(m => m.PreventiveMaintenanceCatalogId).Titled("CatalogId").Css("hidden");
            c.Add(m => m.MaintenanceName).Titled("Mantenimiento").SetWidth(90);
            c.Add(m => m.FilterName).Titled("Tipo de Mantenimiento").SetWidth(30);
            c.Add(m => m.PlateId).Titled("Matrícula").SetWidth(40);
            c.Add(m => m.VehicleName).Titled("Vehículo").SetWidth(90);
            c.Add(m => m.ActualOdometerStr).Titled("Kilometraje").SetWidth(50);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.NextReviewOdometerStr</span>)
                   .Titled("Próxima Revisión (Km)")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(40);
            c.Add(m => m.NextReviewDateStr).Titled("Próxima Revisión (Fecha)").SetWidth(50);
            c.Add(m => m.Frequency).Titled("Frecuencia").SetWidth(50);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.CostStr</span>)
                   .Titled("Presupuesto")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(40);
            //c.Add(m => m.CostStr).Titled("Presupuesto").SetWidth(40);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.RecordStr</span>)
                   .Titled("Costo Real")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(40);
            c.Add().RenderValueAs(m => @<span class="mdi mdi-file-document" title="Detalle" style="cursor:pointer;font-size:30px !important" onclick="loadDetail(this)"></span>)
                   .Titled("Detalle")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(40)
                   .Css("text-center");
            //c.Add(m => m.RecordStr).Titled("Costo Real").SetWidth(40);
        })
                                        .Selectable(true)
                                        .SetLanguage("es")
)
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

    <script>
        function loadDetail(element) {
            debugger
            let vehicleId = element.parentElement.parentElement.children[0].innerHTML
            let catalogId = element.parentElement.parentElement.children[1].innerHTML

            let row = document.getElementById(`vehicle${vehicleId}${catalogId}`)

            if (row) {
                row.remove()
            }
            else {
                $.post("@Url.Action("getMaintenanceDetail", "PreventiveMaintenanceReport")",
                    {
                        vehicleId: vehicleId,
                        catalogId: catalogId
                    }, function (data) {
                        debugger
                        let parent = element.parentElement.parentElement

                        if (data == "") {
                            parent.outerHTML += `<tr id='vehicle${vehicleId}${catalogId}'>
                                                    <td colspan=11>No hay datos que mostrar</td>
                                                 </tr>`
                        } else {
                            let html = ''
                            html += `<tr id='vehicle${vehicleId}${catalogId}'>
                                        <td colspan=11>
                                            <div>
                                                <table class='table table-bordered'>
                                                    <tr>
                                                        <th>Descripción</th>
                                                        <th>Número de Factura</th>
                                                        <th>Días de Vehículo en Mantenimiento</th>
                                                        <th>Comentarios</th>
                                                        <th>Registro</th>
                                                        <th>Registro en Dólares</th>
                                                    </tr>`

                            for (var i = 0; i < data.length; i++) {
                                html += `<tr>
                                            <td>${data[i].Description}</td>
                                            <td>${data[i].InvoiceNumber}</td>
                                            <td>${data[i].MaintenanceTime}</td>
                                            <td>${data[i].Comments}</td>
                                            <td>${data[i].Record}</td>
                                            <td>$${data[i].CostDollar}</td>
                                         </tr>`
                            }

                            html += `</table></div></td></tr>`
                            parent.outerHTML += html
                        }
                    }
                )
            }
        }
    </script>
