﻿@using ECO_Operation.Models
@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model.Select(item => item as ScoreGlobalReport))
        .Columns(c =>
        {                 
            c.Add(m => m.DecryptedIdentification).Titled("Identificación").SetWidth(110).Css("grid-col-center");
            c.Add(m => m.DecryptedName).Titled("Nombre").SetWidth(110).Css("grid-col-center");
            c.Add(m => m.TotalDistanceStr).Titled("Distancia Recorrida (ΣDt)").SetWidth(110).Css("grid-col-center");
            //c.Add(m => m.PercentageOverSpeedDistance).Titled("Índice Excesos de Velocidad (Irc)").SetWidth(110).Css("grid-col-center");
            c.Add(m => m.WeightedIndexByAdmin).Titled("Índice Ponderado de Velocidad (Ipc)").SetWidth(110).Css("grid-col-center");
            c.Add(m => m.ScoreSpeedAdminstr).Titled("Calificación (DS)").SetWidth(110).Css("grid-col-center");
        }).Selectable(true)
    )    
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
