﻿@model  ECOsystem.Areas.Coinca.Models.StickersModelBase

@{
    ViewBag.Title = "Inserción de Stickers";
    ViewBag.Administration = "active";
    //ViewBag.AdministrationCreditCard = "active";
    //ViewBag.AdministrationCreditCardIndex = "active";
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    //ViewBag.HasGrid = true;

    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="9" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <!-- Search Area Start-->
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <input id="txtSticker" name="key" type="text" class="form-control" placeholder="Número de Sticker" readonly>
                <span class="input-group-btn">
                    <button id="btnReadSticker" type="submit" class="btn btn-primary" onclick="onclickReadSticker();" title="Leer">Leer</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationEditModalCard" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Cambio de estado para tarjetas seleccionadas</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea cambiar el estado para las tarjetas en la lista?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnChangeStatus"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/serviceproxy.js"></script>
    <script src="~/Scripts/serviceprovider.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/Administration/stickers.js?v=@version-hf1"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.Stickers.Init();
        });

        var onclickReadSticker = function () {
            debugger;
            //var text = $.trim("terminalId:" + $("[id*=txtTerminal]").val() + ";" + "transactionType:MIFARE_UUID;");
            var text = $.trim("terminalId:DEVMMG01;" + "transactionType:MIFARE_UUID;");
            var service = new ServiceProvider();
            service.SdkInvoke(text);
        };
    </script>
}
