﻿@using System.Configuration

@model ECO_Efficiency.Models.GeoFencesBase
@{
    ViewBag.Title = "Mantenimiento de GeoCercas";
    ViewBag.Localizacion = "active";
    ViewBag.Efficiency = "active";
    ViewBag.Geofence = "active";
    ViewBag.MapsGeoFencesIndex = "active";
    ViewBag.HasGrid = true;
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
    var url = string.Format("{0}geofence?id={1}", ConfigurationManager.AppSettings["UrlMap"], ECOsystem.Utilities.Session.GetUserInfo().MapsToken);
    var NoToken = ViewBag.NoToken != null ? (bool)ViewBag.NoToken : false;
}

@section styles {
    <style>
        #mapFrame {
            border: 0;
            width: 100%;
            height: calc(100vh);
            margin-top: 5px;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "LINEVITA_ADMIN")
    {
        <input class="hidden" name="Header" value="18" />
    }
    else
    {
        <input class="hidden" name="Header" value="1" />
    }

    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@if (NoToken)
{
    <div id="page-content-wrapper">
        <div id="container-fluid">
            <div class="col-sm-12 center"><h1>Favor refrescar el Navegador o Iniciar Sesión Nuevamente</h1> </div>
        </div>
    </div>
}
else
{
    <iframe id="mapFrame" src="@url"></iframe>
}

@section scripts {
    @Scripts.Render("~/bundles/geofences")
    <script>
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
        });
    </script>
}
