﻿@model  ECOsystem.Areas.Admin.Models.Administration.ScoreParameters
@{
    ViewBag.Title = "Parámetros de Calificación";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .margins {
            margin-top: 8px;
            margin-left: -10px;
        }

        .tableHeader {
            position: relative;
            height: 30px;
            background-color: #003594;
            color: #fff;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                @Html.Partial("_partials/_Detail", Model)
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalError" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Parámetros de Calificación<span class="element-name"></span></h4>
            </div>
            <div class="modal-body text-center">
                <b>Ocurrión un problema al intentar almacenar los datos</b>
                <hr />
                <b>Error Técnico:</b>
                <b id="msjerror"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>                
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Administration/ScoreParameters.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.ScoreParameters.Init();
        });
    </script>
}