﻿@model  IEnumerable< ECOsystem.Areas.Admin.Models.Administration.ApprovalTransactionsParameters>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .Columns(c =>
          {
            c.Add(m => m.Value).Titled("Nombre de Columna").Sortable(true);
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                                        <a href="#" class="edit-color" id="@m.Id" title="Editar" btnEditColumn><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                        <a href="#" class="delete-color" id="@m.Id" data-toggle="modal" title="Eliminar" btnRemoveColumn><i class="mdi mdi-32px mdi-close-box"></i></a>
                                    </span>)
                .Css("grid-col-btn");
          })
    )
    <br />
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
