﻿@using System.Globalization
@model  ECOsystem.Areas.Admin.Models.Administration.Vehicles

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vehículos";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlVehiclesIndex = "active";
    ViewBag.HasGrid = true;

    string txtdisabled = string.Empty;
    var user = ECOsystem.Utilities.Session.GetUserInfo();

    string active = ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId == 101 ? string.Empty : "active in";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style type="text/css">
        .format {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .middleCells {
            vertical-align: middle !important;
        }

        .marginErrorValues {
            margin-left: 17px;
            text-align: center;
            width: 66px;
        }

        .marginErrorLabel {
            font-size: 11px;
        }

        .glyphicon-pencil-tr:before {
            content: "\270f";
        }

        .glyphicon-pencil-tr {
            padding-top: 6px;
            padding-right: 5px;
            border: 2px solid #f0ad4e;
            border-radius: 3px;
            width: 30px;
            height: 30px;
            color: white;
            background-color: #f0ad4e;
            margin-top: -6px;
        }

        .hideText {
            visibility: hidden;
        }

        .toggle.btn {
            width: 100px !important;
            height: 34px;
        }

        input.disabled {
            pointer-events: none;
            color: #AAA;
            background: #F5F5F5;
        }

        #alarmMaintenanceModal .modal-dialog {
            width: 900px !important;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<!-- Load Alarm Form Start-->
@using (Ajax.BeginForm("LoadAlarmMaintenance", "AlarmMaintenance", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "alarmMaintenanceContainer",
    OnSuccess = " ECOsystem.Areas.Admin.Vehicles.AlarmMaintenanceModalShow()"
}, new { id = "alarmForm" }))
{
    @Html.Hidden("id");
    @Html.Hidden("codView", Model.CodView);
}

@using (Ajax.BeginForm("TransactionsReportRetrieve", "Vehicles", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Admin.TransactionsReport.ShowLoader();",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "GridContainer",
    OnComplete = " ECOsystem.Areas.Admin.TransactionsReport.HideLoader();"
}, new { id = "TransactionsReportRetrieveForm" }))
{
    @Html.Hidden("Month")
    @Html.Hidden("Year")
    @Html.Hidden("TransactionType")
    @Html.Hidden("StartDateStr")
    @Html.Hidden("EndDateStr")
    @Html.Hidden("Key", Model.PlateId)
}

@using (Ajax.BeginForm("LoadDrivers", "Vehicles", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "driversContainer"
}, new { id = "LoadDriversForm" }))
{
    @Html.Hidden("VehicleId", Model.VehicleId)
    @Html.Hidden("page")
}

@using (Ajax.BeginForm("VehicleBinnacleAdd", "Vehicles", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BinnacleContainer",
    OnSuccess = " ECOsystem.Areas.Admin.Vehicles.TxtCommentClear();"
}, new { id = "VehicleBinnacleAddForm" }))
{
    @Html.Hidden("VehicleId", Model.VehicleId)
    @Html.Hidden("Comment")
}

<div class="modal fade" id="confirmRulesModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar cambios</h4>
            </div>
            <div class="modal-body center">
                <p>¿Esta seguro que desea guardar los cambios?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="sendRules" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="restoreRulesModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Restaurar Cambios</h4>
            </div>
            <div class="modal-body center">
                <p>¿Esta seguro que desea restaurar las reglas de negocio?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="sendRestoreRules" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            @Html.Hidden("IsVehicle", true)
            @Html.Hidden("IsCostCenter", false)
            @using (Ajax.BeginForm("DeleteTransactionRules", "TransactionRules", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "divDetailRules",
                OnSuccess = "RestoreModalClose(),  ECOsystem.Areas.Admin.TransactionRules.Init();"
            }, new { id = "DeleteForm" }))
            {
                @Html.Hidden("DeleteVehicleId")
                @Html.Hidden("DeleteCostCenterId")
                @Html.Hidden("IsVehicle")
            }

            @using (Ajax.BeginForm("AddOrEditVehicles", "Vehicles", null, new AjaxOptions
            {
                HttpMethod = "post",
                OnBegin = "ECOsystem.Utilities.ShowLoader();",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "GoIndex(data)"
            }, new { id = "AddOrEditForm" }))
            {
                @Html.Hidden("rules")
                @Html.Hidden("RuleChange", false)

                @Html.HiddenFor(m => m.VehicleId)
                @Html.HiddenFor(m => m.RowVersion)

                <div class="row">
                    <div class="form-group form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del vehículo", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.CostCenterId, new { @class = "col-sm-14 control-label" })
                        @Html.DropDownListFor(m => m.CostCenterId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleCostCenters, "Seleccione un Centro de Costo", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CostCenterId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.PlateId, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.PlateId, new { placeholder = "Matrícula", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PlateId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.Chassis, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Chassis, new { placeholder = "Número de chasis del vehículo", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Chassis, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.Colour, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Colour, new { placeholder = "Digitar el color del vehículo", @class = "form-control" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" style="margin-top:2px" role="form">
                        @Html.LabelFor(m => m.FleetioId, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FleetioId, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.VehicleCategoryId, new { @class = "col-sm-14 control-label" })
                        @Html.DropDownListFor(m => m.VehicleCategoryId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleCategories, "Seleccione una clase", new { @class = "form-control", custom = "true" })
                        @Html.ValidationMessageFor(m => m.VehicleCategoryId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-4" role="form">

                        @{
                            Dictionary<int?, string> dataDrivers =  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetDrivesByVehicle(Model.VehicleId);
                            SelectList driversList = new SelectList(dataDrivers, "Key", "Value");
                        }

                        @Html.LabelFor(m => m.UserId, new { @class = "col-sm-14 control-label" })
                        @Html.DropDownListFor(m => m.UserId, driversList, "Seleccione un Conductor", new { @class = "form-control", custom = "true" })
                        @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.ExternalId, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.ExternalId, new { placeholder = "Digitar identificador unico externo", @class = "form-control", @type = "number" })
                    </div>
                </div>
                <div class="row">                    
                    <div class="form-group form-horizontal col-sm-4" style="padding-top:10px" role="form">
                        <br />
                        <div class="checkbox">
                            <label>
                                @{
                                    if (Model != null && Model.VehicleId == null)
                                    {
                                        Model.Active = true;
                                    }
                                }

                                @Html.CheckBoxFor(m => m.Active)<strong>Vehículo activo en la Flota</strong>
                            </label>
                            @Html.ValidationMessageFor(m => m.Active)
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    @if (Model.VehicleId > 0)
                    {
                        if (ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId == 101)
                        {
                            <li class="active"><a href="#DivBudget" data-toggle="tab">Presupuesto</a></li>
                            <li><a href="#DivControl" data-toggle="tab">Transacciones</a></li>
                            <li><a href="#DivDrivers" data-toggle="tab">Conductores</a></li>
                        }
                        else
                        {
                            <li class="active"><a href="#DivDrivers" data-toggle="tab">Conductores</a></li>
                        }
                        if (ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId == 101)
                        {
                            <li><a href="#DivPaymentInstruments" data-toggle="tab">Medio de Pago</a></li>
                        }
                        <li><a href="#DivMaintenance" data-toggle="tab">Mantenimiento</a></li>
                        <li><a href="#DivBusinessRules" data-toggle="tab" onclick="localStorage.setItem('validateVehicle', $('#VehicleId').val()); validateSelectedVehicle();">Reglas de Negocio</a></li>
                        // <li><a href="#Divbinnacle" data-toggle="tab">Bitácora</a></li>
                    }
                    <li><a href="#DivInsurance" data-toggle="tab">Póliza</a></li>
                    <li><a href="#Divdetail" data-toggle="tab">Configuración</a></li>
                    @if (Model.VehicleId > 0)
                    {

                        <li><a href="#Divbinnacle" data-toggle="tab">Bitácora</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div id="Divdetail" class="tab-pane fade">
                        <div class="modal-body">
                            @if (ECOsystem.Utilities.Session.GetUserInfo().PartnerId == null)
                            {
                                txtdisabled = "disabled";
                            }

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.AVL, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.AVL, new { placeholder = "AVL", @class = "form-control " + @txtdisabled })
                                    @Html.ValidationMessageFor(m => m.AVL, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Número del SIM (AVL)", @class = "form-control  " + @txtdisabled })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.Imei, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.Imei, new { placeholder = "Número de IMEI (AVL)", @class = "form-control " + @txtdisabled })
                                    @Html.ValidationMessageFor(m => m.Imei, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.IntrackReference, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.IntrackReference, new { placeholder = "Vehículo Flotas BAC Credomatic", @class = "form-control " + @txtdisabled })
                                    @Html.ValidationMessageFor(m => m.IntrackReference, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.LastDallas, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.LastDallas, new { placeholder = "Último Dallas", @class = "form-control " + @txtdisabled })
                                    @Html.ValidationMessageFor(m => m.LastDallas, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.FreightTemperature, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.FreightTemperature, new { placeholder = "Temperatura de Carga", @class = "form-control" })
                                </div>
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.FreightTemperatureThreshold1, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.FreightTemperatureThreshold1, new { placeholder = "Primer Umbral de Temperatura de Carga", @class = "form-control" })
                                </div>
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.FreightTemperatureThreshold2, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.FreightTemperatureThreshold2, new { placeholder = "Segundo Umbral de Temperatura de Carga", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.AdministrativeSpeedLimit, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.AdministrativeSpeedLimit, new { placeholder = "Velocidad Administrativa (km/h)", @class = "form-control" })
                                </div>
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.CabinPhone, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.CabinPhone, new { placeholder = "Teléfono de Cabina", @class = "form-control" })
                                </div>
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.OdometerVehicle, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.OdometerVehicle, new { placeholder = "Odómetro", @class = "form-control" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.VehiclePrice, new { @class = "col-sm-14 control-label" })
                                    <div class="input-group">
                                        <!--DEBE CARGARSE CON LA VARIABLE DE SESION-->
                                        <span class="input-group-addon">@ECOsystem.Utilities.Session.GetCustomerInfo().CurrencySymbol</span>
                                        <!--DEBE CARGARSE CON LA VARIABLE DE SESION-->
                                        @Html.TextBoxFor(m => m.VehiclePrice, new { placeholder = "Precio del Vehículo", @class = "form-control text-right", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.TempSensorCount, new { @class = "col-sm-14 control-label text-left" })
                                    @Html.TextBoxFor(m => m.TempSensorCount, new { placeholder = "Cantidad de Sensores de Temperatura", @class = "form-control", @type = "number" })
                                </div>

                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.MinTemperature, new { @class = "col-sm-14 control-label text-left" })
                                    @Html.TextBoxFor(m => m.MinTemperature, new { placeholder = "Temperatura Mínima", @class = "form-control", @type = "number", @step = "0.1" })
                                </div>

                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    @Html.LabelFor(m => m.MaxTemperature, new { @class = "col-sm-14 control-label text-left" })
                                    @Html.TextBoxFor(m => m.MaxTemperature, new { placeholder = "Temperatura Máxima", @class = "form-control", @type = "number", @step = "0.1" })
                                </div>
                                <div class="form-group form-horizontal col-sm-3" role="form">
                                    <br />
                                    <div class="col-xs-12 vehicle-Not-Padding-Left">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.HasCooler)&nbsp;Vehículo con Sensores de Temperatura
                                            </label>
                                            @Html.ValidationMessageFor(m => m.HasCooler)
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group form-horizontal col-sm-3" role="form">
            @Html.LabelFor(m => m.Depreciation, new { @class = "col-sm-14 control-label text-left" })
            @Html.TextBoxFor(m => m.Depreciation, new { placeholder = "Depreciación", @class = "form-control", @type = "number", @step = "0.1" })
        </div>*@
                            </div>
                        </div>
                    </div>
                    <div id="DivInsurance" class="tab-pane fade">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group  form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.Insurance, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.Insurance, new { placeholder = "Póliza del Vehículo", @class = "form-control", @maxlength = "20" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.DateExpirationInsuranceStr, new { @class = "col-sm-14 control-label" })
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.TextBoxFor(m => m.DateExpirationInsuranceStr, new { placeholder = "Fecha de Vencimiento", @class = "form-control", @autocomplete = "off" })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group  form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.CoverageType, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.CoverageType, new { placeholder = "Tipo de Cobertura", @class = "form-control", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.NameEnterpriseInsurance, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.NameEnterpriseInsurance, new { placeholder = "Nombre de Empresa Aseguradora", @class = "form-control", @maxlength = "50" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.PeriodicityId, new { @class = "col-sm-14 control-label" })
                                    @Html.DropDownListFor(m => m.PeriodicityId,  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetPeriodicity, "Seleccione un tipo de Período", new { @class = "form-control", custom = "true" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.Cost, new { @class = "col-sm-14 control-label" })
                                    <div class="input-group">
                                        <!--DEBE CARGARSE CON LA VARIABLE DE SESION-->
                                        <span class="input-group-addon">@ECOsystem.Utilities.Session.GetCustomerInfo().CurrencySymbol</span>
                                        <!--DEBE CARGARSE CON LA VARIABLE DE SESION-->
                                        @Html.TextBoxFor(m => m.Cost, new { placeholder = "Monto", @class = "form-control text-right", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId == 101)
                    {
                        <div id="DivBudget" class="tab-pane active">
                            <div class="modal-body">
                                <div class="row">
                                    <div id="table_div" class="col-md-6">
                                        <!-- TABLE -->
                                        <h4><strong>@CultureInfo.CreateSpecificCulture("es").DateTimeFormat.GetMonthName(DateTime.Now.Month).ToUpper()</strong> @DateTime.Now.Year</h4>
                                        <hr />
                                        <table class="table table-striped">
                                            <tr>
                                                <td>@Html.DisplayNameFor(m => m.MonthlyBudget)</td>
                                                <td class="text-right">@Html.DisplayFor(m => m.MonthlyBudget)</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(m => m.AdditionalBudget)</td>
                                                <td class="text-right">@Html.DisplayFor(m => m.AdditionalBudget)</td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(m => m.TotalBudget)</th>
                                                <th class="text-right">@Html.DisplayFor(m => m.TotalBudget)</th>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(m => m.MonthlyPurchases)</td>
                                                <td class="text-right">@Html.DisplayFor(m => m.MonthlyPurchases)</td>
                                            </tr>
                                            @{ var style = (Model.Available < 0) ? "danger" : ""; }
                                            <tr class="@style">
                                                <td>@Html.DisplayNameFor(m => m.Available)</td>
                                                <td class="text-right">@Html.DisplayFor(m => m.Available)</td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="col-md-6">
                                        <!-- CHART -->
                                        <div id="chart_div">

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.PullPreviousBudget)
                                                @Html.DisplayNameFor(m => m.PullPreviousBudget)
                                            </label>
                                            @Html.ValidationMessageFor(m => m.PullPreviousBudget)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="DivBusinessRules" class="tab-pane fade">
                        <div class="modal-body">
                            <div class="row">
                                <div class="row">
                                    @{
                                        if (Model.Rules.FirstOrDefault().VehicleId != null)
                                        {
                                            Model.Rules.FirstOrDefault().Name = Model.Name;
                                        }
                                        else if (Model.Rules.FirstOrDefault().CostCenterId != null)
                                        {
                                            Model.Rules.FirstOrDefault().Name = Model.CostCenterName;
                                        }
                                    }
                                    <div class="col-sm-12" id="DetailContainer">
                                        @{
                                            var CostCenterId = 0;
                                            var VehicleId = 0;
                                            Model.Rules.FirstOrDefault().IsVehicles = true;
                                            if (Model.Rules.FirstOrDefault().VehicleId == null)
                                            {
                                                VehicleId = Convert.ToInt32(Model.VehicleId);
                                            }
                                            else
                                            {
                                                VehicleId = Convert.ToInt32(Model.Rules.FirstOrDefault().VehicleId);
                                            }
                                        }
                                        <input id="VehicleId" class="hidden" value="@VehicleId" />
                                        <input id="CostCenterIdForRule" class="hidden" value="@CostCenterId" />
                                        <div id="divDetailRules">
                                            @Html.Partial("~/Views/TransactionRules/_partials/_DetailRules.cshtml", Model.Rules)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.VehicleId > 0)
                    {
                        if (ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId == 101)
                        {
                            <div id="DivControl" class="tab-pane fade">
                                <div class="modal-body">
                                    <div class="row">
                                        @Html.Partial("_partials/_TransactionsDetails", Model.Transactions)
                                    </div>
                                </div>
                            </div>

                            <div id="DivPaymentInstruments" class="tab-pane fade">
                                <div class="modal-body">
                                    <div class="row">
                                        @Html.Partial("_partials/_PaymentContactGrid", Model.CreditCards)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div id="DivMaintenance" class="tab-pane fade">
                        <div class="modal-body">
                            <div class="row">
                                @Html.Partial("_partials/_MaintenanceGrid", Model.MaintenanceList)
                            </div>
                        </div>
                    </div>
                    <div id="DivDrivers" class="tab-pane fade @active ">
                        <div class="modal-body">
                            <div class="row" id="driversContainer">
                                @Html.Partial("_partials/_DriversGrid", Model.Drivers)
                            </div>
                        </div>
                    </div>
                    <div id="Divbinnacle" class="tab-pane fade">
                        <div class="modal-body">
                            <div class="row">
                                @Html.Partial("_partials/_BinnacleDetails", Model.VehicleBinnacles)
                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr />
            <div class="row">
                <div class="col-lg-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div class="col-lg-10 text-right">
                    <button id="btnAddAlarm" type="button" class="btn btn-success"><i class="mdi mdi-bell"></i></button>
                    <button type="button" id="btAddOrEditVehiclesCancel" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="submitVehicles" type="button" class="btn btn-primary" onclick=""><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>

    </div>
    <div id="modalMessage"></div>

    <div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><span class="element-name" id="SpanTitle">Transacciones - Reglas de Negocio</span></h4>
                </div>
                <div class="modal-body">
                    <h4 class="fbold center">La regla de negocio no puede ser aplicada; <br /> verifique el rendimiento en las clases de vehículos</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="InformationMessageRule9Modal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><span class="element-name" id="SpanTitle">Transacciones - Reglas de Negocio</span></h4>
                </div>
                <div class="modal-body">
                    <h4 class="fbold center">Esta regla de negocio no puede ser desactivada; <br /> Favor contacte servicio al cliente.</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=" ECOsystem.Areas.Admin.TransactionRules.ReturnRuleState()"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Ajax.BeginForm("AddOrEditAlarmMaintenance", "AlarmMaintenance", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = " ECOsystem.Areas.Admin.Vehicles.AlarmMaintenanceModalClose()"
}, new { id = "addOrEditAlarmForm" }))
{
    <div id="alarmMaintenanceContainer">
        @Html.Partial("~/Views/Shared/_AlarmMaintenance.cshtml", new ECOsystem.Models.Core.AlarmBase())
    </div>
}

@section scripts {
    <script src="~/Scripts/Administration/vehicles.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/transactionRules.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/TransactionsReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            $("#LoadDriversForm").submit();
             ECOsystem.Areas.Admin.Vehicles.Init();
             ECOsystem.Areas.Admin.TransactionRules.Init();
             ECOsystem.Areas.Admin.TransactionsReport.Init();
        });

        $('#btAddOrEditVehiclesCancel').click(function () {
            GoIndex()
        })

        function RestoreModalClose() {
            $('#restoreRulesModal').modal('hide');
        }

        function GoIndex(data) {
            ECOsystem.Utilities.HideLoader();
            if (data == "" || data == undefined) {
                window.location.replace('/Administracion/Vehicles/Index');
            }
            else {
                $('#modalMessage').html(data);
            }
        };
    </script>
    <!-- CHARTS SCRIPT -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js?v=@version-hf0"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        if ($('#OdometerVehicle').val() > 0) {
            $('#OdometerVehicle').attr('disabled', 'true');
        }


        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                [
                    '', 'Mensual', { role: 'annotation' }, { role: 'style' }, 'Adicional', { role: 'annotation' },
                    { role: 'style' }
                ],
                ['Presupuesto', @Model.MonthlyBudget, '@Model.MonthlyBudget', '#0D47A1', @Model.AdditionalBudget, '@Model.AdditionalBudget', '#1976D2'],
                ['Compras', @Model.MonthlyPurchases, '@Model.MonthlyPurchases', '#FF9800', null, '', ''],
                ['Disponible', @Model.Available, '@Model.Available', '#4CAF50', null, '', '']
            ]);
            var width = $('#chart_div').width();
            var height = (width / 2);
            // SET MINIMUM HEIGHT
            if (height < $('#table_div').height()) {
                height = $('#table_div').height();
            }
            // END
            //console.log("width: " + width);
            var options = {
                width: width,
                height: height,
                legend: 'none',
                bars: 'vertical',
                chartArea: { 'width': '100%', 'height': '80%' },
                isStacked: true
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        $('#page-content-wrapper').resize(function () {
            drawChart();
        });
    </script>
}
