﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehiclesBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vehículos";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlVehiclesIndex = "active";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }

        .colpick {
            z-index: 9999;
        }

        .col-xs-6 .checkbox {
            margin-top: 15px;
        }
    </style>
}

@using (Ajax.BeginForm("EditVehiclesReferences", "Vehicles", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = " ECO_Admin.Vehicles.ReferenceEditModalClose()"
}, new { id = "referenceEditForm" }))
{
    <div id="detailReferenceContainer">
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("ExcelReportDownload", "Vehicles", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECO_Admin.Vehicles.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = " ECO_Admin.Vehicles.HideLoader()"
}, new { id = "ExcelReportDownloadForm" })) { }

@using (Html.BeginForm("DonwloadFile", "Vehicles", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">

    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchVehicles", "Vehicles", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar Vehículo</button>
                <button class="btn btn-success" type="button" id="dropdownMenu1" onclick=" ECO_Admin.Vehicles.OnClickDownloadVehicles()" title="Exportar">
                    <i class="mdi mdi-share"></i>&nbsp;&nbsp;Exportar Excel
                </button>
            </div>
            <div class="col-sm-2">
            </div>

            <div class="col-sm-7 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por Nombre, N° Chasis, N° Placa, Combustible, Centro de Costo o Categoría...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar por Nombre, N° Chasis, N° Placa, Combustible, Centro de Costo o Categoría"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
    <!-- Search Area End-->
    <!-- Load Form Start-->
    @*@using (Ajax.BeginForm("LoadVehicles", "Vehicles", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = " ECOsystem.Areas.Admin.Vehicles.OnSuccessLoad()"
        }, new { id = "loadForm" }))*@

    @using (Html.BeginForm("LoadVehicles", "Vehicles", FormMethod.Post, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }

    <!-- Load Form End-->
    <!-- Load ReferencesForm Start-->
    @using (Ajax.BeginForm("LoadVehiclesReferences", "Vehicles", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailReferenceContainer",
        OnSuccess = " ECO_Admin.Vehicles.OnSuccessReferenceLoad()"
    }, new { id = "loadRefForm" }))
    {
        @Html.Hidden("id")
        <!--<input type="hidden" id="idRef" name="id" />-->
    }

    <!-- Load ReferencesForm End-->
    <!-- Dele Modal Start-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                @using (Ajax.BeginForm("DeleteVehicles", "Vehicles", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                }, new { id = "deleteForm" }))
                {
                    @Html.Hidden("id")
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <h4 style="margin-top:0px;">¿Está seguro que desea eliminar el vehículo?</h4>
                        <p>Antes de confirmar por favor considerar lo siguiente:</p>
                        <ol>
                            <li>Si el vehículo tiene una <b>Tarjeta</b> activa se procederá a cerrarla automáticamente.</li>
                            <li>Si el vehículo tiene un <b>GPS</b> activo se procederá a crear una orden de desinstalación. </li>
                        </ol>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Areas/Admin/Scripts/sweetalert.min.js"></script>
    <script src="~/Areas/Admin/Scripts/Administration/vehicles.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Admin.Vehicles.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
