﻿@model ECOsystem.Models.Core.PartnersNewsBase
@{
    ViewBag.Title = "Noticias y Notificaciones";
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            width: 246px;
            top: 10px;
            left: 20px;
        }

            .progress_bar.loading {
                opacity: 1.0;
            }

            .progress_bar .percent {
                background-color: #3090d1;
                height: auto;
                width: 0;
                padding-left: 5px;
            }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#NewsTab" aria-controls="NewsTab" role="tab" data-toggle="tab"><i class="mdi mdi-newspaper mdi-18px"></i>&nbsp;<b>Noticias</b></a></li>
            <li role="presentation"><a href="#NotificationsTab" aria-controls="NotificationsTab" role="tab" data-toggle="tab"><i class="mdi mdi-message-alert mdi-18px"></i>&nbsp;<b>Notificaciones</b></a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="NewsTab">
                <div class="row col-sm-12">
                    <br />
                    @Html.Partial("_partials/_News", Model)
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="NotificationsTab">
                <div class="row col-sm-12">
                    <br />
                    @Html.Partial("_partials/_Notifications", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/partnernews.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.PartnerNews.Init();
        });
    </script>
}
