﻿@model ECO_Control.Models.Control.PreventiveMaintenanceVehicleBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Control = "active";
    ViewBag.Title = "Asignación de Mantenimiento Preventivo";
    ViewBag.Information = "active";
    ViewBag.Mantenimiento = "active";
    ViewBag.PreventiveMaintenanceVehicle = "active";
    ViewBag.HasGrid = true;


}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }
        .colpick {
            z-index: 9999;
        }
    </style>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">

    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchVehicles", "PreventiveMaintenanceVehicle", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6"></div>
            <div class="col-lg-4 col-sm-6 col-xs-12 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>

                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
            
    }
       
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
        });
    </script>
}
