﻿@{
    var site_version = (Session["APPLICATION_VERSION"] != null) ? Session["APPLICATION_VERSION"].ToString() : ECOsystem.Utilities.Session.GetVersionInfo();
}

<footer class="site-footer col-md-12 col-lg-12 text-center div_back" style="background-color:transparent !important;"> <!-- top20 text-center -->
    <div class="col-md-4 col-md-push-4">
        <br />
        <img src="~/Content/Images/coincalogoflatgris.png" width="200" />
        <p>Comunicaciones Inalámbricas de Centroamérica</p>
        <p>Todos los Derechos Reservados.</p>
        @*<script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.intrack-eco.com&amp;size=S&amp;lang=es"></script>*@
    </div>
</footer>
