﻿<div class="header div_back">
    <div class="container" style="font-family:Arial; font-size:18px">
        <div class=" row clearfix">
            <div class="col-md-4 column col-md-offset-4">
                <img width="100%" src="~/Content/Images/LineVita/logo.png" id="logo" style="margin: 50px 0 20px 0;" />
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column col-md-offset-8">
                <p><span class="pointer" data-toggle="modal" data-target="#contactenosLineVita">Dónde Estamos</span> | <span class="pointer" data-toggle="modal" data-target="#sobrenosotrosLineVita">Sobre Nosotros</span></p>
                <script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.intrack-eco.com&amp;size=S&amp;lang=es"></script>
            </div>
        </div>
        <hr />
    </div>
</div>
@Html.Partial("LineVita/_HeaderModalsLineVita")
