﻿<div class="modal fade" id="contactenosLineVita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header div_sobre_contac">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Dónde Estamos</h4>
            </div>
            <div class="modal-body div_sobre_contac">
                <img class="center-block" src="~/Content/Images/coincalogoflatgris.png" width="250" />
                <hr />

                <h3>Ubicación</h3>
                <p>Parque Empresarial Forum I, Edificio E, 1er Piso, Santa Ana.</p>
                <p>San José, Costa Rica</p>
                <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
                <div style="overflow: hidden; height: 400px; width: 100%; background: none !important; color:black">
                    <div id="gmap_canvas_lv" style="height: 400px; width: 100%"></div>
                    <style>
                        #gmap_canvas_lv img {
                            max-width: none !important;
                            background: none !important;
                        }
                    </style>
                </div>
                <div class="div_sobre_contac">
                    <h3>Teléfono</h3>
                    <p>+(506) 2205-5342</p>
                </div>
            </div>

            <div class="modal-footer div_sobre_contac">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sobrenosotrosLineVita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header div_sobre_contac">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Sobre Nosotros</h4>
            </div>
            <div class="modal-body div_sobre_contac">
                <img class="center-block" src="~/Content/Images/coincalogoflatgris.png" width="250" />
                <hr />
                <p>COINCA Telematics es una empresa de orientación tecnológica, adscrita a Credomatic International Corporation, uno de los grupos inversionistas más importantes de la Región Centroamericana.</p>
                <p>COINCA Telematics cuenta con una amplia trayectoria en la industria de telecomunicaciones, desarrollo de software especializado, integración de redes de atención y manejo de servicios de orientación tecnológica, incluyendo Centros de Contacto Telefónico (“Call Centers”).</p>
                <p>Con más de quince años de experiencia acumulada, COINCA actualmente ofrece tecnología de última generación aplicable al desarrollo de productos y servicios en el área telemática (disciplina que fusiona el campo de las telecomunicaciones y la informática). Su enfoque se orienta al ecosistema de vehículo y su usuario. Esta nueva línea de productos nace en respuesta a la creciente demanda por servicios de interconectividad en carretera que se evidencia a nivel mundial. Por eso, anticipando la transformación en la industria de interconexión vehicular COINCA es pionera, a nivel latinoamericano, en ofrecer soluciones de telemática.</p>
                <hr />
                <img src="~/Content/Images/Mision.png" />
                <h3>Misión</h3>
                <p>Somos una empresa dinámica, visionaria y comprometida con la excelencia. Desarrollamos y brindamos servicios de telemática y aplicaciones digitales con tecnología de vanguardia. Creamos valor a través de la construcción y posicionamiento de marcas y una relación cercana con nuestros clientes. Estamos en constante evolución para superar las expectativas del mercado.</p>
                <hr />
                <img src="~/Content/Images/vision.png" />
                <h3>Visión</h3>
                <p>Ser el Líder Latinoamericano en desarrollo, suministro y comercialización de servicios especializados de telemática.</p>
                <hr />
                <p>Coinca Telematics<br /> Parque Empresarial Forum I, Edificio E, 1er Piso, Santa Ana.<br /> San José, Costa Rica<br /><strong>Teléfono:</strong> +(506) 2205-5200</p>
            </div>
            <div class="modal-footer div_sobre_contac">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


