﻿<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/adicional.png" />
                </li>
                <li class="center">
                    <h3>Adicional</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li class="text-center">
                    InTrack ECO es una plataforma que integra el ecosistema operativo de flotas comerciales. Por su condición holística, cada uno de sus tres módulos está diseñado para promover la sinergía, de forma que la suma de los beneficios del sistema sea mayor a la suma individual de cada uno de los módulos por separado. El concepto de la plataforma se resume en que ésta favorece una operación eficiente y productiva con minimización de costos y riesgos.
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/reduccion.png" />
                </li>
                <li class="center">
                    <h3>Reducción</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Consumo de Combustible
                        </li>
                        <li>
                            Riesgo de Accidentes e Incapacidades
                        </li>
                        <li>
                            Contingencias Varias
                        </li>
                        <li>
                            Costos de Mantenimiento
                        </li>
                        <li>
                            Desgaste de los Vehículos
                        </li>                       
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 column">
            <ul class="cleanul">
                <li class="center">
                    <img src="~/Content/Images/aumento.png" />
                </li>
                <li class="center">
                    <h3>Aumento</h3>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <ul>
                        <li>
                            Atención de Clientes
                        </li>
                        <li>
                            Disponibilidad de la Flota
                        </li>
                        <li>
                            Rendimiento de los Vehículos
                        </li>
                        <li>
                            Control de Presupuesto
                        </li>
                        <li>
                            Desempeño del Personal
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
