﻿@model  ECOsystem.Areas.Coinca.Models.ParametersBase
@{
    ViewBag.Title = "Mantenimiento de Parámetros";
    ViewBag.Administration = "active";
    ViewBag.SettingsParameters = "active";

    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {

}

<div id="wrapper">
    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="17" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Mantenimiento de Parámetros</h3>
            </div>
        </div>
        @using (Ajax.BeginForm("Index", "ParametersByPartner", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DetailContainer",
            OnSuccess = "ECOsystem.Utilities.setConfirmation();"
        }, new { id = "saveForm" }))
        {
            <div id="DetailContainer">
                 @Html.Partial("_partials/_Detail", Model.PartnerParameters)
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Settings/parametersByPartner.js?v=@version-hf0"></script>
    <script>
        $(function () {
             ECOsystem.Areas.Coinca.ParametersByPartner.Init();
        });
    </script>
}
