﻿@using System.Linq
@using  ECOsystem.Areas.Control.Models.Control
@model System.Collections.Generic.IEnumerable<TrendAndConsumptionReport>

@if (Model != null && Model.Any())
{

    @(Html.Grid(Model)
                  .Columns(c =>
                  {
                      c.Add(m => m.PlateId).Titled("Matrícula").SetWidth(80);
                      c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(80);
                      c.Add(m => m.MaxConsumptionStr).Titled("Consumo Máx.").SetWidth(110).Css("grid-col-right");
                      c.Add(m => m.MinConsumptionStr).Titled("Consumo Min.").SetWidth(110).Css("grid-col-right");
                      c.Add(m => m.AvgConsumptionStr).Titled("Media de Consumo ").SetWidth(130).Css("grid-col-right");
                      c.Add(m => m.TotalConsumptionStr).Titled("Consumo Total").SetWidth(110).Css("grid-col-right");
                      c.Add(m => m.TotalFuelAmountStr).Titled("Monto Total").SetWidth(110).Css("grid-col-right");
                  }
                  )
                  .Selectable(true)
                  )

}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
