﻿@model  ECOsystem.Areas.Control.Models.Control.CostCentersByCreditGrid

@if (Model != null && Model.List != null && Model.List.Any())
{
    <div class="col-lg-12">
        @(Html.Grid(Model.List)
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.PlateId).SetWidth(80).Titled("Matrícula");
              c.Add(m => m.VehicleName).SetWidth(195).Titled("Vehículo");
              c.Add(m => m.VehicleModel).SetWidth(160).Titled("Modelo");
              c.Add(m => m.CostCenter).SetWidth(160).Titled("Centro Costo");

              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(100)
                  .RenderValueAs(m => @<div style="width:150px;">
                    <div class="input-group">
                        <div class="input-group-addon">@m.CurrencySymbol</div>
                        <input type="text" class="form-control text-right" value="@m.AmountStr" data-currency="true">
                        <input type="hidden" value="@m.Amount" data-form-value>
                    </div><input type="hidden" value="@m.VehicleId" data-form-vehicle>
                </div>).Titled("Monto");

              if (Model.IsResult)
              {
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(15)
                      .RenderValueAs(m => m.ResultStr);
              }

          }))
    </div>
    <div id="validationAmountError2" class="col-sm-8 col-sm-offset-3 top20 hide">
        <div id="errorAmountMsj2" class="col-sm-12 text-danger">
        </div>
    </div>
    <div class="top30 col-lg-12 text-right">
        <button type="button" id="actualizarMontos" class="btn btn-primary" title="Actualiza los montos de forma masiva"><i class="mdi mdi-check"></i>&nbsp;Actualizar Montos</button>
    </div>
    <div class="top20 col-lg-12">
        &nbsp;
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron vehículos asociados al Centro de Costo seleccionado.
    </div>    
}
