﻿@model ECOsystem.Models.Email.EmailNotificationBase

@{
    ViewBag.Title = "Creacion de Correo de Notificación";
    ViewBag.AdministrationNotification = "active";
    ViewBag.AdministrationCreateEmailNotification = "active";
    
    ViewBag.HasGrid = true;
}

@using (Ajax.BeginForm("EmailNotificationAddOrEdit", "EmailNotification", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.CreateEmail)
    </div>
}

@using (Ajax.BeginForm("LoadEmailsNotifications", "EmailNotification", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
        @using (Ajax.BeginForm("EmailNotificationAddOrEdit", "EmailNotification", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",                
                OnSuccess = "ECOsystem.Utilities.SuccessEmailNotificationCreation()"
            }, new { id = "EmailNotificationCreateForm" }))
            {
                <div id="EmailCreate">
                    <!-- Create Email for Notification-->
                    @Html.Partial("_partials/_AddEmail", Model.CreateEmail)
                </div>
            }
        
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                @using (Ajax.BeginForm("DeleteEmailNotification", "EmailNotification", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                }, new { id = "deleteForm" }))
                {      
                    @Html.Hidden("id")                                  
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Eliminación</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea Eliminar el Registro?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                    </div>
                }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>

        <div class="modal fade" id="EmailNotificationModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">  
                    <div class="modal-header">
                    </div>              
                    <div class="modal-body">
                        <p class="center">Correo Almacenado Correctamente</p>
                    </div>  
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"></i>&nbsp;OK</button>
                    </div>                     
                </div>
            </div>
        </div>
        
    </div>
