﻿@model  ECOsystem.Areas.Admin.Models.Administration.ExpiredPreventiveMaintenanceBase
@{
    ViewBag.Administration = "active";
    ViewBag.Title = "Mantenimientos Vencidos";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}
@section styles
{
    <style>
        .btnGridApply {
            margin-top: -3px;
            padding-bottom: 2px;
            padding-top: 2px;
        }       
    </style>
}

@using (Ajax.BeginForm("LoadMaintenance", "ExpiredPreventiveMaintenance", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailCost",
    OnSuccess = " ECOsystem.Areas.Admin.ExpiredMaintenance.ShowApplyModal();"
}, new { id = "ApplyMaintenanceForm" }))
{
    @Html.Hidden("id")
    @Html.Hidden("vehicleId")

    <div id="detailCost">
        @Html.Partial("_partials/_DetailCost", Model.Record)
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">

            @if (Model.List.Count() > 0)
            {
                <div class="row pull-left">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                            <i class="mdi mdi-share"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                            @using (Ajax.BeginForm("ExcelReportDownload", "ExpiredPreventiveMaintenance", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                OnBegin = " ECOsystem.Areas.Admin.ExpiredMaintenance.ShowLoader()",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "GridContainer",
                                OnSuccess = " ECOsystem.Areas.Admin.ExpiredMaintenance.LoaderHide()"
                            }, new { id = "ExcelReportDownloadForm" })) { }

                            @using (Html.BeginForm("DonwloadFile", "ExpiredPreventiveMaintenance", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" onclick=" ECOsystem.Areas.Admin.ExpiredMaintenance.OnClickDownloadReport()">
                                    <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            }            
            <br />
            <div id="GridContainer" class="row">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>            
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/ExpiredMaintenace.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.ExpiredMaintenance.Init();            
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
