﻿@model  ECOsystem.Areas.Admin.Models.Administration.ScoreParameters

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-sm-12">
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;En este mantenimiento se pueden modificar los datos para las calificaciones de los conductores utilizando los eventos GPS.
                &nbsp;En el Detalle se puede establecer la calificación basándose en el número de eventos.
            </div>
        </div>
        <hr />
        <div class="col-sm-12">
            <div class="col-sm-2">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.GPSActive)
                    <span data-toggle="tooltip" data-placement="bottom" title="Giros Abruptos, Paradas Bruscas y Aceleraciones Repentinas">
                        &nbsp;<b>Eventos GPS</b>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.GPSPercentage, "", new { @class = "form-control detailtext" })
            </div>
            <div class="col-sm-2">
                @Html.Label("% del Total.", new { @class = "margins" })
            </div>
            <div class="col-sm-5 text-right">
                <label class="margins">Velocidad:&nbsp;<span id="speedpercentages">@Model.SpeedPercentage</span>% del Total.</label>
            </div>
        </div>
        <hr />
        <div class="col-sm-12">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                <table class="table table-striped" id="tblDetail" style="overflow:auto;">
                    <thead>
                        <tr>
                            <th class="tableHeader" colspan="4">Detalle</th>
                            <th class="tableHeader text-right" colspan="4"><button id="btnAddDetail" type="button" class="btn btn-success" style="margin-left:-20px;"><i class="mdi mdi-plus"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.List)
                        {
                            <tr id="@item.Id">
                                <td> Desde:</td>
                                <td>
                                    @Html.TextBox("txtFrom_" + item.Id, item.From, new { @class = "form-control detailtext fromText" })
                                </td>
                                <td>Hasta:</td>
                                <td>
                                    @Html.TextBox("txtTo_" + item.Id, item.To, new { @class = "form-control detailtext toText" })
                                </td>
                                <td>=</td>
                                <td>
                                    @Html.TextBox("txtPercentage_" + item.Id, item.Percentage, new { @class = "form-control detailtext lasttext" })
                                </td>
                                <td>%</td>
                                <td style="text-align:right;"><a href="#" class="delete-color" title="Eliminar" onclick=" ECOsystem.Areas.Admin.ScoreParameters.DeleteRow(this)"><i class="mdi mdi-32px mdi-close-box"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="col-sm-12">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                <label class="text-danger" id="msjval"></label>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-default" onclick="window.location.reload()"> <i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-success" id="btnAddScoreParameters"> <i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>