﻿@model IEnumerable<ECOsystem.Models.ProgramSendReportsShow>

@if (Model != null && Model.Any() && !Model.FirstOrDefault().Emails.IsEmpty())
{

    <div class="panel panel-default">
        <div class="panel-body">
            <div style="padding-bottom:20px">
                <button id="btnAdd_@Model.FirstOrDefault().ReportId" ReportId="@Model.FirstOrDefault().ReportId" type="button" class="btn btn-success" title="Agregar" onclick="ECO_Partner.ProgramSendReports.ShowParameters(this)"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar Periodicidad</button>

            </div>


            @(Html.Grid(Model)
                                                                .Selectable(false)
                                                                .Columns(c =>
                                                                {
                                                                    c.Add(m => m.ElapseStr).SetWidth(100).Titled("Periodicidad");
                                                                    c.Add(m => m.DaysNames).SetWidth(100).Titled("Días");
                                                                    c.Add(m => m.Emails).SetWidth(100).Titled("Correos");
                                                                    c.Add()
                                                                    .Encoded(false)
                                                                    .Sanitized(false)
                                                                    .SetWidth(50)
                                                                    .RenderValueAs(m => @<span>
                                                                        <a href="#" class="edit-color" id="@m.Id" title="Editar" onclick="ECO_Partner.ProgramSendReports.GetData(this)"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                                                        <a href="#" class="delete-color" data-toggle="modal" onclick="ECO_Partner.ProgramSendReports.ShowConfirmationModal(this)" id="@m.Id" reportid="@m.ReportId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                                                                    </span>).Css("grid-col-btn");

                                                                    }))
        </div>
    </div>

}
else
{
    <br />
    <div class="panel panel-default">
        <div class="panel-body"><button id="btnAdd_@Model.FirstOrDefault().ReportId" ReportId="@Model.FirstOrDefault().ReportId" type="button" class="btn btn-success" title="Agregar" onclick="ECO_Partner.ProgramSendReports.ShowParameters(this)"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar Periodicidad</button></div>
    </div>
}






