﻿@model ECOsystem.Models.ReportParameters
@{
    var count = Model.GetType().GetProperties().Where(x => x.GetValue(Model) is bool).Select(x => (bool)x.GetValue(Model)).Where(x => x == true).Count();
    var showparameters = false;
    if (count > 1)
    {
        showparameters = true;
    }
    else if (count == 1 && !Model.MainEmail)
    {
        showparameters = true;
    }
}

<style>
    .tableHeader {
        position: relative;
        height: 30px;
        background-color: #003594;
        color: #fff;
    }
</style>

<input type="hidden" id="ProgramReportId_@Model.ReportId" value="">

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3" style="border-right: 1px solid #ccc; height:135px;">
                        <label>Periodicidad:</label>
                        <div class="checkbox">
                            <a id="Daily_@Model.ReportId" title="Editar" style="text-decoration: none; color: black;">
                                <label>
                                    <input name="checkbox_@Model.ReportId" id="Daily-2-@Model.ReportId" type="radio" class="regular-radio rdbDaily" reportid="@Model.ReportId" />
                                    Diario
                                </label>
                            </a>
                        </div>
                        <div class="checkbox">
                            <a id="weekly_@Model.ReportId" title="Editar" style="text-decoration: none; color: black;">
                                <label>
                                    <input name="checkbox_@Model.ReportId" id="weekly-2-@Model.ReportId" type="radio" class="regular-radio rdbWeekly" reportid="@Model.ReportId" />
                                    Semanal
                                </label>
                            </a>
                        </div>
                        <div class="checkbox">
                            <a id="Monthly_@Model.ReportId" title="Editar" style="text-decoration: none; color: black;">
                                <label>
                                    <input name="checkbox_@Model.ReportId" id="Monthly-2-@Model.ReportId" type="radio" class="regular-radio rdbMonthly" reportid="@Model.ReportId" />
                                    Mensual
                                </label>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-9" id="divDays-@Model.ReportId">
                        <label>Día de entrega:</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Monday_" + @Model.ReportId, new { disabled = "disabled", @class = "Days_" + @Model.ReportId }) &nbsp;Lunes
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Tuesday_" + @Model.ReportId, new { disabled = "disabled", @class = "Days_" + @Model.ReportId }) &nbsp;Martes
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Wednesday_" + @Model.ReportId, new { disabled = "disabled", @class = "Days_" + @Model.ReportId }) &nbsp;Miércoles
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Thursday_" + @Model.ReportId, new { disabled = "disabled", @class = "Days_" + @Model.ReportId }) &nbsp;Jueves
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Friday_" + @Model.ReportId, new { disabled = "disabled", @class = "Days_" + @Model.ReportId }) &nbsp;Viernes
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Saturday_" + @Model.ReportId, new { disabled = "disabled", @class = "Days_" + @Model.ReportId }) &nbsp;Sabado
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Sunday_" + @Model.ReportId, new { disabled = "disabled", @class = "Days_" + @Model.ReportId }) &nbsp;Domingo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 hide" id="divDayOfTheMonth-@Model.ReportId">
                        <label>Día de entrega:</label>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.TextBox("DayOfTheMonth_" + @Model.ReportId, "", new { placeholder = "Día del mes", @class = "form-control text-left DayOfTheMonth" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.MainEmail)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.Label("Correos Eléctronicos:", new { @class = "col-sm-14 control-label" })
                                @Html.TextBox("Emails", "", new { placeholder = "Correos Eléctronicos", @class = "form-control text-left", @maxlength = "500", @id = "txtEmails_" + @Model.ReportId })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6">
        @if (showparameters)
        {
            <div class="panel panel-default">
                <div class="panel-heading" style="height: 280px; overflow-y:auto;">
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: -12px;">
                            <br />
                            @if (Model.StartDateShow)
                            {
                                <div class='input-group date datetimepickerStartDate'>
                                    @Html.TextBox("StartDate_" + @Model.ReportId, "", new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold txtStartDate" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                    <span class="input-group-addon">
                                        <span class="mdi mdi-calendar"></span>
                                    </span>
                                </div>
                            }

                            @if (Model.EndDateShow)
                            {
                                <div class='input-group date datetimepickerEndDate'>
                                    @Html.TextBox("EndDate_" + @Model.ReportId, "", new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold txtEndDate" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                    <span class="input-group-addon">
                                        <span class="mdi mdi-calendar"></span>
                                    </span>
                                </div>
                            }

                            @if (Model.TerminalDetail)
                            {
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("TerminalDetail_" + @Model.ReportId)&nbsp;Detalle de terminales
                                    </label>
                                </div>
                            }

                            @if (Model.Customer)
                            {
                                <div>
                                    @Html.DropDownList("CustomerId_" + @Model.ReportId, ECO_Partner.Business.GeneralCollections.GetCustomersByPartnerWithAll, "Cliente:", new Dictionary<string, Object> { { "class", "form-control fbold dbCustomers" }, { "data-filter", "true" } })
                                </div>
                            }

                            @if (Model.IsAlert)
                            {
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("IsAlert_" + @Model.ReportId)&nbsp;Enviar Alerta de Estaciones Cercanas a los Montos Límite
                                    </label>
                                </div>
                            }

                            @*@if (Model.CostCenter)
                                {
                                    <br />
                                    <div>
                                        @Html.DropDownList("CostCenterId_" + @Model.ReportId, GeneralCollections.GetVehicleCostCenters, "Centros de Costo:", new Dictionary<string, Object> { { "class", "form-control fbold dbCostCenter" }, { "data-filter", "true" } })
                                    </div>
                                }

                                @if (Model.VehicleGroup)
                                {
                                    <br />
                                    <div>
                                        @Html.DropDownList("VehicleGroupId_" + @Model.ReportId, GeneralCollections.GetVehicleGroups, "Grupo de Vehículos:", new Dictionary<string, Object> { { "class", "form-control fbold dbVehicleGroup" }, { "data-filter", "true" } })
                                    </div>
                                }

                                @if (Model.VehicleUnit)
                                {
                                    <br />
                                    <div>
                                        @Html.DropDownList("VehicleGroupId_" + @Model.ReportId, GeneralCollections.GetVehicleUnits, "Unidades de Vehículos:", new Dictionary<string, Object> { { "class", "form-control fbold dbVehicleUnit" }, { "data-filter", "true" } })
                                    </div>
                                }

                                @if (Model.Driver)
                                {
                                    <br />
                                    <div>
                                        @Html.DropDownList("DriverId_" + @Model.ReportId, GeneralCollections.GetDrivers, "Conductores:", new Dictionary<string, Object> { { "class", "form-control fbold dbDriver" }, { "data-filter", "true" } })
                                    </div>
                                }*@
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="col-sm-6">
        <div id="ControlsContainer_@Model.ReportId"></div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            @{ var btnId = string.Format("btnSendReportNow{0}", Model.ReportId); }
            <button type="button" id="@btnId" class="btn btn-default btnSendReportNow" reportid="@Model.ReportId"><i class="mdi mdi-email"></i>&nbsp;Prueba de Envío</button>
            <button type="button" reportid="@Model.ReportId" class="btn btn-default" onclick="ECO_Partner.ProgramSendReports.DiscardChanges(this)"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
            <button type="button" reportid="@Model.ReportId" onclick="ECO_Partner.ProgramSendReports.SaveChanges(this)" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
