﻿@model IEnumerable<ECOsystem.Models.ProgramSendReportsShow>

@if (Model.Any() || Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var GridList = Model;
            }
            @foreach (var item in Model.GroupBy(x => x.ReportId).Select(group => group.First()))
            {
                <tr>
                    @{
                        var isChecked = Model.Where(x => x.Active && x.ReportId == item.ReportId).Any() ? "checked='checked'" : string.Empty;
                        var idReportActive = "ReportActive_" + item.ReportId;
                        item.Parameters = item.Parameters ?? new ECOsystem.Models.ReportParameters();
                    }

                    <td>
                        <div class="card-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="middleCells">
                                        <div class="col-sm-12" style="padding-left:0;">
                                            <div class="col-sm-2">
                                                <input id="@idReportActive" name="@item.ReportId" type="checkbox" class="toggleCheck reportCheck" @isChecked />
                                            </div>
                                            <div class="col-sm-8" data-toggle="collapse" data-parent="#Report-@item.ReportId" href="#Report-@item.ReportId" style="cursor:pointer;">
                                                <h4>@item.DownloadName</h4>
                                            </div>
                                            <div class="col-sm-2" data-toggle="collapse" data-parent="#Report-@item.ReportId" href="#Report-@item.ReportId" style="cursor:pointer;">
                                                <label class="label label-success" style="cursor:pointer;font-size:15px;">Ver Detalles</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Report-@item.ReportId" class="panel-collapse accordin-left collapse">
                            <div class="panel-body">
                                <div id="GridList-@item.ReportId">
                                    @Html.Partial("_Partials/_GridList", GridList.Where(x => x.ReportId == item.ReportId).GroupBy(x => new { x.Elapse, x.Days }).Select(group => group.First()))
                                </div>
                                <div id="ReportParameters-@item.ReportId" class="hidden">
                                    @Html.Partial("_Partials/_Parameters", item.Parameters)
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encuentraron resultados
    </div>
}



