﻿@{
    ViewBag.Title = "Formularios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .removetop {
            margin-top: -15px;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Html.BeginForm("DonwloadFile", "SurveyReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

<div id="page-content-wrapper">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-5">
                    @Html.DropDownList("UserId", ECO_Management.Utilities.GeneralCollections.GetAgentsSummary, "Seleccione un Agente", new { @class = "form-control", custom = "true" })
                </div>
                <div class="col-sm-5">
                    <div class='input-group date' id='datetimepickerDate'>
                        @Html.TextBox("StartDate", "", new { @class = "form-control", @placeholder = "Fecha", @autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 text-right">
                    <button type="button" class="btn btn-success" onclick="ECO_Management.SurveyReport.LoadSurveys()"><i class="mdi mdi-download"></i>&nbsp;Ver Formularios</button>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12" id="InfoContainer">
                    <br />
                    <div class="alert alert-success alert-dismissible fade in" role="alert" style="margin-bottom: -5px;">
                        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione la información necesaria para generar el reporte.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Management/SurveyReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.SurveyReport.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
