﻿@{
    ViewBag.Title = "Localización";
    ViewBag.Localizacion = "active";
    ViewBag.Efficiency = "active";
    //ViewBag.Geofence = "active";
    //ViewBag.MapsGeoFencesIndex = "active";
}
    @Html.Partial("~/Views/Localization/_partials/_Menu.cshtml")
    <div id="page-content-wrapper">
        <div class="row">
            <div class="col-lg-12 center">
                <img src="~/Content/Images/page_under_construction.jpg" width="270" />
            </div>
        </div>
    </div>