﻿@model  ECOsystem.Areas.Admin.Models.Administration.GeoFenceTypes
@{
    var isCheck = Model.IsHome;
}

<style>
    .toggle.btn {
        width: 125px !important;
        height: 34px !important;
    }
</style>
<!-- Modal Start-->
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.Id)        
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Nombre del tipo de Geocerca")
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del tipo de Geocerca", @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Casa Agente")
                    <br />
                    @Html.CheckBoxFor(m => m.IsHome, new { @class = "toggleCheck", @isCheck })
                </div>
            </div>
            <div class="col-sm-4">
                <div id="tolerance" class="form-group" hidden>
                    @Html.Label("Tiempo de tolerancia")
                    @Html.TextBoxFor(m => m.Tolerance, new { placeholder = "Tiempo de tolerancia en minutos", @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Tolerance, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.Label("Descripción")
                    @Html.TextBoxFor(m => m.Description, new { placeholder = "Descripción del tipo de Geocerca", @class = "form-control", autofocus = "" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button id="btnClose" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
