﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.TransactionsReport>

@{
    var creditCardEmissionType = ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId;
    var hasBranches = (Model.FirstOrDefault().IsCustomerBranch > 1);
}

@section styles {

    <style>
        .boldText {
            font-weight: bold;
        }

        .numericAlign {
            text-align: right;
        }
    </style>
}

@if (Model != null && Model.Any())
{
    List< ECOsystem.Areas.Control.Models.Control.TransactionsReport> list = Model.ToList();

    if (list.Where(x => x.CostCenterName == null).Count() == 0)
    {
        @(Html.Grid(Model)
                        .Selectable(true)
                        .Columns(c =>
                        {
                            c.Add(m => m.PaymentInstrument).Titled("# Medio De Pago").SetWidth(120);
                            c.Add()
                                .Titled("Medio de Pago")
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(20)
                                .RenderValueAs(m => @<span class="center">
                                    <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                    <label class="legend"></label>
                                </span>);
                                        c.Add(m => m.Date).Titled("Fecha").SetWidth(100);
                                        c.Add(m => m.CustomerName).Titled("Nombre del Cliente").SetWidth(120);
                                        if (hasBranches)
                                            c.Add(m => m.CustomerBranchName).Titled("Empresa Matriz").SetWidth(120);
                                        c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(120);
                                        if (creditCardEmissionType == 100) c.Add(m => m.HolderNameStr).Titled("Titular").SetWidth(120);
                                        c.Add(m => m.PlateId).Titled("Placa").SetWidth(60);
                                        c.Add(m => m.CostCenterName).Titled("Centro de Costo").SetWidth(80);
                                        c.Add(m => m.UnitName).Titled("Unidad").SetWidth(80);
                                        if (creditCardEmissionType == 101) c.Add(m => m.DriverNameDescrypt).Titled("Conductor Asignado").SetWidth(80);
                                        if (creditCardEmissionType == 101) c.Add(m => m.DriverIdDescrypt).Titled("Id Conductor").SetWidth(80);
                                        c.Add(m => m.Manufacturer).Titled("Fabricante").SetWidth(80);
                                        c.Add(m => m.OdometerLastStr).Titled("Odómetro Anterior").SetWidth(60);
                                        c.Add(m => m.OdometerStrCR).Titled("Odómetro Actual").SetWidth(60);
                                        c.Add(m => m.TravelStrCR).Titled("Recorrido").SetWidth(60);
                                        c.Add(m => m.PerformanceStrCR).Titled("Rendimiento").SetWidth(60);
                                        c.Add(m => m.KilometersCostStrCR).Titled("Costo Kilómetro").SetWidth(60);
                                        c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).SetWidth(60);
                                        c.Add(m => m.FuelAmountStr).Titled("Moneda").SetWidth(60);
                                        c.Add(m => m.FuelName).Titled("Combustible").SetWidth(60);
                                        c.Add(m => m.MerchantDescription).Titled("Estación de Servicio").SetWidth(60);
                                        c.Add(m => m.Reference).Titled("Referencia").SetWidth(60);
                                        c.Add(m => m.Invoice).Titled("Factura").SetWidth(60);
                                        c.Add(m => m.ElectronicInvoice).Titled("Factura Electrónica").SetWidth(60);
                                        if (Model.FirstOrDefault().IsInternational == true)
                                        {
                                            c.Add(m => m.CountryName).Titled("País").SetWidth(60);
                                            c.Add(m => m.ExchangeValue).Titled("Tipo Cambio").SetWidth(60);
                                            c.Add(m => m.RealAmountFormatted).Titled("Monto Real").SetWidth(60);
                                        }
                                    }))
    }
    else
    {
        @(Html.Grid(Model)
                                        .Selectable(true)
                                        .Columns(c =>
                                        {
                                            c.Add(m => m.Date).Titled("Fecha").SetWidth(80);
                                            c.Add(m => m.CustomerName).Titled("Nombre del Cliente").SetWidth(120);
                                            if (hasBranches)
                                                c.Add(m => m.CustomerBranchName).Titled("Empresa Matriz").SetWidth(120);
                                            c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(120);
                                            c.Add(m => m.PlateId).Titled("Placa").SetWidth(60);
                                            c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago").SetWidth(100);
                                            c.Add()
                                                .Titled("Medio de Pago")
                                                .Encoded(false)
                                                .Sanitized(false)
                                                .SetWidth(20)
                                                .RenderValueAs(m => @<span class="center">
                                                    <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                                    <label class="legend"></label>
                                                </span>);
                                            c.Add(m => m.VehicleGroupName).Titled("Grupo de vehiculos").SetWidth(80);
                                            c.Add(m => m.UnitName).Titled("Unidad").SetWidth(80);
                                            c.Add(m => m.DriverNameDescrypt).Titled("Conductor").SetWidth(80);
                                            c.Add(m => m.DriverIdDescrypt).Titled("Id Conductor").SetWidth(80);
                                            c.Add(m => m.Manufacturer).Titled("Fabricante").SetWidth(80);
                                            c.Add(m => m.OdometerLastStr).Titled("Odómetro Anterior").SetWidth(60);
                                            c.Add(m => m.OdometerStrCR).Titled("Odómetro Actual").SetWidth(60);
                                            c.Add(m => m.TravelStrCR).Titled("Recorrido").SetWidth(60);
                                            c.Add(m => m.PerformanceStrCR).Titled("Rendimiento").SetWidth(60);
                                            c.Add(m => m.KilometersCostStrCR).Titled("Costo Kilómetro").SetWidth(60);
                                            c.Add(m => m.LitersStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).SetWidth(60);
                                            c.Add(m => m.FuelAmountStr).Titled("Monto").SetWidth(60);
                                            c.Add(m => m.FuelName).Titled("Combustible").SetWidth(60);
                                            c.Add(m => m.MerchantDescription).Titled("Estación de Servicio").SetWidth(60);
                                            c.Add(m => m.Reference).Titled("Referencia").SetWidth(60);
                                            c.Add(m => m.Invoice).Titled("Factura").SetWidth(60);
                                            c.Add(m => m.ElectronicInvoice).Titled("Factura Electrónica").SetWidth(60);
                                            if (Model.FirstOrDefault().IsInternational == true)
                                            {
                                                c.Add(m => m.CountryName).Titled("País").SetWidth(60);
                                                c.Add(m => m.ExchangeValue).Titled("Tipo Cambio").SetWidth(60);
                                                c.Add(m => m.RealAmountFormatted).Titled("Monto Real").SetWidth(60);
                                            }
                                        }))
    }
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
