﻿@model ECO_Control.Models.Control.TransactionsConsolideReportBase

@{
    ViewBag.Title = "Parametros - Reporte Consolidado SAP";
    ViewBag.Administration = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="8" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
   
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Mantenimiento de Parametros - Reporte Consolidado SAP</h3>
            </div>
            <h3>Parametros</h3>  
        </div>      
               
        <br />

        <div class="col-lg-12">
            @using (Html.BeginForm("AddOrEditSAPParameters", "CustomerTransacitiosSAPReport", FormMethod.Post, new { id = "AddOrEditSAPParametersForm" }))
            {
                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Debe, new { })
                        @Html.TextBoxFor(m => m.Data.Debe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Debe, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Haber, new { })
                        @Html.TextBoxFor(m => m.Data.Haber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Haber, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.DocumentClass, new { })
                        @Html.TextBoxFor(m => m.Data.DocumentClass, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.DocumentClass, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Sociedad, new { })
                        @Html.TextBoxFor(m => m.Data.Sociedad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Sociedad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Currency, new { })
                        @Html.TextBoxFor(m => m.Data.Currency, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Currency, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.TextoCabecera, new { })
                        @Html.TextBoxFor(m => m.Data.TextoCabecera, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.TextoCabecera, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Account, new { })
                        @Html.TextBoxFor(m => m.Data.Account, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Account, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.IND_CME, new { })
                        @Html.TextBoxFor(m => m.Data.IND_CME, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.IND_CME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.IndicadorImpuesto, new { })
                        @Html.TextBoxFor(m => m.Data.IndicadorImpuesto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.IndicadorImpuesto, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.CalcImpuesto, new { })
                        @Html.TextBoxFor(m => m.Data.CalcImpuesto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.CalcImpuesto, "", new { @class = "text-danger" })
                    </div>
                </div>               

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.BancoPropio, new { })
                        @Html.TextBoxFor(m => m.Data.BancoPropio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.BancoPropio, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.ViaPagoHaber, new { })
                        @Html.TextBoxFor(m => m.Data.ViaPagoHaber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.ViaPagoHaber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.CentroCosto, new { })
                        @Html.TextBoxFor(m => m.Data.CentroCosto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.CentroCosto, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.CentroBeneficio, new { })
                        @Html.TextBoxFor(m => m.Data.CentroBeneficio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.CentroBeneficio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Orden, new { })
                        @Html.TextBoxFor(m => m.Data.Orden, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Orden, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.PEP, new { })
                        @Html.TextBoxFor(m => m.Data.PEP, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.PEP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.PosicionPresupuesto, new { })
                        @Html.TextBoxFor(m => m.Data.PosicionPresupuesto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.PosicionPresupuesto, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.CentroGestor, new { })
                        @Html.TextBoxFor(m => m.Data.CentroGestor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.CentroGestor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.ProgramaPresupuesto, new { })
                        @Html.TextBoxFor(m => m.Data.ProgramaPresupuesto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.ProgramaPresupuesto, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Fondo, new { })
                        @Html.TextBoxFor(m => m.Data.Fondo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Fondo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.Centro, new { })
                        @Html.TextBoxFor(m => m.Data.Centro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.Centro, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.BloqueaPagoDebe, new { })
                        @Html.TextBoxFor(m => m.Data.BloqueaPagoDebe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Data.BloqueaPagoDebe, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-6">
                        @Html.LabelFor(m => m.Data.PagadorAlternativo, new { })
                        @Html.TextBoxFor(m => m.Data.PagadorAlternativo, new { @class = "form-control" })
                    </div>                    
                </div>
            }

            <div class="row">                
                <div>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#ConfirmationSaveModal" ><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
            <hr />
        </div>
    </div> 
</div>

<div class="modal fade" id="ConfirmationSaveModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p class="center">¿Esta seguro que desea almacenar la información?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" onclick="OnbtnSaveClick()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#LoadMenuForm").submit();
        });

        function OnbtnSaveClick()
        {
            $("#AddOrEditSAPParametersForm").submit();
        }
    </script>
}