﻿@model List< ECOsystem.Areas.Control.Models.FuelDistributionByCostCenter>
@{
    ViewBag.Title = "Distribución de Crédito por Centro de Costo";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();

    var downloadFile = TempData["DownloadResultFile"] != null ? (bool)TempData["DownloadResultFile"] ? true : false : false;
    var resultData = TempData["ResultData"] != null ? !string.IsNullOrEmpty(TempData["ResultData"].ToString()) ? TempData["ResultData"].ToString() : string.Empty : string.Empty;
    var invalidImportAmount = TempData["InvalidImportAmount"] != null ? (bool)TempData["InvalidImportAmount"] ? true : false : false;
}

@section styles {
    <style type="text/css">
        .grid-pager {
            margin-left: 10px;
            margin-top: -10px;
            margin-bottom: -10px;
            border-top: solid 1px lightgray;
        }

        .card-global-amount {
            background-color: #337AB7 !important;
            border-color: #337AB7 !important;
            color: #fff;
            margin-top: 0px;
        }

        #creditInfo .progress-bar {
            height: 3px;
            border-radius: 0;
        }

        #creditInfo .bar-text {
            color: white;
            height: 25px;
            background-color: transparent;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
        }

            #creditInfo .bar-text:after {
                content: attr(data-val);
                float: right;
                width: 100px;
                margin-right: -35px;
            }

        .SelectColor {
            background-color: rgb(255, 255, 115) !important;
        }

        .search {
            color: red;
            font-size: 20px;
            cursor: pointer;
        }

        .hight-text-card {
            font-size: 70px !important;
        }

        .searchBar {
            margin-bottom: 10px;
        }

        .amount-text {
            width: 60%;
        }

        .errormsg {
            position: absolute;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Html.BeginForm("DonwloadImportResults", "FuelDistributionByCostCenter", FormMethod.Post, new { id = "DonwloadResultFileForm" })) { }
@using (Html.BeginForm("FuelDistributionByCostCenterAddOrEdit", "FuelDistributionByCostCenter", FormMethod.Post, new { id = "FuelDistributionByCostCenterAddOrEditForm" })) { }
@using (Html.BeginForm("FuelDistributionByCostCenterCancel", "FuelDistributionByCostCenter", FormMethod.Post, new { id = "FuelDistributionByCostCenterCancelForm" })) { }

@using (Ajax.BeginForm("FuelDistributionByCostCenterSearch", "FuelDistributionByCostCenter", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "ECO_Control.FuelDistributionByCostCenter.OnSuccessSearch(data)"
}, new { id = "FuelDistributionByCostCenterSearchForm" }))
{
    @Html.Hidden("txtSearch")
}

<input class="hidden" id="downloadFile" value="@downloadFile" />
<input class="hidden" id="resultData" value="@resultData" />
<input class="hidden" id="invalidImportAmount" value="@invalidImportAmount" />

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-sm-12">
                    <div id="creditInfo">
                        <div class="card card-global-amount">
                            <div class="card-content card-content-indicator">
                                <div class="row">
                                    @{
                                        var creditData = Model.FirstOrDefault();
                                        var globalBartheme = creditData.PctTotalAssigned > 80 ? "danger" : creditData.PctTotalAssigned > 40 ? "warning" : "success";
                                        var assignedCreditStr = new HtmlString(creditData.AssignedStr + "&nbsp;(" + (int?)creditData.PctTotalAssigned + "%)");
                                        var leyend = string.Format("Disponible: {0} - {1}", DateTime.Now.Month, DateTime.Now.Year);
                                        var with = creditData.PctTotalAssigned + 1;
                                    }
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 less-padding-left less-padding-right">
                                        <i class="mdi mdi-bank hight-text-card"></i>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 less-padding-left less-padding-right">
                                        <div class="bg-custom">
                                            <div class="progress">
                                                <div id="AssignedCreditPct" class="progress-bar progress-bar-@globalBartheme triangle" role="progressbar" progress-value="@creditData.PctTotalAssigned%"></div>
                                            </div>
                                            <div class="progress2" style="margin-left:0px !important;">
                                                <span id="AssignedCreditAmt" class="progress-bar bar-text" data-val="@assignedCreditStr" role="progressbar" style="width:@with%"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 less-padding-left">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                            <div class="huge-very-medium">@creditData.TotalMasterCardStr</div>
                                            <div class="huge-very-low-middle">@leyend</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row searchBar">
                <div class="col-sm-6">
                    <span class="input-group-btn">
                        <button type="button" data-toggle="modal" data-target="#ImportModal" class="btn btn-primary" title="Importar Archivo"><i class="mdi mdi-file-import"></i>&nbsp;Importar Datos</button>
                    </span>
                </div>
                <div class="col-sm-6 pull-right">
                    <div class="input-group">
                        <input id="txtSearchCostCenter" name="key" type="text" class="form-control" placeholder="Buscar por Unidad o Centro de Costo">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar por Unidad o Centro de Costo"><i class="mdi mdi-magnify"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <div id="gridContainer">
                @Html.Partial("_partials/_Grid", Model)
            </div>

        </div>
    </div>
</div>

@Html.Partial("_partials/_Modals")

@section scripts {
    @Scripts.Render("~/bundles/ChartGoogleJS")
    <script src="~/Scripts/Control/FuelDistributionByCostCenter.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.FuelDistributionByCostCenter.Init({});
        });
    </script>
}
