﻿@model ECOsystem.Models.Core.UsersBase
@{
    ViewBag.Title = "Mantenimiento de Usuarios";
    ViewBag.Administration = "active";    //ViewBag.PartnerUsers = "active";
    ViewBag.HasGrid = true;
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            width: 128px;
            top: 10px;
            left: 20px;
        }

        .progress_bar.loading {
            opacity: 1.0;
        }

        .progress_bar .percent {
            background-color: #3090d1;
            height: auto;
            width: 0;
            padding-left: 5px;
        }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }

        .assign-roles {
            overflow-y: auto;
            overflow-x: hidden;
            height: 280px;
        }

        .checkbox {
            margin: 0px;
        }
    </style>

}

@using (Ajax.BeginForm("AddOrEditUsers", "PartnerUsers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm", autocomplete = "off" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

<!-- Save Form Start-->
@using (Ajax.BeginForm("AddorEditCustomerbyPartner", "PartnerUsers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainerClient",
    OnSuccess = "ECO_Partner.PartnerUsers.OnSuccessLoad()"
}, new { id = "saveFormCustomerbyPartner" }))
{
    @Html.Hidden("Custid")
    @Html.Hidden("UserId")
}

<!-- Save Form End-->

<div id="PartnerAuthorizedLoginContainer">
    @Html.Partial("_partials/_PartnerAuthorizedLogin")
</div>

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
    <div id="page-content-wrapper">
        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchUsers", "PartnerUsers", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnBegin = "ECOsystem.Utilities.ShowLoader();",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch();"
        }, new { id = "searchForm" }))
        {
            <input type="hidden" id="searchFormStatusId" name="StatusId" />
            <div class="row">
                <div class="col-sm-5">
                    <button id="btnAdd" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i>Agregar </button>
                </div>
                <div class="col-sm-7 pull-right">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="btnStatusName" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @switch (@Model.Parameters.Status)
                                {
                                    case 0:
                                        <span>Inactivos</span>
                                        break;
                                    case 1:
                                        <span>Activos</span>
                                        break;
                                    default:
                                        <span>Todos</span>
                                        break;
                                }
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.PartnerUsers.SearchByStatus(2);">Todos</a></li>
                                <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.PartnerUsers.SearchByStatus(1);">Activos</a></li>
                                <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.PartnerUsers.SearchByStatus(0);">Inactivos</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por identificación, nombre, usuario web, correo y número telefónico" value="@Model.Parameters.Key">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify mdi-18px"></i></button>
                        </span>
                        <span class="input-group-btn">
                            <button id="btnClean" type="button" class="btn btn-primary" title="Limpiar filtro" onclick="ECO_Partner.PartnerUsers.CleanFilters()"><i class="mdi mdi-filter-remove-outline mdi-18px"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        }

        @using (Ajax.BeginForm("LoadUsers", "PartnerUsers", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ECO_Partner.PartnerUsers.OnSuccessLoad()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }

        <!-- Dele Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteUsers", "PartnerUsers", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteCustomerbyPartner" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteCustomerbyPartner", "PartnerUsers", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainerClient",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteFormCbyP" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>

<div class="modal fade" id="ConfirmationSaveModalAuthorization" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p class="center">¿Desea almacenar los clientes seleccionados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;No</button>

                    <button type="button" class="btn btn-primary" id="btn-savedataCustomerByCustomers" onclick="ECO_Partner.PartnerUsers.SaveCustomersAuthorized()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name" id="SpanTitle">Asignación de Clientes a un Usuario</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">Datos Almacenados Correctamente</h4>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/Administration/PartnerUsers.js?v=@version-hf0"></script>
    <script src="~/Scripts/bootstrap-treeview.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.PartnerUsers.Init();
        });
    </script>
}
