﻿@using System.Configuration
@model  ECOsystem.Areas.Control.Models.Control.VehicleFuel

@{
    string currentSymbol = ViewBag.CurrencySymbol ?? Model.CurrencySymbol;
    string gallonToLitersEquivalence = ConfigurationManager.AppSettings["GALLONSTOLITERSEQUIVALENCE"];
    int CapacityUnitId =  ECOsystem.Utilities.Session.GetCustomerCapacityUnitId();
    SelectListItem currentMonthData = ECOsystem.Business.Utilities.GeneralCollections.GetCurrentMonthName.FirstOrDefault();
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.VehicleId)
            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.Liters)
            @Html.Hidden("CapacityUnitId", CapacityUnitId)
            @Html.Hidden("ConversionValue", gallonToLitersEquivalence)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de combustible por Vehículo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">

                    <div class="form-group">
                        @Html.Label("_CapacityUnitName", ECOsystem.Utilities.Session.GetCustomerCapacityUnitName(), new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.CapacityUnitValueStr, new { placeholder = "Cantidad", @class = "form-control", dataRefresh = "true", autofocus = "" })
                                @Html.HiddenFor(m => m.CapacityUnitValue)
                            </div>
                            @Html.ValidationMessageFor(m => m.CapacityUnitValueStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AmountStr, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">@currentSymbol</span>
                                @Html.TextBoxFor(m => m.AmountStr, new { placeholder = "Monto de Crédito", @class = "form-control", dataRefresh = "true", autofocus = "" })
                                @Html.HiddenFor(m => m.Amount)
                            </div>
                            @Html.ValidationMessageFor(m => m.AmountStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Month, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @*@Html.DropDownListFor(m => m.Month, @ECOsystem.Business.ECOsystem.Utilities.GeneralCollections.GetMonthNames, "Seleccione el mes", new { @class = "form-control" })*@
                            @Html.Hidden("Month", currentMonthData.Value)
                            @Html.TextBox("DataMonth", currentMonthData.Text, new { @class = "form-control", disabled="disabled" })
                            
                            @Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Year, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBox("Year", DateTime.Now.Year.ToString(), new { placeholder = "Digite el Año", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
