﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.VehicleFuel>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          //.AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.FuelName).SetWidth(150).Titled("Combustible").Sortable(true);
              c.Add(m => m.CapacityUnitValueStr).SetWidth(50).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).Sortable(true);
              c.Add(m => m.AmountStrCurrency).SetWidth(100).Titled("Monto Asignado").Sortable(true);
              c.Add(m => m.Year).SetWidth(60).Titled("Año").Sortable(true);
              c.Add(m => m.MonthName).SetWidth(100).Titled("Mes").Sortable(true);
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.Id" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                    <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.Id" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                </span>).Css("grid-col-btn");

          }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}