﻿@model ECOsystem.Management.Models.Event

@{
    var eventType = ECOsystem.Management.Utilities.Collections.GetCatalogDetail(ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.EventTypes), null)
                                                                                .Where(x => x.Text.Contains("Iniciar"))
                                                                                .Select(a => new SelectListItem { Value = a.Value, Text = a.Text.Split(' ')[1] }).ToList();
    var parentEvents = ECOsystem.Management.Utilities.Collections.GetEvents().Where(x => x.Value != (Model != null ? Model.Id.ToString() : string.Empty));
    Model.EventTypeId = Model.Init.EventTypeId;
    var GenericEvent = ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.GenericEvent);
    var beginJourney = ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.BeginJourneyEvent);
}
<br />
@Html.Hidden("GenericEvent", GenericEvent)
@Html.Hidden("BeginJourney", beginJourney)
@Html.Hidden("CurrentEventId", Model.EventTypeId)
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.Id)       
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.Label("Tipo de Evento")
                    @Html.DropDownListFor(m => m.EventTypeId, eventType, "Seleccione el Tipo de Evento", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.Label("Duración del Evento (Minutos)")
                    @Html.TextBoxFor(m => m.Lapse, new { placeholder = "Minutos", @class = "form-control", autofocus = "" })
                </div>
            </div>
            <div class="col-sm-3" style="padding-top:20px">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.CommerceRequired, new { @checked = Model.CommerceRequired ? "checked" : "" })&nbsp;<strong>Solicitar Comercio</strong>
                    </label>
                </div>
            </div>
            <div class="col-sm-3" style="padding-top:20px">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Tracking, new { @checked = Model.Tracking ? "checked" : "" })&nbsp;<strong>Transmisiones durante el evento</strong>
                    </label>
                </div>
            </div>
        </div>

        <fieldset>
            <legend>
                <label>Evento Inicial</label>
            </legend>
            <div class="row divFieldSet">
                @Html.HiddenFor(m => m.Init.Id)
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Nombre")
                        @Html.TextBoxFor(m => m.Init.Name, new { placeholder = "Nombre", @class = "form-control", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.Init.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Formulario")
                        @Html.DropDownListFor(m => m.Init.SurveyId, @ECOsystem.Management.Utilities.Collections.GetSurveys(), "Formulario", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Init.SurveyId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Color")
                        @Html.TextBoxFor(m => m.Init.Color, new { placeholder = "Color", @class = "form-control jscolor", autofocus = "" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Icono")
                        @Html.DropDownListFor(m => m.Init.IconId, @ECOsystem.Management.Utilities.Collections.GetCatalogDetail(ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.Icons), null), "Icono", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <label>Evento Final</label>
            </legend>
            <div class="row divFieldSet">
                @Html.HiddenFor(m => m.Finish.Id)
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Nombre")
                        @Html.TextBoxFor(m => m.Finish.Name, new { placeholder = "Nombre", @class = "form-control", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.Finish.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Formulario")
                        @Html.DropDownListFor(m => m.Finish.SurveyId, @ECOsystem.Management.Utilities.Collections.GetSurveys(), "Formulario", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Finish.SurveyId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Color")
                        @Html.TextBoxFor(m => m.Finish.Color, new { placeholder = "Color", @class = "form-control jscolor", autofocus = "" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.Label("Icono")
                        @Html.DropDownListFor(m => m.Finish.IconId, @ECOsystem.Management.Utilities.Collections.GetCatalogDetail(ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.Icons), null), "Icono", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row" id="showEventValidation" hidden>
            <div class="col-sm-12">
                @Html.Label("** El Tipo de Evento y El nombre de los Eventos son requeridos **", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button id="btnClose" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button id="btnAddEvent" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jscolor.js"></script>