﻿@model List<ECOsystem.Management.Models.Event>

@if (Model != null && Model.Any())
{

    @Html.Hidden("hasEvents", Model.Any())
    @(Html.Grid(Model)
                .Selectable(true)
                .Columns(c =>
                {
                    c.Add().Titled("Tipo de Evento")
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => ECOsystem.Management.Utilities.Collections.GetCatalogDetail(ECO_Management.Models.CatalogDetail.GetItemId(ECO_Management.Models.CatalogDetailEnum.EventTypes), null)
                                                                                        .Where(x => x.Text.Contains("Iniciar") && x.Value == m.Init.EventTypeId.ToString()).FirstOrDefault().Text.Split(' ')[1]);
                    c.Add().Titled("Nombre Evento Inicio")
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @m.Init.Name);
                    c.Add().Titled("Formulario Asociado")
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @m.Init.SurveyName);
                    c.Add().Titled("Nombre Evento Final")
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @m.Finish.Name);
                    c.Add().Titled("Formulario Asociado")
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @m.Finish.SurveyName);
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @<span>
                            <a href="#" class="edit-color" id="@m.Id" title="Editar" edit_row_events><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.Id" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                        </span>)
                                   .Css("grid-col-btn");
                            }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
