﻿

@model ECOsystem.Models.Core.ServiceStationsBase
@{
    ViewBag.Title = "Estaciones de Servicio";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    var header = 17;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var placeHolderSearch = "Buscar por N° de Afiliado, Nombre, " + geopoliticalLevel1 + " o " + geopoliticalLevel2 + ", Terminal...";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .removetop {
            margin-top: -15px;
        }

        .tableHeader {
            position: relative;
            height: 30px;
            background-color: #003594;
            color: #fff;
        }
    </style>
}
@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("LoadServiceStations", "ServiceStations", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECO_Partner.ServiceStations.OnSuccessLoad()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

@using (Ajax.BeginForm("ExcelReportDownload", "ServiceStations", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Partner.ServiceStations.ShowLoader()",
    OnSuccess = "ECO_Partner.ServiceStations.OnSuccessReportData(data)"
}, new { id = "GetDataToDownloadForm" })) { }

@using (Html.BeginForm("DonwloadFile", "ServiceStations", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    <div id="container-fluid">
        @using (Ajax.BeginForm("SearchServiceStations", "ServiceStations", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnBegin = "ECOsystem.Utilities.ShowLoader()",
            OnSuccess = "ECOsystem.Utilities.HideLoader()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success" title="Agregar" onclick="ECO_Partner.ServiceStations.AddServiceStationModal()" id="btnAdd"><i class="mdi mdi-plus"></i> Agregar Estación</button>
                    <button type="button" class="btn btn-default btn_title" title="Importar" onclick="ECO_Partner.ServiceStations.OnClickImport()"><i class="mdi mdi-file-import" style="font-size:18px;"></i> Importar Terminales</button>
                    <button type="button" class="btn btn-default btn_title" title="Importar Estaciones Servicio" onclick="ECO_Partner.ServiceStations.OnClickImport4()"><i class="mdi mdi-file-import" style="font-size:18px;"></i> Importar Estaciones</button>
                    <button id="btnGetDownloadData" type="button" class="btn btn-default" title="Exportar a Excel"><i class="mdi mdi-format-list-bulleted"></i>&nbsp;Exportar a Excel</button>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="txtSearchS" name="key" type="text" class="form-control" placeholder="@placeHolderSearch">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        }

        @using (Ajax.BeginForm("AddOrEditServiceStations", "ServiceStations", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnBegin = "ECO_Partner.ServiceStations.ShowLoader()",
            OnSuccess = "ECO_Partner.ServiceStations.AddOrEditModalClose()"
        }, new { id = "addOrServiceStationsEditForm" }))
        {
            <div id="detailContainer" hidden>
                @Html.Partial("_partials/_AddOrEdit", Model.Data)
            </div>
        }

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>

        <div class="modal fade" id="ImportModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    @using (Html.BeginForm("AddOrEditImportServiceStation", "ServiceStations", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImportForm" }))
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Importacion de Conductores</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input id="txtFile" name="key" type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Partner.ServiceStations.OnClickImport2()"><i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Buscar</button>
                                            <input type="file" class="hide" accept=".csv" id="ImportCSV" size="43" name="fileHidden" onchange="ECO_Partner.ServiceStations.GetFilename(this)" />
                                        </span>
                                    </div>
                                    <br />
                                    <label>* Tipo de archivo CSV</label><br />
                                    <label>* El proceso puede tardar algunos minutos</label><br />
                                    <label>* Por favor validar que el archivo tiene el formato correcto. Click <a class="" href="@Url.Action("DonwloadExampleFile", "ServiceStations")">aquí</a> para descargar archivo de ejemplo.</label>
                                </div>
                            </div>
                            <div id="validationFormat" class="row top20">
                                <div id="errorFormatMsj" class="col-sm-12 text-danger">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-2">
                                <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button id="btnImport" type="button" class="btn btn-primary hidden" onclick="ECO_Partner.ServiceStations.OnClickImport3()"><i class="mdi mdi-check"></i>&nbsp;Importar</button>
                        </div>
                    }

                    @if (Session["SummaryFile"] != null)
                    {
                        using (Html.BeginForm("DonwloadReportFile", "ServiceStations", FormMethod.Post, new { id = "DownloadFileForm" })) { }
                    }
                </div>
            </div>
        </div>

        <!--[ Modal upload Service Station by Excel (xlsx) ]-->
        <div class="modal fade" id="ImportModal2" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    @using (Html.BeginForm("AddOrEditImportServiceStation", "ServiceStations", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImportForm" }))
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Importacion de Estaciones de Servicio</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input id="txtFileXlsx" name="key" type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="ECO_Partner.ServiceStations.OnClickImportXlsx()"><i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Buscar</button>
                                            <input type="file" class="hide" accept=".xlsx" id="xlf" size="43" name="fileHidden" />
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>* Tipo de archivo .xlsx</label><br />
                                        <label>* El proceso puede tardar algunos minutos</label><br />
                                        <label>* Las estaciones que no existan en nuestra plataforma, NO se ingresaran.</label><br />
                                        <label>* Por favor validar que el archivo tiene el formato correcto. Click <a class="" href="@Url.Action("DonwloadExampleFileExcel", "ServiceStations")">aquí</a> para descargar archivo de ejemplo.</label>
                                    </div>
                                </div>
                            </div>

                            <div id="validationFormat" class="row top20">
                                <div id="errorFormatMsj" class="col-sm-12 text-danger">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-2">
                                <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button id="btnImport" type="button" class="btn btn-primary hidden" onclick="ECO_Partner.ServiceStations.OnClickImport3()"><i class="mdi mdi-check"></i>&nbsp;Importar</button>
                        </div>
                    }

                    @if (Session["SummaryFile"] != null)
                    {
                        using (Html.BeginForm("DonwloadReportFile", "ServiceStations", FormMethod.Post, new { id = "DownloadFileForm" })) { }
                    }
                </div>
            </div>
        </div>

        <br />
        <div class="modal fade" id="deleteModalStacionesServicio" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteServiceStatios", "ServiceStations", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnBegin = "ECOsystem.Utilities.ShowLoader()",
                        OnSuccess = "ECO_Partner.ServiceStations.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        @Html.Hidden("id")
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteTerminalModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea remover la Terminal?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnDeleteTerminal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationaddoreditmodal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Estaciones de Servicio</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea almacenar los cambios?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnAddOrEditServiceStations"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Utilities/jquery.maskedinput.min.js?v=@version-hf0"></script>
    <script src="~/Scripts/Administration/ServiceStations.js?v=@version-hf0"></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/XlsxImportObjects/exportJsonToCsv.js"></script>
    <script src="/Scripts/XlsxImport/shim.js"></script>
    <script src="/Scripts/XlsxImport/xlsx.full.min.js"></script>

    <script src="~/Scripts/XlsxImportObjects/serviceStationImport.js"></script>
    <script src="~/Scripts/XlsxImportObjects/importExcel.js"></script>

    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.ServiceStations.Init();
        });

        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
