﻿@model ECO_Partner.Models.GeneralParametersBase

@{
    ViewBag.Title = "Parámetros Generales";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
    var partnerType = ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId());
    var DayOfMonthClass = "hide";
    var DaysClass = "";

    if (Model.Data.Periodicity == 30)
    {
        DayOfMonthClass = "";
        DaysClass = "hide";
    }
}

@section styles {
    <style>
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            @using (Ajax.BeginForm("AddOrEditGeneralParameters", "GeneralParameters", null, new AjaxOptions
            {
                HttpMethod = "post",
                OnBegin = "ECO_Partner.GeneralParameters.ShowLoader()",
                OnSuccess = "ECO_Partner.GeneralParameters.ShowAffirmationModal(data)"
            }, new { id = "addOrEditForm" }))
            {
                @Html.HiddenFor(m => m.Data.Id)

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Parámetros para alarmas")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.AlarmDays)
                                </div>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.Data.AlarmDays, new { placeholder = "Número de Días", @class = "form-control", @value = "" })
                                    @Html.ValidationMessageFor(m => m.Data.AlarmDays, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("Días")
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.StationTolerance)
                                </div>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.Data.StationTolerance, new { placeholder = "%", @class = "form-control", @value = "" })
                                    @Html.ValidationMessageFor(m => m.Data.StationTolerance, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-1">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Porcentaje de Tolerancia Para Montos por Estaciones de Servicio">
                                        <i class="mdi mdi-information" style="font-size:18px; color:#6D6E71; margin-top: 9px;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Parámetros para reporte de facturación")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.RTN)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.RTN, new { placeholder = "RTN", @class = "form-control", @value = "" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.PhoneNumber)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.PhoneNumber, new { placeholder = "Número de Teléfono", @class = "form-control", @value = "" })
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.Address)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.Address, new { placeholder = "Dirección", @class = "form-control", @value = "" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.BacService)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.BacService, new { placeholder = "Nombre del Servicio", @class = "form-control", @value = "" })
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.BacName)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.BacName, new { placeholder = "Nombre de la Entidad", @class = "form-control", @value = "" })
                                </div>
                            </div>
                        </div>
                        <hr />
                        <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Parámetros para la validación de POS en Estaciones de Servicio")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.CreditCardNumber)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.CreditCardNumber, new { placeholder = "Número de Tarjeta", @class = "form-control", @value = "" })
                                    <label class="text-danger" id="valmsj" hidden></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.Amount)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.Amount, new { placeholder = "Monto en la Transacción", @class = "form-control", @value = "" })
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label style="font-weight:bold;">
                                            @Html.CheckBoxFor(m => m.Data.Active)Activar Validación
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Cantidad de días para una transacción en estado flotante")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.PreauthorizedDays)
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.PreauthorizedDays, new { placeholder = "Número de días", @class = "form-control", @value = "" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.PreauthorizedEmail)
                                </div>
                                <div class="col-sm-9">
                                    <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com ">
                                        @Html.TextBoxFor(m => m.Data.PreauthorizedEmail, new { placeholder = "Correo de Notificación", @class = "form-control", @value = "" })
                                    </span>
                                    <span class="text-danger" id="valmsjPE" hidden></span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <hr />

                        @*---------------------------------------*@
                        <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Notificaciones para expiración de las tarjetas")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.Data.CardAlarmEmail)
                                </div>
                                <div class="col-sm-9">
                                    <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com ">
                                        @Html.TextBoxFor(m => m.Data.CardAlarmEmail, new { placeholder = "Correo para notificar la expiración de tarjetas", @class = "form-control", @value = "" })
                                    </span>
                                    <span class="text-danger" id="valmsjCAE" hidden></span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <hr />

                        @*---------------------------------------*@
                        <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Parámetros para Contratos")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.Label("Años por Defecto")
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.ContractYears, new { placeholder = "Años por Defecto", @class = "form-control contractText", @value = "", @type = "number", @min = "1" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3">
                                    @Html.Label("Alertar (Días)")
                                </div>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Data.ContractAlertDays, new { placeholder = "Número de Días", @class = "form-control contractText", @value = "", @type = "number", @min = "1" })
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12" style="margin-left: 25px; margin-bottom: 10px;">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.Data.SelectAllVehicles)&nbsp;<b>Todos los Vehículos</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <hr />
                        @*---------------------------------------*@
                        @* SMS Prices Parametesr *@
                        <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("SMS para clientes")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                @Html.Label("Utilizar:", new { @class = "col-sm-14 control-label rowLabel" })
                            </div>
                            <div class="col-sm-4">
                                <div class="mdl-radio__button">
                                    <label style="font-weight:bold">
                                        @Html.RadioButtonFor(m => m.Data.SMSInternalModem, true, new { @class = "mdl-radio__button" }) Modem Interno (Sólo Costa Rica)
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mdl-radio__button">
                                    <label style="font-weight:bold">
                                        @Html.RadioButtonFor(m => m.Data.SMSInternalModem, false, new { @class = "mdl-radio__button", disabled = "disabled" }) Internacional
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            @{
                                var from = Model.Data.SMSPricesList.Count > 0 ? Model.Data.SMSPricesList.Max(x => x.To) > 0 ? Model.Data.SMSPricesList.Max(x => x.To) + 1 : 1 : 1;
                            }
                            @Html.Hidden("maxfrom", from)
                            @Html.Hidden("PricesId")
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.Label("Desde", new { @class = "col-sm-14 control-label rowLabel" })
                                    @Html.TextBox("txtFrom", from, new { placeholder = "Desde", @class = "form-control", style = "text-align:right;", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.Label("Hasta", new { @class = "col-sm-14 control-label rowLabel" })
                                    @Html.TextBox("txtTo", string.Empty, new { placeholder = "Hasta", @type = "number", @class = "form-control withoutdecimal", style = "text-align:right;" })
                                    <label class="text-danger" style="margin-top:10px;" hidden id="warningTo">El valor no se encuentra en el rango permitido.</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.Label("Monto", new { @class = "col-sm-14 control-label rowLabel" })
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        @Html.TextBox("txtPrice", string.Empty, new { placeholder = "Monto", @type = "number", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                                    </div>
                                    <label class="text-danger" style="margin-top:10px;" hidden id="warningPrice">Valor requerido.</label>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <br />
                                    <button type="button" class="btn btn-primary" id="btnAddEditNewPrice" style="margin-top: 5px;"><i class="mdi mdi-plus mdi-18px"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" id="pricesGridContainer">
                                @Html.Partial("_partials/_PricesGrid", Model.Data.SMSPricesList)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" id="rangevalidationwarning" hidden>
                                <br />
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Por favor validar el valor de los rangos
                                </div>
                            </div>
                        </div>

                        @*---------------------------------------*@
                        @* API Token *@
                        <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Código de Seguridad para acceso a servicios API")
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-info alert-dismissible fade in" role="alert">
                                    <i class="mdi mdi-information"></i>&nbsp;El Código de Seguridad le permitirá tener acceso a los Servicios API expuestos para el consumo de datos generados en Flotas.
                                    Al seleccionar <b>Generar Nuevo</b> se creará un nuevo código de seguridad.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label style="font-weight:bold;">
                                            @Html.CheckBoxFor(m => m.Data.GenerateToken)&nbsp;Generar Nuevo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.Label("Código de seguridad:", new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.Data.APIToken, new { placeholder = "Código de seguridad", @class = "form-control", @readonly = "true" })
                                </div>
                            </div>
                        </div>
                        @if (partnerType == ECOsystem.Utilities.ProductInfo.LineVitaECO)
                        {
                            <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.Label("Notificaciones de Clientes Piloto / Prueba")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                                        <i class="mdi mdi-information"></i>&nbsp; Correo que recibirá notificaciones de clientes que siguen en Modo Piloto / Prueba
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-3">
                                        <label for="Data_PilotModeNotificationEmail">Correo</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com">
                                            @Html.TextBoxFor(m => m.Data.PilotModeNotificationEmail, new { placeholder = "Correo para notificar clientes en Modo Piloto", @class = "form-control", @value = "" })
                                        </span>
                                        <span class="text-danger" id="valpilotemail" hidden>El formato de el correo no es el correcto</span>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (partnerType != ECOsystem.Utilities.ProductInfo.LineVitaECO)
                        {

                            @*---------------------------------------*@
                            @* Closed Credit Card Alert *@
                            <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.Label("Alerta por tarjetas cerradas")
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.Label("Cantidad de tarjetas:", new { @class = "col-sm-14 control-label" })
                                        @Html.TextBoxFor(m => m.Data.CancelCreditCardNumber, new { placeholder = "Cantidad de tarjetas", @class = "form-control", @type = "number", @min = "1" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.Label("Correos electrónicos:", new { @class = "col-sm-14 control-label" })

                                        <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com">
                                            @Html.TextBoxFor(m => m.Data.CancelCreditCardEmails, new { placeholder = "Correos electrónicos", @class = "form-control" })
                                        </span>
                                        <span class="text-danger" id="valmsjcce" hidden>El formato de el correo no es el correcto</span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12" style="margin-left: 25px; margin-bottom: 10px;">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.Data.CancelCreditCardActive)&nbsp;<b>Alerta activa</b>
                                    </div>
                                </div>
                            </div>
                            @*---------------------------------------*@
                            @* Credit Card Expires Alert *@
                            <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.Label("Alerta por Vencimiento de Tarjetas")
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label><strong>¿Cuántos días antes desea que la alerta comience?</strong></label>
                                </div>
                            </div>
                            <div class="row" style="padding-left:20px">
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(m => m.Data.AlertBefore, "", new { @class = "form-control text-left", @type = "number", @min = "1", @max = "100" })
                                </div>
                                <div class="col-sm-1" style="padding-top:7px">
                                    <label><strong>Días</strong></label>
                                </div>
                            </div>
                            <hr />
                            <div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-3" style="border-right: 1px solid #ccc; height:83px;">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label><strong>Periodicidad:</strong></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr class="grid-row ">
                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.Periodicity, "7", new { @class = "rdbWeekly", @onclick = "ECOsystem.CustomersByPartner.OnClickWeekly();" })
                                                                                        Semanal
                                                                                    </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.Periodicity, "30", new { @class = "rdbMonthly", @onclick = "ECOsystem.CustomersByPartner.OnClickMonthly();" })
                                                                                        Mensual
                                                                                    </label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 @DaysClass" style="border-right: 1px solid #ccc; height:83px;" id="divDays">
                                                    <div class="row">
                                                        <div class="col-lg-11">
                                                            <label><strong>Día de entrega:</strong></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-11">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr class="grid-row ">
                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.NameDay, "2", new { })
                                                                                        Lunes
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.NameDay, "3", new { })
                                                                                        Martes
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.NameDay, "4", new { })
                                                                                        Miércoles
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.NameDay, "5", new { })
                                                                                        Jueves
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.NameDay, "6", new { })
                                                                                        Viernes
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.NameDay, "7", new { })
                                                                                        Sábado
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.NameDay, "1", new { })
                                                                                        Domingo
                                                                                    </label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 @DayOfMonthClass" style="border-right: 1px solid #ccc; height:83px;" id="divDayOfTheMonth">
                                                    <label>Día de entrega:</label>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.TextBoxFor(m => m.Data.NameDate, "", new { placeholder = "Día del mes", @class = "form-control text-left", @type = "number", @min = "1", @max = "31" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <label><strong>Repetir cada:</strong></label>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                @Html.TextBoxFor(m => m.Data.Repeat, "", new { placeholder = "Repetición del cierre", @class = "form-control text-left", @type = "number", @min = "1", @max = "100" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left:20px">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.Label("Correos electrónicos:", new { @class = "col-sm-14 control-label" })

                                        <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com">
                                            @Html.TextBoxFor(m => m.Data.ExpireCreditCardEmails, new { placeholder = "Correos electrónicos", @class = "form-control" })
                                        </span>
                                        <span class="text-danger" id="valmsjcce" hidden>El formato de el correo no es el correcto</span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row" style="padding-left:20px">
                                <div class="col-sm-12" style="margin-left: 25px; margin-bottom: 10px;">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.Data.ExpireCreditCardActive)&nbsp;<b>Alerta activa</b>
                                    </div>
                                </div>
                            </div>
                            @*---------------------------------------*@
                            @* Master Card Available Alert *@
                            <hr style="border-bottom: solid 1px lightgray; padding:0 5px !important;" />
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.Label("Alerta de consumo Tarjeta Maestra")
                                </div>
                            </div>
                            <br />
                            <div class="row" style="padding-left:20px">
                                <div class="col-sm-3">
                                    <label><strong>Porcentaje de Consumo para alertar:</strong></label>
                                </div>
                            </div>
                            <div class="row" style="padding-left:20px">
                                <div class="col-sm-1">
                                    @Html.TextBoxFor(m => m.Data.MasterCardPercent, "", new { @class = "form-control text-left", @type = "number", @min = "1", @max = "100" })
                                </div>
                                <div class="col-sm-1" style="padding-top:7px">
                                    <label><strong>%</strong></label>
                                </div>
                            </div>                            
                            <br />
                            <div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-3" style="border-right: 1px solid #ccc; height:83px;">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label><strong>Periodicidad:</strong></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr class="grid-row ">
                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertPeriodicity, "7", new { @class = "rdbWeekly", @onclick = "ECOsystem.CustomersByPartner.OnClickWeekly();" })
                                                                                        Semanal
                                                                                    </label>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertPeriodicity, "30", new { @class = "rdbMonthly", @onclick = "ECOsystem.CustomersByPartner.OnClickMonthly();" })
                                                                                        Mensual
                                                                                    </label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 @DaysClass" style="border-right: 1px solid #ccc; height:83px;" id="divDays">
                                                    <div class="row">
                                                        <div class="col-lg-11">
                                                            <label><strong>Día de entrega:</strong></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-11">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr class="grid-row ">
                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertNameDay, "2", new { })
                                                                                        Lunes
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertNameDay, "3", new { })
                                                                                        Martes
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertNameDay, "4", new { })
                                                                                        Miércoles
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertNameDay, "5", new { })
                                                                                        Jueves
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertNameDay, "6", new { })
                                                                                        Viernes
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertNameDay, "7", new { })
                                                                                        Sábado
                                                                                    </label>
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="mdl-radio">
                                                                                    <label style="font-weight:normal">
                                                                                        @Html.RadioButtonFor(m => m.Data.MasterCardAlertNameDay, "1", new { })
                                                                                        Domingo
                                                                                    </label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7 @DayOfMonthClass" style="border-right: 1px solid #ccc; height:83px;" id="divDayOfTheMonth">
                                                    <label>Día de entrega:</label>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            @Html.TextBoxFor(m => m.Data.MasterCardAlertNameDate, "", new { placeholder = "Día del mes", @class = "form-control text-left", @type = "number", @min = "1", @max = "31" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <label><strong>Repetir cada:</strong></label>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                @Html.TextBoxFor(m => m.Data.MasterCardAlertRepeat, "", new { placeholder = "Repetición del cierre", @class = "form-control text-left", @type = "number", @min = "1", @max = "100" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left:20px">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.Label("Correos electrónicos:", new { @class = "col-sm-14 control-label" })

                                        <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com">
                                            @Html.TextBoxFor(m => m.Data.MasterCardEmails, new { placeholder = "Correos electrónicos", @class = "form-control" })
                                        </span>
                                        <span class="text-danger" id="valmsjcce" hidden>El formato de el correo no es el correcto</span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row" style="padding-left:20px">
                                <div class="col-sm-12" style="margin-left: 25px; margin-bottom: 10px;">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.Data.MasterCardAlertActive)&nbsp;<b>Alerta activa</b>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="button" id="btnAccept" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="element-name">Parámetros Generales</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center" id="msjresult">Datos almacenados correctamente</h4>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/GeneralParameters.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.GeneralParameters.Init();
        });
    </script>
}
