﻿@model  ECOsystem.Areas.Control.Models.Control.AlarmByOdometer

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.HiddenFor(m => m.AlarmOdometerId)
            @Html.HiddenFor(m => m.VehicleId)
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Nuevo Odómetro<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewOdometer, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.NewOdometer, new { placeholder = "Valor del Odómetro", @class = "form-control", numeric="" })
                            @Html.ValidationMessageFor(m => m.NewOdometer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>                    
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<script type="text/javascript">
    try {
        ECOsystem.Utilities.ApplyNumericInputs();
    } catch (e) {} 
</script>    
