﻿@model IEnumerable<ECOsystem.Models.ProgramSendReportsShow>

@if (Model.Any() || Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        var isChecked = item.Active ? "checked='checked'" : "";
                        var idReportActive = "Report_" + item.Id;
                        item.Parameters = item.Parameters ?? new ECOsystem.Models.ReportParameters();
                    }

                    <td>
                        <div class="card-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="middleCells">
                                        <div class="col-sm-12" style="padding-left:0;">
                                            <div class="col-sm-2">
                                                <input id="@idReportActive" name="@item.Id" type="checkbox" class="toggleCheck reportCheck" @isChecked />
                                            </div>
                                            <div class="col-sm-8" data-toggle="collapse" data-parent="#Report-@item.Id" href="#Report-@item.Id" style="cursor:pointer;">
                                                <h4>@item.DownloadName</h4>
                                            </div>
                                            <div class="col-sm-2" data-toggle="collapse" data-parent="#Report-@item.Id" href="#Report-@item.Id" style="cursor:pointer;">
                                                <label class="label label-success" style="cursor:pointer;font-size:15px;">Ver Detalles</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Report-@item.Id" class="panel-collapse accordin-left collapse">
                            <div class="panel-body">
                                @Html.Partial("_Partials/_Parameters", item.Parameters)
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="button" data-toggle="modal" data-target="#confirmModal" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encuentraron resultados
    </div>
}

<div class="modal fade" id="confirmModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Envío Programado de Reportes</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea almacenar los datos?</p>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" data-btnmodal="true" class="btn btn-primary" id="confirmChanges"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>


