﻿@using  ECOsystem.Areas.Control.Models.Control
@model VehicleLowPerformanceReportBase
@{
    ViewBag.Title = "Vehículos con Bajo Rendimiento";
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    ViewBag.VehicleLowPerformanceReportIndex = "active";
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        /*.carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }*/

        .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
            padding: 5px 25px 5px 25px;
        }

            .carousel-indicators li {
                background: #4B4B4B;
            }

            .carousel-indicators .active {
                background: #428BCA;
            }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

            .carousel-control:hover {
                color: #d9534f;
            }
    </style>
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="3" />

        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

<div id="page-content-wrapper">

    @using (Html.BeginForm("Index", "VehicleLowPerformanceReport", FormMethod.Post, new { id = "ReloadForm" }))   
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" }, {"custom","true"}})
            </div>
            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" }, { "id", "ddlMonth" }, { "custom", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" }, { "id", "ddlYear" }, { "custom", "true" } })
                </div>
            </div>
            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "id", "startDate" }, { "autocomplete", "off"} })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "id", "endDate" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.VehicleId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehiclesByCustomer, "Seleccione un Vehículo", new { @class = "form-control fbold", custom = "true" })
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success" title="Buscar resultados"><i class="mdi mdi-magnify"></i>&nbsp;Buscar</button>
            </div>
        </div>
    }

    @if (Model.List != null && Model.List.Any())
    {
        <div id="ControlsContainer">
            <div class="card">
                <div class="card-content">
                    <div class="row pull-left">
                        @if (!isPrintView)
                        {
                            using (Html.BeginForm("ExcelReportDownload", "VehicleLowPerformanceReport", FormMethod.Post, new { id = "formExcel" }))
                            {
                                @Html.HiddenFor(m => m.ReportCriteriaId)
                                <div class="dropdown col-lg-4 col-lg-offset-2 top10">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                        <i class="mdi mdi-share"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("ExcelReportDownload", "VehicleLowPerformanceReport", new { p = Model.ParametersInBase64 } )" download>
                                                <i class="mdi mdi-format-list-bulleted"></i> Exportar Excel
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                                <i class="mdi mdi-printer"></i> Formato Impresión
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }

                        }
                        else
                        {
                            <a type="button" id="btnPrint" class="btn btn-default col-lg-1 col-lg-offset-5"><i class="mdi mdi-printer"></i>&nbsp;Imprimir</a>
                        }
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-sm-12" id="gridContainer">
                            @Html.Partial("_partials/_Grid", Model.List)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
    </div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")

    <script src="~/Scripts/Control/vehicleLowPerformanceReport.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.VehicleLowPerformanceReport.Init( {
                Model: @Html.Raw(Json.Encode(Model)),
            });
        });
    </script>
}




