﻿@model ECO_Efficiency.Models.RealTimeGroupBase
@{
    ViewBag.Title = "Vehículos en Tiempo Real";
    ViewBag.Localizacion = "active";
    ViewBag.Localization = "active";
    ViewBag.Efficiency = "active";
    ViewBag.MapsRealTimeGroupIndex = "active";
    ViewBag.HasGrid = true;
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }
        .colpick {
            z-index: 9999;
        }
    </style>
}


@using (Ajax.BeginForm("AddOrEditVehicles", "RealTimeGroup", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="1" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
    @*@Html.Partial("~/Views/Localization/_partials/_Menu.cshtml")*@
    <div id="page-content-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Vehículos por Grupo en Tiempo Real</h3>
            </div>
        </div>

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchVehicles", "RealTimeGroup", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
            }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">

                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                        </span>

                    </div>
                </div>
            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadRealTimeGroup", "RealTimeGroup", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "detailContainer",
                            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
                        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>

@section scripts {
    <script>
        //$(function () {
        //    ECOsystem.Vehicles.Init();
        //});
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
        });
    </script>
}
