﻿@model ECO_Control.Models.Control.VehiclesByGroupData

@if ((Model.AvailableVehiclesList != null && Model.AvailableVehiclesList.Any()) || (Model.ConnectedVehiclesList != null && Model.ConnectedVehiclesList.Any()))
{

    <div class="row">
        <div class="col-sm-6" data-spy="scroll" data-target="#available" data-offset="0">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <strong>Lista de Vehículos</strong>
                </a>
                <div id="AvailableVehicles" class="connected scrol-list">

                    @if (Model.AvailableVehiclesList != null)
                    {
                        foreach (var item in Model.AvailableVehiclesList)
                        {
                            <div class="list-group-item box">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="bs-callout bs-callout-blue text-center">
                                            <h4 class="bs-color-blue">@item.PlateId</h4>
                                            @Html.Hidden("VehicleId", @item.VehicleId)
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <p><strong>@item.VehicleName</strong></p>
                                        <p>@item.VehicleType</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>

        <div class="col-sm-6" data-spy="scroll" data-target="#connected" data-offset="0">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <strong>Vehículos Asociados al Grupo</strong>
                </a>
                <div id="ConnectedVehicles" class="connected scrol-list">
                    @if (Model.ConnectedVehiclesList != null)
                    {
                        foreach (var item in Model.ConnectedVehiclesList)
                        {
                            <div class="list-group-item box">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="bs-callout bs-callout-blue text-center">
                                            <h4 class="bs-color-blue">@item.PlateId</h4>
                                            @Html.Hidden("VehicleId", @item.VehicleId)
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <p><strong>@item.VehicleName</strong></p>
                                        <p>@item.VehicleType</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row top20">
        <div class="col-sm-12">
            <div class="text-info"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Utilice la funcionalidad de <strong>Arrastrar y colocar</strong> vehículos entre cada lista.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
        </div>
        <div class="col-sm-4 text-right">
            <a href="@Url.Action("Index", "VehiclesByGroup")" atype="button" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</a>
            <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
        </div>
    </div>

}