﻿@model ECOsystem.Models.Account.DinamicFilterBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Filtros por Vehículos para Usuarios";
    ViewBag.Administration = "active";

    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .treeview .list-group-item {
            cursor: pointer;
        }

        .treeview span.indent {
            margin-left: 10px;
            margin-right: 10px;
        }

        .treeview span.icon {
            width: 12px;
            margin-right: 5px;
        }

        .treeview .node-disabled {
            color: silver;
            cursor: not-allowed;
        }

        .modal-backdrop {
            opacity: 0.6 !important;
        }
    </style>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">

    <div class="row top20">            
        <div class="row">                
            <div class="row form-group" style="margin-left:40px !important;">
                <div class="col-sm-5">
                    <label>Usuario:</label>
                    @Html.DropDownListFor(m => m.Data.UserId, @ECOsystem.Controllers.Account.DinamicFilterController.RetrieveUsers(), "Seleccione un Usuario...", new { @class = "form-control", id = "ddlUsers", custom = "true" })
                </div>
                <div class="col-sm-5">
                    <label>Tipo de Filtro:</label>
                    @Html.DropDownListFor(m => m.Data.Filter, Model.Data.List, "Seleccione un Tipo de Filtro...", new { @class = "form-control", id = "ddlFilterType", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>       
    <div>
        @Html.Partial("_partials/_TreeView")
    </div>
</div>

<div class="modal fade" id="ConfirmationSaveModalDinamicFilter" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>¿Desea almacenar los Filtros seleccionados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>

                    <button type="button" class="btn btn-primary" id="btn-savedataDinamicFilter" onclick=" ECOsystem.Areas.Admin.DinamicFilter.SaveDinamicFilter()"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name">Mantenimiento de Filtros Dinámicos</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">Filtros de Usuario Guardados Correctamente</h4>
            </div>

            <div class="modal-footer">                
            </div>
        </div>
    </div>
</div>

@section scripts { 
    <script src="~/Scripts/Administration/DinamicFilter.js?v=@version-hf0"></script>  
    <script src="~/Scripts/bootstrap-treeview.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.DinamicFilter.Init();
        });

        $("#ddlFilterType").off('change.ddlFilterType').on('change.ddlFilterType', function () {
            
            var key = $('#ddlFilterType').val();
            var userId = $("#ddlUsers").val();
            var json;

            if (key == "") {
                $('#treeview-checkable').html('');
                $('#treeview-checkable').prepend('<p class="top20 text-success">No se encontraron resultados</p>');
                $('#btn-check-node').addClass('disabled');
                $('#btn-uncheck-node').addClass('disabled');
                $('#btn-check-all').addClass('disabled');
                $('#btn-uncheck-all').addClass('disabled');
                $('#btn-savedata').addClass('hidden');
                $('#CheckAll').addClass('hidden');
                $('#treeViewContainer').addClass('hide');

                return;
            }
            else
            {
                $.ajax({
                    url: '/DinamicFilter/GetTreeData',
                    type: 'POST',
                    data: JSON.stringify({ Key: key, UserId: userId }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {

                        $('#chkAll').removeClass('mdi-checkbox-marked');
                        $('#chkAll').addClass('mdi-checkbox-blank');
                        $('#treeViewContainer').removeClass('hide');

                        
                        json = data;
                        if (json == '[]') {
                            $('#treeview-checkable').html('');
                            $('#treeview-checkable').prepend('<p class="top20 text-success">No se encontraron resultados</p>');
                            $('#btn-check-node').addClass('disabled');
                            $('#btn-uncheck-node').addClass('disabled');
                            $('#btn-check-all').addClass('disabled');
                            $('#btn-uncheck-all').addClass('disabled');
                            $('#btn-savedata').addClass('hidden');
                            $('#CheckAll').addClass('hidden');
                        }
                        else {

                            var search = function (e) {
                                var pattern = $('#input-search').val();
                                var options = {
                                    ignoreCase: $('#chk-ignore-case').is(':checked'),
                                    exactMatch: $('#chk-exact-match').is(':checked'),
                                    revealResults: $('#chk-reveal-results').is(':checked')
                                };
                                var results = $searchableTree.treeview('search', [pattern, options]);
                                var output = '<p>' + results.length + ' matches found</p>';
                                $.each(results, function (index, result) {
                                    output += '<p>- ' + result.text + '</p>';
                                });
                                $('#search-output').html(output);
                            }

                            $('#btn-check-node').removeClass('disabled');
                            $('#btn-uncheck-node').removeClass('disabled');
                            $('#btn-check-all').removeClass('disabled');
                            $('#btn-uncheck-all').removeClass('disabled');
                            $('#btn-savedata').removeClass('hidden');
                            $('#CheckAll').removeClass('hidden');                           

                            $('#input-search').on('keyup', search);
                            $('#btn-clear-search').on('click', function (e) {
                                $searchableTree.treeview('clearSearch');
                                $('#input-search').val('');
                                $('#search-output').html('');
                            });                            

                            var $checkableTree = $('#treeview-checkable').treeview({
                                data: json,

                                showIcon: false,
                                showCheckbox: true,
                                onNodeChecked: function (event, node) {
                                    
                                    var children = node.nodes;
                                    if (children) {
                                        for (var i = 0; i < children.length; i++) {
                                            var childNode = children[i];
                                            var nodeId = childNode['nodeId'];
                                            $checkableTree.treeview('checkNode', nodeId);
                                        }
                                    }
                                    else {
                                        var parent = $('#treeview-checkable').treeview('getParent', node);
                                        var children = parent.nodes;
                                        bandera = true;
                                        for (var i = 0; i < children.length; i++) {
                                            var childNode = children[i];
                                            if (!childNode.state.checked) {
                                                bandera = false
                                            }
                                        }
                                        if (bandera) {
                                            $checkableTree.treeview('checkNode', parent.nodeId);
                                        }
                                    }

                                },
                                onNodeUnchecked: function (event, node) {
                                    //$('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
                                    var children = node.nodes;
                                    if (children) {
                                        for (var i = 0; i < children.length; i++) {
                                            var childNode = children[i];
                                            var nodeId = childNode['nodeId'];
                                            $checkableTree.treeview('uncheckNode', nodeId);
                                        }
                                    }
                                }
                            });

                            //Collapse all the nodes
                            $('#treeview-checkable').treeview('collapseAll', { silent: true });

                            $('#chkAll').on('click', function (evt) {
                                
                                if ($(this).hasClass('mdi-checkbox-blank')) {
                                    $(this).addClass('mdi-checkbox-marked');
                                    $(this).removeClass('mdi-checkbox-blank');

                                    $checkableTree.treeview('checkAll');
                                }
                                else {
                                    $(this).addClass('mdi-checkbox-blank');
                                    $(this).removeClass('mdi-checkbox-marked');

                                    $checkableTree.treeview('uncheckAll');
                                }
                                evt.stopImmediatePropagation();
                            });

                            var findCheckableNodess = function () {
                                return $checkableTree.treeview('search', [$('#input-check-node').val(), { ignoreCase: true, exactMatch: false }]);
                            };
                            var checkableNodes = findCheckableNodess();
                            // Check/uncheck/toggle nodes
                            $('#input-check-node').on('keyup', function (e) {
                                checkableNodes = findCheckableNodess();
                                $('.check-node').prop('disabled', !(checkableNodes.length >= 1));
                            });
                           
                            if (CheckAll())
                            {
                                $('#chkAll').removeClass('mdi-checkbox-blank');
                                $('#chkAll').addClass('mdi-checkbox-marked');
                            }
                        }
                    }
                });
            }            
        });

        function CheckAll()
        {
            
            var UnChecked = $('#treeview-checkable').treeview('getUnchecked');
            var count = 0;

            $.each(UnChecked, function () {
                count++;
            });

            if (count == 0)
                return true;
            else
                return false;
        }

    </script>
}