﻿.itemHeight {
    height: 220px;
}
.headerItems {
    list-style: none;  
    padding: 0;         
}
.headerItems li {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
#imagenvehiculos{
        max-width: 100%; 
        max-height: 100%; 
        margin-top:20px;
    }

/* Big Size */
@media screen and (min-width: 991px) {
    #loginFrame{
      border-right:solid 2px #eee;
    }
    .headerItems {
      margin-top: 20px;
    }
}

/* Small Size */
@media screen and (max-width: 991px) {
    .billboard1 {
        background-color:red;
    }
	#loginFrame{
      border:none;
    }
    #imagenvehiculos{
        display:none;
    }
    #loginFrame{
      border-right:none;
    }
    .headerItems {
      margin-top: 10px;
    }

}

/* iPad landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    #imagenvehiculos{
        display:block;
        width:500px;
        height:200px;
    }
    .headerItems {
      margin-top: 65px;
    }
}

/* iPad portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #imagenvehiculos{
        display:none;
    }
    .headerItems {
      margin-top: 10px;
    }    
}

.billboard1{
    background:url(../../images/slice2.png) no-repeat; 
    height:400px;    
}

.billboard2{
    background:url(../../images/slice1.png) no-repeat; 
    background-position: right 10px top; 
    height:400px;
}

.billboard3{
    background:url(../../images/slice3.png) no-repeat; 
    height:400px;
}

.bigletter{
    font-size: 50px;
}

.banner{
    background-color:#efefef; 
    /*height:400px; */
    color:#444444; 
    font-size:22px; 
    border-top: solid 1px #cccccc;
}

.banner2{
    background-color:#fff; 
    /*height:400px; */
    color:#444; 
    font-size:22px; 
    border-top: solid 1px #cccccc;
}

p {
    text-align: justify;
    text-justify: inter-word;
}