﻿@model ECO_Partner.Models.TransactionsOfflineBase
@{
    ViewBag.Title = "Mantenimiento de Parámetros en Transacciones";
    ViewBag.Administration = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style type="text/css">
        .middleCells {
            vertical-align: middle !important;
        }

        .marginErrorValues {
            margin-left: 17px;
            text-align: center;
            width: 66px;
        }

        .marginErrorLabel {
            font-size: 11px;
        }

        .glyphicon-pencil-tr:before {
            content: "\270f";
        }

        .glyphicon-pencil-tr {
            padding-top: 6px;
            padding-right: 5px;
            border: 2px solid #f0ad4e;
            border-radius: 3px;
            width: 30px;
            height: 30px;
            color: white;
            background-color: #f0ad4e;
            margin-top: -6px;
        }

        .hideText {
            visibility: hidden;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
            /*position:center;*/
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
<div id="page-content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    @Html.Partial("_Partials/_Parameters", Model.Data)
                    <hr />
                    <div id="GridContainer" class="hide">
                        @Html.Partial("_Partials/_CustomerList", Model.CustomerList)
                    </div>
                    <div class="row">
                        <div id="EmailsId" class="hide col-sm-12 form-group">
                            @Html.LabelFor(m => m.Data.Emails, new { @class = "col-sm-14 control-label" })
                            <span data-toggle="tooltip" data-placement="top" title="Ejemplo: ejemplo1@dominio.com;ejemplo2@dominio.com ">
                                @Html.TextBoxFor(m => m.Data.Emails, new { @class = "form-control" })
                            </span>
                            @Html.ValidationMessageFor(m => m.Data.Emails, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div id="validationAmountError2" class="col-sm-12 hide alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                            <div id="errorAmountMsj2" class="col-sm-12 ">
                                <i class="mdi mdi-information" style="font-size:18px;"></i>
                            </div>                            
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            @if (Model.Data.Id == null)
                            {
                                <button data-toggle="modal" data-target="#ConfirmationSendModal" id="btnSendTransactions" type="button" class="btn btn-info"><i class="mdi mdi-send"></i>&nbsp;Enviar transacciones</button>
                            }
                            <button id="btnGuardar" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                        </div>
                    </div>
                    <div id="ControlsContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Partials/_ConfirmationMessage")

@section scripts {
    <script src="~/Scripts/Administration/TransactionsOffline.js?v=@version-hf0"></script>
    <script>
        $(function () {
            ECO_Partner.TransactionsOffline.Init();
            $("#LoadMenuForm").submit();
        });
    </script>
}
