﻿@model ECO_ServiceStations.Models.FuelPriceByServiceStationBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Precios de Combustible";
    ViewBag.HasGrid = true;

    var ResultData = !(Session["ResultData"] == null) ? Session["ResultData"].ToString() : string.Empty;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .selectRow {
            background-color: yellow !important;
        }
        .pointer {
            cursor:pointer;
        }
        .grid-wrap-top {
            margin-top: -25px;
        }
        .big-icon {
            font-size: 18px;
        }
    </style>
}
<link href="~/Content/Styles/jquery.timepicker.css?v=@version-hf0" rel="stylesheet" />

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="16" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<input class="hidden" id="ResultData" value="@ResultData" />

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">                
                @Html.Partial("_partials/_FuelPricesImport")
                @Html.Partial("_partials/_Detail", Model.List)
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>
</div>

<div id="programfuelcontainer">
    @Html.Partial("_partials/_ProgramFuelPrice", new List<ECO_ServiceStations.Models.FuelPriceByServiceStation>())
</div>

@Html.Partial("_partials/_Modals")

@section scripts {
    <script src="~/Scripts/ServiceStations/FuelPriceByServiceStations.js?v=@version-hf0"></script>
    <script src="~/Scripts/jquery.timepicker.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_ServiceStations.FuelPriceByServiceStations.Init();
        });
    </script>
}
