﻿@using  ECOsystem.Areas.Control.Models.Control
@model ControlFuelsReportsBase
@{
    ViewBag.Title = "Archivo Exportable de Transacciones";
    ViewBag.Control = "active";
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@Html.Hidden("erroReportShow", erroReport)
@using (Html.BeginForm("DonwloadFile", "ExportableTransactionsFileReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

    <div id="page-content-wrapper">
        @using (Ajax.BeginForm("GetReportData", "ExportableTransactionsFileReport", null, new AjaxOptions
        {
            HttpMethod = "post",
            OnBegin = "ECO_Control.ExportableTransactionsFileReport.ShowLoader()",
            OnSuccess = "ECO_Control.ExportableTransactionsFileReport.OnEndGetData(data)"
        }, new { id = "GetReportDataForm" }))
        {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>
            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>        
        <br />
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.CostCenterId, @ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Seleccione un Centro de Costo", new { @class = "form-control fbold" })
            </div>
            <div class="col-sm-8 text-right">
                <button type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
            </div>
        </div>
}

        <div class="row">
            <div class="col-sm-12" id="InfoContainer">
                <br />
                <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione la información necesaria para generar el reporte.
                </div>
            </div>
        </div>
    </div>


@section scripts {
    <script src="~/Scripts/Control/ExportableTransactionsFileReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.ExportableTransactionsFileReport.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
