﻿@model  ECOsystem.Areas.Admin.Models.Administration.AlarmsModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lista de Alarmas";
    ViewBag.Administration = "active";
    ViewBag.AlarmsListI = "active";
    ViewBag.AlarmsList = "active";

    ViewBag.HasGrid = true;
}

@section styles {

}

@using (Ajax.BeginForm("AddOrEditAlarms", "Alarm", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model)
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    
    <!-- Search Area Start-->
    @* @using (Ajax.BeginForm("SearchAlarms", "Alarms", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">

                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                    </span>

                </div>
            </div>
               
        </div>
    }*@
    <!-- Search Area End-->
    <!-- Load Form Start-->
    @using (Ajax.BeginForm("LoadAlarms", "Alarm", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }
    <!-- Load Form End-->
    <!-- Dele Modal Start-->
    <div class="modal fade" id="deleteModalAlarm" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                @using (Ajax.BeginForm("DeleteAlarms", "Alarm", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                }, new { id = "deleteAlarmForm" }))
                {
                    @Html.Hidden("id")
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Eliminación</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el registro?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button type="button" id="deleteAlarmButton" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Delete Modal End -->

    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            // ECOsystem.Areas.Admin.Customers.Init();
        });

        $('#deleteAlarmButton').click(function () {           
            $('#deleteAlarmForm').submit();
        });
    </script>
}

