﻿<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar @ViewBag.Full_Width" role="navigation" >

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li class="@ViewBag.PartnerReports">
                    <a><img src="~/Content/Images/menu_reports.png" class="right10" />Reportes</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.PartnerApplicantsReportIndex" href="@Url.Action("Index", "ApplicantsReport")">Solicitantes</a>
                        </li>
                        <li>
                            <a class="@ViewBag.PartnerCreditCardsReportIndex" href="@Url.Action("Index", "CreditCardsReport")">Tarjetas</a>
                        </li>
                        <li>
                            <a class="@ViewBag.PartnerMasterCardsReportIndex" href="@Url.Action("Index", "MasterCardsReport")">Tarjetas Maestras</a>
                        </li>
                        <li>
                            <a class="@ViewBag.PartnerTransactionsReportAdmin" href="@Url.Action("Admin", "TransactionsReport")">Transacciones</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
