﻿@model List< ECOsystem.Areas.Control.Models.FuelDistributionByCostCenter>

<div class="row">
    <div class="col-sm-12">
        <div id="creditInfo">
            <div class="card card-global-amount">
                <div class="card-content card-content-indicator">
                    <div class="row">
                        @{
                            var creditData = Model.FirstOrDefault();
                            var globalBartheme = creditData.PctTotalAssigned > 80 ? "danger" : creditData.PctTotalAssigned > 40 ? "warning" : "success";
                            var assignedCreditStr = new HtmlString(creditData.AssignedStr + "&nbsp;(" + (int?)creditData.PctTotalAssigned + "%)");
                            var leyend = string.Format("Disponible Global: {0} - {1}", DateTime.Now.Month, DateTime.Now.Year);
                            var with = creditData.PctTotalAssigned + 1;
                        }
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 less-padding-left less-padding-right">
                            <i class="mdi mdi-bank hight-text-card"></i>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 less-padding-left less-padding-right">
                            <div class="bg-custom">
                                <div class="progress">
                                    <div id="AssignedCreditPct" class="progress-bar progress-bar-@globalBartheme triangle" role="progressbar" progress-value="@creditData.PctTotalAssigned%"></div>
                                </div>
                                <div class="progress2" style="margin-left:0px !important;">
                                    <span id="AssignedCreditAmt" class="progress-bar bar-text" data-val="@assignedCreditStr" role="progressbar" style="width:@with%"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 less-padding-left">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                <div class="huge-very-medium">@creditData.TotalMasterCardStr</div>
                                <div class="huge-very-low-middle">@leyend</div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">                                
                                <span class="input-group-btn">
                                    <button type="button" data-toggle="modal" data-target="#ImportModal" class="btn btn-primary" title="Importar Archivo"><i class="mdi mdi-file-import"></i>&nbsp;Importar Datos</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gridContainer">
    @Html.Partial("_partials/_Grid", Model)
</div>
