﻿@model  List< ECOsystem.Areas.Control.Models.FuelDistributionByCostCenter>

@if (Model != null && Model.Any())
{
    <div class="panel panel-primary">
        <div class="row">
            <div class="col-sm-12">
                @(Html.Grid(Model)
                    .WithPaging(20)
                    .Selectable(true)
                    .SetRowCssClasses(m => m.SelectedStr)
                    .Columns(c =>
                    {
                        c.Add(m => m.UnitName).Titled("Unidad").SetWidth(30);
                        c.Add(m => m.CostCenterName).Titled("Centro de Costo").SetWidth(30);
                        c.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(40)
                                .RenderValueAs(m => @<div>
                                        <div class="input-group" style="width:60%; max-width:60%;">
                                            @{ var _value = ECOsystem.Utilities.Miscellaneous.GetNumberFormatWithDecimal(@m.CreditAmount, 2, "es-CR", false); }
                                            <span class="input-group-addon">@m.CurrencySymbol</span>
                                            <input id="@m.CustomerCreditByCostCenterId" costcenterid="@m.CostCenterId" type="text" class="form-control text-right costcenteramount" data-currency="true" value="@_value">                                                                                        
                                        </div>  
                                        <div id="errordiv-@m.CostCenterId" class="errordiv"  hidden>
                                            <span id="errormsg-@m.CostCenterId" class="text-danger errormsg " hidden></span>
                                            <br />
                                        </div>
                                </div>).Titled("Monto");                                
                    }))
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right" id="controlButtonContainer">
                        <button data-toggle="modal" data-target="#confirmCancelModal" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button id="btnSaveData" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

