﻿@model ECO_Partner.Models.CollectionZonesModels
@{
    ViewBag.Title = "Mantenimiento de Zonas";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("CollectionZoneLoad", "CollectionZones", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "DetailContainer",
    OnSuccess = "ECO_Partner.CollectionZones.EditModalShow()"

}, new { id = "LoadForm" }))
{
    @Html.Hidden("Id")
}

<div id="page-content-wrapper">
    <button type="button" id="btnAddForm" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i> Agregar Zona</button>
    <div class="col-sm-4 pull-right">
        @using (Ajax.BeginForm("CollectionZoneSearch", "CollectionZones", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer"

        }, new { id = "SearchForm" }))
        {
            <div class="input-group">
                <input name="key" type="text" class="form-control" placeholder="Buscar por Nombre de Zona...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                </span>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-12" id="DetailContainer" hidden>
            @Html.Partial("_partials/_DetailZone", Model.Data)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>
</div>
<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditZone" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mantenimiento de Zonas</h4>
            </div>
            <div class="modal-body">
                <p>Datos Almacenados Correctamente!</p>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="TextEmptyMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditZone" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mantenimiento de Zonas</h4>
            </div>
            <div class="modal-body">
                <p>Por Favor Ingrese un Nombre o una Descripción para continuar!</p>
            </div>
            <div class="modal-footer">
                <div>

                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("CollectionZoneDelete", "CollectionZones", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = "ECOsystem.Utilities.ShowLoader()",
                OnSuccess = "ECO_Partner.CollectionZones.DeleteModalClose()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("Id")
                <div class="modal-header">
                    <h4 class="modal-title">Mantenimiento de Zonas</h4>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro que desea Eliminar la Zona?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;No</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Settings/CollectionZones.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.CollectionZones.Init();
        });
    </script>
}

