﻿@model ECO_Management.Models.AgendaBase

@{
    ViewBag.Title = "Mantenimiento de Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    var downloadFile = ViewBag.DownloadResultFile != null ? ViewBag.DownloadResultFile ? true : false : false;
    var ResultData = !string.IsNullOrEmpty(ViewBag.ResultData) ? ViewBag.ResultData : string.Empty;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .tableHeader {
            position: relative;
            height: 30px;
            background-color: #003594;
            color: #fff;
        }

        #sortableColumns {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: -20px;
        }

            #sortableColumns li {
                margin: 1px 3px 3px 0;
                padding: 2px;
                float: left;
                width: auto;
                min-width: 50px;
                height: 35px;
                font-size: 20px;
                text-align: center;
                border: solid;
                border-color: grey;
                border-width: 1px;
            }

        .removeColumn {
            cursor: pointer;
            color: red;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Html.BeginForm("DonwloadFile", "Agenda", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
@using (Html.BeginForm("DonwloadImportResults", "Agenda", FormMethod.Post, new { id = "DonwloadResultFileForm" })) { }

<input class="hidden" id="ResultData" value="@ResultData" />
<input class="hidden" id="downloadFile" value="@downloadFile" />

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="">
                    <button id="btnAddColumns" type="button" class="btn btn-success" title="Editar" onclick="ECO_Management.Agenda.ShowDynamicColumns();"><i class="mdi mdi-pencil" style="font-size:18px"></i>Columnas Agenda</button>
                    <button type="button" data-toggle="modal" data-target="#ImportModal" class="btn btn-warning" title="Importar Agenda"><i class="mdi mdi-upload" style="font-size:18px"></i> Importar Agenda</button>
                    <button id="btnExport" type="button" class="btn btn-info" onclick="ECO_Management.Agenda.OnDownLoadReport()" title="Exportar a Excel"><i class="mdi mdi-download" style="font-size:18px"></i> Exportar a Excel</button>
                </div>
                <br />
                @using (Ajax.BeginForm("SaveColumns", "Agenda", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = "ECO_Management.Agenda.ShowLoader()",
                    OnSuccess = "ECO_Management.Agenda.OnSaveColum(data)"
                }, new { id = "SaveColumnsForm" }))
                {
                    <div class="panel panel-default" id="dynamicColumnsContainer" hidden>
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Columnas Adicionales Importación Agenda
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.Label("Nombre de Columna: ")
                                    <div class="input-group">
                                        @Html.TextBox("txtColumnaID", "", new { @class = "form-control ", @placeholder = "Nombre de Columna" })
                                        <span class="input-group-addon" style="cursor:pointer" title="Agregar" onclick="ECO_Management.Agenda.OnAddNewColum();">
                                            <span class="mdi mdi-arrow-down"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="gridContainerDynamic">
                                    @Html.Partial("_partials/_GridColumns", Model.Columns)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button id="btnClose" type="button" class="btn btn-default" onclick="ECO_Management.Agenda.HideDynamicColumns();"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                    <button type="submit" class="btn btn-success"><i class="mdi mdi-check" onclick="ECO_Management.Agenda.OnSaveColum();"></i>&nbsp;Guardar Columnas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-lg-12">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-3" style="width:30%">
                                        @Html.Label("Agente")
                                        @Html.DropDownList("ddxUserId", ECO_Management.Utilities.GeneralCollections.GetAgentsSummary, "Seleccione un Usuario", new { @class = "form-control", custom = "true", onchange = "ECO_Management.Agenda.OnRetrieveAgenda();" })
                                    </div>
                                    <div class="col-sm-2" style="width:20%">
                                        @Html.Label("Fecha")
                                        <div class='input-group date' id='datetimepickerDate'>
                                            @Html.TextBox("tDateStr", "", new Dictionary<string, Object> { { "placeholder", "Fecha" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                            <span class="input-group-addon">
                                                <span class="mdi mdi-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="width:35%">
                                        @Html.Label("Comercio")
                                        @Html.DropDownList("ddxCommerceId", ECO_Management.Utilities.GeneralCollections.GetCommercesSummary, "Seleccione un Comercio", new { @class = "form-control", custom = "true" })
                                    </div>

                                    <div class="col-sm-4 text-right" style="padding-top:25px; width:15%">
                                        <button id="btnAgregar" type="button" class="btn btn-warning" onclick="ECO_Management.Agenda.OnAddItem();" title="Agregar"><i class="mdi mdi-plus" style="font-size:18px"></i> Agregar</button>
                                    </div>
                                </div>
                                <br />
                                <div class="row" id="AgendaRequireMessage" hidden>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @Html.Label("** El Usuario, la Fecha y el Comercio son requeridos **", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" id="detailContainer" hidden>
                    @*@Html.Partial("_partials/_AdditionalColumnsGrid")*@
                </div>
                <div class="col-sm-12" id="gridContainer">
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteProtocols", "Protocols", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = "ECO_Management.Protocols.ShowLoader()",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose(); ECO_Management.Protocols.HideLoader()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="ValidateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agenda<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p id="validatemessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div id="ImportTransactionsContainer">
    @Html.Partial("_partials/_ImportAgenda")
</div>

@section scripts {
    <script src="~/Scripts/Management/Agenda.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.Agenda.Init();

            //Download results file
            var downloadfile = $('#downloadFile').val();
            if (downloadfile) $('#DonwloadResultFileForm').submit();

            //Results from Import
            var resultdata = $('#ResultData').val();
            if (resultdata != '' && resultdata != undefined && resultdata != null) ECO_Management.Agenda.Showresultmodal(resultdata);
        });
    </script>
}
