﻿﻿@model ECO_Operation.Models.WeightedScoreSettings

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            @Html.HiddenFor(m => m.WeightedScoreId)
            @Html.HiddenFor(m => m.CustomerId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Parámetros de la Calificación Ponderada</h4>
            </div>
            <div class="modal-body">
                <div class="row" role="form">
                    <div class=" col-sm-8 form-group">
                        @Html.LabelFor(m => m.ScoreTypeId, new { @class = "col-sm-14 control-label" })
                        
                        @Html.DropDownListFor(m => m.ScoreTypeId, @ECO_Operation.Business.GeneralCollections.GetScoreTypes, "Seleccione el Tipo de Calificación", new { @class = "form-control", autofocus = ""})
                        @Html.ValidationMessageFor(m => m.ScoreTypeId, "", new { @class = "text-danger" })                        
                    </div>
                    <div class="col-sm-4 form-group">
                        @Html.LabelFor(m => m.Weight, new { @class = "col-sm-14 control-label" })

                        @Html.TextBoxFor(m => m.Weight, new { placeholder = "Peso", @class = "form-control", @max = "100" })
                        @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
