﻿@model IEnumerable<ECO_Operation.Models.WeightedScoreSettings>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .RenderValueAs(m => @<div>
                    <a href="#" class="edit-color" id="@m.WeightedScoreId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                    <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.WeightedScoreId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                </div>).Css("grid-col-btn");

          }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);">       
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>    
}
