﻿@model ECOsystem.Models.ReportParameters
@using  ECOsystem.Areas.Admin.Business.Utilities

<div class="panel panel-default hide" id="Periodicity_@Model.ModuleName">
    <div class="panel-heading">Periodicidad</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 line">
                <div class="checkbox">
                    <a id="Daily_@Model.ModuleName" title="Editar">
                        <label>
                            <input name="checkbox_@Model.ModuleName" id="Daily-2-@Model.ModuleName" type="radio" class="regular-radio rdbDaily" module="@Model.ModuleName" />
                            Diario
                        </label>
                    </a>
                </div>
                <div class="checkbox">
                    <a id="Weekly_@Model.ModuleName" title="Editar">
                        <label>
                            <input name="checkbox_@Model.ModuleName" id="Weekly-2-@Model.ModuleName" type="radio" class="regular-radio rdbWeekly" module="@Model.ModuleName" />
                            Semanal
                        </label>
                    </a>
                </div>
                <div class="checkbox">
                    <a id="Monthly_@Model.ModuleName" title="Editar">
                        <label>
                            <input name="checkbox_@Model.ModuleName" id="Monthly-2-@Model.ModuleName" type="radio" class="regular-radio rdbMonthly" module="@Model.ModuleName" />
                            Mensual
                        </label>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 hide" id="DaysDiv_@Model.ModuleName">
                <label>Día de entrega:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Monday_" + @Model.ModuleName, new { disabled = "disabled", @class = "Days_" + @Model.ModuleName }) &nbsp;Lunes
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Tuesday_" + @Model.ModuleName, new { disabled = "disabled", @class = "Days_" + @Model.ModuleName }) &nbsp;Martes
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Wednesday_" + @Model.ModuleName, new { disabled = "disabled", @class = "Days_" + @Model.ModuleName }) &nbsp;Miércoles
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Thursday_" + @Model.ModuleName, new { disabled = "disabled", @class = "Days_" + @Model.ModuleName }) &nbsp;Jueves
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Friday_" + @Model.ModuleName, new { disabled = "disabled", @class = "Days_" + @Model.ModuleName }) &nbsp;Viernes
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Saturday_" + @Model.ModuleName, new { disabled = "disabled", @class = "Days_" + @Model.ModuleName }) &nbsp;Sabado
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Sunday_" + @Model.ModuleName, new { disabled = "disabled", @class = "Days_" + @Model.ModuleName }) &nbsp;Domingo
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 hide" id="DayOfTheMonthDiv_@Model.ModuleName">
                <label>Día de entrega:</label>
                @Html.TextBox("DayOfTheMonth_" + @Model.ModuleName, "", new { placeholder = "Día del mes", @class = "form-control text-left DayOfTheMonth", @type="number", @min="0", @max="31", @onkeyPress = "return onlyNumbers(event)" })
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default hide" id="Shipping_Detail_@Model.ModuleName">
    <div class="panel-heading">Detalles de envio</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                @if (Model.ModuleName != "A")
                {
                    @Html.DropDownList("CostCenterOrVehicleGroup_" + Model.ModuleName, Model.CostCenterOrVehicleGroupSelect, "Seleccione un tipo de filtro", new Dictionary<string, Object> { { "class", "form-control fbold ddlCostCenterOrVehicleGroup" }, { "data-filter", "true" }, { "module", @Model.ModuleName } })
                }
            </div>
            <div class="col-sm-3">
                @if (Model.ModuleName != "A")
                {
                    @Html.DropDownList("CostCenterId_" + Model.ModuleName, GeneralCollections.GetVehicleCostCentersProgramSendReports, "Seleccione el centro de costos", new Dictionary<string, Object> { { "class", "form-control fbold hide" }, { "data-filter", "true" }, { "module", @Model.ModuleName } })
                    @Html.DropDownList("VehicleGroupId_" + Model.ModuleName, GeneralCollections.GetVehicleGroupsProgramSendReports, "Seleccione el grupo de vehículos", new Dictionary<string, Object> { { "class", "form-control fbold hide" }, { "data-filter", "true" }, { "module", @Model.ModuleName } })
                }
            </div>
            <div class="col-sm-3">
                @Html.DropDownList("EmailOrUser_" + Model.ModuleName, Model.EmailOrUserSelect, "Enviar a", new Dictionary<string, Object> { { "class", "form-control fbold ddlEmailOrUser" }, { "data-filter", "true" }, { "module", @Model.ModuleName } })
            </div>
            <div class="col-sm-3">
                @Html.DropDownList("UserId_" + Model.ModuleName, GeneralCollections.GetUsersProgramSendReports, "Seleccione el usuario", new Dictionary<string, Object> { { "class", "form-control fbold hide" }, { "data-filter", "true" } })

                <div class="row hide" id="EmailsDiv_@Model.ModuleName">
                    <div class="col-sm-9">
                        @Html.TextBox("Emails", "", new { placeholder = "Correos electrónicos", @class = "form-control text-left", @maxlength = "500", @id = "txtEmails_" + Model.ModuleName })
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-success btnAddEmail" moduleattr="@Model.ModuleName"><i class="mdi mdi-plus"></i></button>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-striped" id="listEmails_@Model.ModuleName">
                            <thead>
                                <tr>
                                    <th class="hide">Id</th>
                                    <th class="tableHeader">Correos electrónicos</th>
                                    <th class="tableHeader"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>