﻿@model IEnumerable<ECOsystem.Models.ProgramSendReportsShow>

@if (Model != null && Model.Any())
{
    <div class="panel panel-default">
        <div class="panel-body">
            @(Html.Grid(Model)
            .Selectable(false)
            .Columns(c =>
            {
                c.Add(m => m.DownloadNameToShow).SetWidth(100).Titled("Reporte");
                c.Add(m => m.ElapseStr).SetWidth(100).Titled("Periodicidad");
                c.Add(m => m.DaysNames).SetWidth(100).Titled("Día");
                c.Add(m => m.User).SetWidth(100).Titled("Usuario");
                c.Add(m => m.EmailsToShow).SetWidth(100).Titled("Correo electrónico");
                c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(50)
                .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.Id" title="Editar" onclick=" ECOsystem.Areas.Admin.ProgramSendReports.GetData(this)"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                    <a href="#" class="delete-color" data-toggle="modal" onclick=" ECOsystem.Areas.Admin.ProgramSendReports.ShowDeleteModal(this)" id="@m.Id" reportid="@m.ReportId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                </span>).Css("grid-col-btn");
            }))
        </div>
    </div>
}
else
{
    <br />
    <div class="panel panel-default">
        <div class="panel-body">No hay reportes configurados en este módulo.</div>
    </div>
}




