﻿@model ECOsystem.Models.ProgramSendReportModule

<div id="AddReport-@Model.Module" class="panel-collapse accordin-left collapse">
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-heading">Configuración del reporte</div>
            <div class="panel-body">
                <input type="hidden" id="ProgramReportId_@Model.Module" value="">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.DropDownList("ddlReports_" + Model.Module, Model.Reports, "Seleccione un reporte", new { @class = "form-control ddlReports", custom = "true", module = Model.Module })
                    </div>
                </div>
                @Html.Partial("_Partials/_AddOrEditReport", new ECOsystem.Models.ReportParameters { ModuleName = Model.Module.ToString() })

                <div class="text-right">
                    <button type="button" class="btn btn-default btnDiscard" module="@Model.Module"><i class="mdi mdi-close"></i>Cancelar</button>
                    <button type="button" class="btn btn-primary btnSaveReport" module="@Model.Module"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="GridReports-@Model.Module" class="panel-collapse accordin-left collapse">
    <div class="panel-body">
        @Html.Partial("_Partials/_Grid", @Model.Data)
    </div>
</div>




