﻿@model  ECOsystem.Areas.Admin.Models.Administration.DriversByVehicleData

@if ((Model.AvailableDriversList != null && Model.AvailableDriversList.Any()) || (Model.ConnectedDriversList != null && Model.ConnectedDriversList.Any()))
{
    <div class="card">
        <div class="card-content">
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Utilice la funcionalidad de <strong>Arrastrar y colocar</strong> conductores entre cada lista. <br />
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Utilice el <strong>Filtro</strong> para restringuir la cantidad de conductores.<br />
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Recuerde que asignación de todos los <strong>Conductores</strong> a todos los <strong>Vehículos</strong> puede tardar varios minutos.
            </div>


            <div class="row">
                <div class="col-sm-6" data-spy="scroll" data-target="#available" data-offset="0">
                    <div class="list-group">
                        <div href="#" class="list-group-item active">
                            <div class="row display-table">
                                <div class="col-xs-10 display-cell">
                                    <strong>Lista de Conductores - <span id="available" /></strong>
                                </div>
                                <div class="col-xs-2 display-cell">
                                    <a class="btn btn-info pull-right" id="btn" onclick="btnRight_onClick()">
                                        <span class="mdi mdi-chevron-right" aria-hidden="true"></span>
                                        <span class="mdi mdi-chevron-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="AvailableDrivers" class="connected scrol-list">

                            @if (Model.AvailableDriversList != null)
                    {
                        foreach (var item in Model.AvailableDriversList)
                        {
                            <div class="list-group-item box">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="bs-callout bs-callout-blue text-center">
                                            <h4 class="bs-color-blue">@item.IdentificationStr</h4>
                                            @Html.Hidden("UserId", @item.UserId)
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <p><strong>@item.DriverNameStr</strong></p>
                                        @*<p>@item.VehicleType</p>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }

                        </div>
                    </div>
                </div>

                <div class="col-sm-6" data-spy="scroll" data-target="#connected" data-offset="0">
                    <div class="list-group">
                        <div href="#" class="list-group-item active">
                            <div class="row display-table">
                                <div class="col-xs-2 display-cell">
                                    <a class="btn btn-info" onclick="btnLeft_onClick()" id="btnLeft">
                                        <span class="mdi mdi-chevron-left" aria-hidden="true"></span>
                                        <span class="mdi mdi-chevron-left" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-10 display-cell">
                                    <strong class="pull-right">Conductores Asociados al Vehículo  - <span id="connected" /></strong>
                                </div>
                            </div>
                        </div>
                        <div id="ConnectedDrivers" class="connected scrol-list" onchange="Count()">
                            @if (Model.ConnectedDriversList != null)
                    {
                        foreach (var item in Model.ConnectedDriversList)
                        {
                            <div class="list-group-item box">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="bs-callout bs-callout-blue text-center">
                                            <h4 class="bs-color-blue">@item.IdentificationStr</h4>
                                            @Html.Hidden("UserId", @item.UserId)
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <p><strong>@item.DriverNameStr</strong></p>
                                        @*<p>@item.VehicleType</p>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-8">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div class="col-sm-4 text-right">
                    <a href="@Url.Action("Index", "DriversByVehicle")" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</a>
                    <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
}
