﻿@{
    ViewBag.Title = "Configuraciones";
    ViewBag.Settings = "active";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    @Html.Partial("_partials/_Menu")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12 center">
                <img src="~/Content/Images/page_under_construction.jpg" width="270" />
            </div>
        </div>
    </div>
</div>