﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Alarmas de Temperatura
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.Label("Tiempo de espera entre alarmas repetidas (minutos)")
                @Html.TextBoxFor(m => m.AlarmTemperatureDelay, new { placeholder = "Tiempo de espera en alarmas de temperatura", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnAlarmTemperatureDelayAddOrEdit"> <i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
