﻿@model ECO_Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Alarmas de NO Transmición de GPS
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.AlarmNonTransmissionGPS, new { @checked = Model.AlarmNonTransmissionGPS ? "checked" : "" })&nbsp;<strong>Activa las alarmas de No transmisión de un GPS.</strong>
                    </label>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/_AlarmDetail.cshtml", Model.AlarmDetailModel)
            </div>
        </div>*@
    </div>
    <div class="panel-footer">
        @{
            var title = Model.AlarmNonTransmissionGPS ? "Deshabilitar" : "Habilitar";
        }
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnAlarmNonTransmissionGPS"> <i class="mdi mdi-check"></i>&nbsp;@title</button>
            </div>
        </div>
    </div>
</div>

