﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Conciliación de Transacciones
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.AllowApprovalTransactiosImport, new { @checked = Model.AllowApprovalTransactiosImport ? "checked" : "" })&nbsp;<strong>Permite aprobar las transacciones automáticamente en la importación</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @{
            var title = Model.AllowInProcessCard ? "Deshabilitar" : "Habilitar";
        }
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnSaveApprovalTransactiosImport"> <i class="mdi mdi-check"></i>&nbsp;@title</button>
            </div>
        </div>
    </div>
</div>
