﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Permite transacciones con tarjetas en proceso
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.AllowInProcessCard, new { @checked = Model.AllowInProcessCard ? "checked" : "" })&nbsp;<strong>Permite transacciones con tarjetas en proceso</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @{
            var title = Model.AllowInProcessCard ? "Finalizar Proceso" : "Iniciar Proceso" ;
        }
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnSaveInProcessTransactions"> <i class="mdi mdi-check"></i>&nbsp;@title</button>
            </div>
        </div>
    </div>
</div>

