﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Centros de Costo
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.CostCenterByDriver, new { @checked = Model.CostCenterByDriver ? "checked" : "" })&nbsp;<strong>Centros de Costo por Conductor</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @{
            var title = Model.CostCenterByDriver ? "Desactivar Centros de Costo por Conductor" : "Activar Centros de Costo por Conductor";
        }
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnCostCenterByDriver"> <i class="mdi mdi-check"></i>&nbsp;@title</button>
            </div>
        </div>
    </div>
</div>


