﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

@Html.HiddenFor(m => m.AlarmId)
@Html.HiddenFor(m => m.StartTime)
@Html.HiddenFor(m => m.EndTime)

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Correo por defecto para las alarmas
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.Label("Correos Electrónicos: ")
                <div class="input-group">
                    @Html.TextBoxFor(m => m.DefaultEmail, new Dictionary<string, Object> { { "placeholder", "Correos electrónicos para recepcion de alarmas" }, { "class", "form-control" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-email"></span>
                    </span>
                </div>
                <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success"> <i class="mdi mdi-check"></i>&nbsp;Guardar Correos</button>
            </div>
        </div>
    </div>
</div>

