﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Horario uso normal de vehículo
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.Label("Hora Inicial: ")
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Start_Time, new Dictionary<string, Object> { { "placeholder", "Hora inicial" }, { "class", "form-control fbold timepicker" }, { "id", "StartTime" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-clock"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                @Html.Label("Hora Final: ")
                <div class="input-group">
                    @Html.TextBoxFor(m => m.End_Time, new Dictionary<string, Object> { { "placeholder", "Hora final" }, { "class", "form-control fbold timepicker" }, { "id", "EndTime" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-clock"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnSaveVehicleSchedule"> <i class="mdi mdi-check"></i>&nbsp;Guardar Horario</button>
            </div>
        </div>
    </div>
</div>
