﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div id="divGeneralAlarm" class="panel panel-default" alarmId="@Model.AlarmId" alarmTriggerId ="@Model.AlarmDetailModel.Alarm.AlarmTriggerId">
    <div class="panel-heading">
        <h3 class="panel-title">
            Correo Recepción de Alarmas Generales (Botón de Pánico, Activación Plataforma, etc.)
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("~/Views/Shared/_AlarmDetail.cshtml", Model.AlarmDetailModel)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="validationAmountError2" class="col-sm-12 hide">
                    <div id="errorAmountMsj2" class="col-sm-12 text-danger">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success" id="btnSaveEmailPanicBotton"> <i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
