﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Rutas
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.Label("Tiempo de Parada Válido para Rutas en minutos")
                @Html.TextBoxFor(m => m.MinimumStopTime, new { placeholder = "Tiempo de Parada Válido para Rutas", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnMinimumStopTimeAddOrEdit"> <i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>

