﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Transacciones de Bomba Interna
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.NotApproveTransactions, new { @checked = Model.NotApproveTransactions ? "checked" : "" })&nbsp;<strong>NO Conciliar</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success" id="btnNotApproveTransactions"> <i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>

