﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Ver la dirección de un Punto utilizando los Comercios
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.ActiveRadioDistance, new { @checked = Model.ActiveRadioDistance ? "checked" : "" })&nbsp;<strong>Utilizar los comercios como puntos de referencia en las direcciones</strong>
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                @if (Model.ActiveRadioDistance == false)
                {
                    @Html.Label("Distancia del Comercio (Radio)")
                    @Html.TextBoxFor(m => m.RadioDistance, new { placeholder = "Metros", @class = "form-control", numeric = "", @disabled = "disable"})
                    <span class="subtext">(Metros)<span class="fbold"></span></span>
                }
                else
                {
                    @Html.Label("Distancia del Comercio (Radio)")
                    @Html.TextBoxFor(m => m.RadioDistance, new { placeholder = "Metros", @class = "form-control", numeric = "" })
                    <span class="subtext">(Metros)<span class="fbold"></span></span>
                }
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnRadioDistanceAddOrEdit"> <i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
