﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
           Odómetro para Alerta Mantenimiento
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.TypeOdometer, new { @checked = Model.TypeOdometer ? "checked" : "" })&nbsp;<strong>Utilizar odómetro del GPS para alerta Mantenimiento</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
   
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" id="btnSaveTypeOdometerbyCustomer"> <i class="mdi mdi-check"></i>&nbsp;Almacenar</button>
            </div>
        </div>
    </div>
</div>
