﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

@Html.HiddenFor(m => m.StartTime)
@Html.HiddenFor(m => m.EndTime)

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Tipo de Distribución del Presupuesto
        </h3>
    </div>
    <div class="panel-body">
        <div class="row center">
            <div class="col-md-4">
                <div class="mdl-radio">
                    <label>
                        @Html.RadioButtonFor(m => m.TypeBudgetDistribution, "0", new { })
                        <strong>Monto</strong>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mdl-radio">
                    <label>
                        @Html.RadioButtonFor(m => m.TypeBudgetDistribution, "1", new { })
                        <strong>Litros</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success" id="btnSaveTypeofDitribution"> <i class="mdi mdi-check"></i>&nbsp;Seleccionar</button>
            </div>
        </div>
    </div>
</div>

