﻿@model  ECOsystem.Areas.Admin.Models.Administration.CustomerGeneralParameters

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Tiempo para Vehículo Detenido
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.Label("Tiempo: (Número de Minutos)", new { @class = "col-sm-14 control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.VehicleStopLapse, new { @class = "form-control", @type = "number" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-success"><i class="mdi mdi-check"></i>&nbsp;Guardar Tiempo</button>
            </div>
        </div>
    </div>
</div>

