﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceCost>
@{
    string ClassHidden = "";
    string ClassHidden2 = "hidden";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<!--Modal Start-->
<input type="hidden" id="CurrencySymbol" value="@ViewBag.Symbol" />
<div class="modal fade" id="costModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Costo del Mantenimiento</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="row" style="padding-right: 15px; text-align: left;">
                        <div class="col-lg-12">
                            <button id="btnAddCost" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus"></i>Agregar Mantenimiento</button>
                        </div>
                    </div>
                    
                    @if (Model.Count() > 0)
                    {
                        ClassHidden = "";
                        ClassHidden2 = "hidden";
                    }
                    else
                    {
                        ClassHidden = "hidden";
                        ClassHidden2 = "";
                    }

                    <div class="@ClassHidden" id="gridCost">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="cost-scroll">
                                    @(Html.Grid(Model)
                                    .AutoGenerateColumns()
                                    .Selectable(true)
                                    .EmptyText("")
                                    .Columns(c =>
                                    {
                                        c.Add(m => m.PreventiveMaintenanceCatalogId).Titled("PreventiveMaintenanceCatalogId").Css("grid-col-hide data-Id");
                                        c.Add(m => m.PreventiveMaintenanceCostId).Titled("PreventiveMaintenanceCostId").Css("grid-col-hide data-Id");
                                        c.Add(m => m.Description).Titled("Nombre").RenderValueAs(m =>
                                            @<div class="col-sm-12">
                                                <div class="form-group">
                                                    <div>
                                                        <input type="text" class="form-control nav-justified" value="@m.Description" id="Name-@m.PreventiveMaintenanceCostId" name="Name-@m.PreventiveMaintenanceCostId" data-currency="true">
                                                    </div>
                                                </div>
                                            </div>
                                        ).Encoded(false).Sanitized(false).Css("grid-col-name");


                                        c.Add(m => m.Cost).Titled("Costo").RenderValueAs(m =>
                                            @<div>
                                                <div class="input-group">
                                                    <span2 class="input-group-addon">@m.Symbol</span2>
                                                    <input type="text" onblur=" ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.Sumatory()" class="form-control text-right num-cost only-positive" value="@m.Cost" id="Cost-@m.PreventiveMaintenanceCostId" name="Cost-@m.PreventiveMaintenanceCostId" data-currency="true">
                                                </div>
                                            </div>).Encoded(false).Sanitized(false).Css("grid-col-center");

                                        c.Add()
                                        .Encoded(false)
                                        .Sanitized(false)
                                        .SetWidth(2)
                                        .RenderValueAs(m => @<span class="toolBar1">
                                            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteCostModal" id="@m.PreventiveMaintenanceCostId" title="Eliminar" del_row_detail><i class="mdi mdi-32px mdi-close-box"></i></a>
                                        </span>).Css("grid-col-btn");
                                    }))
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding: 15px; text-align: right;">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">Total @ViewBag.Symbol</span>
                                    <input type="text" class="form-control text-right" value="0.00" id="Cost-total" name="Cost-total" data-currency="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>                   
                    
                    <br />
                    <div id="MessageAlert" class="alert alert-info alert-dismissible fade in @ClassHidden2" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-sm-2">
                        <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                    </div>
                    <div>
                        <button id="btnCancelCost" type="button" class="btn btn-default" data-dismiss="modal" onclick=" ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.RefreshChanges();"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button id="btnSaveCost" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Administration/PreventiveMaintenanceCatalog.js?v=@version-hf0"></script>
<script>
    $(function () {
         ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.InitDetail();
         ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.Sumatory();
    });
</script>

