﻿@model  ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceCatalog

<style>
    .label-padding {
        padding-top: 8px;
    }
</style>

@Html.HiddenFor(m => m.PreventiveMaintenanceCatalogId)
@Html.HiddenFor(m => m.RowVersion)
            
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-7">
            @Html.Label("Nombre de Mantenimiento:", new { @class = "control-label" })
            @if (Model.DontAllowDelete)
            {
                @Html.TextBoxFor(m => m.Description, new { placeholder = "Nombre de Mantenimiento", @class = "col-sm-6 form-control ", data_rule_required = "true", @readonly = true })
            }
            else
            {
                @Html.TextBoxFor(m => m.Description, new { placeholder = "Nombre de Mantenimiento", @class = "col-sm-6 form-control ", data_rule_required = "true"})
            }

            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-4">
            <div class="col-md-12 less-padding-left">
                @Html.Label("Tipo de Mantenimiento:", new { @class = "control-label" })
            </div>
            <div class="mdl-radio col-md-6 less-padding-left">
                <label>
                    @Html.RadioButtonFor(m => m.FilterType, "1", new { data_rule_required = "true" })
                    Preventivo
                </label>
            </div>
            <div class="mdl-radio col-md-6">
                <label>
                    @Html.RadioButtonFor(m => m.FilterType, "2", new { })
                    Correctivo
                </label>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" style="margin-top: 30px">
    <div class="panel panel-default">
        <div class="panel-heading">Frecuencia en Recorrido</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        @Html.Label("Aplicar cada:", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-6 pull-left">
                        @Html.TextBoxFor(m => m.FrequencyKm, new { placeholder = "Frecuencia kilometros", @class = "form-control textboxM only-positive", @type = "number", @min="0" })
                    </div>
                    <div class="col-sm-1" style="margin-left:-20px">
                        @Html.Label("Kms ", new { @class = " control-label label-padding" })
                        @Html.ValidationMessageFor(m => m.FrequencyKm, "", new { @class = "text-danger" })
                    </div>
                </div>                
                <div class="col-sm-6">                    
                    <div class="col-sm-2">
                        @Html.Label("Alertar:", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-6 pull-left">
                        @Html.TextBoxFor(m => m.AlertBeforeKm, new { placeholder = "Kilómetros Antes", @class = "form-control textboxM only-positive", @type = "number", @min = "0" })
                        @Html.ValidationMessageFor(m => m.AlertBeforeKm, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4" style="margin-left:-20px">                        
                        <label class="control-label label-padding">Kms antes</label>
                    </div>
                </div>
            </div>
            <br />
            
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Frecuencia en Tiempo</div>
        <div class="panel-body">
            <div class="row" style="padding-bottom:16px">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        @Html.Label("Aplicar cada:", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-6 pull-left">
                        @Html.TextBoxFor(m => m.FrequencyMonth, new { placeholder = "Frecuencia en meses", @class = "form-control only-positive", @type = "number", @min = "0" })
                        @Html.ValidationMessageFor(m => m.FrequencyMonth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-1" style="margin-left:-20px">
                        @Html.Label("mes(es)", new { @class = "control-label label-padding" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        @Html.Label("Alertar:", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-6 pull-left">
                        @Html.TextBoxFor(m => m.AlertBeforeMonth, new { placeholder = "Días Antes", @class = "form-control only-positive", @type = "number", @min = "0" })
                        @Html.ValidationMessageFor(m => m.AlertBeforeMonth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-4" style="margin-left:-20px">
                        @Html.Label("días antes", new { @class = " control-label label-padding" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Vigencia del Mantenimiento</div>
        <div class="panel-body">
            <div class="row" style="padding-bottom:16px">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        @Html.Label("Desde:", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.StartDateStr, new { placeholder = "Desde (mes/día/año)", @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2">
                        @Html.Label("Hasta", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.EndDateStr, new { placeholder = "Hasta (mes/día/año)", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
                @Html.CheckBoxFor(m => m.HasMaxRange)
                Habilitar rango máximo de Recorrido / Tiempo para enviar alertas
        </div>
        <div class="panel-body">
            <div class="row" style="padding-bottom:16px">
                <div class="col-sm-12">
                    <div class="col-sm-7">
                        @Html.Label("Alerta habilitada hasta que el KM del vehículo sea menor a:", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 pull-left" style="margin-left:-7%;">
                        @if (Model.HasMaxRange == true)
                        {
                            @Html.TextBoxFor(m => m.MaxRangeKM, new { placeholder = "Máximo Kilometraje", @style = "width:96%;", @class = "form-control only-positive", @type = "number", step = "any", @min="0" })
                        }
                        else {
                            @Html.TextBoxFor(m => m.MaxRangeKM, new { placeholder = "Máximo Kilometraje", @style = "width:96%;", @class = "form-control only-positive", @type = "number", step = "any", @disabled = "disabled", @min = "0" })
                        }                   
                        @Html.ValidationMessageFor(m => m.FrequencyMonth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-1" style="margin-left:-32px">                        
                        <label class="control-label label-padding">Kms</label>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-7">
                        @Html.Label("Alerta habilitada hasta que la fecha de mantenimiento sea menor a:", new { @class = "control-label label-padding" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 pull-left" style="margin-left:-7%;">
                        @if (Model.HasMaxRange == true)
                        {
                            @Html.TextBoxFor(m => m.MaxRangeDateStr, new { placeholder = "Fecha Máxima", @style = "width:96%;", @class = "form-control" })
                        }
                        else {
                            @Html.TextBoxFor(m => m.MaxRangeDateStr, new { placeholder = "Fecha Máxima", @style = "width:96%;", @class = "form-control", @disabled = "disabled"})
                        }
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<script>
    //textbox to num
    $(this).on('show.bs.modal', function () {
        $('.textboxM').each(function () {
            var num = [];
            num = $(this).val();
            var res = '';
            var res2 = '';

            for (var i = 0; i < num.length; i++) {
                if (res2.length == 3) {
                    res = res + ',';
                    res2 = '';
                }

                var ind = (num.length - i) - 1;
                if (num[ind] != ',') {
                    res = res + num[ind];
                    res2 = res2 + num[ind];
                }
            }

            res2 = ''
            for (var i = 0; i < res.length; i++) {
                var ind = (res.length - i) - 1;
                res2 = res2 + res[ind];
            }

            $(this).val(res2);
        });
    });

    function FormatNum() {
        $('.textboxM').each(function () {
            var num = $(this).val();
            var res = '';
            var res2 = '';
            for (var i = 0; i < num.length; i++) {
                var ind = (num.length - i) - 1;
                if (num[ind] != ',') {
                    res = res + num[ind];
                }
            }
            res2 = ''
            for (var i = 0; i < res.length; i++) {
                var ind = (res.length - i) - 1;
                res2 = res2 + res[ind];
            }

            if ($(this).attr('id') == 'FrequencyKm') {
                $("input[id$='FrequencyKm']").val(res2);
            } else {
                $("input[id$='AlertBeforeKm']").val(res2);
            }
        });
        $('#processing').removeClass('hide');

    }
</script>
