﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceCatalog>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
              //.AutoGenerateColumns()
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add(m => m.Description).Titled("Nombre").SetWidth(400);
                  c.Add(m => m.FilterName).Titled("Tipo de Mantenimiento").SetWidth(30);
                  c.Add(m => m.FrequencyKmStr).Titled("Frecuencia (Km)").Css("grid-col-center").SetWidth(240);
                  c.Add(m => m.AlertBeforeMonth).Titled("Alertar Antes (Días)").Css("grid-col-center").SetWidth(185);
                  c.Add(m => m.FrequencyMonth).Titled("Frecuencia Cada (Meses)").Css("grid-col-center").SetWidth(185);
                  c.Add(m => m.CostStr).Titled("Costo").Css("grid-col-right").SetWidth(200);
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(145)
                      .RenderValueAs(m => @<span class="toolBar3">
                        <a href="#" class="sale-color" data-target="#costModal" id="@m.PreventiveMaintenanceCatalogId" title="Costo" cost_row><i class="mdi mdi-32px mdi-plus-box"></i></a>
                        <a href="@Url.Action("LoadPreventiveMaintenance", new { id = m.PreventiveMaintenanceCatalogId })" class="edit-color" id="@m.PreventiveMaintenanceCatalogId" title="Editar"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        @if (m.DontAllowDelete == false)
	                    {
                            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.PreventiveMaintenanceCatalogId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
	                    }                        
                    </span>).Css("grid-col-btn");

              }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
