﻿@model  ECOsystem.Areas.Control.Models.Control.CostCentersByCreditBase
@{
    ViewBag.Title = "Distribución de Crédito por Centro de Costo";
    ViewBag.Control = "active";
    ViewBag.ControlFuels = "active";
    ViewBag.ControlCostCentersByCreditIndex = "active";

    var calendar = Url.Content("~/Content/Images/calendar_date.png");
    var customBar = Url.Content("~/Content/Images/custom_bar.png");

    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<div id="wrapper">

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="3" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Distribución de Crédito por Centro de Costo</h3>
            </div>
        </div>
        @if (Model.CostCenterId != null)
        {
            if (Model.CreditInfo == null)
            {
                <div class="row">
                    <div class="alert alert-warning" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                        <span class="mdi mdi-exclamation" aria-hidden="true"></span>
                        <strong>Error!</strong> No existe crédito asignado para el mes actual.
                    </div>
                </div>
            }
            else
            {
                <div id="creditInfo" class="row">
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="calendar_bg">
                            <p class="month">
                                @Model.CreditInfo.MonthName
                            </p>
                            <p class="year">
                                @Model.CreditInfo.Year
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well text-center custom-box">
                            <p>
                                @Model.CreditInfo.CreditAmountStr
                            </p>
                        </div>
                        <div class="bg-custom">
                            <div class="progress">
                                @{
                                    var globalBartheme = Model.PctAssignedCredit > 80 ? "danger" : Model.PctAssignedCredit > 40 ? "warning" : "success";
                                }
                                <div id="AssignedCreditPct" class="progress-bar progress-bar-@globalBartheme triangle" role="progressbar" style="width: @Model.PctAssignedCredit%"></div>
                            </div>
                            <div class="progress2">
                                @{
                                    var assignedCreditStr = new HtmlString(Model.AssignedCreditStr + "&nbsp;(" + (int?)Model.PctAssignedCredit + "%)");
                                }
                                <div id="AssignedCreditAmt" class="progress-bar bar-text" data-val="@assignedCreditStr" role="progressbar" style="width: @Model.PctAssignedCredit%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        @using (Html.BeginForm("Index", "CostCentersByCredit", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row top30">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new { @class = "form-control fbold" })
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new { @class = "form-control fbold" })
                </div>
                <div class="col-sm-6">
                    @Html.DropDownListFor(m => m.CostCenterId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Seleccione un Centro de Costo", new { @class = "form-control fbold" })
                </div>
            </div>
        }

        @if (Model.CostCenterId != null)
        {
            <div id="ControlsContainer">
                @if (Model.GridInfo != null && Model.GridInfo.List != null && Model.GridInfo.List.Any())
                { 
                        
                    using (Ajax.BeginForm("ApplyValueToAll", "CostCentersByCredit", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECO_Control.CostCentersByCredit.OnSuccessLoad()"
                    }, new { id = "applyAllForm" }))
                    {
                        @Html.HiddenFor(m => m.Data.CostCenterId)
                        @Html.HiddenFor(m => m.Data.Month)
                        @Html.HiddenFor(m => m.Data.Year)
                        <div class="row top30">
                            <div class="col-sm-6 col-sm-offset-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Model.Data.CurrencySymbol</span>
                                    @Html.TextBoxFor(m => m.Data.ValueStr, new { placeholder = "Digite el Monto", @class = "form-control", data_currency = "true" })
                                    @Html.HiddenFor(m => m.Data.Value)
                                    <span class="input-group-btn" style="padding-left: 15px;">
                                        <span>
                                            <button id="btnSetAppliesMassive" type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal" title="Aplicar monto masivo">
                                            <i class="mdi mdi-arrow-down"></i>&nbsp;Aplicar Monto</button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div id="validationAmountError" class="col-sm-6 col-sm-offset-6 top20 hide">
                                <div id="errorAmountMsj" class="col-sm-12 text-danger">
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="confirmModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Confirmar Aplicación Masiva</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Esta seguro que desea realizar esta operación masiva sobre todos los vehículos del centro de costo seleccionado?</p>
                                    </div>
                                        
                                    <div class="modal-footer">                                        
                                        <div>
                                            <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                            <button type="submit" data-btnmodal="true" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }

        <div class="row top10">
            @using (Ajax.BeginForm("ApplyValuesToAll", "CostCentersByCredit", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECO_Control.CostCentersByCredit.OnSuccessLoad()"
            }, new { id = "applyAllForm2" }))
            {
                <input type="hidden" name="data.CostCenterId" value="@Model.Data.CostCenterId" />
                <input type="hidden" name="data.Month" value="@Model.Data.Month" />
                <input type="hidden" name="data.Year" value="@Model.Data.Year" />

                <div id="gridContainer">
                    @if (Model.CostCenterId != null)
                    {
                        if (Model.GridInfo != null && Model.GridInfo.List != null && Model.GridInfo.List.Any())
                        {
                            @Html.Partial("_partials/_Grid", Model.GridInfo)
                        }
                    }
                </div>
                
                <div class="modal fade" id="confirmModal2" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Confirmar Aplicación Masiva</h4>
                            </div>
                            <div class="modal-body">
                                <p>¿Esta seguro que desea realizar esta operación masiva sobre todos los vehículos del centro de costo seleccionado?</p>
                            </div>

                            <div class="modal-footer">                                
                                <div>
                                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                                    <button id="btnAppliesMassive" type="submit" data-btnmodal="true" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Control/CostCentersByCredit.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.CostCentersByCredit.Init();
        });

    </script>
}


@section styles {

    @Styles.Render("~/bundles/gridmvc_css")

    <style>

        .width280 {
            width: 280px;
        }

        .tooltip-inner {
            min-width: 180px;
        }
         .panel-heading a:after {
             font-family: 'Glyphicons Halflings';
             content: "\e114";
             float: right;
             color: grey;
         }
        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .label-pct {
            position: absolute;
            top: 26.5%;
            left: 134px;
            font-weight: bold;
        }


        /* Carousel Control */
        .control-box {
            padding-top: 10px;
            text-align: right;
            width: 100%;
        }


        .calendar_bg {
            background-image: url('@calendar');
            width: 148px;
            height: 148px;
        }

        p.month {
            padding-top: 55px;
            text-align: center;
            font-weight: bold;
            font-size: 14pt;
            padding-bottom: 0;
            color: #444444;
        }

        p.year {
            padding-top: 0px;
            text-align: center;
            font-weight: normal;
            font-size: 16pt;
            color: #444444;
        }

        #creditInfo .well.well-custom {
            padding-bottom: 0;
        }

        #creditInfo .custom-box {
            font-size: 28pt;
            color: #444444;
            margin-bottom: 0;
            background-color: ghostwhite;
            border: none;
        }

        #creditInfo .bg-custom {
            background-image: url('@customBar');
            background-repeat: repeat-x;
        }

        #creditInfo .progress {
            height: 18px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -16px;
            padding-left: 16px;
            margin-right: -16px;
            padding-right: 16px;
        }

        #creditInfo .progress2 {
            height: 25px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -50px;
            padding-left: 50px;
            margin-right: -50px;
            padding-right: 100px;
            margin-top: -15px;
        }

        #creditInfo .progress-bar {
            height: 8px;
            border-radius: 0;
        }

        #creditInfo .triangle:after {
            content: "";
            float: right;
            margin-top: 8px;
            margin-right: -8px;

            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;

            border-bottom: 10px solid #F0AD4E;
        }

        #creditInfo .bar-text {

            color: black;
            height: 25px;
            background-color: transparent;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
        }

        #creditInfo .bar-text:after {
            content: attr(data-val);
            float: right;

            width: 100px;
            margin-right: -35px;
        }

        .form-group {
            margin-bottom: 5px;
        }
    </style>
}