﻿.match-content { width: auto; }

@font-face {
    font-family: "Custom";
    src: url(../Content/Fonts/HelveticaNeue-Light.ttf);
}

a.disabled {
    visibility: visible !important;
}

.btn-link .mainfont {
    /*color: black;*/
    color: #C8102E!important;
    cursor: pointer;
}

footer p {
    margin-top: 10px;
    text-align: inherit;
}

html, body {
    height: 100%;
}
.top3 {
    padding-top:3px;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.progress-bar {
    color:black;
}
.grid-header { position:relative;vertical-align:middle; height: 30px;background-color: rgba(66, 139, 202,1); color:white; font-weight:bold;}

.full_width{
    width: 100%;
}
.red_icon {
    color:red;
}

.center_div {
    width: 50%;
    margin: 0 auto;
}
body {
    padding-top: 10px;
    /*background-color: #444; 2016-03-10: GSOLANO*/
}

body div.page-wrap {
    background-color: white;
    padding-left: 0px; /*2016-03-10: GSOLANO*/
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.site-footer {
    background-color: #444;
    color: #ccc;
}

/*.site-footer, .page-wrap:after {   /* 2016-03-09 GSOLANO */
    height: 90px;
}*/

.footerIcon {
    margin: 2px;
}
/*
    Begin - Set Sticky Footer

.page-wrap {
    min-height: 100%;
    margin-bottom: -90px;
}
.page-wrap:after {
    content: "";
    display: block;
}

    End - Set Sticky Footer
*/
.img:hover {
 cursor:pointer;
}
.bl_color {
    color:black;
}
.top40 {
    padding-top: 40px;
}

.top30 {
    padding-top: 30px;
}

.top20 {
    padding-top: 20px;
}

.top10 {
    margin-top: 10px;
}
.top5 {
    margin-top: 5px;
}
.right10 {
    padding-right: 10px;
}

.bottom20 {
    padding-bottom: 20px;
}

.cleanul {
    list-style: none;
    padding: 0;
}

.center {
    text-align: center;
}

.lightgray {
    background-color: #B5B4B4;
}
/*PC Normal*/
.header {
    background-color: white;
}

.margin0
{
    margin:0 !important;
}
/* iPhone portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    #logo {
        width: 300px;
    }
}

.pointer {
    cursor: pointer;
}

.moveleft {
    text-align: left;
}

.panel {
    margin-top: 10px;
}

.delete-color {
    color: #C9302C;
}

    .delete-color:active, .delete-color:hover, .delete-color:visited, .delete-color:focus {
        color: #C9302C;
    }

.edit-color {
    color: #EC971F;
}

.sale-color {
    color: #449d44;
}

.sale-color2 {
    color: #f0ad4e;
}

.sale-color3 {
    background-color:#449d44;
    color: #ffffff;
}

.edit-color:active, .edit-color:hover, .edit-color:visited, .edit-color:focus {
    color: #EC971F;
}

.bell-color {
    color:#449D44;
}

    .bell-color:active, .bell-color:hover, .bell-color:visited, .bell-color:focus {
        color: #449D44;
        cursor:pointer;
    }


.fbold {
    font-weight: bold;
}


/* section-header*/
.section-header {
    background: #f9f9f9;
    border-top: 4px solid #ccc;
    color: #444;
    /*text-transform: uppercase;*/
}

    .section-header p {
        padding-top: 4px;
        color: #444;
        font-weight: bold;
    }

.title-News {
    text-decoration: none;
    color: #000;
    font-size: small;
}


.search-color {
    color: #428bca;
}

    .search-color:active, .search-color:hover, .search-color:visited, .search-color:focus {
        color: #2a6496;
    }

.text-area {
    height: 250px !important;
    resize: none;
}

.iframe-Maps {
    width: 736px;
    height: 600px;
}
.iframe-Maps-PassControl {
    width: 750px;
    height: 654px;
}
.iframe-Maps-VehicleRoute {
    width: 755px;
    height: 654px;
}
.iframe-Maps-Measuring {
    width: 746px;
    height: 725px;
}

.iframe-Maps-Reconstructing {
    width: 736px;
    height: 650px;
}

.modal-GeoFence {
    width: 1110px;
}

.modal-RealTime {
    width: 770px;
}
.modal-VehicleRoute {
    width: 780px;
}

.modal-PassControl {
    width: 770px;
}

.modal-Reconstructing {
    width: 760px;
    height: 636px;
}

.iframe-Routes {
    width: 1030px !important;
    height: 655px !important;
    margin-left: 7px;
}

.body-modal-Maps {
    height: 675px !important;
}

.body-modal-RealTime {
    height: 600px !important;
    margin-left: 15px;
}

.body-modal-Reconstructing {
    height: 650px !important;
    margin-left: 15px;
}

.body-modal-SeeRoute {
    height: 605px !important;
    width: 760px !important;
    margin-left: 15px;
}
.body-modal-PassControl
{
    height: 655px!important;
    margin-left: 15px;
}
.body-modal-ResizeMap
{
    margin-left: 15px;
}

.modal-Routes {
    width: 1050px !important;
}

.vehicle-Padding-Top
{
    padding-top:2.5%;
}

.vehicle-Not-Padding-Left
{
    padding-left:0px;
}

#page-full-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}
/**//**/
.search-transactions
{
    margin-top:10px;
}

.subtext{
    font-style:italic;
    font-size: 10px;
}

 .fadeConfirmation {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fadeConfirmation.in {
    display:block;
    opacity: 1;
}
.fadeConfirmation.out {
    opacity: 0;
    display:none;
}
.fadeConfirmation.block {
    display:block;
}
.fadeConfirmation.none {
    display:none;
}
.cost-scroll {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.grid-cell span .glyphicon-pencil, .grid-cell span .glyphicon-stats {
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #f0ad4e;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#f0ad4e;
    margin-top:-6px;
}

.grid-cell span .glyphicon-plus, .grid-cell span .glyphicon-stats {
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #449d44;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#449d44;
    margin-top:-6px;
}

.grid-cell span .glyphicon-remove{
    margin-left:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #d9534f;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#d9534f;
    margin-top:-6px;
}

.grid-cell span .glyphicon-search{
    margin-left:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #428bca;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#428bca;
    margin-top:-6px;
}

.grid-cell span .glyphicon-circle-arrow-right{
    margin-left:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #5cb85c;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#5cb85c;
    margin-top:-6px;
}

.grid-cell span .glyphicon-info-sign{
    margin-left:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #d9534f;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#d9534f;
    margin-top:-6px;
}

.grid-cell span .glyphicon-usd{
    margin-right:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #5cb85c;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#5cb85c;
    margin-top:-6px;
}

.grid-cell span .glyphicon-shopping-cart{
    margin-left:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #5cb85c;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#5cb85c;
    margin-top:-6px;
}

/*Add the glyphicon-user to the same configuration in the grid*/
.grid-cell span .glyphicon-user{
    margin-left:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #4db8ff;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#4db8ff;
    margin-top:-6px;
}

.grid-cell span .glyphicon-ban-circle{
    margin-left:5px;
    padding-top:6px;
    padding-right:5px;
    border: 2px solid #d9534f;
    border-radius: 3px;
    width:30px;
    height:30px;
    color:white;
    background-color:#d9534f;
    margin-top:-6px;
}

.grid-cell span{
    width:74px; 
    display:block;
    float: right !important;
}

.grid-cell span.toolBar3{
    width:105px !important; 
}

.grid-cell span.toolBar1{
    width:35px !important; 
}

.grid-filter-btn {
    color: white;
    background-color:#5cb85c;
}

a.disabled {
    visibility:hidden;
}

.glyphicon-refresh-animate {
    -animation: spin .5s infinite linear;
    -webkit-animation: spin2 .5s infinite linear;
}

thead a
{
    color:white;
    text-decoration:none;
}

thead a:hover
{
    color:white;
    text-decoration:none;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.mainfont {
    font-size: 20px !important;
    font-weight: normal !important;    
    /*font-family: "Custom" !important;*/
}

.mainfont18 {
    font-size: 18px !important;
    font-weight: normal !important;
    /*font-family: "Custom" !important;*/
}

.table>tbody>tr.yellow>td {
  background-color: gold;
}

.table>tbody>tr.orange>td {
  background-color: darkorange;
}

.btn-left-menu {
    float: right;
    margin-right: -40px;
    background-color:#F8F8F8;
    border:1px solid #e7e7e7;
    border-top:0px;
    border-left:0px;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.btn-left-menu:hover {
    /*background-color:#F8F8F8;*/
    border:1px solid #e7e7e7;
    background-color:#EEEEEE;
}

.smallMenu {
    width:56px !important;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.normalMenu {
    width:250px !important;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.btnAlert {
    float:right !important;
    margin-top:-52px;
}

.alertDdl {
    min-width:0px !important;
}

.alertDanger {
    background-color: #d9534f !important;
}

.alertSuccess {
    background-color: #5cb85c !important;
}

.logoHead {
    min-height:92px !important;
}