﻿<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="@ViewBag.Combustible">
                    <a href="#"><img src="~/Content/Images/menu_combustible.png" class="right10" />Combustible</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("combustibledistribucion", "Home")">Distribución de Combustible</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CombustibleDistribucionPorVehiculo", "Home")">Distribución por Vehículo</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CombustibleAsignacionesYRecortes", "Home")">Asignaciones y Recortes</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CombustibleAcreditacionesFuturas", "Home")">Acreditaciones Futuras</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="@ViewBag.OtrosCreditos">
                    <a href="#"><img src="~/Content/Images/menu_credit_cards.png" class="right10" />Otros créditos</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("OtrosCreditosDistribucion", "Home")">Distribución de Otros Créditos</a>
                        </li>
                        <li>
                            <a href="@Url.Action("OtrosCreditosAsignacionesYRecortes", "Home")">Asignaciones y Recortes</a>
                        </li>
                        <li>
                            <a href="@Url.Action("OtrosCreditosAcreditacionesFuturas", "Home")">Acreditaciones Futuras</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="@ViewBag.Aceite">
                    <a href="#"><img src="~/Content/Images/menuaceite.png" class="right10" />Aceite</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("AceiteDistribucion", "Home")">Distribución de Aceite</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AceiteAsignacionesYRecortes", "Home")">Asignaciones y Recortes</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AceiteAcreditacionesFuturas", "Home")">Acreditaciones Futuras</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="@ViewBag.Flota">
                    <a href="#"><img src="~/Content/Images/menuflota.png" class="right10" />Flota</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("FlotaDatos", "Home")">Datos de la Flota</a>
                        </li>
                        @if (User.IsInRole("CUSTOMER_CHANGEODOMETER")) { 
                            <li>
                                <a href="@Url.Action("FlotaAjusteOdometros", "Home")">Ajuste Odómetros</a>
                            </li>
                        }
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="@ViewBag.Localizacion">
                    <a href="#"><img src="~/Content/Images/menulocalizacion.png" class="right10" />Localización</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("LocalizacionGeocercas", "Home")">Geocercas</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LocalizacionCreacionRutas", "Home")">Creación de Rutas</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LocalizacionDistribucionRutas", "Home")">Distribución de Rutas</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="@ViewBag.Mantenimiento">
                    <a href="#"><img src="~/Content/Images/menumantenimiento.png" class="right10" />Mantenimiento</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("MantenimientoPreventivo", "Home")">Preventivo</a>
                        </li>
                        <li>
                            <a href="@Url.Action("MantenimientoCorrectivo", "Home")">Correctivo</a>
                        </li>
                        <li>
                            <a href="@Url.Action("MantenimientoPredictivo", "Home")">Predictivo</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
