﻿@{
    var video = string.Format("~/Content/Images/{0}", System.Configuration.ConfigurationManager.AppSettings["NewsVideo"]);
}

<style>
    .modalcss {
        width: calc(100vh - -70px);
        height: calc(100vh - 210px);
        background: rgba(252, 253, 253, 0.1);
    }

    .bodyOpacity {
        background: rgba(252, 253, 253, 0.1);
    }

    .videoheight {
        width: calc(100vh - -70px);/*1044px;*/
        height: calc(100vh - 180px);/*692px;*/
    }

    .videohorizontalcenter {
        padding: 30px 0;
        text-align: center;
    }
</style>

<div class="modal fade" id="NewsModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="NewsModal" aria-hidden="true" style="top:50px;">
    <div class="modal-dialog modalcss">
        <div class="modal-content bodyOpacity">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 videoheight videohorizontalcenter">
                        <div id="VideoInserted" style="width: calc(100vh - -69px);" class="videohorizontalcenter">
                            <div align="center" class="embed-responsive embed-responsive-16by9">
                                <video id="video_player" class="embed-responsive-item" controls>
                                    <source src="@Url.Content(video)" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label class="control-label" style="font-style:normal;">
                                @Html.CheckBox("NoShowAgain")&nbsp;No Mostrar de Nuevo
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button id="btnnoshowagain" type="button" class="btn btn-default" onclick=""><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>