﻿@*@model IEnumerable<ECOsystem.Models.Core.PartnerNews>*@
@model ECOsystem.Models.Home.ViewModel
@{ 
    var firstNews = "current";
}

@foreach (var item in Model.rssModels)
{
    <div class="cbp-qtcontent @firstNews">
        @Html.Hidden("news-title-" + item.NewsId, item.Title)
        @Html.Hidden("news-content-" + item.NewsId, item.Content)
        <blockquote>
            <p>@item.Title</p>
            <p>
                @if (item.Content.Length > Model.cantTextNewsDelimiter)
                {
                    @item.Content.Substring(0, Model.cantTextNewsDelimiter)
                    <i>...</i>
                }
                else
                {
                    @item.Content
                }
            </p>
            @if (item.Content.Length > Model.cantTextNewsDelimiter)
            {
                <footer><a class="activator" detail-news-id="@item.NewsId">Leer más...</a></footer>
            }
        </blockquote>
    </div>

    firstNews = "";
}