﻿@{
    ViewBag.Title = "Datos";
}
<div id="wrapper">
    @Html.Partial("_Menu")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12 center">
                <img src="~/Content/Images/page_under_construction.jpg" width="270" />
            </div>
        </div>
    </div>
</div>