﻿@using System.Configuration
@model ECOsystem.Models.Home.ViewModel
@{
    ViewBag.Title = "Datos";
    Model.cantTextNewsDelimiter = 90;
    var showNews = Session["ShowNews"] != null ? (bool)Session["ShowNews"] : ECOsystem.Utilities.Session.GetUserInfo().ShowNews;
    var ControlAccess = ECOsystem.Utilities.Session.DashboardControlAccess();
    var OperacionAccess = ECOsystem.Utilities.Session.DashboardOperacionAccess();
    var AdminAccess = ECOsystem.Utilities.Session.DashboardAdminAccess();
    int count = 0;
    string alerts = string.Empty;
    if (ECOsystem.Utilities.Session.GetUserInfo().PartnerId != null)
    {
        List<ECOsystem.Models.Home.FuelChange> FuelChange = (List<ECOsystem.Models.Home.FuelChange>)ECOsystem.Business.Home.HomeBusiness.RetrieveFuelChanges(null, ECOsystem.Utilities.Session.GetUserInfo().CustomerId);
        foreach (var item in FuelChange)
        {
            alerts = !string.IsNullOrEmpty(alerts) ? alerts + "|<span>Faltan " + item.Val.Split('-')[0] + " días para el cambio de precio de <br />combustible " + item.Val.Split('-')[2] + ". Fecha de cambio: " + item.Val.Split('-')[1] + "</span>" :
                        "<span>Faltan " + item.Val.Split('-')[0] + " días para el cambio de precio de <br />combustible " + item.Val.Split('-')[2] + ". Fecha de cambio: " + item.Val.Split('-')[1] + "</span>";
            count++;
        }
    }

    var displayControlInfo = (ControlAccess) ? "display_card" : "not_display_card";
    var displayOperationInfo = (OperacionAccess) ? "display_card" : "not_display_card";
    var displayAdminInfo = (AdminAccess) ? "display_card" : "not_display_card";
    var fixProgressNews = "";
    var widthSizeLContainer = "6";
    var widthSizeModules = "6";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@switch (ConfigurationManager.AppSettings["TEMPLATE_TYPE"])
{
    case "1": // 1 COINCA
        @Styles.Render("~/bundles/cards_ui_intrack_css")
        break;
    case "2": // 2 BAC
        @Styles.Render("~/bundles/cards_ui_bacflota_css")
        break;
}

@section styles{
    <link href="~/Content/Styles/newsRotator/newsRotator.css" rel="stylesheet" />
    <style>
        #toast-container > div {
            width: 600px !important;
        }

        .video-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

            .video-container video {
                /* Make video to at least 100% wide and tall */
                min-width: 100%;
                min-height: 100%;
                /* Setting width & height to auto prevents the browser from stretching or squishing the video */
                width: auto;
                height: auto;
                /* Center the video */
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        video {
            object-fit: cover;
        }
    </style>
}

@Html.Hidden("alerts", @alerts)
@Html.Hidden("showNews", showNews)
<div id="page-content-wrapper">
    @Html.HiddenFor(m => m.DataIndicators.FuelAvailableLabels)
    <div class="row">
        @if (ControlAccess)
        {
            <div class="col-lg-6 col-md-12 col-sm-12" style="padding-left: 0;" id="prueba">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 11px;">
                        <div class="card card-graph-main" style="min-height:100%">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-xs-4 less-padding-right icon-space text-center">
                                        <i class="mdi mdi-credit-card-multiple icon-mdi"></i>
                                    </div>
                                    <div class="col-xs-4 less-padding-right less-padding-left">
                                        <div class="col-xs-12 text-center">
                                            <div class="very-low-text-card text-uppercase">Transacciones del día</div>
                                            <div class="very-middle-text-card">@Model.DataIndicators.TotalTransactions</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="col-xs-12 text-center">
                                            <div class="very-low-text-card text-uppercase">Procesadas</div>
                                            <div class="low-text-card">@Model.DataIndicators.CantProcTransaction</div>
                                        </div>
                                        <div class="col-xs-12 text-center">
                                            <div class="very-low-text-card text-uppercase">Denegadas</div>
                                            <div class="low-text-card">@Model.DataIndicators.CantDenyTransaction</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <canvas id="lineChart" width="110" height="40" style="max-height:263px"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (!AdminAccess && !OperacionAccess)
            {
                widthSizeModules = "12";
                widthSizeLContainer = "6";
                fixProgressNews = "cbp-qtprogress_fix";
                Model.cantTextNewsDelimiter = 130;
            }
            else
            {
                widthSizeLContainer = "12";
                widthSizeModules = "3";
            }
        }

        <div class="col-lg-6 col-md-12 col-sm-12" style="padding-left: 0;">
            <video width="100%" height="100%" class="video-heigth" controls autoplay muted id="prueba2">
                <source src="~/Content/Images/Tutoriales.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 wall-padding">
            <div class="row">
                <div class="@displayOperationInfo col-lg-3 col-md-3 col-sm-3 less-padding-left wall-padding-detail">
                    <div class="card card-operation">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-5 icon-space text-center">
                                    <i class="mdi mdi-seal icon-mdi"></i>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-7 text-center">
                                    <div class="very-low-text-card text-uppercase">Promedio Calificaciones</div>
                                    <div class="very-middle-text-card">@Convert.ToInt32(Model.DataIndicators.ScorePercentAverage)%</div>
                                </div>
                            </div>
                            <div class="row counter-horizontal-divider">
                                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                    <hr class="card-content-hr" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                            <div class="very-low-text-card text-uppercase">Arriba del Promedio</div>
                                            <div class="low-text-card">@Model.DataIndicators.ScoreAboveAverage</div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                            <div class="very-low-text-card text-uppercase">Debajo del Promedio</div>
                                            <div class="low-text-card">@Model.DataIndicators.ScoreBelowAverage</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="@displayAdminInfo col-lg-3 col-md-3 col-sm-3 less-padding-left">
                    <div class="card card-admin">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 less-padding-right text-center">
                                    <i class="mdi mdi-car-connected icon-mdi icon-space"></i>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                    <div class="very-low-text-card text-uppercase">Vehículos Registrados</div>
                                    <div class="very-middle-text-card">@Model.DataIndicators.RegisterVehicles</div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="bg-custom">
                                        @{
                                            decimal percentVehicles;
                                            if (Model.DataIndicators.VehiclesWithAVL == 0 || Model.DataIndicators.RegisterVehicles == 0)
                                            {
                                                percentVehicles = 0;
                                            }
                                            else
                                            {
                                                percentVehicles = Model.DataIndicators.RegisterVehicles == 0 ?
                                                    Model.DataIndicators.RegisterVehicles : (Model.DataIndicators.VehiclesWithAVL * 100) / Model.DataIndicators.RegisterVehicles;//(Model.DataIndicators.VehiclesWithAVL / Model.DataIndicators.RegisterVehicles) * 100;
                                            }
                                        }
                                        <div class="progress">
                                            <div id="AssignedCreditPct" class="progress-bar progress-bar-success triangle" role="progressbar" progress-value="@percentVehicles%"></div>
                                        </div>
                                        <div class="row" style="margin-top:-15px;">
                                            <div class="col-xs-6 col-md-6 col-sm-6 text-center">Vehículos con GPS</div>
                                            <div class="col-xs-5 col-md-6 col-sm-5 text-left">@String.Format("{0} ({1})%", Model.DataIndicators.VehiclesWithAVL, percentVehicles)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="@displayAdminInfo col-lg-3 col-md-3 col-sm-3 less-padding-left wall-padding-detail">
                    <div class="card card-admin-2">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 icon-space text-center">
                                    <i class="mdi mdi-credit-card icon-mdi"></i>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                    <div class="very-low-text-card text-uppercase">Fleetcard Activas</div>
                                    <div class="very-middle-text-card">@Model.DataIndicators.ActiveCards</div>
                                </div>
                            </div>
                            <div class="row counter-horizontal-divider">
                                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                    <hr class="card-content-hr" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                    <div class="very-low-text-card text-uppercase">Fleetcard Solicitadas</div>
                                    <div class="low-text-card">@Model.DataIndicators.RequestCards</div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                                    <div class="very-low-text-card text-uppercase">Fleetcard Registradas</div>
                                    <div class="low-text-card">@Model.DataIndicators.RegisterCards</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 less-padding-left">
                    <div class="card card-news">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-3 col-sm-4 col-md-3 icon-space text-center">
                                    <i class="mdi mdi-comment-text" style="font-size:6.7rem;"></i>
                                </div>
                                <div class="col-xs-9 col-sm-8 col-md-9 text-center">
                                    <div class="main">
                                        <div id="cbp-qtrotator" class="cbp-qtrotator">
                                            @Html.Partial("_RSSNews", Model)
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="cbp-qtprogress @fixProgressNews">  </span>

                                </div>

                            </div>
                        </div>
                        <div class="card-reveal">
                            <div class="col-sm-12">
                                <div class="row">
                                    <span class="card-title grey-text text-darken-4 reset-hide-detail">
                                        <i class="material-icons close-reveal mdi mdi-close"></i>
                                    </span>
                                </div>
                                <div class="row">
                                    <blockquote>
                                        <p id="news-title"></p>
                                        <p id="news-content"></p>
                                    </blockquote>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.Partial("_NewsModal")
</div>



@section scripts{
    @Scripts.Render("~/bundles/ChartGoogleJS")
    <script src="~/Content/Scripts/newsRotator/newsRotator.js?v=@version-hf0"></script>

    <script type="text/javascript">
        $(function () {
            var showNews = $('#showNews').val();
            if(showNews == "True"){
                $('#NewsModal').modal('show');
            }

            $('#NewsModal').on('shown.bs.modal', function(){
                ShowVideo();
            });

            $('#NewsModal').on('hidden.bs.modal', function(){
                hideVideo()
            });

            $('#btnnoshowagain').click(function () {
                var shownews = $('#NoShowAgain').prop("checked");
                $.ajax({
                    type: "POST",
                    url: '/Home/EditShowNews',
                    contentType: "application/json",
                    data: JSON.stringify({ ShowNews: shownews }),
                }).success(function () {});
                $('#NewsModal').modal('hide');
            });

            $("#page-content-wrapper").parent("div").attr("id", "wrapper-dash");
            var strLabels = $("#DataIndicators_FuelAvailableLabels").val();
            var labels = strLabels.split(",");
            var values = @Model.DataIndicators.FuelAvailableAmmount;
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "Disponible de Combustible",
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "#428bca",
                        borderColor: "#fff",
                        borderWidth: 1.5,
                        pointHoverBackgroundColor: "#fff",
                        pointRadius: 4,
                        data: values,
                    }
                ]
            };

            var ctx = document.getElementById("lineChart").getContext("2d");
            ctx.fillStyle = 'black';

            var myLineChart = Chart.Line(ctx,
            {
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [
                            {
                                gridLines: {
                                    color: "rgba(0, 0, 0, .050)"
                                },
                                scaleLabel: {
                                    fontColor: "#fff"

                                },
                                ticks: {
                                    fontColor: "#fff",
                                    fontSize: 10.5
                                }
                            }
                        ],
                        xAxes: [
                            {
                                gridLines: {
                                    color: "rgba(0, 0, 0, .000)"
                                },
                                scaleLabel: {
                                    fontColor: "#fff"
                                },
                                ticks: {
                                    fontColor: "#fff",
                                    fontSize: 10.5
                                }
                            }
                        ]
                    }

                }
            });

            if(@count > 0)
            {
                var hide = 1000;
                var arr = $('#alerts').val();
                for (var i = 0; i < arr.split('|').length; i++) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": hide,
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "slideDown",
                        "hideMethod": "fadeOut"
                    };
                    toastr["info"](arr.split('|')[i]);
                    hide = hide + 500;
                }
            }
        });


        function ShowVideo() {
            $("#video_player")[0].play();
            $("#video_player").prop("volume", 0.3);
            $("#VideoInserted").css("display", "block");
        }

        function hideVideo() {
            $("#VideoInserted").css("display", "none");
            $("#video_player")[0].pause();
            $("#video_player")[0].currentTime = 0;
        }

        window.onresize = videoSize

        window.onload = videoSize

        function videoSize() {
            try {
                let clientHeight = document.getElementById('prueba').clientHeight
                let video = document.getElementById('prueba2')

                video.height = clientHeight - 11
            } catch (e) {
                console.log('Error Video: No se pudo hacer resize', e.message)
            }
        }

    </script>
}

