﻿@model ECOsystem.Models.Core.DashboarPartnerModel

@{
    ViewBag.Title = "Socio - Página Inicial";
    List<ECOsystem.Models.Home.FuelChange> FuelChange = (List<ECOsystem.Models.Home.FuelChange>)ECOsystem.Business.Home.HomeBusiness.RetrieveFuelChanges(ECOsystem.Utilities.Session.GetUserInfo().PartnerId, null);
    int count = FuelChange == null ? 0 : FuelChange.Count();
    string alerts = string.Empty;
    foreach (var item in FuelChange)
    {
        alerts = !string.IsNullOrEmpty(alerts) ? alerts + "|<span>Faltan " + item.Val.Split('-')[0] + " días para el cambio de precio de <br />combustible " + item.Val.Split('-')[2] + ". Fecha de cambio: " + item.Val.Split('-')[1] + "</span>" :
                    "<span>Faltan " + item.Val.Split('-')[0] + " días para el cambio de precio de <br />combustible " + item.Val.Split('-')[2] + ". Fecha de cambio: " + item.Val.Split('-')[1] + "</span>";
    }
}

@section styles {
    <style>
        #wrapper {
            padding: 0;
        }

        #page-content-wrapper {
            min-height:800px!important;
        }

        .container-partner {
            padding: 20px;
            min-height: calc(100vh - 60px);
        }

        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .label-pct {
            position: absolute;
            top: 26.5%;
            left: 134px;
            font-weight: bold;
        }

        .fuelTable table {
            position: absolute;
            top: 60.5%;
        }

        .fuelTable table td {
                vertical-align: bottom;
                font-size: 10pt;
                padding: 4px 6px 0 4px;
            }

        .grid-wrap {
            padding-top: 0;
        }

        #accordion tr.grid-row:last-child {
            border-top: 2px solid #808080;
            font-size: 11pt;
            font-weight: bold;
            color: #808080;
        }

        .normal_row {
            color: #000000;
        }

        .thumbnail {
            border-color: #31B0D5;
            padding: 0;
            margin: 0;
        }

            .thumbnail table {
                background-color: #F5F5F5;
                width: 100%;
                color: #444;
            }

            .thumbnail thead td {
                background-color: #31B0D5;
                font-weight: bold;
                font-size: 12pt;
                text-align: center;
                line-height: 25px;
                padding: 8px;
                color: white;
            }

            .thumbnail tbody td {
                padding: 5px;
                font-size: 9pt;
            }

        /* Carousel Control */
        .control-box {
            padding-top: 10px;
            text-align: right;
            width: 100%;
        }

        p.month {
            padding-top: 55px;
            text-align: center;
            font-weight: bold;
            font-size: 14pt;
            padding-bottom: 0;
            color: #444444;
        }

        p.year {
            padding-top: 0px;
            text-align: center;
            font-weight: normal;
            font-size: 16pt;
            color: #444444;
        }

        #creditInfo .well.well-custom {
            padding-bottom: 0;
        }

        #creditInfo .custom-box {
            font-size: 28pt;
            color: #444444;
            margin-bottom: 0;
            background-color: ghostwhite;
            border: none;
        }

        #creditInfo .bg-custom {
            background-repeat: repeat-x;
            margin-top: 8px;
        }

        #creditInfo .progress {
            height: 18px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -16px;
            padding-left: 16px;
            margin-right: -16px;
            padding-right: 16px;
        }

        #creditInfo .progress2 {
            height: 25px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -50px;
            padding-left: 50px;
            margin-right: -50px;
            padding-right: 113px;
            margin-top: -15px;
        }

        #creditInfo .progress3 {
            height: 25px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -50px;
            padding-left: 50px;
            margin-right: -50px;
            padding-right: 113px;
            margin-top: -15px;
        }

        #creditInfo .progress-bar {
            height: 3px;
            border-radius: 0;
        }

        #creditInfo .triangle:after {
            content: "";
            float: right;
            margin-top: 8px;
            margin-right: -8px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid #F0AD4E;
        }

        #creditInfo .bar-text {
            color: white;
            height: 25px;
            background-color: transparent;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
        }

            #creditInfo .bar-text:after {
                content: attr(data-val);
                float: right;
                width: 100px;
                margin-right: -35px;
            }

        #creditInfo .currencySymbolData {
            font-size: 35px;
        }

        #creditInfo .progress-descrip {
            position: absolute;
            bottom: 22%;
            font-size: 12px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .cardInfo-footer-left {
        }

        .cardInfo-footer-right {
            height: 25px;
            overflow: hidden;
            background-color: transparent;
            border-radius: 0;
            box-shadow: inset 0 0 0 rgba(0, 0, 0, .1);
            margin-left: -50px;
            padding-left: 50px;
            margin-right: -50px;
            padding-right: 100px;
            margin-top: -15px;
        }

         .card-transactions{
            background-color:#2A9446 !important;
            border-color: #2A9446 !important;
            color:#fff;
            margin-top:0px;
            height: 200px;
        }

        .card-vehicles{
            background-color: #F5881F !important;
            border-color: #CD5527 !important;
            color:#fff;
            margin-top:0px;
            height: 200px;
        }

        .card-drivers{
            background-color: #003594 !important;
            border-color: #003594 !important;
            color:#fff;
            margin-top:0px;
            height: 200px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 6px;
            border: 1px solid rgba(255,255,255,.15);
        }

        .mid-ico-card {
            font-size: 90px;
        }

        #toast-container>div {            
            width: 600px!important;          
        }

    </style>
}

@Html.Hidden("alerts", @alerts)
<div id="page-content-wrapper">
    <div id="card-grand-wrapper" class="card grand-detail">
        <div class="card-content grand-detail-content">

            <div id="creditInfo" class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="card card-drivers" id="DriversCard">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 less-padding-right icon-space text-center">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Nuevos clientes en el mes">
                                        <i class="mdi mdi-account-multiple mid-ico-card"></i>
                                    </span>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <div class="low-text-card text-right">Clientes</div>
                                            <div class="huge text-right">@Model.Customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-custom">
                                <div class="progress">
                                    @{
                                        var CustomerBartheme = Model.LastCustomer > 80 ? "danger" : Model.Customers > 40 ? "warning" : "success";
                                        var totaCustomerWidth = Model.Customers == 0 ? Model.Customers : (Model.LastCustomer * 100) / Model.Customers;
                                        var showCustomerWidth = totaCustomerWidth < 10 ? 16 : totaCustomerWidth;
                                    }
                                    <div id="AssignedCreditPct" class="progress-bar progress-bar-@CustomerBartheme triangle" role="progressbar" progress-value="@totaCustomerWidth%"></div>
                                </div>
                                <div class="progress2">
                                    @{
                                        var TotalCustomers = new HtmlString("Nuevos&nbsp;Clientes:&nbsp;" + Model.LastCustomer + "&nbsp;(" + (int?)totaCustomerWidth + "%)");
                                    }
                                    <div id="AssignedCreditAmt" class="progress-bar bar-text" data-val="@TotalCustomers" role="progressbar" style="width: @showCustomerWidth%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="card card-vehicles" id="VehiclesCard">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 less-padding-right icon-space text-center">
                                    <i class="mdi mdi-car mid-ico-card"></i>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <div class="low-text-card text-right">Vehículos</div>
                                            <div class="huge text-right">@Model.Vehicles</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-custom">
                                <div class="progress">
                                    @{
                                        var globalBartheme = Model.VehiclesAVL > 80 ? "danger" : Model.VehiclesAVL > 40 ? "warning" : "success";
                                        var totalWidth = Model.Vehicles == 0 ? Model.Vehicles : (Model.VehiclesAVL * 100) / Model.Vehicles;
                                        var showVehicleWidth = totalWidth < 10 ? 16 : totalWidth;
                                    }
                                    <div id="AssignedCreditPct" class="progress-bar progress-bar-@globalBartheme triangle" role="progressbar" progress-value="@totalWidth%"></div>
                                </div>
                                <div class="progress2">
                                    @{
                                        var TotalVehicles = new HtmlString("Transmitiendo:&nbsp;" + Model.VehiclesAVL + "&nbsp;(" + (int?)totalWidth + "%)");
                                    }
                                    <div id="AssignedCreditAmt" class="progress-bar bar-text" data-val="@TotalVehicles" role="progressbar" style="width: @showVehicleWidth%"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="card card-transactions card-content-indicator" id="CreditCardCard">
                        <div class="card-content card-content-indicator">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 less-padding-right icon-space text-center">
                                    <i class="mdi mdi-credit-card-multiple mid-ico-card"></i>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <div class="low-text-card text-right">Fleetcard Activas</div>
                                            <div class="huge text-right">@Model.CCardsActive</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <div class="bar-text ">Fleetcard Solicitadas</div>
                                            <div class="low-text-card">@Model.CCardsRequest</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <div class="bar-text">Fleetcard Registradas</div>
                                            <div class="low-text-card">@Model.CreditCards</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ChartGoogleJS")
    <script>
        $(function () {
            $("#LoadMenuForm").submit();

            $(".doughnut_chart").each(function () {

                var width = $(this).parent('div').css("width").replace("px", "");
                $(this).attr("width", width);

                var ctx = $(this)[0].getContext('2d');


                var dataDoughnut = {
                    labels: [
                        "Red",
                        "Gray"
                    ],
                    datasets: [{
                        data: [67, 33],
                        backgroundColor: [
                            "#5cb85c",
                            "#ccc"
                        ],
                        hoverBackgroundColor: [
                            "#5cb85c",
                            "#ccc"
                        ]
                    }]
                };

                var config = {
                    type: 'doughnut',
                    data: dataDoughnut,
                    options: {
                        elements: {
                            arc: {
                                roundedCornersFor: 0
                            },
                            center: {
                                // the longest text that could appear in the center
                                maxText: '100%',
                                text: '67%',
                                fontColor: '#5cb85c',
                                fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                                fontStyle: 'normal',
                                // fontSize: 12,
                                // if a fontSize is NOT specified, we will scale (within the below limits) maxText to take up the maximum space in the center
                                // if these are not specified either, we default to 1 and 256
                                minFontSize: 1,
                                maxFontSize: 256,
                            }
                        },
                        legend: {
                            display: false,
                            position: 'bottom'
                        }
                    }
                };

                var myChart = new Chart(ctx, config);

            });

            if(@count > 0)
            {
                var hide = 1000;                
                var arr = $('#alerts').val();
                for (var i = 0; i < arr.split('|').length; i++) {      
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": hide,
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "slideDown",
                        "hideMethod": "fadeOut"
                    };
                    toastr["info"](arr.split('|')[i]);
                    hide = hide + 500;     
                }  
            }
        });
    </script>
}