﻿@model ECOsystem.Models.Core.SAIndicators
@{
    ViewBag.Title = "Index";
    List<ECOsystem.Models.Home.FuelChange> FuelChange = (List<ECOsystem.Models.Home.FuelChange>)ECOsystem.Business.Home.HomeBusiness.RetrieveFuelChanges(null, null);
    int count = FuelChange == null ? 0 : FuelChange.Count();
    string alerts = string.Empty;
    foreach (var item in FuelChange)
    {
        alerts = !string.IsNullOrEmpty(alerts) ? alerts + "|<span>Faltan " + item.Val.Split('-')[0] + " días para el cambio de precio de <br />combustible " + item.Val.Split('-')[2] + ". Fecha de cambio: " + item.Val.Split('-')[1] + "</span>" :
                    "<span>Faltan " + item.Val.Split('-')[0] + " días para el cambio de precio de <br />combustible " + item.Val.Split('-')[2] + ". Fecha de cambio: " + item.Val.Split('-')[1] + "</span>";
    }
}

@section styles {
    <style>
        #wrapper {
            padding: 0;
        }

        .container-partner {
            padding: 20px;
            min-height: calc(100vh - 60px);
        }

        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }        

        #page-content-wrapper {
            min-height:500px!important;
        }

         #toast-container>div {            
            width: 600px!important;          
        }
    </style>
}

@Html.Hidden("alerts", @alerts)
<div id="page-content-wrapper">
    <div class="row" style="min-height:600px;">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Html.ValueFor(m => m.Partners)</div>
                            <div>Socios registrados</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Coinca/Partners")">
                    <div class="panel-footer">
                        <span class="pull-left">Ver detalles</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Html.ValueFor(m => m.Customers)</div>
                            <div>Clientes activos</div>
                        </div>
                    </div>
                </div>
                @*<a href="/customers" href="#">*@
                <div class="panel-footer">
                    <div class="text-success">Total de Clientes en el Sistema</div>
                    @*<span class="pull-left">Ver detalles</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>*@
                    <div class="clearfix"></div>
                </div>
                @* </a>*@
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-truck fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Html.ValueFor(m => m.Vehicles)</div>
                            <div>Vehículos inscritos</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-warning">Total de Vehículos en el Sistema</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-male fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Html.ValueFor(m => m.Drivers)</div>
                            <div>Conductores asociados</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-danger">Total de Conductores en el Sistema</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function() {
            if(@count > 0)
            {
                var hide = 1000;
                var arr = $('#alerts').val();
                for (var i = 0; i < arr.split('|').length; i++) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": hide,
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "slideDown",
                        "hideMethod": "fadeOut"
                    };
                    toastr["info"](arr.split('|')[i]);
                    hide = hide + 500;
                }
            }
        });
    </script>
}