﻿@model  ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceCatalogBase
@{
    var title = (Model.Data != null && Model.Data.PreventiveMaintenanceCatalogId != null && Model.Data.PreventiveMaintenanceCatalogId > 0) ? "Editar " : "Agregar ";

    ViewBag.Title = title + "Mantenimiento";
    ViewBag.Administration = "active";
    ViewBag.Mantenimiento = "active";
    ViewBag.PreventiveMaintenance = "active";
    ViewBag.MenuMantenimientos = "active";
    ViewBag.HasGrid = true;
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var profile = ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId);
    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    var header = (profile == "LINEVITA_ADMIN") ? "21" : "8";
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("AddOrEditPreventiveMaintenance", "PreventiveMaintenanceCatalog", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "updateSidebar()"
}, new { id = "AddOrEditMaintenanceForm", autocomplete = "off" }))
{
    @*@using (Html.BeginForm("AddOrEditPreventiveMaintenance", "PreventiveMaintenanceCatalog", FormMethod.Post)) {*@
    <div id="page-content-wrapper">
        <div class="card">
            <div class="card-content">

                <div id="dangerMaintenanceMessage" class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
                    <i class="mdi mdi-information"></i>&nbsp;<b>Upss</b> se detectó un error no controlado, por favor indicar a soporte el siguiente mensaje: <b id="msgMaintenanceAlert"></b>
                </div>

                <div class="form-horizontal">
                    <div id="detailContainer">
                        @Html.Partial("_partials/_Detail", Model.Data)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right" style="padding-right:29px;">
                        <button id="btnCancelAddOrEditMaintenance" type="button" class="btn btn-default" onclick="@("window.location.href=' " + @Url.Action("Index", "PreventiveMaintenanceCatalog")+ "'");"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                        <button id="btnSaveAddOrEditMaintenance" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="ConfirmAddOrEditMaintenance" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mantenimientos</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea guardar los cambios?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmAddOrEditMaintenance"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Administration/preventiveMaintenanceCatalog.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.Init();
             ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.InitAddOrEditMaintenance();
        });
    </script>
}