﻿@model  ECOsystem.Areas.Admin.Models.Administration.PreventiveMaintenanceCatalogBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catálogo de Mantenimientos";
    ViewBag.Administration = "active";
    ViewBag.Mantenimiento = "active";
    ViewBag.PreventiveMaintenance = "active";
    ViewBag.MenuMantenimientos = "active";
    ViewBag.HasGrid = true;
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var profile = ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId);
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    var header = (profile == "LINEVITA_ADMIN") ? "21" : "8"; 
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    @using (Html.BeginForm("Index", "PreventiveMaintenanceCatalog", FormMethod.Post, new { id = "ReloadForm" }))
    {
        @Html.Hidden("FilterId")
    }
    
    <!--Search Area Start-->
    @using (Ajax.BeginForm("SearchPreventiveMaintenance", "PreventiveMaintenanceCatalog", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-sm-2">
                <a id="btnAdd" href="@Url.Action("LoadPreventiveMaintenance", new { id = -1 })" onclick="ECOsystem.Utilities.ShowLoader();" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i> Agregar Mantenimiento</a>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2" style="padding-right: 0;">
                @Html.DropDownListFor(m => m.FilterType,  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetFilterMaintenanceType, new { @class = "form-control", custom = "true", @id = "FilterTypeId" })
            </div>           
            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por nombre...">
                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify mdi-18px"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
    <!-- Search Area End-->
    <!-- Load Form Start-->
    @using (Ajax.BeginForm("LoadPreventiveMaintenance", "PreventiveMaintenanceCatalog", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = " ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.AddOrEditModalShow()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }
    <!-- Load Form End-->
    <!-- Cost Form Start-->
    @using (Ajax.BeginForm("CostPreventiveMaintenance", "PreventiveMaintenanceCatalog", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detGridContainer",
        OnSuccess = " ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.CostModalShow()"
    }, new { id = "costForm" }))
    {
        @Html.Hidden("id")
        <div id="detGridContainer">
            @Html.Partial("_partials/_Cost", Model.CostList.ToList())
        </div>
    }
    <!-- Cost Form End-->
    <!-- Dele Modal Start-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                @using (Html.BeginForm("DeletePreventiveMaintenance", "PreventiveMaintenanceCatalog", FormMethod.Post))
                {
                    @Html.Hidden("id")
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el registro?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Delete Modal End -->
    <!-- Dele Modal Start-->
    <div class="modal fade" id="deleteCostModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                @Html.Hidden("id")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnDeleteCost"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal End -->
    <!-- Validate Modal Start-->
    <div class="modal fade" id="validateCostModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Error de Validación de Datos<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>Hay datos no válidos en el formulario, verifiquelos y vuelva a intentarlo.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Validate Modal End -->
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Administration/preventiveMaintenanceCatalog.js?v=@version-hf0"></script>
    <script type="text/javascript">
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.PreventiveMaintenanceCatalog.Init();
        });        
    </script>
}
