﻿@using  ECOsystem.Areas.Admin.Business.Utilities
@using  ECOsystem.Areas.Admin.Models.Administration
@model  ECOsystem.Areas.Admin.Models.Administration.ConsolidateExpensesReportBase

@{
    ViewBag.Title = "Reporte Consolidado de Gastos";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

    <div id="page-content-wrapper">
        @using (Ajax.BeginForm("ExcelReportDownload", "ConsolidateExpensesReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = " ECOsystem.Areas.Admin.ConsolidateExpensesReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = " ECOsystem.Areas.Admin.ConsolidateExpensesReport.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {
        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.Month, GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.Year, GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>
            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Parameters.CostCenterId, GeneralCollections.GetVehicleCostCenters, "Centro de Costo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
        </div>
        <br />
        <div class="row" style="padding-left:15px; padding-right:15px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row" style="margin-top: -6px;">
                        <div class="col-sm-4">
                            <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.Parameters.ShowGPS) &nbsp;Mostrar solo los vehículos con GPS
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                                <label class="control-label">
                                    @Html.CheckBoxFor(m => m.Parameters.ShowZero) &nbsp;Incluír vehículos que tienen datos en cero
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" onclick=" ECOsystem.Areas.Admin.ConsolidateExpensesReport.OnClickDownloadReport()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
            </div>
        </div>
        <br />
}
        <br />
        <div id="ControlsContainer"></div>

        @using (Html.BeginForm("DonwloadFile", "ConsolidateExpensesReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }
    </div>

@section scripts {
    <script src="~/Scripts/Administration/ConsolidateExpensesReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.ConsolidateExpensesReport.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
