﻿
 <div class="panel panel-default">
       <div class="panel-body">
           <div class="row">
               <div class="col-sm-1">
                    <small><b>ΣDT=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Sumatoria Distancia Total</small>
               </div>
               <div class="col-sm-1">
                    <small><b>ΣVEC=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Sumatoria Exceso de Velocidad</small>
               </div>
               <div class="col-sm-1">
                    <small><b>NEC=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Cantidad de Excesos de Velocidad</small>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-1">
                    <small><b>ΣDEC=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Sumatoria Distancia Total Exceso de Velocidad</small>
               </div>
               <div class="col-sm-1">
                    <small><b>IRC=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Porcentaje de Distancia en Exceso de Velocidad</small>
               </div>
               <div class="col-sm-1">
                    <small><b>x̄VC=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Promedio Exceso de Velocidad</small>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-1">
                    <small><b>S=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Desviación Estandar</small>
               </div>
               <div class="col-sm-1">
                    <small><b>CS=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Calificación</small>
               </div>
               <div class="col-sm-1">
                    <small><b>IPC=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Promedio Ponderado Exceso de Velocidad</small>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-1">
                    <small><b>VEC=</b></small>
               </div>
               <div class="col-sm-3">
                    <small>Velocidad en Exceso</small>
               </div>
           </div>
       </div>
   </div>