﻿@{
    ViewBag.Title = "Resultados de las Encuestas";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="14" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "SurveyReport", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECOsystem.SurveyReport.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECOsystem.SurveyReport.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownList("surveyId", ECO_Partner.Utilities.Collections.GetSurveyNames, "Seleccione una encuesta", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBox("startDate", string.Empty, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBox("endDate", string.Empty, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-12 text-right" id="showWarning" hidden>
                <span class="text-danger" id="warning">Campos requeridos: Nombre y Lugar de ejecución</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownList("customerId", ECO_Partner.Utilities.Collections.GetCustomers, "Seleccione un cliente", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>       
            <div class="col-sm-8 text-right">
                <button id="btnDownload" type="button" class="btn btn-primary"><i class="mdi mdi-download"></i>&nbsp;Descargar</button>
            </div>
        </div>
    }
    <br />

    @using (Html.BeginForm("DonwloadFile", "SurveyReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }
</div>

@section scripts {
    <script src="~/Scripts/Administration/SurveyReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECOsystem.SurveyReport.Init({});
        });
    </script>
}