﻿@model IEnumerable<ECO_Efficiency.Models.VehicleReconstructing>

<style>
    .btnPlayPause {
        font-size: 40px;
        margin-top: 50%;
        margin-left: -20px;
        cursor: pointer;
        color: #2e6da4;
    }
    .playingShadowCard{      
        box-shadow: 0 6px 5px 0 green,0 5px 5px 3px rgba(0,0,0,.14),0 1px 5px 0 green!important;
    }
    .selectedFrag {
        box-shadow: 0 6px 5px 0 blue,0 5px 5px 3px rgba(0,0,0,.14),0 1px 5px 0 blue !important;
    }
</style>
<div class="panel-group margin0 card-content">
    <div class="card">
        <div class="col-sm-12">
            @if (!Model.Any() || Model.Count() == 0)
            {
                <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay datos que mostrar
                </div>
            }
            else
            {
                string countryname = ECOsystem.Utilities.Session.GetCustomerInfo().CountryName;
                foreach (var item in Model)
                {
                    

                    if (item.Status == "Encendido")
                    {
                        var dates = string.Format("{0}  ", item.StartDate.ToString("hh:mm:ss tt"));
                        double result = (double)100 / item.OverSpeedSummaryFixed.Where(x => x != string.Empty).Count();
                        var porcentage = result.ToString() + "%";
                        var cardid = string.Format("card_{0}", item.GPSId);
                        string bar = string.Empty;
                        string selectedFrag = @item.Selected == true ? "selectedFrag" : string.Empty;

                        <div class="card card-outline-success text-xs @selectedFrag" style="height:80px" id="@cardid">
                            <div class="card-block" style="font-size:13px">
                                <div class="row">
                                    <div class="col-sm-10">
                                        @Html.Hidden("StartDate_" + item.GPSId, item.StartDate, new { @id = item.GPSId + "_StartDate" })
                                        @Html.Hidden("EndDate_" + item.GPSId, item.EndDate, new { @id = item.GPSId + "_EndDate" })
                                        <div class="col-sm-12" style="margin-top:5px;">
                                            <strong>@dates</strong> <label class="label label-success">Encendido</label>
                                        </div>
                                        <div class="col-sm-12">@item.Location.Replace(", " + countryname, "")</div>
                                        <div class="col-sm-12">
                                            @foreach (var speed in item.OverSpeedSummaryFixed.Where(x => x != string.Empty))
                                            {
                                                if (speed == "G")
                                                {
                                                    bar = bar + "<div class=\"progress-bar progress-bar-success\" role=\"progressbar\" style=\"width:" + porcentage + ";height: 5px;\"></div>\n";
                                                }
                                                else if (speed == "R")
                                                {
                                                    bar = bar + "<div class=\"progress-bar progress-bar-danger\" role=\"progressbar\" style=\"width:" + porcentage + ";height: 5px;\"></div>\n";
                                                }
                                            }
                                            <div class="progress" style="margin-bottom:-5px">
                                                <span data-toggle="tooltip" data-placement="center" title="Detalle de Velocidad">
                                                    @Html.Raw(bar)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="mdi mdi-play-circle btnPlayPause" id="@item.GPSId" play-pause="0"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        var dates = string.Format("{0}  ", item.StartDate.ToString("hh:mm:ss tt"));
                        var cardid = string.Format("card_{0}", item.GPSId);
                        string selectedFrag = @item.Selected == true ? "selectedFrag" : string.Empty;

                        <div class="card card-outline-danger text-xs @selectedFrag" style="height:80px" id="@cardid">
                            <div class="card-block" style="font-size:13px">
                                <div class="row">
                                    <div class="col-sm-10">
                                        @Html.Hidden("StartDate_" + item.GPSId, item.StartDate, new { @id = item.GPSId + "_StartDate" })
                                        @Html.Hidden("EndDate_" + item.GPSId, item.EndDate, new { @id = item.GPSId + "_EndDate" })
                                        <div class="col-sm-12" style="margin-top:5px;">
                                            <strong>@dates</strong> <label class="label label-danger">Apagado</label>
                                        </div>
                                        <div class="col-sm-12">@item.Location.Replace(", " + countryname, "")</div>
                                        <div class="col-sm-12">
                                            <div class="progress" style="margin-bottom:-5px;">
                                                <span data-toggle="tooltip" data-placement="center" title="Detalle de Velocidad">
                                                    <div class="progress-bar" role="progressbar" style="width:100%;background-color:gray;height: 5px;"></div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="mdi mdi-map-marker btnPlayPause" id="@item.GPSId" play-pause="Off" style="color:darkred!important"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
