﻿@model IEnumerable<ECO_Efficiency.Models.VehicleStop>


@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.Index).SetWidth(20).Titled("Punto");
              c.Add(m => m.Description).SetWidth(250).Titled("Dirección");
              c.Add(m => m.HoursFromStartDate).SetWidth(100).Titled("Hora");
              c.Add(m => m.StopDurationInHours).SetWidth(100).Titled("Tiempo Parada (hh:mm)");
              c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(50)
                .RenderValueAs(m => @<span>
                    <a id="btnDeleteStopRow" href="javascript:void(0)" class="delete-color" idstop="@m.Id" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                </span>).Css("grid-col-btn");
          })
          )
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding-top:4px; padding-bottom:4px;">
        <p style="font-size:small;"><i class="mdi mdi-information" style="font-size:18px;"></i><b>&nbsp;&nbsp;No se encontraron resultados</b></p>
    </div>
}

<script>
        $(document).ready(function () {
            ECO_Efficiency.VehicleReconstructing.InitCreateRouteControls();
        });
</script>