﻿@model ECO_Efficiency.Models.ReconstructingRouteModel
<!-- Modal Start-->

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Crear Ruta</h4>
        </div>
        <div class="modal-body">
            @Html.Hidden("doRedirect",false)
            @Html.Hidden("routeId", Model.routeId)
            @if (Model.routeId > 0)
            {
                @Html.Hidden("RedirectToRoutes", Url.Action("Index", "Routes", new { routeId = Model.routeId }));
            }
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre de Ruta", @class = "form-control", @id="routeName" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding:10px">
                        @Html.LabelFor(m => m.Description, new { @class = "col-sm-14 control-label" })
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Descripción de Ruta", @class = "form-control text-area", @id = "routeDescription" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="gridContainerRoute" style="overflow-y:scroll;overflow-x:hidden;height:calc(100vh - 375px); border-top: 1px solid #ccc;">
                @Html.Partial("_partials/_RouteGrid", Model.VehicleStops)
            </div>
        </div>
        <div class="modal-footer" id="modalFooter">
            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="saveRoute"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>




