﻿@model ECO_Efficiency.Models.Reconstructing

<div class="vehicleDetail" id="row-@Model.VehicleId" plate='@Model.PlateId'>
    <div class="panel-group margin0 card-content">
        <div class="card">
            <div class="card-heading" data-parent="#accordion-@Model.VehicleId" href="#accordion-@Model.VehicleId">
                <h4 class="panel-title link"><strong>@Model.PlateId</strong> @Model.Name</h4>
            </div>
            <div id="accordion-@Model.VehicleId" class="panel-collapse accordin-right" style="padding: 5px 5px 0px 5px;">
                <div class="panel-body" style="border-bottom: solid 1px lightgray; padding:0px 5px !important;">
                    @Html.Hidden("latlon", string.Format("{0}, {1}", Model.Latitude, Model.Longitude))
                    <div style="padding-bottom:5px"><i class="mdi mdi-account-card-details" data-toggle="tooltip" data-placement="right" title="Conductor"></i> @Model.DecryptedName</div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-speedometer" data-toggle="tooltip" data-placement="right" title="Velocidad"></i> <span id="speed-Vehicle">@Model.VSSSpeed  km/h</span> <span id="status-Vehicle">@Html.Raw(Model.StatusStr)</span></div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-map" data-toggle="tooltip" data-placement="right" title="Dirección"></i> <span id="direction-Vehicle"></span></div>
                    <div style="padding-bottom:5px"><i class="mdi mdi-calendar-clock" data-toggle="tooltip" data-placement="right" title="Actualización"></i> <span id="dateTime-Vehicle">@Model.DateTime</span></div>
                    @{
                        var showBattery = "hide";
                        var noGps = "hide";
                        if (Model.ReportId == 10)
                        {
                            showBattery = string.Empty;
                        }
                        if (Model.ReportId == 12)
                        {
                            noGps = string.Empty;
                        }
                    }

                    <div style="padding-bottom:5px" class="HighTemperature @showBattery" id="divBattery-vehicle"><i class="mdi mdi-battery-outline" data-toggle="tooltip" data-placement="right" title="@Model.ReportIdDescription"></i> <span id="lowbattery-vehicle">@Model.ReportIdDescription</span></div>
                    <div style="padding-bottom:5px" class="HighTemperature @noGps" id="divGPS-vehicle"><i class="mdi mdi-wifi-off" data-toggle="tooltip" data-placement="right" title="@Model.ReportIdDescription"></i> <span id="nogps-vehicle">@Model.ReportIdDescription</span></div>

                    @if (Model.HasCooler)
                    {
                        <div style="padding-bottom:5px" class="@ECO_Efficiency.Business.Utilities.GeneralCollections.SetTemperatureAlert(Model.ReportId)" id="div-temperature-Vehicle">
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Temperatura Promedio"></i><span id="temperature-Vehicle">@Model.TemperatureStr</span>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <label class="label label-success text-left" data-toggle="collapse" data-parent="#SensorsTable" href="#SensorsTable" style="cursor:pointer; ">Ver Detalles</label>
                                </div>

                                <div id="SensorsTable" class="panel-collapse accordin-left collapse">
                                    <div class="panel-body" style="margin-top: 25px; margin-bottom: -15px;" id="sensorstabledetail">
                                        @{
                                            var list = string.IsNullOrEmpty(Model.SensorsXML) ? new List<string>() : ECO_Efficiency.Business.Utilities.GeneralCollections.GetNodesXMLSensors(Model.SensorsXML);
                                        }
                                        <table class="table table-striped">
                                            <tbody>
                                                @if (list.Any())
                                                {
                                                    for (int i = 0; i < list.Count; i = i + 3)
                                                    {
                                                        int x = i + 1;
                                                        int y = 0;
                                                        <tr>
                                                            <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@x"></i>(@x)&nbsp;&nbsp;<span style="font-weight:normal;">@list[i]°</span></th>
                                                            @if (i < list.Count - 2)
                                                            {
                                                                x = i + 2;
                                                                y = i + 3;
                                                                <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@x"></i>(@x)&nbsp;&nbsp;<span style="font-weight:normal;">@list[i + 1]°</span></th>
                                                                <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@y"></i>(@y)&nbsp;&nbsp;<span style="font-weight:normal;">@list[i + 2]°</span></th>
                                                            }
                                                            else if (i < list.Count - 1)
                                                            {
                                                                x = i + 2;
                                                                <th><i class="mdi mdi-thermometer" data-toggle="tooltip" data-placement="right" title="Sensor #@x"></i>(@x)&nbsp;&nbsp;<span style="font-weight:normal;">@list[i + 1]°</span></th>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <th>No existen datos</th>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <strong vehicleid=@Model.VehicleId class="btnChart" style="color: #ff6a00;cursor:pointer;padding-left: 15px;"><i class="mdi mdi-chart-bar"></i>Temperaturas</strong>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="panel-body" style="padding: 5px !important;margin-left: -15px;margin-right: -15px;">
                    <div class="col-sm-6 text-left">
                        <strong id="btnShowCommerceModal" style="color: darkcyan;cursor:pointer;padding-right: 5px;"><i class="mdi mdi-domain"></i>&nbsp;+ Comercio</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fragmentList" style="overflow-y:scroll;overflow-x:hidden;height:calc(100vh - 375px); border-top: 1px solid #ccc;">
    <div class="row">
        @Html.Partial("_partials/_FragmentsList", Model.FragmentList)
    </div>
</div>

<script>
    $(".btnChart").click(function (e) {
        $('#loadTemperatureForm').find('#vehicleId').val($(this).attr('vehicleid'));
        $('#loadTemperatureForm').submit();
    });

    $('#btnShowCommerceModal').click(function () {
        var vehicleId = $(this).attr('vehicleid');

        $('#CommerceName').val('');
        $('#Description').val('');
        $('#LatLon').val($('#latlon').val());
        $('#lblAddress').html($('#direction-Vehicle').html());
        $('#AddCommercesModal').modal('show');
    });

</script>
