﻿@model IEnumerable<ECO_Efficiency.Models.Reconstructing>

@foreach (var item in Model.Select(x => new { x.VehicleGroupId, x.VehicleGroupName }).Distinct())
{
    <div class="GroupVehiclePanelRight accordionIconEffect" gvname="@item.VehicleGroupName">
        <div class="panel-group margin0 card-content" id="Group@item.VehicleGroupId">
            <div class="card">
                <div class="card-heading" data-toggle="collapse" data-parent="#Group-@item.VehicleGroupId" href="#Group-@item.VehicleGroupId">
                    <h4 class="panel-title link">
                        <i class="mdi mdi-plus"></i><label cc="@item.VehicleGroupId" class="btnCheckGroup"></label>&nbsp;@item.VehicleGroupName @*<label cc="" class="btnCheckGroup" />*@
                    </h4>
                </div>
                <div id="Group-@item.VehicleGroupId" class="panel-collapse accordin-left collapse">
                    <div class="panel-body">
                        @foreach (var Group in Model.Where(c => c.VehicleGroupId == item.VehicleGroupId))
                        {
                            <div class="checkbox checkboxGV" vhplate="@Group.PlateId" vhname="@Group.VehicleName">
                                <a id="@Group.VehicleId" intrackref="@Group.IntrackReference"  title="Editar" car_detail style="text-decoration: none; color: black;">
                                    <label>
                                        <input name="checkboxGV" id="radio-2-@Group.VehicleId" type="radio" class="regular-radio" value="@Group.VehicleId" />
                                        <label for="radio-2-@Group.VehicleId" style="vertical-align: top;"></label>
                                        <strong>@Group.PlateId</strong> @Group.VehicleName
                                    </label>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

