﻿
@model ECOsystem.Models.Core.AlarmsModels


<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.HiddenFor(m => m.AlarmId)
            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.CustomerId)
            @Html.HiddenFor(m => m.Phone)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.AlarmTriggerId)
            @Html.HiddenFor(m => m.EntityTypeId)
            @Html.HiddenFor(m => m.PeriodicityTypeId)
            @Html.HiddenFor(m => m.LoggedUserId)
            @Html.HiddenFor(m => m.PeriodicityTypeId)
            @Html.HiddenFor(m => m.EmailPlaceHolder)

            @{
                var PlaceHolder = Model.EmailPlaceHolder;
                if (PlaceHolder == null)
                {
                    PlaceHolder = "Digite los correos electrónicos";
                }
            }
 
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Alarma</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AlarmType, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.AlarmType, new {  @class = "form-control", disabled="disabled" })
                            @Html.ValidationMessageFor(m => m.AlarmType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EntityType, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.EntityType, new {  @class = "form-control", disabled="disabled" })
                            @Html.ValidationMessageFor(m => m.EntityType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EntityStr, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.EntityStr, new {  @class = "form-control",  disabled="disabled" })
                            @Html.ValidationMessageFor(m => m.EntityStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group hidden">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Phone, new {  @class = "form-control",  disabled="disabled" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Email, new {  @class = "form-control", disabled="disabled" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { placeholder = PlaceHolder, @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Periodicity, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Periodicity, new {  @class = "form-control", disabled="disabled"})
                            @Html.ValidationMessageFor(m => m.Periodicity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NextAlarmStr, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.NextAlarmStr, new {  @class = "form-control",  disabled="disabled" })
                            @Html.ValidationMessageFor(m => m.NextAlarmStr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-3">
                            @Html.CheckBoxFor(m => m.Active, new { id="chkActive" })
                            @Html.LabelFor(m => m.Active)
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->

<script>
    $('#chkActive').click(function () {
        
        var emailplaceholder = $('#EmailPlaceHolder').val();
        var email = $('#Email').val();
        if ($(this).is(':checked')) {
            if (email == '') {
                $('#Email').val(emailplaceholder);
            }
        } else {
            $('#Email').val('');
        }
    });

</script>
