﻿
@model IEnumerable<ECOsystem.Models.Core.AlarmsModels>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .SetLanguage("es")
          .Columns(c =>
          {
             c.Add(m => m.AlarmType).Titled("Tipo de Alarma").Encoded(false)
             .Sanitized(false)
             .Filterable(true)
             .SetWidth(2).RenderValueAs(m =>m.AlarmType).Encoded(false).Sanitized(false).Css("grid-col-center");

             c.Add(m => m.EntityType).Titled("Tipo de Entidad").Encoded(false)
             .Sanitized(false)
             .Filterable(true)
             .SetWidth(2).RenderValueAs(m => m.EntityType).Encoded(false).Sanitized(false).Css("grid-col-center");

             c.Add(m => m.EntityStr).Titled("Entidad").Encoded(false)
             .Sanitized(false)
             .Filterable(true)
             .SetWidth(2).RenderValueAs(m => m.EntityStr).Encoded(false).Sanitized(false).Css("grid-col-center");

            //c.Add(m => m.Phone).Titled("Teléfonos").Encoded(false)
            //.Sanitized(false)
            //.Filterable(true)
            //.SetWidth(2).RenderValueAs(m => @m.Phone).Encoded(false).Sanitized(false).Css("grid-col-center");

            c.Add(m => m.Email).Titled("Correos Electrónicos").Encoded(false)
            .Sanitized(false)
            .Filterable(true)
            .SetWidth(2).RenderValueAs(m => m.Email).Encoded(false).Sanitized(false).Css("grid-col-center");

            @*
             c.Add(m => m.Periodicity).Titled("Periodicidad").Encoded(false)
            .Sanitized(false)
            .Filterable(true)
            .SetWidth(2).RenderValueAs(m => @m.Periodicity).Encoded(false).Sanitized(false).Css("grid-col-center");

            c.Add(m => m.NextAlarmStr).Titled("Siguiente Alarma").Encoded(false)
            .Sanitized(false)
            .Filterable(true)
            .SetWidth(2).RenderValueAs(m => @m.NextAlarmStr).Encoded(false).Sanitized(false).Css("grid-col-center");
            *@
        
            c.Add(m => m.Active).Titled("Habilitada?").Encoded(false)
            .Sanitized(false)
                      .SetWidth(2).RenderValueAs(m => Html.CheckBox("_Active", m.Active, new { disabled = "disabled", @class = "chkActive" })).Encoded(false).Sanitized(false).Css("grid-col-center");
            
            c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(1)
            .RenderValueAs(m => @<span>
             <a href="#" class="edit-color" id="@m.AlarmId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a>
              <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.AlarmId" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>       
             </span>).Css("grid-col-btn");
                
          }))
    
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}