﻿@using ECO_Operation.Models
@model ScoreGlobalReportBase

@{
    ViewBag.Title = "Reportes";
    ViewBag.Operation = "active";
    ViewBag.OperationReports = "active";
    ViewBag.OperationReportsScoreGlobal = "active";
    var isPrintView = ViewBag.PrintView ?? false;

    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    //Esto se usapara  ocultar  parametros 
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";        
}

@section styles {
    @Styles.Render("~/bundles/gridmvc_css")

    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
            padding: 5px 25px 5px 25px;
        }

        .carousel-indicators li {
            background: #9c9c9c;
        }

        .carousel-indicators .active {
            background: #4B4B4B;
        }

        .carousel-control {
            /*color: #428BCA;*/
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

        .carousel-control:hover {
            color: #d9534f;
        }

    </style>
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "side-menu2",
                OnSuccess = "updateSidebar()"
            }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="4" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

<div id="page-content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Puntuación General de Conductores</h3>
        </div>
    </div>

    @using (Html.BeginForm("Index", "ScoreGlobalReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-3">
               
                        @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, ECO_Operation.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string,Object> { {"class","form-control fbold"},  {"data-filter","true"} })
            </div>

            <div data-repor-by="1000" class="hide">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.Month,ECO_Operation.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.Year, ECO_Operation.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="hide">
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.List != null && Model.List.Any())
    {
        <div id="ControlsContainer">
            <div class="row top20">
                <div class="col-sm-3 col-sm-offset-9 text-right">
                    @if (!isPrintView)
                    {
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                <i class="mdi mdi-download"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("ExcelReportDownload", "ScoreGlobalReport", new { p = Model.Parameters.ParametersInBase64 })" download>
                                        <i class="mdi mdi-download"></i>&nbsp;&nbsp;Exportar Excel
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                        <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Formato Impresión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-default" type="button" data-print>
                            <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                        </button>
                    }
                </div>
            </div>

            @Html.Partial("_partials/_Chart", Model.List)
                
            <div class="row">
                <div class="col-sm-4">
                    <h6><span class="label label-danger">&nbsp;</span> Puntuación > @Model.Parameters.RedLower% o <= @Model.Parameters.RedHigher% </h6>
                </div>
                <div class="col-sm-4">
                    <h6><span class="label label-warning">&nbsp;</span> Puntuación > @Model.Parameters.YellowLower% y < @Model.Parameters.YellowHigher%</h6>
                </div>
                <div class="col-sm-4">
                    <h6><span class="label label-success">&nbsp;</span> Puntuación > @Model.Parameters.GreenLower% y < @Model.Parameters.GreenHigher%</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" id="panel1">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNum1" class="collapsed">
                                        <strong>Información Detallada</strong>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseNum1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Html.Partial("_partials/_Grid", Model.List)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="text-danger top30">No hay información para mostrar el reporte con la combinación de criterios seleccionada.</div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Operation/ScoreGlobalReport.min.js"></script>
    <script>
        $(function () {
            ECO_Operation.ScoreGlobalReport.Init({
                labels: @Model.Parameters.Labels,
                data: @Model.Parameters.Data,
                colors: @Model.Parameters.Colors,
                highligh: @Model.Parameters.HighlightColors,
                printURL: '@Url.Action("PrintReport", "ScoreGlobalReport", new {p = Model.Parameters.ParametersInBase64})',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });

    </script>
}


