﻿@model ECO_Insurance.Models.Insurance.ScoreDrivingFormula

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Creación de Fórmula<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
               
                <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-body">
                             <input type="hidden" value="@Model.ScoreDrivingFormulaId" id="ScoreDrivingFormulaId" />
                             <input type="hidden" value="@Model.ScoreDrivingFormulaStrFormatted" id="ScoreDrivingFormulaStr" />
                            <div class="form-horizontal" role="form">
                             
                              <div class="form-group">
                                         <label class="col-sm-2 control-label">Nombre</label> 
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre de la Fórmula", @class = "form-control", autofocus = "",id="FormulaName" })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </div>
                             </div>
                             <div class="col-sm-12"><label class="red_icon" id="lblError"></label></div>
                             @*<div class="form-group">
                      
                                        <div class="col-sm-10 col-sm-offset-2">
                                            @Html.CheckBoxFor(m => m.IsActive, new {   autofocus = "",id="IsActive" })
                                            @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                                         <label>Predeterminado</label>
                                        </div>
                       
                             </div>*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="txtFormula" class="form-control" style="height:150px;" ></div>
                                </div>
                            </div>
                            <div class="row top10">
                                <div class="col-sm-2 ">
                                    <button class="form-control" id="btnΣDT" type="button" value="ΣDT"> <b>Σ</b><small>DT</small></button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btnΣDEC" value="ΣDEC">  <b>Σ</b><small>DEC</small></button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btnIRC" value="IRC"><b>I</b><small>RC</small></button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button"  id="btn7" value="7">7</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn8" value="8">8</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn9" value="9">9</button>
                                </div>
                            </div>
                            <div class="row top10">
                                <div class="col-sm-2">
                                      <button class="form-control" type="button" id="btnVEC" value="VEC"><b>V</b><small>EC</small></button>
                                </div>
                                <div class="col-sm-2">
                                      <button class="form-control" type="button" id="btnnEC" value="nEC"><b>n</b><small>EC</small></button>
                                </div>
                                <div class="col-sm-2">
                                      <button class="form-control" type="button" id="btnx̄VC" value="x̄VC"><b>x̄</b><small>VC</small></button>  
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn4" value="4">4</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn5" value="5">5</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn6" value="6">6</button>
                                </div>
                            </div>
                             <div class="row top10">
                                <div class="col-sm-2">
                                      <button class="form-control" type="button" id="btnS" value="S"><b>S</b></button>
                                </div>
                                <div class="col-sm-2">
                                      <button class="form-control" type="button" id="btn-" value="-">-</button>
                                </div>
                                <div class="col-sm-2">
                                      <button class="form-control" type="button" id="btnPlus" value="+">+</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn1" value="1">1</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn2" value="2">2</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn3" value="3">3</button>
                                </div>
                            </div>
                            <div class="row top10">
                                <div class="col-sm-2">
                                   <button class="form-control" type="button" id="btnx" value="*">*</button>
                                </div>
                                <div class="col-sm-2">
                                   <button class="form-control" type="button" id="btnDiv" value="÷">÷</button>
                                </div>
                                <div class="col-sm-2">
                                   <button class="form-control" type="button" id="btnSqrt" value="√">√</button>
                                </div>
                                <div class="col-sm-2">
                                   <button class="form-control" type="button" id="btnDot" value="."><b>.</b></button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btn0" value="0">0</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="form-control" type="button" id="btnPer" value="%">%</button>
                                </div>
                            </div>
                            <div class="row top10">
                                <div class="col-sm-2">
                                   <button class="form-control" type="button" id="btnOp" value="(">(</button>
                                </div>
                                <div class="col-sm-2">
                                   <button class="form-control" type="button" id="btnCp" value=")">)</button>
                                </div>
                                 <div class="col-sm-2">
                                   <button class="form-control" type="button" id="btnPo" value="xⁿ">xⁿ</button>
                                </div>
                                <div class="col-sm-2">
                                   <button class="form-control  btn-success" type="button"  id="btnC"><b>C</b></button>
                                </div>
                                <div class="col-sm-2">
                                   <button class="form-control  btn-success" type="button" id="btnD"><b><=</b></button>
                                </div>

                                <div class="col-sm-2">
                                   <button type="button" id="btnSave" class="form-control  btn-primary"  ><i class="glyphicon glyphicon-floppy-save"></i>&nbsp;&nbsp;Guardar</button>
                                </div>
               
                            </div>

                        </div>
                       </div>
                    </div>
                </div>
                  
                 @Html.Partial("~/Views/DrivingScoreFleetDataSourceReport/_partials/_VariablesOverview.cshtml")
                
            </div>

        </div>
    </div>
</div>