﻿
@model IEnumerable<ECO_Insurance.Models.Insurance.ScoreDrivingFormula>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.IsPending).Titled("Solicitado?").Encoded(false)
                .Sanitized(false)
                .SetWidth(2).RenderValueAs(m => Html.CheckBox("_IsPending", m.IsPending, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center");
              c.Add(m => m.IsApproved).Titled("Aprobado?").Encoded(false)
                .Sanitized(false)
                .SetWidth(2).RenderValueAs(m => Html.CheckBox("_IsApproved", m.IsApproved, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center");
              c.Add(m => m.IsActive).Titled("Predeterminado?").Encoded(false)
                 .Sanitized(false)
                 .SetWidth(2).RenderValueAs(m => Html.CheckBox("_IsActive", m.IsActive, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center");
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.ScoreDrivingFormulaId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a>
                    @if(!m.IsActive){ <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.ScoreDrivingFormulaId" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>}
                </span>).Css("grid-col-btn");

          }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}