﻿@model ECO_Control.Models.Control.VehicleScheduleBase

@{
    ViewBag.Title = "Vehículos por Grupo";
    ViewBag.Administration = "active";
    ViewBag.AdministrationVehicles = "active";
    ViewBag.ControlVehicleScheduleIndex = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section styles {
    <style>
        
        #scheduleTable
        {
            width: 100%;
        }

        #scheduleTable thead td
        {
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
        }

        #scheduleTable td.time
        {
            text-align: right;
            vertical-align: middle;
            padding-right: 8px;
            width: 100px;
        }

        #scheduleTable td.time2
        {
            text-align: right;
            vertical-align: middle;
            padding-left: 20px;
            padding-right: 8px;
            width: 120px;
        }

        #scheduleTable td.box
        {
            width: 60px;
            height: 15px;
            text-align: center;
            vertical-align: middle;
            background-color: #ccc;
            border: 1px solid #fff;
        }

        #scheduleTable td.box.highlighted
        {
            background-color: #006DB1;
        }
    </style>
}


@using (Ajax.BeginForm("AddOrEditAlarm", "Alarm", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "ECO_Control.Utilities.AlarmModalClose()"
}, new { id = "addOrEditAlarmForm", autocomplete = "off" }))
{
    <div id="alarmContainer">
        @Html.Partial("~/Views/Alarm/Index.cshtml", Model.Alarm)
    </div>
}

<div id="wrapper">
     @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "side-menu2",
            OnSuccess = "updateSidebar()"
        }, new { id = "LoadMenuForm" }))
         {
            <input class="hidden" name="Header" value="8" />
            @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
     }
     
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Horarios de Vehículos</h3>
            </div>
        </div>

        @using (Ajax.BeginForm("LoadVehicleSchedule", "VehicleSchedule", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DetailContainer",
            OnSuccess = "ECO_Control.VehicleSchedule.OnSuccessLoad()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id", "")
        }

        <!-- Load Alarm Form Start-->
        @using (Ajax.BeginForm("LoadAlarm", "Alarm", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "alarmContainer",
            OnSuccess = "ECO_Control.Utilities.AlarmModalShow()"
        }, new { id = "alarmForm" }))
        { 
            @Html.Hidden("id")   
            @Html.Hidden("entityTypeId", Model.Alarm.EntityTypeId);
            @Html.Hidden("alarmTriggerId", Model.Alarm.AlarmTriggerId);
            @Html.Hidden("title", Model.Alarm.TitlePopUp);
        }
        <!-- Load Alarm Form End-->

        @using (Ajax.BeginForm("AddOrEditVehicleSchedule", "VehicleSchedule", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DetailContainer",
            OnSuccess = "ECO_Control.VehicleSchedule.OnSuccessLoad(); ECO_Control.Utilities.setConfirmation();"
        }, new { id = "saveForm" }))
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.DropDownListFor(m => m.VehicleId, @ECO_Control.Business.GeneralCollections.GetVehiclesByCustomer, "Seleccione un Vehículo", new { @class = "form-control fbold" })
                </div>
            </div>

            <div class="row top30">
                <div class="col-sm-12" id="DetailContainer">
                    @Html.Partial("_partials/_Detail", Model.Data)
                </div>
            </div>
        }

        <!-- clear Modal Start-->
        <div class="modal fade" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="clearModalModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Confirmar Acción</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea Desmarcar todos los cuadros?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                        <button type="reset" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- clear Modal End -->
    </div>
</div>

@section scripts {

    <script src="~/Scripts/Control/vehicleSchedule.js"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.VehicleSchedule.Init();
        });

    </script>
}
