﻿@model ECO_Insurance.Models.Insurance.ScoreGlobalReportBase

@{
    ViewBag.Title = "Operación";
    ViewBag.Operation = "active";
  
}

<div id="wrapper">
    @Html.Partial("_partials/_Menu")
    <div id="page-wrapper">

      </div>
 </div>

@section scripts {
   
    <script src="~/Scripts/Insurance/Operation.min.js"></script>
    <script>
        $(function () {
            ECO_Insurance.Operation.Init({
                labels: @Model.Parameters.Labels,
                data: @Model.Parameters.Data,
                colors: @Model.Parameters.Colors,
                highligh: @Model.Parameters.HighlightColors,
                printURL: '@Url.Action("PrintReport", "ScoreGlobalReport", new {p = Model.Parameters.ParametersInBase64})',
                printMode: 'True' == 'False' ? true : false
            });
        });
      

    </script>

   
}




