﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehiclesByGroupData

@if ((Model.AvailableVehiclesList != null && Model.AvailableVehiclesList.Any()) || (Model.ConnectedVehiclesList != null && Model.ConnectedVehiclesList.Any()))
{
    <div class="card">
        <div class="card-content">
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Utilice la funcionalidad de <strong>Arrastrar y colocar</strong> vehículos entre cada lista.           
            </div>

            <div class="row">
                <div class="col-sm-6" data-spy="scroll" data-target="#available" data-offset="0">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <strong>Lista de Vehículos</strong>
                        </a>
                        <div id="AvailableVehicles" class="connected scrol-list">

                            @if (Model.AvailableVehiclesList != null)
                    {
                        foreach (var item in Model.AvailableVehiclesList)
                        {
                    <div class="list-group-item box">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="bs-callout bs-callout-blue text-center">
                                    <h4 class="bs-color-blue">@item.PlateId</h4>
                                    @Html.Hidden("VehicleId", @item.VehicleId)
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <p><strong>@item.VehicleName</strong></p>
                                <p>@item.VehicleType</p>
                            </div>
                        </div>
                    </div>
                        }
                    }

                        </div>
                    </div>
                </div>

                <div class="col-sm-6" data-spy="scroll" data-target="#connected" data-offset="0">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <strong>Vehículos Asociados al Grupo</strong>
                        </a>
                        <div id="ConnectedVehicles" class="connected scrol-list">
                            @if (Model.ConnectedVehiclesList != null)
                    {
                        foreach (var item in Model.ConnectedVehiclesList)
                        {
                    <div class="list-group-item box">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="bs-callout bs-callout-blue text-center">
                                    <h4 class="bs-color-blue">@item.PlateId</h4>
                                    @Html.Hidden("VehicleId", @item.VehicleId)
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <p><strong>@item.VehicleName</strong></p>
                                <p>@item.VehicleType</p>
                            </div>
                        </div>
                    </div>
                        }
                    }
                        </div>
                    </div>
                </div>
            </div>   
            <hr />        
            <div class="row">
                <div class="col-sm-8">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div class="col-sm-4 text-right">
                    <a href="@Url.Action("Index", "VehiclesByGroup")" atype="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</a>
                    <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
}
