﻿<div class="sidebar-nav">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Testing Menu</li>
            <li class="active"><a class="@ViewBag.TestingApiTrxIndex" href="@Url.Action("Index", "TestingApiTrx")">Transacciones</a></li>
            <li><a class="@ViewBag.TestingEncryptIndex" href="@Url.Action("EncryptIndex", "TestingEncryption")">Encriptar</a></li>
            <li><a class="@ViewBag.TestingDecryptIndex" href="@Url.Action("DecryptIndex", "TestingEncryption")">Desencriptar</a></li>
        </ul>
    </div>
</div>


<!-- Navigation -->
@*<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; min-height: 0px;  border-width:0px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="@ViewBag.TestingWebAPI">
                    <a href="#"><img src="~/Content/Images/menu_web_API.png" class="right10" />Web API</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.TestingApiTrxIndex" href="@Url.Action("Index", "TestingApiTrx")">Transacciones</a>
                        </li>
                    </ul>
                </li>
                
                <li class="@ViewBag.TestingEncryption">
                    <a href="#"><img src="~/Content/Images/menu_encryption.png" class="right10" />Métodos de Cifrado</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="@ViewBag.TestingEncryptIndex" href="@Url.Action("EncryptIndex", "TestingEncryption")">Encriptar</a>
                        </li>
                        <li>
                            <a class="@ViewBag.TestingDecryptIndex" href="@Url.Action("DecryptIndex", "TestingEncryption")">Desencriptar</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>*@