﻿@model ECOsystem.Models.Core.CommercesBase
@{
    ViewBag.Title = "Mantenimiento de Comercios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    var managementModule = ECOsystem.Utilities.Session.GetCustomerInfo().ModuleManagement.ToString();
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .removetop {
            margin-top: -15px;
        }

        .removetopGrid {
            margin-top: -10px;
        }

        .selected {
            background: #D9E6F2 !important;
        }
    </style>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("LoadCommerces", "Commerces", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = " ECOsystem.Areas.Admin.Commerces.OnSuccessLoad()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

@using (Ajax.BeginForm("GetDataToDownload", "Commerces", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = " ECOsystem.Areas.Admin.Commerces.ShowLoader()",
    OnSuccess = " ECOsystem.Areas.Admin.Commerces.OnSuccessReportData(data, status)",
    OnFailure = " ECOsystem.Areas.Admin.Commerces.OnFailureReportData(data)"
}, new { id = "GetDataToDownloadForm" })) { }

@using (Html.BeginForm("DonwloadFile", "Commerces", FormMethod.Post, new { id = "DonwloadExcelForm" })) { }

@Html.Hidden("currentId")
@Html.Hidden("managementModule", managementModule)
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper" class="removetop">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                <div class="row removetop">
                    <div class="col-sm-8">
                        <button id="btnAdd" type="button" class="btn btn-success btn_title" title="Agregar"><i class="mdi mdi-plus"></i>&nbsp;Agregar Comercio</button>
                        <button id="btnGetDownloadData" type="button" class="btn btn-default" title="Exportar a Excel"><i class="mdi mdi-format-list-bulleted"></i>&nbsp;Exportar a Excel</button>
                    </div>

                    @using (Ajax.BeginForm("SearchCommerces", "Commerces", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = " ECOsystem.Areas.Admin.Commerces.SuccessSearch()"
                    }, new { id = "searchForm" }))
                    {
                        <div class="col-sm-4 pull-right">
                            <div class="input-group">
                                <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar por nombre">
                                <span class="input-group-btn">
                                    <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                </span>
                            </div>
                        </div>
                    }
                </div>

                @using (Ajax.BeginForm("AddOrEditCommerces", "Commerces", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnBegin = " ECOsystem.Areas.Admin.Commerces.ShowLoader()",
                    OnSuccess = " ECOsystem.Areas.Admin.Commerces.OnSuccessAddOrEdit(data)"
                }, new { id = "addOrEditForm" }))
                {
                    <div id="detailContainer" hidden>
                        @Html.Partial("_partials/_Detail", Model.Data)
                    </div>
                }

                <div id="gridContainer" class="removetopGrid">
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteCommerces", "Commerces", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = " ECOsystem.Areas.Admin.Commerces.ShowLoader()",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose();  ECOsystem.Areas.Admin.Commerces.HideLoader()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>
                        <div id="warningAgenda" class="col-sm-12" hidden>
                            <p>Nota: Se eliminaran los datos asociados a este comercio.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/Commerces.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.Commerces.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
