﻿@using ECO_Insurance.Business.Utilities
@using ECO_Insurance.Models.Insurance
@model EventRebuildingBase
@{
    ViewBag.Title = "Reportes";
    ViewBag.Rebuilding = "active";
    ViewBag.Rebuildings = "active";
    ViewBag.EventRebuilding = "active";

  
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
  
}

@section styles {
    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        .carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }

        .carousel-indicators li {
            background: #4B4B4B;
        }

        .carousel-indicators .active {
            background: #428BCA;
        }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

        .carousel-control:hover {
            color: #d9534f;
        }

    </style>
}


<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-Reconstructing">
        <div class="modal-content">
         
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Reconstrucción de Recorrido <span class="element-name"></span></h4>
            </div>
            <div class="modal-body body-modal-Reconstructing">
                <div class="row">
                    <div class="form-horizontal col-sm-2" role="form">
                        <div class="form-group">
                             <div id="detailContainer">
                                    @Html.Partial("_partials/_Detail", Model.Data)
                             </div>
                          
                        </div>
                    </div>

                
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

 
<div id="wrapper">
  @Html.Partial("~/Views/EventRebuilding/_partials/_Menu.cshtml")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Reconstrucción de Evento</h3>
            </div>
        </div>

        @using (Html.BeginForm("Index", "EventRebuilding", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, GeneralCollections.GetReportCriteriaForTrendReports, "Filtro de Búsqueda", new Dictionary<string,object> { {"class","form-control fbold"},  {"data-filter","true"} })
                </div>
                @*@Html.HiddenFor(m=>m.Parameters.ReportCriteriaId)¨*@
                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Month, GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" } ,{"onChange","this.form.submit()"} })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Year, GeneralCollections.GetYears, "Año", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" },{"onChange","this.form.submit()"}  })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" },{"onChange","this.form.submit()"}, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" },{"onChange","this.form.submit()"}, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.CustomerId, GeneralCollections.GetCustomersByPartner, "Cliente", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" },{"onChange","this.form.submit()"} })
                </div>
                @*<div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportFuelTypeId, @ECO_Insurance.Business.Utilities.GeneralCollections.GetReportFuelTypes, "Reporte por:", new Dictionary<string,Object> { {"class","form-control fbold"}, {"data-filter","true"} })
                </div>*@
            </div>
        }
       
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadRebuilding", "EventRebuilding", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "detailContainer",
                            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
                        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
         
        @if (Model.List != null && Model.List.Any())
        {
                         <div class="row">
                            <div class="col-sm-12">
                                @Html.Partial("_partials/_Grid", Model)
                            </div>
                        </div>
                                    
        }
        else
        {
            <div class="text-danger top30">No hay información para mostrar el reporte con la combinación de criterios seleccionada.</div>
        }
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Insurance/EventRebuilding.min.js"></script>
    <script>
     
        $(function () {
            ECO_Insurance.EventRebuilding.Init({
                ShowRebuildingUrl: '@Url.Action("ShowRebuilding", "EventRebuilding" )'
            });
        });
    </script>
}


