﻿@using  ECOsystem.Areas.Control.Models.Control
@model IList< ECOsystem.Areas.Control.Models.Control.FuelDistribution>

@if (Model != null && Model.Any())
{
    var first = Model.FirstOrDefault();
    string name = "";
    string symbol = "";
    if (first != null)
    {
        name = first.FuelId.ToString();
        symbol = first.CurrencySymbol;
    }

    //var totalLiters = Model.Aggregate(0, (current, item) => (int)(current + item.Liters));
    var totalCapacityUnit = Model.Aggregate(0.00m, (current, item) => (decimal)(current + Math.Round(item.CapacityUnitValue != null ? (decimal)item.CapacityUnitValue : 0, 2)));
    var totalAmount = Model.Aggregate(0.00m, (current, item) => (decimal)(current + item.Amount));
    Model.Add(new FuelDistribution { Amount = totalAmount, CapacityUnitValue = totalCapacityUnit, CurrencySymbol = symbol });

    @(Html.Grid(Model)
                .Named(name)
                .Selectable(true)
                .Columns(c =>
                {
                    c.Add(m => m.PlateId).SetWidth(60).Titled("Matricula");
                    c.Add(m => m.VehicleName).SetWidth(60).Titled("Vehículo");
                    c.Add(m => m.VehicleModel).SetWidth(60).Titled("Modelo");
                    c.Add(m => m.AmountStrCurrency).SetWidth(60).Titled("Monto Combustible");
                    c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(150)
                    .RenderValueAs(m => @<div style="width:60px;">
                            @{ var _value = ECOsystem.Utilities.Miscellaneous.GetNumberFormatWithDecimal(@m.CapacityUnitValue, 3, "es-CR", false); }
                            <label style="font-weight:normal">@_value</label>                        
                    </div>).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName());
                //c.Add(m => m.CapacityUnitValueStr).SetWidth(60).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName());
            })
    )
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron vehículos asociados al tipo de combustible seleccionado.
    </div>
}
