﻿@using ECO_Insurance.Models.Insurance
@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{


    @(Html.Grid(Model.Select(item => item as WeightedIndexDrivingScoreFleet).OrderByDescending(o => o.WightedIndex))
                  .Columns(c =>
                  {
                  //  c.Add(m => m.DriverScoreId).Titled("ID").SetWidth(240);
                  c.Add(m => m.DecryptedName).Titled("Flota").SetWidth(110).Css("grid-col-center");
                  // c.Add(m => m.AverageScorestr).Titled("% Puntuación").SetWidth(110).Css("grid-col-center");
                  c.Add(m => m.KmTraveledStr).Titled("Kilómetros Recorridos").SetWidth(110).Css("grid-col-center");
                  //c.Add(m => m.WightedIndexStr).Titled("Índice Ponderado(DT/C) *").SetWidth(110).Css("grid-col-center");
                  c.Add().Encoded(false)
                          .Sanitized(false)
                          .Titled("IPCᴱ")
                          .RenderValueAs(m => @<span style="margin-right:30%"> @m.WightedIndexStr <b style="color:red;">*</b> </span>)
                            .SetWidth(110).Css("grid-col-center");
                      //   c.Add(m => m.UserId).Titled("Usuario ID").SetWidth(110).Css("grid-col-right");
                  }
                  )
                  .Selectable(true)
    )


}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
