﻿@model ECO_Efficiency.Models.RouteBase
@{
    ViewBag.Title = "Mantenimiento de Rutas";
    ViewBag.Localizacion = "active";
    ViewBag.Route = "active";
    ViewBag.Localization = "active";
    ViewBag.MapsRoutesIndex = "active";
    ViewBag.HasGrid = true;
    var ResultData = !string.IsNullOrEmpty(ViewBag.ResultData) ? ViewBag.ResultData : string.Empty;

    var showLeftPanel = Model.Data.Points.Any() ? "" : "hide";

    int? valid = ViewBag.ErrorDuringProcess;
    string errorMessage = ViewBag.ErrorMessage;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .radio {
            width: 250px;
            border: solid 1px black;
            padding: 10px;
        }

        .route {
            padding: 10px;
        }

        label {
            font-weight: 100;
        }

        .menu-left {
            width: 300px;
            background-color: #eee;
            position: absolute;
            top: 0;
        }

        .card .card-content {
            padding: 0;
        }

        .route > .card {
            height: calc(100vh - 100px);
            margin: 0;
        }

        #gridContainer > .card {
            padding: 10px;
            margin-top: 0;
        }

        .route .panel-body {
            padding: 0;
        }

        .route .card-content {
            padding: 0 10px;
            height: calc(100vh - 215px);
            overflow: auto;
        }

        #page-content-wrapper .container-fluid .row {
            padding: 0;
        }

        .panel-body > #searchForm {
            padding: 10px;
        }

        body {
            overflow-x: hidden;
        }

        .menu-hide {
            display: none;
        }

        .menu-show {
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0px;
            background: #eee;
        }

            .menu-show .panel {
                margin: 0;
                border-radius: 0 !important;
            }

        .menu-right-hide {
            right: 0 !important;
        }

        #menu-right {
            right: 0;
        }

        .map {
            width: 100%;
            position: absolute;
        }

        .map-menu-left-hide {
            left: 0 !important;
        }

        .toggle-btn {
            position: absolute;
            border-radius: 0 !important;
            border-color:none !important;
            /*background-color: #f5f5f5 !important;*/
        }

            .toggle-btn i {
                font-size: 24px;
            }

        .toggle-left-btn {
            left: 300px;
            top: 0px;
            border-left: 0 !important;
        }

        .toggle-right-btn {
            right: 420px;
            top: 0px;
            border-right: 0 !important;
        }

        .panel-container-height {
            height: calc(100vh - 211px);
            overflow: hidden;
            width: 100%;
        }

        .panel-container-height-right {
            height: calc(100vh - 151px);
            overflow: hidden;
            width: 100%;
        }

        #gridContainer .active {
            background-color: darkcyan;
            color: white;
        }

        #pointsGrid tr.active > td {
            background-color: lightgray;
            font-weight: 600;     
        }

        .left-menu {
            height: calc(100vh - 210px);
            overflow-x: auto;
        }
    </style>
}
<link href="~/Content/Styles/RadarEffect.css" rel="stylesheet" />
<link href="~/Content/Styles/jquery.timepicker.css" rel="stylesheet" />

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("Validate", valid)
@Html.Hidden("ValidateMessage", errorMessage)

<input class="hidden" id="ResultData" value="@ResultData" />

<div id="page-content-wrapper">
    <div class="card-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="card" style="height: calc(100vh - 94px);">
                    <div style="z-index: 1000;">
                        <div id="menu-left" class="menu-show">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <h4>Rutas</h4>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <button id="btnAdd" type="button" class="btn btn-success"><i class="mdi mdi-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-container-height tab-pane">
                                    @using (Ajax.BeginForm("SearchRoutes", "Routes", null, new AjaxOptions
                                    {
                                        HttpMethod = "post",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "gridContainer",
                                        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
                                    }, new { id = "searchForm" }))
                                    {
                                    <div class="input-group" style="padding: 10px;">
                                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                                        <span class="input-group-btn">
                                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                        </span>
                                    </div>
                                    }
                                    <div id="gridContainer" class="card-content left-menu">
                                        @Html.Partial("_partials/_Grid", Model.List)
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-xs-12 text-right">
                                            <span class="input-group-btn">
                                                <button id="btnImport" type="submit" class="btn btn-success" title="Importar Archivo"><i class="mdi mdi-file-import"></i>&nbsp;Importar Rutas</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="menu-right" class="menu-show @showLeftPanel" style="width:420px;">
                            @using (Ajax.BeginForm("AddOrEditRoutes", "Routes", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                OnBegin = "ECO_Efficiency.Routes.ShowLoader()",
                                OnSuccess = "ECO_Efficiency.Routes.UpdateRoutes(data)"
                            }, new { id = "addOrEditRoutesForm" }))
                            {
                                <div id="detailContainer">
                                    @Html.Partial("_partials/_RouteDetail", Model.Data)
                                </div>
                            }
                        </div>
                    </div>
                    <button id="menu-left-toggle" class="flex btn toggle-left-btn toggle-btn"><i id="left_icon" class="mdi mdi-arrow-left-bold"></i></button>
                    <button id="menu-right-toggle" class="flex btn toggle-right-btn toggle-btn @showLeftPanel"><i id="right_icon" class="mdi mdi-arrow-right-bold"></i></button>

                    <div id="MsgNotification" class="alert alert-info alert-dismissible fade in center" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Por favor, seleccione una ruta <br /> o cree una nueva
                    </div>

                    <iframe id="mapFrame" frameborder="0" class="iframe-Routes" style="width: 100%;height: calc(100vh - 100px); display: none;" originalsrc="@ModuleConfig.ModuleURI.GetURI(ModuleConfig.ModuleTypeURI.ModuleMaps)Routes.aspx?"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ImportRoutesContainer">
    @Html.Partial("_partials/_ImportRoutes")
</div>

<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name">Importación de Rutas</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <i class="mdi mdi-information" id="mdiIcon" style="font-size:50px;"></i>
                    </div>
                    <div class="col-sm-10">
                        <h4 id="txMessage"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDownloadFile" class="btn btn-primary pull-left hidden"><i class="mdi mdi-download"></i>&nbsp;Descargar Archivo de Resultados</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Load Form Start-->
@using (Ajax.BeginForm("LoadRoutes", "Routes", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECO_Efficiency.Routes.AddOrEditDetailShow()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteRoutes", "Routes", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECO_Efficiency.Routes.DeleteModalClose2()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar la eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deletePointModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmar la eliminación<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el punto de esta ruta?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnDeletePoint" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SaveNotification" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmación de cambios<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea almacenar los cambios en la ruta?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" id="btnSaveRoute" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Efficiency/Routes.js?v=@version-hf0"></script>
    <script src="~/Scripts/jquery.timepicker.js?v=@version-hf0"></script>
    <script>
        var i = 0;
        function changehover() {
            if (i < 6) {
                $('#menu-left-toggle').toggleClass('hover');
                i++;
            }
        }
        function openTooltip(point_id,order) {
            
            $('.grid-row').removeClass('active');
            $("#pointsGrid").find('#' + point_id).addClass('active');

            var targetframe = $('#mapFrame')[0].contentDocument;

            var newOrder = 0;
            var orderVal = $('.grid-row.active').attr('order');
            $.each($('.grid-cell.orderrow'),
                function (key, item) {
                    if (item.innerText == orderVal) {
                        newOrder = key;
                    }
                });
            
            newOrder = ($('#pointsGrid tr').index($('.grid-row.active')))
            var obj = $(targetframe).find('img[src="/IntrackMaps/Content/Images/Markers/Marker-Cian.png"]');
                
            $.each(obj, function (key, item) {
                var strclick = item.getAttributeNode('onclick').value
                if (strclick.split(",")[1] == newOrder-1) {                
                    item.click();
                }       
            });			 
        }


        $(document).ready(function () {
           
            $("#LoadMenuForm").submit();
            ECO_Efficiency.Routes.Init();
            window.setInterval(changehover, 1500);
            
            
            @Model.JavascriptToRun;
        });

     
       


        window.addEventListener("message", ECO_Efficiency.Routes.ReceiveMessage, false);
        
    </script>
}
