﻿@model ECO_Management.Models.MeasuringAgentsMonthlyReportParameters
@{
    ViewBag.Title = "Medición de los Ejecutivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}
@using (Html.BeginForm("DonwloadFile", "MeasuringAgentsMonthlyReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Ajax.BeginForm("GetReportData", "MeasuringAgentsMonthlyReport", null, new AjaxOptions
            {
                HttpMethod = "post",
                OnBegin = "ECO_Management.MeasuringAgentsMonthlyReport.ShowLoader();",
                OnSuccess = "ECO_Management.MeasuringAgentsMonthlyReport.OnEndGetData(data);"
            }, new { id = "GetReportDataForm" }))
            {
                <div class="row">
                    <div class="col-sm-5">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.StartDateStr, "", new { @class = "form-control", @placeholder = "Fecha Inicial", @autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.EndDateStr, "", new { @class = "form-control", @placeholder = "Fecha Final", @autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12" id="InfoContainer">
                    <br />
                    <div class="alert alert-success alert-dismissible fade in" role="alert" style="margin-bottom: -5px;">
                        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Seleccione la información necesaria para generar el reporte.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Management/MeasuringAgentsMonthlyReport.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.MeasuringAgentsMonthlyReport.Init();
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}