﻿@model IEnumerable<ECOsystem.Models.Core.CreditCardsReportDetail>

@if (Model != null && Model.Any())
{
    var listModel = Model.OrderByDescending(o => o.DeliveryDateStr);

    @(Html.Grid(listModel)
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.RestrictCreditCardNumber).SetWidth(150).Titled("# Tarjeta");
              c.Add(m => m.DecrypedHolder).SetWidth(200).Titled("Titular");
              c.Add(m => m.StatusName).Css("column-center").SetWidth(100).Titled("Estado");
              c.Add(m => m.RequestDateStr).SetWidth(100).Titled("Fecha Solicitud");
              c.Add(m => m.DeliveryDateStr).SetWidth(100).Titled("Fecha Entrega");
          }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}