﻿@model IEnumerable<ECOsystem.Models.Core.CreditCardsReportByClient>

@if (Model != null && Model.Any())
{
    var listModel = Model.OrderBy(o => o.DecrypedClientName);

    @(Html.Grid(listModel)
                  //.AutoGenerateColumns()
                  .Selectable(true)
                  .Columns(c =>
                  {
                      c.Add(m => m.DecrypedClientName).SetWidth(300).Titled("Nombre Cliente");
                      c.Add(m => m.LegalDocument).SetWidth(300).Titled("Cédula Jurídica");
                      c.Add(m => m.RestrictAccountNumber).SetWidth(300).Titled("Número Cuenta");
                      c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(40)
            .Css("column-center")
            .RenderValueAs(m => @<div style="width:45px;">
                @{
                                    var check = "checked='checked'";
                                    check = m.Active ? check : "";
                }
                <input id="Active" type="checkbox" onclick="javascript: return false;" @check />
            </div>).Titled("Activo");
                      c.Add(m => m.CreateDateStr).SetWidth(100).Titled("Creado");
                      c.Add(m => m.StatusName).Css("column-center").SetWidth(100).Titled("Estado");
                      c.Add(m => m.SAPCode).SetWidth(300).Titled("Código SAP");

                      c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(40)
                        .Css("column-center")
                        .RenderValueAs(m => @<div style="width:45px;">
                                            @{
                                                var check = "checked='checked'";
                                                check = (m.RangePermit == 1) ? check : "";
                                            }
                                            <input readonly type="checkbox" onclick="javascript: return false;" @check />
                        </div>).Titled("Rangos de Precios Activos");

                      c.Add(m => m.TotalCantCards).SetWidth(100).Css("column-center").Titled("Total Tarjetas Administradas");
                      c.Add()
          .Encoded(false)
          .Sanitized(false)
          .SetWidth(100)
          .RenderValueAs(m => @<div style="width:100px;" class="column-right">
            @{
                                var costoAdmin = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", m.CostAdmin.ToString(), false);
            }

            @string.Format("{0} {1}", m.CurrencySymbolDollar, costoAdmin)
        </div>).Titled("Costo Admin. (Mensual)");
      c.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(100)
.RenderValueAs(m => @<div style="width:100px;" class="column-right">

    @{
                        var totalCostAdmin = m.TotalCantCards * m.CostAdmin;
                        var grandTotalAdmin = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", totalCostAdmin.ToString(), false);
    }

    @string.Format("{0} {1}", m.CurrencySymbolDollar, grandTotalAdmin)
</div>).Titled("Total Costo Admin.");
          c.Add(m => m.CurrentCantCards).SetWidth(100).Css("column-center").Titled("Tarjetas Emitidas (Período)");
          c.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(100)
.RenderValueAs(m => @<div style="width:100px;" class="column-right">

    @{
                        var costoEmision = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", m.CostEmision.ToString(), false);
    }

    @string.Format("{0} {1}", m.CurrencySymbolDollar, costoEmision)
</div>).Titled("Costo Emisión");
          c.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(100)
            .RenderValueAs(m => @<div style="width:100px;" class="column-right">

                @{
                                    var totalCostEmision = m.CurrentCantCards * m.CostEmision;
                                    var grandTotalEmision = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", totalCostEmision.ToString(), false);
                }
                @string.Format("{0} {1}", m.CurrencySymbolDollar, grandTotalEmision)
            </div>).Titled("Total Costo Emisión");
                      c.Add(m => m.CantCardReposition).SetWidth(100).Css("column-center").Titled("Reposiciones (Período)");
                      c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(100)
                        .RenderValueAs(m => @<div style="width:100px;" class="column-right">

                            @{
                                                var costoReemplazo = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", m.AmountCardReposition.ToString(), false);
                            }

                            @string.Format("{0} {1}", m.CurrencySymbolDollar, costoReemplazo)
                        </div>).Titled("Total Costo Reposiciones");
                                  c.Add(m => m.CantActiveCards).SetWidth(100).Css("column-center").Titled("Tarjetas Activas (Período)");
                                  c.Add(m => m.CantBlockCards).SetWidth(100).Css("column-center").Titled("Tarjetas Bloqueadas (Período)");
                                  c.Add(m => m.CantCloseCards).SetWidth(100).Css("column-center").Titled("Tarjetas Cerradas (Período)");

                              }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}