﻿@model ECO_Partner.Models.FTPParameters
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Parámetros FTP";
    ViewBag.Administration = "active";
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                @using (Ajax.BeginForm("FTPParametersAddOrEdit", "FTPParameters", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    OnBegin = "ECO_Partner.FTPParameters.ShowLoader()",
                    OnSuccess = "ECO_Partner.FTPParameters.OnSaveData(data)"
                }, new { id = "FTPParametersAddOrEdit" }))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Parámetros para la conexión FTP
                            </h3>
                        </div>
                        <div class="panel-body">
                            @Html.HiddenFor(m => m.Id)
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.Label("Dirección: ")
                                    @Html.TextBoxFor(m => m.HostName, "", new { @class = "form-control number-only", @placeholder = "Dirección" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Llave de Acceso: ")
                                    @Html.TextBoxFor(m => m.Key, "", new { @class = "form-control number-only", @placeholder = "Llave de Acceso" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Carpeta Destino: ")
                                    @Html.TextBoxFor(m => m.HostFolder, "", new { @class = "form-control number-only", @placeholder = "Carpeta Destino" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.Label("Usuario: ")
                                    @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control number-only", @placeholder = "Usuario" })                                        
                                </div>
                                <div class="col-sm-4">
                                    @Html.Label("Contraseña: ")
                                    @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control number-only", @placeholder = "Contraseña", @type = "password" })                                        
                                </div>
                                <div class="col-sm-2">
                                    <br />
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Active, new { @checked = Model.Active ? "checked" : "" })&nbsp;<strong>Activo</strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <br />
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.IsProtocolSFTP, new { @checked = Model.IsProtocolSFTP ? "checked" : "" })&nbsp;<strong>Conexión Secure FTP</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-success"> <i class="mdi mdi-check"></i>&nbsp;Guardar Parámetros</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div id="ControlsContainer"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/FTPParameters.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.FTPParameters.Init();
        });
    </script>
}