﻿@model  ECOsystem.Areas.Admin.Models.Administration.DallasKeys

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @Html.HiddenFor(m => m.DallasId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @{
                    if (Model.DallasId != null)
                    {
                        <h4 class="modal-title">Información de Llave Dallas<span class="element-name"></span></h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Información de Llave Dallas</h4>
                    }
                  }

            </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DallasCode, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.DallasCode, new { placeholder = "Código Dallas", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DallasCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-sm-2">
                            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                        </div>
                        <div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button id="dallaskey-details-submitbtn" type="submit" class="btn btn-primary" disabled><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


<script>
    dallasCode = '@Model.DallasCode';
    $("#DallasCode").keyup(function () {
        $("#dallaskey-details-submitbtn").prop('disabled', (dallasCode == $("#DallasCode").val()));
    });

    $('#DallasCode').bind('input', function () {
        $(this).val(function (_, v) {
            return v.replace(/\s+/g, '');
        });
    });
</script>
    <!-- Modal End -->
