﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.DallasKeys>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @(Html.Grid(Model)
              //.AutoGenerateColumns()
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add().Encoded(false).Sanitized(false).Titled("Código Llave Dallas").SetWidth(100)
                      .RenderValueAs(
                        m => @<span><i class="mdi mdi-lock mdi-18px"></i> @m.DallasCode</span>);
                //c.Add(m => m.DallasCode).Titled("Código Dallas").SetWidth(100);
                c.Add(m => m.IsUsed).Titled("En Uso").RenderValueAs(m => Html.CheckBox("_InUse", m.IsUsed, new { disabled = "disabled" })).SetWidth(100).Encoded(false).Sanitized(false).Css("grid-col-center checkbox");
                c.Add(m => m.DriverName).Titled("Conductor Asignado").SetWidth(250);
                c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(50)
                .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.DallasId" title="Editar" edit_row data-vehicle-categorie="true"><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                    <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.DallasId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                </span>).Css("grid-col-btn");
                }))
</div>
    </div>    
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
