﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.ExpiredPreventiveMaintenance>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(100);
            c.Add(m => m.Plate).Titled("Placa").SetWidth(100);
            c.Add(m => m.MaintenanceName).Titled("Mantenimiento").SetWidth(100);
            c.Add(m => m.ExpiredDateStr).Titled("Fecha Revisión").SetWidth(100);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.OdometerStr</span>)
                   .Titled("KM Actuales")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(75);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.LastReviewOdometerStr</span>)
                   .Titled("KM Revisión")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(75);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.ExpiredOdometerStr</span>)
                   .Titled("KM Excedidos")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(75);
            c.Add().RenderValueAs(m => @<span class="pull-right">@m.ExpiredDays</span>)
                   .Titled("Días Vencimiento")
                   .Sanitized(false)
                   .Encoded(false)
                   .SetWidth(75);
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(100)
                .RenderValueAs(m => @<button type="button" class="btn btn-success apply_expired btnGridApply" idvehicle="@m.VehicleId" idmaintenance="@m.MaintenaceId"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>).Css("grid-col-btn");
        })
    )
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
