﻿@model  ECOsystem.Areas.Admin.Models.Administration.AlarmsModels

@{
    string AlarmOverSpeedPerCustomer = ViewBag.AlarmOverSpeedPerCustomerEmail;
    string AlarmOverSpeedPerLaw = ViewBag.AlarmOverSpeedPerLawEmail;

    int? AlarmOverSpeedPerCustomerId = ViewBag.AlarmOverSpeedPerCustomerId;
    int? AlarmOverSpeedPerLawId = ViewBag.AlarmOverSpeedPerLawId;

    bool AlarmOverSpeedPerCustomerActive = ViewBag.AlarmOverSpeedPerCustomerActive == null ? false : ViewBag.AlarmOverSpeedPerCustomerActive;
    bool AlarmOverSpeedPerLawActive = ViewBag.AlarmOverSpeedPerLawActive == null ? false : ViewBag.AlarmOverSpeedPerLawActive;

}

<!-- Modal Start -->
<div class="modal fade" id="alarmModalVehicles" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Configuración de Alarmas</h4>
            </div>
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="font-size:14px;margin: 0;border: 0;border-radius: 0;">
                <i class="mdi mdi-information"></i> Agregue todos los correos que sean necesarios para los avisos de "Alarmas".
            </div>
            <br />
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#DivAlarmOverSpeed" data-toggle="tab">Exceso de Velocidad</a></li>
                <li><a href="#DivAlarmMaintenance" data-toggle="tab">Mantenimientos</a></li>
                <li><a href="#DivStopTime" data-toggle="tab">Tiempo Paradas</a></li>
                <li><a href="#DivAlarmTemperature" data-toggle="tab">Temperatura</a></li>
                <li><a href="#DivAlarmLowBattery" data-toggle="tab">Batería Baja</a></li>
                <li><a href="#DivAlarmGPSDesconnection" data-toggle="tab">Desconexión de GPS</a></li>
            </ul>
            <div class="tab-content">
                @Html.HiddenFor(m => m.AlarmId)
                @Html.HiddenFor(m => m.AlarmMaintenanceId)
                @Html.HiddenFor(m => m.AlarmTriggerId)
                @Html.HiddenFor(m => m.AlarmStopTimeId)
                @Html.HiddenFor(m => m.AlarmTemperatureId)
                @Html.HiddenFor(m => m.AlarmLowBatteryId)
                @Html.HiddenFor(m => m.AlarmGPSDesconnectionId)
                @Html.HiddenFor(m => m.EntityTypeId)
                @Html.HiddenFor(m => m.EntityTypeIdLawSpeed)
                @Html.HiddenFor(m => m.EntityTypeIdCustomerSpeed)
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m => m.CustomerId)
                @Html.HiddenFor(m => m.AlarmTriggerIdMaintenance)
                @Html.HiddenFor(m => m.AlarmTriggerIdStopTimeGPS)
                @Html.HiddenFor(m => m.AlarmTriggerIdTemperature)
                @Html.HiddenFor(m => m.AlarmTriggerIdLowBattery)
                @Html.HiddenFor(m => m.AlarmTriggerIdGPSDesconnection)
                @Html.HiddenFor(m => m.EmailPlaceHolder)
                @Html.HiddenFor(m => m.EmailLowBatteryPlaceHolder)
                @Html.HiddenFor(m => m.EmailGPSDesconnectionPlaceHolder)
                @Html.HiddenFor(m => m.EmailTemperaturePlaceHolder)
                @Html.HiddenFor(m => m.EmailMaintenancePlaceHolder)
                @Html.HiddenFor(m => m.EmailStopTimePlaceHolder)

                @{
        var PlaceHolderSpeed = Model.EmailPlaceHolder;
        var PlaceHolderLowBattery = Model.EmailLowBatteryPlaceHolder;
        var PlaceHolderGPSDesconnection = Model.EmailGPSDesconnectionPlaceHolder;
        var PlaceHolderTemperature = Model.EmailTemperaturePlaceHolder;
        var PlaceHolderMaintenance = Model.EmailMaintenancePlaceHolder;
        var PlaceHolderStopTime = Model.EmailStopTimePlaceHolder;

        if (PlaceHolderSpeed == null)
        {
            PlaceHolderSpeed = "Digite los correos electrónicos";
        }
        if (PlaceHolderLowBattery == null)
        {
            PlaceHolderLowBattery = "Digite los correos electrónicos";
        }
        if (PlaceHolderGPSDesconnection == null)
        {
            PlaceHolderGPSDesconnection = "Digite los correos electrónicos";
        }
        if (PlaceHolderTemperature == null)
        {
            PlaceHolderTemperature = "Digite los correos electrónicos";
        }
        if (PlaceHolderMaintenance == null)
        {
            PlaceHolderMaintenance = "Digite los correos electrónicos";
        }
        if (PlaceHolderStopTime == null)
        {
            PlaceHolderStopTime = "Digite los correos electrónicos";
        }
                }


                @Html.Hidden("AlarmOverSpeedPerCustomer", AlarmOverSpeedPerCustomer)
                @Html.Hidden("AlarmOverSpeedPerLaw", AlarmOverSpeedPerLaw)

                @Html.Hidden("AlarmOverSpeedPerCustomerId", AlarmOverSpeedPerCustomerId)
                @Html.Hidden("AlarmOverSpeedPerLawId", AlarmOverSpeedPerLawId)

                @Html.Hidden("AlarmOverSpeedPerCustomerActive", AlarmOverSpeedPerCustomerActive)
                @Html.Hidden("AlarmOverSpeedPerLawActive", AlarmOverSpeedPerLawActive)
                



                <div id="DivAlarmOverSpeed" class="tab-pane active">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = PlaceHolderSpeed, @class = "form-control text-left", @maxlength = "500", @id = "txtAlarmEmail" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
                                    <br />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        @Html.CheckBoxFor(m => m.Active, new { @id = "chkActive" }) Habilitada
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.Active)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ECOsystem.Utilities.Session.GetCustomerInfo().CustomerId == 6617)
            {
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.Label("SMS (Teléfono)", new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.Phone, new { placeholder = "Teléfono", @class = "form-control text-left", maxlength = "50", id = "txtPhone" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>
                </div>
}
else
{
            @Html.HiddenFor(m => m.Phone)
}
                        <div class="row center">
                            <div class="col-md-4">
                                <div class="mdl-radio" id="1">
                                    <label>
                                        @Html.RadioButtonFor(m => m.TypeSpeed, "1", new { })
                                        <strong>Velocidad Ley</strong>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="mdl-radio" id="2">
                                    <label>
                                        @Html.RadioButtonFor(m => m.TypeSpeed, "2", new { })
                                        <strong>Velocidad Delimitada por Empresa</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DivAlarmMaintenance" class="tab-pane">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailMaintenance, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.EmailMaintenance, new { placeholder = PlaceHolderMaintenance, @class = "form-control text-left", @maxlength = "500", @id = "txtAlarmMaintenanceEmail" })
                                    @Html.ValidationMessageFor(m => m.EmailMaintenance, "", new { @class = "text-danger" })
                                    <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
                                    <br />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        @Html.CheckBoxFor(m => m.ActiveMaintenance, new { }) Habilitada
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.ActiveMaintenance)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DivStopTime" class="tab-pane">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailStopTime, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.EmailStopTime, new { placeholder = PlaceHolderStopTime, @class = "form-control text-left", @maxlength = "500", @id = "txtAlarmStopTimeEmail" })
                                    @Html.ValidationMessageFor(m => m.EmailStopTime, "", new { @class = "text-danger" })
                                    <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
                                    <br />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        @Html.CheckBoxFor(m => m.ActiveStopTime, new { }) Habilitada
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.ActiveStopTime)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <strong>Tiempo máximo de parada</strong>
                            </div>
                            <div class="col-md-7 left">
                                @Html.TextBoxFor(m => m.MaxTime, new { placeholder = "Tiempo máximo parada en minutos", @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(m => m.MaxTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DivAlarmTemperature" class="tab-pane">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailTemperature, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.EmailTemperature, new { placeholder = PlaceHolderTemperature, @class = "form-control text-left", @maxlength = "500", @id = "txtAlarmTemperatureEmail" })
                                    @Html.ValidationMessageFor(m => m.EmailTemperature, "", new { @class = "text-danger" })
                                    <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
                                    <br />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        @Html.CheckBoxFor(m => m.ActiveTemperature, new { }) Habilitada
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.ActiveTemperature)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DivAlarmLowBattery" class="tab-pane">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailLowBattery, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.EmailLowBattery, new { placeholder = PlaceHolderLowBattery, @class = "form-control text-left", @maxlength = "500", @id = "txtAlarmLowBatteryEmail" })
                                    @Html.ValidationMessageFor(m => m.EmailLowBattery, "", new { @class = "text-danger" })
                                    <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
                                    <br />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        @Html.CheckBoxFor(m => m.ActiveLowBattery, new { }) Habilitada
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.ActiveLowBattery)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="DivAlarmGPSDesconnection" class="tab-pane">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailGPSDesconnection, new { @class = "col-sm-14 control-label" })
                                    @Html.TextBoxFor(m => m.EmailGPSDesconnection, new { placeholder = PlaceHolderGPSDesconnection, @class = "form-control text-left", @maxlength = "500", @id = "txtAlarmGPSDesconnectionEmail" })
                                    @Html.ValidationMessageFor(m => m.EmailGPSDesconnection, "", new { @class = "text-danger" })
                                    <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
                                    <br />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="checkbox">
                                                    <label class="control-label">
                                                        @Html.CheckBoxFor(m => m.ActiveGPSDesconnection, new { }) Habilitada
                                                    </label>
                                                    @Html.ValidationMessageFor(m => m.ActiveGPSDesconnection)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div id="validationAmountError2" class="col-sm-12 hide">
                            <div id="errorAmountMsj2" class="col-sm-12 text-danger">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnSendAlarm" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal End" -->

<script>

    $('.mdl-radio').click(function () {
        
        var Id = $(this).attr("id")
        var Email = '';
        if (Id == "1") {
            Email = $('#AlarmOverSpeedPerLaw').val();
            if (Email != null) {
                $('#txtAlarmEmail').val(Email);
                $('#AlarmId').val($('#AlarmOverSpeedPerLawId').val());
                $('#Active').val($('#AlarmOverSpeedPerLawActive').val())
            }
            else {
                $('#txtAlarmEmail').val('');
                $('#chkActive').val(false);
            }
        }
        else {
            Email = $('#AlarmOverSpeedPerCustomer').val();
            if (Email != null) {
                $('#txtAlarmEmail').val(Email);
                $('#AlarmId').val($('#AlarmOverSpeedPerCustomerId').val());
                $('#Active').val($('#AlarmOverSpeedPerCustomerActive').val())
            }
            else {
                $('#txtAlarmEmail').val('');
                $('#chkActive').val(false);
            }
        }
    });

    $('#chkActive').click(function () {
        
        var emailplaceholder = $('#EmailPlaceHolder').val();
        var email = $('#txtAlarmEmail').val();
        if ($(this).is(':checked') && email == '') {
            $('#txtAlarmEmail').val(emailplaceholder);
        }
    });

    $('#ActiveMaintenance').click(function () {

        var emailplaceholder = $('#EmailMaintenancePlaceHolder').val();
        var email = $('#txtAlarmMaintenanceEmail').val();
        if ($(this).is(':checked') && email == '') {
            $('#txtAlarmMaintenanceEmail').val(emailplaceholder);
        }
    });

    $('#ActiveStopTime').click(function () {

        var emailplaceholder = $('#EmailStopTimePlaceHolder').val();
        var email = $('#txtAlarmStopTimeEmail').val();
        if ($(this).is(':checked') && email == '') {
            $('#txtAlarmStopTimeEmail').val(emailplaceholder);
        }
    });

    $('#ActiveTemperature').click(function () {

        var emailplaceholder = $('#EmailTemperaturePlaceHolder').val();
        var email = $('#txtAlarmTemperatureEmail').val();
        if ($(this).is(':checked') && email == '') {
            $('#txtAlarmTemperatureEmail').val(emailplaceholder);
        }
    });

    $('#ActiveLowBattery').click(function () {

        var emailplaceholder = $('#EmailLowBatteryPlaceHolder').val();
        var email = $('#txtAlarmLowBatteryEmail').val();
        if ($(this).is(':checked') && email == '') {
            $('#txtAlarmLowBatteryEmail').val(emailplaceholder);
        }
    });

    $('#ActiveGPSDesconnection').click(function () {

        var emailplaceholder = $('#EmailGPSDesconnectionPlaceHolder').val();
        var email = $('#txtAlarmGPSDesconnectionEmail').val();
        if ($(this).is(':checked') && email == '') {
            $('#txtAlarmGPSDesconnectionEmail').val(emailplaceholder);
        }
    });


    /* On click BtnSubmitAlarm*/
    $('#btnSendAlarm').click(function () {

        if (ValidateInputs()) {
            setAmountErrorMsj('', true, 'e2');
            $('#addOrEditAlarmForm').submit();
        }
        else {
            setAmountErrorMsj('* 1) Verifique que agregó al menos un correo. <br/> * 2) Si la alarma es de Exceso de Velocidad seleccione el tipo de alarma.', true, 'e2');
        }

    });

    var ValidateInputs = function () {

        if (($('#txtAlarmMaintenanceEmail').val() == null || $('#txtAlarmMaintenanceEmail').val() == '') && ($('#txtAlarmEmail').val() == null || $('#txtAlarmEmail').val() == '')
            && ($('#txtAlarmStopTimeEmail').val() == null || $('#txtAlarmStopTimeEmail').val() == '')
            && ($('#txtAlarmTemperatureEmail').val() == null || $('#txtAlarmTemperatureEmail').val() == '')
            && ($('#txtAlarmLowBatteryEmail').val() == null || $('#txtAlarmLowBatteryEmail').val() == '')
            && ($('#txtAlarmGPSDesconnectionEmail').val() == null || $('#txtAlarmGPSDesconnectionEmail').val() == '')
        ) {
            return false;
        }
        //else if (($('#txtAlarmEmail').val() != null || $('#txtAlarmEmail').val() != '') && ($('#TypeSpeed').val() == "0")) {
        //    return false;
        //}
        else {
            return true;
        }

    };


    /* Show or hide errors messages*/
    var setAmountErrorMsj = function (msj, show, typeError) {

        typeError = typeError != null ? typeError : 'e1';

        switch (typeError) {
            case 'e1':
                if (show) {
                    $('#errorAmountMsj').html(msj);
                    $('#validationAmountError').removeClass('hide');
                } else {
                    $('#errorAmountMsj').html('');
                    $('#validationAmountError').addClass('hide');
                }
                break;
            case 'e2':
                if (show) {
                    $('#errorAmountMsj2').html(msj);
                    $('#validationAmountError2').removeClass('hide');
                } else {
                    $('#errorAmountMsj2').html('');
                    $('#validationAmountError2').addClass('hide');
                }
                break;
            default:
                break;
        }


    }
</script>

