﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehicleBinnacleBase

<div class="row">
    <div class="form-group form-horizontal col-sm-10" role="form">
        @Html.LabelFor(m => m.Data.Comment, new { })
        @Html.TextAreaFor(m => m.Data.Comment, 2, 30, new { @class = "form-control", @id="txtCommentBinnacle" })
    </div>
    <div class="col-sm-2">
        <br />
        <button type="button" class="btn btn-success" style="margin-top:10px;" id="btnVehicleBinnacleSubmit"><i class="mdi mdi-plus mdi-18px"></i> Agregar Bitácora</button>
    </div>    
</div>

<div id="BinnacleContainer">
    @Html.Partial("_partials/_BinnacleGrid", Model.List)
</div>

    

    
