﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.VehicleBinnacle>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.Comment).Titled("Comentario").SetWidth(1000).Sortable(true);
            c.Add(m => m.DecryptedUserName).Titled("Usuario Web");
            c.Add(m => m.InsertDate).Titled("Fecha");
        }))
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

