﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehiclesReferences


<!-- Modal Start-->
<div class="modal fade" id="referenceEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="ReferenceEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.HiddenFor(m => m.VehicleId)
            @Html.HiddenFor(m => m.CustomerId)
            @Html.HiddenFor(m => m.AdministrativeSpeedLimit)
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Referencias del Vehículo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group form-horizontal col-sm-12" role="form">
                        @Html.LabelFor(m => m.Name, new { })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del vehículo", @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.PlateId, new { })
                        @Html.TextBoxFor(m => m.PlateId, new { placeholder = "Matrícula", @class = "form-control", disabled = "disabled" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.IntrackReference, new { })
                        @Html.TextBoxFor(m => m.IntrackReference, new { placeholder = "Referencia Flotas BAC Credomatic", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IntrackReference, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.DeviceReference, new { })
                        @Html.TextBoxFor(m => m.DeviceReference, new { placeholder = "Referencia Dispositivo", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DeviceReference, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

