﻿@model  ECOsystem.Areas.Admin.Models.Administration.Vehicles


<script type="text/javascript">
    $(function () {
        ECOsystem.Utilities.HideLoader();
    });
</script>    

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.HiddenFor(m => m.VehicleId)
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Vehículo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.Name, new { })
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del vehículo", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.CostCenterId, new { })
                        @Html.DropDownListFor(m => m.CostCenterId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleCostCenters, "Seleccione el Centro de Costo", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CostCenterId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.PlateId, new { })
                        @Html.TextBoxFor(m => m.PlateId, new { placeholder = "Matrícula", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PlateId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.Chassis, new { })
                        @Html.TextBoxFor(m => m.Chassis, new { placeholder = "Número de chasis del vehículo", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Chassis, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  form-horizontal col-sm-4" role="form">
                        @Html.LabelFor(m => m.Colour, new { })
                        @Html.TextBoxFor(m => m.Colour, new { placeholder = "Digitar el color del vehículo", @class = "form-control" })
                    </div>
                    <div class="form-horizontal col-sm-4 vehicle-Padding-Top" role="form">
                        <div class="col-xs-10 vehicle-Not-Padding-Left">
                            <div class="checkbox">
                                <label>
                                    @{
                                        if(Model != null && Model.VehicleId == null){
                                            Model.Active = true;
                                        }
                                    }

                                    @Html.CheckBoxFor(m => m.Active)Vehículo activo en la Flota
                                </label>
                                @Html.ValidationMessageFor(m => m.Active)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal col-sm-12" role="form">
                        @Html.LabelFor(m => m.VehicleCategoryId, new { })
                        @Html.DropDownListFor(m => m.VehicleCategoryId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetVehicleCategories, "Seleccione la Clase", new { @class = "form-control", custom = "true" })
                        @Html.ValidationMessageFor(m => m.VehicleCategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-horizontal col-sm-12" role="form">

                        @{
                            Dictionary<int?, string> dataDrivers =  ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetDrivesByVehicle(Model.VehicleId);
                            SelectList driversList = new SelectList(dataDrivers, "Key", "Value");
                        }

                        @Html.LabelFor(m => m.UserId, new { })
                        @Html.DropDownListFor(m => m.UserId, driversList, "Seleccione un Conductor", new { @class = "form-control", custom = "true" })
                        @*@Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#Divdetail" data-toggle="tab">Configuración</a></li>
                    <li><a href="#DivInsurance" data-toggle="tab">Póliza</a></li>
                </ul>
                <div class="tab-content">
                    <div id="Divdetail" class="tab-pane active">
                        <div class="modal-body">
                        <div class="row">
                            <div class="form-group form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.AVL, new { })
                                @Html.TextBoxFor(m => m.AVL, new { placeholder = "AVL", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AVL, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group  form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.PhoneNumber, new { })
                                @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Número del SIM (AVL)", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group  form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.LastDallas, new { })
                                @Html.TextBoxFor(m => m.LastDallas, new { placeholder = "Último Dallas", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastDallas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.IntrackReference, new { })
                                @Html.TextBoxFor(m => m.IntrackReference, new { placeholder = "Vehículo Flotas BAC Credomatic", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.IntrackReference, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group  form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.Imei, new { })
                                @Html.TextBoxFor(m => m.Imei, new { placeholder = "Número de Imei (AVL)", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Imei, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.FreightTemperature, new { })
                                @Html.TextBoxFor(m => m.FreightTemperature, new { placeholder = "Temperatura de Carga", @class = "form-control" })
                            </div>
                            <div class="form-group form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.FreightTemperatureThreshold1, new { })
                                @Html.TextBoxFor(m => m.FreightTemperatureThreshold1, new { placeholder = "Primer Umbral de Temperatura de Carga", @class = "form-control" })
                            </div>
                            <div class="form-group form-horizontal col-sm-4" role="form">
                                @Html.LabelFor(m => m.FreightTemperatureThreshold2, new { })
                                @Html.TextBoxFor(m => m.FreightTemperatureThreshold2, new { placeholder = "Segundo Umbral de Temperatura de Carga", @class = "form-control" })
                            </div>
                        </div>
                            <div class="row">
                                <div class="form-group form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.AdministrativeSpeedLimit, new { })
                                    @Html.TextBoxFor(m => m.AdministrativeSpeedLimit, new { placeholder = "Velocidad Administrativa (km/h)", @class = "form-control" })
                                </div>
                                <div class="form-group form-horizontal col-sm-4" role="form">
                                    @Html.LabelFor(m => m.CabinPhone, new { })
                                    @Html.TextBoxFor(m => m.CabinPhone, new { placeholder = "Teléfono de Cabina", @class = "form-control" })
                                </div>
                                <div class="form-group form-horizontal col-sm-4" role="form">
                                    
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Predictive)Incluir en análisis Predictivo
                                    </label>
                                    @Html.ValidationMessageFor(m => m.Predictive)
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div id="DivInsurance" class="tab-pane fade">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group  form-horizontal col-sm-6" role="form">
                                    @Html.LabelFor(m => m.Insurance, new { })
                                    @Html.TextBoxFor(m => m.Insurance, new { placeholder = "Póliza del Vehículo", @class = "form-control", @maxlength = "20" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-6" role="form">
                                    @Html.LabelFor(m => m.DateExpirationInsuranceStr, new { })
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.TextBoxFor(m => m.DateExpirationInsuranceStr, new { placeholder = "Fecha de Vencimiento", @class = "form-control", @autocomplete = "off" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  form-horizontal col-sm-6" role="form">
                                    @Html.LabelFor(m => m.CoverageType, new { })
                                    @Html.TextBoxFor(m => m.CoverageType, new { placeholder = "Tipo de Cobertura", @class = "form-control", @maxlength = "20" })
                                </div>
                                <div class="form-group  form-horizontal col-sm-6" role="form">
                                    @Html.LabelFor(m => m.NameEnterpriseInsurance, new { })
                                    @Html.TextBoxFor(m => m.NameEnterpriseInsurance, new { placeholder = "Nombre de Empresa Aseguradora", @class = "form-control", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  form-horizontal col-sm-6" role="form">
                                    @Html.LabelFor(m => m.PeriodicityId, new { })
                                    @Html.DropDownListFor(m => m.PeriodicityId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetPeriodicity, "Seleccione un tipo de Período", new { @class = "form-control", custom = "true"  })
                                </div>
                                <div class="form-group  form-horizontal col-sm-6" role="form">
                                    @Html.LabelFor(m => m.Cost, new { })
                                    <div class="input-group">
                                        <!--DEBE CARGARSE CON LA VARIABLE DE SESION-->
                                        <span class="input-group-addon">$</span>
                                        <!--DEBE CARGARSE CON LA VARIABLE DE SESION-->
                                        @Html.TextBoxFor(m => m.Cost, new { placeholder = "Monto", @class = "form-control text-right", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
