﻿@model IEnumerable<ECOsystem.Models.Core.DriversUsers>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.DecryptedName).Titled("Nombre").Sortable(true);
            c.Add(m => m.DecryptedEmail).Titled("Usuario Web");              
            c.Add()
                .Encoded(false)
                 .Sanitized(false)
                  .SetWidth(15)
                   .RenderValueAs(m => m.LastDateDrivingConvert)
                    .Titled("Ultimo día de conducción");               
        })) 
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">       
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
