﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.Vehicles>

@if (Model != null && Model.Any())
{
    <div class="card" >
        <div class="card-content">           

            @(Html.Grid(Model)              
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add(m => m.Name).Titled("Vehículo").Sortable(true);
                  c.Add(m => m.Manufacturer).Titled("Fabricante");
                  c.Add(m => m.VehicleModel).Titled("Modelo");
                  c.Add(m => m.VehicleType).Titled("Tipo");
                  c.Add(m => m.PlateId).Titled("Matrícula");
                  c.Add(m => m.CostCenterName).Titled("Centro de Costo");
                  c.Add(m => m.DecryptedUserName).Titled("Conductor Asignado");
                  c.Add(m => m.CategoryType).Titled("Clase");
                  c.Add(m => m.OdometerVehicle).Titled("Odómetro");
                  c.Add().Titled("GPS")
                     .Encoded(false)
                     .Sanitized(false)
                     .SetWidth(15)
                     .RenderValueAs(m => @m.GPSIcon);  
                  
                  c.Add().Titled("Mover Presupuesto")
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(3)
                            .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px;margin-left: 60px;">
                                <label style="font-weight:bold;">
                                    <input type="checkbox" data-status="@m.PullPreviousBudget" id="@m.PullPreviousBudget" name="InternationCard" checked="@m.PullPreviousBudget" disabled>
                                </label>
                            </div>); 

                  if (User.IsInRole("SUPER_ADMIN") || User.IsInRole("SUPER_USER"))
                  {
                      c.Add()
                          .Encoded(false)
                          .Sanitized(false)
                          .SetWidth(2)
                          .RenderValueAs(m => @<span>
                            <a href="#" class="edit-color" id="@m.VehicleId" title="Referencias" ref_row><i class="mdi mdi-share"></i></a>
                        </span>).Css("grid-col-btn");
                  }
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(50)
                      .RenderValueAs(m => @<span>
                        <a href="#" class="edit-color" id="@m.VehicleId" title="Editar" edit_row_vehicles><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.VehicleId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                    </span>).Css("grid-col-btn");

              }))
        </div>
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">        
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
