﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.CreditCard>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
                        .Selectable(false)
                        .Columns(c =>
                        {
                            c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago");
                            c.Add()
                              .Titled("Medio de Pago")
                              .Encoded(false)
                              .Sanitized(false)
                              //.SetWidth(20)
                              .RenderValueAs(m => @<span class="center">
                                    <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentTypeName</label>
                                    <label class="legend"></label>
                                </span>);
                            c.Add(m => m.StatusName).Titled("Estado");
                            c.Add(m => m.ExpirationDate).Titled("Fecha de Emisión");

                        }))
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
