﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.TransactionsReport>

<style type="text/css">
    .boldText {
        font-weight: bold;
    }

    .numericAlign {
        text-align: right;
    }
</style>

@if (Model != null && Model.Any())
{
    if (Model.First().FuelName == null)
    {
        @(Html.Grid(Model)
                                  .Selectable(true)
                                  .Columns(c =>
                                  {
                                      c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago").SetWidth(200);
                                      c.Add()
                                          .Titled("Medio de Pago")
                                          .Encoded(false)
                                          .Sanitized(false)
                                          .SetWidth(20)
                                          .RenderValueAs(m => @<span class="center">
                                               <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                               <label class="legend"></label>
                                                               </span>);
                                      c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(120);
                                      c.Add(m => m.CreditCardHolder).Titled("Titular");
                                      c.Add(m => m.ResponseCode).Titled("Codigo");
                                      c.Add(m => m.ResponseCodeDescription).Titled("Descripcion");
                                      c.Add(m => m.Message).Titled("Mensaje");
                                      c.Add(m => m.InsertDate).Titled("Fecha");
                                      c.Add(m => m.CountryName).Titled("País").SetWidth(60);
                                      c.Add(m => m.ExchangeValue).Titled("Tipo Cambio").SetWidth(60);
                                      c.Add(m => m.RealAmountFormatted).Titled("Monto Real").SetWidth(60);
                                   }))
    }
    else
    {

        @(Html.Grid(Model)
                                  .Selectable(true)
                                  .Columns(c =>
                                  {
                                      c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago").SetWidth(200);
                                      c.Add()
                                        .Titled("Medio de Pago")
                                        .Encoded(false)
                                        .Sanitized(false)
                                        .SetWidth(20)
                                        .RenderValueAs(m => @<span class="center">
                                                <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                                <label class="legend"></label>
                                            </span>);
                                      c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(120);
                                      c.Add(m => m.HolderNameStr).Titled("Titular").SetWidth(120);
                                      c.Add(m => m.Invoice).Titled("#Factura").SetWidth(80);
                                      c.Add(m => m.SystemTraceCode).Titled("Código").SetWidth(60);
                                      c.Add(m => m.MerchantDescription).Titled("Gasolinera").SetWidth(120);
                                      c.Add(m => m.FuelName).Titled("Combustible").SetWidth(100);
                                      c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).SetWidth(50);
                                      c.Add(m => m.OdometerStr).Titled("Odómetro").SetWidth(60);
                                      c.Add(m => m.FuelAmountStr).Titled("Monto").SetWidth(60);
                                      c.Add(m => m.State).Titled("Estado").Css("boldText").SetWidth(80);
                                      c.Add(m => m.Date).Titled("Fecha").SetWidth(60);
                                      c.Add(m => m.CountryName).Titled("País").SetWidth(60);
                                      c.Add(m => m.ExchangeValue).Titled("Tipo Cambio").SetWidth(60);
                                      c.Add(m => m.RealAmountFormatted).Titled("Monto Real").SetWidth(60);
                                  }))
    }
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}