﻿@model  ECOsystem.Areas.Coinca.Models.PartnerFuelBase
@{
    ViewBag.Title = "Precios por combustible";
    ViewBag.Settings = "active";
    ViewBag.SettingsPartners = "active";
    ViewBag.SettingsPartnerFuelIndex = "active";
    ViewBag.TitleModal = "Nuevo Precio";
    ViewBag.HasGrid = true;
    string NoData = Session["NoData"] == null ? string.Empty : Session["NoData"].ToString();
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    Session["NoData"] = null;

    Layout = "~/Views/Shared/_Layout.cshtml";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .redrow {
            background: #ff6a00;
        }

        .nopointer {
            pointer-events:none;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }

    </style>
}

@using (Ajax.BeginForm("AddOrEditPartnerFuel", "PartnerFuel", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="2" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("LoadDownloadModal", "PartnerFuel", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailDownloadContainer",
    OnSuccess = " ECOsystem.Areas.Coinca.PartnerFuel.DownloadModalShow()"
}, new { id = "loadDownloadForm" }))
{
    @Html.Hidden("PartnerId")    
    @Html.Hidden("PartnerName")
}

@using (Ajax.BeginForm("DownloadExcelFile", "PartnerFuel", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = " ECOsystem.Areas.Coinca.PartnerFuel.DownloadModalHide()"
}, new { id = "DownloadForm" }))
{
    <div id="detailDownloadContainer">
       @Html.Partial("_partials/_DownloadModal", Model.Data)
    </div>
}

@using (Html.BeginForm("DonwloadFile", "PartnerFuel", FormMethod.Post, new { id = "DonwloadFileForm" })) { }

@using (Ajax.BeginForm("LoadAlarm", "PartnerFuel", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "alarmContainerPartnerFuel",
    OnSuccess = "ECOsystem.Areas.Coinca.PartnerFuel.AlarmModalShow()"
}, new { id = "alarmForm" }))
{
    @Html.Hidden("id");
    @Html.Hidden("entityTypeId", Model.Alarm.EntityTypeId);
    @Html.Hidden("alarmTriggerId", Model.Alarm.AlarmTriggerId);
    @Html.Hidden("title", Model.Alarm.TitlePopUp);
    @Html.Hidden("partnerId")
}

@using (Ajax.BeginForm("AddOrEditAlarm", "PartnerFuel", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = " ECOsystem.Areas.Coinca.PartnerFuel.AlarmModalClose()"
}, new { id = "addOrEditAlarmForm" }))
{
    <div id="alarmContainerPartnerFuel">
        @Html.Partial("_partials/_Alarms", Model.Alarm)
    </div>
}
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @Html.Hidden("NoData", @NoData)

    @using (Html.BeginForm("Index", "PartnerFuel", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-8">

                @if (Model.KeyId > 0 && (Model.List.Count() > 0 || Model.List.Any()))
                {
                    <div class="input-group">
                        <div class=" input-group-btn">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                <i class="mdi mdi-share"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"> 
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" onclick=" ECOsystem.Areas.Coinca.PartnerFuel.DownloadModal();">
                                        <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button id="btnAddAlarm" type="button" class="btn btn-success"><i class="mdi mdi-bell"></i></button>
                    </div>
                }

            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.KeyId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetPartners, "Por favor Seleccionar un Socio", new { @class = "form-control fbold" })
            </div>
        </div>
    }

    <br />
    <!-- Grid Start-->
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>


    <!-- Load Form Start-->
    @using (Ajax.BeginForm("LoadPartnerFuel", "PartnerFuel", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
        @Html.Hidden("PartnerId", @Model.KeyId)
        @Html.Hidden("IsScheduled", "")
    }

</div>

<div class="modal fade" id="ErrorMessageModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name">Precios por combustible</span></h4>
            </div>            
            <div class="modal-body">
                <h4 class="fbold center">No existen datos para exportar</h4>
            </div>                
            <div class="modal-footer">                
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Settings/partnerFuel.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.PartnerFuel.Init();

            if($('#NoData').val() == '1')
            {
                $('#ErrorMessageModal').modal('show');
            }
        });

        $('#btnAdd').click(function() {
            if($('#txtTitle').html() != 'Nuevo Precio')
            {
                $('#txtTitle').html('Nuevo Precio');
            }
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
