﻿<!-- Modal Start-->
<div class="modal fade" id="chartModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Gráfico de Rendimiento</h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <canvas id="performanceChart" class="col-sm-12" style="height: 100%; width: 100%; min-height: 500px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
