﻿@using System.Text.RegularExpressions
@using  ECOsystem.Areas.Control.Models.Control
@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{
    var type = new Regex(@"\[.+?\]").Matches(Model.GetType().ToString())[0].ToString().Replace("ECOsystem.Areas.Control.Models.Control.", "");
    switch (type)
    {
        case "[PerformanceByVehicleComparativeReports]":
            @(Html.Grid(Model.Select(item => item as PerformanceByVehicleComparativeReports))
                  .Columns(c =>
                  {
                      c.Add(m => m.PlateId).Titled("Placa").SetWidth(60);
                      c.Add(m => m.VehicleName).Titled("Nombre Vehículo").SetWidth(125);
                      c.Add(m => m.Manufacturer).Titled("Marca").SetWidth(80);
                      c.Add(m => m.VehicleModel).Titled("Modelo").SetWidth(80);
                      c.Add(m => m.VehicleType).Titled("Tipo").SetWidth(100);
                      c.Add(m => m.CostCenterName).Titled("Centro Costo").SetWidth(110);

                      c.Add()
                          .Encoded(false)
                          .Sanitized(false)
                          .SetWidth(180)
                          .Titled("Agrupación/Fecha")
                          .RenderValueAs(m => @<div style="text-align: center; cursor: pointer">
                            <a data-id="@m.VehicleId"
                               data-year="@m.TrxDate.Year"
                               data-month="@m.TrxDate.Month"
                               data-week="@m.TrxWeekNumber"
                               data-day="@m.TrxDay"
                               data-option="@m.GroupBy"
                               data-detail="true" title="Detalle">@m.FormattedDateGroupBy</a>
                        </div>);

                      c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).SetWidth(60).Css("grid-col-right");
                      c.Add(m => m.TrxTraveledOdometerFormatted).Titled("Recorrido").SetWidth(90).Css("grid-col-right");
                      c.Add(m => m.TrxPerformanceFormatted).Titled("Rendimiento").SetWidth(80).Css("grid-col-right");
                      c.Add(m => m.DefaultPerformance).Titled("Rendimiento Esperado").SetWidth(100).Css("grid-col-right"); 
                      c.Add(m => m.GpsTraveledOdometerFormatted).Titled("Recorrido&nbsp;GPS").SetWidth(90).Css("grid-col-right");
                      c.Add(m => m.GpsPerformanceFormatted).Titled("Rendimiento&nbsp;GPS").SetWidth(80).Css("grid-col-right");
                      c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(100)
                          .RenderValueAs(m => @<span>
                    @if (!m.PlateId.Equals(""))
                    {
                        <a class="edit-color" title="Grafico de Rendimiento Transaccional"
                           data-group-value="@m.VehicleId"
                           data-chart="true"><i class="mdi mdi-chart-bar"></i></a>
                    }
                </span>).Css("grid-col-btn");
                  }).Selectable(true)
            )
            break;
        case "[PerformanceByVehicleGroupedComparativeReports]":
            @(Html.Grid(Model.Select(item => item as PerformanceByVehicleGroupedComparativeReports))
                      .Columns(c =>
                      {
                          c.Add(m => m.GroupOption).Titled("Comparación").SetWidth(100);
                          c.Add(m => m.UnitName).Titled("Unidad").SetWidth(100);
                          c.Add(m => m.CostCenterName).Titled("Centro Costo").SetWidth(110);
                          c.Add(m => m.FormattedDateGroupBy).Titled("Agrupación/Fecha").SetWidth(180);
                          c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName()).SetWidth(60).Css("grid-col-right");
                          c.Add(m => m.TrxTraveledOdometerFormatted).Titled("Recorrido").SetWidth(90).Css("grid-col-right");
                          c.Add(m => m.TrxPerformanceFormatted).Titled("Rendimiento").SetWidth(80).Css("grid-col-right");
                          c.Add(m => m.GpsTraveledOdometerFormatted).Titled("Recorrido&nbsp;GPS").SetWidth(90).Css("grid-col-right");
                          c.Add(m => m.GpsPerformanceFormatted).Titled("Rendimiento&nbsp;GPS").SetWidth(80).Css("grid-col-right");
                          c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(100)
                      .RenderValueAs(m => @<span>
                        @if (!m.GroupOption.Equals(""))
{
    <a class="edit-color" title="Grafico de Rendimiento Transaccional"
       data-group-value="@m.GroupValue" style="cursor:pointer"
       data-chart="true"><i class="mdi mdi-chart-bar"></i></a>
}
                    </span>).Css("grid-col-btn");
                      }).Selectable(true)
            )
            break;
    }



}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

