﻿@model ECO_ServiceStations.Models.DashboardServiceStations
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Resumen de Estaciones de Servicio";
    ViewBag.HasGrid = true;
}

@section styles {
    <style>
        .very-middle-text-card {
            overflow: auto;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="16" />

    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
<div id="page-content-wrapper">

    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 11px;">
                <div class="card card-graph-main">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-4 less-padding-right icon-space text-center">
                                <i class="mdi mdi-gas-station icon-mdi"></i>
                            </div>
                            <div class="col-xs-8 less-padding-right less-padding-left">
                                <div class="col-xs-12 text-center">
                                    <div class="very-low-text-card text-uppercase">Total Estaciones de Servicio</div>
                                    <div class="very-middle-text-card">@ECOsystem.Utilities.Session.GetServiceStattionsInfo().ToList().Where(p => p.ServiceStationId != 0).Select(q => q.ServiceStationId).Distinct().Count()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 11px;">
                <div class="card card-graph-main">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-4 less-padding-right icon-space text-center">
                                <i class="mdi mdi-account-multiple icon-mdi"></i>
                            </div>
                            <div class="col-xs-8 less-padding-right less-padding-left">
                                <div class="col-xs-12 text-center">
                                    <div class="very-low-text-card text-uppercase">Total Clientes</div>
                                    <div class="very-middle-text-card">@Model.Customers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 11px;">
                <div class="card card-graph-main">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-4 less-padding-right icon-space text-center">
                                <i class="mdi mdi-credit-card-multiple icon-mdi"></i>
                            </div>
                            <div class="col-xs-8 less-padding-right less-padding-left">
                                <div class="col-xs-12 text-center">
                                    <div class="very-low-text-card text-uppercase">Total Cantidad de Transacciones</div>
                                    <div class="very-middle-text-card">@Model.Quantity</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 11px;">
                <div class="card card-graph-main">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-4 less-padding-right icon-space text-center">
                                <i class="mdi mdi-cash-multiple icon-mdi"></i>
                            </div>
                            <div class="col-xs-8 less-padding-right less-padding-left">
                                <div class="col-xs-12 text-center">
                                    <div class="very-low-text-card text-uppercase">Total Monto Transacciones</div>
                                    <div class="very-middle-text-card">@Model.AmountStr</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
        });
    </script>
}
