﻿@model ECO_Efficiency.Models.VehicleByRouteBase
@{
    ViewBag.Title = "Vehículos por Ruta";
    ViewBag.Localizacion = "active";
    ViewBag.Route = "active";
    ViewBag.VehicleByRouteIndex = "active";
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }

        .colpick {
            z-index: 9999;
        }

        .alert-less-padding {
            padding: 10px 35px 10px 10px;
        }
    </style>
}

@using (Ajax.BeginForm("AddOrEditVehicleByRoute", "VehicleByRoute", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchVehicles", "VehicleByRoute", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-sm-4 pull-right">
                    <div class="input-group">
                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadVehicleByRoute", "VehicleByRoute", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnBegin = "ECOsystem.Utilities.ShowLoader()",
            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow();ECOsystem.Utilities.HideLoader()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
        });
    </script>
    <script src="~/Scripts/Efficiency/VehicleByRoute.js?v=@version-hf0"></script>
}
