﻿@{
    ViewBag.Title = "Preguntas por Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HasGrid = true;
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles{
    <style>
        .removetop {
            margin-top: -15px;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }

        .box {
            cursor: pointer;
        }

        div.sortable-placeholder {
            border: 2px dashed #006CB0;
            background: #FCF8E3;
            height: 80px;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="22" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

@using (Ajax.BeginForm("GetQuestionToProtocol", "QuestionsByProtocols", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "QuestionsContainer",
    OnSuccess = "ECO_Management.QuestionsByProtocols.SuccessAdd()"
}, new { id = "AddQuestionToProtocolForm" }))
{
    @Html.Hidden("QuestionId")
    @Html.Hidden("QuestionText")
    @Html.Hidden("ProtocolIdToForm")
    @Html.Hidden("RelationId")
    @Html.Hidden("ProgramProtocolId")
    @Html.Hidden("AnswerId")
}


@using (Ajax.BeginForm("ShowCurrentProtocol", "QuestionsByProtocols", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "QuestionsContainer",
    OnSuccess = "ECO_Management.QuestionsByProtocols.SuccessShow(); ECO_Management.QuestionsByProtocols.HideLoader()"
}, new { id = "ShowCurrentProtocolForm" }))
{
    @Html.Hidden("ProtocolId")
}


@using (Ajax.BeginForm("ShowProtocolSimulator", "QuestionsByProtocols", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ProtocolSimulationContainer",
    OnSuccess = "ECO_Management.QuestionsByProtocols.SuccesShowSimulator();"
}, new { id = "ShowProtocolSimulatorForm" }))
{
    @Html.Hidden("ProtocolId")
}

<div id="page-content-wrapper">
    <div id="container-fluid">
        <div class="card">
            <div class="card-content">
                <div class="row removetop">
                    <div class="col-sm-6">
                        <span data-toggle="tooltip" data-placement="top" title="Por favor seleccione un Formulario y presione el botón Editar" id="tooltipreport">
                            @Html.DropDownList("ddxProtocolId", ECO_Management.Utilities.GeneralCollections.GetProtocolsByCostumers, "Seleccione un Formulario", new { @class = "form-control", custom = "true" })
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success" id="btnAddQuestion"><i class="mdi mdi-pencil"></i>&nbsp;Editar Formulario&nbsp;&nbsp;</button>
                        @*<button type="button" class="btn btn-warning" id="btnProtocolAnswer"><i class="mdi mdi-arrow-right"></i>&nbsp;Editar Respuestas</button>*@
                    </div>
                </div>
                <br />
                <div id="QuestionsContainer" hidden>
                    @Html.Hidden("ProtocolId")
                    <div class="row" id="QuestionAddForm">
                        <div class="col-sm-6">
                            <span data-toggle="tooltip" data-placement="top" title="Seleccione una de las opciones ó digite su pregunta y presione enter">
                                @Html.TextBox("MainQuestion", "", new { @class = "form-control", @placeholder = "Digite su pregunta" })
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success addQuestion"><i class="mdi mdi-plus"></i>&nbsp;Agregar Pregunta</button>
                            <button type="button" class="btn btn-primary" id="btnProtocolSimulation"><i class="mdi mdi-arrow-right"></i>&nbsp;Simular Formulario</button>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
                <br />
                <div class="row" id="divSummary" hidden>
                    <div class="col-sm-3">
                        <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                            <label class="control-label">
                                @Html.CheckBox("chkSummary", false) &nbsp;Agregar resumen
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ProtocolSimulationContainer">
    @Html.Partial("_partials/_ProtocolSimulation", new List<ECO_Management.Models.QuestionsDetailShow>())
</div>


<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px;">
        <div class="modal-content">
            <input class="hidden" name="questionIdDelete" id="questionIdDelete" value="0" />
            <input class="hidden" name="typeDelete" id="typeDelete" value="0" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">¿Desea eliminar el item seleccionado?</h4>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Error</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="ECO_Management.QuestionsByProtocols.DeleteQuestion();"><i class="glyphicon glyphicon-ok-sign"></i>&nbsp;Aceptar</button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i>&nbsp;Cancelar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="messageModalError" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <i class="glyphicon glyphicon-remove-sign"></i>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

            </div>
            <div class="modal-body">
                <p>No se puede eliminar la pregunta porque ya ha sido utilizada</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ValidateText" tabindex="-1" role="dialog" aria-labelledby="ValidateText" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Preguntas por Formulario<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p>Debe de seleccionar una pregunta para continuar!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ConfirmationRelationAnswer" tabindex="-1" role="dialog" aria-labelledby="ConfirmationRelationAnswer" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Preguntas por Formulario<span class="element-name"></span></h4>
            </div>
            <div class="modal-body">
                <p>Se ha realizado con éxito</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Management/QuestionsByProtocols.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Management.QuestionsByProtocols.Init();

            //
            //$(".draggable").sortable();
            //var from, to;

            //$('.draggable').on('sortdeactivate', function (event, ui) {
            //    to = $(this).children().index(ui.item);
            //    alert('Hola');
            //});

        });
          
    </script>
}