﻿@using ECO_Efficiency.Business.Utilities
@model ECO_Efficiency.Models.VehicleGPSSummaryBase

@{
    ViewBag.Title = "Resumen de Actividad Diaria";
    ViewBag.Efficiency = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">
    @using (Ajax.BeginForm("ExcelReportDownload", "VehicleGPSSummaryWeekly", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "ECO_Efficiency.VehicleGPSSummaryWeekly.ShowLoader()",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECO_Efficiency.VehicleGPSSummaryWeekly.HideLoader(data)"
    }, new { id = "ExcelReportDownloadForm" }))
    {
        <div class="row">
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "onClick", "ECO_Efficiency.VehicleGPSSummaryWeekly.OnClickFirstDate();" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Parameters.CostCenterId, GeneralCollections.GetVehicleCostCenters, "Centro de Costo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
            <div class="col-sm-3">
                @Html.DropDownListFor(m => m.Parameters.FilterVehicle, GeneralCollections.GetVehiclesByCustomer, "Vehículo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success" onclick="ECO_Efficiency.VehicleGPSSummaryWeekly.OnClickDownloadReport()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
            </div>
        </div>
    }
    <br />
    <div id="ControlsContainer"></div>

    @using (Html.BeginForm("DonwloadFile", "VehicleGPSSummaryWeekly", FormMethod.Post, new { id = "DownloadFileForm" })) { }
</div>

@section scripts {
    <script src="~/Scripts/Efficiency/VehicleGPSSummaryWeekly.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Efficiency.VehicleGPSSummaryWeekly.Init({});
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}


