﻿@model IEnumerable<ECOsystem.Models.Core.Users>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            @*<div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar">
                    <i class="mdi mdi-share"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" onclick=" ECOsystem.Areas.Admin.DriverUsers.OnClickDownloadDrivers()">
                            <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                        </a>
                    </li>
                </ul>
            </div>*@
            @(Html.Grid(Model)
                        .Columns(c =>
                        {
                            c.Add(m => m.DecryptedName).Titled("Nombre").Sortable(true);
                            c.Add(m => m.DecryptedEmail).Titled("Usuario Web");
                            c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .RenderValueAs(m => @<span>
                                <label class="label label-success" style="font-size: 14px;">@m.Type</label>
                            </span>)
                            .Titled("Tipo");
                            c.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(70)
                            .RenderValueAs(m => @<span>
                                    <a href="#" class="edit-color" id="@m.UserId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                    <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.UserId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                                </span>).Css("grid-col-btn");                            
                        }))
        </div>
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
