﻿@using  ECOsystem.Areas.Admin.Models.Administration
@model TransactionsReportBase

@{
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
}

<div class="row">
    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
    </div>

    <div data-repor-by="1000" class="@hide1">
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.Parameters.Month, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
        </div>
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.Parameters.Year, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
        </div>
    </div>

    <div data-repor-by="2000" class="@hide2">
        <div class="col-sm-3">
            <div class='input-group date' id='datetimepickerStartDate'>
                @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                <span class="input-group-addon">
                    <span class="mdi mdi-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class='input-group date' id='datetimepickerEndDate'>
                @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                <span class="input-group-addon">
                    <span class="mdi mdi-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        @Html.DropDownListFor(m => m.Parameters.TransactionType, ECOsystem.Business.Utilities.GeneralCollections.GetTransactionTypes, new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
    </div>
</div>


<div id="GridContainer">
    @Html.Partial("_partials/_TransactionsGrid", Model.List)
</div>

