﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.FuelDistribution>
@{
    var issueFor = ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId;
    var customer = ECOsystem.Utilities.Session.GetCustomerInfo();
}
<style>
    .checkboxallgrid {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
</style>


@if (Model.Count() > 200)
{
    <br />
    <br />
    <br />
    <div class="alert alert-warning alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Atención!</strong> La consulta generó demasiados resultados, solo se mostrarán los primeros 200.
    </div>
    <br />
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-lg-12" id="UpdateDateContainer">
        <button type="button" class="btn btn-primary btnSaveData" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Actualizar</button>
    </div>
</div>

@if (issueFor == 101)
{
    @(Html.Grid(Model)
            .Selectable(false)
            .Columns(c =>
            {
                c.Add()
                    .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                            "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"checkall\"> </label>" +
                            "</span>" +
                        "</div>")
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(2)
                    .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                        <label style="font-weight:bold;">
                            <input type="checkbox" class="showCheck" id="@m.Id" name="_Activo">
                        </label>
                    </div>);
                c.Add()
                    .Titled("Medio de Pago")
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(20)
                    .RenderValueAs(m => @<span class="center">                                                                           
                                            <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentName</label>
                                            <label class="legend"></label>
                                        </span>);
                c.Add(m => m.PlateId).SetWidth(80).Titled("Matrícula");
                c.Add(m => m.VehicleName).SetWidth(100).Titled("Vehículo");
                //c.Add(m => m.VehicleModel).SetWidth(100).Titled("Modelo");
                c.Add(m => m.FuelName).SetWidth(100).Titled("Combustible");


                c.Add(m => m.AssignedStr)
                    .SetWidth(80)
                    .Titled("Presupuesto<br /> Asignado");
                                        if (customer.TypeBudgetDistribution == 1)
                                        {
                                            c.Add(m => m.AvailableLitersFormat)
                                            .SetWidth(80)
                                            .Titled("Disponible<br /> " + ECOsystem.Utilities.Session.GetCustomerCapacityUnitName());
                                        }
                                        else
                                        {
                                            c.Add(m => m.AvailableStr)
                                            .SetWidth(80)
                                            .Titled("Presupuesto<br /> Disponible");
                                        }

                                        c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(150)
                    .RenderValueAs(m => @<div style="width:150px;">
                        <div class="input-group">
                            @{ var _value = ECOsystem.Utilities.Miscellaneous.GetNumberFormatWithDecimal(@m.CapacityUnitValue, 3, "es-CR", false); }
                            <input id="txtliters_@m.Id" vehicleId="@m.VehicleId" fuelId="@m.FuelId" rowId="@m.Id" type="text" class="form-control text-right calculatemount" value="@_value" data-currency="false">
                            <input id="liters_@m.Id" type="hidden" value="@m.CapacityUnitValue" data-form-liters>
                        </div>
                    </div>).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName());
                c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(150)
                    .RenderValueAs(m => @<div style="width:150px;">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">@m.CurrencySymbol</div>
                                                        <input id="txtgridmount_@m.Id" vehicleId="@m.VehicleId" fuelId="@m.FuelId" rowId="@m.Id" type="text" class="form-control text-right calculateliters" value="@m.AmountStr" data-currency="true">
                                                        <input id="amount_@m.Id" type="hidden" value="@m.Amount" data-form-value>
                                                    </div>
                                                </div>).Titled("Monto");
                                                if (Model.Where(x => !string.IsNullOrEmpty(x.ResultIcon)).Count() >= 1)
                                                {
                                                    c.Add()
                                                        .Encoded(false)
                                                        .Sanitized(false)
                                                        .SetWidth(15)
                                                        .RenderValueAs(m => m.ResultIcon + m.ResultStr);
                                                }
                                            }).SetRowCssClasses(m => m.Selected != null ? (bool)m.Selected ? "selectRow modifiedRowVehicle" : string.Empty : string.Empty)
    )
}
else
{
    @(Html.Grid(Model)
                                                        .Selectable(false)
                                                        .Columns(c =>
                                                        {
                                                            c.Add()
                                                                .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                                                                            "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                                                                "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"checkall\"> </label>" +
                                                                            "</span>" +
                                                                        "</div>")
                                                                .Encoded(false)
                                                                .Sanitized(false)
                                                                .SetWidth(2)
                                                                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                                                    <label style="font-weight:bold;">
                                                                        <input type="checkbox" class="showCheck" id="@m.Id" name="_Activo">
                                                                    </label>
                                                                </div>);
                                                                        c.Add(m => m.DecryptedName).SetWidth(100).Titled("Nombre de Conductor");
                                                                        c.Add(m => m.DecryptedIdentification).SetWidth(100).Titled("Identificación");
                                                                        c.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(100)
.RenderValueAs(m => @<div style="width:150px;">
        <div class="input-group">
            <div class="input-group-addon">@m.CurrencySymbol</div>
            <input id="txtgridmount_@m.Id" vehicleId="@m.VehicleId" fuelId="@m.FuelId" rowId="@m.Id" type="text" class="form-control text-right calculateliters" value="@m.AmountStr" data-currency="true">
            <input id="amount_@m.Id" type="hidden" value="@m.Amount" data-form-value>
        </div><input id="hiddenDriverId" type="hidden" value="@m.DriverId" data-form-vehicle>
    </div>).Titled("Monto");
                                                                    if (Model.Where(x => !string.IsNullOrEmpty(x.ResultIcon)).Count() >= 1)
                                                                    {
                                                                        c.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(150)
    .RenderValueAs(m => m.ResultIcon + m.ResultStr);
                                                                    }
                                                                }).SetRowCssClasses(m => m.Selected != null ? (bool)m.Selected ? "selectRow modifiedRowVehicle" : string.Empty : string.Empty)
    )
}

<hr />
<div id="validationAmountError2" class="col-sm-6 hide">
    <div id="errorAmountMsj2" class="col-sm-12 text-danger">
    </div>
</div>

<div class="row" style="margin-bottom:-20px;">
    <div class="col-lg-12" id="UpdateDateContainer">
        <button type="button" class="btn btn-primary btnSaveData" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Actualizar</button>
    </div>
</div>



