﻿@model  ECOsystem.Areas.Coinca.Models.FuelsBase
@{
    ViewBag.Title = "Mantenimiento de Combustibles";
    ViewBag.Settings = "active";
    ViewBag.SettingsFuels = "active";

    ViewBag.HasGrid = true;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {

}


@using (Ajax.BeginForm("AddOrEditFuels", "Fuels", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}



@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="2" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    @*<div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Mantenimiento de Combustibles</h3>
        </div>
    </div>*@

    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchFuels", "Fuels", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-sm-2 pull-left">
                <button id="btnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrEditModal" title="Agregar"><i class="mdi mdi-plus"></i>&nbsp;Agregar Combustible</button>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-4">
                <div class="input-group">

                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>

                </div>
            </div>
        </div>
    }
    <!-- Search Area End-->  

    <br />
    <!-- Grid Start-->
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>

    <!-- Load Form Start-->
    @using (Ajax.BeginForm("LoadFuels", "Fuels", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }

    <!-- Load Form End-->
</div>


<!-- Dele Modal Start-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteFuels", "Fuels", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose()",
                OnBegin = "ECOsystem.Utilities.ShowLoader()",
                OnComplete = "ECOsystem.Utilities.HideLoader()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el registro?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>
                    </div>
            }
        </div>
    </div>
</div>
<!-- Delete Modal End -->

@section scripts {

<script>
    $(function () {
        $("#LoadMenuForm").submit();
    });
    </script>
  }
