﻿@using  ECOsystem.Areas.Control.Models.Control
@model AccumulatedFuelsReportBase
@{
    ViewBag.Title = "Acumulado Mensual de Consumo en "+ECOsystem.Utilities.Session.GetCustomerCapacityUnitName();
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    ViewBag.AccumulatedFuelsReportsIndex = "active";
    ViewBag.HasGrid = true;
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    var ChartIndicatiorsClass = "";
    if (Model.List != null && ((Model.List.Count() / 12) + 1) > 24)
    {
        ChartIndicatiorsClass = "carousel-indicators-with-n";
    }

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
       .carousel-control.left, .carousel-control.right {
        background-image: none !important;
    }

    .carousel-inner .item {
        padding: 0 0 30px 0;
    }

    .carousel-indicators {
        bottom: 0;
        width: 76%;
        margin-left: -38%;
    }

        .carousel-indicators li {
            background: #9c9c9c;
        }

        .carousel-indicators .active {
            background: #4B4B4B;
        }

    .carousel-control {
        color: #4B4B4B;
        top: auto;
        bottom: 0;
        padding-top: 4px;
        width: 36px;
        height: 36px;
        -ms-opacity: 1;
        opacity: 1;
        -ms-text-shadow: none;
        text-shadow: none;
    }

        .carousel-control:hover {
            color: black;
        }
    </style>
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="3" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}
    
<div id="page-content-wrapper">
    <div class="container-fluid">
    
        @using (Html.BeginForm("Index", "AccumulatedFuelsReport", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>

                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(m => m.Parameters.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Parameters.ReportFuelTypeId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportFuelTypes, "Agrupar Por:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>
        }
        @if (Model.List != null && Model.List.Any())
        {
            <div id="ControlsContainer">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" id="card_title">

                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect " for="option-1">
                                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                                <span class="mdl-radio__label">Gráfico</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect  " for="option-2" onclick="paging(true);">
                                <input type="radio" id="option-2" class="mdl-radio__button activator" name="options" value="2">
                                <span class="mdl-radio__label activator">
                                    Tabla Informativa
                                </span>
                            </label>
                        </span>
                        <div class="col-sm-3 pull-right text-right">
                            @if (!isPrintView)
                            {
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                                        <i class="mdi mdi-format-list-bulleted"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("ExcelReportDownload", "AccumulatedFuelsReport", new { p = Model.Parameters.ParametersInBase64 })" download>
                                                <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" data-print-link>
                                                <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Formato Impresión
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <button class="btn btn-default" type="button" data-print>
                                    <i class="mdi mdi-printer"></i>&nbsp;&nbsp;Imprimir
                                </button>
                            }

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartsCarousel" class="carousel slide" data-interval="false">

                                    <div class="carousel-inner">
                                        @for (var i = 0; i < (Model.VehicleCount / 12) + 1; i++)
                                        {
                                            <div class="item active" data-item>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <canvas></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators @ChartIndicatiorsClass">
                                        @for (var i = 0; i < (Model.VehicleCount / 12) + 1; i++)
                                        {
                                            var active = i == 0 ? "active" : "";
                                            <li data-target="#chartsCarousel" data-slide-to="@i" class="@active"></li>
                                        }
                                    </ol>
                                    <!-- Controls -->
                                    <div>
                                        <a class="left carousel-control" href="#chartsCarousel" data-slide="prev"><i class="mdi mdi-chevron-double-left mdi-32px"></i></a>
                                        <a class="right carousel-control" href="#chartsCarousel" data-slide="next"><i class="mdi mdi-chevron-double-right mdi-32px"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- CARD REVEAL -->
                    <div class="card-reveal">
                        <span class="card-title">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1" onclick="paging(false);">
                                <input type="radio" id="option-3" class="mdl-radio__button" name="options2" value="1">
                                <span class=" mdl-radio__label">Gráfico</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                                <input type="radio" id="option-4" class="mdl-radio__button activator" name="options2" value="4" checked>
                                <span class="mdl-radio__label activator">
                                    Tabla Informativa
                                </span>
                            </label>
                        </span>
                        @Html.Partial("_partials/_Grid", Model.List)
                    </div>

                </div>
            </div>
        }
        else
        {
            <br />
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information mdi-18px"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
            </div>
        }
    </div>
            </div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Control/AccumulatedFuelsReport.min.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.AccumulatedFuelsReport.Init({
                labels: @Model.Parameters.Labels,
                titles: @Model.Parameters.Titles,
                data: @Model.Parameters.Data,
                colors: @Model.Parameters.Colors,
                alpha: @Model.Parameters.AlphaColors,
                highligh: @Model.Parameters.HighlightColors,
                printURL: '@Url.Action("PrintReport", "AccumulatedFuelsReport", new {p = Model.Parameters.ParametersInBase64})',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });

        var IsPaging = $.cookie('paging');
        if (IsPaging) {
            $('.card-reveal').attr('style', 'display: block; transform: translateY(-100%)');
        }

        function paging(a) {
            $.cookie('paging', a, { path: '/' });    
        };

    </script>
}


