﻿@model IEnumerable< ECOsystem.Areas.Coinca.Models.CreditCardTransaction>

<div col="col-sm-12">
    @if (Model != null && Model.Any())
    {
        @(Html.Grid(Model)
                            .Selectable(true)
                            .Columns(c =>
                            {
                                c.Add(m => m.Date).Titled("Fecha");
                                c.Add(m => m.DecryptCustomerName).Titled("Cliente");
                                c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago"); c.Add()
                                     .Titled("Medio de Pago")
                                     .Encoded(false)
                                     .Sanitized(false)
                                     .SetWidth(20)
                                     .RenderValueAs(m => @<span class="center">
                                            <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                            <label class="legend"></label>
                                        </span>);
                                c.Add(m => m.Plate).Titled("Placa");
                                c.Add(m => m.TotalAmountStr).Titled("Monto");
                                c.Add(m => m.Liters).Titled("Litros");
                                c.Add(m => m.TerminalId).Titled("Terminal");
                                c.Add(m => m.ServiceStationName).Titled("Estación de Servicio");
                                c.Add(m => m.IsInternalStation).Titled("Bomba Interna").RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                        <label style="font-weight:bold;">
                                            <input class="disabled" type="checkbox" checked="@m.IsInternalStation" disabled>
                                        </label>
                                    </div>).Encoded(false).Sanitized(false).Css("grid-col-center").Sortable(true);
                                            c.Add().Encoded(false)
                                           .Sanitized(false)
                                           .RenderValueAs(m => @<span>
                                            <a href="#" class="delete-color" transactionid="@m.CCTransactionVPOSId" title="Anular Transacción" voidtransaction><i class="mdi mdi-32px mdi-close-box"></i></a>
                                        </span>)
                                                         .Css("grid-col-btn");
                                             })
        )
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
    }
</div>

