﻿@model List< ECOsystem.Areas.Admin.Models.Administration.TransactionRuleBinnacle>

<td colspan="4">
    <div class="panel-body">
        <ul class="binnacle-list">
            @if (Model.Count() > 0)
            {
                foreach (var binnacle in Model)
                {
                    <li>
                        <strong>Estado:</strong> @binnacle.Active - <strong>Fecha y Hora:</strong> @binnacle.LogDateTime - <strong>Usuario:</strong> @binnacle.DecryptedName
                    </li>
                }
            }
            else
            {
                <br />
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <i class="mdi mdi-information"></i>&nbsp;No se encontraron resultados
                </div>
            }
        </ul>
    </div>
</td>
