﻿@model IEnumerable< ECOsystem.Areas.Admin.Models.Administration.TransactionRulesModel>
@{
    var customer = ECOsystem.Utilities.Session.GetCustomerInfo();
    var customerId = customer.CustomerId;
    var countryId = customer.CountryId;
    var IsCostCenter = Model.FirstOrDefault().IsCostCenter;
    var IsVehicles = Model.FirstOrDefault().IsVehicles;
    var TypeOfRule = Model.FirstOrDefault().ApplyRule;
    var Name = Model.FirstOrDefault().Name;
    var Cont = 0;
}

@Html.Hidden("CountryId", countryId)

@Html.Label("Aplica Regla de Negocio: " + TypeOfRule + " " + Name, new { @class = "col-sm-14 control-label" })
<div class="card">
    <div class="card-content">
        <div class="alert alert-danger alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);" hidden="hidden" id="invalidRulesConfiguration">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>La configuración de las reglas de negocio no es válida.
        </div>

        <table class="table" id="tblTransactionsRules">
            <thead>
                <tr>
                    <th>
                        Descripción
                    </th>
                    <th></th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rule in Model)
                {
                    Cont++;

                    if ((IsVehicles == true && rule.RuleVehicleId == null) || (IsCostCenter == true && rule.RuleCostCenterId == null))
                    {
                        rule.RuleCustomerId = 0;
                    }
                    if (rule.RuleVehicleId != null)
                    {
                        rule.RuleCustomerId = rule.RuleVehicleId;
                    }
                    else if (rule.RuleCostCenterId != null && IsVehicles == false)
                    {
                        rule.RuleCustomerId = rule.RuleCostCenterId;
                    }
                <tr id="@rule.RuleCustomerId">
                    @{
                        var isChecked = rule.RuleActive ? "checked='checked'" : "";
                        var idRuleActive = string.Format("{0}_{1}_Active", rule.RuleId, rule.RuleCustomerId);
                        var idRuleValue = string.Format("{0}_{1}_Value", rule.RuleId, rule.RuleCustomerId);
                    }
                    <td name="RuleDescription" class="middleCells" style="width:800px;">
                        <span data-toggle="tooltip" data-placement="bottom" title="@rule.Description">
                            <label>@Cont)&emsp;</label>
                            @rule.RuleDescription
                        </span>
                    </td>
                    <td class="middleCells">
                        @if (rule.RuleType == 1)
                        {
                            <label class="marginErrorLabel">(%) Margen de Error</label>
                            <input id="@idRuleValue" name="RuleValue" type="text" value="@rule.RuleValue" class="form-control marginErrorValues" numeric />
                        }
                    </td>

                    @if (rule.RuleName == "OdometerCreditCard")
                    {
                        <td class="middleCells" id="editTR">
                            <div class="form-horizontal">
                                <div>
                                    <input id="RuleVehicleId + @rule.RuleId" class="hidden" value="@rule.RuleVehicleId" />
                                    <input id="CostCenterId + @rule.RuleId" class="hidden" value="@rule.RuleCostCenterId" />
                                    <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class="toggleCheck" @isChecked original="@(((isChecked == "") ? "false":"true"))" />
                                </div>
                                <div class="hideText col-sm-12" id="OdoRangeDivText">
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-6" style="padding-left:0;width:57px;margin-right:0;padding-top:7px;">
                                            <label>Inicio:</label>
                                        </div>
                                        <div class=" col-sm-6" style="padding-left:0;width:57px;margin-right:-10px;">
                                            <input class="form-control no-decimal" type="text" id="txRangeStartOdometer" placeholder="00" />
                                        </div>
                                        <div class="col-sm-6" style="padding-left:0;width:80px;margin-right:0;padding-top:7px;">
                                            <label>% - Final:</label>
                                        </div>
                                        <div class="col-sm-6" style="padding-left:0;width:57px;margin-right:-10px;">
                                            <input class="form-control no-decimal" type="text" id="txRangeFinalOdometer" placeholder="00" />
                                        </div>
                                        <div class="col-sm-6" style="padding-left:0;width:20px;margin-right:0;padding-top:7px;">
                                            <label>%</label>
                                        </div>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Ejemplo">
                                            <i class="mdi mdi-help-circle-outline" data-toggle="modal" data-target="#ExampleOdometerModal" style="margin-left: 10px; font-size:35px; color:#31708f; cursor:pointer;"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else if (rule.RuleName == "LimitTankCapacity")
                    {
                        <td class="middleCells" id="editTR">
                            <div class="form-horizontal">
                                <div>
                                    <input id="RuleVehicleId + @rule.RuleId" class="hidden" value="@rule.RuleVehicleId" />
                                    <input id="CostCenterId + @rule.RuleId" class="hidden" value="@rule.RuleCostCenterId" />
                                    <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class="toggleCheck" @isChecked original="@(((isChecked == "") ? "false":"true"))" />
                                </div>
                                <div class="hideText col-sm-12" id="MarginDivText">
                                    <div class="col-sm-6" style="padding-left:0;width:168px;">
                                        <input type="text" class="form-control" id="margintxt" placeholder="Margen de Error" title="Margen de Error &#13; Valor Ejemplo: 100,00" />
                                    </div>
                                    <div class="col-sm-6" style="padding-left:0;width:20px;margin-right:0;padding-top:7px;">
                                        <label>%</label>
                                    </div>
                                    <span data-toggle="tooltip" data-placement="bottom" title="Ejemplo">
                                        <i class="mdi mdi-help-circle-outline" data-toggle="modal" data-target="#ExampleTankCapacityModal" style="margin-left: 10px; font-size:35px; color:#31708f; cursor:pointer;"></i>
                                    </span>
                                </div>
                            </div>
                        </td>
                    }
                    else if (rule.RuleName == "TimeSlotTransactions")
                    {
                        <td class="middleCells">
                            <div class="form-horizontal">
                                <div>
                                    <input id="RuleVehicleId + @rule.RuleId" class="hidden" value="@rule.RuleVehicleId" />
                                    <input id="CostCenterId + @rule.RuleId" class="hidden" value="@rule.RuleCostCenterId" />
                                    <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class=" pull-left toggleCheck" @isChecked original="@(((isChecked == "") ? "false":"true"))" />
                                </div>

                                <div class="hideText col-sm-12" id="TimeSlotValue">
                                    <br />
                                    <div class=" col-sm-2" style="padding-left:0;width:57px;margin-right:-10px;">
                                        <input class="form-control number-only" type="text" id="TimeSlotValueHours" placeholder="00" title="Horas" />
                                    </div>
                                    <div class="col-sm-1" style="padding-left:0;padding-right:0;width:10px;padding-top:7px;">
                                        <label>:</label>
                                    </div>
                                    <div class="col-sm-2" style="padding-left:0;width:57px;margin-right:-10px;">
                                        <input class="form-control number-only" type="text" id="TimeSlotValueMinutes" placeholder="00" title="Minutos" />
                                    </div>
                                    <div class="col-sm-1" style="padding-left:0;padding-right:0;width:10px;padding-top:7px;">
                                        <label>:</label>
                                    </div>
                                    <div class="col-sm-2" style="padding-left:0;width:57px;margin-right:-10px;">
                                        <input class="form-control number-only" type="text" id="TimeSlotValueSeconds" placeholder="00" title="Segundos" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else if (rule.RuleName == "DailyTransactionLimit")
                    {
                        <td class="middleCells">
                            <div class="form-horizontal">
                                <div>
                                    <input id="RuleVehicleId + @rule.RuleId" class="hidden" value="@rule.RuleVehicleId" />
                                    <input id="CostCenterId + @rule.RuleId" class="hidden" value="@rule.RuleCostCenterId" />
                                    <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class=" pull-left toggleCheck" @isChecked original="@(((isChecked == "") ? "false":"true"))" />
                                </div>
                                <div class="hideText col-sm-12" id="DailyTransactionLimitTexts">
                                    <br />
                                    <div class="col-sm-6" style="padding-left:0;width:75px;margin-right:0;padding-top:7px;">
                                        <label>Cantidad:</label>
                                    </div>
                                    <div class=" col-sm-6" style="padding-left:0;width:90px;margin-right:-10px;">
                                        <input class="form-control no-decimal" type="text" id="txDailyTransactionLimitNumber" placeholder="0,000" />
                                    </div>
                                    <div class="col-sm-6" style="padding-left:0;width:75px;margin-right:0;padding-top:7px;">
                                        <label> - Monto:</label>
                                    </div>
                                    <div class="col-sm-6" style="padding-left:0;width:90px;margin-right:-10px;">
                                        <input class="form-control no-decimal" type="text" id="txDailyTransactionLimitAmount" placeholder="0,000" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else if (rule.RuleName == "VehiclePerformance")
                    {
                        <td class="middleCells">
                            <div class="form-horizontal">
                                <div>
                                    <input id="RuleVehicleId + @rule.RuleId" class="hidden" value="@rule.RuleVehicleId" />
                                    <input id="CostCenterId + @rule.RuleId" class="hidden" value="@rule.RuleCostCenterId" />
                                    <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class=" pull-left toggleCheck" @isChecked original="@(((isChecked == "") ? "false":"true"))" />
                                </div>
                                <div class="hideText col-sm-12" id="VehiclePerformanceTexts">
                                    <div class="row">
                                        <div class="col-sm-6" style="padding-left:0;width:57px;margin-right:0;padding-top:7px;">
                                            <label>Inicio:</label>
                                        </div>
                                        <div class=" col-sm-6" style="padding-left:0;width:57px;margin-right:-10px;">
                                            <input class="form-control no-decimal" type="text" id="txRangeStartVehiclePerformance" placeholder="00" />
                                        </div>
                                        <div class="col-sm-6" style="padding-left:0;width:80px;margin-right:0;padding-top:7px;">
                                            <label>% - Final:</label>
                                        </div>
                                        <div class="col-sm-6" style="padding-left:0;width:57px;margin-right:-10px;">
                                            <input class="form-control no-decimal" type="text" id="txRangeFinalVehiclePerformance" placeholder="00" />
                                        </div>
                                        <div class="col-sm-6" style="padding-left:0;width:20px;margin-right:0;padding-top:7px;">
                                            <label>%</label>
                                        </div>
                                        <span data-toggle="tooltip" data-placement="bottom" title="Ejemplo">
                                            <i class="mdi mdi-help-circle-outline" data-toggle="modal" data-target="#ExampleVehiclePerformanceModal" style="margin-left: 10px; font-size:35px; color:#31708f; cursor:pointer;"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        if (rule.RuleId == 9)
                        {
                            <td class="middleCells" title="Activar o desactivar la regla." onclick="validateCheckCState(this)">
                                <input id="RuleVehicleId + @rule.RuleId" class="hidden" value="@rule.RuleVehicleId" />
                                <input id="CostCenterId + @rule.RuleId" class="hidden" value="@rule.RuleCostCenterId" />
                                <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class="toggleCheck" @isChecked original="@(((isChecked == "") ? "false":"true"))" />
                            </td>
                        }
                        else
                        {
                            <td class="middleCells" title="Activar o desactivar la regla.">
                                <input id="RuleVehicleId + @rule.RuleId" class="hidden" value="@rule.RuleVehicleId" />
                                <input id="CostCenterId + @rule.RuleId" class="hidden" value="@rule.RuleCostCenterId" />
                                <input id="@idRuleActive" ruleid="@rule.RuleId" rulecustomerid="@rule.RuleCustomerId" customerid="@customerId" type="checkbox" class="toggleCheck" @isChecked original="@(((isChecked == "") ? "false":"true"))" />
                            </td>
                        }
                    }
                    <td>
                        <div data-toggle="collapse" title="Bitácora de activación y desactivación de la regla. Muestra los últimos 5 cambios.">
                            <label class="label label-success" onclick=" ECOsystem.Areas.Admin.TransactionRules.OnclickSeeBinnacle(@rule.RuleId)" style="cursor:pointer;">Ver bitácora</label>
                        </div>
                    </td>
                </tr>
                    <tr id="binnacle_@rule.RuleId" hidden>                        
                        @Html.Partial("~/Views/TransactionRules/_partials/_Binnacle.cshtml", rule.Binnacle)  
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"></h3>
            </div>
        </div>
        <div class="row">
            @{
                if (IsVehicles == true || IsCostCenter == true)
                {
                    <button id="restoreRules" type="button" class="btn btn-primary"><i class="mdi mdi-backup-restore"></i>&nbsp;Restaurar Reglas</button>
                }
                else
                {
                    <div class="col-lg-12 text-right">
                        <button id="confirmChanges" type="button" style="margin-right: 46px;" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                    </div>
                }
            }

        </div>
    </div>
</div>


<div class="modal fade" id="modalverification" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Validacion</h4>
            </div>
            <div class="modal-body">
                <p>Valores de rangos inválidos</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" data-btnmodal="true" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    var permission = '@ECOsystem.Utilities.Session.GetCustomerInfo().FuelPermit'
    function validateCheckCState(element) {
        setTimeout(() => {
            let check = element.childNodes[5].childNodes[0];

            if (permission == "True") {
                swal('Mensaje del Sistema','La regla no puede ser desactivada, ya que el cliente tiene permitido asignar más de un combustible a los vehículos.','info')

                if (check.getAttribute("original") == "true") {
                    element.childNodes[5].classList.remove("off");
                    check.checked = true;
                } 
                //else {
                //    element.childNodes[5].classList.add("off");
                //    check.checked = false;
                //}
            }
        }, 500);
    }
    
    function validateCheckStateInputs(element) {
        setTimeout(() => {
            let check = element.childNodes[1].childNodes[1].childNodes[5].childNodes[0]

            if (permission == "False") {
                swal('Mensaje del Sistema', 'No posee permisos', 'info')

                if (check.getAttribute("original") == "true") {
                    element.childNodes[1].childNodes[1].childNodes[5].classList.remove("off");
                    check.checked = true;

                    try {
                        element.childNodes[1].childNodes[3].classList.remove('hideText')
                    } catch (e) {

                    }
                } else {
                    element.childNodes[1].childNodes[1].childNodes[5].classList.add("off");
                    check.checked = false;

                    try {
                        element.childNodes[1].childNodes[3].classList.add('hideText')
                    } catch (e) {

                    }
                }
            }
        }, 500);
    }

    function validateSelectedVehicle() {
        let vehicle = localStorage.getItem('validateVehicle')

        if (vehicle != null && vehicle != undefined && vehicle != "") {
            if (window.location.href.indexOf('LoadVehicles') > -1) {

                $.post("@Url.Action("validateVehicleSticker", "Vehicles")", { VehicleId: vehicle }, function (data) {
                    if (data > 0) {
                        let inp = $("input[ruleid='4']")
                        inp[0].disabled = true
                        inp[0].parentNode.disabled = true
                        inp[0].parentNode.setAttribute('onclick',`swal('Mensaje del Sistema', 'No se puede activar regla porque el vehículo tiene un sticker asignado', 'info')`)
                    }
                })

            }
        }
    }
    
</script>