﻿@{ 

    var DistributionType = ECOsystem.Utilities.Session.GetPartnerInfo().CapacityUnitId == 1 ? "Galones" : "Litros";
    var DistributionTypeSing = DistributionType == "Galones" ? "Galón" : "Litro";
}


<div class="modal fade" id="ExampleOdometerModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Odómetro fuera del rango permitido</h4>
            </div>
            <div class="modal-body">
                <b><u>Ejemplo:</u></b><br />
                <b>Odómetro anterior:</b> 1,000 kilómetros<br />
                <b>@DistributionType digitados:</b> 50 @DistributionType<br />
                <b>Rendimiento:</b>  5 kilómetros por @DistributionTypeSing<br />
                <b>Kilometraje esperado:</b> @DistributionType Digitados * Rendimiento<br />
                <b>Margen inferior:</b> 10%<br />
                <b>Margen Superior:</b> 20%<br />
                <br />
                Nota: @DistributionType Digitados * Rendimiento da el total de kilómetros que puede avanzar el carro<br />
                <br />
                Aplicando la fórmula:<br />
                1.- Se calcula el Odómetro Mínimo y el Odómetro Máximo:<br />
                <br />
                Odómetro Mínimo = 1,000 + (50 * 5) - (0.10 * 50 * 5)<br />
                Odómetro Mínimo = 1,000 + (250) – 0.10 * 250)<br />
                Odómetro Mínimo = 1,250 - (25)<br />
                <b>Odómetro Mínimo = 1,225</b><br />
                <br />
                Odómetro Máximo = 1,000 + (50 * 5) + (0.10 * 50 * 5)<br />
                Odómetro Máximo = 1,000 + (250)+ (0.20 * 250)<br />
                Odómetro Máximo = 1,250 + (50)<br />
                <b>Odómetro Máximo = 1,300</b><br />
                <br />
                2. Se valida que el odómetro ingresado este entre esos dos valores:<br />
                <br />
                Odómetro Mínimo <= Odómetro  <=  Odómetro Máximo<br />
                <b>1,225 <= Odómetro <= 1,300</b><br />
                <br />
                <b>Ejemplo 1:</b> Si el Odómetro es 1,200, este es menor que 1,225 por lo cual <b><u>se rechaza</u></b><br />
                <b>Ejemplo 2:</b> Si el Odómetro es 1,375, este es mayor que 1,300 por lo cual <b><u>se rechaza</u></b><br />
                <b>Ejemplo 3:</b> Si el Odómetro es 1,250, este es mayor a 1,225 y menor a 1,300 por lo cual <b><u>se aprueba</u></b><br />
                <b>Ejemplo 4:</b> Si el Odómetro es 1,300, este es mayor a 1,225 e igual a 1,300 por lo cual <b><u>se aprueba</u></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExampleTankCapacityModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Validar el disponible en @DistributionType de acuerdo a la capacidad del tanque</h4>
            </div>
            <div class="modal-body">
                <b><u>Ejemplo:</u></b><br />
                <b>Capacidad del Vehículo:</b> 50 @DistributionType<br />
                <b>Odómetro anterior:</b> 129,850<br />
                <b>Odómetro final:</b> 130,000<br />
                <b>Rendimiento:</b>  300 @DistributionType por tanque, 6 kilómetros por @DistributionType<br />
                <br />
                Aplicando la fórmula:<br />
                <br />
                @DistributionType Disponibles = 50 –(( 130,000 – 129,850) / 6)<br />
                @DistributionType Disponibles = 50 – (150 / 6 )<br />
                @DistributionType Disponibles = 50 – 25<br />
                @DistributionType Disponibles = 25<br />
                <br />
                Con los @DistributionType disponibles se le aplica un margen de error y se valida que el valor de @DistributionType ingresado en la aplicación sea menor.<br />
                <br />
                Ejemplo:<br />
                Margen de error del 10%<br />
                <br />
                @DistributionType Disponibles = 25 + (25 * Margen de Error)<br />
                @DistributionType Disponibles = 25 + (25 * 10%)<br />
                @DistributionType Disponibles = 25 + 2.5<br />
                @DistributionType Disponibles = 27.5<br />
                <br />
                La cantidad de @DistributionType ingresados en la transacción debe ser menor a 27.5 @DistributionType
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExampleVehiclePerformanceModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Validar el rendimiento del Vehículo</h4>
            </div>
            <div class="modal-body">
                <h3>Ejemplo:</h3>
                <b>Odómetro transacción:</b> 1,300 kilómetros<br />
                <b>Odómetro anterior:   </b> 1,000 kilómetros<br />
                <b>@DistributionType digitados:    </b> 50 @DistributionType<br />
                <b>Rendimiento Esperado:</b> 5 kilómetros por @DistributionTypeSing<br />
                <b>Margen inferior:     </b> 10%<br />
                <b>Margen Superior:     </b> 20%<br />
                <br />
                <b>Aplicando la fórmula:</b><br />
                <h3>1- Se calcula el Rendimiento Mínimo y el Rendimiento Máximo:</h3>
                <b>Rendimiento Mínimo =</b> Rendimiento_Clase_Vehiculo  - (Rendimiento_Clase_Vehículo * Margen_Error_Inferior)<br />
                <b>Rendimiento Mínimo =</b> 5 - (5* 0.10)<br />
                <b>Rendimiento Mínimo =</b> 5 - (0.5)<br />
                <b>Rendimiento Mínimo =</b> 4.5<br />
                <br />
                <b>Rendimiento Maximo =</b> Rendimiento_Clase_Vehiculo  - (Rendimiento_Clase_Vehículo * Margen_Error_Superior)<br />
                <b>Rendimiento Maximo =</b> 5 + (5* 0.20)<br />
                <b>Rendimiento Maximo =</b> 5 + (1)<br />
                <b>Rendimiento Maximo =</b> 6<br />
                <h3>2- Se calcula el Rendimiento del Vehículo en la Transacción</h3>
                <b>Rendimiento_Vehículo_Transacción =</b> (Odometro de la transacción - Odmetro de Transacción anterior) / @DistributionType<br />
                <b>Rendimiento_Vehículo_Transacción =</b> (1,300 - 1,000) / 50<br />
                <b>Rendimiento_Vehículo_Transacción =</b> 300 + 50<br />
                <b>Rendimiento_Vehículo_Transacción =</b> 6<br />
                <h3>3.- Se valida que el Rendimiento del Vehículo en la Transacción este entre el Rendimiento Esperado Mínimo y Máximo</h3>
                Rendimiento Mínimo <= Rendimiento_Vehículo_Transacción  <= Rendimiento Maximo - (4,5  <=  6  <=  6)<br />
                <br />
                <b>Ejemplo 1: </b><br />
                Si el rendimiento del vehículo en la transacción es 4, este es menor que 4,5 por lo cual se rechaza<br />
                <b>Ejemplo 2: </b><br />
                Si el rendimiento del vehículo en la transacción es 7, este es mayor que 1,300 por lo cual se rechaza<br />
                <b>Ejemplo 3: </b><br />
                Si el rendimiento del vehículo en la transacción es 5, este es mayor a 4,5 y menor a 6 por lo cual se aprueba<br />
                <b>Ejemplo 4: </b><br />
                Si el rendimiento del vehículo en la transacción es 6, este es mayor a 4,5 e igual a 6 por lo cual se aprueba<br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>


