﻿@model ECOsystem.Models.Core.Users

@{
    var photo = Model.Photo;
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 740px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal col-sm-8" role="form">
                        <div class="col-sm-4">
                            <img class="pic" src="@photo" id="imgPhoto" width="128" height="128" />
                            <div class="progress_bar">
                                <div class="percent">
                                    0%
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.Photo)
                            <button id="btnUpload" type="button" class="btn btn-primary" style="width: 128px"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;&nbsp;Cargar Foto</button>
                            <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DecryptedName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.DecryptedName, new { placeholder = "Nombre completo", @class = "form-control", autofocus = "", @maxlength = "100" })
                                @Html.ValidationMessageFor(m => m.DecryptedName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.DecryptedEmail, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.DecryptedEmail, new { placeholder = "Correo electrónico", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DecryptedPhoneNumber, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.DecryptedPhoneNumber, new { placeholder = "Número de celular", @class = "form-control" })
                            </div>
                        </div>
                        @if (Model.UserId != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedUserName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBox("_UserName", Model.DecryptedUserName, new { disabled = "disabled", @class = "form-control" })
                                    @Html.HiddenFor(m => m.DecryptedUserName)
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-offset-8 col-sm-4 form-horizontal">
                        <!--<div class="form-group top10">&nbsp;</div>-->
                        @if (Model.UserId != null)
                        {
                            <div class="form-group">
                                <div class="">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            @Html.CheckBoxFor(m => m.ChangePassword)Cambiar Contraseña
                                        </label>
                                        @Html.ValidationMessageFor(m => m.ChangePassword)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            @Html.CheckBoxFor(m => m.IsLockedOut)Bloqueado
                                        </label>
                                        @Html.ValidationMessageFor(m => m.IsLockedOut)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="validationErrors" class="row top20">
                    <div id="errorMsj" class="col-sm-12 text-danger">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
