﻿@model IEnumerable<ECOsystem.Models.Core.Users>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .Titled("Foto")
                  .RenderValueAs(m => @<img src="@m.Photo" width="50" height="30" />);
          })
          .AutoGenerateColumns()
          .Selectable(true)
          .Columns(c =>
          {
              c.Add(m => m.IsLockedOut).Titled("Bloqueado?").RenderValueAs(m => Html.CheckBox("_IsLockedOut", m.IsLockedOut, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center");
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.UserId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                    <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.UserId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                </span>).Css("grid-col-btn");

          }))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}