﻿@model ECOsystem.Models.Core.Customers

@using ECO_Partner.Business
@{
    var CountryId = ECOsystem.Utilities.Session.GetCountryId();
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? !string.IsNullOrEmpty(geopoliticalNames[0]) ? geopoliticalNames[0] : "División Geopolítica Nivel 1" : "División Geopolítica Nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? !string.IsNullOrEmpty(geopoliticalNames[1]) ? geopoliticalNames[1] : "División Geopolítica Nivel 2" : "División Geopolítica Nivel 2";
    var geopoliticalLevel3 = geopoliticalNames.Count > 2 ? !string.IsNullOrEmpty(geopoliticalNames[2]) ? geopoliticalNames[2] : "División Geopolítica Nivel 3" : "División Geopolítica Nivel 3";
    var logo = Model.Logo;
}

<div id="nInformacionAdicional">
    @Html.HiddenFor(m => m.AdditionalId)

    <div class="col-xs-12 col-lg-3">
        <div class="row" style="margin-top:4px;">
            <div class="col-sm-12 center">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="pic" src="@logo" id="imgLogo" width="165" height="128" />
                        <div class="progress_bar" style="width:154px !important;">
                            <div class="percent">
                                0%
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.Logo)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="padding-top:10px;">
                        <button id="btnUpload" type="button" class="btn btn-primary" style="width:165px;">
                            <i class="mdi mdi-camera"></i>&nbsp;&nbsp;Cargar Logo
                        </button>
                        <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <hr />
    <div class="col-xs-12 col-lg-9">
        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.BusinessName, new { @class = "col-sm-14" })
                    @Html.TextBoxFor(m => m.BusinessName, new { placeholder = "Razon Social", @class = "form-control", autofocus = "", maxLength = 50 })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.LegalDocument, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.LegalDocument, new { placeholder = "Cédula Jurídica", @class = "form-control", autofocus = "", numeric = "" })
                    @Html.ValidationMessageFor(m => m.LegalDocument, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Dueño Registral", new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.RegisteredOwner, new { placeholder = "Dueño Registral", @class = "form-control", autofocus = "", maxLength = 200 })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.ZoneId, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.ZoneId, GeneralCollections.GetZones(), "Seleccione una Zona ", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label(@geopoliticalLevel1, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.StateId, GeneralCollections.GetStates(CountryId), "Seleccione " + @geopoliticalLevel1, new { @class = "form-control", autofocus = "", custom = "true", })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label(@geopoliticalLevel2, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.CountyId, GeneralCollections.GetCounties(Model.StateId, CountryId), "Seleccione " + @geopoliticalLevel2, new { @class = "form-control", custom = "true" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label(@geopoliticalLevel3, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.CityId, GeneralCollections.GetCities(Model.CountyId, Model.StateId, CountryId), "Seleccione " + @geopoliticalLevel3, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Longitude, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Longitude, new { placeholder = "Longitud", @class = "form-control", autofocus = "", maxLength = 12 })
                    @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Latitude, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Latitude, new { placeholder = "Latitud", @class = "form-control", autofocus = "", maxLength = 12 })
                    @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.CustomerManagerId, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.CustomerManagerId, GeneralCollections.GetCustomerManager, "Encargado COINCA", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.ApplicantClient, new { @class = "col-sm-14" })
                    @Html.TextBoxFor(m => m.ApplicantClient, new { placeholder = "Cliente Solicitante", @class = "form-control", autofocus = "", maxLength = 200 })
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.SapCode, new { @class = "col-sm-14" })
                    @Html.TextBoxFor(m => m.SapCode, new { placeholder = "Número SAP", @class = "form-control", @type = "number", autofocus = "", maxLength = "8"})
                </div>
            </div>

        </div>
    </div>

</div>

