﻿@model ECOsystem.Models.Core.CustomerContractInformation
@{
    var showAddGrid = Model.IsProductLineVitaECO ? string.Empty : "hide";
}
@Html.Hidden("isProductLineVitaECO", Model.IsProductLineVitaECO)

<div>
    @Html.HiddenFor(m => m.ContractId, new { @class = "input-clean" })
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Desde:", new { @class = "col-sm-14 control-label" })
                <div class='input-group date' id='datetimepickerSince'>
                    @Html.TextBoxFor(m => m.SinceStr, new { placeholder = "Desde",
                                                            @class = "form-control", data_rule_required = "true",
                                                            data_msg_required = "Desde es requerido.", @autocomplete = "off" })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.SinceStr, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">                
                Aplicar contrato <input type="radio" id="rdTypeYear" name="rdMonthOrYear" checked="checked" /> por años
                / <input type="radio" id="rdTypeMonth" name="rdMonthOrYear" /> por meses:

                @Html.TextBoxFor(m => m.ContractYears, new { placeholder = "Por", @class = "form-control", @type = "number", @min = "1" })
            </div>
        </div>
    </div>

    <div class="row @showAddGrid">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Vehículos</div>
                <div class="panel-body grid-max-height" id="ContractVehiclesContainer">
                    @Html.Partial("_partials/_VehicleGrid", Model.Vehicles, new ViewDataDictionary { { "ContractVehicles", true }, { "CheckAllVehicles", Model.AllVehicles } })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12  text-right">
            <button type="button" class="btn btn-default" id="btnCancelContractAddOrEdit"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnSendFormContractAddOrEdit"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#addOrEditContractContainer");
    });
</script>
