﻿@model ECOsystem.Models.Vehicles
<div>
    @Html.HiddenFor(m => m.VehicleId, new { @class = "input-clean" })
    <div class="row" style="margin-bottom:16px;">
        <div class="col-sm-4">
            @Html.Label("Nombre", new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre del Vehículo",
                                                @class = "form-control input-clean",
                                                maxLength = 250,
                                                data_rule_required = "true",
                                                data_msg_required = "Nombre es requerido."
                                            })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.Label("Placa", new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.PlateId, new { placeholder = "Placa del Vehículo",
                                                   @class = "form-control input-clean data-uppercase",
                                                   maxLength = 10,
                                                   data_rule_required = "true",
                                                   data_msg_required = "Placa es requerido."
                                               })
            @Html.ValidationMessageFor(m => m.PlateId, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.Label("Chasis / VIN", new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.Chassis, new { placeholder = "Chasis / VIN del Vehículo",
                                                   @class = "form-control input-clean data-uppercase",
                                                   maxLength = 17,
                                                   data_rule_required = "true",
                                                   data_msg_required = "Chasis / VIN es requerido."
                                               })
            @Html.ValidationMessageFor(m => m.Chassis, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-sm-4">
            @Html.Label("Marca", new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.Manufacturer, new { placeholder = "Marca del Vehículo",
                                                        @class = "form-control input-clean data-uppercase",
                                                        maxLength = 250,
                                                        data_rule_required = "true",
                                                        data_msg_required = "Marca es requerido."
                                                    })
            @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.Label("Modelo", new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.VehicleModel, new { placeholder = "Modelo del Vehículo",
                                                       @class = "form-control input-clean data-uppercase",
                                                       maxLength = 250,
                                                       data_rule_required = "true",
                                                       data_msg_required = "Modelo es requerido."
                                                   })
            @Html.ValidationMessageFor(m => m.VehicleModel, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            @Html.Label("Año", new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.VehicleYear, new { placeholder = "Año del Vehículo",
                                                       @class = "form-control input-clean",
                                                       maxLength = 4
                                                   })
            @Html.ValidationMessageFor(m => m.VehicleYear, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-sm-2">
            @Html.Label("Color", new { @class = "col-sm-14 control-label" })
            <div class='input-group'>
                <span class="input-group-addon">
                    <span class="mdi mdi-invert-colors"></span>
                </span>
                @Html.TextBoxFor(m => m.Colour, new { placeholder = "Color del Vehículo", @class = "form-control input-clean data-capitalcase", maxLength = 50 })
            </div>
            @Html.ValidationMessageFor(m => m.Colour, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-2">
            @Html.Label("ESN", new { @class = "col-sm-14 control-label" })
            <div class='input-group'>
                <span class="input-group-addon">
                    <span class="mdi mdi-car-connected"></span>
                </span>
                @Html.TextBoxFor(m => m.AVL, new { placeholder = "# Serie del GPS",
                                                   @class = "form-control input-clean",
                                                   maxLength = 18,
                                                   data_rule_number="true",
                                                   data_msg_number = "Digite un número válido."
                                                 })
            </div>
            @Html.ValidationMessageFor(m => m.AVL, "", new { @class = "text-danger" })
        </div>
        @{
            var classificationList = ECO_Partner.Business.GeneralCollections.GetClassificationTypes();
            var defaultClassificationValue = ((classificationList.Count > 0) ? classificationList.Where(w => w.Value.Contains("Ninguno")).First().Key.ToString() : "");
        }

        @if (ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId()) == ECOsystem.Utilities.ProductInfo.LineVitaECO)
        {
            <div class="col-sm-4">
                @Html.Label("Clasificación", new { @class = "col-sm-14 control-label" })
                @{ var selectList = new SelectList(classificationList, "Key", "Value"); }
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-star"></span>
                    </span>
                    @Html.DropDownListFor(m => m.ClassificationId, selectList, "Seleccione una Clasificación ", new { @class = "form-control", @onchange = "enableOperation(this.value)" })
                </div>
            </div>
            <div class="col-sm-4" id="divOperation" hidden>
                <label class="control-label">Número de Operación BAC</label>
                @*@Html.TextBox("OperationBAC",Model.OperationBAC, new { @class = "form-control" })*@
                @Html.TextBoxFor(m => m.OperationBAC, new { @class = "form-control operation" })
            </div>
            <div class="col-sm-5" style="margin-top:1%">
                @Html.Label("# Tiquete", new { @class = "control-label" })

                <div class="row">
                    @*@{
                        var activeEdit_URL = "0";
                        if (string.IsNullOrEmpty(Model.SupportTicket))
                        {
                            activeEdit_URL = "1";
                        }
                    }*@

                    @Html.Hidden("EnableInputURL", "1")

                    <div class="col-sm-5 editable-supporturl">
                        @Html.TextBoxFor(m => m.SupportTicket, new { placeholder = "# Tiquete", @class = "form-control", autofocus = "", maxLength = 20 })
                    </div>
                    <div class="col-sm-7 editable-supporturl">
                        @Html.TextBoxFor(m => m.SupportTicketURL, new { placeholder = "Tiquete URL", @class = "form-control", autofocus = "", maxLength = 150, type = "URL" })
                    </div>
                    <div class="col-sm-12 link-supporturl">
                        <a id="UriSupportLink" href="" class="control-label ticket-link" target="_blank"></a>
                        <button class="btn btn-default btn-xs" title="Editar # Tiquete / URL Tiquete" style="margin-top: -7px;margin-left: 10px;" onclick="ECO_Partner.Customers.EnableURLInput(true);">
                            <i class="mdi mdi-pencil"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
        else
        {
            @Html.Hidden("ClassificationId", defaultClassificationValue)
            <div class="col-sm-4">
                @Html.Label("Odómetro Actual", new { @class = "col-sm-14 control-label" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-speedometer"></span>
                    </span>
                    @Html.TextBoxFor(m => m.Odometer, new { placeholder = "Odómetro del Vehículo", @class = "form-control input-clean", @readonly = "readonly" })
                </div>
                @Html.ValidationMessageFor(m => m.Odometer, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.Label("# Tiquete", new { @class = "control-label" })

                <div class="row">
                    @*@{
                        var activeEdit_URL = "0";
                        if (string.IsNullOrEmpty(Model.SupportTicket))
                        {
                            activeEdit_URL = "1";
                        }
                    }*@

                    @Html.Hidden("EnableInputURL", "1")

                    <div class="col-sm-5 editable-supporturl">
                        @Html.TextBoxFor(m => m.SupportTicket, new { placeholder = "# Tiquete", @class = "form-control", autofocus = "", maxLength = 20 })
                    </div>
                    <div class="col-sm-7 editable-supporturl">
                        @Html.TextBoxFor(m => m.SupportTicketURL, new { placeholder = "Tiquete URL", @class = "form-control", autofocus = "", maxLength = 150, type = "URL" })
                    </div>
                    <div class="col-sm-12 link-supporturl">
                        <a id="UriSupportLink" href="" class="control-label ticket-link" target="_blank"></a>
                        <button class="btn btn-default btn-xs" title="Editar # Tiquete / URL Tiquete" style="margin-top: -7px;margin-left: 10px;" onclick="ECO_Partner.Customers.EnableURLInput(true);">
                            <i class="mdi mdi-pencil"></i>
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
    @*<div class="row">
        <div class="col-sm-4">
            <label>Fleetio ID</label>
            @Html.TextBoxFor(m => m.FleetioId, new { @class = "form-control" })
        </div>
    </div>*@
    <div class="row" style="border-top: 1px solid #ccc;margin-bottom: 10px; margin-top:1%"></div>

    <div class="row">
        <div class="col-sm-12  text-right">
            <button type="button" class="btn btn-default" id="btnCancelVehicleAddOrEdit"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnSendFormVehicleAddOrEdit"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#addOrEditVehicleContainer");
    });

    function enableOperation(value) {
        if (value == 1 || value == 2) {
            $('#divOperation').prop("hidden", false)
        }
        else {
            $('#divOperation').prop("hidden", true)
        }
    }
</script>
