﻿@model ECOsystem.Models.Core.CustomerContractInformation
@{
    var disabled = (Model.Active != null && !(bool)Model.Active) ? "disabled" : string.Empty;
    var infoclass = string.IsNullOrEmpty(disabled) ? "info" : "warning";
    var infomessage = string.IsNullOrEmpty(disabled) ? "Para generar un nuevo código de seguridad presione el botón <b>Generar</b>." : "El cliente no cuenta con un contrato <b>activo</b> o este ha <b>expirado</b>.";
    Model.APIToken = ViewBag.CustomerToken != null ? ViewBag.CustomerToken : string.Empty;
}
<fieldset @disabled>
    <div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;">
        <div class="col-sm-12">
            <div class="alert alert-@infoclass alert-dismissible fade in" role="alert">
                <i class="mdi mdi-information"></i>&nbsp;El Código de Seguridad le permitirá tener acceso a los Servicios API expuestos para el consumo de datos generados en Flotas. <hr />@Html.Raw(infomessage)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Código de seguridad:", new { @class = "col-sm-14 control-label" })
                @Html.TextBoxFor(m => m.APIToken, new { placeholder = "Código de seguridad", @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <br />
                <button type="button" class="btn btn-primary" style="margin-top: 7px;" id="btnGenerateAPIToken"><i class="mdi mdi-reload"></i>&nbsp;Generar</button>
            </div>
        </div>
    </div>
</fieldset>