﻿@model IEnumerable<ECOsystem.Models.Core.CustomerBinnacle>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.Comment).Titled("Comentario").SetWidth("60%").Sortable(true);
            c.Add(m => m.DecryptedUserName).Titled("Usuario Web");
            c.Add(m => m.InsertDate).Titled("Fecha");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .SetWidth(70)
                .RenderValueAs(m => @<div id="BinnacleInGrid-@m.Id">
                    <input type="hidden" value="@m.Comment"/>
                    <span style="width:35px;">
                        <a href="javascript:void(0);" class="edit-color" title="Editar" onclick="javascript:ECO_Partner.Customers.EditBinnacle(@m.Id);"><i class="glyphicon glyphicon-pencil"></i></a>
                    </span>
                    <span style="width:35px;">
                        <a href="javascript:void(0);" class="delete-color" title="Eliminar" onclick="javascript:ECO_Partner.Customers.DeleteBinnacle(@m.Id);"><i class="mdi mdi-close mdi-18px"></i></a>
                    </span>
                </div>)
                .Css("grid-col-btn");
        }))
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}


