﻿@model ECOsystem.Models.Core.CustomerBinnacleBase

<div class="row">
    <div class="form-group form-horizontal col-sm-10" role="form">
        @Html.Hidden("BinnacleDelete")
        @Html.Hidden("BinnacleId", Model.Data.Id)
        @Html.LabelFor(m => m.Data.Comment, new { })
        @Html.TextAreaFor(m => m.Data.Comment, 2, 30, new { @class = "form-control",
                                                           @id = "txtCommentBinnacle",
                                                           data_rule_required = "true",
                                                           data_msg_required = "Comentario es requerido."
                                                       })
    </div>
    <div class="col-sm-2">
        <br />
        <button type="button" class="btn btn-success" style="margin-top:10px;" id="btnCustomerBinnacleSubmit"><i class="mdi mdi-plus mdi-18px"></i> Guardar bitácora</button>
    </div>
</div>

<div id="BinnacleContainer">
    @Html.Partial("_partials/_BinnacleGrid", Model.List)
</div>
<br />




