﻿@using ECO_Partner.Business
@model ECOsystem.Models.Core.CustomerBudget
@{
    var DayOfMonthClass = "hide";
    var DaysClass = "";
    var showCostCenter = Model.IssueForId == 100 ? "hidden" : string.Empty;

    if (Model.Periodicity == 30)
    {
        DayOfMonthClass = "";
        DaysClass = "hide";
    }
}

<style>
    .tableHeader {
        position: relative;
        height: 30px;
        background-color: #003594;
        color: #fff;
    }

    .masterCardPills {
        background-color: #1075BB;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        font-size: medium;
        vertical-align: middle;
    }

    .lblBudget {
        font-size: 14px;
        text-align: right;
        margin-top: 5px;
    }

    .btnEditCards {
        width: 110px;
        margin-right: -15px;
    }
</style>

@*@Html.HiddenFor(m => m.DisplayAccountNumber)*@
<div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;">
    <div class="col-sm-6">
        <div class="form-group">
            @Html.Label("Tipo de Tarjeta", new { @class = "col-sm-14 control-label" })
            @Html.DropDownListFor(m => m.CreditCardType, ECOsystem.Business.Utilities.GeneralCollections.GetCustomersCreditCardTypes, "Tipo de Tarjeta", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.Label("Seleccione la Moneda", new { @class = "col-sm-14 control-label" })
            @Html.DropDownListFor(m => m.CurrencyId, GeneralCollections.GetCurrencies, "Seleccione la Moneda", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.Label("Tipo de Emisión de Tarjetas", new { @class = "col-sm-14 control-label" })
            @Html.DropDownListFor(m => m.IssueForId, GeneralCollections.GetCustomersCreditCardIssueForId, "Tipo de Emisión de Tarjetas", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.Label("Unidad de Capacidad", new { @class = "col-sm-14 control-label" })
            @Html.DropDownListFor(m => m.UnitOfCapacityId, GeneralCollections.GetCustomersUnitsOfCapacity, "Unidad de Capacidad", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.Label("Número de Cuenta", new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.DisplayAccountNumber, new { placeholder = "Número de Cuenta", @class = "form-control", autofocus = "", autocomplete = "off", @maxlength = "25" })
            <label class="text-danger" id="accountNumberWarning" hidden>Número de Cuenta de 9 a 25 dígitos.</label>
        </div>
    </div>
    <div class="col-sm-6" id="costCenterDistributionContainer" @showCostCenter style="margin-top:20px;">
        <div class="form-group">
            @Html.Label("Distribución por Centros de Costo", new { @class = "col-sm-14 control-label" })&nbsp;
            @Html.CheckBoxFor(m => m.CostCenterFuelDistribution, new { @type = "checkbox", @class = "toggleCheck" })
        </div>
    </div>
</div>

<div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3" style="border-right: 1px solid #ccc; height:83px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <label><strong>Periodicidad:</strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr class="grid-row ">
                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.Periodicity, "7", new { @class = "rdbWeekly", @onclick = "ECOsystem.CustomersByPartner.OnClickWeekly();" })
                                                            Semanal
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.Periodicity, "30", new { @class = "rdbMonthly", @onclick = "ECOsystem.CustomersByPartner.OnClickMonthly();" })
                                                            Mensual
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 @DaysClass" style="border-right: 1px solid #ccc; height:83px;" id="divDays">
                        <div class="row">
                            <div class="col-lg-11">
                                <label><strong>Día de entrega:</strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr class="grid-row ">
                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.NameDay, "2", new { })
                                                            Lunes
                                                        </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.NameDay, "3", new { })
                                                            Martes
                                                        </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.NameDay, "4", new { })
                                                            Miercoles
                                                        </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.NameDay, "5", new { })
                                                            Jueves
                                                        </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.NameDay, "6", new { })
                                                            Viernes
                                                        </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.NameDay, "7", new { })
                                                            Sábado
                                                        </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="mdl-radio">
                                                        <label style="font-weight:normal">
                                                            @Html.RadioButtonFor(m => m.NameDay, "1", new { })
                                                            Domingo
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 @DayOfMonthClass" style="border-right: 1px solid #ccc; height:83px;" id="divDayOfTheMonth">
                        <label>Día de entrega:</label>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.TextBoxFor(m => m.NameDate, "", new { placeholder = "Día del mes", @class = "form-control text-left", @type = "number", @min = "1", @max = "31" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label><strong>Repetir cada:</strong></label>
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(m => m.Repeat, "", new { placeholder = "Repetición del cierre", @class = "form-control text-left", @type = "number", @min = "1", @max = "100" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;" id="masterCardGrid">
    @Html.Partial("_partials/_GridCards", Model.MasterCards)
</div>

<div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;">
    <div class="col-sm-12">
        @Html.Label("Permite Transacciones Offline", new { @class = "control-label" })&nbsp;
        @Html.CheckBoxFor(m => m.TransactionsOffline, new { @type = "checkbox", @class = "toggleCheck" })
    </div>
</div>