﻿@model List<ECOsystem.ServiceOrderUtilities.Models.OrdersModel>

<div class="modal fade" id="CancelContractOrdersResultModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="element-name">Mantenimiento de Clientes</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">Número de Ordenes Procesadas: @Model.Where(x => !string.IsNullOrEmpty(x.ErrorMessage)).Count()</h4>
                @if (Model.Where(x => !string.IsNullOrEmpty(x.ErrorMessage)).Count() > 0)
                {
                    <br />  
                    <h4 class="fbold center">Validar las Ordenes para los siguientes Vehículos</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="tableHeader">Placa</th>
                                <th class="tableHeader">Vehículo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(x => !string.IsNullOrEmpty(x.ErrorMessage)))
                            {
                                <tr>
                                    <td>@item.PlateId</td>
                                    <td>@item.VehicleName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Customers")'"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
