﻿@model ECOsystem.Models.Core.CustomerContractInformation
@{
    var btnString = Model.ContractId == null ? "<i class=\"mdi mdi-plus\"></i>&nbsp;Crear Contrato" : "<i class=\"mdi mdi-pencil\"></i>&nbsp;Renovar Contrato";
    var showBottons = Model.ContractId == null ? "hide" : string.Empty;
    var reportButton = Model.ContractId == null ? "hideReportBtn" : string.Empty;
}
<div class="row" style="padding-left:19px; padding-top:20px; padding-right:19px;">
    @Html.Hidden("AddOrEditContract")
    @Html.HiddenFor(m => m.ContractId)
    @Html.Hidden("ToContract", Model.ToStr)
    <div class="col-sm-12">
        <div class="alert alert-@Model.InfoClass alert-dismissible fade in" role="alert">
            <i class="mdi mdi-information"></i>&nbsp;<b style="font-size: 15px;">@Model.InfoText</b>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="ctext-left">
            <button type="button" class="btn btn-default @showBottons" id="showContractInfo"><i class="mdi mdi-file-document-box"></i>&nbsp;Ver Información</button>
            <button type="button" class="btn btn-primary" id="showAddOrEditContractModal" contractId="@Model.ContractId">@Html.Raw(btnString)</button>
            <button type="button" class="btn btn-primary @showBottons" data-toggle="modal" data-target="#CancelContractConfimationModal"><i class="mdi mdi-close"></i>&nbsp;Cancelar Contrato</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="text-right">
            <button type="button" class="btn btn-default @reportButton" id="btnDonwloadContractReport"><i class="mdi mdi-download"></i>&nbsp;Ver Histórico de Renovaciones</button>
        </div>
    </div>
    <hr />
    <div hidden id="ContractControlsContainer">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Desde:", new { @class = "col-sm-14 control-label" })
                <div class='input-group date' id='datetimepickerSince'>
                    @Html.TextBoxFor(m => m.SinceStr, new { placeholder = "Desde", @class = "form-control", autocomplete = "off", data_rule_required = "true", data_msg_required = "Desde es requerido." })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.SinceStr, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Por (años):", new { @class = "col-sm-14 control-label" })
                @Html.TextBoxFor(m => m.ContractYears, new { placeholder = "Por", @class = "form-control", @type = "number", @min = "1" })
            </div>
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Vehículos</div>
                <div class="panel-body" id="ContractVehiclesContainer">
                    @Html.Partial("_partials/_VehicleGrid", Model.Vehicles, new ViewDataDictionary { { "ContractVehicles", true }, { "CheckAllVehicles", Model.AllVehicles } })
                </div>
            </div>
        </div>
    </div>

</div>
