﻿@model List<ECOsystem.Models.Core.CustomerContractInformation>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
        c.Add(m => m.ContractId).Titled("Número");
        c.Add().Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                    @if (m.IsProductLineVitaECO && m.SelectedVehiclesStr.Split(',').Count() >= 3) { 
                        <label>@m.SelectedVehiclesStr.Split(',')[0], @m.SelectedVehiclesStr.Split(',')[1], @m.SelectedVehiclesStr.Split(',')[2]</label>
                        <a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.GetContractData(@m.ContractId, 'read', '@m.ToStr', @m.ContractYears);" title="Ver información"><i class="mdi mdi-note-text mdi-32px"></i></a> 
                    } else if (m.IsProductLineVitaECO) { <label>@m.SelectedVehiclesStr</label>
                    } else { <label>Todas</label>}
                </span>)
                .Titled("Placas");
        c.Add(m => m.FirstSinceStr).Titled("Desde");
        c.Add(m => m.ToStr).Titled("Hasta");
        c.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(m => @<span>
                        @if (m.Active == false)
                        {
                            var modifyDate = (m.ModifyDate != null) ? Convert.ToDateTime(m.ModifyDate).ToString("dd/MM/yyyy") : "[No definido]";
                            <label class="label label-danger" style="font-size: 14px;">Cancelado el día @modifyDate</label>
                        } else {
                           <label class="label label-@m.InfoClass" style="font-size: 14px;">@m.InfoText</label>
                        }
                </span>).Css("center");            
            c.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(m => @<span>
                 @if (m.Active == true)
                 {
                    <a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.EditContractData(@m.ContractId, '@m.ToStr', @m.ContractYears);" class="edit-color" title="Renovar contrato"><i class="mdi mdi-autorenew mdi-32px"></i></a>
                    <a href="#" onclick="$('#ContractId').val(@m.ContractId)" class="edit-color" title="Cancelar contrato" data-toggle="modal" data-target="#CancelContractConfimationModal"><i class="mdi mdi-close mdi-32px"></i></a>
                 }
                <a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.GetContractData(@m.ContractId, 'download');" class="edit-color" title="Descargar el histórico de renovaciones"><i class="mdi mdi-download mdi-32px"></i></a>
            </span>).Css("grid-col-btn grid-button-fix");
        }))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <div class="row">
            <div class="col-sm-12">
                <i class="mdi mdi-information" style="font-size:25px;"></i> No existe información.
            </div>
        </div>
    </div>
}
