﻿@model ECOsystem.Models.Core.DynamicPartialModel
@{
    var ButtonId = ViewData["ButtonId"].ToString();
}

<div class="row">
    @{
        var from = Model.list.Count() > 0 ? Model.list.Max(x => x.To) > 0 ? Model.list.Max(x => x.To) + 1 : 1 : 1;
    }

    <input type="hidden" id="@string.Format("maxfrom_{0}", Model.priceId)" />
    <input type="hidden" id="@string.Format("PricesId_{0}", Model.priceId)" />
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Desde", new { @class = "col-sm-14 control-label rowLabel" })
            <input type="number" id="@string.Format("txtFrom_{0}", Model.priceId)" value="@from" placeholder="Desde" class="form-control" style="text-align:right;" disabled="disabled" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("Hasta", new { @class = "col-sm-14 control-label rowLabel" })
            <input type="number" id="@string.Format("txtTo_{0}", Model.priceId)" placeholder="Hasta" class="form-control withoutdecimal" style="text-align:right;" />
            <label class="text-danger" style="margin-top:10px;" hidden id="@string.Format("warningTo_{0}", Model.priceId)">El valor no se encuentra en el rango permitido.</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            @Html.Label("Monto", new { @class = "col-sm-14 control-label rowLabel" })
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" id="@string.Format("txtPrice_{0}", Model.priceId)" placeholder="Monto" class="form-control" style="text-align:right;" />
            </div>
            <label class="text-danger" style="margin-top:10px;" hidden id="@string.Format("warningPrice_{0}", Model.priceId)">Valor requerido.</label>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="form-group">
            <br />
            <button type="button" id="@ButtonId" class="btn btn-primary" onclick="ECO_Partner.Customers.AddPricesToCustomer(@Model.priceId)" style="margin-top: 10px;"><i class="mdi mdi-plus mdi-18px"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="@string.Format("pricesGridContainer_{0}", Model.priceId)">
        @Html.Partial("_partials/_PricesGrid", Model)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 rangevalidationwarning" id="@string.Format("rangevalidationwarning_{0}", Model.priceId)" hidden priceId="@Model.priceId">
        <br />
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;Por favor validar el valor de los rangos
        </div>
    </div>
</div>