﻿@{
    var user = ECOsystem.Utilities.Session.GetUserInfo();   
}

<!-- Modal Start-->
<div class="modal fade" id="CustomersByCustomersModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Acceso de clientes para el usuario: <span id="CustomerName"></span></h4>
            </div>
            <div class="modal-body">
                <input class="hidden" id="CUserId" />

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Seleccione el rol:</label>
                            @Html.DropDownList("dbxRoleList", ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveRolesPermissions(null, true, -1), "Seleccione un rol", new { @class = "form-control", custom = "true" })
                            <div id="errorMessage" class="text-danger field-validation-valid" data-valmsg-for="plate" data-valmsg-replace="true"></div>
                        </div>
                    </div>
                    <div class="col-sm-8 assign-roles">
                        <ul id="CheckAll" class="list-group hidden" style="margin-bottom: -1px;">
                            <li class="list-group-item node-treeview-checkable" style="color:#428bca" data-nodeid="-1">
                                <div class="checkbox" title="Seleccionar todos">
                                    <label class="strong">
                                        <input type="checkbox" class="generateAllCards" id="-1">
                                        Seleccionar todos
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <ul id="treeview-checkable" class="list-group">

                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="button" data-toggle="modal" data-target="#ConfirmationSaveModalCustomerByCustomers" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->