﻿<div class="col-lg-12 custom-card">
    <div>
        @Html.Hidden("currentCustomerId")   
        @Html.Hidden("newPartnerId")

        <div class="row" style="margin-bottom:16px;">
            <div class="col-sm-6 col-md-6">
                @Html.Label("Cliente:", new { @class = "control-label" })
                @Html.TextBox("CustomerInfo", "", new { @class = "form-control input-clean", @readonly = "readonly" })
            </div>
            <div class="col-sm-6 col-md-6">
                @Html.Label("Trasladar a:", new { @class = "control-label" })
                <select id="partnerList" style="width: 100%"></select>
            </div>
        </div>
        <div class="row" style="border-top: 1px solid #ccc;margin-bottom: 10px;"></div>

        <div class="row">
            <div class="col-sm-12  text-right">
                <button type="button" class="btn btn-default" id="btnCancelTrasladate"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSendCustomerToPartner"><i class="mdi mdi-share"></i>&nbsp;Trasladar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#trasladateClientPartnerForm");
    });
</script>
