﻿@model List<ECOsystem.Models.Core.Payments>

@if (Model.Count() > 0)
{
    <div class="modal-body">
        <div class="row">
            <div id="table_div" class="col-md-6">
                <!-- TABLE -->
                <h4><strong>Información de Pagos del Período</strong></h4>
                <hr />
                @(Html.Grid(Model)
                                         .Selectable(true)
                                         .Columns(c =>
                                         {
                                             c.Add(m => m.InsertDate).SetWidth(150).Titled("Fecha del Pago");
                                             c.Add(m => m.PaymentAmountStr).SetWidth(200).Titled("Monto");
                                         }))

                <table class="table table-striped">
                    @{
                        var totals = Model.FirstOrDefault();
                        var style = (totals.Balance < 0) ? "danger" : "";
                    }
                    <tr>
                        <td>@Html.LabelFor(m => totals.SpendAmountStr, new { @class = "col-sm-14 control-label" })</td>
                        <td><strong>@Html.DisplayFor(m => totals.SpendAmountStr)</strong></td>
                        <td />
                        <td />
                        <td />
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => totals.SumPaymentsStr, new { @class = "col-sm-14 control-label" })</td>
                        <td><strong>@Html.DisplayFor(m => totals.SumPaymentsStr)</strong></td>
                        <td />
                        <td />
                        <td />
                    </tr>
                    <tr class="@style">
                        <td>@Html.LabelFor(m => totals.BalanceStr, new { @class = "col-sm-14 control-label" })</td>
                        <td><strong>@Html.DisplayFor(m => totals.BalanceStr)</strong></td>
                        <td />
                        <td />
                        <td />
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <!-- CHART -->
                <div id="chart_div">

                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No existen pagos correspondientes al período respectivo
    </div>
}
