﻿@using ECO_Partner.Business
@model ECOsystem.Models.Core.Customers

@Html.HiddenFor(m => m.CustomerId)
@Html.HiddenFor(m => m.RowVersion)

@{
    var partnerType = ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId());
    var enableCheckToPrincipalEmail = false;
    var enableModules = true;

    if(partnerType == ECOsystem.Utilities.ProductInfo.LineVitaECO)
    {
        enableModules = false;
        if (Model.CustomerId == null)
        {
            enableCheckToPrincipalEmail = true;

            Model.ModuleEfficiency = true;
            Model.ModuleOperation = true;
        }
    }
}

<div class="row">
    <div class="col-sm-12">
        <div id="ValidationMessage"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.DecryptedName, new { @class = "col-sm-14" })
                @Html.TextBoxFor(m => m.DecryptedName, new { placeholder = "Nombre del Cliente", @class = "form-control", autofocus = "", maxLength = 250 })
            </div>
            <div class="col-sm-4">
                @Html.Label("Dirección", new { @class = "col-sm-14" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-map-marker"></span>
                    </span>
                    @Html.TextBoxFor(m => m.Address, new { placeholder = "Dirección", @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <br />
                @Html.Label("¿Estado del Cliente?  ", new { @class = "control-label" })&nbsp;
                @Html.CheckBoxFor(m => m.IsActive, new { @type = "checkbox", @class = "toggleCheck" })
            </div>
        </div>
        <div class="row" style="margin-bottom:15px;">
            <div class="col-sm-4">
                @Html.Label("Contacto", new { @class = "col-sm-14" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-account-card-details"></span>
                    </span>
                    @Html.TextBoxFor(m => m.ContactName, new { placeholder = "Contacto", @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                @Html.Label("Correo", new { @class = "col-sm-14" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-at"></span>
                    </span>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Correo de Contacto", @class = "form-control" })
                </div>
                @{
                    if (enableCheckToPrincipalEmail == true && partnerType == ECOsystem.Utilities.ProductInfo.LineVitaECO)
                    {
                        <div>
                            @Html.Label("¿Cliente sin correo?", new { @class = "control-label" })
                            &nbsp;
                            @Html.CheckBox("chbxEnableClientWithoutEmail", false, new { @type = "checkbox", style = "position: relative; top: 2px;" })
                        </div>
                    }

                }
            </div>
            <div class="col-sm-4">
                @Html.Label("Teléfono", new { @class = "col-sm-14" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-phone"></span>
                    </span>
                    @Html.TextBoxFor(m => m.MainPhone, new { placeholder = "Teléfono de Contácto", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px;">
            <div class="col-sm-4">
                @Html.Label("Contacto Financiero", new { @class = "col-sm-14" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-account-card-details"></span>
                    </span>
                    @Html.TextBoxFor(m => m.FinancialContact, new { placeholder = "Contacto Financiero", @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                @Html.Label("Correo de Contacto Financiero", new { @class = "col-sm-14" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-at"></span>
                    </span>
                    @Html.TextBoxFor(m => m.FinancialEmail, new { placeholder = "Correo de Contacto Financiero", @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                @Html.Label("Teléfono de Contacto Financiero", new { @class = "col-sm-14" })
                <div class='input-group'>
                    <span class="input-group-addon">
                        <span class="mdi mdi-phone"></span>
                    </span>
                    @Html.TextBoxFor(m => m.SecundaryPhone, new { placeholder = "Teléfono de Contacto Financiero", @class = "form-control" })
                </div>
            </div>
        </div>
        @*<div class="row" style="margin-bottom:15px;">
            <div class="col-sm-6">
                @Html.Label("¿Permiso de asignacion a varios combustibles?", new { @class = "control-label" })
                @Html.CheckBoxFor(m => m.FuelPermit, new { @type = "checkbox", @class = "toggleCheck" })
            </div>
        </div>*@
        @if (partnerType == ECOsystem.Utilities.ProductInfo.LineVitaECO)
        {
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-4">
                    <br />
                    @Html.Label("Habilitar Modo Prueba:  ", new { @class = "control-label" })&nbsp;
                    @Html.CheckBoxFor(m => m.isDemo, new { @type = "checkbox", @class = "toggleCheck" })
                </div>
                <div class="col-sm-4">
                    <span id="lbInfoDateDemo" data-toggle="tooltip" data-placement="top" title="El sistema asigna por defecto un mes para el uso del modo Piloto.">
                        <i class="mdi mdi-information" style="font-size:18px; color:#31708f"></i>
                    </span>
                    @Html.Label("Día Final de Prueba", new { @id = "lblDateDemo", @class = "col-sm-14 control-label" })
                    <div class="input-group date" id='datetimepickerIsDemoAlert'>
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                        @Html.TextBoxFor(m => m.StartDateStr, new { placeholder = "Alertar el día", @class = "form-control", @autocomplete = "off" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Módulos</b></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 center">
                        <div class="checkbox">  @Html.CheckBoxFor(m => m.ModuleEfficiency) Eficiencia </div>
                    </div>
                    <div class="col-sm-2 center">
                        @if (enableModules)
                        {
                            <div class="checkbox"> @Html.CheckBoxFor(m => m.ModuleControl, new { @id = "chkControl", onclick = "ECO_Partner.Customers.EnableControl($(this).is(':checked'));" }) Control </div>
                        }
                        else
                        {
                            <div class="checkbox"> @Html.CheckBoxFor(m => m.ModuleControl, new { @id = "chkControl", @disabled = "disabled" }) Control </div>
                        }
                    </div>
                    <div class="col-sm-2 center">
                        <div class="checkbox"> @Html.CheckBoxFor(m => m.ModuleOperation) Operación </div>
                    </div>
                    <div class="col-sm-2 center">
                        @if (enableModules)
                        {
                            <div class="checkbox"> @Html.CheckBoxFor(m => m.ModuleManagement) Gestión </div>
                        }
                        else
                        {
                            <div class="checkbox"> @Html.CheckBoxFor(m => m.ModuleManagement, new { @id = "chkControl", @disabled = "disabled" }) Gestión </div>
                        }
                    </div>
                    <div class="col-sm-2 center">
                        <div class="checkbox">  @Html.CheckBoxFor(m => m.HasFleetio) FleetIO </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
