﻿@model ECOsystem.Models.Core.Users
@{
    Model.ChangePassword = false;
    var photo = Model.Photo;
    int? iCustomerId = null;

    if (Model.IsCustomerUser == true)
    { 
        iCustomerId = Model.CustomerId; 
    }
        
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    
    string ClassHidden = "";
    var configProductTypeUserLog =System.Configuration.ConfigurationManager.AppSettings["TEMPLATE_TYPE"]; //ECOsystem.Utilities.Session.GetProductInfo(); ;

    var productInfo = Convert.ToInt32(configProductTypeUserLog); //Se coloca por defecto el Product type del Usuario Loggeado
    if (iCustomerId != null && iCustomerId > 0)
    {
        productInfo = ECO_Partner.Business.PartnersBusiness.GetProductTypeInfo(Convert.ToInt32(iCustomerId)); 
    }

    //Mantener por defecto BACFLOTA   
    switch (productInfo)
    {
        case (int)ECOsystem.Utilities.ProductInfo.IntrackECO:
            <input id="productinfo" class="hidden" name="Header" value="1" />
            break;
        case (int)ECOsystem.Utilities.ProductInfo.LineVitaECO:
            <input id="productinfo" class="hidden" name="Header" value="3" />
            break;
        default: //(int)ECOsystem.Utilities.ProductInfo.BACFlota:
            <input id="productinfo" class="hidden" name="Header" value="2" />
            break;
    }

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}


<!-- Modal Start-->
<div class="modal fade" id="addOrEditUsersModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 740px;">
        <div class="modal-content">

            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.CustomerId)
            @Html.HiddenFor(m => m.CustomerUserId)
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.IsCustomerUser, new { @Value = "true" })

            @*<input class="hidden" name="RoleName" value="CUSTOMER_ADMIN" />*@

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-horizontal col-sm-8" role="form">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DecryptedName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.DecryptedName, new { placeholder = "Nombre completo", @class = "form-control", autofocus = "", @id = "TxtNewUserNameAdd" })
                                @Html.ValidationMessageFor(m => m.DecryptedName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DecryptedIdentification, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.DecryptedIdentification, new { placeholder = "Número de Identificación", @class = "form-control", numeric = "", @id = "TxtNewUserIDAdd" })
                                @Html.ValidationMessageFor(m => m.DecryptedIdentification, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        @if (Model.UserId != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedEmail, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DecryptedEmail, new { placeholder = "Correo Electrónico", @class = "form-control", @id = "TxtNewUserEmailAdd",  @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedEmail, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DecryptedEmail, new { placeholder = "Correo Electrónico", @class = "form-control", @id = "TxtNewUserEmailAdd" })
                                    @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        

                        <div class="form-group">
                            @Html.LabelFor(m => m.DecryptedPhoneNumber, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.DecryptedPhoneNumber, new { placeholder = "Número de Celular", @class = "form-control", numeric = "", @id = "TxtNewUserCellAdd" })
                            </div>
                        </div>

                        @* GSOLANO: Checks if the User has a LineVita User role so the user cannot change the role  *@ @* @if (Model.RoleName == "LINEVITA_ADMIN" && Model.UserId != null)*@
                        @if (Model.UserId != null && productInfo == (int)ECOsystem.Utilities.ProductInfo.LineVitaECO) // civargas: Modify Date: 29/07/2016
                        {
                            ClassHidden = "hidden";
                            <input name="RoleId" class="hidden" value="@Model.RoleId">
                        }
                        else
                        {
                            <div class="form-group @ClassHidden">
                                @Html.LabelFor(m => m.RoleName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.RoleId, @ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveRolesPermissions(null, true, iCustomerId), "Seleccione un Rol", new { @class = "form-control", numeric = "", custom = "true" })
                                    @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        @if (Model.UserId == null)
                        {
                            <div class="form-group">
                                <div class="col-sm-8 pull-right">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            @Html.CheckBoxFor(m => m.IsEmailConfirmed) No necesita confirmación
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }

                            </div>
                    <div class="col-sm-2">
                        <img class="pic" src="@photo" id="imgPhoto" width="128" height="128" />
                        <div class="progress_bar">
                            <div class="percent">
                                0%
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.Photo)
                        <button id="btnUploadUser" type="button" class="btn btn-primary" style="width: 128px"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;&nbsp;Cargar Foto</button>
                        <input type="file" class="hide" id="fileHiddenUser" size="43" name="fileHiddenUser" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-horizontal col-sm-8" role="form">
                        
                        @if (Model.UserId != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.DecryptedUserName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBox("_UserName", Model.DecryptedUserName, new { disabled = "disabled", @class = "form-control" })
                                    @Html.HiddenFor(m => m.DecryptedUserName)
                                </div>
                            </div>
                        }

                    </div>
                    <div class="form-horizontal col-sm-8" role="form">
                        <div class="form-group" id="divTest" style="display: none;">
                            @Html.LabelFor(m => m.LabelPrevPassword, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.PrevPasswordTemp, new { placeholder = "Asignar Contraseña", @class = "form-control", id = "txtAsigCont" })

                                @Html.ValidationMessageFor(m => m.PrevPasswordTemp, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" id="lblError"></label>
                        <div id="validationErrors" class="col-sm-7 top20">
                            <div id="errorMsj" class="text-danger">
                            </div>
                        </div>
                    </div>

                        <div class="col-sm-4 form-horizontal">

                            @if (Model.UserId != null)
                            {
                                <div class="form-group">
                                    <div class="">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.IsActive)Activo
                                            </label>
                                            @Html.ValidationMessageFor(m => m.IsActive)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.ChangePassword, new { id = "ChkChangePass"})Cambiar Contraseña
                                            </label>
                                            @Html.ValidationMessageFor(m => m.ChangePassword)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.IsLockedOut)Bloqueado
                                            </label>
                                            @Html.ValidationMessageFor(m => m.IsLockedOut)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            @Html.CheckBoxFor(m => m.ChangePrevPassword, new { id = "ChkPrevPass" })Asignar Contraseña
                                        </label>
                                    </div>
                                </div>


                            }
                        </div>
                    </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div id="sectionSubmit">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.CheckValidUserName()"><i class=" glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<script src="~/Scripts/Settings/CustomerAddUsers.js?v=@version-hf0"></script>
<script type="text/javascript">
    $(function () {
        ECO_Partner.CustomerAddUsers.Init();
    });

    $('#ChkChangePass').change(function () {
        // code here to hide your text
        //var isChecked = $(this).attr('checked');

        var isChecked = $(this).is(':checked');
        if (isChecked == true) {
            $('#divTest').css("display", "none");
            $("#ChkPrevPass").prop('checked', false);
            $("#txtAsigCont").val("");

            setErrorMsj('', true);
        }
    }
      );

    $('#ChkPrevPass').change(function () {
        // code here to hide your text
        //var isChecked = $(this).attr('checked');
        setErrorMsj('', true);

        var isChecked = $(this).is(':checked');
        if (isChecked == true) {
            $('#divTest').css("display", "block");
            $("#ChkChangePass").prop('checked', false);
        }
        else {
            $('#divTest').css("display", "none");
            $("#txtAsigCont").val("");
        }
    }
      );

    $(function () {
        $('#sectionSubmit').off('click.btnSubmit', 'button[type=submit]').on('click.btnSubmit', 'button[type=submit]', function (e) {
            setErrorMsj('', true);
            if (validateNewPassword()) {
                return true;
            } else {
                return false;
            }
        });
    });

    $("#txtAsigCont").blur(function () {
        setErrorMsj('', true);
        if (validateNewPassword()) {
            setErrorMsj('', true);
            return true;
        } else {
            return false;
        }
    });

    var validateNewPassword = function () {
        if ($('#txtAsigCont').length > 0) {
            if ($('#txtAsigCont').val().length == 0) {
                return true;
            }

            var pass = "";
            if ($("#productinfo").val() == 3) {
                pass = /^[A-Za-z0-9]\S*.{5}$/;
            }
            else {
                pass = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
            }

            if ($('#txtAsigCont').val().match(pass)) {
                if ($('#txtAsigCont').val() != $('#TxtNewUserEmailAdd').val()) {
                    return true;
                } else {
                    setErrorMsj('La contraseña debe ser diferente al Email', true);
                    return false;
                }
            } else {
                
                if ($("#productinfo").val() == 3) {
                    setErrorMsj('La contraseña debe contener al menos 6 caracteres y un dígito numérico', true);
                }
                else {
                    setErrorMsj('La contraseña debe contener al menos entre 8 y 15 caracteres, una letra minúscula, una letra mayúscula, un dígito numérico y un carácter especial', true);
                }
                return false;
            }

            
        }
        return true;
    };


    var setErrorMsj = function (msj, show) {
        if (show) {
            $('#errorMsj').html(msj);
            $('#validationErrors').removeClass('hide');
        } else {
            $('#errorMsj').html('');
            $('#validationErrors').addClass('hide');
            $('.validation-summary-errors').html('');
            $('.validation-summary-errors').addClass('hide');
        }

    }
</script>
