﻿@using ECO_Partner.Business
@model ECOsystem.Models.Core.CustomerCreditCards

<!-- Modal Start-->
<div class="modal fade" id="addOrEditCardModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.HiddenFor(m => m.CustomerCreditCardId)
            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.InternationalCard)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Tarjeta Maestra</h4>
            </div>
            <div class="modal-body">
                @if (Model.InternationalCard)
                {
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                        <div class="row">
                            <div class="col-sm-1" style="margin-right:-10px;">
                                <i class="mdi mdi-information" style="font-size:25px;"></i>
                            </div>
                            <div class="col-sm-11" style="margin-left:-30px;">
                                <span style="font-weight:bold;">Tarjeta Internacional</span> le permitirá realizar transacciones Internacionales. Sin embargo, la tarjeta será destinada únicamente a este tipo de transacciones.
                            </div>
                        </div>
                    </div>
                }
                <div class="row" style="margin-top: 2px;">
                    <div class="form-group form-horizontal col-sm-6" role="form">
                        @Html.LabelFor(m => m.DisplayCreditCardNumber, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.DisplayCreditCardNumber, new { placeholder = "Numero de Tarjeta", @class = "form-control", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.DisplayCreditCardNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-horizontal col-sm-6" role="form">
                        @Html.LabelFor(m => m.CreditCardHolder, new { @class = "col-sm-14 control-label" })
                        @Html.TextBoxFor(m => m.CreditCardHolder, new { placeholder = "Titular", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CreditCardHolder, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row" style="margin-top: 2px;">
                    <div class="form-group form-horizontal col-sm-12" role="form">
                        @Html.LabelFor(m => m.ExpirationDate, new { @class = "col-sm-14 control-label" })
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.ExpirationMonth, @ECOsystem.Business.Utilities.GeneralCollections.GetMonthNames, "Seleccione Mes", new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.ExpirationYear, @ECOsystem.Business.Utilities.GeneralCollections.GetCardYears, "Seleccione Año", new { @class = "form-control", @onchange = "populateMonthsDropDown(this.value)" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.ExpirationMonth, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.ExpirationYear, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row" style="margin-top: 2px;">
                    <div class="form-group form-horizontal col-sm-12" role="form">
                        @Html.LabelFor(m => m.CreditLimitStr, new { @class = "col-sm-14 control-label" })
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Model.CurrencySymbol</span>
                                    @Html.TextBoxFor(m => m.CreditLimitStr, new { placeholder = "Monto de Crédito", @class = "form-control"})
                                    @Html.HiddenFor(m => m.CreditLimit)
                                    @Html.HiddenFor(m => m.AssignedCredit)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.CurrencyName, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.CreditLimitStr, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row" style="margin-top: 2px;">
                    <div class="form-group form-horizontal col-sm-6" role="form">
                        @Html.LabelFor(m => m.StatusId, new { @class = "col-sm-14 control-label" })
                        @Html.DropDownListFor(m => m.StatusId, GeneralCollections.GetPartnerCardStatus, "Seleccione un Estado", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StatusId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-horizontal col-sm-6" role="form">
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label style="font-weight:bold;">
                                        @Html.CheckBox("InternationalCardCheck", Model.InternationalCard, new { disabled = "disabled" })
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-10" style="margin-left: -50px;">
                                @Html.LabelFor(m => m.InternationalCard, new { @class = "control-label" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">                
                <div>
                    <button id="btnCancelDetailCard" type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button id="btnSaveDetailCard" type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.CheckInactiveCards()"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
<script type="text/javascript">
    $(function(){
        var CustomerCreditCardId = $("#CustomerCreditCardId").val();
        if(CustomerCreditCardId == undefined || CustomerCreditCardId == ""){
            populateMonthsDropDown($("#ExpirationYear :selected").val());
        }

        $('#DisplayCreditCardNumber').off('blur.DisplayCreditCardNumber').on('blur.DisplayCreditCardNumber', function (e) {
            
            var val = $(this).val().split('-').join('');

            if (val.length == 16) {
                val = val.replace(/(\d{4})(\d{4})(\d{4})(\d{4})/, "$1-$2-$3-$4");
            } else {
                val = val.replace(/(\d{4})(\d{6})(\d{5})/, "$1-$2-$3");
            }
            $(this).val(val);
        });            
    });

    function populateMonthsDropDown(x) {

        var CustomerCreditCardId = $("#CustomerCreditCardId").val();
        var year  = @DateTime.Now.Year;
        var monthvalues;
        var firstElement = "";

        var monthVal = $("#ExpirationMonth :selected").val();

        if (x == year) {
            monthvalues = @ECOsystem.Business.Utilities.GeneralCollections.GetMonthCardNames(DateTime.Now.Year);
            $('#ExpirationMonth').empty();
            $.each(monthvalues, function() {
                $("<option value="+this.Key+"></option>").text(this.Value).appendTo($('#ExpirationMonth'));
                if(firstElement == "" && (CustomerCreditCardId == undefined || CustomerCreditCardId == "")){
                    firstElement = this.Key;             
                }

                if(monthVal == this.Key)
                {
                     firstElement = monthVal;                        
                }                
            });

            if(firstElement != "" && firstElement != undefined){
                $("#ExpirationMonth").select2("val", firstElement);
            }
        }
        else
        {
            monthvalues = @ECOsystem.Business.Utilities.GeneralCollections.GetMonthCardNames(0);
            $('#ExpirationMonth').empty();
            $.each(monthvalues, function() {
                $("<option value="+this.Key+"></option>").text(this.Value).appendTo($('#ExpirationMonth'));

                $("#ExpirationMonth").select2("val", monthVal);                
            });
        }
    }

</script>
