﻿@using ECO_Partner.Business
@model ECOsystem.Models.Core.CardRequest
@{
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var geopoliticalLevel3 = geopoliticalNames.Count > 2 ? geopoliticalNames[2] : "División geopolítica nivel 3";
}
<!-- Modal Start-->
<div class="modal fade" id="addOrEditCardRequestModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            @Html.HiddenFor(m => m.CardRequestId)
            @Html.HiddenFor(m => m.RowVersion)

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Solicitud de Tarjeta para Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.Label("_GeographicDivision", "Ubicación Geográfica", new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-7">
                            @if (Model.DeliveryState == null || Model.DeliveryState == "")
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.StateId, GeneralCollections.GetStates(Model.CountryId), "Seleccione " + @geopoliticalLevel1, new { @class = "form-control", autofocus = "", custom = "true" })
                                        @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(m => m.CountyId, GeneralCollections.GetCounties(Model.StateId, Model.CountryId), "Seleccione " + @geopoliticalLevel2, new { @class = "form-control", custom = "true" })
                                        @Html.ValidationMessageFor(m => m.CountyId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.DeliveryState, new { placeholder = @geopoliticalLevel1, @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DeliveryState, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.DeliveryCounty, new { placeholder = @geopoliticalLevel2, @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DeliveryCounty, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-sm-1">
                            @if (Model.CardRequestId == null)
                            {
                                <button id="btnPaste" type="button" class="btn btn-warning" title="Usar Información del registro anterior">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @if (Model.DeliveryState == null || Model.DeliveryState == "")
                        {
                            <div class="col-sm-7 col-sm-offset-4">
                                @Html.DropDownListFor(m => m.CityId, GeneralCollections.GetCities(Model.CountyId, Model.StateId, Model.CountryId), "Seleccione " + @geopoliticalLevel3, new { @class = "form-control", custom = "true" })
                                @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-7 col-sm-offset-4">
                                @Html.TextBoxFor(m => m.DeliveryCity, new { placeholder = @geopoliticalLevel3, @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DeliveryCity, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AddressLine1, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-7">
                            @Html.TextAreaFor(m => m.AddressLine1, new { placeholder = "Dirección exacta de Entrega", @class = "form-control", rows = "3" })
                            @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-4">
                            @Html.TextBoxFor(m => m.AddressLine2, new { placeholder = "Otras Señas", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group top20">
                        @Html.LabelFor(m => m.AuthorizedPerson, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.AuthorizedPerson, new { placeholder = "Nombre completo Persona Autorizada", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AuthorizedPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-7 col-sm-offset-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(m => m.ContactPhone, new { placeholder = "Teléfono", @class = "form-control", numeric = "" })
                                    @Html.ValidationMessageFor(m => m.ContactPhone, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    <div class='input-group date' id='datePickerEstimatedDelivery'>
                                        @Html.TextBoxFor(m => m.EstimatedDeliveryStr, new { placeholder = "Fecha entrega de tarjeta", @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.EstimatedDeliveryStr, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group top20">
                        @Html.LabelFor(m => m.PaymentReference, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.PaymentReference, new { placeholder = "Comprobante de  depósito", @class = "form-control", numeric = "" })
                            @Html.ValidationMessageFor(m => m.PaymentReference, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group top20">
                        <label class="col-sm-10 col-sm-offset-1" style="color: #428bca; border-bottom: 1px solid #ddd;">Referencia para la FleetCard</label>
                    </div>

                    @Html.Hidden("hdnLastPlate", Model.PlateId)
                    @if (Model.IssueForId == 101)
                    {
                        <div class="form-group top20">
                            @Html.LabelFor(m => m.PlateId, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.PlateId, new { placeholder = "No. Placa", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlateId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.DriverName)
                        @Html.HiddenFor(m => m.DriverIdentification)
                    }

                    @if (Model.IssueForId == 100)
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.DriverName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.DriverName, new { placeholder = "Nombre de Conductor", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DriverName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.DriverIdentification, new { placeholder = "Identificación", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DriverIdentification, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        @Html.HiddenFor(m => m.PlateId)
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.CheckValidCardPlate()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->