﻿@model List<ECOsystem.Models.Core.CustomerCreditCards>
@{
    var notInternational = Model.Where(x => !x.InternationalCard).FirstOrDefault();
    var international = Model.Where(x => x.InternationalCard).FirstOrDefault();
    var hasPayments = ECOsystem.Utilities.Session.GetPartnerInfo().HasPayments;
    var symbol = notInternational != null ? notInternational.CurrencySymbol : "";
    var customerId = Model != null && Model.Count > 0 ? Model.FirstOrDefault().CustomerId : (int?)null;
}

@Html.Hidden("existInternacionalCard", international != null ? international.StatusName : "NA")

<div class="col-sm-12 masterCardPills">
    <div class="col-sm-3">
        @Html.Label("Tarjeta Maestra Local")
    </div>
    <div class="col-sm-1">
        @Html.Label("Límite")
    </div>
    <div class="col-sm-3">
        <label class="label label-success col-sm-12 lblBudget">
            @string.Format(notInternational != null ? notInternational.CreditLimitDisplayStr : "0.00")
        </label>
    </div>
    <div class="col-sm-2">
        @Html.Label(notInternational != null ? notInternational.CurrencyName : "NA")
    </div>
    <div class="col-sm-1">
        @Html.Label(notInternational != null ? notInternational.StatusName : "NA")
    </div>
    <div class="col-sm-2 text-right">
        @{
            var master = notInternational == null ?
                string.Format("<i class=\"mdi mdi-plus\"></i>&nbsp;Agregar") :
                string.Format("<i class=\"mdi mdi-pencil\"></i>&nbsp;Editar");
            var id = notInternational != null ? notInternational.CustomerCreditCardId : -1;
        }
        <button id="btnMasterCardLocal" type="button" class="btn btn-primary btnEditCards" onclick="ECO_Partner.Customers.AddOrEditMasterCards(@id, false)">@Html.Raw(master)</button>
    </div>
</div>
<div id="MasterCardDetailLocal" class="panel panel-default" hidden>
    <div class="panel-body">
        @Html.HiddenFor(m => notInternational.CustomerCreditCardId)
        @Html.HiddenFor(m => notInternational.InternationalCard)
        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-6" role="form">
                @Html.LabelFor(m => notInternational.DisplayCreditCardNumber, new { @class = "col-sm-14 control-label" })
                @Html.TextBoxFor(m => notInternational.DisplayCreditCardNumber, new { placeholder = "Número de Tarjeta", @class = "form-control masterCard", autofocus = "", autocomplete = "off" })
                <label class="text-danger mastercardformat" hidden>Formato Válido: ####-####-####-#### ó ####-######-#####</label>
            </div>
            <div class="form-group form-horizontal col-sm-6" role="form">
                @Html.LabelFor(m => notInternational.CreditCardHolder, new { @class = "col-sm-14 control-label" })
                @Html.TextBoxFor(m => notInternational.CreditCardHolder, new { placeholder = "Titular", @class = "form-control" })
                @Html.ValidationMessageFor(m => notInternational.CreditCardHolder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-12" role="form">
                @Html.LabelFor(m => notInternational.ExpirationDate, new { @class = "col-sm-14 control-label" })
                <div class="row">
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => notInternational.ExpirationMonth, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNamesByMonth(notInternational != null ? notInternational.ExpirationMonth : null), "Seleccione Mes", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => notInternational.ExpirationYear, ECOsystem.Business.Utilities.GeneralCollections.GetCardYearsByYear(notInternational != null ? notInternational.ExpirationYear : null), "Seleccione Año", new { @class = "form-control" })
                    </div>
                </div>
                @Html.ValidationMessageFor(m => notInternational.ExpirationMonth, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => notInternational.ExpirationYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-12" role="form">
                @Html.LabelFor(m => notInternational.CreditLimitStr, new { @class = "col-sm-14 control-label" })
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">@symbol</span>
                            @Html.TextBoxFor(m => notInternational.CreditLimitStr, new { placeholder = "Monto de Crédito", @class = "form-control" })
                            @Html.HiddenFor(m => notInternational.CreditLimit)
                            @Html.HiddenFor(m => notInternational.AssignedCredit)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => notInternational.CurrencyName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                @Html.ValidationMessageFor(m => notInternational.CreditLimitStr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-6" role="form">
                @Html.LabelFor(m => notInternational.StatusId, new { @class = "col-sm-14 control-label" })
                @Html.DropDownListFor(m => notInternational.StatusId, ECO_Partner.Business.GeneralCollections.GetPartnerCardStatusById(notInternational != null ? notInternational.StatusId : null), "Seleccione un Estado", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => notInternational.StatusId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-horizontal col-sm-6" role="form">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label style="font-weight:bold;">
                                @Html.CheckBox("InternationalCardCheck", notInternational != null ? notInternational.InternationalCard : false, new { disabled = "disabled" })
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-10" style="margin-left: -50px;">
                        @Html.LabelFor(m => notInternational.InternationalCard, new { @class = "control-label" })
                    </div>
                </div>
            </div>
        </div>
        @if (hasPayments)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Información de Pagos</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <button id="btnAddPayment" type="button" class="btn btn-success form-group" title="Agregar" onclick="ECO_Partner.Customers.OnClickAddPayment()"><i class="mdi mdi-plus"></i> Agregar Pago</button>
                        </div>
                    </div>
                    <hr />
                    <div id="PaymentPanel" class="panel panel-default" hidden>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    @Html.Label("lblPayment", "Monto del Pago:", new { @class = "control-label" })
                                    @Html.TextBox("txtPayment", "", new { placeholder = "Pago", @class = "form-control", @onBlur = "ECO_Partner.Customers.ValidateAmount($(this))", @onkeyPress = "return soloNumeros(event)" })

                                </div>
                                <div class="col-sm-3" style="padding-top:24px">
                                    <button type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.OnClickSavePayment()"><i class="mdi mdi-check"></i>&nbsp;Agregar</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ECO_Partner.Customers.OnClickbtnCancelPayment()"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @if (notInternational != null)
                    {
                        var hide1 = (notInternational.Parameters.ReportCriteriaId != null && notInternational.Parameters.ReportCriteriaId == (int)ECO_Partner.Models.ReportCriteria.DateRange) ? "" : "hide";
                        var hide2 = (notInternational.Parameters.ReportCriteriaId != null && notInternational.Parameters.ReportCriteriaId == (int)ECO_Partner.Models.ReportCriteria.Period) ? "" : "hide";

                        <div class="row">
                            <div class="col-sm-3">
                                @Html.DropDownListFor(m => notInternational.Parameters.ReportCriteriaId, ECO_Partner.Business.GeneralCollections.GetReportCriteria, new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                            </div>

                            <div data-repor-by="1000" class="@hide2">
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(m => notInternational.Parameters.Month, ECO_Partner.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                                </div>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(m => notInternational.Parameters.Year, ECO_Partner.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                                </div>
                            </div>

                            <div data-repor-by="2000" class="@hide1">
                                <div class="col-sm-3">
                                    <div class='input-group date' id='datetimepickerStartDate'>
                                        @Html.TextBoxFor(m => notInternational.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class='input-group date' id='datetimepickerEndDate'>
                                        @Html.TextBoxFor(m => notInternational.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                        <span class="input-group-addon">
                                            <span class="mdi mdi-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-success" onclick="ECO_Partner.Customers.OnClickSearch()"><i class="mdi mdi-download"></i>&nbsp;Buscar</button>
                            </div>
                        </div>
                        <hr />
                        <hr />
                        <div id="PaymentGrid">
                            @Html.Partial("_partials/_CustomerPayments", notInternational.Payments)
                        </div>

                    }
                </div>
            </div>
        }
        <div>
            <button id="btnCancelDetailCardLocal" type="button" class="btn btn-default btnCancelMasterCard" customerId="@customerId" data-dismiss="modal" onclick="$('#MasterCardDetailLocal').hide('slow');"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
            <button id="btnSaveDetailCardLocal" type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.CheckInactiveCards(false)"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>
<hr />
<div class="col-sm-12 masterCardPills">
    <div class="col-sm-3">
        @Html.Label("Tarjeta Maestra Internacional")
    </div>
    <div class="col-sm-1">
        @Html.Label("Límite")
    </div>
    <div class="col-sm-3">
        <label class="label label-success col-sm-12 lblBudget">
            @string.Format(international != null ? international.CreditLimitDisplayStr : "0.00")
        </label>
    </div>
    <div class="col-sm-2">
        @Html.Label(international != null ? international.CurrencyName : "NA")
    </div>
    <div class="col-sm-1">
        @Html.Label(international != null ? international.StatusName : "NA")
    </div>
    <div class="col-sm-2 text-right">
        @{
            var masterInt = international == null ?
                string.Format("<i class=\"mdi mdi-plus\"></i>&nbsp;Agregar") :
                string.Format("<i class=\"mdi mdi-pencil\"></i>&nbsp;Editar");
            id = international != null ? international.CustomerCreditCardId : -1;
        }
        <button id="btnMasterCardInternational" type="button" class="btn btn-primary btnEditCards" onclick="ECO_Partner.Customers.AddOrEditMasterCards(@id, true)">@Html.Raw(masterInt)</button>
    </div>
</div>
<div id="MasterCardDetailInter" class="panel panel-default" hidden>
    @Html.HiddenFor(m => international.CustomerCreditCardId)
    @Html.HiddenFor(m => international.InternationalCard)
    <div class="panel-body">
        <hr />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <div class="row">
                <div class="col-sm-1" style="margin-right:-10px;">
                    <i class="mdi mdi-information" style="font-size:25px;"></i>
                </div>
                <div class="col-sm-11" style="margin-left:-30px;">
                    <span style="font-weight:bold;">Tarjeta Internacional</span> le permitirá realizar transacciones Internacionales. Sin embargo, la tarjeta será destinada únicamente a este tipo de transacciones.
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-6" role="form">
                @Html.LabelFor(m => international.DisplayCreditCardNumber, new { @class = "col-sm-14 control-label" })
                @Html.TextBoxFor(m => international.DisplayCreditCardNumber, new { placeholder = "Número de Tarjeta", @class = "form-control masterCard", autofocus = "", autocomplete = "off" })
                <label class="text-danger mastercardformat" hidden>Formato Válido: ####-####-####-#### ó ####-######-#####</label>
            </div>
            <div class="form-group form-horizontal col-sm-6" role="form">
                @Html.LabelFor(m => international.CreditCardHolder, new { @class = "col-sm-14 control-label" })
                @Html.TextBoxFor(m => international.CreditCardHolder, new { placeholder = "Titular", @class = "form-control" })
                @Html.ValidationMessageFor(m => international.CreditCardHolder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-12" role="form">
                @Html.LabelFor(m => international.ExpirationDate, new { @class = "col-sm-14 control-label" })
                <div class="row">
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => international.ExpirationMonth, ECOsystem.Business.Utilities.GeneralCollections.GetMonthNamesByMonth(international != null ? international.ExpirationMonth : null), "Seleccione Mes", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => international.ExpirationYear, ECOsystem.Business.Utilities.GeneralCollections.GetCardYearsByYear(international != null ? international.ExpirationYear : null), "Seleccione Año", new { @class = "form-control" })
                    </div>
                </div>
                @Html.ValidationMessageFor(m => international.ExpirationMonth, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => international.ExpirationYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-12" role="form">
                @Html.LabelFor(m => international.CreditLimitStr, new { @class = "col-sm-14 control-label" })
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">@symbol</span>
                            @Html.TextBoxFor(m => international.CreditLimitStr, new { placeholder = "Monto de Crédito", @class = "form-control" })
                            @Html.HiddenFor(m => international.CreditLimit)
                            @Html.HiddenFor(m => international.AssignedCredit)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => international.CurrencyName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                @Html.ValidationMessageFor(m => international.CreditLimitStr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="margin-top: 2px;">
            <div class="form-group form-horizontal col-sm-6" role="form">
                @Html.LabelFor(m => international.StatusId, new { @class = "col-sm-14 control-label" })
                @Html.DropDownListFor(m => international.StatusId, ECO_Partner.Business.GeneralCollections.GetPartnerCardStatusById(international != null ? international.StatusId : null), "Seleccione un Estado", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => international.StatusId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-horizontal col-sm-6" role="form">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label style="font-weight:bold;">
                                @Html.CheckBox("InternationalCardCheck", true, new { disabled = "disabled" })
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-10" style="margin-left: -50px;">
                        @Html.LabelFor(m => international.InternationalCard, new { @class = "control-label" })
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button id="btnCancelDetailCardInter" type="button" customerId="@customerId" class="btn btn-default btnCancelMasterCard" data-dismiss="modal" onclick="$('#MasterCardDetailInter').hide('slow');"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
            <button id="btnSaveDetailCardInter" type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.CheckInactiveCards(true)"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</div>