﻿@model IEnumerable<ECOsystem.Models.Core.Users>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .Columns(c =>
          {
              @*c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .Titled("Foto")
                  .RenderValueAs(m => @<img src="@m.Photo" width="50" height="30" />);*@
              c.Add(m => m.DecryptedName).Titled("Nombre");
              c.Add(m => m.DecryptedIdentification).Titled("Identificación");
              c.Add(m => m.DecryptedUserName).Titled("Usuario Web");
              c.Add(m => m.IsActive).Titled("Activo?").RenderValueAs(m => Html.CheckBox("_Active", m.IsActive, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center");
              c.Add(m => m.IsLockedOut).Titled("Bloqueado?").RenderValueAs(m => Html.CheckBox("_IsLockedOut", m.IsLockedOut, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center");
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(120)
                  .RenderValueAs(m => 
                     @<div>
                        <span style="width:35px;">
                            <a href="#" class="edit-color" id="@m.UserId" title="Editar" edit-user-row><i class="glyphicon glyphicon-pencil"></i></a>
                        </span>
                        <span style="width:35px;">
                            <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModalCustomerUsers" id="@m.UserId" title="Eliminar" del-user-row><i class="mdi mdi-close mdi-18px"></i></a>
                        </span>
                        <span style="width:35px;">
                            <a href="#" class="delete-color" id="@m.UserId" data-CustomerName="@m.DecryptedName" title="Clientes" set-user-row ><i class="glyphicon glyphicon-user"></i></a>
                        </span>
                    </div>)
                  .Css("grid-col-btn");
          }).Selectable(true))
}
@*else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}*@
    

