﻿@model IEnumerable<ECOsystem.Models.Core.Customers>

<style>
    .isDemoAlert {
        background-color: #fd9494 !important;
    }
    .expireDemoIcon {
        font-size: 24px;
        color: #ef0808;
    }
    .isDemoIcon {
        font-size: 24px;
        color: #3eb53e;
    }
    .legend {
        font-weight: bold;
        padding-top: 5px;
        display: block;
    }
</style>

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
        <label>Total de clientes: @Model.Count()</label>

           @if (ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId()) == ECOsystem.Utilities.ProductInfo.LineVitaECO)
           {
               @(Html.Grid(Model)
                .Selectable(true)
                .WithPaging(20,20)
                .Columns(c =>
                {
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @<div> @if (m.isDemo){ <div>
                                    @if (m.ShowDemoAlert) {
                                        <i data-toggle="tooltip" data-placement="top" title="Modo Prueba ha Expirado!!" class="mdi mdi-alert expireDemoIcon"></i>
                                    } else {
                                        <i data-toggle="tooltip" data-placement="top" title="Cliente se encuentra en Modo Prueba" class="mdi mdi-alert isDemoIcon"></i>
                                    }
                                 </div> } </div>)
                        .Titled("");
                    c.Add(m => m.DecryptedName).Titled("Nombre del Cliente")
                          .RenderValueAs(m => @<div>
                                                   <label style="font-weight:bold;">
                                                       @m.DecryptedName
                                                   </label>                                                   
                                        </div>)
                         .Encoded(false).Sanitized(false);
                    c.Add().Encoded(false).Sanitized(false)
                            .SetWidth(20)
                            .Titled("Socio")
                            .RenderValueAs(m => @<span class="label label-primary">@m.PartnerName</span>
                            );
                    c.Add(m => m.InsertDateStr).Titled("Fecha de Creación");
                    c.Add(m => m.IsActive).Titled("Activo")
                        .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                            <label style="font-weight:bold;">
                                                <input disabled="disabled" type="checkbox" checked="@m.IsActive" data-statusid="@m.IsActive">
                                            </label>
                                        </div>).Encoded(false).Sanitized(false);
                    
                    c.Add(m => m.VehicleCant).Titled("Cant.Vehiculos");
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(20)
                        .RenderValueAs(m => @<span class="center">
                            @if (m.isDemo)
                            {
                                if (m.ShowDemoAlert) {
                                  <label class="label label-danger" style="font-size: 14px;">Modo Prueba</label>
                                } else {
                                  <label class="label label-success" style="font-size: 14px;">Modo Prueba</label>
                                }
                                
                                <label class="legend">@m.IsDemoAlert.ToString().Split(' ')[0]</label>
                            }                                        
                        </span>);
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @<span>
                            <a href="@Url.Action("LoadCustomers", new { id = m.CustomerId})" class="edit-color" id="@m.CustomerId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                            <a href="#" onclick="javascript:ECO_Partner.Customers.TrasladateBetweenPartners(@m.CustomerId);" title="Trasladar Cliente"><i class="mdi mdi-share mdi-32px"></i></a>
                        </span>).Css("grid-col-btn grid-button-fix");
                    }).SetRowCssClasses(m => m.ShowDemoAlert ? "isDemoAlert" : string.Empty)                    
                    )
           }
           else
           {
                @(Html.Grid(Model)
                .Selectable(true)
                .WithPaging(20,20)
                .Columns(c =>
                {
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @<div> @if (m.ShowDemoAlert){ <div>
                               @if (m.ShowDemoAlert) {
                                    <i data-toggle="tooltip" data-placement="top" title="Modo Piloto ha Expirado!!" class="mdi mdi-alert expireDemoIcon"></i>
                                } else {
                                    <i data-toggle="tooltip" data-placement="top" title="Cliente se encuentra en Modo Piloto" class="mdi mdi-alert isDemoIcon"></i>
                                }
                           </div> } </div>)
                        .Titled("");
                    c.Add(m => m.DecryptedName).Titled("Nombre del Cliente");
                    c.Add(m => m.CurrencyName).Titled("Moneda");
                    c.Add(m => m.InsertDateStr).Titled("Creado");
                    c.Add(m => m.IsActive).Titled("Activo")
                        .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                            <label style="font-weight:bold;">
                                                <input disabled="disabled" type="checkbox" checked="@m.IsActive" data-statusid="@m.IsActive">
                                            </label>
                                        </div>).Encoded(false).Sanitized(false);
                    c.Add(m => m.CreditCardCant).Titled("Tarjetas");
                    c.Add(m => m.VehicleCant).Titled("Vehiculos");
                    c.Add(m => m.GPSCant).Titled("Cantidad de GPS");
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(20)
                        .RenderValueAs(m => @<span class="center">
                            @if (m.isDemo)
                            {
                                if (m.ShowDemoAlert) {
                                  <label class="label label-danger" style="font-size: 14px;">Modo Piloto</label>
                                } else {
                                  <label class="label label-success" style="font-size: 14px;">Modo Piloto</label>
                                }
                                
                                <label class="legend">@m.IsDemoAlert.ToString().Split(' ')[0]</label>
                            }                                        
                        </span>);
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(m => @<span>
                            <a href="@Url.Action("LoadCustomers", new { id = m.CustomerId})" class="edit-color" id="@m.CustomerId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>                            
                        </span>).Css("grid-col-btn grid-button-fix");
                    }).SetRowCssClasses(m => m.ShowDemoAlert ? "isDemoAlert" : string.Empty))

           }
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

<br />