﻿@model IEnumerable<ECOsystem.Models.Core.CardRequest>
@{
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var geopoliticalLevel3 = geopoliticalNames.Count > 2 ? geopoliticalNames[2] : "División geopolítica nivel 3";
}

@if (Model != null && Model.Any())
{

    switch (Model.ToList().FirstOrDefault().IssueForId)
    {
        case 100: //drivers
            @(Html.Grid(Model)
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add(m => m.CityText).Titled("Distrito").SetWidth(100);
                  c.Add(m => m.AddressLine1).Titled("Dirección Entrega").SetWidth(300);
                  c.Add(m => m.AuthorizedPerson).Titled("Persona Autorizada");
                  c.Add(m => m.ContactPhone).Titled("Teléfono");
                  c.Add(m => m.EstimatedDeliveryStr).Titled("Entrega");
                  c.Add(m => m.DecryptedDriverName).Titled("Nombre Conductor");
                  c.Add(m => m.DecryptedDriverIdentification).Titled("Identificación");
                  c.Add(m => m.StatusName).Titled("Estado Tarjeta");
                  c.Add(m => m.ActivatedDateStr).Titled("Fecha Activa");
                  c.Add(m => m.ClosedDateStr).Titled("Fecha Cerrada");
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(100)
                      .RenderValueAs(m => @<span>
                        <a href="#" class="edit-color" data-id="@m.CardRequestId" title="Editar" edit-card-request><i class="glyphicon glyphicon-pencil"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" data-id="@m.CardRequestId" title="Eliminar" del-card-request><i class="mdi mdi-close mdi-18px"></i></a>
                    </span>).Css("grid-col-btn");

              }))
            break;
        case 101://vehicules
        @(Html.Grid(Model)
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add(m => m.CityText).Titled(@geopoliticalLevel3).SetWidth(100);
                  c.Add(m => m.AddressLine1).Titled("Dirección Entrega").SetWidth(300);
                  c.Add(m => m.AuthorizedPerson).Titled("Persona Autorizada");
                  c.Add(m => m.ContactPhone).Titled("Teléfono");
                  c.Add(m => m.EstimatedDeliveryStr).Titled("Entrega");
                  c.Add(m => m.PlateId).Titled("No. Matrícula");
                  c.Add(m => m.StatusName).Titled("Estado Tarjeta");
                  c.Add(m => m.ActivatedDateStr).Titled("Fecha Activa");
                  c.Add(m => m.ClosedDateStr).Titled("Fecha Cerrada");
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(80)
                      .RenderValueAs(m => @<span>
                        <a href="#" class="edit-color" data-id="@m.CardRequestId" title="Editar" edit-card-request><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" data-id="@m.CardRequestId" title="Eliminar" del-card-request><i class="
                                                                                                                                                                        "></i></a>
                    </span>).Css("grid-col-btn");


              }))
            break;
    }

}
