﻿@model IEnumerable<ECOsystem.Models.Core.CustomerTerminals>

    @if (Model != null && Model.Any())
    {
        @(Html.Grid(Model)
        .Columns(c =>
          {

              c.Add(m => m.TerminalId).Titled("Id de la Terminal");
                /* .Encoded(false)
                 .Sanitized(false)
                 .SetWidth(2);
                 .Titled("Id de la Terminal");*/
              c.Add(m => m.MerchantDescription).Titled("Descripción");
                  /*.Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2)
                  .Titled("Descripción");*/
             c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(2)
                  .RenderValueAs(m => @<span>
                                <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteTModal" id="@m.TerminalId" title="Eliminar" del_row><i class="mdi mdi-close mdi-18px"></i></a>
                                </span>
                 ).Css("grid-col-btn");

          }))
    }
    else
    {
        <p class="top20 text-success col-sm-8 control-label">No se encontraron resultados</p>
    }

    <script type="text/javascript">
        $('#gridContainerT').off('click.del', 'a[del_row]').on('click.del', 'a[del_row]', function (e) {
            $('#deleteTModal').find('#id').val($(this).attr('id'));
            type = 1;
            setTitle($(this));
        });                          
    </script>

                     

