﻿@model ECOsystem.ServiceOrderUtilities.Models.VehicleOrder

<div class="modal fade" id="OrderDetailModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="element-name">Información de la Orden</span></h4>
            </div>

            @if (Model.OrderId > 0 && Model.OrderType > 0 && Model.StatusId == 1)
            {
                <div class="modal-body">
                    <div class="row" id="orderdata">
                        <div class="col-sm-12 center">
                            <h4>Ya existe una orden de trabajo abierta para el vehículo procesado.</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cerrar</button>
                    </div>
                </div>
            }
            else
            {
                <div class="modal-body">
                    <div class="row" id="orderdata">
                        <div class="col-sm-12 center">
                            @{
                        var ordername = Model.OrderType > 0 ? ECOsystem.ServiceOrderUtilities.Utilities.GeneralCollections.GetOrderTypes.Where(x => Convert.ToInt32(x.Value) == Convert.ToInt32(ECOsystem.ServiceOrderUtilities.Models.OrdersEnum.Uninstall)).FirstOrDefault().Text :
                                                              ECOsystem.ServiceOrderUtilities.Utilities.GeneralCollections.GetOrderTypes.Where(x => Convert.ToInt32(x.Value) == Convert.ToInt32(ECOsystem.ServiceOrderUtilities.Models.OrdersEnum.Install)).FirstOrDefault().Text;

                        Model.OrderType = Model.OrderType > 0 ? Convert.ToInt32(ECOsystem.ServiceOrderUtilities.Models.OrdersEnum.Uninstall) : Convert.ToInt32(ECOsystem.ServiceOrderUtilities.Models.OrdersEnum.Install);
                            }
                            @Html.HiddenFor(m => m.VehicleId)
                            @Html.HiddenFor(m => m.OrderType)
                            <h4>@Html.Raw(string.Format("¿Desea procesar la Orden de <b>{0}</b>?", ordername))</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnOrderDetailAddOrEdit"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
