﻿@model ECOsystem.Models.Core.Customers
@Html.HiddenFor(m => m.CustomerId)
@Html.HiddenFor(m => m.RowVersion)

<style>
    .toggle {
        width: 92px !important;
        height: 32px !important;
    }
</style>

<div class="row" style="padding-top:19px">
    <div class="col-sm-6">
        <div class="col-sm-12">
            @Html.Label("Modo Piloto  ", new { @class = "control-label col-sm-6" })&nbsp;
            @Html.CheckBoxFor(m => m.isDemo, new { @type = "checkbox", @class = "toggleCheck" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row" style="padding-right:20px">
            <div class="form-group">
                @Html.Label("Alertar el día:", new { @class = "col-sm-14 control-label" })
                <div class='input-group date' id='datetimepickerIsDemoAlert'>
                    @Html.TextBoxFor(m => m.StartDateStr, new { placeholder = "Alertar el día", @class = "form-control", @autocomplete = "off", @readonly = "true" })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @if (ECOsystem.Utilities.Session.GetPartnerInfo().PartnerId == 1023)
        {
            <div class="col-sm-12">
                @Html.Label("Recibir Alarmas por SMS  ", new { @class = "control-label col-sm-6" })&nbsp;
                @Html.CheckBoxFor(m => m.SMSAlarms, new { @type = "checkbox", @class = "toggleCheck" })
            </div>
        }
    </div>
    <div class="col-sm-6">
        <div class="row" style="padding-right:20px">
            <div class="form-group">
                @Html.Label("Realizar cobros a:", new { @class = "col-sm-14 control-label" })
                @Html.DropDownListFor(m => m.CustomerCharges, ECO_Partner.Business.GeneralCollections.GetCustomersChargesByPartner, "Realizar cobros a", new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Tarjetas</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @{
                                Model.CostCardAdminStr = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", Model.CostCardAdmin.ToString(), false);
                            }
                            @Html.LabelFor(m => m.CostCardAdminStr, new { @class = "col-sm-14 control-label rowLabel" })
                            <div class="input-group">
                                <div class="input-group-addon">@Model.CurrencySymbolDollar</div>
                                @Html.TextBoxFor(m => m.CostCardAdminStr, new { placeholder = "Costo Tarjeta Administrativa", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @{
                                Model.CostCardEmisionStr = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", Model.CostCardEmision.ToString(), false);
                            }
                            @Html.LabelFor(m => m.CostCardEmisionStr, new { @class = "col-sm-14 control-label rowLabel" })
                            <div class="input-group">
                                <div class="input-group-addon">@Model.CurrencySymbolDollar</div>
                                @Html.TextBoxFor(m => m.CostCardEmisionStr, new { placeholder = "Costo Tarjeta Emision", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @{
                                Model.CostModuleEOStr = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", Model.CostModuleEO.ToString(), false);
                            }
                            @Html.LabelFor(m => m.CostModuleEOStr, new { @class = "col-sm-14 control-label rowLabel" })
                            <div class="input-group">
                                <div class="input-group-addon">@Model.CurrencySymbolDollar</div>
                                @Html.TextBoxFor(m => m.CostModuleEOStr, new { placeholder = "Costo Module E/O", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @{
                                Model.CostCardRepositionStr = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", Model.CostCardReposition.ToString(), false);
                            }
                            @Html.LabelFor(m => m.CostCardRepositionStr, new { @class = "col-sm-14 control-label rowLabel" })
                            <div class="input-group">
                                <div class="input-group-addon">@Model.CurrencySymbolDollar</div>
                                @Html.TextBoxFor(m => m.CostCardRepositionStr, new { placeholder = "Costo Reposición Tarjeta", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top:3%;">
                    <label class="control-label"><strong>Tarjeta Administrativa por Rangos</strong></label>

                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <div class="input-group">
                                    <div class="input-group-addon" style="font-size:14px !important;">Mayor a</div>
                                    <input type="number" class="form-control" id="cardQuantity" min="1">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Precio</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="cardPrice" min="1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" onclick="addRange()"><i class="mdi mdi-plus"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="tableDiv" hidden>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="rangeTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">GPS's</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.GPSModality, new { @class = "col-sm-14 control-label rowLabel" })
                            @Html.DropDownListFor(m => m.GPSModality, @ECOsystem.Business.Utilities.GeneralCollections.GetGPSModality, "Modalidad", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @{ Model.CostRentedGPSStr = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", Model.CostRentedGPS.ToString(), false); }
                            @Html.LabelFor(m => m.CostRentedGPS, new { @class = "col-sm-14 control-label rowLabel" })
                            <div class="input-group">
                                <div class="input-group-addon">@Model.CurrencySymbolDollar</div>
                                @Html.TextBoxFor(m => m.CostRentedGPSStr, new { placeholder = "Costo Alquiler Coinca", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @{ Model.CostRentedBACStr = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", Model.CostRentedBAC.ToString(), false); }
                            @Html.LabelFor(m => m.CostRentedBAC, new { @class = "col-sm-14 control-label rowLabel" })
                            <div class="input-group">
                                <div class="input-group-addon">@Model.CurrencySymbolDollar</div>
                                @Html.TextBoxFor(m => m.CostRentedBACStr, new { placeholder = "Costo Alquiler BAC", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @{ Model.MembershipFeeStr = ECOsystem.Utilities.Miscellaneous.ConvertCurrencyWithCultureStr("es-CR", Model.MembershipFee.ToString(), false); }
                            @Html.LabelFor(m => m.MembershipFeeStr, new { @class = "col-sm-14 control-label rowLabel" })
                            <div class="input-group">
                                <div class="input-group-addon">@Model.CurrencySymbolDollar</div>
                                @Html.TextBoxFor(m => m.MembershipFeeStr, new { placeholder = "Membresía", @class = "form-control", datacurrency = "true", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Agentes de Gestión</div>
            <div class="panel-body">
                @Html.Partial("_partials/_CustomerPricesRange", new ECOsystem.Models.Core.DynamicPartialModel() { list = Model.ManagmentPricesList, priceId = Model.ManagementPriceId }, new ViewDataDictionary { { "ButtonId", "btnAddTabPriceAgent" } })
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Montos para SMS</div>
            <div class="panel-body">
                @Html.Partial("_partials/_CustomerPricesRange", new ECOsystem.Models.Core.DynamicPartialModel() { list = Model.SMSPricesList, priceId = Model.SMSPriceId }, new ViewDataDictionary { { "ButtonId", "btnAddTabPriceSMS" } })
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Administration/CardPriceRange.js"></script>
<script>
    var urls = {
        SaveRanges: "@Url.Action("SaveRanges","Customers")",
        LoadRanges: "@Url.Action("LoadRanges", "Customers")"
    }
</script>