﻿@model ECOsystem.Models.Core.DynamicPartialModel  

@if (Model.list != null && Model.list.Any())
{
    @(Html.Grid(Model.list)
        .Selectable(true)
        .Columns(c =>
        {
            c.Add(m => m.From).Titled("Desde");
            c.Add(m => m.To).Titled("Hasta");
            c.Add(m => m.Price).Titled("Precio");
            c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(100)
                  .RenderValueAs(m => @<span>
                                            <span class="edit-color" onclick="ECO_Partner.Customers.OnEditPrices(@m.Id, @m.From, @m.To, @m.Price, @Model.priceId)" title="Editar" ><i class="mdi mdi-32px mdi-pencil-box"></i></span>    
                                            <span class="delete-color" onclick="ECO_Partner.Customers.OnDeletePrices(@m.Id, @Model.priceId)" title="Eliminar" ><i class="mdi mdi-close-box mdi-32px"></i></span>
                                      </span>)
                  .Css("grid-col-btn");
      }))
}
else
{
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}