﻿@model ECOsystem.Models.Core.CustomerTerminals
    <div class="row" style="padding-left:19px; padding-top:20px;">
    <div class="col-sm-4">
        <div class="form-group">
            @*@Html.HiddenFor(m => m.CustomerId)*@
            @Html.LabelFor(m => m.TerminalId, new { @class = "col-sm-14" })
            @Html.TextBoxFor(m => m.TerminalId, new { placeholder = "ID de la Terminal", @class = "form-control", autofocus = "", @id = "txtTerminal" })
            @Html.ValidationMessageFor(m => m.TerminalId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(m => m.MerchantDescription, new { @class = "col-sm-14 control-label" })
            @Html.TextBoxFor(m => m.MerchantDescription, new { placeholder = "Descripción", @class = "form-control", autofocus = "", @id = "txtDescripcionTerminal" })
        </div>
    </div>
    <div class="col-sm-4" style="padding-top:24px;">
        <button id="btnaddterminal" type="submit" class="btn btn-success" onclick=""><i class="mdi mdi-plus mdi-18px"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="padding-left:34px; padding-right:30px" id="gridContainerT">
        @Html.Partial("_partials/_GridTerminal", Model.TerminalList)
    </div>
</div>



