﻿<!-- Import Modal Start-->
<div class="modal fade" id="importModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Importación de Datos</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="file" id="csvFileInput" accept=".csv">
                            </div>
                            <div class="col-sm-2 text-right">
                                <a class="btn btn-success" href="~/Content/Templates/Partner_Credomatic_CR.CardRequestTemplate.csv"
                                   download="Datos.csv">Descargar Ejemplo</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="csvOutput" class="col-sm-12">
                            <div class="alert alert-warning" role="alert">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <strong>Información para cargar archivo</strong>
                                    </div>
                                    <div class="col-sm-12 top20">
                                        <p>
                                            El archivo debe contener 12 columnas de la siguiente forma:<br />
                                            <ul>
                                                <li>
                                                    Columna 1 - Número Placa o Matrícula del Vehículo
                                                </li>
                                                <li>
                                                    Columna 2 - Nombre Completo del Conductor
                                                </li>
                                                <li>
                                                    Columna 3 - Número Identificación del Conductor
                                                </li>
                                                <li>
                                                    Columna 4 - Provincia de Entrega
                                                </li>
                                                <li>
                                                    Columna 5 - Cantón de Entrega
                                                </li>
                                                <li>
                                                    Columna 6 - Distrito de Entrega
                                                </li>
                                                <li>
                                                    Columna 7 - Dirección de Entrega detallada
                                                </li>
                                                <li>
                                                    Columna 8 - Otras señas o información adicional de entrega
                                                </li>
                                                <li>
                                                    Columna 9 - Número Referencia de pago
                                                </li>
                                                <li>
                                                    Columna 10 - Persona autorizada para entrega de tarjetas
                                                </li>
                                                <li>
                                                    Columna 11 - Número de teléfono del contacto de entrega
                                                </li>
                                                @{
                                                    var now = DateTime.UtcNow;
                                                    var date = "" + now.Year + now.Month.ToString("00") + "" + now.Day.ToString("00") + "";
                                                }
                                                <li>
                                                    Columna  12 - Fecha estimada de entrega - Formato YYYYMMDD, ejemplo: @date
                                                </li>
                                            </ul>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary" disabled="disabled"><i class="glyphicon glyphicon-ok"></i>&nbsp;Importar Datos</button>
                </div>

            </div>
        </div>
    </div>
