﻿<div>
    @Html.Hidden("currentVehicleId")
    @Html.Hidden("currentCustomerId")
    @Html.Hidden("newCustomerId")

    <div class="row" style="margin-bottom:16px;">
        <div class="col-sm-6 col-md-6">
            @Html.Label("Vehículo:", new { @class = "control-label" })
            @Html.TextBox("VehiclePlate", "", new { @class = "form-control input-clean", @readonly="readonly" })
        </div>
        <div class="col-sm-6 col-md-6">
            @Html.Label("Trasladar a:", new { @class = "control-label" })
            <select id="customerList" style="width: 100%"></select>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid #ccc;margin-bottom: 10px;"></div>

    <div class="row">
        <div class="col-sm-12  text-right">
            <button type="button" class="btn btn-default" id="btnCancelTrasladate"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnSendVehicleToCustomer"><i class="mdi mdi-share"></i>&nbsp;Trasladar</button>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#trasladateVehicleClientForm");
    });
</script>
