﻿@model List<ECOsystem.Models.Vehicles>
@{ 
    var contract = ViewData["ContractVehicles"] != null ? Convert.ToBoolean(ViewData["ContractVehicles"].ToString()) : false;
    var checkAllVehicles = ViewData["CheckAllVehicles"] != null ? Convert.ToBoolean(ViewData["CheckAllVehicles"].ToString()) : false;
    checkAllVehicles = Model.Count == Model.Where(x => x.Selected).ToList().Count;
}

@Html.Hidden("countVehicles", Model.Count())

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            if (!contract)
            {
                c.Add(m => m.VehicleNumber).Titled("#");
            }
            else
            {
                c.Add()
                        .Encoded(false)
                        .Sanitized(false) 
                        .SetWidth(2)
                        .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">                                                 
                                                <label style="font-weight:bold;">                               
                                                    <input type="checkbox" checked="@m.Selected" id="VehicleId-@m.VehicleId" class="ckeckVehicleId">
                                                </label>
                                            </div>)
                        .Titled("<div class=\"checkbox\" style=\"margin-bottom: -3px; margin-left: 15px;\">" +
                                    "<span data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Seleccionar todos\">" +
                                        "<label style=\"font-weight:bold;\"> <input type=\"checkbox\" id=\"chkCheckAll\"" + (checkAllVehicles ? "checked=\"true\"" : "") + "\"> </label>" +
                                        "</span>" +
                                    "</div>");
        }       
        c.Add()
        .Titled("Placa")
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(m => @<span>                             
                              <label class="label label-primary" style="font-size: 13px;">@m.PlateId
                                  @if (!string.IsNullOrEmpty(m.SupportTicketURL)) {
                                    <a href="@m.SupportTicketURL" target="_blank" class="support-link" title="Tiquete Instalación"><i class="mdi mdi-link-variant"></i></a>
                                  }
                              </label>                           
                            </span>);   

        c.Add()
                .Titled("Vehículo")
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span title="@m.Name">
                                           @if(m.Name.Length > 24)
                                           {
                                               @m.Name.Substring(0,24) <i>...</i>
                                           }
                                           else { @m.Name }
                                    </span>);
            c.Add(m => m.Chassis).Titled("Chasis");
            c.Add(m => m.Manufacturer).Titled("Marca");
            c.Add(m => m.VehicleModel).Titled("Modelo");
            if(ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId()) == ECOsystem.Utilities.ProductInfo.LineVitaECO)
            {            
                c.Add()
                .Titled("Clasificación")
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>  
                                        @if (!m.ClassificationName.Contains("Ninguno"))
                                        {
                                             <label class="label label-primary" style="font-size: 13px;">@m.ClassificationName</label>
                                        }
                                    </span>);

                c.Add()
                .Titled("Operación BAC")
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                                         @m.OperationBAC
                                    </span>);
            }
            if (!contract)
            {
                c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(m => @<span>  
                                            @if (m.Active)
                                            {
                                                <label class="label label-success" style="font-size: 13px;">Activo</label>
                                            }
                                            else
                                            {
                                                <label class="label label-danger" style="font-size: 13px;">Inactivo</label>
                                            }
                                        </span>);
            }
            c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(m => @<span> 
                                            @if(m.HasGPS)
                                            {
                                                <label class="label label-success" style="font-size: 13px;">GPS</label>
                                            }
                                        </span>);
             c.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(m => @<span> 
                                            @if(m.HasOpenDoors)
                                            {
                                             <label class="label label-primary" title="Comando Apertura Puertas Habilitado" style="font-size: 14px;">
                                                 <i class="mdi mdi-lock-open"></i>
                                             </label>
                                            }
                                            @if(m.HasTurnOff)
                                            {
                                             <label class="label label-primary" title="Comando Apagado Habilitado" style="font-size: 14px;margin-left:3%;">
                                                 <i class="mdi mdi-power"></i>
                                             </label>
                                            }
                                            @if(m.HasDallas)
                                            {                                               
                                             <label class="label label-primary" title="Comando Dallas Habilitado" style="font-size: 14px;margin-left:3%;">
                                                 <i class="mdi mdi-key-variant"></i>
                                             </label>
                                            }
                                        </span>);
            if (!contract)
            {
                c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .RenderValueAs(m => @<span>
                                                <a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.GetVehicleData(@m.VehicleId);" class="edit-color" title="Editar Vehículo"><i class="mdi mdi-pencil-box mdi-32px"></i></a>
                                                @if (ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId()) == ECOsystem.Utilities.ProductInfo.LineVitaECO)
                                                {
                                                    <a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.TrasladateBetweenCustomers(@m.VehicleId);" class="edit-color" title="Trasladar Vehículo"><i class="mdi mdi-share mdi-32px"></i></a>
                                                }
                                                <a href="#" id="@m.VehicleId" title="Detalle de Orden" order-vehicle-view><i class="mdi mdi-note-text mdi-32px"></i></a>
                                           </span>)
                      .Css("grid-col-btn grid-button-fix");
            }
        }                  
    ))
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <div class="row">
            <div class="col-sm-12">
                <i class="mdi mdi-information" style="font-size:25px;"></i> No existe información.
            </div>
        </div>
    </div>
}
