.olImageLoadError:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2efe9;
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: attr(alt);
}
#MapForm {
    width: 736px;
    height: 596px;
}
#VehicleRouteForm
{
    width:736px;

}
#DistanceForm
{
    width:736px;
    height:100%;
}
#CADForm
{
    width:100%;
    height:300px;
}
#RealTimeForm
{
    width: 725px;
    height: 556px;
}
#ReconstructiongForm
{
    width:100%;
}
#RouteForm {
    width:1030px;
    height:596px;
}

/*#PassControlForm {
    width: 736px;
    height: 634px;
}*/

#divSearchResult
{
    position: fixed;
    top: 35px;
    margin-left: calc(100vh - 70px);
    right: 0;
    border: none;
    z-index: 1500;
    overflow-x:scroll;
    overflow-x:auto;
    width: 450px;
    max-height: calc(100vh - 55px);
}
#divSearchResult-CAD
{
    position: fixed;
    width: 90%;
    top: 40px;
    left: 10%;
    right: 0;
    border: none;
    z-index: 1500;
    max-height: 90%;
    overflow-x: auto;
}
#divSearchResultBtn
{
    position: fixed;
    width: 330px;
    top: 40px;
    margin-left: calc(100vh - 70px);
    right: 0;
    border: none;
    z-index: 1500;
    min-height: 30px;
    max-height: 30px;
}
.btnSearchResult
{
    color:white;
    background-color: #428BCA;
    padding:5px;
    font-weight:bold;
    text-align:center;
    border-style:outset;
    border-width:1px;
    text-decoration:none;
}
.btnSearchResult:hover
{
    text-decoration:none;
    color:white;
    text-shadow:none;
    background-color:#132C59;
}
#directionsTable {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.directionsTable
{
    background-color: black !important;
    border-color: LightGrey !important;
    border-width: 1px !important;
    border-style: Solid !important;
    height: 59px !important;
    width: 100% !important;
    COLOR: WHITE !important;
    OPACITY: 0.8 !important;
}
.directionsTable td
{
    padding:7px;
}
.directionsTable td:hover
{
    background-color: #E4002B!important;
}
.directionsTable tr:hover
{
    background-color: #E4002B!important;
}
.table-header-td-segments
{
    width:112px;
}
.table-header-td-time
{
    width:40px;
}

#FeaturedContent_pnlSegments
{
    height:460px;
}
#FeaturedContent_editPointName
{
    height:460px;
}
#FeaturedContent_editPoints
{
    height:460px;
}

.info {
    float:left !important;
    margin-left: 10px !important;
}

.apagado {
    background-color: red;
    opacity: 0.8;
    color: white;
    padding: 3px;
    font-size: x-small;
    min-width: 15px;
    margin-left: -10px;
    width: 15px;
    float: right;
    margin-top: 0;
    height: 15px;
}

.movimiento {
    background-color:green;
    opacity: 0.8;
    color: white;
    padding: 3px;
    font-size: x-small;
    min-width: 15px;
    margin-left: -10px;
    float: right;
    margin-top: 0;
    height: 15px;
}

.detenido {
    color:yellow;
    opacity: 0.8;  
}

.fijo {
    background-color:black;
    opacity: 0.8;
    color: white;
    padding: 3px;
    font-size: x-small;
    min-width: 15px;
    margin-left: -10px;
    width: 15px;
    float: right;
    margin-top: 0;
    height: 15px;
}


.monitorApagado {
    color: #FF0606;
    opacity: 0.8;

}

.monitorMovimiento {
    opacity: 0.8;
    color: #35A048;  
}

.monitorDetenido {
    color:#FFD600;
    opacity: 0.8;  
}

.monitorSinTransmitir {
    color:#929392;
    opacity: 0.8;
}

.monitorGpsEnModoRepodo {
    color: #5bc0de;
    opacity: 0.8;
}

.zoomGroup {
    float: left; 
    width: 25px; 
    height:50px; 
    left: 20px; 
    position: absolute; 
    z-index: 1000; 
    top: 6px; 
    background-color: white; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
    box-sizing: border-box; 
    margin-top: 45px;
}

.brnZoomMinus {
    float:left; 
    background-color: rgba(255,255,255,1); 
    border-radius: 2px; 
    display: block; 
    height: 29px; 
    overflow: hidden; 
    position: absolute; 
    cursor: pointer; 
    width: 29px; 
    z-index: 2; 
    box-sizing: border-box; 
    transition: background-color 0.16s ease-out; 
    margin-top:26px;
}

.brnZoomPlus {
    float:left; 
    background-color: rgba(255,255,255,1); 
    border-radius: 2px; 
    display: block; 
    height: 29px; 
    overflow: hidden; 
    position: absolute; 
    cursor: pointer; 
    width: 29px; 
    z-index: 2; 
    box-sizing: border-box; 
    transition: background-color 0.16s ease-out;
}

.mapInfoDetail {
    float:left;
    margin-right:10px;
}

.divColorList {
    float: right;
    width: 150px;
    right: 10px;
    position: absolute;
    z-index: 1000;
    top: 6px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.divColorListMonitor {
    float: left;
    min-width: 750px;
   max-width: 1300px;
    left: 5px;
    position: absolute;
    z-index: 1000;
    top: 6px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.divManageOSM {
    float: left;    
    left: 5px;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.itemColorList {
    width: 150px;
    background-color: #fff;
    border-radius: 0;
    border-top: 1px solid #d9d9d9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
    font-size: 24px;
    display: block;
    font-family: Roboto,Arial,sans-serif;
    height:30px;
    float:left;
}

.ColorListText {
    float: left;
    width: 110px;
    font-size: 14px;
    margin-top:7px;
}

.ColorListMarker {
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
}



.lblName
{
    margin-top: 23px;
}
.div5 {
    width:5%;
    float:left;
}
.div10 {
    width:10%;
    float:left;
}
.div17 {
    width:17%;
    float:left;
}
.div16 {
    width:16%;
    float:left;
}
.div20 {
    width:20%;
    float:left;
}
.div23 {
    width:23%;
    float:left;
}
.div25 {
    width:25%;
    float:left;
}
.div27 {
    width:27%;
    float:left;
}
.div30 {
    width:30%;
    float:left;
}
.div32 {
    width:32%;
    float:left;
}
.div40 {
    width:40%;
    float:left;
}
.div45 {
    width:45%;
    float:left;
}
.div50 {
    width:50%;
    float:left;
}
.div54 {
    width:54%;
    float:left;
}
.div60 {
    width:60%;
    float:left;
}
.div70 {
    width:70%;
    float:left;
}
.div75 {
    width:75%;
    float:left;
}
.div80 {
    width:80%;
    float:left;
}
.div100 {
    width:100%;
    float:left;
}
.Center
{
    text-align:center;
}
.ContentSearch {
    width:100%;
    padding-top:0;
    padding-bottom:37px;
}

.ContentSearcPassControl {
    width: 100%;
    padding-top: 0;
    padding-bottom: 37px;
}

.ContentFooterPassControl {
    width: 100%;
    padding-top: 0;
    margin-top: 92vh;
    position:absolute;
    z-index:2000;
}

.ContentFooterPassControl1 {
    width: 100%;
    padding-top: 0;
    margin-top: 96vh;
    position:absolute;
    z-index:2000;
}
.ContentFooter {
    width:100%;
    padding-top:0;
    padding-bottom:37px;
    margin-top: 560px;
}
.ContentFooter-back {
    width:100%;
    padding-top:0;
    padding-bottom:37px;
}
.FilterSearch {
    width:28%;
    float:left;
    /*margin-top:-25px;*/
    position:absolute;
}
.FilterSearch2 {
    width:28%;
    float:left;
    position:absolute;
    margin-left:28%;
}
.FilterSearchPassControl {
    width:28%;
    float:left;
    margin-top:-65px;
}
.FilterSearch-CAD {
    width:20%;
    float:left;
}
.FilterFooterBig {
    width:50%;
    float:right;
}
.FilterFooter {
    width:28%;
    float:right;
}
.LabelSearch {
    width:40%;
    float:left;
    text-align:right;
    padding-right:5px;
    padding-top:5px;
}
.LabelSearchBig {
    width:66%;
    float:left;
    text-align:right;
    padding-right:5px;
    padding-top:5px;
}
.ControlSearch {
    width:55%;
    float:left;
}
.ControlSearchBig {
    width:34%;
    float:left;
}
.ValidateSearch {
    width:5%;
    float:left;
    text-align: center;
    font-size: xx-large;
    color: firebrick;
    height:10px;
}
.BtnSearch {
    width:42%;
    float:right;
    padding-left:1%;
    padding-right:1%;
    /*margin-top:-25px;*/
}

.BtnSearchVehicleRoute {
    width:42%;
    float:right;
    padding-left:1%;
    padding-right:1%;
}
.BtnSearchPassControl {
    width:42%;
    float:right;
    padding-left:1%;
    padding-right:1%;
    margin-top:-62px;
}
.BtnSearch-CAD {
    width:40%;
    float:right;
    padding-left:1%;
    padding-right:1%;
}
.BtnFooter {
    width:10%;
    float:right;
    padding-left:1%;
    padding-right:1%;
}
.VehicleRouteControl
{
    text-align:right;
    padding-right:5px;
    padding-top:5px;
}
.VehicleRouteFooterInfo
{
    background-color:transparent;
    height:30px;
    margin-top: calc(100vh - 128px);
    margin-bottom:15px;
    margin-left:140px;
    z-index:2000;
    position:relative;
}
.ReconstructingFooterInfo
{
    background-color:white;
    height:30px;
    margin-top:-32px !important;
    margin-bottom:15px;
}

.SearchBox 
{
    width:auto;
    float:right;
    margin-bottom:10px;

}
/*.VehicleRouteFooterInfo
{
    background-color:white;
    height:30px;
    margin-top:560px;
}*/
.VehicleRouteInfoVehicle
{
    width:20px;
    height:10px;
    text-align:center;
    float:left;
    background-color:#026602;
    margin:10px;
}
.VehicleRouteInfoRoute
{
    width:20px;
    height:10px;
    text-align:center;
    float:left;
    background-color:#8A028A;
    margin:10px;
}

table td:hover {
    cursor:pointer;
    background-color:#DDD;
}
.table-white table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EEEEEE;
    width: 16%;
}

.table-white table tr:hover {
    cursor:pointer;
    background-color:#DDD;
}

.table-clear table td {
    padding:7px;
    border: none;
}
.table-clear table tr:hover {
    cursor:pointer;
}
.table-clear table td:hover {
    background-color:white;
}
#MainContent_UpdatePanel1 {
    width:100%;
    position:absolute;
}
#mapMenu img {
    border: 1px outset #CCC;
    width: 53px;
    background-color: #E4002B;
    border-color: #C8102E;
}

#mapMenu img:hover {
    cursor: pointer;
    background-color: #A6192E;
    border-color: #A6192E;
}

.mapMenu {
    border: 1px outset #CCC;
    width: 53px;
    background-color: #E4002B;
    border-color: #C8102E;
    margin-bottom: -5px;
}

.mapMenu:hover {
    cursor: pointer;
    background-color: #A6192E;
    border-color: #A6192E;
}

#mapMenu .btnselected {
    cursor: pointer;
    background-color: #A6192E;
    border-color: #A6192E;
}

#mapMenu img:focus {
   background-color: #A6192E;
    border-color: #A6192E;
}
.LeftMenu
{
    width:54px;
    float:left
}
.ContentMap
{
    width:715px;
    float:left;
    /*margin-left:3%;*/
}
#directionsTable td {
    padding:7px;
    border-width: 1px;
    border-style: solid;
    border: 1px solid #CCC;
}
#directionsTable td:hover {
    cursor:pointer;
    background-color:#DDD;
}
.input-group
{
    top:0 !important;
    left:0 !important;
}
.f-right
{
    float:right;
}
.t-right
{
    text-align:right;
}
.scroll-points
{
    max-height: 480px;
    min-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scroll-segments
{
    max-height: 554px;
    min-height: 554px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scroll-subsegments
{
    max-height: 554px;
    min-height: 554px;
    overflow-y: auto;
    overflow-x: hidden;
}
.routes-map
{
    width:730px;
    float:left;
}
.routes-table
{
    width:300px;
    padding-left:5px;
    padding-right:20px;
    float:left;
}

.distance-map
{
    width:60%;
    height:600px;
    float:left;
}

.distance-table
{
    width:300px;
    height:600px;
    float:left;
    z-index:1500;
    padding-left:5px;
    padding-right:20px;
    float:right;
    margin-top: 37px;
}

.mapMenu-controls
{
    width: 60px;
    top: 36px;
    position: absolute;
    visibility: visible;
    z-index: 999;
    float: left;
}
.mapCss {
    margin-top:-25px;
}
.pointsMenu-controls 
{
    width: 50% !important;
    top:36px;
    position:absolute;
    float:right;
    z-index:1000;
    visibility:visible;
    right:5px;
}
.pointsContent-controls 
{
    width:400px;
    float:right;
}
.padding-top5
{
    width:100%;
    padding-top:5px;

}
.btn-route 
{
    /*border: 1px outset rgb(53, 126, 189);*/
    border: 1px outset white;
    width:100%;
    background-color: #E4002B;
    border-color: #C8102E;
    color:white;
    font-weight:bold;
}
.Points-Detail
{
    margin-top:30px !important;
    width: 200px;
    top: 5px;
    right:11px;
    float:left;
    position: absolute;
    visibility: visible;
    z-index: 999;
}
.mapMenu-controls-recomendation
{
    width: 60px;
    position: absolute;
    visibility: visible;
    z-index: 998;
    float: left;
}
.mapMenu-controls-up
{
    width: 60px;
    top:0;
    position: absolute;
    visibility: visible;
    z-index: 998;
    float: left;
}
.btnShow-mapMenu-controls
{
    border-width: 0 !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
    padding: 3px 7px !important;
}
.btnHide-mapMenu-controls
{
border-width: 0 !important;
margin-left: 54px !important;
border-radius: 0 !important;
padding: 3px 7px !important;
margin-top: 1px;
}
.pointer
{
    cursor:pointer !important;   
}
.divEdit-table
{
    width: 275px;
    max-height: 467px;
    overflow-y: auto;
    overflow-x:hidden;
    float: left;
    padding: 10px 10px 10px 5px;

}
.divEditSegment-table
{
    width: 275px;
    max-height: 417px;
    overflow-y: auto;
    overflow-x:hidden;
    float: left;
    padding: 10px 10px 10px 5px;

}


.divEdit-button
{
    width: 40px;
    float: left;
    padding-top: 10px;

}
.ReconstructingDdl
{
    width:9%;
    float:left;
    padding-right:3px;
}
.ReconstructingDate
{
    width:15%;
    padding-right:3px;
    float:left;
}
.ReconstructingTop
{
    height:40px;
    padding:3px;
}
.ReconstructingPeriod
{
    width:12%;
    float:left;
    text-align:center;
    margin-right:5px;
    margin-top:7px;
}
.ReconstructingLabelTo
{
    width:5%;
    float:left;
    text-align:center;
    margin-right:5px;
    margin-top:7px;
}
.ReconstructingBtnGroupTop
{
    text-align: right;
    margin-right: 5%;
}
.ReconstructingBtnGoupFooter
{
    padding:3px;
    float:right;
    width:207px;
}
#MainContent_pnlPoints
{
    margin-top: 30px;
}
#MainContent_pnlSegments
{
    height: 467px;
}
#MainContent_pnlSegmentEdit
{
    height: 467px;
}
#pnlSegmentEdit
{
    height:465px;
}

.divEditPoints
{
    max-height: 420px !important;
    overflow: auto;
}
.divEditPointsSegments
{
    width: 100% !important;
    margin-top: 30px !important;
    max-height: 420px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

#MainContent_editPointName
{
    height: 467px;
}
.point-label
{
    width:30% !important;
    float: left;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}
.point-control
{
    width:70% !important;
}
.point-minutes
{
    margin-top: 7px;
    margin-left: 5px;
    float: left;
}
.point-content-name
{
    margin-top: 180px;
}
.ContentTableRoute
{
    width:263px;
    padding:5px;
}
.ContentTablePoints
{
    width:240px;
    padding:5px;
    float:right;
    background-color:white;
}
.panel-group {
    margin-bottom: 2px !important;
}
.hide
{
    display:none;
}
.margin-top5 {
    margin-top:5px;
}
.loaderRoute
{
    width:1030px;
    height:596px;
    position:absolute;
    opacity:0.5;
    background-color:black;
    z-index:1100;
}
.loaderGeoFences
{
    width: 100%;
    height: 100%;
    position:absolute;
    opacity:0.5;
    background-color:black;
    z-index:1100;
}
.loaderMap
{
    width: 100%;
    height: 100%;
    position:absolute;
    opacity:0.5;
    background-color:black;
    z-index:99999;
}
.loaderMonitor
{
    width: 100%;
    height: 100%;
    position:absolute;
    opacity:0.5;
    background-color:black;
    z-index:1100;
}
.loaderCAD
{
    width: 445px;
    height: 300px;
    position:absolute;
    opacity:0.5;
    background-color:black;
    z-index:1100;
}
.loaderCallTaker
{
    width: 100%;
    height: 100%;
    padding-top:20%;
    position:absolute;
    opacity:0.5;
    background-color:black;
    z-index:1100;
}
.loaderPassControl
{
    position:absolute;
    width: 99%;
    height: 99%;
    opacity:0.5;
    background-color:black;
    z-index:1100;
    margin-top:0;
}

#MainContent_GridResult {
    border:0 !important;
    width:100%;
}

#MainContent_GridResult th {
    padding: 7px;
    border: 1px solid rgb(66,139,202);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #6D6E71;
    color: #ffffff;
    font-weight: bold;
}

.image-loader
{
    margin-top:260px;
    height:48px;
    width:48px;
}
.image-loader-CAD
{
    margin-top:130px;
    height:48px;
    width:48px;
}
.table-header-table
{
    border-collapse:collapse;
    border:1px;
}
.table-header-tr
{
    background-color:LightGrey;
}
.table-header-td-segments
{
    width:132px;
}
.table-header-td-subSegments
{
    width:255px;
}
.table-header-td-routeName
{
    width:202px;
}
.table-header-td-routeHour
{
    width:50px;
}
.table-header-td-routeStop
{
    width:40px;
}
.mapInfo
{
    background-color: black;
    opacity: 0.6;
    color: white;
    padding: 5px;
    width:175px;
}
.mapInfoMonitor
{
    background-color: black;
    opacity: 0.6;
    width: 170px;
    color: white;
    padding: 5px;
}
.mapInfoDispatch
{
    background-color: rgb(19, 44, 89);
    opacity: 0.8;
    color: white;
    padding: 3px;
    font-size:x-small;
    width:140px;
    margin-top: 20px;
    margin-left: -10px;
}
.mapInfoDispatchSmall
{
    background-color: rgb(19, 44, 89);
    opacity: 0.8;
    color: white;
    padding: 3px;
    font-size:x-small;
    width:120px;
    margin-top: 20px;
    margin-left: -10px;
}
.mapInfoPoint
{
    background-color: black;
    opacity: 0.6;
    color: white;
    padding: 5px;
    width:75px;
}

#MainContent_pnlMapPassControl
{
    width:100%;
    padding-top:0;
    padding-bottom:0;
}
.PassControl-result
{
    max-height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    z-index:2005;
    position:relative;
    background-color:transparent;
    width:100%;
    float:left;
}
.PassControlTableColumn {
    width:16%;
}
.VehicleRoute-result
{
    max-height:100%;
    overflow-y:auto;
    overflow-x:auto;
    z-index:2005;
    position:relative;
    background-color:#eee;
    width:100%;
    float:left;
}

.divDistance
{
    margin-top:calc(100vh - 100px);
    /*width:90%;*/
    float:left;
    z-index:1500;
    position:absolute;
    left:15%
}

.divDistance-Row
{
    width:100%;
    float:left;
    padding:5px;
    height:36px;
}
.divDistance-Image
{
    width:30px;
    text-align:center;
    float:left;
}
.Distance-Image
{
    height:24px;
    width:24px;
    border-style:none;
}
.Distance-txt
{
    width:120px;
    float:left;
    margin-right:5px;
}
.Distance-title
{
    width:50px;
    float:left;
    margin-top:7px;
}
.VehicleRoute-title
{
    width:85px;
    float:left;
    margin-top:7px;
}
.VehicleRoute-title-small
{
    width:77px;
    float:left;
    margin-top:7px;
}
.Reconstructing-title-small
{
    width:50px;
    float:left;
    margin-top:7px;
}
.Reconstructing-title-large
{
    width:150px;
    float:left;
    margin-top:7px;
}
.Distance-btnEdit
{
    width:79px;
    margin-right:5px;
    float:left;
}
.Distance-select
{
    width:321px;
    float:left;
}

.Distance-select2
{
    width:90px;
    float:left;
}

.Distance-resultTitle
{
    width:90px;
    margin-left:5px;
    float:left;
    margin-top:7px;
}
.Distance-result
{
    width:90px;
    float:left;
    margin-top:7px;
}
.Distance-Buttons
{
    width:79px;
    float:right;
}
.map-toolTip
{
    padding:5px;
    /*background-color:black;
    color:white;
    opacity:0.6;
    z-index:-1;*/
}
#MainContent_colorTable td
{
    border-style: hidden;
}
#MainContent_colorTable2 td
{
    border-style: hidden;
}
#MainContent_colorTable tr:hover
{
    cursor: pointer;
    background-color:white;
}
#MainContent_colorTable2 tr:hover
{
    cursor: pointer;
    background-color:white;
}
#MainContent_colorTable 
{
    margin-top: 10px;
    margin-bottom: 10px;
}
#MainContent_colorTable2
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Threshold
{
    width:50px;
}
.vehicleRouteRed
{
    background-color:#F0413B !important;
}
.vehicleRouteGray
{
    background-color:#A4A3A2;
}
.vehicleRouteYellow
{
    background-color:#FED74E;
}
.vehicleRouteGreen
{
    background-color:#03AC10;
}

.vehicleRouteRed:hover
{
    background-color:red !important;
}
.vehicleRouteGray:hover
{
    background-color:gray;
}
.vehicleRouteYellow:hover
{
    background-color:yellow;
}
.vehicleRouteGreen:hover
{
    background-color:green;
}
.table-header
{
    padding: 7px;
    border: 1px solid #CCC;
    cursor: pointer;
    background-color: #DDD;
    text-align: center;
}
.table-VehicleRoute{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ddd;
}
.table-header-vehicleRoute {
    background-color: #1E88E5;
    padding: 7px;
    /*border: 1px solid #CCC;*/
    cursor: pointer;
    text-align: center;
    color:white;
}
.result-title-detail
{
    margin-bottom:10px;
}
.result-title
{
    margin-top:0;
    margin-bottom:10px;
}
.table-footer
{
    padding: 7px;
    border: none;
    cursor: pointer;
    background-color: #DDD;
    font-weight:bold;
}

.pnlSatellite
{
    background-color: white;
    position: absolute;
    margin-left: 10px !important;
    margin-top: -37px !important;
    width: 120px;
    opacity: 0.7;
    color: black;
    z-index: 998;
}

.infoColor
{
    width:50px;
}
.ReconstructingInfoRoad
{
    width:20px;
    height:10px;
    text-align:center;
    float:left;
    background-color:darkgreen;
    margin:10px;
}
.ReconstructingInfoSpeeding
{
    width:20px;
    height:10px;
    text-align:center;
    float:left;
    background-color:red;
    margin:10px;
}
.ContinuosMonitoringLinkImg {
    width: 150px;
    margin-top: -10px;
    cursor: pointer;
}

label {
    font-weight:400 !important;
}
