﻿@model ECOsystem.Models.ProgramSendReportsBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Envío Programado de Reportes";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="9" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            @Html.Partial("_Partials/_ReportList", Model.List)
            <div id="ControlsContainer"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Settings/ProgramSendReports.js?v=@version-hf0"></script>    
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Coinca.ProgramSendReports.Init();
             ECOsystem.Areas.Coinca.ProgramSendReports.GetData();
        });
    </script>
}
