﻿@model ECOsystem.Models.Core.PartnerSurvey

<br />
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.HiddenFor(m => m.Id)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Nombre de la encuesta")
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre", @class = "form-control", autofocus = "" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Descripción")
                            </div>
                        </div>
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Descripción", @class = "form-control", autofocus = "" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Label("Ejecutar la encuesta en")
                            </div>
                        </div>
                        @Html.DropDownListFor(m => m.TargetId, ECOsystem.Business.Utilities.GeneralCollections.GetPartnerSurveyTargets, "Ejecutar en", new { @class = "form-control" })
                    </div>
                    <div class="form-group" id="SurveyRequireMessage" hidden>
                        <br />
                        <span class="text-danger">Campos requeridos: Nombre y Lugar de ejecución</span>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox chkMargin">@Html.CheckBoxFor(m => m.Active) <b>Encuesta Activa</b></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox chkMargin">@Html.CheckBoxFor(m => m.Mandatory) <b>Obligatorio</b></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" id="splitQuestionContainer">
                            <div class="form-group">
                                <div id="questionContainer" hidden></div>
                            </div>
                        </div>
                        <div class="col-sm-6" hidden id="optionSplitDetailContainer">
                            <div class="form-group">
                                <div id="optionDetailContainer"></div>
                            </div>
                        </div>
                    </div>
                    <div id="questionTableContainer">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="tableHeader">
                                        <div class="col-sm-6" style="margin-top: 5px;">Preguntas</div>
                                        <div class="col-sm-4" style="margin-top: 5px;">Tipo</div>
                                        <div class="col-sm-2 text-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="Agregar Nueva Pregunta">
                                                <button id="btnAddNewQuestion" type="button" class="btn btn-default">
                                                    <i class="mdi mdi-plus"></i>&nbsp;Agregar
                                                </button>
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <ul id="sortableQuestion">
                            @if (Model != null && Model.Questions != null)
                            {
                                var list = Model.NewQuestions ?? Model.Questions;
                                foreach (var item in list.Where(x => !x.Delete).OrderBy(x => x.Order))
                                {
                                    <li class="ui-state-default sortQuestion" id="@item.Id">
                                        <div class="col-sm-6 questionDiv" >
                                            @string.Format("{0}", item.Text)&nbsp;
                                        </div>
                                        <div class="col-sm-4">
                                            @string.Format("{0}", item.QuestionTypeText)&nbsp;
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <i class="mdi mdi-pencil-box editQuestion" id="@item.Id" questionTypeId="@item.QuestionTypeId"></i>
                                            <i class="mdi mdi-close-box removeQuestion" id="@item.Id"></i>&nbsp;
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="form-group" id="SurveyRequireQuestionMessage" hidden>
                        <br />
                        <span class="text-danger">Por favor ingrese al menos una pregunta.</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button id="btnCloseSurvey" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button id="btnSaveSurvey" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar Encuesta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


