﻿@model List<ECOsystem.Models.Core.PartnerSurvey>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.Name).Titled("Encuesta");
            c.Add(m => m.TargetDescription).Titled("Ubicación");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .Titled("Activo")
                .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                            <label style="font-weight:bold;" disabled="disabled">
                                                <input type="checkbox" checked="@m.Active" disabled="disabled">
                                            </label>
                                        </div>);
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<div>
                                         <span>
                                             <a href="#" class="edit-color" id="@m.Id" title="Editar" edit_row>
                                                 <i class="mdi mdi-32px mdi-pencil-box"></i>
                                             </a>
                                         </span>
                                         <span>
                                             <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.Id" title="Eliminar" del_row>
                                                 <i class="mdi mdi-32px mdi-close-box"></i>
                                             </a>
                                         </span>
                                  </div>).Css("grid-col-btn");
                    })
         .Selectable(true)
    )
}
else
{
    <br />
    <div class="alert alert-info">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}