﻿<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeletePartnerSurvey", "PartnerSurvey", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnBegin = "ECOsystem.PartnerSurvey.ShowLoader()",
                OnSuccess = "ECOsystem.PartnerSurvey.OnDeleteSuccess();"
            }, new { id = "deletePartnerSurveyForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar la encuesta?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeletePartnerSurveyQuestion", "PartnerSurvey", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "detailContainer",
                OnBegin = "$('#deleteQuestionModal').modal('hide')",
                OnSuccess = "ECOsystem.PartnerSurvey.OnLoadSuccess()"
            }, new { id = "deletePartnerQuestionForm" }))
            {
                @Html.Hidden("obj")
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar la pregunta de la encuesta?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAnswerModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeletePartnerSurveyAnswer", "PartnerSurvey", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "questionContainer",
                OnBegin = "$('#deleteAnswerModal').modal('hide')",
                OnSuccess = "ECOsystem.PartnerSurvey.OnSuccessAddOrEditAnswer();"
            }, new { id = "deletePartnerAnswerForm" }))
            {
                @Html.Hidden("questionText")
                @Html.Hidden("questionTypeId")
                @Html.Hidden("id")
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminación<span class="element-name"></span></h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar la pregunta de la encuesta?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>