﻿@model ECOsystem.Models.Core.PartnerSurveyAnswer
@{
    var showOtherOption = ViewBag.ShowOtherOption != null ? (bool)ViewBag.ShowOtherOption : false;
}


<fieldset>
    <legend> Detalle de la Respuesta </legend>
    <div class="row">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        @Html.HiddenFor(m => m.Order)
        @Html.HiddenFor(m => m.PartnerSurveyQuestionId)
        <div class="col-sm-12">
            <div class="form-group">
                @Html.Label("Texto de Respuesta")
                @Html.TextBoxFor(m => m.Text, new { placeholder = "Texto de Respuesta", @class = "form-control", autofocus = "" })
                <span class="text-danger" id="OptionRequireMessage" hidden>Campos requeridos: Texto de Respuesta</span>
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-sm-6">
            @if (showOtherOption)
            {
                <div class="checkbox chkMarginOption">@Html.CheckBox("AddNewAnswer", showOtherOption) <b>Agregar otra respuesta</b></div>
            }
        </div>
        <div class="col-sm-6 text-right">
            <button id="btnCloseOption" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
            <button id="btnAddOrEditOption" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
        </div>
    </div>
</fieldset>