﻿@model ECOsystem.Models.Core.PartnerSurveyQuestion

<fieldset>
    <legend> Detalle de la pregunta</legend>
    <div class="row">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        @Html.Hidden("currentQuestionTypeId", Model.QuestionTypeId)
        <div class="col-sm-12">
            <div class="form-group">
                @Html.Label("Texto de Respuesta")
                @Html.TextBoxFor(m => m.Text, new { placeholder = "Texto de Respuesta", @class = "form-control", autofocus = "" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                @Html.Label("Tipo de Pregunta")
                @Html.DropDownListFor(m => m.QuestionTypeId, ECOsystem.Business.Utilities.GeneralCollections.GetPartnerSurveyQuestionTypes, "Tipo de Pregunta", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row" id="QuestionRequireMessage" hidden>
        <div class="col-sm-12">
            <span class="text-danger">Campos Requeridos: Nombre de la Encuesta y Ejecutar la encuesta en.</span>
        </div>
    </div>
    <div class="row" id="OptionContainer">
        @if (Model.ShowOptions)
        {
            var list = Model.NewAnswers != null && Model.NewAnswers.Count > 0 ? Model.NewAnswers : Model.Answers;
            @Html.Partial("_partials/_AnswerDetail", list)
        }
        else
        {
            @Html.Raw(ECOsystem.Resources.PartnerSurvey.NoOptionsForQuestion)
        }
    </div>
    <div class="row">
        <hr />
        <div class="col-sm-12 text-right">
            <button id="btnCancelAddOrEditQuestion" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
            <button id="btnAddOrEditQuestion" type="button" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
        </div>
    </div>
</fieldset>