﻿@model ECOsystem.Models.Core.ServiceStations
@{
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var geopoliticalLevel3 = geopoliticalNames.Count > 2 ? geopoliticalNames[2] : "División geopolítica nivel 3";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.HiddenFor(m => m.ServiceStationId)
        @Html.HiddenFor(m => m.CountryId)
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.BacId, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.BacId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BacId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Legal_Id, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Legal_Id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Legal_Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.ProvinceString, @geopoliticalLevel1, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.ProvinceId, Model.ProvList, "Seleccione " + @geopoliticalLevel1, new { @class = "form-control disabled", @id = "ddlProvincesId", @onchange = "ECO_Partner.ServiceStations.OnProvinceChange();" })
                    @Html.ValidationMessageFor(m => m.ProvinceId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.CantonString, @geopoliticalLevel2, new { @class = "col-sm-14 control-label" })
                    @Html.DropDownListFor(m => m.CantonId, Model.CantList, "Seleccione " + @geopoliticalLevel2, new { @class = "form-control disabled", @id = "ddlCantonsId" })
                    @Html.ValidationMessageFor(m => m.CantonId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Latitude, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Longitude, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                @*<div class="form-group">
                    @Html.LabelFor(m => m.SAPProv, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.SAPProv, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SAPProv, "", new { @class = "text-danger" })
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(m => m.TopMonetaryLimit, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.TopMonetaryLimitStr, new { @class = "form-control", IsAmount = "true" })
                    @Html.ValidationMessageFor(m => m.TopMonetaryLimitStr, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.TopMonetaryLimit)
                </div>
            </div>
        </div>
        <div class="row" style="border-top: 1px solid #ccc;"></div>
        <div class="row">
            <div class="col-sm-12">
                <br />
                <div class="input-group">
                    <input id="txtAddTerminal" type="text" class="form-control" placeholder="Nueva Terminal">
                    <span class="input-group-btn">
                        <button id="btnAddTerminal" type="button" class="btn btn-primary" servicestationid="@Model.ServiceStationId"><i class="mdi mdi-plus"></i>Agregar Terminal</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-12">
                <div id="terminalsTableContainer">
                    @if (Model.TerminalList != null && Model.TerminalList.Any())
                    {
                        <br />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="tableHeader center" colspan="6">Terminales</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.TerminalList.Count; i = i + 3)
                                {
                                    <tr>
                                        <th>@Model.TerminalList[i].TerminalId</th>
                                        <th style="border-right: 1px solid #ccc;" class="text-right">
                                            <a class="delete-color btnDeleteTerminal" terminalid="@Model.TerminalList[i].TerminalId" title="Eliminar"><i class="mdi mdi-32px mdi-close-box"></i></a>
                                        </th>
                                        @if (i < Model.TerminalList.Count - 2)
                                        {
                                            <th>@Model.TerminalList[i + 1].TerminalId</th>
                                            <th style="border-right: 1px solid #ccc;" class="text-right">
                                                <a class="delete-color btnDeleteTerminal" terminalid="@Model.TerminalList[i + 1].TerminalId" title="Eliminar"><i class="mdi mdi-32px mdi-close-box"></i></a>
                                            </th>
                                            <th>@Model.TerminalList[i + 2].TerminalId</th>
                                            <th class="text-right">
                                                <a class="delete-color btnDeleteTerminal" terminalid="@Model.TerminalList[i + 2].TerminalId" title="Eliminar"><i class="mdi mdi-32px mdi-close-box"></i></a>
                                            </th>
                                        }
                                        else if (i < Model.TerminalList.Count - 1)
                                        {
                                            <th>@Model.TerminalList[i + 1].TerminalId</th>
                                            <th class="text-right">
                                                <a class="delete-color btnDeleteTerminal" terminalid="@Model.TerminalList[i + 1].TerminalId" title="Eliminar"><i class="mdi mdi-32px mdi-close-box"></i></a>
                                            </th>                                            
                                        }                                        
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <br />
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No existen terminales asociadas a la estación de servicio
                        </div>
                    }
                </div>
                <div id="addTerminalValidation" hidden></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12  text-right">
                <button type="button" class="btn btn-default" id="btnCancelAddOrEdit"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnValidateServiceStations"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $.validator.unobtrusive.parse("#detailContainer");
        });
</script>
