﻿@model IEnumerable<ECOsystem.Models.Core.ServiceStations>
@{   
    var geopoliticalNames = ECOsystem.Utilities.Session.GetGeopoliticalNames();
    var geopoliticalLevel1 = geopoliticalNames.Count > 0 ? geopoliticalNames[0] : "División geopolítica nivel 1";
    var geopoliticalLevel2 = geopoliticalNames.Count > 1 ? geopoliticalNames[1] : "División geopolítica nivel 2";
    var geopoliticalLevel3 = geopoliticalNames.Count > 2 ? geopoliticalNames[2] : "División geopolítica nivel 3";
}

@if (Model != null && Model.Any())
{
    <div class="card">
        <div class="card-content">
            <div style="margin-bottom:-15px;">
                <i><label>Total de Estaciones de Servicio: @Model.Count()</label></i>  
            </div>
                @(Html.Grid(Model, GridRenderOptions.Create("ServiceStationsGrid"))
                .Selectable(true)
                .Columns(c =>
                {
                    c.Add(m => m.BacId).Titled("Afiliado");
                    c.Add(m => m.Name).Titled("Nombre Afiliado");
                    c.Add(m => m.Address).Titled("Dirección");
                    c.Add(m => m.ProvinceString).Titled(@geopoliticalLevel1);
                    c.Add(m => m.CantonString).Titled(@geopoliticalLevel2);
                    c.Add(m => m.Legal_Id).Titled("Cédula Jurídica");                   
                    c.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(2)
                        .RenderValueAs(m =>
                        @<span>
                            <a class="edit-color" id="@m.ServiceStationId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                            <a  class="delete-color" data-toggle="modal" data-target="#deleteModalStacionesServicio" id="@m.ServiceStationId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                        </span>
                        ).Css("grid-col-btn");
                }))
                      
        </div>
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
       <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
