﻿@model ECO_Control.Models.Control.VehicleSchedule

@if (Model.VehicleId != null)
{
    @Html.HiddenFor(m => m.JsonSchedule)
    @Html.HiddenFor(m => m.RowVersion)

    <div class="row">
        <div class="col-sm-12">
            <table id="scheduleTable">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Dom</td>
                        <td>Lun</td>
                        <td>Mar</td>
                        <td>Mier</td>
                        <td>Jue</td>
                        <td>Vie</td>
                        <td>Sab</td>
                        <td>&nbsp;</td>
                        <td>Dom</td>
                        <td>Lun</td>
                        <td>Mar</td>
                        <td>Mier</td>
                        <td>Jue</td>
                        <td>Vie</td>
                        <td>Sab</td>                        
                    </tr>
                </thead>
                <tbody id="scheduleBody"></tbody>
            </table>
        </div>
    </div>
    <div class="row top20">
        <div class="col-sm-12">
            <div class="text-info"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Seleccione <strong>múltiples cuadros</strong> con el clic presionado.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
        </div>
        <div class="col-sm-8 text-right">
            <button id="btnAddAlarm" type="button" class="btn btn-success"><i class="glyphicon glyphicon-bell"></i>&nbsp;Alarma</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clearModal"><i class="glyphicon glyphicon-share"></i>&nbsp;Desmarcar Todos</button>
            <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
        </div>
    </div>

    @section scrips{    
        <script>
            ECOsystem.VehicleSchedule.InitCanvas();
        </script>
    }
}