﻿@model ECO_Efficiency.Models.SeeRouteBase
@{
    ViewBag.Title = "Ver Trayecto de Vehículo";
    ViewBag.Localizacion = "active";
    ViewBag.Localization = "active";
    ViewBag.Localization = "active";
    ViewBag.MapsSeeRouteIndex = "active";
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }

        .colpick {
            z-index: 9999;
        }

        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }

        .colpick {
            z-index: 9999;
        }

        body {
            overflow-x: hidden;
        }

        .menu-hide {
            display: none;
        }

        .menu-show {
            width: 300px;
            height: calc(100vh - 100px);
            position: absolute;
            top: 0px;
            background: #eee;
        }

            .menu-show .panel {
                margin: 0;
                border-radius: 0 !important;
            }

        .menu-right-hide {
            right: 0 !important;
        }

        #menu-right {
            right: 0;
        }

        .map {
            width: 100%;
            position: absolute;
        }

        .map-menu-left-hide {
            left: 0px !important;
        }

        .toggle-btn {
            position: absolute;
            border-radius: 0 !important;
            background-color: #f5f5f5 !important;
        }

            .toggle-btn i {
                font-size: 24px;
            }

        .toggle-left-btn {
            left: 315px;
            top: 0px;
            border-left: 0 !important;
        }

        .toggle-right-btn {
            right: 300px;
            top: 0px;
            border-right: 0 !important;
        }

        .nav-tabs {
            border: 0;
        }

            .nav-tabs > li {
                width: 50%;
                text-align: center;
            }

                .nav-tabs > li.active > a,
                .nav-tabs > li.active > a:hover,
                .nav-tabs > li.active > a:focus {
                    border: 0 !important;
                }

        .card-heading {
            padding: 10px;
            background-color: darkcyan;
            color: white;
        }

        .panel-container-cards {
            height: calc(100vh - 216px);
            overflow: auto;
            width: 100%;
        }

        .panel-group {
            margin: 10px !important;
        }

        .panel-body {
            padding: 10px 10px 5px !important;
        }

        .tab-pane {
            background-color: #eee;
        }

        .card,
        .card-content {
            margin-top: 0 !important;
        }

        .checkbox label {
            padding: 0;
        }

    </style>
}


@using (Ajax.BeginForm("AddOrEditVehicles", "SeeRoute", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" })) { }

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper" class="row">
    <div class="col-sm-12">
        <div id="detailContainer">
            @Html.Partial("_partials/_Detail", Model.Data)
        </div>
        <div id="menu-left" class="menu-show panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h4>Vehículos</h4>
                    </div>
                    <div class="col-xs-4 text-right">
                        <button id="btnExpandLeft" type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Expandir Contraer" style="height: 30px">
                            <i class="mdi mdi-arrow-expand-all"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="with-nav-tabs">
                <div class="">
                    <ul class="nav nav-tabs">
                        <li id="tabCostCenter" class="active"><a href="#tab1default" data-toggle="tab" onclick="">Centros Costos</a></li>
                        <li id="tabGroup" class=""><a href="#tab2default" data-toggle="tab">Grupos</a></li>
                    </ul>
                </div>
                <div id="gridContainer" class="panel-container-cards">
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab1default">
                            <div class="input-group" style="padding: 10px;">                                
                                <input id="txtSearcCostCenter" type="text" class="form-control" placeholder="Filtrar">
                                <span class="input-group-btn">
                                    <button id="btnSearchCostCenter" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                </span>
                            </div>                           
                                @Html.Partial("_Partials/_VehicleCostCenterList", Model.List)                           
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <div class="input-group" style="padding: 10px;">
                                <div class="input-group">                                    
                                    <input id="txtSearcRightPanel" type="text" class="form-control" placeholder="Filtrar">
                                    <span class="input-group-btn">
                                        <button id="btnSearchVehicleGroup" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                    </span>
                                </div>
                            </div>                            
                                @Html.Partial("_Partials/_VehicleGroupList", Model.List)                           
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div id="menu-right" class="menu-show panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h4>Detalle del Vehículo</h4>
                    </div>
                    <div class="col-xs-4 text-right">
                        <button id="btnExpandRight" type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Expandir Contraer" style="height: 30px">
                            <i class="mdi mdi-arrow-expand-all"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane">
                <div id="divVehicleList" class="panel-container-cards-right">
                </div>
            </div>
        </div>
        <button id="menu-left-toggle" class="btn btn-default toggle-left-btn toggle-btn"><i class="mdi mdi-car"></i></button>
        <button id="menu-right-toggle" class="btn btn-default toggle-right-btn toggle-btn"><i class="mdi mdi-format-list-bulleted"></i></button>
    </div>
</div>
<!-- Load Form Start-->

<div class="row">
    <div class="col-lg-12">

        @using (Ajax.BeginForm("LoadSeeRoute", "SeeRoute", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "detailContainer",
            OnSuccess = "ChargeInfoRightPanel()"
        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }

    </div>
</div>

@section scripts {
   <script src="~/Scripts/Efficiency/SeeRoute.js?v=@version-hf0"></script>
<script>
    $(function () {
        $("#LoadMenuForm").submit();
        ECO_Efficiency.SeeRoute.Init();
 
        $("#mapFrame").attr("OriginalSrc");
    });

    $('#btnSearchVehicleGroup').click(function () {
       // var text = $('#txtSearcRightPanel').val();
        SearchVehicleGruopsLeftPanel();
    });

    //document.getElementById("txtSearcRightPanel").onkeyup = function () {
    //    var text = $('#txtSearcRightPanel').val();
    //    SearchVehicleLeftPanel(text)
    //};

    $('#btnSearchCostCenter').click(function () {
       // var text = $('#txtSearcCostCenter').val();
        SearchCostCentersLeftPanel();
    });

    //document.getElementById("txtSearcCostCenter").onkeyup = function () {
    //    var text = $('#txtSearcCostCenter').val();
    //    SearchVehicleLeftPanel(text)
    //};


    // Expand Left Cards
    $("#btnExpandLeft").click(function (e) {
        var expand = $(this).attr('expand');
        if (typeof expand !== typeof undefined && expand !== false) {
            $(".accordin-left").collapse("hide");
            $(this).removeAttr("expand");
            ChangeExpandIcon($("#btnExpandLeft i"), true);
        } else {
            $(".accordin-left").collapse("show");
            $(this).attr("expand", "expand");
           ChangeExpandIcon($("#btnExpandLeft i"), false);
        }
    });

    $("#menu-left-toggle").click(function () {
        $("#menu-left").toggleClass("menu-hide");
        $("#map").toggleClass("map-menu-left-hide");
        $("#menu-left-toggle").toggleClass("map-menu-left-hide");
    });
    $("#menu-right-toggle").click(function () {
        $("#menu-right").toggleClass("menu-hide");
        $("#menu-right-toggle").toggleClass("menu-right-hide");
    });

    function ChargeInfoRightPanel() {
        
        var id = $('#VehicleId').val();
        $.ajax({
            url: '/Eficiencia/SeeRoute/VehicleDetailsPanel',
            type: "GET",
            data: { VehicleId: id }
        }).done(function (partialViewResult) {
            $("#divVehicleList").html(partialViewResult);
        });;
    }


    //Function that looks for the filter in the left panels
    function SearchCostCentersLeftPanel() {
        var flag = 0;
        var text = $('#txtSearcCostCenter').val();
        $(".checkboxCC").show("slow");

        $(".CostCenterPanelRight").each(function (index) {
            if (text == '') {
                var CCCode = $(this).attr("CCCode");
                if (typeof CCCode !== 'undefined') {
                    $(this).show("slow");
                }
            }
            else {
                var CCCode = $(this).attr("CCCode");
                var CCName = $(this).attr("CCName");

                if (typeof CCCode !== 'undefined' && typeof CCName !== 'undefined') {

                    if (CCCode.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                        $(this).show("slow");
                    }
                    else if (CCName.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                        $(this).show("slow");
                    }
                    else {

                        $(this).find('.checkboxCC').each(function () {
                            var VHPlate = $(this).attr("VHPlate");
                            var VHName = $(this).attr("VHName");

                            if (typeof VHName !== 'undefined' && typeof VHPlate !== 'undefined') {

                                if (VHName.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                    $(this).show("slow");
                                    flag = 1;
                                }
                                else if (VHPlate.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                    $(this).show("slow");
                                    flag = 1;
                                }
                                else {
                                    $(this).hide("slow");
                                }
                            }
                        });

                        //If the vehicle was found let the cost center visible 
                        if (flag != 1) {
                            $(this).hide("slow");
                        }
                        else {
                            flag = 0;
                        }
                    }
                }
            }
        });
    }

    //Function that looks for the filter in the left panels 
    function SearchVehicleGruopsLeftPanel() {
        var flag = 0;
        var text = $('#txtSearcRightPanel').val();
        $('.checkboxGV').show("slow");

        $('.GroupVehiclePanelRight').each(function (index) {
            if (text == '') {
                var gvname = $(this).attr('gvname');
                if (typeof gvname !== 'undefined') {
                    $(this).show("slow");
                }
            }
            else {               
                var gvname = $(this).attr("gvname");

                if (typeof gvname !== 'undefined') {

                    if (gvname.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                        $(this).show("slow");
                    }
                    else {

                        $(this).find('.checkboxGV').each(function () {
                            var VHPlate = $(this).attr("VHPlate");
                            var VHName = $(this).attr("VHName");

                            if (typeof VHName !== 'undefined' && typeof VHPlate !== 'undefined') {

                                if (VHName.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                    $(this).show("slow");
                                    flag = 1;
                                }
                                else if (VHPlate.toUpperCase().indexOf(text.toUpperCase()) >= 0) {
                                    $(this).show("slow");
                                    flag = 1;
                                }
                                else {
                                    $(this).hide("slow");
                                }
                            }
                        });

                        //If the vehicle was found let the cost center visible 
                        if (flag != 1) {
                            $(this).hide("slow");
                        }
                        else {
                            flag = 0;
                        }
                    }
                }
            }
        });
    }

</script>
}

