﻿@using ECO_Operation.Models
@model DrivingTimeBase
@{
    ViewBag.Title = "Tiempo de Jornada por Conductor";
    ViewBag.Operation = "active";
    ViewBag.OperationReports = "active";
    ViewBag.DrivingTimePerDriver = "active";
    var isPrintView = ViewBag.PrintView ?? false;

    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";

    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    var hide3 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DayDate) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}
<script src="~/Content/Scripts/googleCharts/loader.min.js?v=@version-hf0"></script>
@section styles {
    @Styles.Render("~/bundles/gridmvc_css")

    <style>
        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

       .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
        }

         .carousel-indicators li {
            background: #9c9c9c;
        }

        .carousel-indicators .active {
            background: #4B4B4B;
        }

        .carousel-control {
            color: #4B4B4B;
            top: auto;
            bottom: 0;
             padding-top: 4px;
            width: 36px;
            height: 36px;
            -ms-opacity: 1;
            opacity: 1;
            -ms-text-shadow: none;
            text-shadow: none;
        }

            .carousel-control:hover {
                color:black;
            }
    </style>
}

@if (!isPrintView)
{
    using (Ajax.BeginForm("LoadMenus", "ASPMenus", new {area =""}, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="4" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }
}

<div id="page-content-wrapper">
    <div class="container-fluid">
       
        @using (Html.BeginForm("Index", "DrivingTimeperDriverReport", FormMethod.Post, new { id = "ReloadForm" }))
        {
            <div class="row">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId, ECO_Operation.Business.GeneralCollections.GetDriverReportCriteria, "Filtro de Búsqueda", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>

                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Parameters.Month, ECO_Operation.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Parameters.Year, ECO_Operation.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>

                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div data-repor-by="3000" class="@hide3">
                    <div class="col-sm-4">
                        <div class='input-group date' id='datetimepickerDayDate' data-date-end-date="-1d">
                            @Html.TextBoxFor(m => m.Parameters.DayDateStr, new Dictionary<string, object> { { "placeholder", "Fecha Día" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.List != null && Model.List.Any())
        {
            <div class="card">
                <div class="card-content">
                    <span class="card-title" id="card_title">

                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect " for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                            <span class="mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect  " for="option-2">
                            <input type="radio" id="option-2" class="mdl-radio__button activator" name="options" value="2">
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>

                    </span>

                    <div class="row">
                        <div class="col-sm-12">

                            <div id="DrivingTimeChart" class="carousel slide">
                                <!-- inner -->
                                <div class="carousel-inner">

                                    <div class="item active">
                                        <div id="gchart_DrivingTime" style="margin-bottom: 4%"></div>
                                    </div>
                                </div>
                                <!-- Indicators -->
                                <ol id="container-control" class="carousel-indicators" >
                                    @for (var i = 0; i < (Model.List.Count() / 12) + 1; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <li data-target="#DrivingTimeChart" class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#DrivingTimeChart" class=""></li>
                                        }
                                    }

                                </ol>
                                <!-- Controls -->
                                <div>
                                    <a class="left carousel-control disabled" onclick="chart_load(-1)"><i class="mdi mdi-chevron-double-left mdi-32px"></i></a>
                                    <a class="right carousel-control" onclick="chart_load(+1)"><i class="mdi mdi-chevron-double-right mdi-32px"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row" style="margin: 0 auto;padding-left: 12%;">
                        @*<div class="col-sm-4">
                                <h6><span class="label label-danger">&nbsp;</span> Puntuación > @Model.Parameters.RedLower% o < @Model.Parameters.RedHigher% </h6>
                            </div>
                            <div class="col-sm-4">
                                <h6><span class="label label-warning">&nbsp;</span> Puntuación > @Model.Parameters.YellowLower% y < @Model.Parameters.YellowHigher%</h6>
                            </div>
                            <div class="col-sm-4">
                                <h6><span class="label label-success">&nbsp;</span> Puntuación > @Model.Parameters.GreenLower% y < @Model.Parameters.GreenHigher%</h6>
                            </div>*@
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                            <input type="radio" id="option-3" class="mdl-radio__button" name="options2" value="1">
                            <span class="mdl-radio__label">Gráfico</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                            <input type="radio" id="option-4" class="mdl-radio__button activator" name="options2" value="4" checked>
                            <span class="mdl-radio__label activator">
                                Tabla Informativa
                            </span>
                        </label>
                    </span>
                    @Html.Partial("_partials/_Grid", Model.List)
                </div>
            </div>
        }
        else
        {
            <br />
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information mdi-18px"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
            </div>
        }
     </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/gridmvc_js")
    <script src="~/Scripts/Operation/DrivingTimeperDriverReport.min.js?v=@version-hf0"></script>

    <script>
        $(function() {
            $("#LoadMenuForm").submit();
            ECO_Operation.DrivingTimeperDriverReport.Init({
                printURL:
                    '@Url.Action("PrintReport", "DrivingTimeperDriverReport", new {p = Model.Parameters.ParametersInBase64})',
                printMode: 'True' === '@isPrintView' ? true : false
            });
        });
    </script>
    @*
    <script>
        $(function() {

            var labels = @Model.Parameters.Labels;
            var data  =  @Model.Parameters.Data;
            var data2 =  @Model.Parameters.Data2;

            for(var i = 0; i < ( @Model.List.Count()/6) + 1; i++){

                Highcharts.setOptions({
                    colors: ['#DB603A', '#389038']
                });
                var str = '#container_'+i;
                str = str.replace(/^\s+|\s+$/g,"");
                $(str).highcharts({

                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        categories: labels.slice(i*6,(i+1)*6),
                    },

                    yAxis: {
                        allowDecimals: false,
                        min: 0,
                        title: {
                            text: 'Horas'
                        }
                    },


                    tooltip: {
                        formatter: function () {
                            if ('Horas en Conducción'.localeCompare(this.series.name))
                                return '<b>' + this.x + '</b><br/>' + this.series.name + ': ' + this.point.stackTotal + '<br/>'
                                + 'Horas en Conducción: ' + (this.point.stackTotal - this.point.y);
                            else
                                return '<b>' + this.x + '</b><br/>' + 'Tiempo de Jornada: ' + this.point.stackTotal + '<br/>'
                                + this.series.name + ': ' + this.point.y;
                        }
                    },

                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    if (this.series.name == 'Horas en Conducción')
                                        return this.point.y + ' Hr';
                                    else
                                        return this.point.stackTotal + ' Hr';
                                },
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                                style: {
                                    fontSize: '12px',
                                    textShadow: '0 0 0px black'
                                }
                            }
                        },
                        series: {
                            events: {
                                legendItemClick: function () {
                                    return false;
                                }

                            }
                        }

                    },
                    series: [{
                        name: 'Tiempo de Jornada',
                        data: data2.slice(i*6,(i+1)*6), // horas de jornada - horas trabajadas
                        stack: 'male'
                    }, {
                        name: 'Horas en Conducción',
                        data: data.slice(i*6,(i+1)*6),
                        stack: 'male'
                    }]
                })
            }

            });
    </script>*@

    <script>
        window.chartIndicatiorsClass = 0;

        function chart_load(i) {
            var count = @Model.List.Count();
            if (window.chartIndicatiorsClass + i >= 0 && window.chartIndicatiorsClass + i <= (count / 12)) {
                $('#carousel-indicators').find(".active").removeClass("active");
                window.chartIndicatiorsClass = i >= 0
                    ? window.chartIndicatiorsClass + 1
                    : window.chartIndicatiorsClass - 1;
                var elements = document.getElementsByClassName('carousel-indicators')[0].getElementsByTagName("li");
                elements[window.chartIndicatiorsClass].classList.add('active');
                google.charts.setOnLoadCallback(drawChart);
            }
        }

        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var labels = @Model.Parameters.Labels;
            var modeldata = @Model.Parameters.Data;
            var data2 = @Model.Parameters.Data2;

            modeldata = modeldata.slice(chartIndicatiorsClass * 12, chartIndicatiorsClass * 12 + 12);
            data2 = data2.slice(chartIndicatiorsClass * 12, chartIndicatiorsClass * 12 + 12);
            labels = labels.slice(chartIndicatiorsClass * 12, chartIndicatiorsClass * 12 + 12);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Identificación');
            data.addColumn('number', 'Horas de Conducción');
            data.addColumn('number', 'Tiempo de Jornada');
            data.addColumn({ type: 'string', role: 'tooltip' });
            data.addRows(modeldata.length);

            for (var i = 0; i < modeldata.length; i++) {
                data.setCell(i, 0, labels[i]);
                data.setCell(i, 1, modeldata[i]);
                data.setCell(i, 2, data2[i]);
                data.setValue(i, 3, 'Tooltip #' + i);
            }

            var view = new google.visualization.DataView(data);
            //var options = {
            //    legend: { position: 'none' },
            //    chart: {title: ' ' },
            //    bars: 'vertical',
            //    vAxis: {
            //        minValue: 0, maxValue: 100,format: '#\'%\''
            //    },
            //    height: 400, colors:['gray']
            //};


            var options = {
                isStacked: true,
                height: 600,   
                colors: ['#389038','#DB603A'],
                chart: {
                    title: ' ',
                    subtitle: 'Horas en Conducción'
                }
            };

            options = google.charts.Bar.convertOptions(options);
            chart = new google.charts.Bar(document.getElementById('gchart_DrivingTime'));

            chart.draw(view, options);

            //google.visualization.events.addListener(chart, 'select', colorize);
            //google.visualization.events.addListener(chart, 'onmouseover', colorize);
            //google.visualization.events.addListener(chart, 'ready', colorize);

        }

        function colorize() {
            var colors = ['#DB603A', '#389038'];
            selection = chart.getSelection(),
                selected = selection[0] ? selection[0].row : -1,
                svg = document.getElementById('gchart_DrivingTime').querySelector('svg'),
                bars = svg.querySelectorAll('path');

            colors = colors.slice(window.chartIndicatiorsClass * 12, window.chartIndicatiorsClass * 12 + 12);

            for (var i = 0; i < bars.length; i++) {

                if (i !== selected) {
                    bars[i].setAttribute('fill', colors[1]);
                    if (i > 5) {                 
                    bars[i].setAttribute('fill', colors[0]);
                }
            }
        }

    }

    </script>

}






