﻿@model IEnumerable< ECOsystem.Areas.Control.Models.Control.ApprovalTransactions>
@{
    var list =  ECOsystem.Areas.Control.Business.GeneralCollections.GetApprovalTransactionsTypes();
    var edit =  ECOsystem.Areas.Control.Business.GeneralCollections.GetEditableApprovalTransactionsTypes(true);
    var notedit =  ECOsystem.Areas.Control.Business.GeneralCollections.GetEditableApprovalTransactionsTypes(false);
    var StationList =  ECOsystem.Areas.Control.Business.Control.ApprovalTransactionBusiness.GetServiceStations();
    var vehiclesCostCenters =  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters;
    List< ECOsystem.Areas.Control.Models.Control.ApprovalTransactionsParameters> DynamicList = Model.Count() == 0 ? new List< ECOsystem.Areas.Control.Models.Control.ApprovalTransactionsParameters>() : Model.Select(x => x.DynamicColumnList).FirstOrDefault().ToList();

    Guid statusauth = new Guid("8BAFAEE7-0590-4441-B451-EA8AC9394143");
    Guid noauth = new Guid(notedit.Where(x => x.Text == "NO Conciliar").FirstOrDefault().Value);
    var hasBranches = Model.Count() > 0 ? (Model.FirstOrDefault().IsCustomerBranch > 1) : false;

}

@if (Model != null && Model.Any())
{
    @*<div class="top30 col-lg-12 autorizarTransaccionesContainerClass" id="autorizarTransaccionesContainer" >*@
    <div class="row">
        <div class="col-sm-2 autorizarTransaccionesContainerClass" id="autorizarTransaccionesContainerTop">
            <button type="button" id="autorizarTransacciones" class="btn btn-primary autorizarTransaccionesBtn" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Autorizar seleccionados</button>
        </div>
    </div>
    @(Html.Grid(Model)
                      .Selectable(true)
                      .Columns(c =>
                      {
                          c.Add()
                            .Titled("<div class='checkbox' style='margin-bottom: -3px; margin-left: 15px;'>" +
                                                        "<span data-toggle='tooltip' data-placement='bottom' title='Seleccionar todos'>" +
                                                            "<label style='font-weight:bold;'> <input type='checkbox' id='checkall'> </label>" +
                                                            "</span>" +
                                                        "</div>")
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(2)
                            .RenderValueAs(m => @<div class="checkbox" style="margin-top: 2px; margin-left: 15px;">
                                <label style="font-weight:bold;">
                                    <input type="checkbox" class="showCheck gridchkbox" data-status="@m.Checked" id="@m.TransactionId" checked="@m.Checked" name="_Activo">
                                </label>
                            </div>);
                                      c.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(m => @<div id="transactionId" transid="@m.TransactionId">@Html.Raw(m.Icon)</div>)
.Titled("");
                      c.Add(m => m.Date).Titled("Fecha");
                      c.Add()
.Encoded(false)
.Sanitized(false)
.RenderValueAs(m => @<div>
    @{
                        var classAuth = "";
                        var classPending = "";
                        if ((@m.Status == statusauth || @m.Status == noauth) && (@m.Change == null || !(bool)@m.Change))
                        {
                            classPending = "hide";
                        }
                        else
                        {
                            classAuth = "hide";
                        }
    }
    <label class="@classAuth">
        @m.StatusName
    </label>
    <div class="@classPending">
        @Html.DropDownList("Status_" + m.TransactionId, new SelectList(list.Items, "Key", "Value", @m.Status), new { @class = "form-control match-content statuslist canFocus", @transactionId = m.TransactionId, @dropdow = "Status" })
    </div>
</div>)
  .Titled("Estado");
                      c.Add()
.Encoded(false)
.Sanitized(false)
.RenderValueAs(m => @<div>
    @{
                        var classAuth = "";
                        var classPending = "";
                        if ((@m.Status == statusauth || @m.Status == noauth) && (@m.Change == null || !(bool)@m.Change))
                        {
                            classPending = "hide";
                        }
                        else
                        {
                            classAuth = "hide";
                        }
    }
    <label class="@classAuth">
        @m.Invoice
    </label>
    <div class="@classPending">
        @Html.TextBox("Invoice_" + m.TransactionId, @m.Invoice, new { @class = "form-control match-content txtInvoice canFocus", @maxlength = "20", @oninput = @"this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" })
    </div>
</div>)
.Titled("Factura");
            c.Add(m => m.ElectronicInvoice).Titled("Factura Electronica");
            c.Add()
.Encoded(false)
.Sanitized(false)
.RenderValueAs(m => @<div>
    @{
                        var classAuth = "";
                        var classPending = "";
                        if ((@m.Status == statusauth || @m.Status == noauth) && (@m.Change == null || !(bool)@m.Change))
                        {
                            classPending = "hide";
                        }
                        else
                        {
                            classAuth = "hide";
                        }
    }
    <label class="@classAuth">
        @m.CostCenterName
    </label>
    <div class="@classPending">
        @Html.DropDownList("CostCenter_" + m.TransactionId, new SelectList(vehiclesCostCenters.Items, "Key", "Value", @m.CostCenterId), new { @class = "form-control match-content costcenterlist canFocus", @transactionId = m.TransactionId, @dropdow = "CostCenter" })
    </div>
</div>)
.Titled("Centro de Costo");
      if (DynamicList.Any())
      {
          foreach (var val in DynamicList)
          {
              c.Add()
.Encoded(false)
.Sanitized(false)
.RenderValueAs(m => @<div>
    @{
                        var valueslist = m.DynamicColumnValues.ToList();
                        var value = valueslist.Count > 0 ? valueslist.Where(x => x.Id == val.Id).FirstOrDefault() == null ? string.Empty : valueslist.Where(x => x.Id == val.Id).FirstOrDefault().Value : string.Empty;
    }
    @*@Html.TextBox("Column_" + val.Id, value, new { @class = "canFocus form-control txtDynamicColumn DynamicColumn_" + m.TransactionId, @TransactionId = m.TransactionId, @ColumnId = val.Id, @placeholder = val.Value })*@
    @Html.TextBox("Column_" + val.Id + "_" + m.TransactionId, value, new { @class = "canFocus form-control txtDynamicColumn DynamicColumn_" + m.TransactionId, @TransactionId = m.TransactionId, @ColumnId = val.Id, @placeholder = val.Value })
</div>)
.Titled(val.Value);
                    }
                }
                c.Add()
.Encoded(false)
.Sanitized(false)
.RenderValueAs(m => @<div>
    @{
                        var classAuth = "";
                        var classPending = "";
                        if ((@m.Status == statusauth || @m.Status == noauth) || @m.ServiceStationName != null)
                        {
                            classPending = "hide";
                        }
                        else
                        {
                            classAuth = "hide";
                        }
    }
    <label class="@classAuth">
        @m.ServiceStationName
    </label>
    <div class="@classPending">
        @Html.DropDownList("ServiceStation_" + m.TransactionId, new SelectList(StationList.Items, "Key", "Value", @m.ServiceStationId), new { @class = "form-control match-content servicestationlist", @transactionId = m.TransactionId, @dropdow = "ServiceStation" })
    </div>
</div>)
              .Titled("Estación de Servicio");
                              c.Add(m => m.TerminalId).Titled("# Terminal");
                              c.Add(m => m.CustomerName).Titled("Nombre del Cliente").SetWidth(120);
                              if (hasBranches)
                                  c.Add(m => m.CustomerBranchName).Titled("Empresa Matriz").SetWidth(120);
                              c.Add(m => m.VehicleName).Titled("Vehículo");
                              c.Add(m => m.PlateId).Titled("Placa");
                              c.Add(m => m.PaymentInstrument).Titled("# Medio de Pago");
                              c.Add()
                                    .Titled("Medio de Pago")
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .SetWidth(20)
                                    .RenderValueAs(m => @<span class="center">
                                    <label class="label label-success" style="font-size: 14px;">@m.PaymentInstrumentType</label>
                                    <label class="legend"></label>
                                </span>);
                                c.Add(m => m.DriverNameDecrypt).Titled("Conductor");
                                c.Add(m => m.CapacityUnitValueStr).Titled(ECOsystem.Utilities.Session.GetCustomerCapacityUnitName());
                                c.Add(m => m.Amount).Titled("Monto");
                                c.Add(m => m.FuelName).Titled("Combustible");

                                if (Model.FirstOrDefault().IsInternational == true)
                                {
                                    c.Add(m => m.CountryName).Titled("País");
                                    c.Add(m => m.ExchangeValue).Titled("Tipo de Cambio");
                                    c.Add(m => m.RealAmount).Titled("Monto Real");
                                }
                            }).SetRowCssClasses(m => m.Color)
                        .WithPaging(20)
    )
    <br />
    @*<div class="top30 col-lg-12 autorizarTransaccionesContainerClass" id="autorizarTransaccionesContainer">*@
    <div class="row">
        <div class="col-sm-2 autorizarTransaccionesContainerClass" id="autorizarTransaccionesContainerBottom">
            <button type="button" id="autorizarTransacciones" class="btn btn-primary autorizarTransaccionesBtn" title="Actualiza las filas coloreadas de amarillo"><i class="mdi mdi-check"></i>&nbsp;Autorizar seleccionados</button>
        </div>
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la información buscada.
    </div>
}