﻿<div class="modal fade" id="ImportModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            @using (Html.BeginForm("AddOrEditImportApprovalTransactions", "ApprovalTransaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Conciliación de Transacciones</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="input-group">
                                <input id="txtFile" name="key" type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button id="btnSearchFile" type="button" class="btn btn-primary" title="Buscar" onclick="onClickImport2()"><i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Buscar</button>
                                    <input type="file" class="hide" id="ImportCSV" accept=".csv" size=" 43" name="fileHidden" onchange="getFilename(this)" />
                                </span>
                            </div>
                            <br />
                            <label>* Tipo de archivo CSV</label><br />
                            <label>* El proceso puede tardar algunos minutos</label><br />
                            <label>* Por favor validar que el archivo tiene el formato correcto. Click <a class="" href="@Url.Action("DonwloadExampleFile", "ApprovalTransaction")">aquí</a> para descargar archivo de ejemplo.</label>
                        </div>
                    </div>
                    <div id="validationFormat" class="row top20">
                        <div id="errorFormatMsj" class="col-sm-12 text-danger">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button id="btnImport" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Importar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="SummaryResultModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Conciliación de Transacciones - Resultado de la Conciliación Automática</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-6"><b>Fecha:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultimportdate"></span></b></div><br />
                        <div class="col-sm-6"><b>Tipo de Conciliación:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultapprovaltype"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad de Transacciones Autorizadas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultapproval"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad de Transacciones NO procesadas:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resultnoapproval"></span></b></div><br />
                        <div class="col-sm-6"><b>Cantidad TOTAL de Transacciones:</b></div>
                        <div class="col-sm-6 text-right"><b><span id="resulttotal"></span></b></div><br />
                        <br />
                        <div class="col-sm-12">Las transacciones que se muestran en la pantalla de Conciliación son las <b><span id="resulttype"></span></b>.</div><br />
                        <div class="col-sm-12">El archivo corresponde a las transacciones que no se pudieron conciliar por lo que debe hacerlo en forma manual.</div><br />
                        <br />
                    </div>
                </div>
                <div class="modal-footer" style="padding: 5px!important; margin-bottom: -10px!important;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

