﻿@model ECOsystem.Models.Core.AlarmsModels
@{
    ViewBag.Title = "Alarmas por Vehiculos";
    ViewBag.Alarms = "active";
    ViewBag.AlarmsByVehicles = "active";
    ViewBag.Reports = "active";

    var isPrintView = ViewBag.PrintView ?? false;

    if (isPrintView)
    {
        Layout = "~/Views/Shared/_PrintLayout.cshtml";
    }
}
@if (!isPrintView)
{
    @Html.Partial("~/Views/Alarm/_partials/_Menu.cshtml")
}
<div id="page-content-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Alarmas por Vehículos<br /><small>Alarmas Enviadas por VehÍculos</small></h3>
        </div>
            
    </div>
      
    <div class="row">
                      
            @if (!isPrintView)
            {
                using (Ajax.BeginForm("ReturnAlarmsByVehicles", "Alarm", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer"
                     
                }, new { id = "ReloadForm" }))
                {
                    <div class="col-lg-5">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBox("StartDateStr", null, new { placeholder = "Fecha inicial", @class = "form-control fbold", id = "StartDate", required = "required", autocomplete=  "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-5">
                            <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBox("EndDateStr", null, new { placeholder = "Fecha Final", @class = "form-control fbold", id = "EndDate", required = "required", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                }
                using (Html.BeginForm("ExcelReportDownload", "Alarm", FormMethod.Post, new { id = "formExcel" }))
                {
                    <div class="dropdown col-lg-1">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar/Imprimir">
                            <i class="glyphicon glyphicon-share-alt"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu"  aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  download>
                                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;Exportar Excel
                                    </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" data-print-link>
                                    <i class="glyphicon glyphicon-print"></i>&nbsp;&nbsp;Formato Impresión
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                   
            }
            else
            {
                <a type="button" id="btnPrint" class="btn btn-default col-lg-1 col-lg-offset-11"><i class="glyphicon glyphicon-print"></i>&nbsp;Imprimir</a>
            }
          
    </div>
    <div class="row">
            <div class="col-lg-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_GridAlarmsByVehicles", Model.List)
        </div>
    </div>
</div>

@section scripts {
    <script>

        $('#page-wrapper').off('click.print', 'a[data-print-link]').on('click.print', 'a[data-print-link]', function (e) {
            var startDate = $('#StartDate').val();
            var endDate = $('#EndDate').val();
            if (startDate != '' && endDate != '') {
                ECOsystem.Utilities.ShowPopup('@Url.Action("PrintReport", "Alarm")' + '?StartDateStr=' + startDate + '&EndDateStr=' + endDate, 'Formato de impresión');
            }
        });

        $('#page-wrapper').off('click.print', 'a[download]').on('click.print', 'a[download]', function (e) {
         
            var startDate = $('#StartDate').val();
            var endDate = $('#EndDate').val();

            $(this).closest("#formExcel").append('<input type="hidden" name="StartDateStr" value="' + startDate + '" />');
            $(this).closest("#formExcel").append('<input type="hidden" name="EndDateStr" value="' + endDate + '" />');
            $(this).closest("#formExcel").submit();

        });
       
        $('#btnPrint').off('click.btnPrint').on('click.btnPrint', function (e) {
            window.print();
        });
       
     
            $('#datetimepickerStartDate').datepicker({
                language: 'es',
                minDate: new Date(),
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            }).on('changeDate', function (e) {
                if ($('#StartDate').val().length == 10)
                    $('#ReloadForm').submit();
                else
                    invalidSelectOption();
            });
            $("#Parameters_StartDateStr").alphanum({
                allowNumeric: true,
                allowUpper: false,
                allowLower: false,
                allowCaseless: true,
                allowSpace: false,
                allow: '/',
                maxLength: 10
            });


            $('#datetimepickerEndDate').datepicker({
                language: 'es',
                minDate: new Date(),
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            }).on('changeDate', function (e) {
                if ($('#EndDate').val().length == 10 )
                    $('#ReloadForm').submit();
                else
                    invalidSelectOption();
            });

            $("#Parameters_EndDateStr").alphanum({
                allowNumeric: true,
                allowUpper: false,
                allowLower: false,
                allowCaseless: true,
                allowSpace: false,
                allow: '/',
                maxLength: 10
            });
       

    </script>
}