﻿@model ECO_Efficiency.Models.AlarmsModels

<!-- Modal Start -->
<div class="modal fade" id="alarmModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@Model.TitlePopUp</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.AlarmId)
                @Html.HiddenFor(m => m.AlarmTriggerId)
                @Html.HiddenFor(m => m.EntityTypeId)
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m => m.CustomerId)
                @Html.HiddenFor(m => m.RowVersion)
                @Html.HiddenFor(m => m.EmailPlaceHolder)

                @{
                    var PlaceHolder = Model.EmailPlaceHolder;
                    if (PlaceHolder == null)
                    {
                        PlaceHolder = "Digite los correos electrónicos";
                    }
                }

                <div class="alert alert-info alert-dismissible fade in" role="alert" style=" font-size:14px; padding-top:4px; padding-bottom:4px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;&nbsp;Agregue todos los correos que sean necesarios para los avisos de "Alarmas".
                </div>
                <div class="form-horizontal" role="form">
                    <div class="form-group hidden">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Phone, new { placeholder = "Números Telefónicos", @class = "form-control", maxlength = "100", numeric = "" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                            <span class="subtext">(Ejemplo: 81111111<span class="fbold">;</span> 82222222<span class="fbold">;</span> 83333333)</span>
                        </div>
                    </div>
                </div>

                <div class="row" role="form">
                    <div class="col-sm-9">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.Email, new { placeholder = PlaceHolder, @class = "form-control text-left", maxlength = "500" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <span class="subtext">(Ejemplo: ejemplo1@dominio.com<span class="fbold">;</span> ejemplo2@dominio.com)</span>
                            <br />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.Active)Habilitada
                                            </label>
                                            @Html.ValidationMessageFor(m => m.Active)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aplicar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<script>
    $('#Active').click(function () {
        
        var emailplaceholder = $('#EmailPlaceHolder').val();
        var email = $('#Email').val();
        if ($(this).is(':checked')) {
            if (email == '') {
                $('#Email').val(emailplaceholder);
            }
        } else {
            $('#Email').val('');
        }
    });

</script>

