﻿@using  ECOsystem.Areas.Control.Models.Control
@model  ECOsystem.Areas.Control.Models.Control.ControlFuelsReportsBase

@{
    ViewBag.Title = "Movimientos de Presupuesto";
    ViewBag.Control = "active";
    ViewBag.ControlReports = "active";
    var hide1 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.ReportCriteriaId != null && Model.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", new List<ECOsystem.Models.Account.AccountMenus>())
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        @using (Ajax.BeginForm("ExcelReportDownload", "BudgetChangesReport", null, new AjaxOptions
        {
            HttpMethod = "post",
            OnBegin = "ECO_Control.BudgetChangesReport.ShowLoader()",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "ECO_Control.BudgetChangesReport.HideLoader(data)"
        }, new { id = "ExcelReportDownloadForm" }))
        {
            <div class="row">
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div data-repor-by="1000" class="@hide1">
                    <div class="col-sm-2">
                        @Html.DropDownListFor(m => m.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(m => m.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                    </div>
                </div>
                <div data-repor-by="2000" class="@hide2">
                    <div class="col-sm-2">
                        <div class='input-group date' id='datetimepickerStartDate'>
                            @Html.TextBoxFor(m => m.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off"} })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='input-group date' id='datetimepickerEndDate'>
                            @Html.TextBoxFor(m => m.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                            <span class="input-group-addon">
                                <span class="mdi mdi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                @if (ECOsystem.Utilities.Session.GetCustomerInfo().IssueForId == 101)
                {
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.CostCenterId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetVehicleCostCenters, "Centro de Costo:", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                }
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success" onclick="ECO_Control.BudgetChangesReport.OnClickDownloadReport()"><i class="mdi mdi-download"></i>&nbsp;Descargar Reporte</button>
                </div>
            </div>
        }
        <hr />
        <div id="ControlsContainer">
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;El reporte muestra el detalle de los cambios realizados en el mantenimiento de distribución de crédito por vehículos.
            </div>
        </div>
    </div>
    @using (Html.BeginForm("DownloadFile", "BudgetChangesReport", FormMethod.Post, new { id = "DownloadFileForm" })) { }
</div>
@section scripts {
    <script src="~/Scripts/Control/BudgetChangesReport.js?v=@version-hf0"></script>
    <script>
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
            ECO_Control.BudgetChangesReport.Init();
        });
    </script>
}


