﻿@model  ECOsystem.Areas.Coinca.Models.PartnerNews

@{
    var image = Model.Image;
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.HiddenFor(m => m.NewsId)
            @Html.HiddenFor(m => m.RowVersion)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    @if (User.IsInRole("SUPER_ADMIN"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.PartnerId, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.PartnerId, @ECOsystem.Areas.Coinca.Business.GeneralCollections.GetPartners, "Seleccione la Entidad Bancaria", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PartnerId, "", new { @class = "text-danger" })
                            </div>
                       
                        </div>
                    }else{
                        @Html.HiddenFor(m => m.PartnerId)
                    }

                    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Title, new { placeholder = "Título de la Noticia", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Content, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextAreaFor(m => m.Content, new { placeholder = "Contenido de la Noticia", @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <div class="checkbox">
                             <label>
                                    @Html.CheckBoxFor(m => m.IsActive) Activo
                             </label> 
                                @Html.ValidationMessageFor(m => m.IsActive)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <img class="pic" src="@image" id="imgLogo" width="256" height="128" />
                            <div class="progress_bar">
                                <div class="percent">
                                    0%
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.Image)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button id="btnUpload" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;&nbsp;Cargar Imagen</button>
                            <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal End -->
