﻿@model IEnumerable< ECOsystem.Areas.Coinca.Models.PartnerNews>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model)
          .Columns(c =>
          {
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(50)
                  .Titled("Logo")
                  .RenderValueAs(m => @<img src="@m.Image" width="50" height="30" />);
              c.Add(m => m.Title).Titled("Título").SetWidth(280);
              c.Add(m => m.Content).Titled("Contenido").Css("text-justify");
              c.Add(m => m.IsActive).Titled("Activo").RenderValueAs(m => Html.CheckBox("_Active", m.IsActive, new { disabled = "disabled" })).Encoded(false).Sanitized(false);
              c.Add()
                  .Encoded(false)
                  .Sanitized(false)
                  .SetWidth(70)
                  .RenderValueAs(m => @<span>
                    <a href="#" class="edit-color" id="@m.NewsId" title="Editar" edit_row><i class="glyphicon glyphicon-pencil"></i></a><a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.NewsId" title="Eliminar" del_row><i class="glyphicon glyphicon-remove"></i></a>
                </span>).Css("grid-col-btn");
          })
              .Selectable(true))
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}