﻿@{
    var site_version = (Session["APPLICATION_VERSION"] != null) ? Session["APPLICATION_VERSION"].ToString() : ECOsystem.Utilities.Session.GetVersionInfo();
    var user = HttpContext.Current.Session["LOGGED_USER_INFORMATION"] != null ? ECOsystem.Utilities.Session.GetUserInfo() : null;
    var customer = HttpContext.Current.Session["CUSTOMER_INFORMATION_FROM_LOGGED_USER"] != null ? ECOsystem.Utilities.Session.GetCustomerInfo() : null;
    var email = user != null ? user.DecryptedEmail : "Invitado";
    var userName = user != null ? user.DecryptedName : "Invitado";
    var customerName = customer != null ? customer.DecryptedName : "Invitado";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>

@if (email == "Invitado")
{
    <script>

    window.intercomSettings = {
    app_id: "p9u6sj5j",
    };

    (function () {
    var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/p9u6sj5j'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
    })();
    </script>
}
else
{
    <script>

    var hash = CryptoJS.HmacSHA256("@email", "D5yVzA5xR9QEK2tBJL8ThRk_N5NkdjwFaUt1pg9E");
    var hashInHex = CryptoJS.enc.Hex.stringify(hash);
    var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);

    window.intercomSettings = {
    app_id: "p9u6sj5j",
    email: "@email",
    name: "@userName",
    company: "@customerName",
    user_hash: hashInHex
    };

    (function () {
    var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/p9u6sj5j'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
    })();
    </script>
}


<style type="text/css">
    .privacy_style:hover {
        font-size: 14px;
        font-weight: 100;
        text-decoration: underline;
    }
</style>

<footer class="col-md-12 col-lg-12">
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-8">
        <p>Marca Registrada Propiedad Intelectual de</p>
        <br />
        <br />
        <img src="~/Content/Images/BAC/Logo_BAC_Credomatic_Horizontal.png" style="height:70px" />
    </div>
    <div class="col-lg-4 col-md-2">

    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-11">
        <p>Software desarrollado y operado por</p>
        <br />
        <br />
        <span data-toggle="tooltip" data-placement="top" title="Namutek.com">
            <a href="https://namutek.com" target="_blank"><img src="~/Content/Images/BAC/namutek_logo.png" style="height:100px" /></a>
        </span>
        <p>Todos los Derechos Reservados.</p>
        <p>&copy;@DateTime.Now.Year - Versión @site_version</p>
    </div>
</footer>