﻿<div class="header">
    <div class="row clearfix" style="padding-left:50px; height:50px; padding-top:15px">
        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 column" style="padding-top:15px">
            <img src="~/Content/Images/BAC/Logo_BAC_Credomatic_Horizontal.png" id="logo" style="margin: 20px 0 20px 0; height:100%; width:100%" />
        </div>
        <div class="col-lg-9 col-sm-6 col-md-8 col-xs-4 column" style="padding-top:19px">
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 col-xl-1 column" style="padding-top:15px">
            <span data-toggle="tooltip" data-placement="top" title="Namutek.com">
                <a href="https://namutek.com" target="_blank"><img src="~/Content/Images/BAC/namutek_logo.png" id="logo" alt="Ir a Namutek.com" style="margin: 5px 0 0px 0; height:100%; width:165%" /></a>
            </span>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
@Html.Partial("_HeaderModals")
