﻿@using  ECOsystem.Areas.Control.Models.Control
@model TransactionsConsolideReportBase

@{    
    ViewBag.Title = "Reporte Consolidado SAP";
    ViewBag.Control = "active";
    var isPrintView = ViewBag.PrintView ?? false;
    Layout = isPrintView ? "~/Views/Shared/_PrintLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
    var hide1 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.Period) ? "" : "hide";
    var hide2 = (Model.Parameters.ReportCriteriaId != null && Model.Parameters.ReportCriteriaId == (int)ReportCriteria.DateRange) ? "" : "hide";
    int? erroReport = ViewBag.ErrorReport == null ? null : Convert.ToInt16(ViewBag.ErrorReport);
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        .panel-title a {
            color: #808080;
            font-size: 11pt;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none !important;
        }

        .carousel-inner .item {
            padding: 0 0 30px 0;
        }

        /*.carousel-indicators {
            bottom: 0;
            width: auto;
            padding: 5px 25px 5px 25px;
            margin-left: 0;
        }*/

        .carousel-indicators {
            bottom: 0;
            width: 76%;
            margin-left: -38%;
            padding: 5px 25px 5px 25px;
        }

            .carousel-indicators li {
                background: #4B4B4B;
            }

            .carousel-indicators .active {
                background: #428BCA;
            }

        .carousel-control {
            color: #428BCA;
            top: auto;
            bottom: 0;
            padding-top: 4px;
            width: 36px;
            height: 36px;
            opacity: 1;
            text-shadow: none;
        }

            .carousel-control:hover {
                color: #d9534f;
            }
    </style>
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="3" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
@Html.Hidden("erroReportShow", erroReport)
<div id="page-content-wrapper">    

    @using (Html.BeginForm("Index", "TransactionSapReport", FormMethod.Post, new { id = "ReloadForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Parameters.ReportCriteriaId,  ECOsystem.Areas.Control.Business.GeneralCollections.GetReportCriteria, "Filtro de Búsqueda", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div data-repor-by="1000" class="@hide1">
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Month,  ECOsystem.Areas.Control.Business.GeneralCollections.GetMonthNames, "Mes", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Parameters.Year,  ECOsystem.Areas.Control.Business.GeneralCollections.GetYears, "Año", new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
                </div>
            </div>

            <div data-repor-by="2000" class="@hide2">
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        @Html.TextBoxFor(m => m.Parameters.StartDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='input-group date' id='datetimepickerEndDate'>
                        @Html.TextBoxFor(m => m.Parameters.EndDateStr, new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                        <span class="input-group-addon">
                            <span class="mdi mdi-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.List != null && Model.List.Any())
    {
        <div id="ControlsContainer">
            @if (!isPrintView)
            {

                <br />
                <div class="alert alert-success alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    Información del Reporte Generada. Para descargar presione <strong><a href="#" onclick="ECO_Control.TransactionsSAPReport.OnClickDownloadSAPReport()">aquí</a></strong>.
                </div>

                using (Html.BeginForm("ExcelReportDownload", "TransactionSapReport", FormMethod.Post, new { id = "ExcelReportDownloadForm" }))
                {
                    <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
                }

                if (Session["Reporte"] != null)
                {
                    using (Html.BeginForm("DonwloadFile", "TransactionSapReport", FormMethod.Post, new { id = "DonwloadFileForm" })) { }
                }
            }
        </div> 
    }
    else
    {
        <br />
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No hay información para mostrar el reporte con la combinación de criterios seleccionada.
        </div>
        }
    </div>


@section scripts {
    <script src="~/Scripts/Control/TransactionsSAPReport.min.js?v=@version-hf0"></script>
    <script>
        $(function () {            
            $("#DonwloadFileForm").submit();
            $("#LoadMenuForm").submit();
            ECO_Control.TransactionsSAPReport.Init({
                printURL: '@Url.Action("PrintReport", "TransactionsReport", new { p = Model.Parameters.ParametersInBase64 })',
                printMode: 'True' == '@isPrintView' ? true : false
            });
        });
        if ($('#erroReportShow').val() == '1') { $('#errorReportModal').modal('show'); }
    </script>
}
