﻿@model ECOsystem.Models.Core.CustomersEditBase
@{
    ViewBag.Title = "Información de Cliente";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var partnerType = ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId());
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        img.pic {
            border: solid 1px #BCBCBC;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 2px;
        }

        .imgtainer {
            position: relative;
        }

        .progress_bar {
            position: absolute;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
            width: 246px;
            top: 10px;
            left: 15px;
            max-width: 100%;
        }

            .progress_bar.loading {
                opacity: 1.0;
            }

            .progress_bar .percent {
                background-color: #3090d1;
                height: auto;
                width: 0;
                padding-left: 5px;
            }

        .imgloading {
            opacity: 0.3;
            background: #808080;
        }

        .rowsPrices {
            margin-top: 15px;
        }

        .rowLabel {
            text-align: right;
            margin-top: 5px;
        }

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }

        .hideReportBtn {
            visibility: hidden;
        }

        .ticket-link {
            font-size: 22px !important;
        }

        .grid-button-fix {
            padding-top: 0px !important;
        }

        .grid-max-height {
            max-height: 400px;
            overflow-y: auto;
        }

        #csvOutput {
            overflow: auto;
        }

        .modal-lg {
            width: calc(100% - 50px);
        }

        .assign-roles {
            overflow-y: auto;
            overflow-x: hidden;
            height: 280px;
        }

        .checkbox {
            margin: 0px;
        }

        .support-link {
            color: white;
        }

            .support-link:active {
                color: white;
            }

            .support-link:hover {
                color: white
            }

        .grid-cell {
            font-size: 12px;
        }
    </style>
}

<div id="CustomerByCustomerContainer">
    @Html.Partial("_partials/_CustomersByCustomers")
</div>

@* Contract forms  *@
@using (Ajax.BeginForm("GetContractReportData", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Partner.Customers.ShowLoader()",
    OnSuccess = "ECO_Partner.Customers.DonwloadContractReport(data)"
}, new { id = "GetReportDataForm" }))
{
    @Html.Hidden("CustomerReportId", Model.Data.CustomerId)
    @Html.Hidden("ContractReportId")
}
@using (Html.BeginForm("DonwloadContractFile", "Customers", FormMethod.Post, new { id = "DownloadContractReportForm" })) { }

@using (Ajax.BeginForm("CustomerContractCancel", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "CancelContractOrdersContainer",
    OnBegin = "ECO_Partner.Customers.ShowLoader()",
    OnSuccess = "ECO_Partner.Customers.ContractCancelResult()"
}, new { id = "CustomerContractCancelForm" }))
{
    @Html.Hidden("CustomerId", Model.Data.CustomerId)
    @Html.Hidden("ContractId")
}

@using (Ajax.BeginForm("AddOrEditCardRequest", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridCardRequestContainer",
    OnSuccess = "ECO_Partner.Customers.OnSuccessUpdateCardRequest"
}, new { id = "addOrEditCarRequestdForm" }))
{
    @Html.Hidden("CustomerId", Model.Data.CustomerId)
    <div id="detailCardRequestContainer">
        @*@Html.Partial("_partials/_DetailCardRequest", Model.CardRequest)*@
    </div>
}

@using (Ajax.BeginForm("AjaxLoadCustomers", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECO_Partner.Customers.OnSuccessLoadEdit"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id", Model.Data.CustomerId)
}

@using (Ajax.BeginForm("AjaxCancelEditCustomers", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECO_Partner.Customers.OnSuccessCancelEdit"
}, new { id = "cancelForm" }))
{
    @Html.Hidden("id", Model.Data.CustomerId)
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@using (Ajax.BeginForm("IsValidEmail", "PartnerUsers", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "ECO_Partner.Customers.OnSuccessCheckUser",
    OnFailure = "ECO_Partner.Customers.OnFailureCheckUser"
}, new { id = "checkForm" }))
{
    @Html.Hidden("email")
}
@using (Ajax.BeginForm("IsValidCardPlate", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    OnSuccess = "ECO_Partner.Customers.OnSuccessCheckPlateCard"
}, new { id = "checkPlateCardForm" }))
{
    @Html.Hidden("plateCard")
}

@using (Ajax.BeginForm("LoadBinnacle", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BinnacleContainer",
    OnSuccess = "ECOsystem.Utilities.HideLoader()"
}, new { id = "loadBinnacleForm" }))
{
    <input type="hidden" id="BinnacleLoadId" name="BinnacleLoadId" />
    <input type="hidden" id="CustomerBinnacleId" name="CustomerBinnacleId" />
}
<div id="page-content-wrapper">
    <div class="card">
        <div class="card-content">
            <div class="form-horizontal">
                <div id="detailContainer">
                    @Html.Partial("_partials/_Detail", Model.Data)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right form-group">
                    <button id="btnCancelCustomer1" type="button" class="btn btn-default" onclick="@("window.location.href=' " + @Url.Action("Index", "Customers")+ "'");"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button id="btnSaveCustomer1" type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.SubmitButtonClick()"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>

            @using (Ajax.BeginForm("LoadCustomerCard", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "detailCardContainer",
                OnSuccess = "ECO_Partner.Customers.OnSuccessLoadCard"
            }, new { id = "loadCustomerCardForm" }))
            {
                <input type="hidden" id="CustomerCardCustomerId" name="custId" value="@Model.Data.CustomerId" />
                <input type="hidden" id="International" name="international" value="@Model.Card.InternationalCard" />
                <input type="hidden" id="CustomerCardId" name="id" />
            }

            @using (Ajax.BeginForm("LoadCustomerCardRequest", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "detailCardRequestContainer",
                OnSuccess = "ECO_Partner.Customers.OnSuccessLoadCardRequest"
            }, new { id = "loadCustomerCardRequestForm" }))
            {
                <input type="hidden" id="TerminalCustomerId" name="custId" value="@Model.Data.CustomerId" />
                <input type="hidden" id="CardRequestId" name="id" />
            }

            @using (Ajax.BeginForm("LoadPreviousCustomerCardRequest", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                OnSuccess = "ECO_Partner.Customers.OnSuccessLoadPreviousCardRequest"
            }, new { id = "loadPreviousCardRequestForm" }))
            {
                <input type="hidden" name="custId" value="@Model.Data.CustomerId" />
                <input type="hidden" name="id" value="-100" />
            }

            @using (Ajax.BeginForm("LoadCounties", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                OnSuccess = "ECO_Partner.Customers.OnSuccessLoadCounties"
            }, new { id = "loadCountiesForm" }))
            {
                <input type="hidden" name="stateId" value="@Model.CardRequest.StateId" />
            }

            @using (Ajax.BeginForm("LoadCities", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                OnSuccess = "ECO_Partner.Customers.OnSuccessLoadCities"
            }, new { id = "loadCitiesForm" }))
            {
                <input type="hidden" name="countyId" value="@Model.CardRequest.CountyId" />
            }
            @*Form creado por STEFANO*@
            @using (Ajax.BeginForm("LoadTerminalRequest", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "detailterminalContainer",
                OnSuccess = "ECO_Partner.Customers.OnSuccessTerminalRequest"
            }, new { id = "loadTerminalRequestForm" }))
            {
                <input type="hidden" id="TerminalCustomerId" name="custId" value="@Model.Data.CustomerId" />
            }

            @using (Ajax.BeginForm("AddorEditTerminal", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainerT", //Referencia al AjaxForm AddCardRequest
                OnBegin = "ECO_Partner.Customers.OnBeginTerminalRequest",
                OnSuccess = "ECO_Partner.Customers.OnSuccessTerminalRequest",
            }, new { id = "AddorEditTerminalRequestForm" }))
            {
                <div id="detailterminalContainer"></div>
            }

            @using (Ajax.BeginForm("AddOrEditUsers", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridUsersContainer",
                OnSuccess = "ECO_Partner.Customers.OnSuccessAddEditUsers"
            }, new { id = "addOrEditUsersForm" }))
            {
                <div id="detailUsersContainer">
                    @Html.Partial("_partials/_DetailUsers", Model.User)
                </div>
            }

            @using (Ajax.BeginForm("LoadUsers", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "detailUsersContainer",
                OnSuccess = "ECO_Partner.Customers.OnSuccessLoadUsers"
            }, new { id = "loadUsersForm" }))
            {
                <input type="hidden" id="CustomerUserCustId" name="id" value="@Model.Data.CustomerId" />
                <input type="hidden" id="CustomerUserId" name="userid" />
            }

            <div class="modal fade" id="deleteModalCustomerUsers" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        @using (Ajax.BeginForm("DeleteUsers", "Customers", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "gridUsersContainer",
                            OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                        }, new { id = "deleteForm" }))
                        {
                            @Html.Hidden("id")
                            <input type="hidden" name="Custid" value="@Model.Data.CustomerId" />

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Confirmar Eliminación <span class="element-name"></span></h4>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar el registro? </p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                                <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteTModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        @using (Ajax.BeginForm("DeleteCustomerTerminal", "Customers", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "gridContainerT",
                            OnSuccess = "ECOsystem.Utilities.DeleteModalClose()",
                        }, new { id = "deleteTForm" }))
                        {
                            @Html.Hidden("id")
                            @*<input type="hidden" name="custId" value="@Model.Data.CustomerId" />*@
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Confirmar Eliminación</h4>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar el registro?</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                                <button id="btndelter" type="button" onclick="ECO_Partner.Customers.Subdelterminal()" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @if (Model.Data.CustomerId != null)
            {
                <div id="tabscontainer" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a id="tabLinkVehicles" href="#VehiclesTab" aria-controls="VehiclesTab" role="tab" data-toggle="tab">Vehículos</a></li>
                        @if (partnerType == ECOsystem.Utilities.ProductInfo.BACFlota)
                        {
                            <li role="presentation"><a id="tabLinkBudget" href="#CustomerBudgetTab" aria-controls="CustomerBudgetTab" role="tab" data-toggle="tab">Financiera</a></li>
                            <li role="presentation"><a id="tabLinkPrices" href="#customerPrices" aria-controls="customerPrices" role="tab" data-toggle="tab" id="tabCustomerPrices">Precios</a></li>
                            <li role="presentation"><a id="tabLinkCards" href="#customerCardsTab" aria-controls="customerCardsTab" role="tab" data-toggle="tab">Tarjetas</a></li>
                            <li role="presentation"><a id="tabLinkTerminals" href="#terminalTabs" aria-controls="terminalsTab" role="tab" data-toggle="tab">Terminales</a></li>
                            <li role="presentation"><a id="tabLinkAPI" href="#APITabs" aria-controls="APITabs" role="tab" data-toggle="tab">Servicios API</a></li>
                            <li role="presentation"><a id="tabBranchOffice" href="#BranchOfficeTabs" aria-controls="BranchOfficeTabs" role="tab" data-toggle="tab" clickable_tabs>Sucursales</a></li>
                        }
                        <li role="presentation"><a id="tabLinkAddInfo" href="#customerAdditionalInformation" aria-controls="customerAdditionalInformation" role="tab" data-toggle="tab" id="tabCustomerAdditionalInformation">Adicional</a></li>
                        <li role="presentation"><a id="tabLinkUsers" href="#customerUsers" aria-controls="customerUsers" role="tab" data-toggle="tab">Usuarios</a></li>
                        <li role="presentation"><a id="tabLinkContracts" href="#contractTabs" aria-controls="contractTabs" role="tab" data-toggle="tab">Contrato</a></li>
                        <li role="presentation"><a id="tabLinkBitacora" href="#binnacleTabs" aria-controls="binnacleTabs" role="tab" data-toggle="tab">Bitácora</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="VehiclesTab">
                            <hr />
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-success" title="Agregar" id="btnAddVehicleByClient"><i class="mdi mdi-plus"></i> Agregar Vehículo</button>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input id="txtVehicleSearch" name="key" type="text" class="form-control" placeholder="Buscar por Placa, Vehículo, Chasis">
                                        <span class="input-group-btn">
                                            <button id="btnVehicleSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:2%;">
                                <div class="col-sm-12">
                                    @Html.Label("¿Permiso de asignación a varios combustibles?", new { @class = "control-label" })
                                    @Html.CheckBoxFor(m => m.Data.FuelPermit, new { @type = "checkbox", @class = "toggleCheck" })
                                </div>
                            </div>
                            <div style="margin-top:2%" id="marginContainer" class="row" hidden>
                                <div class="col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><strong>Margen para aceptación de combustible</strong></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label>Inicio</label>
                                                        <div class="input-group">
                                                            <input type="number" min="0" max="100" class="form-control text-center" name="InitialMargin" id="initialMargin" onblur="(this.value == '') ? this.value = 0:this.value = this.value" value="0">
                                                            <span class="input-group-addon">%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 text-center" style="margin-top:7%">
                                                    -
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label>Final</label>
                                                        <div class="input-group">
                                                            <input type="number" min="0" max="100" class="form-control text-center" name="FinalMargin" id="finalMargin" onblur="(this.value == '') ? this.value = 0:this.value = this.value" value="0">
                                                            <span class="input-group-addon">%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div id="vehicleAlert" class="col-sm-12">
                                    <div id="infoVehicleMessage" class="alert alert-warning alert-dismissible fade in" role="alert" hidden>
                                        <i class="mdi mdi-information"></i>&nbsp;<b id="msgVehicleAlertInfo"></b>
                                    </div>
                                    <div id="dangerVehicleMessage" class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
                                        <i class="mdi mdi-information"></i>&nbsp;<b>Upss</b> se detectó un error no controlado, por favor indicar a soporte el siguiente mensaje: <b id="msgVehicleAlert"></b>
                                    </div>
                                </div>
                            </div>

                            @using (Ajax.BeginForm("AddorEditVehicleByClient", "Customers", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "VehiclesGridContainer",
                                OnBegin = "ECO_Partner.ServiceStations.ShowLoader()",
                                OnSuccess = "ECO_Partner.ServiceStations.AddOrEditModalClose()"
                            }, new { id = "addOrEditVehicleClientForm" }))
                            {
                                <div id="addOrEditVehicleContainer" hidden>
                                    @Html.Partial("_partials/_AddOrEditVehicle", Model.Vehicle)
                                </div>
                            }

                            @using (Ajax.BeginForm("TrasladateVehicleToClient", "Customers", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                //InsertionMode = InsertionMode.Replace,
                                //UpdateTargetId = "VehiclesGridContainer",
                                OnBegin = "ECO_Partner.Customers.ShowLoader()",
                                OnSuccess = "ECO_Partner.Customers.ConfirmModalClose()",
                                OnFailure = "ECO_Partner.Customers.FailureProcess()"
                            }, new { id = "trasladateVehicleClientForm" }))
                            {
                                <div id="trasladateVehicleClientContainer" hidden>
                                    @Html.Partial("_partials/_VehicleTrasladateBetweenCustomers")
                                </div>
                            }

                            <div class="row">
                                <div class="col-sm-12" id="VehiclesGridContainer">
                                    @Html.Partial("_partials/_VehicleGrid", Model.Vehicles)
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="terminalTabs">
                            <div class="row">
                                @using (Ajax.BeginForm("AddorEditTerminal", "Customers", null, new AjaxOptions
                                {
                                    HttpMethod = "post",
                                    InsertionMode = InsertionMode.Replace,
                                    OnBegin = "ECO_Partner.Customers.OnBeginTerminalRequest",
                                    OnSuccess = "ECO_Partner.Customers.OnSuccessTerminalRequest",
                                }, new { id = "AddorEditTerminalRequestForm" }))
                                {
                                    @Html.Partial("_partials/_TerminalModal", Model.DataTerminal)
                                }
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="CustomerBudgetTab">
                            @if (partnerType == ECOsystem.Utilities.ProductInfo.BACFlota)
                            {
                                <div class="row">
                                    @Html.Partial("_partials/_Budget", Model.CustomerBudget)
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="customerCardsTab">
                            <div class="row" style=" padding-top:20px;">
                                <div class="col-sm-2">
                                    <button id="btnAddCardRequest" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i> Nueva Solicitud</button>
                                </div>
                                <div class="col-sm-2">
                                    <button id="btnAddCardRequestFull" type="button" class="btn btn-success" title="Importar archivo (CVS)...">
                                        <i class="glyphicon glyphicon-import"></i> Importar Solicitudes...
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="gridCardRequestContainer">
                                    @Html.Partial("_partials/_GridCardRequest", Model.RequestList)
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="customerUsers">
                            <div class="row" style=" padding-top:20px;">
                                <div class="col-sm-2">
                                    <button id="btnAddUsers" type="button" class="btn btn-success" title="Agregar"><i class="mdi mdi-plus mdi-18px"></i> Agregar Usuario</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="gridUsersContainer">
                                    @Html.Partial("_partials/_GridUsers", Model.UserList)
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="customerPrices">
                            <div class="row">
                                <div class="col-lg-12" id="pricesContainer">
                                    @Html.Partial("_partials/_PricesMaintenance", Model.Data)
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="customerAdditionalInformation">
                            <div class="row" style=" padding-top:20px;">
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="AdditionalInfoContainer">
                                    @Html.Partial("_partials/_AdditionalInformation", Model.Data)
                                </div>
                            </div>
                        </div>
                        <div id="contractTabs" role="tabpanel" class="tab-pane">
                            <hr />
                            <div class="row @(Model.ContractInformation.IsProductLineVitaECO || Model.ContractsInformation.Count() == 0 ? string.Empty : "hide")">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-success" title="Agregar" id="btnAddContractByClient"><i class="mdi mdi-plus"></i> Agregar Contrato</button>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input id="txtContractSearch" name="key" type="text" class="form-control" placeholder="Buscar por Placa">
                                        <span class="input-group-btn">
                                            <button id="btnContractSearch" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br class="@(Model.ContractInformation.IsProductLineVitaECO || Model.ContractsInformation.Count() == 0 ? string.Empty : "hide")" />
                            <div class="row">
                                <div id="contractAlert" class="col-sm-12">
                                    <div id="infoContractMessage" class="alert alert-warning alert-dismissible fade in" role="alert" hidden>
                                        <i class="mdi mdi-information"></i>&nbsp;<b id="msgContractAlertInfo"></b>
                                    </div>
                                    <div id="dangerContractMessage" class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
                                        <i class="mdi mdi-information"></i>&nbsp;<b>Upss</b> se detectó un error no controlado, por favor indicar a soporte el siguiente mensaje: <b id="msgContractAlert"></b>
                                    </div>
                                </div>
                            </div>

                            @using (Ajax.BeginForm("AddorEditContractByClient", "Customers", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "ContractGridContainer",
                                OnBegin = "ECO_Partner.ServiceStations.ShowLoader()",
                                OnSuccess = "ECO_Partner.ServiceStations.AddOrEditModalClose()"
                            }, new { id = "addOrEditContractClientForm" }))
                            {
                                <div id="addOrEditContractContainer" hidden>
                                    @Html.Partial("_partials/_AddOrEditContract", Model.ContractInformation)
                                </div>
                            }


                            <div class="row">
                                <div class="col-sm-12 grid-max-height" id="ContractGridContainer">
                                    @Html.Partial("_partials/_ContractGrid", Model.ContractsInformation)
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="binnacleTabs">
                            <br />
                            <div id="BinnacleAlert" class="col-sm-12">
                                <div id="dangerBinnacleMessage" class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
                                    <i class="mdi mdi-information"></i>&nbsp;<b>Upss</b> se detectó un error no controlado, por favor indicar a soporte el siguiente mensaje: <b id="msgBinnacleAlert"></b>
                                </div>
                            </div>

                            @using (Ajax.BeginForm("AddOrEditCustomerBinnacle", "Customers", null, new AjaxOptions
                            {
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "BinnacleContainer",
                                OnBegin = "ECO_Partner.Customers.ShowLoader()",
                                OnSuccess = "ECO_Partner.ServiceStations.AddOrEditModalClose()"
                            }, new { id = "addCustomerBinnacleForm" }))
                            {
                                <div class="col-lg-12">
                                    @Html.Partial("_partials/_BinnacleDetails", Model.CustomerBinnacleInformation)
                                </div>
                            }
                            <br />
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="APITabs">
                            <div class="row">
                                <div class="col-lg-12" id="APITokenInfoContainer">
                                    @{ var contractInfo = Model.ContractsInformation.Count > 0 ? Model.ContractsInformation.FirstOrDefault() : new ECOsystem.Models.Core.CustomerContractInformation(); }
                                    @Html.Partial("_partials/_APITokenDetail", contractInfo)
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="BranchOfficeTabs">
                            <div class="row">
                                <div class="col-lg-12" id="BranchOfficeInfoContainer">
                                    <br />
                                    <div class="row col-md-3">
                                        <input id="txtSearchCustomerBranch" name="key" type="text" class="form-control hidden" placeholder="Buscar Sucursales..." />
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12 assign-roles">
                                            <ul id="CheckAllBranch" class="list-group hidden" style="margin-bottom: -1px;">
                                                <li class="list-group-item node-treeview-checkable" style="color:#428bca" data-nodeid="-1">
                                                    <div class="row">
                                                        <div class="btn-group">
                                                            <div class="btn-group form-group">
                                                                <div class="checkbox col-sm-12" title="Seleccionar todos">
                                                                    <label class="strong">
                                                                        <input type="checkbox" class="generateAllCardsBranch SelectAll" id="-1">
                                                                        Seleccionar todos
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul id="treeview-checkable-branch" class="list-group"></ul>
                                        </div>
                                    </div>
                                    @*@Html.Partial("_partials/_APITokenDetail", contractInfo)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top30"></div>
                <div class="text-right">
                    <button id="btnCancelCustomer2" type="button" class="btn btn-default" onclick="@("window.location.href=' " + @Url.Action("Index", "Customers")+ "'");"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button id="btnSaveCustomer2" type="button" class="btn btn-primary" onclick="ECO_Partner.Customers.SubmitButtonClick()"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteCustomerInfo", "Customers", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
            }, new { id = "deleteForm" }))
            {
                <input type="hidden" name="custId" value="@Model.Data.CustomerId" />
                <input type="hidden" id="deleteId" name="id" value="" />
                <input type="hidden" id="deleteEntity" name="entity" value="" />

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

@using (Ajax.BeginForm("LoadUploadRequestModal", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "UploadRequestContainer",
    OnSuccess = "ECO_Partner.Customers.OnSuccessLoadUploadRequest"
}, new { id = "LoadUploadModalForm" }))
{
}

@using (Ajax.BeginForm("ProcessCsvFile", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridCardRequestContainer",
    OnSuccess = "ECO_Partner.Customers.OnSuccessImport"

}, new { id = "processCsvForm", enctype = "multipart/form-data" }))
{
    <input type="hidden" name="custId" value="@Model.Data.CustomerId" />
    <div id="UploadRequestContainer"></div>
}

@using (Ajax.BeginForm("LoadVehicleOrder", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "VehicleOrderContainer",
    OnBegin = "ECO_Partner.Customers.ShowLoader()",
    OnSuccess = "ECO_Partner.Customers.ShowOrderDetail()"
}, new { id = "LoadVehicleOrderForm" }))
{
    @Html.Hidden("VehicleId")
}

@using (Ajax.BeginForm("AddOrEditVehicleOrder", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Partner.Customers.ShowLoader()",
    OnSuccess = "ECO_Partner.Customers.ValidateOrderResult(data)"
}, new { id = "AddOrEditVehicleOrderForm" }))
{
    <div id="VehicleOrderContainer">
        @Html.Partial("_partials/_OrderDetail", new ECOsystem.ServiceOrderUtilities.Models.VehicleOrder())
    </div>
}


<div id="AddOrEditMessage"></div>

<div id="CancelContractOrdersContainer">
    @Html.Partial("_partials/_ContractCancelOrderResult", new List<ECOsystem.ServiceOrderUtilities.Models.OrdersModel>())
</div>

<div class="modal fade" id="ConfirmationSaveModalCustomerByCustomers" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p class="center">¿Desea almacenar los clientes seleccionados?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;No</button>

                    <button type="button" class="btn btn-primary" id="btn-savedataCustomerByCustomers" onclick="ECO_Partner.Customers.SaveCustomersByCustomer()"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name">Asignación de clientes a un usuario</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">Datos almacenados correctamente</h4>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ValidatePricesModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name">Mantenimiento de Clientes</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center" id="msjresult">Por favor validar los rangos para los precios.</h4>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RenewContractModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name">Mantenimiento de Clientes</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">¿Desea <b id="contractText"></b> el contrato para el cliente?</h4>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnAddOrEditContract"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CancelContractConfimationModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="element-name">Cancelación de contrato</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">¿Desea cancelar el contrato para el cliente?</h4>
                <b>Favor tomar en cuenta que cuando se cancele el contrato:</b><br />
                <ul>
                    <li><b>El Cliente permanecerá en estado Inactivo.</b></li>
                    <li><b>Los usuarios no podran ingresar a la plataforma.</b></li>
                    <li><b>Se iniciará el proceso de desinstalación de los GPS que incluye el agendamiento de las citas de desinstalación y desactivación de los GPS.</b></li>
                </ul>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnCancelCustomerContract"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmAddOrEditVehicleCustomerChanges" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mantenimiento de Vehículos</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea guardar los cambios?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmAddOrEditVehicle"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmTrasladateVehicleToCustomer" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Trasladar Vehículo a Cliente</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea trasladar el vehículo al cliente: <b id="clientInfoConfirm"></b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmTrasladateVehicle"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmAddOrEditContractCustomerChanges" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mantenimiento de Contratos</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea guardar los cambios?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmAddOrEditContract"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmAddCustomerBinnacle" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bitácora de Cliente</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea guardar el registro de bitácora?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmAddCustomerBinnacle"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmDeleteCustomerBinnacle" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bitácora de Cliente</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el registro de bitácora?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmDeleteCustomerBinnacle"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmAddOrEditAPIToken" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Código de Seguridad</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea generar un nuevo Código de Seguridad para este Cliente?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmAddOrEditAPIToken"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddOrEditAPITokenError" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Código de Seguridad</h4>
            </div>
            <div class="modal-body">
                <p id="confirmsg" hidden>El Código de Seguridad se ha generado correctamente</p>
                <p id="errormsg" hidden>Ocurrió un error al generar el Código de Seguridad</p>
                <p id="errortitle" hidden>Error técnico:<br /></p>
                <p id="error" hidden />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FuelDistributionCostCenterConfirmation" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Distribución de Combustible por Centros de Costo</h4>
            </div>
            <div class="modal-body center">
                Al modificar esta configuración y almacenar los cambios, pueden verse afectados los presupuestos actuales si ya se ha distribuido combustible. <br />
                Debe realizar la distribución a los combustibles por <span id="distributionTypeLbl"></span> a partir de este cambio.
            </div>
            <div class="modal-footer">
                <button id="CancelCostCenterDistribution" type="button" class="btn btn-default"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--Upload-->
@section scripts {
    <script src="~/Scripts/Settings/customers.js?v=@version-hf0"></script>
    <script src="~/Scripts/bootstrap-treeview.js?v=@version-hf0"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            getFuelsMargin()

            setTimeout(() => {
                if (document.getElementById('Data_FuelPermit').checked)
                    $('#marginContainer').prop("hidden", false)
                else
                    $('#marginContainer').prop("hidden", true)
            }, 500);
        })

        function getFuelsMargin() {
            $.post('@Url.Action("GetFuelsMargin","Customers")', { CustomerId: '@Model.CustomerBudget.CustomerId' }, function (data) {
                try {
                    var data_split = data[0].Value.split("-")
                    $('#initialMargin').val(data_split[0])
                    $('#finalMargin').val(data_split[1])
                } catch (e) {
                    console.log('Error',e.message)
                }
            })
        }

        $(function () {
            $("#LoadMenuForm").submit();
            //$("#page-content-wrapper").parent("div").attr("id", "wrapper-dash");
            ECO_Partner.Customers.Init();
        });

        // Solo permite ingresar numeros.
        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode
            if ((key >= 48 && key <= 57) || (key == 8) || (key == 44) || (key == 46)) {
                $('#txtPayment').css("border", "");
                return true
            }
            else {
                return false
            }

        }

        document.getElementById('Data_FuelPermit').onchange = function () {
            if (this.checked) 
                $('#marginContainer').prop("hidden", false)
            else
                $('#marginContainer').prop("hidden", true)
        }
    </script>
}
