﻿@model ECOsystem.Models.Core.CustomersBase
@{
    ViewBag.Title = "Mantenimiento de Clientes";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    ViewBag.FormName = "searchForm";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var productTypeId = ECOsystem.Utilities.Session.GetProductInfoByPartner((int)ECOsystem.Utilities.Session.GetPartnerId());
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
<style>
    img.pic {
        border: solid 1px #BCBCBC;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 2px;
    }

    .imgtainer {
        position: relative;
    }

    .progress_bar {
        position: absolute;
        padding: 3px;
        border: 1px solid #000;
        font-size: 14px;
        clear: both;
        opacity: 0;
        -moz-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
        transition: opacity 1s linear;
        width: 246px;
        top: 10px;
        left: 20px;
    }

        .progress_bar.loading {
            opacity: 1.0;
        }

        .progress_bar .percent {
            background-color: #3090d1;
            height: auto;
            width: 0;
            padding-left: 5px;
        }

    .imgloading {
        opacity: 0.3;
        background: #808080;
    }

    .grid-button-fix {
        padding-top: 3px !important;
    }

    .grid-wrap {
        display: block;
        overflow-x: auto;
    }

    .custom-card {
        background-color: white;
        padding: 20px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        border-radius: 2px;
        margin-bottom: 3px;
    }

    #searchPanel .form-group {
        margin-bottom: 5px;
    }

    @@media (min-width: 992px) {
        .text-right-md {
            text-align: right;
        }
    }
</style>
}

@using (Ajax.BeginForm("ExcelReportDownload", "Customers", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Partner.Customers.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ECO_Partner.Customers.HideLoader()"
}, new { id = "ExcelReportDownloadForm" })) { }

@using (Html.BeginForm("DownloadReportFile", "Customers", FormMethod.Post, new { id = "DownloadFileForm" })) { }


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="17" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}
<div id="page-content-wrapper">   
    <div id="container-fluid">
        @*@using (Ajax.BeginForm("LoadCustomers", "Customers", null, new AjaxOptions
        {
            HttpMethod = "post"
        }, new { id = "LoadCustomerForm" }))
        {
            @Html.Hidden("CustomerId")
        }*@

        @Html.Hidden("HiddenProductTypeId", productTypeId)

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchCustomers", "Customers", null, new AjaxOptions
        {
            OnBegin = "ECO_Partner.Customers.BeginSearchClients()",
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gridContainer",
            OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
        }, new { id = "searchForm" }))
        {
            var customerStatus = (Session["CustomersStatus"] != null) ? Session["CustomersStatus"].ToString() : "1";
            var customerFilter = (Session["CustomersFilter"] != null) ? Session["CustomersFilter"].ToString() : ((productTypeId == ECOsystem.Utilities.ProductInfo.BACFlota) ? "1" : "4");

            @*<input type="hidden" id="searchFormCountryId" name="CountryId" />*@
            <input type="hidden" id="searchFormFilter" name="filterType" value="@customerFilter" />
            <input type="hidden" id="searchFormStatusId" name="statusId" value="@customerStatus" />
            <input type="hidden" id="page" name="pageNum" value="1" />

            <div id="searchPanel" class="row">
                <div class="col-xs-12 col-md-6 col-lg-5">
                    @if (Model.CanCreateCustomer)
                    {
                        <a id="btnNewCustomer" type="button" href="@Url.Action("LoadCustomers", new { id = -1})" class="btn btn-success form-group" title="Agregar"><i class="mdi mdi-plus"></i> Agregar Cliente</a>
                    }
                    else
                    {
                        <button id="btnNewCustomer" type="button" class="btn btn-success form-group" title="Agregar" disabled><i class="mdi mdi-plus"></i> Agregar Cliente</button>
                    }
                    <button type="button" class="btn btn-success form-group" title="Exportar" onclick="ECO_Partner.Customers.OnClickDownloadPartnerReport()"><i class="mdi mdi-share"></i> &nbsp;&nbsp;Exportar Excel</button>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-7 text-right-md">
                    <div class="btn-group form-group">
                        <button id="btnFilterName" type="button" title="Filtro" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            @*<li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(0);">Todos</a></li>*@
                            @if (productTypeId == ECOsystem.Utilities.ProductInfo.BACFlota)
                            {
                                <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(1);">Nombre Cliente</a></li>
                            }
                            @*<li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(2);">Correo</a></li>*@
                            @*<li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(3);">Cédula Física / Jurídica</a></li>*@
                            <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(4);">Placa</a></li>
                            <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(5);">Chasis</a></li>
                            <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(6);">Razón Social</a></li>
                            <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByFilter(7);">Contacto Principal</a></li>
                        </ul>
                    </div>
                    <div class="btn-group form-group">
                        <button id="btnStatusName" type="button" title="Estado" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activos <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByStatus(2);">Todos</a></li>
                            <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByStatus(1);">Activos</a></li>
                            <li><a href="javascript:void(0);" onclick="javascript:ECO_Partner.Customers.SearchByStatus(0);">Inactivos</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <div class="btn-group form-group">
                            <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar clientes..." />
                        </div>
                        <span class="btn-group form-group">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                        </span>
                        <span class="btn-group form-group">
                            <button id="btnClean" type="button" class="btn btn-primary" title="Limpiar filtro" onclick="ECO_Partner.Customers.CleanFilters()"><i class="mdi mdi-filter-remove-outline mdi-17px"></i></button>
                        </span>
                    </div>
                </div>

            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        <!-- Load Form End-->
        @using (Ajax.BeginForm("CheckUserName", "Users", null, new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = "ECO_Partner.Customers.OnSuccessCheckUser"
        }, new { id = "checkForm" }))
        {
            @Html.Hidden("username")
        }

        <!-- Dele Modal Start-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Ajax.BeginForm("DeleteCustomers", "Customers", null, new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gridContainer",
                        OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
                    }, new { id = "deleteForm" }))
                    {
                        <input type="hidden" id="deleteFormCountryId" name="CountryId" />

                        @Html.Hidden("id")
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Confirmar Eliminación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que desea eliminar el registro?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Delete Modal End -->

        <br />
        @using (Ajax.BeginForm("TrasladateCustomerToPartner", "Customers", null, new AjaxOptions
        {
            HttpMethod = "post",
            OnBegin = "ECO_Partner.Customers.ShowLoader()",
            OnSuccess = "ECO_Partner.Customers.ConfirmModalClose()",
            OnFailure = "ECO_Partner.Customers.FailureProcess()"
        }, new { id = "trasladateClientPartnerForm" }))
        {
            <div id="trasladateClientPartnerContainer" hidden>
                @Html.Partial("_partials/_CustomerTrasladateBetweenPartners")
            </div>
        }
        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_Grid", Model.List)
            </div>
            <div class="col-lg-12 top20">
                &nbsp;
            </div>
        </div>

        <div class="modal fade" id="ConfirmTrasladateCustomerToPartner" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Trasladar Cliente a Socio</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea trasladar este cliente hacia el Socio: <b id="partnerInfoConfirm"></b>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;Cancelar</button>
                        <button type="button" class="btn btn-primary" id="btnConfirmTrasladateCustomer"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/Settings/customers.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Partner.Customers.Init();

            if ($("#searchFormStatusId").val().length > 0) {
                ECO_Partner.Customers.SetStatusName(parseInt($("#searchFormStatusId").val()));
            }

            if ($("#searchFormFilter").val().length > 0) {
                ECO_Partner.Customers.SetFilterName(parseInt($("#searchFormFilter").val()));
            }
        });

        $('#btnAddCustomers').on('click', function () {
            
            $('#LoadFormCreate').submit();
        })
    </script>
}
