﻿@model ECO_Efficiency.Models.PassControlVehicleBase
@{
    ViewBag.Title = "Control de Paso";
    ViewBag.PassControl = "active";
    ViewBag.MapsRealControlVehicleIndex = "active";
    ViewBag.Localizacion = "active";
    ViewBag.Efficiency = "active";
    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

<style>
    .card-PassControl {
        background-color: transparent !important;
        padding: 0px !important;
        box-shadow: 0px 0px 0px 0px transparent !important;
    }

    .no-padding {
        padding: 0px;
    }
    /*.card-content{
        padding: 0px 0px 10px 0px !important;
    }*/
    .link-vehicle {
        color: #000;
        text-decoration: none;
    }

        .link-vehicle:hover {
            color: #000;
            text-decoration: none;
        }

    .toggle-left-menu-btn {
        left: 325px;
        border-left: 0 !important;
    }

    .toggle-btn {
        display: block !important;
        position: absolute;
        border-radius: 0 !important;
        background-color: #f5f5f5 !important;
        outline: none !important;
    }

        .toggle-btn i {
            font-size: 24px;
        }

        .toggle-btn:hover {
            color: #000000;
        }

        .toggle-btn:focus {
            color: #000000;
        }
   
</style>

<link href="~/Content/Styles/RadarEffect.css" rel="stylesheet" />

@using (Ajax.BeginForm("AddOrEditVehicles", "PassControlVehicle", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" })) { }

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="1" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@*@using (Ajax.BeginForm("ExcelReportDownload", "PassControl", null, new AjaxOptions
{
    HttpMethod = "post",
    OnBegin = "ECO_Efficiency.PassControl.ShowLoader()",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ECO_Efficiency.PassControl.HideLoader()"
}, new { id = "ExcelReportDownloadForm" }))
{
    <input class="hidden" name="p" value="@Model.Parameters.ParametersInBase64" />
}*@



@*@Html.Partial("~/Views/Localization/_partials/_Menu.cshtml")*@
    <div id="page-content-wrapper">
        <div id="main-card" class="row card card-PassControl">
            <div class="col-xs-12">
                <button id="btnRevealDetail" type="button" style="display:none;" class="activator">Detalle</button>

                <div style="z-index: 1000;">
                    <div id="menu-left" class="menu-show">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4>Vehículos</h4>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <div class="btn-group btnExpand">
                                            <button id="btnExpandLeft" type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Expandir Contraer" style="height: 30px">
                                                <i class="mdi mdi-arrow-expand-all"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="with-nav-tabs">
                                <div class="">
                                    <ul class="nav nav-tabs">
                                        <li id="tabVehicle" class="active"><a href="#tab1default" data-toggle="tab" onclick="">Centro Costo</a></li>
                                        @*<li id="tabCostCenter"><a href="#tab1default" data-toggle="tab" onclick="">Centro Costo</a></li>*@
                                        <li id="tabGroup" class=""><a href="#tab2default" data-toggle="tab">Grupos</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab1default">
                                        <div class="col-lg-12" style="padding: 10px;">
                                            <div class="input-group">
                                                <input id="txtSearch" type="text" class="form-control" placeholder="Filtrar">
                                                <span class="input-group-btn">
                                                    <button id="btnSearchVehicle" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="gridContainer" class="panel-container-cards" style="height: calc(100vh - 217px)">
                                            @Html.Partial("_Partials/_VehicleList", Model.List)
                                        </div>
                                    </div>
                                    @*<div class="tab-pane fade active in" id="tab2default">
                                        <div class="input-group" style="padding: 10px;">
                                            <span class="input-group-addon">
                                                <input id="chkAllCC" type="checkbox" aria-label="...">
                                            </span>
                                            <input id="txtSearcCostCenter" type="text" class="form-control" placeholder="Filtrar">
                                            <span class="input-group-btn">
                                                <button id="btnSearchCostCenter" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                            </span>
                                        </div>
                                        <div class="panel-container-cards">
                                            @Html.Partial("_Partials/_CostCenterPanel", Model.List)
                                        </div>
                                    </div>*@
                                    <div class="tab-pane fade" id="tab2default">
                                        <div class="col-lg-12" style="padding: 10px;">
                                            <div class="input-group">
                                                <input id="txtSearch-Group" type="text" class="form-control" placeholder="Filtrar">
                                                <span class="input-group-btn">
                                                    <button id="btnSearchVehicleGroup" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="gridContainer" class="panel-container-cards" style="height: calc(100vh - 217px)">
                                            @Html.Partial("_Partials/_VehicleGroupPanel", Model.List)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu-right" class="menu-show" style="overflow-x: hidden;overflow-y: auto">
                        <!-- height:calc(103vh - 127px); -->
                        <div class="panel panel-default" style="display:none;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>Filtros de Ubicación</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="padding:10px">
                                            <div class="col-sm-12 no-padding">
                                                <label>Provincia:</label>
                                            </div>
                                            <div class="col-sm-12 no-padding">
                                                <select id="cbProvincias" class="form-control">
                                                    <option>Seleccione Provincia</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="padding:10px">
                                            <div class="col-sm-12 no-padding">
                                                <label>Cantón:</label>
                                            </div>
                                            <div class="col-sm-12 no-padding">
                                                <select id="cbCantones" class="form-control">
                                                    <option>Seleccione Cantón</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="padding:10px">
                                            <div class="col-sm-12 no-padding">
                                                <label>Buscar:</label>
                                            </div>
                                            <div class="col-sm-12 text-right no-padding">
                                                <div class="input-group">
                                                    <input id="txtSearchFilter" type="text" class="form-control" placeholder="Filtrar">
                                                    <span class="input-group-btn">
                                                        <button id="btnSearchFilter" type="button" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img id="processingLeftPanel" src="~/Content/Images/processing.gif" class="hide" />
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    <div id="validationErrors" class="col-md-12 hide">
                                        <div class="alert alert-warning alert-dismissible fade in" role="alert" style=" font-size:14px; padding-top:4px; padding-bottom:4px;">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <div id="errorMsj" style="font-size:small;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>Reporte Control de Paso</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                @Html.Hidden("DistanceReport")
                                @Html.Hidden("LatitudeReport")
                                @Html.Hidden("LongitudeReport")

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="padding:10px">
                                            <div class="col-sm-12 no-padding">
                                                <label>Fecha Desde:</label>
                                            </div>
                                            <div class="col-sm-12 no-padding">
                                                <div class='input-group date' id='datetimepickerStartDate'>
                                                    @Html.TextBox("StartDateStr", "", new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                                    <span class="input-group-addon">
                                                        <span class="mdi mdi-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="padding:10px">
                                            <div class="col-sm-12 no-padding">
                                                <label>Fecha Hasta:</label>
                                            </div>
                                            <div class="col-sm-12 no-padding">
                                                <div class='input-group date' id='datetimepickerEndDate'>
                                                    @Html.TextBox("EndDateStr", "", new Dictionary<string, Object> { { "placeholder", "Fecha final" }, { "class", "form-control fbold" }, { "data-filter", "true" }, { "autocomplete", "off" } })
                                                    <span class="input-group-addon">
                                                        <span class="mdi mdi-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="padding:10px">
                                            <div class="col-sm-12 no-padding">
                                                <label>Eventos de GPS</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: -6px; margin-left: 5px;">
                                    <div class="col-sm-3">
                                        <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                                            <label class="control-label">
                                                @Html.CheckBox("chkEventosEncendido") &nbsp;Encendido
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 0px; margin-left: 5px;">
                                    <div class="col-sm-3">
                                        <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                                            <label class="control-label">
                                                @Html.CheckBox("chkEventosApagado") &nbsp;Apagado
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <img id="processingLeftPanel" src="~/Content/Images/processing.gif" class="hide" />
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:10px;padding-top:10px;">
                                    <div class="col-lg-11 text-right no-padding">
                                        <button id="btnGenerarReport" type="button" class="btn btn-success" title="Generar Reporte"><i class="mdi mdi-file-chart"></i>&nbsp;Generar</button>
                                    </div>
                                    <div id="validationErrors" class="col-md-12 hide">
                                        <div class="alert alert-warning alert-dismissible fade in" role="alert" style=" font-size:14px; padding-top:4px; padding-bottom:4px;">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <div id="errorMsj" style="font-size:small;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="menu-left-toggle" class="flex btn toggle-left-menu-btn toggle-btn"><i id="left_icon" class="mdi mdi-arrow-left-bold"></i></button>
                    <button id="menu-right-toggle" class="flex btn toggle-right-btn toggle-btn"><i id="right_icon" class="mdi mdi-arrow-right-bold"></i></button>
                </div>
                <div id="detailContainer">
                    <div id="ControlsContainer"></div>
                    @Html.Partial("_partials/_Detail", Model.Data)
                </div>
            </div>
            <div class="card-reveal">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="card-title grey-text text-darken-4 force-close-card-reveal">
                            <span class="material-icons close-reveal mdi mdi-close"></span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="dropdown">
                            <button class="btn btn-success" type="button" id="dropdownMenu1" onclick="ECO_Efficiency.PassControl.OnClickDownloadPartnerReport()" title="Exportar">
                                <i class="mdi mdi-share"></i>&nbsp;&nbsp;Exportar Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="grid-mvc" data-lang="en" data-gridname="" data-selectable="true" data-multiplefilters="false">
                            <div class="grid-wrap">
                                <table id="tblReportPassControl" class="table grid-table">
                                    <thead>
                                        <tr>
                                            <th class="grid-header" style="width:400px;"><div class="grid-header-title"><span>Conductor</span></div></th>
                                            <th class="grid-header grid-col-center" style="width:145px;"><div class="grid-header-title"><span>Dallas</span></div></th>
                                            <th class="grid-header grid-col-center" style="width:145px;"><div class="grid-header-title"><span>Placa</span></div></th>
                                            <th class="grid-header grid-col-center" style="width:185px;"><div class="grid-header-title"><span>Grupo</span></div></th>
                                            <th class="grid-header grid-col-center" style="width:200px;"><div class="grid-header-title"><span>Centro Costo</span></div></th>
                                            <th class="grid-header grid-col-center" style="width:240px;"><div class="grid-header-title"><span>Fecha Ingreso</span></div></th>
                                            <th class="grid-header grid-col-center" style="width:185px;"><div class="grid-header-title"><span>Fecha Salida</span></div></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="grid-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div id="validationErrors2" class="col-md-12 hide">
                        <div class="alert alert-warning alert-dismissible fade in" role="alert" style=" font-size:14px; padding-top:4px; padding-bottom:4px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div id="errorMsj2" style=" font-size:small;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @using (Html.BeginForm("DownloadFile", "PassControlVehicle", FormMethod.Post, new { id = "DownloadFilePassControl" })) { }
    </div>

<!-- Load Form Start-->
@using (Ajax.BeginForm("LoadPassControlVehicle", "PassControlVehicle", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow();ECO_Efficiency.PassControl.InitDropDown();"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}
<!-- Load Form For Group -->
@using (Ajax.BeginForm("LoadPassControlGroup", "PassControlVehicle", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow();ECO_Efficiency.PassControl.InitDropDown();"
}, new { id = "loadFormGroup" }))
{
    @Html.Hidden("id")
}
<!-- Load Form For Cost Center -->
@using (Ajax.BeginForm("LoadPassControlCostCenter", "PassControlVehicle", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow();ECO_Efficiency.PassControl.InitDropDown();"
}, new { id = "loadFormCostCenter" }))
{
    @Html.Hidden("id")
}
<!-- Load Form END-->


@section scripts {
    <script src="~/Scripts/Utilities/cardUtilities.js?v=@version-hf0"></script>
    <script src="~/Scripts/Efficiency/PassControl.js?v=@version-hf0"></script>
    <script>
        var i = 0;
        function changehover() {
            if (i < 6) {
                $('#menu-left-toggle').toggleClass('hover');
                i++;
            }
        }

        $(function () {
            $("#LoadMenuForm").submit();
            ECO_Efficiency.PassControl.Init({});
            window.setInterval(changehover, 1500);
        });
    </script>
}
