﻿@model ECOsystem.Models.Account.AccountMenusBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Permisos para Usuarios";
    ViewBag.Administration = "active";
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .treeview .list-group-item {
            cursor: pointer;
        }

        .treeview span.indent {
            margin-left: 10px;
            margin-right: 10px;
        }

        .treeview span.icon {
            width: 12px;
            margin-right: 5px;
        }

        .treeview .node-disabled {
            color: silver;
            cursor: not-allowed;
        }

        .modal-backdrop {
            opacity: 0.6 !important;
        }
    </style>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@*@using (Ajax.BeginForm("AddOrEditRoles", "UserRolesPermission", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = " ECOsystem.Areas.Admin.UserRolesPermissions.OnRolesAddMenus()"
}, new { id = "addOrEditForm", autocomplete = "off" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_DetailRoles", Model.RoleBase.Data)
    </div>
}*@

@using (Ajax.BeginForm("ConfirmationModal", "UserRolesPermission", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = " ECOsystem.Areas.Admin.UserRolesPermissions.OnConfirmationModalShow()"
}, new { id = "ConfirmationModalForm" }))
{
    <div id="ConfirmationContainer">
        @Html.Partial("_partials/_ConfirmationPartial")
    </div>
}

@using (Ajax.BeginForm("LoadRoles", "UserRolesPermission", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "detailContainer",
    OnSuccess = " ECOsystem.Areas.Admin.UserRolesPermissions.OnSuccessLoad()"
}, new { id = "loadForm" }))
{
    @Html.Hidden("id")
}

@Html.Hidden("SavePermissionsVerification")
<div id="page-content-wrapper">
    <div class="row top20">
        <div class="row">
            <div class="row form-group" style="margin-left:40px !important;">
                <div class="col-sm-4">
                    <label class="col-sm-14 text-right">Rol:</label>
                    @Html.DropDownListFor(m => m.Data.RoleId, @ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveRolesPermissions(user.RoleId, false), "Seleccione un rol...", new { @class = "form-control", id = "RolList", @onchange = " ECOsystem.Areas.Admin.UserRolesPermissions.OnRolesChangeMenu();", custom = "true" })
                </div>

                <div class="col-sm-4">
                    <label class="col-sm-14 text-right">Módulo:</label>
                    @Html.DropDownListFor(m => m.Data.MenuId, Model.Data.List, "Seleccione un Módulo...", new { @class = "form-control", id = "ModuleList", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>    

    <div class="hide" id="treeViewContainer">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-3 col-md-offset-1">
                            <div class="form-group">
                                <input type="input" class="form-control" id="input-check-node" placeholder="Buscar..." value="">
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <ul id="CheckAll" class="list-group" style="margin-bottom: -1px;">
                                <li class="list-group-item node-treeview-checkable" style="color:#428bca" data-nodeid="-1">
                                    <span class="indent"></span>
                                    <span class="indent"></span>
                                    <span class="icon glyphicon"></span>
                                    <span id="chkAll" class="icon check-icon mdi mdi-checkbox-blank mdi-18px" style="cursor:pointer"></span>
                                    Seleccionar todo
                                </li>
                            </ul>
                            <div id="treeview-checkable" class="">

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <div>
                                        <button type="button" class="btn btn-primary" id="btnSavePermissions"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Guardar</button>
                                        @*<button type="button" class="btn btn-success" id="btnSaveAs"><i class="mdi mdi-content-save mdi-18px"></i>&nbsp;Guardar Como</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    
</div>

<div class="modal fade" id="InformationMessageModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span class="element-name">Mantenimiento de Permisos</span></h4>
            </div>
            <div class="modal-body">
                <h4 class="fbold center">Los permisos fueron guardados correctamente.</h4>
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;Aceptar</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationSaveModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Mensaje de confirmación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea almacenar los permisos al rol seleccionado?</p>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>

                    <button type="button" class="btn btn-primary" id="btn-savedata"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/UserRolesPermissions.js?v=@version-hf0"></script>
    <script src="~/Scripts/bootstrap-treeview.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.UserRolesPermissions.Init();
            
            var val = $('#RolList option:selected').val();
            if (val != '') {
                $('#RolList').trigger('change');
                $('#SavePermissionsVerification').val(1);
            }
        });

        //window.onbeforeunload = function () {
        //    alert(this);
        //    ECOsystem.CustomersByPartner.OnClickModuleOption(this);
        //};


        function SavePermissions(role) {
            
            var checked = $('#treeview-checkable').treeview('getChecked');
            var module = $('#ModuleList').val();
            var list = [];

            $.each(checked, function () {
                if (this.id.split('.').length == 2) {
                    list.push(this.id);
                }
            })
             //Comment because is using the role id instead of RoleName
            //role = role.split(':')[1].replace("'", "");
            //role = role.replace("'}", "");

            $.ajax({
                url: '/UserRolesPermission/AddOrEditPermissionsbyRoles',
                type: 'POST',
                data: JSON.stringify({ Role: role, List: list, Module: module }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == 1) {
                        $('#InformationMessageModal').modal('show');
                        $('#treeViewContainer').html('');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        location.reload();
                    }
                },
                complete: function () {
                    $('#ConfirmationModal').modal('hide');
                    $('#ConfirmationSaveModal').modal('hide');
                }
            });
        }

        $('#btn-savedata').on('click', function () {
            
            $('#SavePermissionsVerification').val('');
            var role = $("#RolList").val();
            SavePermissions(role);
        });

        $('#btnSaveAs').on('click', function () {
            
            $.ajax({
                url: '/UserRolesPermission/SaveAsPermissions',
                type: 'POST',
                data: JSON.stringify({}),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    //$('#addOrEditModal').modal('show');
                     ECOsystem.Areas.Admin.UserRolesPermissions.AddModulesModal();
                    Console.log('Success');
                }
            });
        });

        $("#ModuleList").off('change.ModuleList').on('change.ModuleList', function () {
            
            $('#SavePermissionsVerification').val(1);
            var key = $('#ModuleList').val();
            var role = $("#RolList").val();
            var json;

            if (key == "")
            {
                $('#treeview-checkable').html('');
                $('#btn-check-node').addClass('disabled');
                $('#btn-uncheck-node').addClass('disabled');
                $('#btn-check-all').addClass('disabled');
                $('#btn-uncheck-all').addClass('disabled');
                $('#btn-savedata').addClass('hidden');
                $('#CheckAll').addClass('hidden');
                $('#treeViewContainer').addClass('hide');

                return;
            }

            $.ajax({
                url: '/UserRolesPermission/GetPermissionsTreeData',
                type: 'POST',
                data: JSON.stringify({ Key: key , RoleId: role }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {

                    $('#chkAll').removeClass('mdi-checkbox-marked');
                    $('#chkAll').addClass('mdi-checkbox-blank');
                    $('#treeViewContainer').removeClass('hide');

                    
                    json = data;
                    if (json == '[]') {
                        $('#treeview-checkable').html('');
                        $('#treeview-checkable').prepend('<p class="top20 text-success">No se encontraron resultados</p>');
                        $('#btn-check-node').addClass('disabled');
                        $('#btn-uncheck-node').addClass('disabled');
                        $('#btn-check-all').addClass('disabled');
                        $('#btn-uncheck-all').addClass('disabled');
                        $('#btn-savedata').addClass('hidden');
                        $('#CheckAll').addClass('hidden');
                        $('#treeViewContainer').addClass('hide');
                    }
                    else {

                        var search = function (e) {
                            var pattern = $('#input-search').val();
                            var options = {
                                ignoreCase: $('#chk-ignore-case').is(':checked'),
                                exactMatch: $('#chk-exact-match').is(':checked'),
                                revealResults: $('#chk-reveal-results').is(':checked')
                            };
                            var results = $searchableTree.treeview('search', [pattern, options]);
                            var output = '<p>' + results.length + ' matches found</p>';
                            $.each(results, function (index, result) {
                                output += '<p>- ' + result.text + '</p>';
                            });
                            $('#search-output').html(output);
                        }

                        $('#btn-check-node').removeClass('disabled');
                        $('#btn-uncheck-node').removeClass('disabled');
                        $('#btn-check-all').removeClass('disabled');
                        $('#btn-uncheck-all').removeClass('disabled');
                        $('#btn-savedata').removeClass('hidden');
                        $('#CheckAll').removeClass('hidden');

                        $('#input-search').on('keyup', search);
                        $('#btn-clear-search').on('click', function (e) {
                            $searchableTree.treeview('clearSearch');
                            $('#input-search').val('');
                            $('#search-output').html('');
                        });

                        var $checkableTree = $('#treeview-checkable').treeview({
                            data: json,
                            showIcon: false,
                            showCheckbox: true,
                            onNodeChecked: function (event, node) {
                                $('#SavePermissionsVerification').val(1);
                                var children = node.nodes;
                                if (children) {
                                    for (var i = 0; i < children.length; i++) {
                                        var childNode = children[i];
                                        $checkableTree.treeview('checkNode', childNode['nodeId']);

                                        if (i == children.length - 1) {
                                            if (node.parentId != undefined) {
                                                if ($('#treeview-checkable').treeview('getParent', node).nodes.filter(function (e) { return e.state.checked == true; }).length == $('#treeview-checkable').treeview('getParent', node).nodes.length) {
                                                    $checkableTree.treeview('checkNode', node.parentId);
                                                }
                                            }
                                            if ($('#treeview-checkable').treeview('getUnchecked').length == 0) {
                                                $('#chkAll').addClass('mdi-checkbox-marked');
                                            }
                                        }
                                    }
                                } else {
                                    if (node.parentId != undefined) {
                                        if ($('#treeview-checkable').treeview('getParent', node).nodes.filter(function (e) { return e.state.checked == true; }).length == $('#treeview-checkable').treeview('getParent', node).nodes.length) {
                                            $checkableTree.treeview('checkNode', node.parentId);
                                        }
                                    }
                                    if ($('#treeview-checkable').treeview('getUnchecked').length == 0) {
                                        $('#chkAll').addClass('mdi-checkbox-marked');
                                    }
                                }
                            },
                            onNodeUnchecked: function (event, node) {
                                var children = node.nodes;
                                if (children) {
                                    for (var i = 0; i < children.length; i++) {
                                        var childNode = children[i];
                                        $checkableTree.treeview('uncheckNode', childNode['nodeId']);
                                    }
                                }
                                var tempNode = node;
                                while (tempNode.parentId != undefined) {
                                    var nodeid = '[data-nodeid=' + tempNode.parentId + ']';

                                    $('#treeview-checkable').treeview('getParent', tempNode).state.checked = false;
                                    $(nodeid).find('span').removeClass('mdi-checkbox-marked-outline');
                                    $(nodeid).find('span').last().addClass('mdi-checkbox-blank-outline');

                                    tempNode = $('#treeview-checkable').treeview('getParent', tempNode);
                                }
                                $('#chkAll').removeClass('mdi-checkbox-marked');
                                $('#chkAll').addClass('mdi-checkbox-blank');
                            }
                        });

                        $('#chkAll').on('click', function (evt) {
                            $('#SavePermissionsVerification').val(1);
                            if ($(this).hasClass('mdi-checkbox-blank')) {
                                $(this).addClass('mdi-checkbox-marked');
                                $(this).removeClass('mdi-checkbox-blank');

                                $checkableTree.treeview('checkAll', { silent: $('#chk-check-silent').is(':checked') });
                            }
                            else {
                                $(this).addClass('mdi-checkbox-blank');
                                $(this).removeClass('mdi-checkbox-marked');

                                $checkableTree.treeview('uncheckAll', { silent: $('#chk-check-silent').is(':checked') });
                            }
                            evt.stopImmediatePropagation();
                        });

                        var findCheckableNodess = function () {
                            return $checkableTree.treeview('search', [$('#input-check-node').val(), { ignoreCase: true, exactMatch: false }]);
                        };
                        var checkableNodes = findCheckableNodess();
                        // Check/uncheck/toggle nodes
                        $('#input-check-node').on('keyup', function (e) {
                            checkableNodes = findCheckableNodess();
                            $('.check-node').prop('disabled', !(checkableNodes.length >= 1));
                        });

                        if ($('#treeview-checkable').treeview('getUnchecked').length == 0) {
                            $('#chkAll').removeClass('mdi-checkbox-blank');
                            $('#chkAll').addClass('mdi-checkbox-marked');
                        }
                    }

                }
            });
        });

        $('#btnSaveAsRoles').on('click', function () {
            var role = $('#txtRoleNameSaveAs').val();
            var parent = $('#ParentCA').val();
            if (parent == null) parent = $('#ParentPA').val();
            if (parent == null) parent = $('#ParentSA').val();

            $.ajax({
                url: '/UserRolesPermission/CheckValidRoleName',
                type: 'POST',
                data: JSON.stringify({ RoleName: role, Parent: parent }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == 0 || data == 2) {
                        SavePermissions(role);
                    }
                }
            });
        });

    </script>
}
