﻿@model ECOsystem.Models.Account.UserRolesBase
@{
    ViewBag.Title = "Roles";
    ViewBag.Administration = "active";
    ViewBag.HasGrid = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var header = ECOsystem.Controllers.Account.ASPMenusController.GetHeader();

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="@header" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("NewRoleId")
@Html.Hidden("NewRoleName")
<div id="page-content-wrapper">

    @using (Ajax.BeginForm("SearchRole", "UserRolesPermission", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-success" title="Agregar" onclick=" ECOsystem.Areas.Admin.UserRolesPermissions.AddModulesModal()"><i class=" mdi mdi-plus"></i> Agregar Rol</button>
            </div>

            <div class="col-sm-6">
            </div>

            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }

    @using (Ajax.BeginForm("LoadRoles", "UserRolesPermission", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = " ECOsystem.Areas.Admin.UserRolesPermissions.ShowRoleDetail()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }

    @using (Ajax.BeginForm("AddOrEditRoles", "UserRolesPermission", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnBegin = " ECOsystem.Areas.Admin.UserRolesPermissions.AddOrEditStart();",
        OnSuccess = " ECOsystem.Areas.Admin.UserRolesPermissions.AddOrEditModalHide();"
    }, new { id = "addOrEditForm", autocomplete = "off" }))
    {
        <div id="detailContainer" hidden>
            @Html.Partial("_partials/_DetailRoles", Model.Data)
        </div>
    }

    <br />
    <div class="row" id="gridContainer" style="margin-top: -15px;">
        <div class="col-sm-12">
            @Html.Partial("_partials/_GridRoles", Model.List)
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            @using (Ajax.BeginForm("DeleteRoles", "UserRolesPermission", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.DeleteModalClose()"
            }, new { id = "deleteForm" }))
            {
                @Html.Hidden("id")
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="AssingPermissionsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asignación de Permisos</h4>
            </div>
            <div class="modal-body center">
                <p>Por favor asigne los permisos correspondientes al nuevo Rol.<br /> Presione aceptar para continuar.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAssingPermissions" class="btn btn-primary" onclick=" ECOsystem.Areas.Admin.UserRolesPermissions.RedirectToPermissions();"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Administration/UserRolesPermissions.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.UserRolesPermissions.Init();
        });
    </script>

}
