﻿@model ECOsystem.Models.Core.CustomReport

<form id="formAddOrEditCustomReport">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                @Html.HiddenFor(m => m.ReportId)
                <div class="form-group">
                    @Html.Label("Nombre del Reporte", new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.ReportName, new { placeholder = "Nombre del Reporte", @class = "form-control col-sm-6", @type = "text", @maxlength = "100", data_rule_required = "true" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Nombre de la hoja del Reporte", new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.SheetName, new { placeholder = "Nombre de la hoja del Reporte", @class = "form-control col-sm-6", @type = "text", @maxlength = "100" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Tipo de Columna", new { @class = "col-sm-14 control-label" })
                    @Html.DropDownList("SourceId", ECOsystem.Business.Utilities.CustomReportsCollections.GetReportSources(), "Tipo de Columna", new { @class = "form-control", })
                </div>
            </div>
            <div id="ColumnContainer" hidden>
                <div class="col-sm-4" style="border-left: 1px solid #ccc;">
                    <div class="form-group">
                        @Html.Label("Columna", new { @class = "col-sm-14 control-label" })
                        @Html.DropDownList("ColumnId", new List<SelectListItem>(), "Columna", new { @class = "form-control" })
                    </div>
                </div>
                <div id="divFinalSummation" class="col-sm-3" hidden>
                    <br />
                    <div class="checkbox" style="margin-bottom: -3px; margin-left:0px;">
                        <label class="control-label">
                            @Html.CheckBox("chkFinalSummation", 0) &nbsp;Mostrar el total al final del reporte
                        </label>
                    </div>
                    <br />
                </div>
                <div class="col-sm-4 text-right">
                    <br />
                    <button type="button" class="btn btn-info" id="btnAddColumn" style="margin-top:5px;"><i class="mdi mdi-plus"></i>&nbsp;Agregar Columna</button>
                </div>
            </div>
            <div id="FormulaContainer" hidden>
                <div class="col-sm-8">
                    @Html.Partial("_partials/_FormulaDetail")
                </div>
            </div>
        </div>

        <div id="columnDetail">
            <div class="row">
                <div class="col-sm-12">
                    <br />
                    <hr style="border-top: 1px solid #ccc;" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped" id="formulaList">
                        <thead>
                            <tr>
                                <th class="tableHeader">Columnas</th>
                            </tr>
                        </thead>
                    </table>
                    <ul id="sortableColumns">
                        @if (Model != null && Model.ColumnList != null)
                        {
                            foreach (var item in Model.ColumnList)
                            {
                                var name = string.IsNullOrEmpty(item.FormulaName) ? item.Name : item.FormulaName;
                                var finalSumm = item.FinalSummation ? 1 : 0;

                                if (string.IsNullOrEmpty(item.Formula))
                                {
                                    <li class="ui-state-default @item.Order" id="@item.Id" formula="@item.Formula" finalSummation="@finalSumm">&nbsp;@name&nbsp;<i class="mdi mdi-close-box removeColumn" columnid="@item.Order"></i>&nbsp;</li>
                                }
                                else
                                {
                                    <li class="ui-state-default @item.Order" id="@item.Id" formula="@item.Formula" finalSummation="@finalSumm">
                                        <span data-toggle="tooltip" data-placement="bottom" title="@item.FormulaDetail">
                                            &nbsp;@name&nbsp;
                                            <i class="mdi mdi-pencil-box editColumn" columnid="@item.Order" formulaName="@name" formula="@item.Formula" finalSummation="@finalSumm"></i>
                                            <i class="mdi mdi-close-box removeColumn" columnid="@item.Order"></i>&nbsp;
                                        </span>
                                    </li>
                                }
                            }
                        }
                        @Html.Hidden("MaxId", Model != null && Model.ColumnList != null ? Model.ColumnList.Any() ? Model.ColumnList.Max(x => x.Order) : 1 : 1)
                    </ul>
                </div>
            </div>
            <div class="row" id="ReportWarning" hidden>
                <div class="col-sm-12">
                    @Html.Label("Por favor ingresar el nombre del Reporte.", new { @class = "col-sm-14 control-label text-danger" })
                </div>
                <br />
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 text-right">
                    @if (Model.ReportId != 0)
                    {
                        <button type="button" class="btn btn-info" data-toggle="modal" id="btnDeleteReport" data-target="#DeleteReportModal"><i class="mdi mdi-delete"> </i>&nbsp;Eliminar</button>
                    }
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#CancelCreateReport"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-info" onclick=" ECOsystem.Areas.Admin.CustomReport.ReportValidate()"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>