﻿<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-12">
                @Html.Hidden("IsEdition")
                @Html.Hidden("OrderId")
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Label("Nombre de la Fórmula", new { @class = "col-sm-14 control-label" })
                            @Html.TextBox("FormulaName", string.Empty, new { placeholder = "Nombre de la Fórmula", @class = "form-control col-sm-6", })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <br />
                        <div class="checkbox" style="margin-bottom: -3px; margin-left:20px;">
                            <label class="control-label">
                                @Html.CheckBox("chkFinalSummationFormula", 0) &nbsp;Mostrar el total al final del reporte
                            </label>
                        </div>
                        <br />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Label("Detalle de la Fórmula", new { @class = "col-sm-14 control-label" })
                        @Html.TextBox("FormulaDetail", string.Empty, new { placeholder = "Detalle de la Fórmula", @class = "form-control col-sm-6", })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <label id="formulaWarning" class="col-sm-14 text-danger"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#CancelCreateFormula"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                        <button type="button" class="btn btn-info" id="btnAddFormula"><i class="mdi mdi-check"></i>&nbsp;Agregar Formula</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>