﻿<div class="modal fade" id="CancelCreateFormula" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title">Reportes Personalizados</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea cancelar la creación de la Fórmula?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnCancelFormula"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CancelCreateReport" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reportes Personalizados</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea cancelar la creación del Reporte?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=" ECOsystem.Areas.Admin.CustomReport.ShowLoader(); window.location.reload();"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmSaveReport" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reportes Personalizados</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea almacenar la información del Reporte?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnCreateReport"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmRemoveColumn" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reportes Personalizados</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea remover la columna?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnRemoveColumn" ><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteReportModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="DeleteReportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reportes Personalizados</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el reporte?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" onclick=" ECOsystem.Areas.Admin.CustomReport.OnbtnReportClick()"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>