﻿@model ECOsystem.Models.Core.Users

@{
    var photo = Model.Photo == null ? "/Content/Images/default_photo.jpg" : Model.Photo;
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    string ClassHidden = "";      
}

<!-- Modal Start-->
<div class="modal fade" id="addOrEditModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 740px;">
        <div class="modal-content">
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.RowVersion)
            @Html.HiddenFor(m => m.IsCustomerUser)
            @Html.HiddenFor(m => m.CustomerUserId)
            @Html.HiddenFor(m => m.DecryptedUserName, new { @Value = Model.DecryptedEmail })

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Información de Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="col-lg-3">
                            <div class="hovereffect">
                                <img id="imgPhoto" class="pic" src="@photo" width="136" height="136" alt="">
                                <div class="overlay">
                                    <a id="btnUpload" class="info" href="#"><i class="mdi mdi-camera"></i>&nbsp;Cargar</a>
                                    @Html.HiddenFor(m => m.Photo)
                                    <input type="file" class="hide" id="fileHidden" size="43" name="fileHidden" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-9">

                        <div class="col-sm-6" role="form" style="margin-top:5px;">
                            @Html.LabelFor(m => m.DecryptedName, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.DecryptedName, new { placeholder = "Nombre completo", @class = "form-control", autofocus = "", @maxlength = "100" })
                            @Html.ValidationMessageFor(m => m.DecryptedName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6" role="form" style="margin-top:5px;">
                            @Html.LabelFor(m => m.DecryptedIdentification, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.DecryptedIdentification, new { placeholder = "Número de Identificación", @class = "form-control", numeric = "" })
                            @Html.ValidationMessageFor(m => m.DecryptedIdentification, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6" role="form" style="margin-top:5px;">
                            @if (Model.UserId != null)
                            {
                                @Html.LabelFor(m => m.DecryptedEmail, new { @class = "col-sm-14 control-label" })
                                @Html.TextBoxFor(m => m.DecryptedEmail, new { placeholder = "Correo Electrónico", @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.LabelFor(m => m.DecryptedEmail, new { @class = "col-sm-14 control-label" })
                                @Html.TextBoxFor(m => m.DecryptedEmail, new { placeholder = "Correo Electrónico", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DecryptedEmail, "", new { @class = "text-danger" })
                            }
                        </div>

                        <div class="col-sm-6" role="form" style="margin-top:5px;">
                            @Html.LabelFor(m => m.DecryptedPhoneNumber, new { @class = "col-sm-14 control-label" })
                            @Html.TextBoxFor(m => m.DecryptedPhoneNumber, new { placeholder = "Número de Celular", @class = "form-control", numeric = "" })
                        </div>

                        @* GSOLANO: Checks if the User has a LineVita User role so the user cannot change the role  *@
                        @if (Model.RoleName == "LINEVITA_ADMIN" && Model.UserId != null)
                        {
                            ClassHidden = "hidden";
                            <input name="RoleId" class="hidden" value="@Model.RoleId">
                        }

                        <div class="col-sm-6" role="form" style="margin-top:5px;">
                            <div class="@ClassHidden">
                                @Html.LabelFor(m => m.RoleName, new { @class = "col-sm-14 control-label" })
                                <br />
                                @Html.DropDownListFor(m => m.RoleId, @ECOsystem.Business.Core.UserRolesPermissionsBusiness.RetrieveRolesPermissions(@Model.RoleId ==null?user.RoleId:Model.RoleId, null), "Seleccione un Rol", new { @class = "form-control", custom = "true" })
                                @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                               
                        @*<div class="col-sm-6" role="form" style="margin-top:5px;">
                            @if (Model.UserId != null)
                            {
                                @Html.LabelFor(m => m.DecryptedUserName, new { @class = "col-sm-14 control-label" })
                                @Html.TextBox("_UserName", Model.DecryptedUserName, new { disabled = "disabled", @class = "form-control" })
                                @Html.HiddenFor(m => m.DecryptedUserName)
                            }
                        </div>*@                                        

                        <div class="col-sm-12" style="margin-top:5px;">
                            @if (Model.UserId != null)
                            {
                                <div class="col-sm-3">
                                    <div class="checkbox">
                                        <label class="control-label">
                                            @Html.CheckBoxFor(m => m.IsActive)Activo
                                        </label>
                                        @Html.ValidationMessageFor(m => m.IsActive)
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.ChangePassword)Cambiar Contraseña
                                            </label>
                                            @Html.ValidationMessageFor(m => m.ChangePassword)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="">
                                        <div class="checkbox">
                                            <label class="control-label">
                                                @Html.CheckBoxFor(m => m.IsLockedOut)Bloqueado
                                            </label>
                                            @Html.ValidationMessageFor(m => m.IsLockedOut)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="col-sm-6" style="margin-top:5px;">
                            <label class="control-label"></label>
                            <div id="validationErrors" class="col-sm-7 top20">
                                <div id="errorMsj" class="text-danger">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-2">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick=" ECOsystem.Areas.Admin.CustomerUsers.CheckValidUserName()"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<script type="text/javascript">
    try {
        ECOsystem.Utilities.ApplyNumericInputs();
    } catch (e) { } 
</script>    