﻿@model IEnumerable<ECOsystem.Models.Core.Users>


@if (Model != null && Model.Any())
{
    <div class="card">                               
            @(Html.Grid(Model)        
              .Selectable(true)
              .Columns(c =>
              {
                  c.Add(m => m.DecryptedName).Titled("Nombre").Sortable(true);
                  c.Add(m => m.DecryptedEmail).Titled("Usuario Web");
                  c.Add(m => m.IsActive).Titled("Activo?").RenderValueAs(m => Html.CheckBox("_Active", m.IsActive, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center checkbox");
                  c.Add(m => m.IsLockedOut).Titled("Bloqueado?").RenderValueAs(m => Html.CheckBox("_IsLockedOut", m.IsLockedOut, new { disabled = "disabled" })).Encoded(false).Sanitized(false).Css("grid-col-center checkbox");
                  c.Add()
                      .Encoded(false)
                      .Sanitized(false)
                      .SetWidth(70)
                      .RenderValueAs(m => @<span>
                        <a href="#" class="edit-color" id="@m.UserId" title="Editar" edit_row><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                        <a href="#" class="delete-color" data-toggle="modal" data-target="#deleteModal" id="@m.UserId" title="Eliminar" del_row><i class="mdi mdi-32px mdi-close-box"></i></a>
                    </span>).Css("grid-col-btn");
          }))
        
    </div>
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}

