﻿<div class="modal fade" id="UnlockSupportUsersModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Usuarios de Soporte</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Digite el correo electrónico del usuario al que desea cambiar contraseña o desbloquear</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.TextBox("Email", "", new { @id = "txtEmailSupport", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" id="unlockeduser" type="radio" class="regular-radio" checked="checked" />&nbsp; Desbloquear Usuario                                
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" id="resetpassword" type="radio" class="regular-radio" />&nbsp; Reiniciar Contraseña
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="hidden" id="txtValidation" style="color:green;">Usuario desbloqueado correctamente</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnUnlockSupport" type="button" class="btn btn-primary"><i class="mdi mdi-lock-open-outline"></i>&nbsp;Aplicar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-exit-to-app"></i>&nbsp;Cerrar</button>
            </div>

        </div>
    </div>
</div>

