﻿@model IEnumerable<ECO_Efficiency.Models.HobbsMeterPerformanceReport>

@if (Model != null && Model.Any())
{

    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.PlateId).Titled("Matrícula").SetWidth(80);
            c.Add(m => m.VehicleName).Titled("Nombre Vehiculo").SetWidth(80);
            c.Add(m => m.MinProcessedDateStr).Titled("Fecha Inicial").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.MaxProcessedDateStr).Titled("Fecha Final").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.GpsStartOdometerStr).Titled("Odómetro Inicial").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.GpsEndOdometerStr).Titled("Odómetro Final").SetWidth(110).Css("grid-col-right");
            c.Add(m => m.GpsHoursOnStr).Titled("Tiempo Encendido").SetWidth(110).Css("grid-col-right");
        }).Selectable(true)
        )
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
