﻿@model ECO_Efficiency.Models.RealTimeBase
@{
    ViewBag.Title = "Vehículos en Tiempo Real";
    ViewBag.Localizacion = "active";
    ViewBag.Localization = "active";
    ViewBag.MapsRealTimeIndex = "active";
    ViewBag.HasGrid = true;
    ViewBag.Efficiency = "active";
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        .color-box {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid white;
        }
        .colpick {
            z-index: 9999;
        }

           .toggle-btn {
            position: absolute;
            border-radius: 0 !important;
            border-color: none !important;
            background-color: #000 !important;
        }
    </style>
}

<link href="~/Content/Styles/RadarEffect.css?v=@version-hf0" rel="stylesheet" />


@using (Ajax.BeginForm("AddOrEditVehicles", "RealTime", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @Html.Partial("_partials/_Detail", Model.Data)
    </div>
}

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        if (ECOsystem.Utilities.Session.GetProfileByRole(user.RoleId) == "LINEVITA_ADMIN")
        {
            <input class="hidden" name="Header" value="18" />
        }
        else
        {
            <input class="hidden" name="Header" value="1" />
        }     
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

    <div id="page-content-wrapper">

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchVehicles", "RealTime", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
            }, new { id = "searchForm" }))
        {
            
                <div class="col-sm-12" id="gridContainer">
                    <div class="card-content">
                        <div class="card">
                            @*Monitoreo Continuo tiene un layout muy diferente al layout del menu*@
                            @*Insertalo en un iframe no es elegante, pero es la forma mas efectiva en este momento*@
                            <iframe src='/Eficiencia/ContinuosMonitoring/Index' style="width: 100%; height: calc(100vh - 130px); border: 0;"></iframe>
                        </div>
                    </div> 
                    @*@Html.Partial("_partials/_Grid", Model.List)*@
                </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadRealTime", "RealTime", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "detailContainer",
                            OnSuccess = "ECOsystem.Utilities.AddOrEditModalShow()"
                        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
    </div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#LoadMenuForm").submit();
        });

    </script>
}
