﻿@model ECOsystem.Models.Core.Commerces

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="col-sm-8">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Nombre", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Code, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Code, new { placeholder = "Código CIF", @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Latitude, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Latitude, new { placeholder = "Latitud", @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Longitude, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Longitude, new { placeholder = "Longitud", @class = "form-control", })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Description, new { placeholder = "Descripción", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "col-sm-14 control-label" })
                    @Html.TextBoxFor(m => m.Address, new { placeholder = "Dirección", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12  text-right">
                <button type="button" class="btn btn-default" id="btnCancel"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>
