﻿@model IEnumerable<ECOsystem.Models.Core.Commerces>

@if (Model != null && Model.Any())
{    
    @*<div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" title="Exportar">
            <i class="mdi mdi-share"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" onclick=" ECOsystem.Areas.Admin.DriverUsers.OnClickDownloadDrivers()">
                    <i class="mdi mdi-format-list-bulleted"></i>&nbsp;&nbsp;Exportar Excel
                </a>
            </li>
        </ul>
    </div>*@
    @(Html.Grid(Model)
        .Columns(c =>
        {
            c.Add(m => m.Name).Titled("Nombre").Sortable(true);
            c.Add(m => m.Description).Titled("Descripción");
            c.Add(m => m.Address).Titled("Dirección");
            c.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(m => @<span>
                                        <a href="#" class="edit-color" id="@m.Id" title="Editar" edit_row_commerce><i class="mdi mdi-32px mdi-pencil-box"></i></a>
                                        <a href="#" class="delete-color" id="@m.Id" title="Eliminar" delete_row_commerce><i class="mdi mdi-32px mdi-close-box"></i></a>
                                    </span>
                                ).Css("grid-col-btn");
        }))      
}
else
{
    <br />
    <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
        <i class="mdi mdi-information" style="font-size:18px;"></i>&nbsp;No se encontraron resultados
    </div>
}
