﻿@model ECO_Admin.Models.Administration.CommercesReport

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.DropDownListFor(m => m.AgenteId, ECO_Admin.Business.Utilities.GeneralCollections.GetVehicleDrivesList, "Seleccione un Agente", new { placeholder = "Descripción:", @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerStartDate'>
                    @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, Object> { { "placeholder", "Fecha inicial" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class='input-group date' id='datetimepickerEndDate'>
                    @Html.TextBoxFor(m => m.EndDate, new Dictionary<string, Object> { { "placeholder", "Fecha Final" }, { "class", "form-control fbold" }, { "data-filter", "true" } })
                    <span class="input-group-addon">
                        <span class="mdi mdi-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12  text-right">
                <button type="button" class="btn btn-default" id="btnCancelDownload"><i class="mdi mdi-close"></i>&nbsp;Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="mdi mdi-download"></i>&nbsp;Descargar</button>
            </div>
        </div>
    </div>
</div>
