﻿@using System.Text.RegularExpressions
@using ECO_Operation.Models
@model IEnumerable<dynamic>

@if (Model != null && Model.Any())
{
    @(Html.Grid(Model.Select(item => item as ScoreGlobalReport))
        .Columns(c =>
        {
            c.Add(m => m.DecryptedIdentification).Titled("Identificación").SetWidth(110).Css("grid-col-left");
            c.Add(m => m.DecryptedName).Titled("Nombre").SetWidth(110).Css("grid-col-left");
            c.Add(m => m.Scorestr).Titled("% Puntuación").SetWidth(110).Css("grid-col-center");
        }
        )
        .Selectable(true)
    )
}
else
{
    <p class="top20 text-success">No se encontraron resultados</p>
}
