﻿@model  ECOsystem.Areas.Admin.Models.Administration.VehicleSchedule

@if (Model.VehicleId != null)
{
    @Html.HiddenFor(m => m.JsonSchedule)
    @Html.HiddenFor(m => m.RowVersion)

    <div class="card">
        <div class="card-content">

            <div class="alert alert-info alert-dismissible fade in" role="alert" style="box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="mdi mdi-information" style="font-size:18px;" ></i>&nbsp;Seleccione <strong>múltiples cuadros</strong> con el clic presionado.
            </div>
            
            <div class="col-lg-12">
                <table id="scheduleTable">
                    <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Dom</td>
                            <td>Lun</td>
                            <td>Mar</td>
                            <td>Mier</td>
                            <td>Jue</td>
                            <td>Vie</td>
                            <td>Sab</td>
                            <td>&nbsp;</td>
                            <td>Dom</td>
                            <td>Lun</td>
                            <td>Mar</td>
                            <td>Mier</td>
                            <td>Jue</td>
                            <td>Vie</td>
                            <td>Sab</td>
                        </tr>
                    </thead>
                    <tbody id="scheduleBody"></tbody>
                </table>
            
                <br />
            </div>            
                       
            <div class="row">                
                <div class="col-sm-6">
                    <img id="processing" src="~/Content/Images/processing.gif" class="hide" />
                </div> 
                <div class="col-sm-6 text-right">
                    <button id="btnAddAlarm" type="button" class="btn btn-success"><i class="mdi mdi-bell"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clearModal"><i class="mdi mdi-share"></i>&nbsp;Desmarcar Todos</button>
                    <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i>&nbsp;Guardar</button>
                </div>
            </div> 
        </div>
    </div>
}
