﻿@model  ECOsystem.Areas.Admin.Models.Administration.CardRequestBase
@{
    ViewBag.Title = "Solicitud de Tarjetas";
    ViewBag.Administration = "active";
    ViewBag.AdministrationCreditCard = "active";
    ViewBag.AdministrationCardRequestIndex = "active";

    ViewBag.HasGrid = true;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        #creditDetail.panel {
            margin-top: 0;
        }

        #creditDetail .panel-body {
            background-color: #fafafa;
        }

        .btnGrid {
            padding-bottom: 2px;
            padding-top: 2px;
        }

        .card .card-content {
            padding-top: 10px;
        }

        div[role=alert] {
            box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
        }

            div[role=alert] i {
                font-size: 18px;
            }

        .strong {
            font-weight: bold;
        }

        table tr th .checkbox, table tr td .checkbox {
            margin: 0px;
            margin-left: 10px;
        }
    </style>
}

@using (Html.BeginForm("DownloadIVEFile", "CreditCard", FormMethod.Post, new { id = "DonwloadIVEFileForm" })) { }

@using (Ajax.BeginForm("AddCreditCardFromRequest", "CreditCard", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    OnBegin = " ECOsystem.Areas.Admin.CreditCard.AddOrEditRequestBegin()",
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Areas.Admin.CreditCard.AddOrEditRequestEnd()"
}, new { id = "addOrEditForm" }))
{
    @Html.Hidden("id")
    <div id="detailContainer">
    </div>
}

@using (Ajax.BeginForm("AddOrEditCardRequest", "CreditCard", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessUpdateCardRequest"
}, new { id = "addOrEditCarRequestdForm" }))
{
    <div id="detailCardRequestContainer">

    </div>
}

@using (Ajax.BeginForm("RemoveCardRequest", "CreditCard", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessUpdateCardRequest"
},
new { id = "removeCardRequestForm" }))
{
    <input type="hidden" name="cardRequestId" id="cardRequestId" />
}

@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

<div id="page-content-wrapper">

    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchCreditCardRequests", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
    }, new { id = "searchForm" }))
    {
        <div class="row">
            <div class="col-sm-4">
                <button id="btnAddCardRequest" type="button" class="btn btn-success" title="Solicitar Método de Pago"><i class="mdi mdi-credit-card" style="font-size:20px !important"></i><i class="mdi mdi-plus"></i> Solicitar Método de Pago</button>
            </div>

            <div class="col-sm-4">
            </div>

            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
    <!-- Search Area End-->
    <!-- Load Form Start-->
    @using (Ajax.BeginForm("LoadCardRequest", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessLoadCardRequest"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }

    <!-- Load Form End-->
    <!-- Add Load Form Start-->
    @using (Ajax.BeginForm("LoadAddOrEditCardRequest", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailCardRequestContainer", //Referencia al AjaxForm AddCardRequest
        OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessAddOrEditLoadCardRequest"
    }, new { id = "loadAddForm" }))
    {
        @Html.Hidden("requestId")
    }

    @using (Ajax.BeginForm("LoadPreviousCustomerCardRequest", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessLoadPreviousCardRequest"
    }, new { id = "loadPreviousCardRequestForm" }))
    {
        <input type="hidden" name="id" value="-100" />
    }

    @using (Ajax.BeginForm("LoadCounties", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessLoadCounties"
    }, new { id = "loadCountiesForm" }))
    {
        <input type="hidden" name="stateId" value="@Model.CardRequest.StateId" />
    }

    @using (Ajax.BeginForm("LoadCities", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessLoadCities"
    }, new { id = "loadCitiesForm" }))
    {
        <input type="hidden" name="countyId" value="@Model.CardRequest.CountyId" />
    }
    <!-- Add Load Form End-->
    <br />
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_GridRequest", Model.List)
        </div>
    </div>
    @Html.Partial("_partials/_ConfirmationRequestModal")

    <div class="modal fade" id="deleteCardRequestModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><span class="element-name">Eliminar solicitud de tarjeta</span></h4>
                </div>
                <div class="modal-body">
                    <h4 class="fbold center">¿Esta seguro que desea eliminar está solicitud?</h4>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close mdi-18px"></i>&nbsp;No</button>
                        <button type="button" class="btn btn-primary" onclick="ECOsystem.Areas.Admin.CreditCard.ConfirmRemoveCardRequest()"><i class="mdi mdi-check mdi-18px"></i>&nbsp;Sí</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/Administration/creditCard.js?v=@version-hf1"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.CreditCard.InitCardRequest();
        });

    </script>
}
