﻿@model ECOsystem.Models.Administration.CardRequestBase
@{
    ViewBag.Title = "Mantenimiento de Tarjetas";
    ViewBag.Administration = "active";
    ViewBag.AdministrationCreditCard = "active";
    ViewBag.AdministrationCardRequestIndex = "active";

    ViewBag.HasGrid = true;
}

@section styles {
    <style>
        #creditDetail.panel {
            margin-top: 0;
        }

        #creditDetail .panel-body {
            background-color: #fafafa;
        }
    </style>
}


@using (Ajax.BeginForm("AddCreditCardFromRequest", "CreditCard", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
    </div>
}

@using (Ajax.BeginForm("AddOrEditCardRequest", "CreditCard", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.CreditCard.OnSuccessUpdateCardRequest"
}, new { id = "addOrEditCarRequestdForm" }))
{
    <div id="detailCardRequestContainer">
        
    </div>
}

<div id="wrapper">

    @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
    {
        <input class="hidden" name="Header" value="8" />
        @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
    }

    @*@Html.Partial("~/Views/Administration/_partials/_Menu.cshtml")*@
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Solicitud de Tarjetas</h3>
            </div>
        </div>

        <!-- Search Area Start-->
        @using (Ajax.BeginForm("SearchCreditCardRequests", "CreditCard", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
            }, new { id = "searchForm" }))
        {
            <div class="row">
                <div class="col-lg-11">
                    <div class="input-group">
                        <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <button id="btnAddCardRequest" type="button" class="btn btn-success" title="Solicitar Tarjeta"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        }
        <!-- Search Area End-->
        <!-- Load Form Start-->
        @using (Ajax.BeginForm("LoadCardRequest", "CreditCard", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "detailContainer",
                            OnSuccess = "ECOsystem.CreditCard.OnSuccessLoadCardRequest"
                        }, new { id = "loadForm" }))
        {
            @Html.Hidden("id")
        }
        <!-- Load Form End-->

        <!-- Add Load Form Start-->
        @using (Ajax.BeginForm("LoadAddOrEditCardRequest", "CreditCard", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "detailCardRequestContainer", //Referencia al AjaxForm AddCardRequest
                            OnSuccess = "ECOsystem.CreditCard.OnSuccessAddOrEditLoadCardRequest"
                        }, new { id = "loadAddForm" })) 
        { 
            @Html.Hidden("requestId")
        }

        @using (Ajax.BeginForm("LoadPreviousCustomerCardRequest", "CreditCard", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnSuccess = "ECOsystem.CreditCard.OnSuccessLoadPreviousCardRequest"
                        }, new { id = "loadPreviousCardRequestForm" }))
        {
            <input type="hidden" name="id" value="-100" />
        }

        @using (Ajax.BeginForm("LoadCounties", "CreditCard", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnSuccess = "ECOsystem.CreditCard.OnSuccessLoadCounties"
                        }, new { id = "loadCountiesForm" }))
        {
            <input type="hidden" name="stateId" value="@Model.CardRequest.StateId" />
        }

        @using (Ajax.BeginForm("LoadCities", "CreditCard", null, new AjaxOptions
                        {
                            HttpMethod = "post",
                            OnSuccess = "ECOsystem.CreditCard.OnSuccessLoadCities"
                        }, new { id = "loadCitiesForm" }))
        {
            <input type="hidden" name="countyId" value="@Model.CardRequest.CountyId" />
        }
        <!-- Add Load Form End-->

        <div class="row">
            <div class="col-lg-12" id="gridContainer">
                @Html.Partial("_partials/_GridRequest", Model.List)
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Administration/creditCard.js"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
            ECOsystem.CreditCard.InitCardRequest();
        });
    </script>
}
