﻿@model  ECOsystem.Areas.Admin.Models.Administration.CreditCardBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mantenimiento de Medios de Pago";
    ViewBag.Administration = "active";
    ViewBag.AdministrationCreditCard = "active";
    ViewBag.AdministrationCreditCardIndex = "active";
    var user = ECOsystem.Utilities.Session.GetUserInfo();
    ViewBag.HasGrid = true;

    var survey = Session["ShowSurvey"] != null ? Session["ShowSurvey"].ToString() : null;
    Session["ShowSurvey"] = null;

    string version = ViewContext.Controller.GetType().Assembly.GetName().Version.ToString();
}

@section styles {
    <style>
        #creditDetail.panel {
            margin-top: 0;
        }

        #creditDetail .panel-body {
            background-color: #fafafa;
        }
    </style>
}

@using (Ajax.BeginForm("EditCreditCard", "CreditCard", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gridContainer",
    OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose();"
}, new { id = "addOrEditForm" }))
{
    <div id="detailContainer">
        @*@Html.Partial("_partials/_Detail", Model.Details)*@
    </div>
}


@using (Ajax.BeginForm("LoadMenus", "ASPMenus", new { area = ""}, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "side-menu2",
    OnSuccess = "updateSidebar()"
}, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="8" />

    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}

@Html.Hidden("survey", survey)

<div id="page-content-wrapper">
    <!-- Search Area Start-->
    @using (Ajax.BeginForm("SearchCreditCard", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gridContainer",
        OnSuccess = "ECOsystem.Areas.Admin.CreditCard.Init()"
    }, new { id = "searchForm" }))
    {
        @Html.Hidden("status", "-1")
        <div class="row">
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.StatusId, @ECOsystem.Areas.Admin.Business.Utilities.GeneralCollections.GetCreditCardStatusRequested, new Dictionary<string, Object> { { "class", "form-control fbold" }, { "data-filter", "true" } })
            </div>

            <div class="col-sm-4 pull-right">
                <div class="input-group">
                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                    <span class="input-group-btn">
                        <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="mdi mdi-magnify"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
    <!-- Search Area End-->
    <!-- Load Form Start-->
    @using (Ajax.BeginForm("LoadCreditCard", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailContainer",
        OnSuccess = "ECOsystem.Areas.Admin.CreditCard.OnSuccessLoad()"
    }, new { id = "loadForm" }))
    {
        @Html.Hidden("id")
    }
    <!-- Load Form End-->
    <br />
    <div class="row">
        <div class="col-lg-12" id="gridContainer">
            @Html.Partial("_partials/_Grid", Model.List)
        </div>
    </div>
    @Html.Partial("_partials/_Detail")
</div>

<div class="modal fade" id="ConfirmationEditModalCard" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Cambio de estado para tarjetas seleccionadas</h4>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea cambiar el estado para las tarjetas en la lista?
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="mdi mdi-close"></i>&nbsp;No</button>
                    <button type="button" class="btn btn-primary" id="btnChangeStatus"><i class="mdi mdi-check"></i>&nbsp;Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ValidateSelectionModal" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title">Cambio de estado para tarjetas seleccionadas</h4>
            </div>
            <div class="modal-body">
                Por favor seleccione al menos una tarjeta.
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="mdi mdi-check"></i>&nbsp;Aceptar</button>                    
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Administration/creditCard.js?v=@version-hf0"></script>
    <script>
        $(function () {
            $("#LoadMenuForm").submit();
             ECOsystem.Areas.Admin.CreditCard.Init();

            var survey = $('#survey').val();
            if (survey) ECOsystem.Utilities.ShowCustomerSurvey(survey);
        });
    </script>
}
