﻿@model ECO_Admin.Models.Administration.CreditCardBase
@{
    ViewBag.Title = "POS Virtual Credomatic";
    ViewBag.Administration = "active";
    ViewBag.AdministrationCreditCard = "active";
    ViewBag.AdministrationVPOS = "active";

    ViewBag.HasGrid = true;

    var retrieveCreditCardSale = @Url.Action("RetrieveCreditCardSale", "CreditCard");
    var executeCreditCard = @Url.Action("ExecuteCreditCard", "CreditCard");
}

@section styles {
    <style>
        #creditDetail.panel {
            margin-top: 0;
        }

        #creditDetail .panel-body {
            background-color: #fafafa;
        }
        #errorMessage{
            padding-top:40px;
            margin-left:15px;
        }

        .Preauthorized 
        {
            margin-left:5px!important;            
            border: 2px solid #4db8ff!important;
            border-radius: 3px!important;            
            height:30px!important;
            margin-top:-6px!important;
        }

    </style>
}

    <div id="detailContainer">
        @Html.Partial("_partials/_DetailVPOS", Model.TransactionDetail)
    </div>
    
    <div id="wrapper">
 @using (Ajax.BeginForm("LoadMenus", "ASPMenus", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "side-menu2",
        OnSuccess = "updateSidebar()"
    }, new { id = "LoadMenuForm" }))
{
    <input class="hidden" name="Header" value="9" />
    @Html.Partial("~/Views/Shared/_Menu.cshtml", Model.Menus)
}


@*@Html.Partial("~/Views/Administration/_partials/_Menu.cshtml")*@

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">POS Virtual</h3>
                </div>
            </div>

            <!-- Search Area Start-->
            @using (Ajax.BeginForm("SearchCreditCardVPOS", "CreditCard", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "gridContainer",
                OnSuccess = "ECOsystem.Utilities.SuccessSearch()"
            }, new { id = "searchForm" }))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">
                            <span class="input-group-btn">
                                <button id="btnSearch" type="submit" class="btn btn-primary" title="Buscar"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-lg-12" id="gridContainer">
                    @Html.Partial("_partials/_GridVPOS", Model.List)
                </div>
            </div>
            </div>
    </div>
    
    <!-- Section Alerts -->
    
    @using (Ajax.BeginForm("LoadRetrieveCreditCardSale", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "detailVPOSContainer",
        OnSuccess = "ECOsystem.CreditCard.ShowModalVPOS_VOID()"
    }, new { id = "retrieveSalesForm" }))
    {
        @Html.Hidden("creditCardId")
    }
    
    @using (Ajax.BeginForm("ExecuteCreditCardVOID", "CreditCard", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ECOsystem.Utilities.AddOrEditModalClose()"
    }, new { id = "addOrEditForm", autocomplete = "off" }))
    {
        <div id="detailVPOSContainer">
            @Html.Partial("_partials/_DetailVPOS_VOID", Model.TransactionDetail)
        </div>
    }

    @section scripts {
        <script src="~/Scripts/Administration/creditCard.js"></script>
        <script type="text/javascript">
            /* Start */
            $(function () {
                $("#LoadMenuForm").submit();
                ECOsystem.CreditCard.InitVPOS(); 
            });
        </script>
    }